/* //////////////////////////////////////////////////////////////////// */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    font-family: 'Intel Clear', sans-serif;
}

/* img {
    width: 100%;
    object-fit: cover;
} */

a {
    text-decoration: none;
    color: white;
}

/* //////////////////////////////////////////////////////////////////// */


.V_single {
    font-size: 40px;
    font-weight: 300;
}

.V_image_tab {
    background-color: #41728A;
}

.v_acc {
    font-size: 28px;
}

.v_dynamic_li:not(:nth-child(1)) {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.v_dynamic_li:nth-child(1) {
    border-top: 1px solid white;
}

.V_active_li {
    border-left: 3px solid white;
}

.v_dynamic_li:hover {
    border-left: 3px solid white;
}

.V_accordion {
    background-color: #41728A;
}

.V_accordion {
    border: 0px;
}

.V_custom_accor .accordion-button:not(.collapsed) {
    background-color: #41728A;
}

.V_line1 {
    border-top: 1px solid white !important;
    border-bottom: 1px solid white !important;
}

.V_line {
    border-top: 1px solid white;
}

.V_line1 {
    /* border-top: 1px solid white; */
    border-bottom: 1px solid white;
}


.V_text {
    color: #ffffff;
}


.v_pad_topbot {
    padding: 30px 0;
}

.v_tech_bg {
    padding: 15px 20px;
    height: 80px;
    background-color: #F3F3F3;
}

.v_tech_color {
    color: #0068b5 !important;
}

.v_tech_color:hover {
    color: #004a86 !important;
}


.V_top1 {
    top: -1.8em;
}

.V_image_tab1 {
    background-color: #0068B5;
}

.V_accordion1 {
    background-color: #0068B5;
}

.V_custom_accor1 .accordion-button:not(.collapsed) {
    background-color: #0068B5;
}


.V_comm {
    color: #0068B5;
    font-size: 24px;
}

.V_comm:hover {
    color: #0068B5;
    border-bottom: 1px solid #004a86;
}


.V_andecor_r {
    border-bottom: 1px dashed #004a86;
    padding-bottom: 3px;
}

.V_andecor_r:hover {
    border-bottom: 1px solid #004a86;
    padding-bottom: 3px;
}

.V_and {
    color: blue;
    padding-bottom: 3px;
}

.V_and:hover {
    border-bottom: 1px solid #004a86;
    padding-bottom: 3px;
}

.accordion-button:focus {
    z-index: 3;
    border-color: none;
    outline: 0;
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    color: black !important;
    background-color: white;
    box-shadow: none !important;
}

.accordion-item {
    background-color: #fff;
    border-right: none;
    border-left: none;
    border-top: 2px solid rgba(0, 0, 0, .125);
    border-bottom: 2px solid rgba(0, 0, 0, .125);
}

.accordion-body {
    padding: 0rem 1.25rem;
}

.V_BOT:hover {
    text-decoration: underline;
}



.V_bgcolor_grey {
    background-color: #f3f3f3 !important;
}

.V_black {
    background-image: url('../img/Akshay\ image/V_des_bg.png');
    height: 500px;
    background-position: center;
    background-size: cover;
}

.V_black1 {
    background-image: url('../img/Akshay\ image/V_laptop_bg.png');
    height: 500px;
    background-position: center;
    background-size: cover;
}


.nav-tabs1 .nav-link1 {
    color: #0068b5;
    /* Color for all tabs */
    border: none;
    /* Remove any default border */
}

.nav-tabs1 .nav-link1.active {
    border-bottom: 4px solid #00aeef;
    /* Active tab border */
    color: #0068b5;
    /* Keep the text blue for the active tab */
}

.v_white_space {
    white-space: nowrap;
}

.V_how {
    color: #0068B5;
    font-size: 24px;
    font-weight: 300;
}   

.V_how:hover {
    color: #004a86;
    border-bottom: 1px solid #004a86;
}

.V_how1 {
    color: #0068B5;
    font-size: 24px;
    font-weight: 300;
}   

.V_how1:hover {
    color: #004a86;
    border-bottom: 1px solid #004a86;
}

.v_tech_bg1 {
    padding: 15px 20px;
    height: 80px;
    background-color: #ffffff;
}

/* -------------------------------------------------- media query ------------------------------------------ */

@media(max-width:1920px) and (min-width:1651px) {
    .V_single {
        font-size: 40px;
    }

    .v_acc {
        font-size: 28px;
    }

    .V_power {
        font-size: 36px;
    }

    .V_how1 {
        font-size: 36px;
    }
    .V_header_text1 {
        font-size: 28px;
    }

    .V_bottom {
        bottom: -56%;
    }

    .V_conn {
        font-size: 36px;
    }
}

@media(max-width:1650px) and (min-width:1441px) {
    .V_single {
        font-size: 40px;
    }

    .v_acc {
        font-size: 28px;
    }

    .V_power {
        font-size: 36px;
    }

    .V_how1 {
        font-size: 36px;
    }

    .V_header_text1 {
        font-size: 28px;
    }

    .V_bottom {
        bottom: -56%;
    }

    .V_conn {
        font-size: 36px;
    }
}

@media (max-width:1440px) and (min-width:1201px) {
    .V_single {
        font-size: 40px;
    }

    .v_acc {
        font-size: 28px;
    }

    .V_power {
        font-size: 36px;
    }

    .V_how1 {
        font-size: 36px;
    }

    .V_header_text1 {
        font-size: 28px;
    }

    .V_bottom {
        bottom: -56%;
    }

    .V_conn {
        font-size: 36px;
    }
}

@media (max-width:1200px) and (min-width:993px) {
    .V_single {
        font-size: 32px;
    }

    .v_acc {
        font-size: 22px;
    }

    .V_power {
        font-size: 28px;
    }

    .V_how1 {
        font-size: 28px;
    }
    .V_header_text1 {
        font-size: 28px;
    }

    .V_bottom {
        bottom: -65%;
    }

    .V_conn {
        font-size: 28px;
    }
}

@media (max-width:992px) and (min-width:769px) {
    .V_single {
        font-size: 32px;
    }

    .v_acc {
        font-size: 22px;
    }

    .V_power {
        font-size: 28px;
    }

    .V_how1 {
        font-size: 28px;
    }

    .V_header_text1 {
        font-size: 28px;
    }

    .V_bottom {
        bottom: -60%;
    }

    .V_conn {
        font-size: 28px;
    }
}

@media (max-width:768px)and (min-width:577px) {
    .V_single {
        font-size: 28px;
    }

    .v_acc {
        font-size: 22px;
    }

    .V_power {
        font-size: 26px;
    }

    .V_how1 {
        font-size: 26px;
    }

    .V_header_text1 {
        font-size: 22px;
    }

    .V_bottom {
        bottom: -60%;
    }

    .V_conn {
        font-size: 26px;
    }
}

@media (max-width:576px)and (min-width:481px) {
    .V_single {
        font-size: 28px;
    }

    .v_acc {
        font-size: 22px;
    }

    .V_power {
        font-size: 26px;
    }

    .V_how1 {
        font-size: 26px;
    }

    .V_header_text1 {
        font-size: 22px;
    }

    .V_bottom {
        bottom: -56%;
    }

    .V_conn {
        font-size: 26px;
    }
}

@media (max-width:480px) {
    .V_single {
        font-size: 28px;
    }

    .v_acc {
        font-size: 22px;
    }

    .V_power {
        font-size: 26px;
    }

    .V_how1 {
        font-size: 26px;
    }

    .V_header_text1 {
        font-size: 22px;
    }

    .V_bottom {
        bottom: -51%;
    }

    .V_conn {
        font-size: 26px;
    }
}

@media (max-width:425px) {
    .V_bottom {
        bottom: -46%;
    }

    .V_conn {
        font-size: 26px;
    }
}

@media (max-width:375px) {
    .V_bottom {
        bottom: -42%;
    }

    .V_conn {
        font-size: 26px;
    }
}


@media (max-width:320px) {
    .V_single {
        font-size: 28px;
    }

    .v_acc {
        font-size: 22px;
    }

    .V_power {
        font-size: 26px;
    }
    .V_how1 {
        font-size: 26px;
    }

    .V_header_text1 {
        font-size: 22px;
    }

    .V_bottom {
        bottom: -22%;
    }

    .V_conn {
        font-size: 26px;
    }
}





/* ////////////////////// A_Pr_Intel® Core™ Ultra Processors overview end////////////////////////////////// */



@media (min-width: 768px) {

    .VK_cont {
        width: 750px;
        margin: auto;
    }

}

@media (min-width: 992px) {

    .VK_cont {
        width: 970px;
        margin: auto;
    }

}

@media (min-width: 1200px) {
    .VK_cont {
        width: 1170px;
        margin: auto;
    }
}

@media (min-width: 1650px) {

    .VK_cont {
        width: 1610px;
        margin: auto;
    }

}