* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

a {
    text-decoration: none !important;
}

.v_pad_topbot {
    padding: 40px 0;
}

/* //////////////////////////////////////////////////////////////////// */
/* ////////////////////////////// main section ////////////////////////////////////// */

.v_container {
    width: 1610px !important;
    margin: auto !important;
}
.v_pad_topbot{
    padding: 40px 0;
}
.v_main_bg{
    background-color: #040e35;
}
.v_maisec_text{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
.v_border_bootom{
    border-bottom: 1px dashed white;
}
.v_border_bootom:hover{
    border-bottom: 1px solid white;
}
.v_intelarc_img{
    width: 370px ;
    height: 200px;
}
.v_intelarc_maintext{
    font-size: 27px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
}
.v_intelarc_subtext{
    color: white;
    line-height: 22px;
}
/* ////////////////////////////// main section ////////////////////////////////////// */
/* ////////////////////////////// 2nd section ////////////////////////////////////// */
.v_textnav1 {
    font-size: 25px;
    color: white;
    margin-bottom: 15px;
}
.v_bg_navsec {
    background-color: #000f8a;
}
.v_sec_navtabs {
    display: block;
}
.v_fea_text>button {
    color: white;
}

.v_fea_text.nav-pills .nav-link.active {
    background-color: transparent;
    border: 1px 0 1px 3px white;
    border-radius: 0;
    font-weight: 700;
}

.v_fea_text.nav-pills .nav-link {
    border-bottom: 2px solid white;
    border-radius: 0;
}

.v_fea_text .nav-link.active {
    border-left: 5px solid white;
    border-radius: 0;
}

.v_fea_text .nav-link:hover {
    color: white;
    border-left: 5px solid white !important;
    font-weight: 700;
    border-radius: 0;
}

.v_fea_text.nav-pills .nav-link:first-child {
    border-top: 2px solid white;
    border-radius: 0;
}
.v_nav_sec_pic img{
    width: 990px;
    height: 560px;
}
.v_nav_sec_text {
    margin: 30px 0;
    color: white;
    text-align: justify;
    width: 990px;
}
.v_acco_sec {
    display: none;
}
.v_acco_item_bg .accordion-item {
    background-color: #000f8a !important;
    border-bottom: 1px solid white;
}

.v_acco_item_bg .accordion-item:first-child {
    border-top: 1px solid white;

}
.v_acc_border_focus>.accordion-button:focus {
    border-color: transparent !important;
    box-shadow: 0 0 0 0 !important;
    /* border-color: #0068b5 !important; */
}
.v_acco_bg.accordion-button:not(.collapsed) {
    color: white;
    background-color: transparent !important;
    box-shadow: 0;
}
.v_acco_bg.accordion-button:not(.collapsed)::after {
    background-image: url();
}

.v_acco_bg.accordion-button {
    border: 0;
    color: white;
    background-color: transparent;
    box-shadow: 0;
}
.v_acco_sec_text {
    margin: 10px 0;
    color: white;
}
/* ////////////////////////////// 2nd section ////////////////////////////////////// */
/* ////////////////////////////// 3rd section ////////////////////////////////////// */
.v_last_img{
    width: 770px;
    height: 430px;
}
.v_maisec_text1{
    font-size: 30px;
}


/* ////////////////////////////// 3rd section ////////////////////////////////////// */
/* ////////////////////////////// media section ////////////////////////////////////// */
@media screen and (max-width: 1440px) {
    .v_container {
        width: 1200px !important;
        margin: auto !important;
    }
    .v_intelarc_img{
        width: 260px ;
        height: 140px;
    }
    .v_last_img{
        width: 555px;
        height: 310px;
    }
    .v_nav_sec_pic img{
        width: 730px;
        height: 415px;
    }
    .v_nav_sec_text{
        width: 720px;
    }
}
@media screen and (max-width: 1024px) {
    .v_container {
        width: 890px !important;
        margin: auto !important;
    }
    .v_intelarc_img{
        width: 210px ;
        height: 120px;
    }
    .v_intelarc_maintext{
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 200;
    }
    .v_last_img{
        width: 450px;
        height: 250px;
    }
    .v_nav_sec_pic img{
        width: 540px;
        height: 310px;
    }
    .v_nav_sec_text{
        width: 540px;
    }
}
@media screen and (max-width: 768px) {
    .v_container {
        width: 700px !important;
        margin: auto !important;
    }
    .v_intelarc_img{
        width: 340px ;
        height: 190px;
    }
    .v_maisec_text{
        font-size: 32px;
    }
    .v_last_img{
        width: 340px;
        height: 190px;
    }
    .v_maisec_text1{
        font-size: 30px;
    }
    .v_nav_sec_pic img{
        width: 420px;
        height: 240px;
    }
    .v_nav_sec_text{
        width: 415px;
    }
}
@media screen and (max-width: 425px) {
    .v_container {
        width: 390px !important;
        margin: auto !important;
    }
    .v_intelarc_img{
        width: 390px ;
        height: 220px;
    }
    .v_last_img{
        width: 390px;
        height: 220px;
    }
    .v_maisec_text1{
        font-size: 26px;
    }
    .v_acco_sec {
        display: block;
    }
    .v_sec_navtabs{
        display: none;
    }
}
@media screen and (max-width: 375px) {
    .v_container {
        width: 335px !important;
        margin: auto !important;
    }
    .v_intelarc_img{
        width: 340px ;
        height: 190px;
    }
    .v_last_img{
        width: 340px;
        height: 190px;
    }
    
   
}
@media screen and (max-width: 320px) {
    .v_container {
        width: 280px !important;
        margin: auto !important;
    }
    .v_intelarc_img{
        width: 290px ;
        height: 160px;
    }
    .v_last_img{
        width: 290px;
        height: 160px;
    }
    .v_maisec_text1{
        font-size: 24px;
        padding-bottom: 0;
    }
}