* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
}

.v_pad_topbot {
    padding: 40px 0;
}
/* //////////////////////////////////////////////////////////////////// */
/* ////////////////////////////// main section ////////////////////////////////////// */

.v_container {
    width: 1610px !important;
    margin: auto !important;
}
.v_pad_topbot{
    padding: 40px 0;
}
.v_main_bg{
    background-color: #040e35;
}
/* ////////////////////////////// main section ////////////////////////////////////// */
/* ////////////////////////////// media section ////////////////////////////////////// */
@media screen and (max-width: 1440px) {
    .v_container {
        width: 1200px !important;
        margin: auto !important;
    }
}
@media screen and (max-width: 1024px) {
    .v_container {
        width: 890px !important;
        margin: auto !important;
    }
}
@media screen and (max-width: 768px) {
    .v_container {
        width: 700px !important;
        margin: auto !important;
    }
}
@media screen and (max-width: 425px) {
    .v_container {
        width: 390px !important;
        margin: auto !important;
    }
}
@media screen and (max-width: 375px) {
    .v_container {
        width: 335px !important;
        margin: auto !important;
    }
}
@media screen and (max-width: 320px) {
    .v_container {
        width: 280px !important;
        margin: auto !important;
    }
}