* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
}
/*  /////////////////////////////////////////////////////////////////////// */ 
/* /////////////////////////// main section /////////////////////////////// */
.v_container {
    width: 1610px !important;
    margin: auto !important;
}
.v_pad_topbot{
    padding: 40px 0;
}

.v_main_sec {
    padding-bottom: 40px;
}

.v_main_sec_bg {
    background-color: #00285a;
    color: white;
    padding: 40px 0 0 0;
}

.v_text_main {
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 15px;
}
.v_text_link {
    border-bottom: 1px dashed white;
    color: white;
}

.v_text_link:hover {
    border-bottom: 1px solid white;
    color: white;
}

.v_main_sec_img img {
    width: 350px;
    height: 200px;
}

.v_text_main {
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 15px;
}

.v_text_subdis {
    width: 90%;
    margin-bottom: 10px;
    text-align: justify;
}

/* /////////////////////////// main section///////////////////////////////////// */
/* /////////////////////////// 1st section ///////////////////////////////////// */
.v_Proc_bg {
    background-color: #eeecec;   
}
.v_Proc_bg1 {
    /* margin: 10px auto !important; */
    padding: 25px 0;
    background-color: #f8f7f7;
}
.v_i9_img {
    height: 65px;
    width: 65px;
    margin: 0 25px;
}
.v_text_1 {
    text-decoration: none !important;
    font-size: 20px;
    color: #0071c5;
}
.v_text_2 {
    text-decoration: none !important;
    width: 100% !important;
    color: black;
}
.v_text_2:hover {
    text-decoration: none !important;
    color: black;
}
.v_Chip_size{
    font-size: 38px;
    font-weight: 300;
    margin-bottom: 6px;
}
.v_chip_subsize{
    font-size: 16px;
}
.v_chip_btn{
    background-color: #0068b5;
    padding: 10px;
    display: inline-block;
    margin-top: 10px;
}
.v_chip_btn:hover{
background-color: #004a86;
}
.v_chip_btn1{
color: white !important;
}
.v_usecases{
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 20px;
}
.v_gaming{
    font-size: 24px;
  
}
.v_game{
    font-size: 17px;
    
}
.v_game_link{
    text-decoration: none;
    color: #0071c5;
    border-bottom: 1px dashed #0071c5;
}
.v_game_link:hover{
    border-bottom: 1px solid #0071c5;
}
/* /////////////////////////// 1st section ///////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////// media query /////////////////////////////////// */
@media screen and (max-width: 1440px) {
    .v_container {
        width: 1200px !important;
        margin: auto !important;
    }
    .v_main_sec_img img {
        width: 260px;
        height: 150px;
    }
}

@media screen and (max-width: 1024px) {
    .v_container {
        width: 890px !important;
        margin: auto !important;
    }
    .v_text_main {
        font-size: 34px;
        line-height: 36px;
        font-weight: 300;
        margin-bottom: 15px;
    }
    .v_main_sec_img img {
        width: 210px;
        height: 118px;
    }
    .v_i9_img {
        height: 60px;
        width: 60px;
        margin: 0px 15px;
    }
    .v_text_1 {
        text-decoration: none !important;
        font-size: 17px;
        color: #0071c5;
    }

}

@media screen and (max-width: 768px) {
    .v_container {
        width: 700px !important;
        margin: auto !important;
    }
    .v_main_sec_img img {
        width: 700px;
        height: 400px;
        margin-top: 25px;
    }
    .v_i9_img {
        height: 70px;
        width: 80px;
        margin: 0px 15px;
    }
    .v_Chip_size{
        font-size: 28px;
    }
    .v_chip_subsize{
        font-size: 17px;
    }
}
@media screen and (max-width: 425px) {
    .v_container {
        width: 390px !important;
        margin: auto !important;
    }
    .v_text_main {
        font-size: 28px;
        font-weight: 300;
        margin-bottom: 10px;
    }
    .v_main_sec_img img {
        width: 390px;
        height: 220px;
        margin-top: 25px;
    }
    .v_i9_img {
        height: 70px;
        width: 70px;
        margin: 0px 15px;
    }
    .v_text_2 {
        display: none !important;
    }
    .v_Chip_size{
        font-size: 28px;
        line-height: 30px;
    }
    .v_chip_subsize{
        font-size: 14px;
    }
    .v_chip_btn{
        display: block;
        padding: 8px;
    }
}
@media screen and (max-width: 375px) {
    .v_container {
        width: 335px !important;
        margin: auto !important;
    }
    .v_text_main {
        font-size: 27px;
        font-weight: 300;
        margin-bottom: 10px;
    }
    .v_main_sec_img img {
        width: 341px;
        height: 190px;
        margin-top: 25px;
    }
    .v_Chip_size{
        font-size: 26px;
        line-height: 30px;
    }
    .v_chip_subsize{
        font-size: 14px;
    }
    .v_chip_btn{
        display: block;
        padding: 8px;
    }
}
@media screen and (max-width: 320px) {
    .v_container {
        width: 280px !important;
        margin: auto !important;
    }
    .v_text_main {
        font-size: 28px;
        font-weight: 300;
        margin-bottom: 10px;
    }
    .v_main_sec_img img {
        width: 285px;
        height: 160px;
        margin-top: 25px;
    }
    .v_Chip_size{
        font-size: 28px;
        line-height: 30px;
    }
    .v_pad_topbot1{
        padding: 20px 0;
    }
}
/* ///////////////////////////// media query /////////////////////////////////// */