* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {

    object-fit: cover;
}

a {
    text-decoration: none !important;
}




.V_ptag a {
    color: #0068b5;
}

.V_ptag a {
    padding: 0px 10px;

}

.V_ptag a:hover {
    color: #00285a;
    /* border-left-color: #00285a; */
    border-left: 4px solid #00285a;
    font-weight: bold;
}


.V_ptag_active {
    color: #00285a;
    /* border-left-color: #00285a; */
    border-left: 4px solid #00285a;
    font-weight: bold;

}

.V_pfirst_text {
    font-size: 20px;
}

.V_sticky_bar {
    position: sticky !important;
    top: 0px;
}

.v_show_span {
    color: #0068b5;
}

.v_show_span {
    width: 40%;
    height: 2px;
    display: inline-block;
    margin: 0px 5px;
    background-color:  #0068b5;
}
.v_show_span1{
    color: #adadad;
     width: 40%;
    height: 2px;
    display: inline-block;
    margin: 0px 5px;
    background-color:#adadad;
}

.V_icon{
    font-size: 20px;
    padding: 5px;
    border: 3px solid #0068b5;
    border-radius: 50%;
}
.buttton_color {
    color: #0068b5;
}

.V_andecor {
    border-bottom: 1px dashed rgb(255, 255, 255);
    padding-bottom: 3px;
    color: #ffffff;
}

.V_andecor:hover {
    border-bottom: 1px solid #ffffff;
    padding-bottom: 3px;
    color: #ffffff !important;
}

.V_andecor_r {
    border-bottom: 1px dashed #0068b5;
    padding-bottom: 3px;
    color: #0068b5;
}

.V_andecor_r:hover {
    border-bottom: 1px solid #0068b5;
    padding-bottom: 3px;
}

.V_andecor_r1 {
    /* border-bottom: 1px dashed #0068b5; */
    padding-bottom: 3px;
    color: #0068b5;

}

.V_andecor_r1:hover {
    /* border-bottom: 1px solid #0068b5; */
    padding-bottom: 3px;
    color: #00aeef;
}

.V_visit {
    border: 1px solid #0068b5;
    background-color: #0068b5;

}

.V_visit:hover {
    border: 1px solid #0068b5;
    background-color: #004a86;

}

.width {
    width: 50%;
}

.V_bg_color {
    background-color: #41728a;
}

.V_pv {
    font-size: 20px;
}

.V_product {
    font-size: 12px;
}

.V_p_back {
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 14px;
}

.accordion-button:focus {
    z-index: 3;
    border-color: none;
    outline: 0;
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    color: black !important;
    background-color: white;
    box-shadow: none !important;
}

.accordion-item {
    background-color: #fff;
    border-right: none;
    border-left: none;
    border-top: 2px solid rgba(0, 0, 0, .125);
    border-bottom: 2px solid rgba(0, 0, 0, .125);
}

.accordion-body {
    padding: 0rem 1.25rem;
}

.V_BOT:hover {
    text-decoration: underline;
}










/* -------------------------------------------------- media query ------------------------------------------ */
@media (min-width:1920px) {
    .V_pg {
        font-size: 20px;
    }

    .V_pv1 {
        font-size: 20px;
    }

    .V_header_text {
        font-size: 26px;
    }

    .V_related {
        font-size: 36px;
    }

    .width {
        width: 20%;
    }

    .V_header_text1 {
        font-size: 28px;
    }

    .V_ptag_first {
        font-size: 24px;
    }

    .V_related1 {
        font-size: 36px;
    }
}

@media (max-width:1919px) and (min-width:1440px) {
    .V_pg {
        font-size: 20px;
    }

    .V_pv1 {
        font-size: 20px;
    }

    .V_header_text {
        font-size: 26px;
    }

    .V_related {
        font-size: 36px;
    }

    .width {
        width: 20%;
    }

    .V_header_text1 {
        font-size: 28px;
    }

    .V_ptag_first {
        font-size: 24px;
    }

    .V_related1 {
        font-size: 36px;
    }
}

@media (max-width:1439px) and (min-width:1200px) {
    .V_pg {
        font-size: 20px;
    }

    .V_pv1 {
        font-size: 20px;
    }

    .V_header_text {
        font-size: 26px;
    }

    .V_related {
        font-size: 36px;
    }

    .width {
        width: 20%;
    }

    .V_header_text1 {
        font-size: 28px;
    }

    .V_ptag_first {
        font-size: 24px;
    }

    .V_related1 {
        font-size: 36px;
    }
}

@media (max-width:1199px) and (min-width:992px) {
    .V_pg {
        font-size: 20px;
    }

    .V_pv1 {
        font-size: 18px;
    }

    .V_header_text {
        font-size: 24px;
    }

    .V_related {
        font-size: 28px;
    }

    .width {
        width: 20%;
    }

    .V_header_text1 {
        font-size: 28px;
    }

    .V_ptag_first {
        font-size: 24px;
    }

    .V_related1 {
        font-size: 28px;
    }
}

@media (max-width:991px) and (min-width:768px) {
    .V_pg {
        font-size: 20px;
    }

    .V_pv1 {
        font-size: 18px;
    }

    .V_header_text {
        font-size: 24px;
    }

    .V_related {
        font-size: 28px;
    }

    .width {
        width: 25%;
    }

    .V_header_text1 {
        font-size: 28px;
    }

    .V_ptag_first {
        font-size: 24px;
    }

    .V_related1 {
        font-size: 28px;
    }
}

@media (max-width:767px)and (min-width:576px) {
    .V_pg {
        font-size: 16px;
    }

    .V_pv1 {
        font-size: 18px;
    }

    .V_header_text {
        font-size: 24px;
    }

    .V_related {
        font-size: 26px;
    }

    .width {
        width: 50%;
    }

    .V_header_text1 {
        font-size: 22px;
    }

    .V_ptag_first {
        font-size: 22px;
    }

    .V_related1 {
        font-size: 28px;
    }
}

@media (max-width:575px)and (min-width:480px) {
    .V_pg {
        font-size: 16px;
    }

    .V_pv1 {
        font-size: 18px;
    }

    .V_header_text {
        font-size: 24px;
    }

    .V_related {
        font-size: 26px;
    }

    .width {
        width: 100%;
    }

    .V_header_text1 {
        font-size: 22px;
    }

    .V_ptag_first {
        font-size: 22px;
    }

    .V_related1 {
        font-size: 28px;
    }
}

@media (max-width:479px) {
    .V_pg {
        font-size: 16px;
    }

    .V_header_text {
        font-size: 24px;
    }

    .V_header_text1 {
        font-size: 22px;
    }

    .V_related {
        font-size: 26px;
    }

    .V_related1 {
        font-size: 28px;
    }

    .width {
        width: 100%;
    }

    .V_pv1 {
        font-size: 18px;
    }

    .V_ptag_first {
        font-size: 22px;
    }
}


/* ///////////////////////////////////////////////////  VK containor /////////////////////////////////////////// */

@media (min-width: 768px) {

    .VK_cont {
        width: 750px;
        margin: auto;
    }

}

@media (min-width: 992px) {

    .VK_cont {
        width: 970px;
        margin: auto;
    }

}

@media (min-width: 1200px) {
    .VK_cont {
        width: 1170px;
        margin: auto;
    }
}

@media (min-width: 1650px) {

    .VK_cont {
        width: 1610px;
        margin: auto;
    }

}