/* //////////////////////////////////////////////////////////////////// */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    font-family: 'Intel Clear', sans-serif;
}

img {
    width: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: white;
}








.V_ava{
    background-image: url('/img/Akshay image/V_ava_bg_img');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.V_open_bg{
    background-image: url('/img/Akshay image/V_open_bg_img.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
.V_how_bg {
    background-image: url('/img/Akshay image/V_bg_how.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.V_bg_play{
    background-image: url('/img/Akshay image/V_play_bg.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.V_super_bg {
    background-image: url('/img/Akshay image/V_super_sample_bg_img.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.V_bg_blue{
    background-color: #000864;
}

.V_accordion{
    background-color: #000864;
}
.V_accordion {
    border: 0px;
}
.V_line {
    border-top: 1px solid white;
}

.V_line1 {
    /* border-top: 1px solid white; */
    border-bottom: 1px solid white;
}
.V_line1 {
    border-top: 1px solid white !important;
    border-bottom: 1px solid white !important;
}

.V_accordian_bg {
    background-color: #000864;
}

.V_image_tab{
    background-color: #000864; 
}


.v_dynamic_li:not(:nth-child(1)){
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.v_dynamic_li:nth-child(1){
    border-top: 1px solid white;
}

.v_dynamic_li:hover{
    border-left: 3px solid white;
}

.V_active_li{
    border-left: 3px solid white;
}

.accordion-button:not(.collapsed) {
    background-color: transparent;    
}

.V_andecor {
    border-bottom: 1px dashed rgb(255, 255, 255);
    padding-bottom: 3px;
}

.V_andecor:hover {
    border-bottom: 1px solid rgb(255, 255, 255);
    padding-bottom: 3px;
}

.v_pad_topbot {
    padding: 0px 0;
}

.v_tech_bg {
    padding: 15px 20px;
    height: 80px;
    background-color: #f5f5f5;
}

.v_tech_color {
    color: #0068b5 !important;
}

.v_tech_color:hover {
    color: #004a86 !important;
}

.V_andecor_r {
    border-bottom: 1px dashed #004a86;
    padding-bottom: 3px;
}

.V_andecor_r:hover {
    border-bottom: 1px solid #004a86;
    padding-bottom: 3px;
}

















@media(min-width:1440px) {
    .V_head{
        font-size: 40px;
    }
    .V_see{
        font-size: 28px;
    }
    .V_howq{
        font-size: 36px;
    }
}

@media (max-width:1439px) and (min-width:1200px) {
    .V_head{
        font-size: 40px;
    }
    .V_see{
        font-size: 28px;
    }
    .V_howq{
        font-size: 36px;
    }
}

@media (max-width:1199px) and (min-width:992px) {
    .V_head{
        font-size: 32px;
    }
    .V_see{
        font-size: 22px;
    }
    .V_howq{
        font-size: 28px;
    }
}

@media (max-width:991px) and (min-width:768px) {
    .V_head{
        font-size: 32px;
    }
    .V_see{
        font-size: 22px;
    }
    .V_howq{
        font-size: 28px;
    }
}

@media (max-width:767px)and (min-width:576px) {
    .V_head{
        font-size: 28px;
    }
    .V_see{
        font-size: 22px;
    }
    .V_howq{
        font-size: 26px;
    }
}

@media (max-width:575px)and (min-width:480px) {
    .V_head{
        font-size: 28px;
    }
    .V_see{
        font-size: 22px;
    }
    .V_howq{
        font-size: 26px;
    }
}

@media (max-width:479px) {
    .V_head{
        font-size: 28px;
    }
    .V_see{
        font-size: 22px;
    }
    .V_howq{
        font-size: 26px;
    }
}



/* ///////////////////////////////////////////////////  VK containor /////////////////////////////////////////// */

@media (min-width: 768px) {
    .VK_cont {
        width: 750px;
        margin: auto;
    }
}

@media (min-width: 992px) {
    .VK_cont {
        width: 970px;
        margin: auto;
    }
}

@media (min-width: 1200px) {
    .VK_cont {
        width: 1170px;
        margin: auto;
    }
}

@media (min-width: 1650px) {
    .VK_cont {
        width: 1610px;
        margin: auto;
    }
}