* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
}

.v_pad_topbot {
    padding: 40px 0;
}

/* ////////////////////////////////////////////////////////////////////// */
/* /////////////////////////// main section ///////////////////////////// */
.v_container {
    width: 1610px !important;
    margin: auto !important;
}

.v_main_sec {
    padding-bottom: 40px;
}

.v_main_sec_bg {
    background-color: #00285a;
    color: white;
    padding: 40px 0 0 0;
}

.v_text_main {
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 15px;
}

.v_text_subdis {
    /* width: 90%; */
    margin-bottom: 10px;
}

.v_text_link {
    border-bottom: 1px dashed white;
    color: white;
}

.v_text_link:hover {
    border-bottom: 1px solid white;
    color: white;
}

.v_main_sec_img img {
    width: 350px;
    height: 200px;
}


.v_text_subdis {
    width: 90%;
    margin-bottom: 10px;
    text-align: justify;
}

/* /////////////////////////// main section ///////////////////////////// */
/* /////////////////////////// 1st section ///////////////////////////// */
/* .v_Proc_bg {
    background-color: #f3f0f0;    
} */
.v_Proc_bg1 {
    /* margin: 10px auto !important; */
    padding: 18px 0;

    background-color: #f0f0f0;
}

.v_i9_img {
    height: 65px;
    width: 65px;
    margin: 0 25px;
}

.v_text_1 {
    text-decoration: none !important;
    font-size: 18px;
    color: #0071c5;
}

.v_text_2 {
    text-decoration: none !important;
    width: 100% !important;
    color: black;
}

.v_text_2:hover {
    text-decoration: none !important;
    color: black;
}

.v_text_11 div {
    padding-left: 20px;
}

/* /////////////////////////// 1st section ///////////////////////////// */
/* /////////////////////////// 2nd section ///////////////////////////// */
.v_nav_bg.nav-link.active {
    background-color: #f2f2f2 !important;
    border-bottom: 4px solid #1966a1;

}

.v_nav_bg.nav-link {
    color: #0068b5 !important;
    border-radius: 0;
    padding: .5rem 2rem !important;
}

.v_nav_bg.nav-link:hover {
    background-color: #f2f2f2;
}

.v_wifi_img {
    width: 500px;
    height: 280px;
}

.v_wifi_text {
    font-size: 22px;
}

.v_learnMore_btn {
    background-color: #0068b5;
}
.v_learnMore_btn:hover{
    background-color: #004a86;
}

.v_benefit_text {
    font-weight: 300;
}
.v_add_reso{
    font-size: 32px;
    margin-bottom: 15px;
}
.v_bg_grey{
    background-color: #f3f3f3;
    padding: 24px;
}
.v_App_store a{
    text-decoration: none;
    font-size: 18px;
 }
 .v_App_store a:hover{
   color: #004a86 !important;
 }
 .v_info_size1{
    font-size: 12px;
    color: #525252;
}
.v_item_product{
    color:#0068b5 ;
    border-bottom: 1px dashed #0068b5;
    margin-left: 15px;
    text-decoration: none;
}
.v_item_product:hover{
    color:#0068b5 ;
    border-bottom: 1px solid #0068b5;
}
 

/* /////////////////////////// 2nd section ///////////////////////////// */
/* //////////////////////////// media qurey ///////////////////////////// */
@media screen and (max-width: 1440px) {
    .v_container {
        width: 1200px !important;
        margin: auto !important;
    }

    .v_main_sec_img img {
        width: 260px;
        height: 150px;
    }

    .v_wifi_img {
        width: 350px;
        height: 200px;
    }
}

@media screen and (max-width: 1024px) {
    .v_container {
        width: 890px !important;
        margin: auto !important;
    }

    .v_text_main {
        font-size: 34px;
        line-height: 36px;
        font-weight: 300;
        margin-bottom: 15px;
    }

    .v_main_sec_img img {
        width: 210px;
        height: 118px;
    }

    .v_wifi_img {
        width: 290px;
        height: 160px;
    }
}

@media screen and (max-width: 768px) {
    .v_container {
        width: 700px !important;
        margin: auto !important;
    }

    .v_main_sec_img img {
        width: 700px;
        height: 400px;
        margin-top: 25px;
    }

    .v_i9_img {
        height: 100%;
        width: 170px;
        margin: 0px 15px;
    }

    .v_wifi_img {
        width: 210px;
        height: 120px;
    }
    .v_App_store a{
        text-decoration: none;
        font-size: 16px;
     }
}

@media screen and (max-width: 425px) {
    .v_container {
        width: 390px !important;
        margin: auto !important;
    }

    .v_text_main {
        font-size: 28px;
        font-weight: 300;
        margin-bottom: 10px;
    }

    .v_main_sec_img img {
        width: 390px;
        height: 220px;
        margin-top: 25px;
    }

    .v_i9_img {
        height: 100%;
        width: 70px;
        margin: 0px 15px;
    }

    .v_text_2 {
        display: none !important;
    }

    .v_nav_bg.nav-link {
        padding: .5rem 1.5rem !important;
    }

    .v_wifi_img {
        width: 390px;
        height: 220px;
    }
    /* .card-item:nth-child(3) {
        display: none;
    } */

    .card-item.show {
        display: block;
    }
    .v_showmore{
        display: block;
    }

    /* 000 */
    .v_learnMore_btn {
        width: 100%;
    }
    .v_add_reso{
        font-size: 26px;
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 375px) {
    .v_container {
        width: 335px !important;
        margin: auto !important;
    }

    .v_text_main {
        font-size: 27px;
        font-weight: 300;
        margin-bottom: 10px;
    }

    .v_main_sec_img img {
        width: 341px;
        height: 190px;
        margin-top: 25px;
    }

    .v_nav_bg.nav-link {
        padding: .5rem 1.5rem !important;
    }

    .v_wifi_img {
        width: 340px;
        height: 190px;
    }
}

@media screen and (max-width: 320px) {
    .v_container {
        width: 280px !important;
        margin: auto !important;
    }

    .v_text_main {
        font-size: 28px;
        font-weight: 300;
        margin-bottom: 10px;
    }

    .v_main_sec_img img {
        width: 285px;
        height: 160px;
        margin-top: 25px;
    }

    .v_nav_bg.nav-link {
        padding: .5rem 1rem !important;
    }

    .v_wifi_img {
        width: 280px;
        height: 160px;
    }
}

/* //////////////////////////// media qurey ///////////////////////////// */

@media screen and (min-width: 426px) {
    /* #show-more-btn {
        display: none;
    } */
}

@media screen and (max-width: 425px) {
   
}