* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
}

/* /////////////////////////////////////////////////////////////////// */
/* //////////////////////////// main section ///////////////////////// */

.v_container {
    width: 1610px !important;
    margin: auto !important;
}

.v_pad_topbot {
    padding: 40px 0;
}

.v_main_sec_bg {
    background-color: #00285a;
    color: white;
}

.v_text_main {
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 15px;
}

.v_Xeon_underline {
    border-bottom: 1px dashed white;
    font-size: 22px;
}

.v_Xeon_underline:hover {
    border-bottom: 1px solid white;

}

/* //////////////////////////// main section ///////////////////////// */
/* //////////////////////////// 1st section ///////////////////////// */
.v_acco_btn.accordion-button:focus {
    z-index: 3;
    /* border-color: rgb(184, 28, 28) !important; */
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, 0.25) !important;
}

.v_acco_btn.accordion-button:not(.collapsed) {
    color: black;
    background-color: #f3f3f3;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .125);
}

.v_acco_btn.accordion-button {
    background-color: #f3f3f3 !important;
}

.v_acco_bg.accordion-body{
    background-color: #fafafa !important;
}
.v_intel_proimg{
    width: 62px;
    height: 62px;
}
.v_acco_img{
    height: 62px;
    width: 90px;
}
.v_tech_bg {
    padding: 15px 20px;
    height: 80px;
    background-color: #e7e7e7;
}
.v_tech_color {
    color: #0068b5 !important;
}
.v_tech_color:hover {
    color: #004a86 !important;
}
.v_text_width{
    width: 100% !important;
    margin: auto !important;
}
.v_main_accrodian{
    display: block;
}
.v_main_offcanvass{
    display: none;
}


/* //////////////////////////// 1st section ///////////////////////// */
/* //////////////////////////// 3rd section ///////////////////////// */
.v_intel_system{
    font-size: 32px;
    margin-bottom: 15px;
}
.v_system_anchor{
    background-color: #ffffff;
    padding: 8px  15px;
}
.v_acco_sec {
    display: none;
}
.v_acco_item_bg .accordion-item {
    background-color: #0068b5 !important;
    border-bottom: 1px solid white;
}

.v_acco_item_bg .accordion-item:first-child {
    border-top: 1px solid white;

}
.v_acc_border_focus>.accordion-button:focus {
    border-color: transparent !important;
    box-shadow: 0 0 0 0 !important;
    /* border-color: #0068b5 !important; */
}
.v_acco_bg.accordion-button:not(.collapsed) {
    color: white;
    background-color: transparent !important;
    box-shadow: 0;
}
.v_acco_bg.accordion-button {
    border: 0;
    color: white;
    background-color: transparent;
    box-shadow: 0;
}
.v_acco_sec_text {
    margin: 10px 0;
    color: white;
}
.v_fea_text>button {
    color: white;
}

.v_fea_text.nav-pills .nav-link.active {
    background-color: transparent;
    border: 1px 0 1px 3px white;
    border-radius: 0;
    font-weight: 700;
}

.v_fea_text.nav-pills .nav-link {
    border-bottom: 2px solid white;
    border-radius: 0;
}

.v_fea_text .nav-link.active {
    border-left: 5px solid white;
    border-radius: 0;
}

.v_fea_text .nav-link:hover {
    color: white;
    border-left: 5px solid white !important;
    font-weight: 700;
    border-radius: 0;
}

.v_fea_text.nav-pills .nav-link:first-child {
    border-top: 2px solid white;
    border-radius: 0;
}
.v_nav_sec_pic img{
    width: 990px;
    height: 560px;
}
.v_nav_sec_text {
    margin: 30px 0;
    color: white;
    text-align: justify;
    text-wrap: wrap;
}
.v_item_product{
    color:#0068b5 ;
    border-bottom: 1px dashed #0068b5;
    margin-left: 15px;
}
.v_item_product:hover{
    color:#0068b5 ;
    border-bottom: 1px solid #0068b5;
}
/* //////////////////////////// 3rd section ///////////////////////// */
/* /////////////////////////// media query ///////////////////////////// */
@media screen and (max-width: 1440px) {
    .v_container {
        width: 1200px !important;
        margin: auto !important;
    }

    .v_text_main {
        line-height: 45px;
    }
    .v_nav_sec_pic img{
        width: 730px;
        height: 415px;
    }
    .v_intel_proimg{
        margin-right: 20px;
    }
    .v_main_proccers{
        margin-left: 10px;
    }
    .v_text_width{
        width: 85% !important;
    }
}

@media screen and (max-width: 1024px) {
    .v_container {
        width: 890px !important;
        margin: auto !important;
    }

    .v_text_main {
        line-height: 40px;
        font-size: 34px;
    }
    .v_nav_sec_pic img{
        width: 540px;
        height: 310px;
    }
}

@media screen and (max-width: 768px) {
    .v_container {
        width: 700px !important;
        margin: auto !important;
    }

    .v_text_main {
        line-height: 40px;
        font-size: 33px;
    }
    .v_nav_sec_pic img{
        width: 420px;
        height: 240px;
    }
}

@media screen and (max-width: 425px) {
    .v_container {
        width: 390px !important;
        margin: auto !important;
    }

    .v_text_main {
        line-height: 35px;
        font-size: 28px;
    }
    .v_acco_sec {
        display: block;
    }
    .v_sec_navtabs {
        display: none;
    }
    .v_system_anchor{
        display: none !important;
    }
    .v_system_2{
        display: block !important;
        color: #0068b5 !important;
    }
    .v_intel_system {
        font-size: 28px;
        line-height: 35px;
    }
    .v_main_accrodian{
        display: none;
    }
    .v_main_offcanvass{
        display: block;
    }
    .v_offcan_body.offcanvas-end{
        width: 425px !important;
        border-left: 0 ;
    }
    .v_offcan_body .offcanvas-header{
        padding: 10px  !important;
    }
    .v_procc_name{
        font-size: 24px; 
    }
    .v_procc_name1{
        font-size: 20px ;
    }
}

@media screen and (max-width: 375px) {
    .v_container {
        width: 335px !important;
        margin: auto !important;
    }
    .v_intel_system {
        font-size: 26px;
    }
    .v_procc_name{
        font-size: 22px;
    }
}

@media screen and (max-width: 320px) {
    .v_container {
        width: 280px !important;
        margin: auto !important;
    }
    .v_intel_system {
        font-size: 24px;
    }
    .v_procc_name{
        font-size: 20px;
    }
}

/* /////////////////////////// media query ///////////////////////////// */