/* //////////////////////////////////////////////////////////////////// */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    font-family: 'Intel Clear', sans-serif;
}

img {
    width: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: white;
}






.v_scrollbar {
    overflow-x: auto;
    white-space: nowrap;
}

.v_scrollbar .nav-tabs {
    display: inline-flex;
    flex-wrap: nowrap;
}



.v_bg_blue {
    background-color: #00285a;
}

.v_text_one {
    font-size: 40px;
}

.V_an {
    border-bottom: 1px dashed white;
}

.V_an:hover {
    border-bottom: 1px solid white;
}

.v_nav_underline.nav-tabs {
    border-bottom: none !important;
}

.v_nav_link_color.nav-link {
    color: white;
}

.V_per_img {
    width: 960px;
    height: 540px;
}

.V_main {
    font-size: 24px;
}

.V_blue_anchor {
    font-size: 22px;
    color: #0068B5;
}

.V_blue_anchor:hover {
    color: #004a86;
    border-bottom: 1px solid #004a86;
}

.v_pad_topbot {
    padding: 30px 0;
}

.v_tech_bg {
    padding: 15px 20px;
    height: 80px;
    background-color: #f5f5f5;
}

.v_tech_color {
    color: #0068b5 !important;
}

.v_tech_color:hover {
    color: #004a86 !important;
}

.V_link{
    color: #0068B5;
    border-bottom: 1px dashed #0068B5;
}
.V_link:hover{
    color: #0068B5;
    border-bottom: 1px solid #0068B5;
}


/* * -------------------------------------------------- media query ------------------------------------------ */
@media (max-width: 1920px) and (min-width:1651px) {
    .v_text_one {
        font-size: 40px;
    }

    .V_per {
        font-size: 36px;
    }

    .V_blue_anchor {
        font-size: 28px;
    }
    .V_product{
        font-size: 28px;
    }
}


@media (max-width: 1650px) and (min-width:1441px) {
    .v_text_one {
        font-size: 40px;
    }

    .V_per {
        font-size: 36px;
    }

    .V_blue_anchor {
        font-size: 28px;
    }
    .V_product{
        font-size: 28px;
    }
}

@media (max-width:1440px) and (min-width:1201px) {
    .v_text_one {
        font-size: 40px;
    }

    .V_per {
        font-size: 36px;
    }

    .V_blue_anchor {
        font-size: 28px;
    }
    .V_product{
        font-size: 28px;
    }
}

@media (max-width:1200px) and (min-width:993px) {
    .v_text_one {
        font-size: 32px;
    }

    .V_per {
        font-size: 28px;
    }

    .V_blue_anchor {
        font-size: 22px;
    }
    .V_product{
        font-size: 22px;
    }
}

@media (max-width:992px) and (min-width:769px) {
    .v_text_one {
        font-size: 32px;
    }

    .V_per {
        font-size: 28px;
    }

    .V_blue_anchor {
        font-size: 22px;
    }
    .V_product{
        font-size: 22px;
    }
}

@media (max-width:768px)and (min-width:577px) {
    .v_text_one {
        font-size: 28px;
    }

    .V_per {
        font-size: 26px;
    }

    .V_per_img {
        width: 100%;
        height: auto;
    }

    .V_blue_anchor {
        font-size: 22px;
    }
    .V_product{
        font-size: 22px;
    }
}

@media (max-width:576px)and (min-width:481px) {
    .v_text_one {
        font-size: 28px;
    }

    .V_per {
        font-size: 26px;
    }

    .V_per_img {
        width: 100%;
        height: auto;
    }

    .V_blue_anchor  {
        font-size: 22px;
    }
    .V_product {
        font-size: 22px;
    }
}

@media (max-width:480px) {
    .v_scrollbar {
        width: 100%;
    }

    .v_text_one {
        font-size: 28px;
    }

    .V_per {
        font-size: 26px;
    }

    .V_per_img {
        width: 100%;
        height: auto;
    }

    .V_blue_anchor {
        font-size: 22px;
    }
    .V_product{
        font-size: 22px;
    }
}




/* ///////////////////////////////////////////   container /////////////////////////////////// */
@media (min-width: 768px) {

    .VK_cont {
        width: 750px;
        margin: auto;
    }

}

@media (min-width: 992px) {

    .VK_cont {
        width: 970px;
        margin: auto;
    }

}

@media (min-width: 1200px) {
    .VK_cont {
        width: 1170px;
        margin: auto;
    }
}

@media (min-width: 1650px) {

    .VK_cont {
        width: 1610px;
        margin: auto;
    }

}