* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
}
/* /////////////////////////////////////////////////////// */
.v_container {
    width: 1610px !important;
    margin: auto !important;
}
.v_pad_topbot{
    padding: 40px 0;
}
.v_main_sec_bg {
    background-color: #00285a;
    color: white;
}
.v_text_main {
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 15px;
}
.v_nav_link_color.nav-link {
    color: white;
}
.v_intelevo_img{
    width: 960px;
    height: 540px;
}
/* /////////////////////////////////////////////////////// */
@media screen and (max-width: 1440px) {
    .v_container {
        width: 1200px !important;
        margin: auto !important;
    }
}
@media screen and (max-width: 1024px) {
    .v_container {
        width: 890px !important;
        margin: auto !important;
    }
}
@media screen and (max-width: 768px) {
    .v_container {
        width: 700px !important;
        margin: auto !important;
    }
}
@media screen and (max-width: 425px) {
    .v_container {
        width: 390px !important;
        margin: auto !important;
    }
}

@media screen and (max-width: 375px) {
    .v_container {
        width: 335px !important;
        margin: auto !important;
    }
}
@media screen and (max-width: 320px) {
    .v_container {
        width: 280px !important;
        margin: auto !important;
    }
}