/* body {
    margin: 0;
    font-family: Arial, sans-serif;
}
nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    padding: 10px 0;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}
nav ul li {
    margin: 0 15px;
}
nav ul li a {
    color: black !important;
    text-decoration: none;
    padding: 5px 10px;
}
nav ul li a.active {
    
    text-decoration: underline;
}
section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}
@media (max-width: 768px) {
    nav ul {
        overflow-x: auto;
        white-space: nowrap;
        justify-content: center;
        padding: 10px;
    }
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
}
/* /////////////////////////// main section ///////////////////////////// */

.v_container{
    width: 1610px;
    margin: auto;
}
.v_pad_topbot{
    padding: 40px 0;
}
.v_game_bg{
    background-image: url(../img/Akshay\ image/intelgaming.png);
    width: 100%;
    height: 350px;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.v_bg_blue{
    background-color: #0068b5;
    position: relative;
    width: 1020px;
    height: 168px;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    top: 50px;
    margin-left: auto;
    right: 50px;
   
    
}
.v_content_main{
    font-size: 40px;
    font-weight: light;
    font-family: Arial, Helvetica, sans-serif;
}
.v_square {
    position: absolute;
    bottom: -45px;
    left: -49px;
    width: 50px;
    height: 50px;
    background-color: #00A3F6;
}
.v_intelgame425{
    display: none;
}
.v_intelgame{
    display: block;
}

/* /////////////////////////// main section ///////////////////////////// */
/* /////////////////////////// navbar section ///////////////////////////// */
.VK_ai_navigation {
    background-color: white;
    border-bottom: 1px solid #d7d7d7;
  }
  
  .VK_ai_nav_bar a {
    color: #262626;
    padding: 15px 30px;
    word-break: normal;
    font-weight: 500;
    white-space: nowrap;
  }
  
  .VK_ai_nav_bar li {
    margin: 0px 15px;
  }
  
  .VK_ai_navigation.VK_sticky_nav_bar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .VK_active_link {
    position: relative;
    color: #00aeef;
  }
  .VK_active_link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    background: #00aeef;
  }
  .VK_ai_nav_bar li a {
    transition: color 0.3s, border-bottom 0.3s;
  }


.VK_ai_nav_bar a.active {
    font-weight: bold;
    color: #0068b5 !important;
    position: relative;
}
.VK_ai_nav_bar a.active::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    background: #00aeef;
}

/* /////////////////////////// navbar section ///////////////////////////// */
/* ///////////////////////////  1st section ///////////////////////////// */
.a_over_bg{
    background-color: #0a001f;
}
.v_Compromise{
    font-size: 40px;
    font-weight: lighter;
}
/* /////////////////////////// 1st section ///////////////////////////// */
/* /////////////////////////// media query section ///////////////////////////// */

@media only screen and (max-width: 1440px){
    .v_bg_blue{
        width: 740px !important;
    }
    .v_square {
        bottom: -50px;
    }
    .v_container {
        width: 1200px !important;
        margin: auto !important;
    }
}
@media only screen and (max-width: 1024px){
    .v_bg_blue{
        width: 530px !important;
    }
    .v_game_bg{
        background-image: url(../img/Akshay\ image/intelgame1024.png);
        width: 100%;
        height: 350px;
        object-fit: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .v_square {
        bottom: -50px;
    }
    .v_container {
        width: 890px !important;
        margin: auto !important;
    }
}
@media only screen and (max-width: 768px){
    .v_bg_blue{
        width: 380px !important;
        height: 198px !important;
    }
    .v_game_bg{
        background-image: url(../img/Akshay\ image/intelgame767.png);
        width: 100%;
        height: 350px;
        object-fit: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .v_content_main{
        font-size: 30px;
        font-weight: light;
        font-family: Arial, Helvetica, sans-serif;
    }
    .v_container {
        width: 700px !important;
        margin: auto !important;
    }
}
@media only screen and (max-width: 425px){
    .v_bg_blue{
        width: 530px !important;
    }
    .v_game_bg{
        width: 425px;
        height: 230px;
        object-fit: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .v_bg_blue_1{
        background-color: #0068b5;
        width: 425px;
        height: 150px;
    }
    .v_intelgame425{
        display: block;
    }
    .v_intelgame{
        display: none;
    }
    .v_425main{
        color: white;
        padding: 8px;
        font-size: 28px;
    }
    .v_425sub{
        color: white;
        padding: 8px;
        font-size: 14px;
        line-height: 18px;
    }
    .v_container {
        width: 390px !important;
        margin: auto !important;
    }
   
}
@media only screen and (max-width: 375px){
    .v_bg_blue{
        width: 530px !important;
    }
    .v_container {
        width: 335px !important;
        margin: auto !important;
    }
    
}
@media only screen and (max-width: 320px){
    .v_bg_blue{
        width: 530px !important;
    }
    .v_container {
        width: 280px !important;
        margin: auto !important;
    }
   
}
/* /////////////////////////// media query section ///////////////////////////// */
