/* //////////////////////////////////////////////////////////////////// */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    font-family: 'Intel Clear', sans-serif;
}

img {
    width: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: white;
}

/* //////////////////////////////////////////////////////////////////// */




.v_tech_bg {
    padding: 15px 20px;
    height: 80px;
    background-color: #f5f5f5;
}

.v_tech_color {
    color: #0068b5 !important;
}

.v_tech_color:hover {
    color: #004a86 !important;
}


.v_show_span {
    color: #ffffff;
}
.v_show_span{
    width: 20%;
    height: 2px;
    display: inline-block;
    margin: 0px 5px;
    background-color: #ffffff;
}
   
.buttton_color {
    color: #ffffff;
}

.V_width1{
    width: 30%;
}
.V_width2{
    width: 10%;
}
.V_width3{
    width: 15%;
}
.V_width4{
    width: 20%;
}

.V_next_gen_text{
    font-size: 14px;
}
.V_table td, .V_table th{
    border: 2px solid #76ceff;
}

.V_th_bg_color{
    background-color: #76ceff;
}

.V_white{
    color: white;
}
.v_white_space{
    white-space: nowrap;
}


.nav-tabs1 .nav-link1 {
    color: #ffffff; /* Color for all tabs */
    border: none; /* Remove any default border */
}

.nav-tabs1 .nav-link1.active {
    border-bottom: 4px solid #ffffff; /* Active tab border */
    color: #ffffff; /* Keep the text blue for the active tab */
}

.V_andecor_r {
    border-bottom: 1px dashed #004a86;
    padding-bottom: 3px;
}

.V_andecor_r:hover {
    border-bottom: 1px solid #004a86;
    padding-bottom: 3px;
}

.VK_ai_navigation {
    background-color: white;
    border-bottom: 1px solid #d7d7d7;
}

.VK_ai_navigation.VK_sticky_nav_bar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 6px 5px rgba(0, 0, 0, 0.1);
}

.VK_ai_nav_bar a {
    color: #262626;
    padding: 15px 10px;
    word-break: normal;
    font-weight: 500;
}

.VK_ai_nav_bar li {
    margin: 0px 15px;
}

.V_sticky_bar {
    position: sticky !important;
    top: 0px;
    left: 0px;
}

.V_bor_botom {
    border-bottom: 2px solid #00aeef;
}


.VK_active_link {
    border-bottom: 3px solid #00aeef;
}


.V_BG {
    background-color: #040e35;
}

.V_foundation {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('/img/Akshay image/V_bg_img1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.V_foundation1 {
    background-image: url('/img/Akshay image/V_bg_img1.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.V_top{
    background-image: url('/img/Akshay image/V_bg_top_img.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.V_bg_expe {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('/img/Akshay image/V_bg_experience_img.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.V_bg_accel {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('/img/Akshay image/V_bg_accelerate_img.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.V_bg_ultimate {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('/img/Akshay image/V_bg_the_ultimate.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.V_bg_seame {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('/img/Akshay image/v_BG_SEAMLES_IMG.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.V_big_number {
    font-size: 7.5rem;
    font-weight: 400;
    /* color: #005b85; */
}

.V_x_word {
    font-size: 2.8125rem;
    /* padding: .9375rem 0;
    line-height: 1; */
}

.V_andecor {
    border-bottom: 1px dashed rgb(255, 255, 255);
    padding-bottom: 3px;
}

.V_andecor:hover {
    border-bottom: 1px solid rgb(255, 255, 255);
    padding-bottom: 3px;
}

.V_hr {
    color: #fff;
}

.v_carosal_cange .owl-carousel {
    position: relative;
}

.v_carosal_cange .owl-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
}

.v_carosal_cange .owl-prev,
.v_carosal_cange .owl-next {
    position: absolute;
    font-size: 24px !important;
    color: #0068b5 !important;
    background: none !important;
}

.v_carosal_cange .owl-prev {
    left: -30px;
}

.v_carosal_cange .owl-next {
    right: -30px;
}

.v_carosal_cange .owl-prev:hover,
.v_carosal_cange .owl-next:hover {
    background: none !important;
    color: #004d8c !important;
}

.v_carosal_cange .v_item_product {
    text-decoration: none;
    color: #0068b5;
}

.v_carosal_cange .owl-dots .owl-dot span {
    border-radius: 0 !important;
}

/* Style for the navigation buttons */
.v_carosal_cange .owl-nav button.owl-prev,
.v_carosal_cange .owl-nav button.owl-next {
    /* background-color: blue !important; */
    border: 4px solid #0068b5 !important;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.v_carosal_cange .owl-nav button.owl-prev {
    left: -20px;
}

/* Position the next button */
.v_carosal_cange .owl-nav button.owl-next {
    right: -20px;
}

/* Apply scaling effect on hover */
.v_carosal_cange .owl-nav button.owl-prev:hover,
.v_carosal_cange .owl-nav button.owl-next:hover {
    transform: translateY(-50%) scale(1.1);
    /* Scale the button to 110% */
}

.v_carosal_cange .owl-nav button.owl-prev span,
.v_carosal_cange .owl-nav button.owl-next span {
    font-size: 40px;
    margin-bottom: 10px;
}

.v_laptop_slider {
    width: 440px !important;
    height: 330px !important;
}

.v_carosal_cange.owl-theme .owl-dots {
    margin-top: 40px;
}


@media(min-width:1440px) {
    .V_head {
        font-size: 40px;
    }

    .V_head1 {
        font-size: 28px;
    }

    .V_game {
        font-size: 36px;
    }
}

@media (max-width:1439px) and (min-width:1200px) {
    .V_head {
        font-size: 40px;
    }

    .V_head1 {
        font-size: 28px;
    }

    .V_game {
        font-size: 36px;
    }
}

@media (max-width:1199px) and (min-width:992px) {
    .V_head {
        font-size: 32px;
    }

    .V_head1 {
        font-size: 22px;
    }

    .V_game {
        font-size: 28px;
    }
}

@media (max-width:991px) and (min-width:768px) {
    .V_head {
        font-size: 32px;
    }

    .V_head1 {
        font-size: 22px;
    }

    .V_game {
        font-size: 28px;
    }
}

@media (max-width:767px)and (min-width:576px) {
    .V_head {
        font-size: 28px;
    }

    .V_head1 {
        font-size: 22px;
    }

    .V_game {
        font-size: 26px;
    }
}

@media (max-width:575px)and (min-width:480px) {
    .V_head {
        font-size: 28px;
    }

    .V_head1 {
        font-size: 22px;
    }

    .V_game {
        font-size: 26px;
    }
}

@media (max-width:479px) {
    .V_head {
        font-size: 28px;
    }

    .V_head1 {
        font-size: 22px;
    }

    .V_game {
        font-size: 26px;
    }
    .V_top{
        background-position: left;
    }
}



/* ///////////////////////////////////////////////////  VK containor /////////////////////////////////////////// */

@media (min-width: 768px) {
    .VK_cont {
        width: 750px;
        margin: auto;
    }
}

@media (min-width: 992px) {
    .VK_cont {
        width: 970px;
        margin: auto;
    }
}

@media (min-width: 1200px) {
    .VK_cont {
        width: 1170px;
        margin: auto;
    }
}

@media (min-width: 1650px) {
    .VK_cont {
        width: 1610px;
        margin: auto;
    }
}