/* //////////////////////////////////////////////////////////////////// */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    font-family: 'Intel Clear', sans-serif;
}

img {
    width: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: white;
}






































@media(min-width:1440px) {
    .V_intel_core{
        font-size: 28px;
    }
    .V_U_series{
        font-size: 24px;
    }
}

@media (max-width:1439px) and (min-width:1200px) {
    .V_intel_core{
        font-size: 28px;
    }
    .V_U_series{
        font-size: 24px;
    }
}

@media (max-width:1199px) and (min-width:992px) {
    .V_intel_core{
        font-size: 28px;
    }
    .V_U_series{
        font-size: 24px;
    }
}

@media (max-width:991px) and (min-width:768px) {
    .V_intel_core{
        font-size: 28px;
    }
    .V_U_series{
        font-size: 24px;
    }
}

@media (max-width:767px)and (min-width:576px) {
    .V_intel_core{
        font-size: 22px;
    }
    .V_U_series{
        font-size: 22px;
    }
}

@media (max-width:575px)and (min-width:480px) {
    .V_intel_core{
        font-size: 22px;
    }
    .V_U_series{
        font-size: 22px;
    }
}

@media (max-width:479px) {
    .V_intel_core{
        font-size: 22px;
    }
    .V_U_series{
        font-size: 22px;
    }
}



/* ///////////////////////////////////////////////////  VK containor /////////////////////////////////////////// */

@media (min-width: 768px) {
    .VK_cont {
        width: 750px;
        margin: auto;
    }
}

@media (min-width: 992px) {
    .VK_cont {
        width: 970px;
        margin: auto;
    }
}

@media (min-width: 1200px) {
    .VK_cont {
        width: 1170px;
        margin: auto;
    }
}

@media (min-width: 1650px) {
    .VK_cont {
        width: 1610px;
        margin: auto;
    }
}













