* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {

    object-fit: cover;
}

a {
    text-decoration: none !important;
}



.V_bg_color{
    background-color: #00285a;
}
.V_ptag{
    color:#0068b5;
    padding: 0px 10px;
}
.V_ptag:hover{
    color: #00285a;
    /* border-left-color: #00285a; */
    border-left: 5px solid #00285a;
    font-weight: bold;
    

}

/* -------------------------------------------------- media query ------------------------------------------ */
@media (min-width:1920px) {
    .V_header_text {
        font-size: 28px;
    }
}

@media (max-width:1919px) and (min-width:1440px) {
    .V_header_text {
        font-size: 28px;
    }
}

@media (max-width:1439px) and (min-width:1200px) {
    .V_header_text {
        font-size: 28px;
    }
}

@media (max-width:1199px) and (min-width:992px) {
    .V_header_text {
        font-size: 28px;
    }
}

@media (max-width:991px) and (min-width:768px) {
    .V_header_text {
        font-size: 28px;
    }
    
}

@media (max-width:767px)and (min-width:576px) {
    .V_header_text {
        font-size: 22px;
    }
    
}

@media (max-width:575px)and (min-width:480px) {
    .V_header_text {
        font-size: 22px;
    }
}

@media (max-width:479px) {
    .V_header_text {
        font-size: 22px;
    }
}


/* ///////////////////////////////////////////////////  VK containor /////////////////////////////////////////// */

@media (min-width: 768px) {

    .VK_cont {
        width: 750px;
        margin: auto;
    }

}

@media (min-width: 992px) {

    .VK_cont {
        width: 970px;
        margin: auto;
    }

}

@media (min-width: 1200px) {
    .VK_cont {
        width: 1170px;
        margin: auto;
    }
}

@media (min-width: 1650px) {

    .VK_cont {
        width: 1610px;
        margin: auto;
    }

}