* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}
li{
    list-style: none;
}
/* /////////////////////////// main section ///////////////////////////// */

.v_container {
    width: 1610px;
    margin: auto;
}

.v_pad_topbot {
    padding: 40px 0;
}

.v_game_bg {
    background-image: url(../img/Akshay\ image/intelgaming.png);
    width: 100%;
    height: 350px;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.v_bg_blue {
    background-color: #0068b5;
    position: relative;
    width: 1020px;
    height: 168px;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    top: 50px;
    margin-left: auto;
    right: 50px;


}

.v_content_main {
    font-size: 40px;
    font-weight: light;
    font-family: Arial, Helvetica, sans-serif;
}

.v_square {
    position: absolute;
    bottom: -45px;
    left: -49px;
    width: 50px;
    height: 50px;
    background-color: #00A3F6;
}

.v_intelgame425 {
    display: none;
}

.v_intelgame {
    display: block;
}

/* /////////////////////////// main section ///////////////////////////// */
/* /////////////////////////// navbar section ///////////////////////////// */
.VK_ai_navigation {
    background-color: white;
    border-bottom: 1px solid #d7d7d7;
}

.VK_ai_nav_bar a {
    color: #262626;
    padding: 15px 30px;
    word-break: normal;
    font-weight: 500;
    white-space: nowrap;
}

.VK_ai_nav_bar li {
    margin: 0px 15px;
}

.VK_ai_navigation.VK_sticky_nav_bar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.VK_active_link {
    position: relative;
    color: #00aeef;
}

.VK_active_link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    background: #00aeef;
}

.VK_ai_nav_bar li a {
    transition: color 0.3s, border-bottom 0.3s;
}


.VK_ai_nav_bar a.active {
    font-weight: bold;
    color: #0068b5 !important;
    position: relative;
}

.VK_ai_nav_bar a.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    background: #00aeef;
}

/* /////////////////////////// navbar section ///////////////////////////// */
/* ///////////////////////////  1st section ///////////////////////////// */
.a_over_bg {
    background-color: #0a001f;
}

.v_Compromise {
    font-size: 38px;
    font-weight: lighter;
}

.v_game_video {
    width: 960px;
    height: 540px;
}

/* /////////////////////////// 1st section ///////////////////////////// */
/* /////////////////////////// 2nd section ///////////////////////////// */
.v_img_container {
    position: relative;
    overflow: hidden;
    /* Ensures the image doesn't overflow outside the container */
    width: 100%;
    height: 450px;
    /* Adjust the height as needed */
}
.v_gamehover_img {
    transition: transform 0.5s ease;
}
.v_gamehover_img{
    width: 100%;
    height: 450px;
}
.v_img_container:hover .v_gamehover_img {
    transform: scale(1.1);
}
 .v_img_container {
    position: relative;
    overflow: hidden;
}
.v_text_overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
}
.v_img_container:hover .v_text_overlay {
    background-color: rgba(0, 0, 0, 0.5) !important;
}
.v_text_overlay h2,
.v_text_overlay p,
.v_text_overlay a {
    color: white;
}
.v_border_bottam{
    border-bottom: 1px dashed white;
}
.v_border_bottam:hover{
    border-bottom: 1px solid white;
}


/* ///////////////////////////2nd section ///////////////////////////// */
/* ///////////////////////////3rd section ///////////////////////////// */
.v_features{
    width: 500px;
    height: 280px;
}
.v_white_height{
height: 150px;
}
.v_fet_topic_text{
    color:#0068b5 !important;
    line-height: 30px;
}
.v_fet_topic_text:hover{
    color: #004a86 !important;
    border-bottom: 1px solid #004a86 ;
}
/* ///////////////////////////3rd section ///////////////////////////// */
/* ///////////////////////////4th section ///////////////////////////// */
.v_tech_advantege{
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}
.v_technology{
    width: 370px;
    height: 200px;
}
.hidden-mobile {
    display: block;
  }
.ds_port-res{
    margin-top: 20px;
}

.ds_use-line::after{
    content: " ";
    position: absolute;
    top: 13px;
    height: 1px;
    width: 50%;
    right: -65px;
    background-color: white;
 }
 .ds_use-line::before{
    content: " ";
    position: absolute;
    top: 12px;
    height: 1px;
    width: 50%;
    left: -65px;
    background-color: white;
 } 
.ds_use-hidden{
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition:all  0.5s ease-out;
}    
.ds_use-show{
    opacity: 1;
    height: 100%;
    transition:all  0.5s ease-in;
}
/* /////////////////////////////////////////////////////////////////// */

  .toggle-btn {
    display: none;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #0071c5;
    color: white;
    border: none;
    cursor: pointer;
  }

/* /////////////////////////////////////////////////////////////////// */
/* ///////////////////////////4th section ///////////////////////////// */
/* ///////////////////////////5th section ///////////////////////////// */
.v_bg_offwhite{
    background-color: #f7f7f7;
}
.v_community{
    font-size: 36px;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
}
.bg_community_btn{
    background-color: #0071c5;
    padding: 10px 24px;
    color: white !important;
}
.bg_community_btn:hover{
    background-color: #004a86;
}
.ds_port-res{
    margin-top: 20px;
}

.ds_use-line::after{
    content: " ";
    position: absolute;
    top: 13px;
    height: 1px;
    width: 50%;
    right: -130px;
    background-color: #bbbbbb;
 }
 .ds_use-line::before{
    content: " ";
    position: absolute;
    top: 12px;
    height: 1px;
    width: 50%;
    left: -130px;
    background-color: #bbbbbb;
 } 
.ds_use-hidden{
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition:all  0.5s ease-out;
}    
.ds_use-show{
    opacity: 1;
    height: 100%;
    transition:all  0.5s ease-in;
}
.v_pad_link{
    padding: .5em 1em;
    color: #0068b5 !important;

}
.v_pad_link:hover{
    color: #00aeef !important;
}
.v_last_size{
    font-size: 12px;
}
.v_last_hover{
    color:#0068b5 ;
    border-bottom: 1px dashed #0068b5;
}
.v_last_hover:hover{
    color:#004a86 ;
    border-bottom: 1px solid #004a86;
}


/* ///////////////////////////5th section ///////////////////////////// */
/* /////////////////////////// media query section ///////////////////////////// */

@media only screen and (max-width: 1440px) {
    .v_bg_blue {
        width: 740px !important;
    }

    .v_square {
        bottom: -50px;
    }

    .v_container {
        width: 1200px !important;
        margin: auto !important;
    }
    .v_features{
        width: 368px;
        height: 200px;
    }
    .v_fet_topic_text{
        font-size: 24px !important;
    }
    .v_white_height {
        height: 170px;
    }
    .v_technology{
        width:260px ;
        height: 140px;
    }
}

@media only screen and (max-width: 1024px) {
    .v_bg_blue {
        width: 530px !important;
    }
    .v_Compromise {
        font-size: 34px;
        font-weight: lighter;
    }

    .v_game_bg {
        background-image: url(../img/Akshay\ image/intelgame1024.png);
        width: 100%;
        height: 350px;
        object-fit: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .v_square {
        bottom: -50px;
    }

    .v_container {
        width: 890px !important;
        margin: auto !important;
    }

    .v_game_video {
        width: 840px;
        height: 470px;
    }
    .v_gamehover_img{
        width: 100%;
        height: 450px;
    }
    .v_game_img_text{
        font-size: 15px;
        width: 80%;
    }
    .v_features{
        width: 290px;
        height: 160px;
    }
    .v_white_height {
        height: 170px;
        width: 290px;
    }
    .v_fet_topic_text{
        font-size: 20px !important;
        line-height: 25px;
    }
    .v_fet_topic_subtext{
        font-size: 12px;
        line-height: 18px;
    }
    .v_technology{
        width: 430px;
        height: 250px;
    }
}

@media only screen and (max-width: 768px) {
    .v_bg_blue {
        width: 380px !important;
        height: 198px !important;
    }

    .v_game_bg {
        background-image: url(../img/Akshay\ image/intelgame767.png);
        width: 100%;
        height: 350px;
        object-fit: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .v_content_main {
        font-size: 30px;
        font-weight: light;
        font-family: Arial, Helvetica, sans-serif;
    }

    .v_container {
        width: 700px !important;
        margin: auto !important;
    }

    .v_game_video {
        width: 640px;
        height: 360px;
    }
    .v_gamehover_img{
        width: 100%;
        height: 350px;
    }
    .v_text_overlay{
        height: 350PX;
    }
    .v_img_container{
        height: 350px;
    }
    .v_Compromise {
        font-size: 30px;
        font-weight: lighter;
    }
    .v_features{
        width: 220px;
        height: 120px;
    }
    .v_white_height {
        height: 230px;
        width: 220px;
    }
    .v_fet_topic_text{
        font-size: 20px !important;
        line-height: 25px;
    }
    .v_fet_topic_subtext{
        font-size: 15px !important;
        line-height: 18px;
    }
    .v_technology{
        width: 330px;
        height: 190px;
    }
    .v_tech_advantege{
        font-size: 30px;
    }
}

@media only screen and (max-width: 425px) {
    .v_bg_blue {
        width: 530px !important;
    }

    .v_game_bg {
        width: 425px;
        height: 230px;
        object-fit: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .v_bg_blue_1 {
        background-color: #0068b5;
        width: 425px;
        height: 150px;
    }

    .v_intelgame425 {
        display: block;
    }

    .v_intelgame {
        display: none;
    }

    .v_425main {
        color: white;
        padding: 8px;
        font-size: 28px;
    }

    .v_425sub {
        color: white;
        padding: 8px;
        font-size: 14px;
        line-height: 18px;
    }

    .v_container {
        width: 390px !important;
        margin: auto !important;
    }

    .v_game_video {
        width: 360px;
        height: 200px;
    }
    .v_Compromise {
        font-size: 26px;
        font-weight: lighter;
        line-height: 35px;
    }
    .v_Compromise_subtext{
        font-size: 16px;
        line-height: 18px;
        margin-top: 10px;
    }
    .v_features{
        width: 390px;
        height: 220px;
    }
    .v_white_height {
        height: 140px;
        width: 390px;
    }
    .v_fet_topic_text{
        font-size: 20px !important;
        line-height: 25px;
    }
    .v_fet_topic_subtext{
        font-size: 12px;
        line-height: 18px;
    }
    .v_technology{
        width: 380px;
        height: 220px;
    }
    /* ///////////////////////////////// */
    .hidden-mobile {
        display: none;
      }
    
      .toggle-btn {
        display: block;
      }
      .ds_use-line::after{
        display: none;
      }
      .ds_use-line::before{
        display: none;
      }
}

@media only screen and (max-width: 375px) {
    .v_bg_blue {
        width: 530px !important;
    }

    .v_container {
        width: 335px !important;
        margin: auto !important;
    }

    .v_game_video {
        width: 310px;
        height: 170px;
    }
    .v_bg_blue_1{
        width: 375px;
    }
    .v_game_bg{
        width: 375px;
    }
    .v_features{
        width: 340px;
        height: 190px;
    }
    .v_white_height {
        height: 140px;
        width: 340px;
    }
    .v_technology{
        width: 330px;
        height: 190px;
    }

}

@media only screen and (max-width: 320px) {
    .v_bg_blue {
        width: 530px !important;
    }

    .v_container {
        width: 280px !important;
        margin: auto !important;
    }

    .v_game_video {
        width: 260px;
        height: 140px;
    }
    .v_bg_blue_1{
        width: 320px;
    }
    .v_game_bg{
        width: 320px;
    }
    .v_features{
        width: 280px;
        height: 160px;
    }
    .v_white_height {
        height: 190px !important;
        width: 280px;
    }
    .v_technology{
        width: 280px;
        height: 160px;
    }


}

/* /////////////////////////// media query section ///////////////////////////// */