* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
}

/* /////////////////////////////////////////////////////// */
.v_container {
    width: 1610px !important;
    margin: auto !important;
}

.v_pad_topbot {
    padding: 40px 0;
}

.v_main_sec_bg {
    background-color: #00285a;
    color: white;
}

.v_text_main {
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 15px;
}

.v_nav_link_color.nav-link {
    color: white;
}

.v_intelevo_img {
    width: 960px;
    height: 540px;
}

.v_item_product {
    color: #0068b5;
    border-bottom: 1px dashed #0068b5;

}

.v_item_product:hover {
    color: #0068b5;
    border-bottom: 1px solid #0068b5;
}

/* /////////////////////// 1st section //////////////////// */
.v_all_text {
    font-size: 34px;
    line-height: 45px;
    font-family: Arial, Helvetica, sans-serif !important;
    margin-bottom: 10px;
}

/* /////////////////////// 1st section //////////////////// */
/* /////////////////////// 3rd section //////////////////// */
.v_acces_intel {
    font-size: 24px;
    color: #0068b5;
}

.v_acces_intel:hover {
    font-size: 24px;
    color: #004a86;
    border-bottom: 1px solid #004a86;
}

.v_acces_img {
    width: 360px;
    height: 200px;
}

/* /////////////////////// 3rd section //////////////////// */
/* /////////////////////////////////////////////////////// */
@media screen and (max-width: 1440px) {
    .v_container {
        width: 1200px !important;
        margin: auto !important;
    }

    .v_all_img {
        width: 780px;
        height: 420px;
    }

    .v_acces_img {
        width: 260px;
        height: 140px;
    }
}

@media screen and (max-width: 1024px) {
    .v_container {
        width: 890px !important;
        margin: auto !important;
    }

    .v_all_img {
        width: 580px;
        height: 340px;
    }

    .v_text_main {
        font-size: 35px;
    }

    .v_all_text {
        font-size: 30px;
        line-height: 40px;
    }
    .v_acces_img {
        width: 215px;
        height: 110px;
    }
    .v_acces_intel{
        font-size: 22px;
        line-height: 30px;
    }
}

@media screen and (max-width: 768px) {
    .v_container {
        width: 700px !important;
        margin: auto !important;
    }

    .v_all_img {
        width: 450px;
        height: 260px;
    }

    .v_intelevo_img {
        width: 640px;
        height: 360px;
    }

    .v_main_sec_img img {
        width: 700px;
        height: 390px;
    }

    .v_text_main {
        font-size: 30px;
    }

    .v_built_main {
        font-size: 22px !important;
    }

    .v_all_text {
        font-size: 30px;
        line-height: 35px;
    }
    .v_acces_img{
        width: 340px;
        height: 190px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 425px) {
    .v_container {
        width: 390px !important;
        margin: auto !important;
    }

    .v_intelevo_img {
        width: 360px;
        height: 200px;
    }

    .v_main_sec_img img {
        width: 380px;
        height: 210px;
    }

    .v_all_img {
        width: 425px;
        height: 230px;
    }

    .v_all_text {
        margin-top: 10px;
        font-size: 26px;
        line-height: 35px;
    }
    .v_acces_img{
        width: 390px;
        height: 220px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 375px) {
    .v_container {
        width: 335px !important;
        margin: auto !important;
    }

    .v_main_sec_img img {
        width: 330px;
        height: 190px;
    }

    .v_text_main {
        font-size: 28px;
    }

    .v_all_img {
        width: 375px;
        height: 210px;
    }
    .v_acces_img{
        width: 340px;
        height: 190px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 320px) {
    .v_container {
        width: 280px !important;
        margin: auto !important;
    }

    .v_intelevo_img {
        width: 260px;
        height: 150px;
    }

    .v_all_img {
        width: 320px;
        height: 180px;
    }

    .v_main_sec_img img {
        width: 280px;
        height: 150px;
    }

    .v_text_main {
        font-size: 28px;
    }

    .v_built_main {
        font-size: 20px !important;
    }

    .v_all_text {
        margin-top: 10px;
        font-size: 24px;
        line-height: 35px;
    }
    .v_acces_img{
        width: 280px;
        height: 160px;
        margin-bottom: 10px;
    }
}