* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}
.row{
         --bs-gutter-x: 0;
}

.v_container {
    width: 1610px;
    margin: auto;
}

.v_pad_topbot {
    padding: 40px 0;
}
/* ////////////////////// main section //////////////////////// */
.v_bg_main{
    background-color: #41728a;
}
.v_bg_blue {
    background-color: #548fad;
    position: relative;
    width:940px;
    height: 220px;
    color: white;
    padding: 30px;
    box-sizing: border-box;
    top: 50pxpx;
    margin-left: 100px;
    right: 50px;
}
.v_main_img{
    width: 770px;
    height: 430px;
}
.v_content_main {
    font-size: 40px;
    font-weight: light !important;
    font-family: Arial, Helvetica, sans-serif;
}
.v_square {
    position: absolute;
    bottom: -50px;
    right: -50px;
    width: 50px;
    height: 50px;
    background-color: #85b4cc;
}
.v_intelgame425 {
    display: none;
}

.v_intelgame {
    display: block;
}
/* ////////////////////// main section //////////////////////// */

/* ///////////////////////// meadia query ////////////////////// */
@media only screen and (max-width: 1440px) {
    .v_container {
        width: 1200px !important;
        margin: auto !important;
    }
    .v_bg_blue {
        width: 680px !important;
        height: 300px;
    }
    .v_square {
        bottom: -50px;
    }
    .v_content_main{
        font-size: 34px;
    }
    .v_bg_blue{
        top: -10px;
    }
    .v_main_img{
        width: 576px;
        height: 450px;
      
    }
}

@media only screen and (max-width: 1024px) {
    .v_container {
        width: 890px !important;
        margin: auto !important;
    }
    .v_bg_blue {
        width: 450px !important;
        height: 400px;
        top: 20px;
    }
    .v_square {
        bottom: -50px;
    }
    .v_main_img{
        width: 400px;
        height: 240px;
      
    }
    .v_content_main{
        font-size: 30px;
        line-height: 40px;
    }
    .v_bg_main{
        height: 530px;
    }
}

@media only screen and (max-width: 768px) {
    .v_container {
        width: 700px !important;
        margin: auto !important;
    }
    .v_bg_blue {
        width: 320px !important;
        height: 480px !important;
    }
    .v_content_main {
        font-size: 23px;
        font-weight: light;
        font-family: Arial, Helvetica, sans-serif;
    }
    .v_main_img{
        width: 300px;
        height: 190px;
        
    }
    .v_bg_main{
        height: 615px;
    }
}

@media only screen and (max-width: 425px) {
    .v_container {
        width: 390px !important;
        margin: auto !important;
    }
    .v_bg_blue {
        width: 530px !important;
    }
    .v_intelgame425 {
        display: block;
    }

    .v_intelgame {
        display: none;
    }
}

@media only screen and (max-width: 375px) {
    .v_container {
        width: 335px !important;
        margin: auto !important;
    }
    .v_bg_blue {
        width: 530px !important;
    }
}

@media only screen and (max-width: 320px) {
    .v_container {
        width: 280px !important;
        margin: auto !important;
    }
    .v_bg_blue {
        width: 530px !important;
    }
    
}

/* ///////////////////////// meadia query ////////////////////// */