* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {

    object-fit: cover;
}

a {
    text-decoration: none !important;
}



.V_pc_bg {
    background-color: #00285a;
}

.V_micro {
    font-size: 40px;
    font-weight: 300;
}

.v_pad_topbot {
    padding: 40px 0;
}


.v_tech_bg {
    padding: 40px 20px;
    height: 140px;
    background-color: #f3f3f3;
}

.v_tech_bg1 {
    padding: 15px 20px;
    height: 80px;
    background-color: #f5f5f5;
}
.v_tech_color {
    color: #0068b5 !important;
    text-decoration: none;
}


.v_tech_color:hover {
    color: #004a86 !important;
}




.V_andecor {
    text-decoration: none;
    border-bottom: 1px dashed rgb(0, 66, 248);
    padding-bottom: 2px;
    color: #0068b5;
}

.V_andecor:hover {
    border-bottom: 1px solid#004a86;
    padding-bottom: 2px;
    color: #004a86;
}

.V_product {
    font-size: 12px;
}

.V_contact_btn {
    background-color: #0068b5 !important;
}

.V_contact_btn:hover {
    background-color: #004a86 !important;
}

.V_top {
    top: 0.2em;
}

.V_BAVI {
    font-weight: 400;
}

.owl-theme .owl-dots .owl-dot span {
    border-radius: 0px !important;
}



.V_table td,
.V_table th {
    border: 2px solid #e9e9e9;
}

.V_th_bg_color {
    background-color: #e9e9e9;
}

.V_border_right {
    border-right: 2px solid white !important;
}

.V_row_bg {
    background-color: #f7f7f7;
}

.V_table_text {
    font-size: 14px;
}

.V_top {
    vertical-align: center;
}










.accordion-button::before {
    flex-shrink: 0;
    width: 1rem;
    height: 1rem;
    margin: 0px 10px;
    content: "";
    background-image: url('../img/Akshay\ image/down.png');
    background-repeat: no-repeat;
    background-size: contain;
    transition: transform .2s ease-in-out;
    align-self: center;
}
.accordion-button::after{
    display: none;
} 
/*   */
/* .accordion-button {
    flex-shrink: 0;
    width: 1rem;
    height: 1rem;
    margin: 0px 10px;
    content: "";
    background-image: url('../img/Akshay\ image/up.png');
    background-repeat: no-repeat;
    background-size: contain;
    transition: transform .2s ease-in-out;
    align-self: center;
} */

.accordion-button:not(.collapsed)::before{
    flex-shrink: 0;
    width: 1rem;
    height: 1rem;
    margin: 0px 10px;
    content: "";
    background-image: url('../img/Akshay\ image/V_up.png');
    background-repeat: no-repeat;
    background-size: contain;
    transition: transform .2s ease-in-out;
    align-self: center;
}


 .accordion-item, .accordion-button {
    border: none !important;
    box-shadow: none !important;
}

.accordion-button:focus {
    border-color: none !important; 
       box-shadow: 0 !important;
}
.accordion-button:not(.collapsed) {
    color: black !important;
    background-color: #e9e9e9 !important;
    box-shadow: 0 !important ;
}
/* .accordion-button:not(.collapsed) {
    color: transparent;
    background-color: #e7f1ff;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .125);
} */



.accordion-body {
    padding: 0px;
}
.V_width{
    width: 400px;
}
.V_width_td_2{
    width: 600px;
}


.accordion-button {
    position: relative;
    display: flex
;
    align-items: center;
    width: 100%;
    padding: 0.70rem 1.25rem;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    background-color: #e9e9e9 ;
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, border-radius .15s ease;
}





.V_special_checkbox {
    height: 20px;
    width: 20px;
}
.V_table_responsive {
    font-size: 14px;
}

.V_table_responsive td {
    border: 1px solid lightgray;
    font-size: 14px;
}
.V_compare_box {
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);

}

.V_compare_box a {
    border-left: 1px solid white !important;
}
.bg_light_blue {
    background-color: #B4F0FF !important;
}

.bg_light_blue1 {
    background-color: #00C7FD !important;
}

.V_special_btn a {
    text-wrap: wrap;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    background-color: #0068B5;
}

.V_special_btn:hover a {
    color: white;
    background-color: #004A86;
}

.table>:not(caption)>*>* {
    padding: 1rem;
}
tbody tr:nth-child(odd){
    background-color: #f7f7f7;
}

.V_compare_head{
    font-size: 30px;
    font-weight: 300;
}







.V_title{
    color: #0071c5;
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
}
.V_title_div{
    width: 893px;
}
.V_title1{
    color: #0071c5;
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
}

/* .V_des_div{
    width: 1000px;
} */





@media (max-width:1920px) {
    .V_ready {
        font-size: 36px;
    }

    .V_BAVI {
        font-size: 22px;
    }

    .V_diverse {
        font-size: 36px;
    }
    .V_head1{
        font-size: 28px;
    }
}

@media(min-width:1440px) and (max-width:1650px) {
    .V_image {
        width: 260px;
        height: 146px;
    }

    .V_ready {
        font-size: 36px;
    }

    .V_BAVI {
        font-size: 22px;
    }

    .V_diverse {
        font-size: 36px;
    }
    .V_width{
        width: 290px;
    }
    .V_width_td_2{
        width: 430px;
    }
    .V_head1{
        font-size: 28px;
    }
}

@media (max-width:1439px) and (min-width:1200px) {
    .V_image {
        width: 260px;
        height: 146px;
    }

    .V_ready {
        font-size: 36px;
    }

    .V_BAVI {
        font-size: 22px;
    }

    .V_diverse {
        font-size: 36px;
    }
    .V_width{
        width: 290px;
    }
    .V_width_td_2{
        width: 430px;
    }
    .V_head1{
        font-size: 28px;
    }
}

@media (max-width:1199px) and (min-width:992px) {
    .V_image {
        width: 210px;
        height: 118px;
    }

    .V_micro {
        font-size: 32px;
    }

    .V_ready {
        font-size: 28px;
    }

    .V_BAVI {
        font-size: 20px;
    }

    .V_diverse {
        font-size: 28px;
    }
    .V_width{
        width: 290px;
    }
    .V_width_td_2{
        width: 430px;
    }
    .V_head1{
        font-size: 22px;
    }
}

@media (max-width:991px) and (min-width:768px) {
    .V_image {
        width: 710px;
        height: 400px;
    }

    .V_micro {
        font-size: 32px;
    }

    .V_ready {
        font-size: 28px;
    }

    .V_BAVI {
        font-size: 20px;
    }

    .V_diverse {
        font-size: 28px;
    }
    .V_width{
        width: 180px;
    }
    .V_width_td_2{
        width: 270px;
    }
    .V_head1{
        font-size: 22px;
    }
}

@media (max-width:767px)and (min-width:576px) {
    .V_image {
        width: 540px;
        height: 304px;
    }

    .V_micro {
        font-size: 28px;
    }

    .V_ready {
        font-size: 26px;
    }

    .V_BAVI {
        font-size: 20px;
    }

    .V_diverse {
        font-size: 26px;
    }
    .V_width{
        width: 120px;
    }
    .V_width_td_2{
        width: 220px;
    }
    .V_head1{
        font-size: 22px;
    }
}

@media (max-width:575px)and (min-width:480px) {
    .V_image {
        width: 445px;
        height: 250px;
    }

    .V_micro {
        font-size: 28px;
    }

    .V_ready {
        font-size: 26px;
    }

    .V_BAVI {
        font-size: 20px;
    }

    .V_diverse {
        font-size: 26px;
    }
    .V_width{
        width: 140px;
    }
    .V_width_td_2{
        width: 160px;
    }
    .V_head1{
        font-size: 22px;
    }
}

@media (max-width:479px)and (min-width:320px) {
    .V_image {
        width: 287px;
        height: 161px;
    }

    .V_micro {
        font-size: 28px;
    }

    .V_ready {
        font-size: 26px;
    }

    .V_BAVI {
        font-size: 20px;
    }

    .V_diverse {
        font-size: 26px;
    }
    .V_width{
        width: 100px;
    }
    .V_width_td_2{
        width: 100px;
    }
    .V_head1{
        font-size: 22px;
    }
}



/* ///////////////////////////////////////////////////  VK containor /////////////////////////////////////////// */

@media (min-width: 768px) {
    .VK_cont {
        width: 750px;
        margin: auto;
    }
}

@media (min-width: 992px) {
    .VK_cont {
        width: 970px;
        margin: auto;
    }
}

@media (min-width: 1200px) {
    .VK_cont {
        width: 1170px;
        margin: auto;
    }
}

@media (min-width: 1650px) {
    .VK_cont {
        width: 1610px;
        margin: auto;
    }
}