/* //////////////////////////////////////////////////////////////////// */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    font-family: 'Intel Clear', sans-serif;
}

img {
    width: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: white;
}














.V_bg_create {
    background-image: url('/img/Akshay image/V_lets_create_bg_img.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.V_vieo_bg{
    background-image: url('/img/Akshay image/V_video_editing_bg_img.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.V_photo_bg{
    background-image: url('/img/Akshay image/V_photo_editing_bg_img.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}








.V_andecor {
    border-bottom: 1px dashed rgb(255, 255, 255);
    padding-bottom: 3px;
}

.V_andecor:hover {
    border-bottom: 1px solid rgb(255, 255, 255);
    padding-bottom: 3px;
}

.v_pad_topbot {
    padding: 0px 0;
}

.v_tech_bg {
    padding: 15px 20px;
    height: 80px;
    background-color: #f5f5f5;
}

.v_tech_color {
    color: #0068b5 !important;
}

.v_tech_color:hover {
    color: #004a86 !important;
}

.V_andecor_r {
    border-bottom: 1px dashed #004a86;
    padding-bottom: 3px;
}

.V_andecor_r:hover {
    border-bottom: 1px solid #004a86;
    padding-bottom: 3px;
}


.V_button {
    background-color: transparent ;
    border: 2px solid white;
}

.V_button:hover {
    background-color: #ffffff;
    color: black;
}
.V_top{
    top: -1.8em;
}










@media(min-width:1440px) {
    .V_head {
        font-size: 40px;
    }

    .V_see {
        font-size: 28px;
    }

    .V_howq {
        font-size: 36px;
    }
    .V_AI{
        font-size: 22px;
    }
    .V_px52{
        padding-right: 10rem !important;
        padding-left: -2rem !important;
    }
    
    .V_PX5{
        padding-right: -5rem !important;
        padding-left: 9rem !important;
    }
    .V_intel{
        font-size: 36px;
    }
}

@media (max-width:1439px) and (min-width:1200px) {
    .V_head {
        font-size: 40px;
    }

    .V_see {
        font-size: 28px;
    }

    .V_howq {
        font-size: 36px;
    }
    .V_AI{
        font-size: 22px;
    }
    .V_px52{
        padding-right: 10rem !important;
        padding-left: -2rem !important;
    }
    
    .V_PX5{
        padding-right: -5rem !important;
        padding-left: 9rem !important;
    }
    .V_intel{
        font-size: 36px;
    }
}

@media (max-width:1199px) and (min-width:992px) {
    .V_head {
        font-size: 32px;
    }

    .V_see {
        font-size: 22px;
    }

    .V_howq {
        font-size: 28px;
    }
    .V_AI{
        font-size: 20px;
    }
    .V_intel{
        font-size: 28px;
    }
    
}

@media (max-width:991px) and (min-width:768px) {
    .V_head {
        font-size: 32px;
    }

    .V_see {
        font-size: 22px;
    }

    .V_howq {
        font-size: 28px;
    }
    .V_AI{
        font-size: 20px;
    }
    .V_intel{
        font-size: 28px;
    }
}

@media (max-width:767px)and (min-width:576px) {
    .V_head {
        font-size: 28px;
    }

    .V_see {
        font-size: 22px;
    }

    .V_howq {
        font-size: 26px;
    }
    .V_AI{
        font-size: 20px;
    }
    .V_intel{
        font-size: 26px;
    }
}

@media (max-width:575px)and (min-width:480px) {
    .V_head {
        font-size: 28px;
    }

    .V_see {
        font-size: 22px;
    }

    .V_howq {
        font-size: 26px;
    }
    .V_AI{
        font-size: 20px;
    }
    .V_intel{
        font-size: 26px;
    }
}

@media (max-width:479px) {
    .V_head {
        font-size: 28px;
    }

    .V_see {
        font-size: 22px;
    }

    .V_howq {
        font-size: 26px;
    }
    .V_AI{
        font-size: 20px;
    }
    .V_intel{
        font-size: 26px;
    }
}



/* ///////////////////////////////////////////////////  VK containor /////////////////////////////////////////// */

@media (min-width: 768px) {
    .VK_cont {
        width: 750px;
        margin: auto;
    }
}

@media (min-width: 992px) {
    .VK_cont {
        width: 970px;
        margin: auto;
    }
}

@media (min-width: 1200px) {
    .VK_cont {
        width: 1170px;
        margin: auto;
    }
}

@media (min-width: 1650px) {
    .VK_cont {
        width: 1610px;
        margin: auto;
    }
}