/* //////////////////////////////////////////////////////////////////// */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    font-family: 'Intel Clear', sans-serif;
}

img {
    width: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
    /* color: white; */
}







.b_overview_main {
    position: relative;
}

.b_overview_box {
    width: 90%;
}

.b_overview_box1 {
    position: absolute;
    top: 100%;
    left: 90%;
    height: 50px;
    width: 50px;
    background-color: #00a3f6;
}

.VK_ai_navigation {
    background-color: white;
    border-bottom: 1px solid #d7d7d7;
}

.VK_ai_navigation.VK_sticky_nav_bar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 6px 5px rgba(0, 0, 0, 0.1);
}

.VK_ai_nav_bar a {
    color: #262626;
    padding: 15px 10px;
    word-break: normal;
    font-weight: 500;
}

.VK_ai_nav_bar li {
    margin: 0px 15px;
}

.V_sticky_bar {
    position: sticky !important;
    top: 0px;
    left: 0px;
}

.V_bor_botom {
    border-bottom: 2px solid #00aeef;
}

.V_wifi_6e {
    font-size: 36px;
}

.V_speed {
    font-size: 24px;
}

.v_show_span {
    color: #0068b5;
}

.v_show_span {
    width: 20%;
    height: 2px;
    display: inline-block;
    margin: 0px 5px;
    background-color: #0068b5;
}

.buttton_color{
    color: #0068b5;
}

.V_bg_color{
    background-color: #41728a;
}

.V_button{
    background-color: #004a86;
}


.VK_active_link {
    border-bottom: 3px solid #00aeef;
}

.V_blue_background{
    background-color: #0068b5;
}

.V_ptag{
    font-size: 20px;
}

.V_bg{
    background-color: #f7f7f7;
}

.nav-tabs1 .nav-link1 {
    color: #0068b5; /* Color for all tabs */
    border: none; /* Remove any default border */
}

.nav-tabs1 .nav-link1.active {
    border-bottom: 4px solid #00aeef; /* Active tab border */
    color: #0068b5; /* Keep the text blue for the active tab */
}

.offcanvas{
    overflow-x: scroll;
}
.nav-link {
    color: #fff !important;
    padding: 0px !important;
}
.navbar-nav .nav-item a{
    padding: 13px 0 13px 20px !important;
}
.navbar-nav .nav-item {
    display: block;
    float: left;
    width: 100%;
    margin: 0;
    text-align: left;
    color: #fff;
    border-top: 1px solid rgba(255, 255, 255, .12);
    text-decoration: none;
    text-transform: capitalize;
    font-size: 18px;
    box-sizing: border-box;
    position: relative;
    z-index: 9;
}

.nav-tabs1 .nav-link1:not(.active):hover {
    color: #00aeef; /* On hover for inactive tabs */
}

.v_white_space{
    white-space: nowrap;
}

.V_andecor{
    border-bottom: 1px dashed rgb(0, 66, 248);
    padding-bottom: 3px;
}

.V_andecor:hover{
    border-bottom: 1px solid rgb(0, 66, 248);
    padding-bottom: 3px;
}
.V_back{
    background-color: #0068b5;
}

.V_color{
    color: #0068b5;
    font-size: 24px;
    text-decoration: none !important;
}

.V_color:hover{
    text-decoration: underline !important;
}

.V_relatedtech_img{
    background-color: #004a86;
}

.v_pad_topbot {
    padding: 40px 0;
}

.v_tech_bg {
    padding: 15px 20px;
    height: 80px;
    background-color: #f5f5f5;
}

.v_tech_color {
    color: #0068b5 !important;
}

.v_tech_color:hover {
    color: #004a86 !important;
}





@media(min-width:1440px) {
    .V_wifi_6e{
        font-size: 40px;
    }
    .V_strenthen{
        font-size: 36px;
    }
    .V_crowd{
        font-size: 36px;
    }
    .V_pading{
        padding: 0px 0px 0px 64px;
    }
}


@media (max-width:1439px) and (min-width:1200px) {
    .V_wifi_6e{
        font-size: 40px;
    }
    .V_strenthen{
        font-size: 36px;
    }
    .V_crowd{
        font-size: 36px;
    }
    .V_pading{
        padding: 0px 0px 0px 64px;
    }
}


@media (max-width:1199px) and (min-width:992px) {
    .V_wifi_6e{
        font-size: 32px;
    }
    .V_strenthen{
        font-size: 36px;
    }
    .V_crowd{
        font-size: 28px;
    }
    .V_pading{
        padding: 0px 0px 0px 64px;
    }
}

@media (max-width:991px) and (min-width:768px) {
    .V_wifi_6e{
        font-size: 32px;
    }
    .V_strenthen{
        font-size: 28px;
    }
    .V_crowd{
        font-size: 28px;
    }
    .V_pading{
        padding: 0px 0px 0px 64px;
    }
}

@media (max-width:767px)and (min-width:576px) {
    .b_overview_box{
        width: 100%;
    }
    .V_wifi_6e{
        font-size: 28px;
    }
    .V_strenthen{
        font-size: 26px;
    }
    .V_crowd{
        font-size: 26px;
    }
}

@media (max-width:575px)and (min-width:480px) {
    .b_overview_box{
        width: 100%;
    }
    .V_wifi_6e{
        font-size: 28px;
    }
    .V_strenthen{
        font-size: 26px;
    }
    .V_crowd{
        font-size: 26px;
    }
}



@media (max-width:479px) {
    .b_overview_box{
        width: 100%;
    }
    .V_wifi_6e{
        font-size: 28px;
    }
    .V_strenthen{
        font-size: 26px;
    }
    .V_h1{
        font-size: 26px;
    }
    .V_crowd{
        font-size: 26px;
    }
}



/* ///////////////////////////////////////////////////  VK containor /////////////////////////////////////////// */

@media (min-width: 768px) {
    .VK_cont {
        width: 750px;
        margin: auto;
    }
}

@media (min-width: 992px) {
    .VK_cont {
        width: 970px;
        margin: auto;
    }
}

@media (min-width: 1200px) {
    .VK_cont {
        width: 1170px;
        margin: auto;
    }
}

@media (min-width: 1650px) {
    .VK_cont {
        width: 1610px;
        margin: auto;
    }
}













