* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {

    object-fit: cover;
}

a {
    text-decoration: none !important;
}

/* /////////////////////////////////////////////////////////////// */
/* /////////////////////////////1st section start ////////////////////////////////// */
.v_container {
    width: 1610px !important;
    margin: auto !important;
}
.v_bg_blue {
    background-color: #00285a;
    color: white;
    padding: 40px  0;
}



.v_margin_left {
    margin-left: 60px;
}

 /* .v_text_one {
    font-size: 40px;
    margin-bottom: 12px;
    font-weight: 600;
}  */
.v_text_head {
    font-size: 40px;
}

.v_text_two {
    margin-bottom: 8px;
}

.v_text_three a {
    color: white;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px dashed white;
}

.v_text_three:hover a {
    color: white !important;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid white;
}

.v_ult_proc_img img {
    width: 100%;
    height: 100%;
}

/* /////////////////////////////1st section start ////////////////////////////////// */
/* /////////////////////////////2nd section start ////////////////////////////////// */
.v_Proc_bg {
    background-color: #f3f3f3;
    /* margin: 30px 0; */
    /* width: 95%; */
}

.v_Proc_bg1 {
    /* margin: 10px auto !important; */
    padding: 25px 0;
    width: 90%;
    background-color: #f3f3f3;
    row-gap: 20px;
}

/* .v_i9_img {
    height: 100%;
    width: 100px;
    margin: 25px 0px 25px 25px;
} */

.v_text_1 {
    text-decoration: none !important;
    font-size: 20px;
    color: #0071c5;
}

.v_text_2 {
    text-decoration: none !important;
    width: 90% !important;
    color: black;
}

.v_text_2:hover {
    text-decoration: none !important;
    color: black;
}

/* /////////////////////////////2nd section end ////////////////////////////////// */
/* /////////////////////////////3rd section start ////////////////////////////////// */

.v_bg_navsec {
    background-color: #0068b5;
}

.v_mar_navsec {
    margin: 30px auto 30px;
    width: 90%;
    padding: 40px 0;
}

.v_textnav1 {
    font-size: 25px;
    color: white;
    margin-bottom: 15px;
}

.v_fea_text>button {
    color: white;
}

.v_fea_text.nav-pills .nav-link.active {
    background-color: transparent;
    border: 1px 0 1px 3px white;
    border-radius: 0;
    font-weight: 700;
}

.v_fea_text.nav-pills .nav-link {
    border-bottom: 2px solid white;
    border-radius: 0;
}

.v_fea_text .nav-link.active {
    border-left: 5px solid white;
    border-radius: 0;
}

.v_fea_text .nav-link:hover {
    color: white;
    border-left: 5px solid white !important;
    font-weight: 700;
    border-radius: 0;
}

.v_fea_text.nav-pills .nav-link:first-child {
    border-top: 2px solid white;
    border-radius: 0;
}

.v_nav_sec_text {
    margin: 30px 0;
    color: white;
    text-align: justify;
    width: 990px;
}
.v_nav_sec_pic img{
    width: 990px;
    height: 560px;
}

/* //////////////////// accordian start ///////////////////////////// */
.v_acco_sec {
    display: none;
}

.v_acco_bg.accordion-button:not(.collapsed) {
    color: white;
    background-color: transparent !important;
    box-shadow: 0;
}

.v_acco_item_bg .accordion-item {
    background-color: #0068b5 !important;
    border-bottom: 1px solid white;
}

.v_acco_item_bg .accordion-item:first-child {
    border-top: 1px solid white;

}

.v_acc_border_focus>.accordion-button:focus {
    border-color: transparent !important;
    box-shadow: 0 0 0 0 !important;
    /* border-color: #0068b5 !important; */
}

.v_acco_bg.accordion-button:not(.collapsed)::after {
    background-image: url();
}

.v_acco_bg.accordion-button {
    border: 0;
    color: white;
    background-color: transparent;
    box-shadow: 0;
}

.v_acco_sec_text {
    margin: 10px 0;
    color: white;
}

/* //////////////////// accordian end///////////////////////////// */

/* /////////////////////////////3rd section end ////////////////////////////////// */
/* /////////////////////////////4th section start ////////////////////////////////// */
.v_last_sec_pad {
    padding: 10px 0;
    width: 90%;
}

.v_last_sec_size {
    font-size: 28px;
}

.v_last_sec_bg {
    background-color: #f3f3f3;
    margin-top: 20px !important;
    margin-right: 25px;
    width: 435px;
    flex-wrap: wrap !important;
}

.v_last_sec_anchor {
    padding: 20px 30px;
    width: 280px;
}

.v_last_sec_anchor a {
    font-size: 18px;
    color: #0068b5;
}

.V_link {
    color: #0068b5;
}

.v_theme_bg{
    background-color: #f3f3f3;
}

/* /////////////////////////////4th section end ////////////////////////////////// */
/* ///////////////////////////// media query section start ////////////////////////////////// */
@media screen and (max-width: 1440px) {
    .v_container {
        width: 1200px !important;
        margin: auto !important;
    }
    .v_nav_sec_pic img{
        width: 730px;
        height: 415px;
    }
    .v_nav_sec_text{
        width: 720px;
    }
}
@media screen and (max-width: 1024px) {
    .v_container {
        width: 890px !important;
        margin: auto !important;
    }
    .v_ult_proc_img img {
        width: 210px;
        height: 120px;
    }
    .v_nav_sec_pic img{
        width: 540px;
        height: 310px;
    }
    .v_nav_sec_text{
        width: 540px;
    }
}

@media screen and (max-width: 768px) {

    .v_container {
        width: 700px !important;
        margin: auto !important;
    }
    .v_i9_img {
        height: 100%;
        width: 170px;
        margin: 0px 15px;
    }

    .v_text_1 {
        line-height: 25px;
    }

    .v_ult_proc_img img {
        width: 700px;
        height: 400px;
        margin-top: 50px;
    }

    .v_last_sec_bg {
        width: 320px;
        flex-wrap: wrap !important;
    }
    .v_last_sec_anchor a {
        font-size: 15px;
        color: #0068b5;
    }
    .v_nav_sec_pic img{
        width: 420px;
        height: 240px;
    }
    .v_nav_sec_text{
        width: 415px;
    }
}

@media screen and (max-width: 425px) {
    .v_container {
        width: 390px !important;
        margin: auto !important;
    }
    .v_ult_proc_img img {
        width: 390px;
        height: 220px;
        margin-top: 30px;
    }

    .v_text_1 {
        text-decoration: none !important;
        font-size: 15px;
        color: #0071c5;
    }

    .v_text_2 {
        display: none !important;
    }

    .v_sec_navtabs {
        display: none;
    }

    .v_acco_sec {
        display: block;
    }

    .v_i9_img {
        height: 100%;
        width: 70px;
        margin: 0px 15px;
    }
    .v_last_sec_bg {
        width: 350px;
        flex-wrap: wrap !important;
    }
    .v_last_sec_anchor{
        width: 350px !important;
    }
}
@media screen and (max-width: 375px) {
    .v_container {
        width: 335px !important;
        margin: auto !important;
    }
    /* .v_text_one {
        font-size: 28px;
        line-height: 40px;
    } */
    .v_text_three a {
        color: white;
        margin-bottom: 5px;
        padding-bottom: 5px;
        border-bottom: 1px dashed white;
        font-size: 15px;
    }
    .v_ult_proc_img img {
        width: 340px;
        height: 190px;
        margin-top: 30px;
    }
    .v_last_sec_anchor{
        width: 335px !important;
    }
}
@media screen and (max-width: 320px) {
    .v_container {
        width: 280px !important;
        margin: auto !important;
    }
    /* .v_text_one {
        font-size: 28px;
        line-height: 30px;
    } */
    .v_ult_proc_img img {
        width: 100%;
        height: 100%;
        margin-top: 30px;
    }
    .v_last_sec_anchor{
        width: 280px !important;
    }
}
/* /////////////////////////////media query section end ////////////////////////////////// */

/* -------------------------------------------------- media query ------------------------------------------ */

@media(min-width:1440px) {
    .v_text_head {
        font-size: 40px;
    }
    .v_last_sec_size {
        font-size: 28px;
    }
}

@media (max-width:1439px) and (min-width:1200px) {
    .v_text_head {
        font-size: 40px;
    }
    .v_last_sec_size {
        font-size: 28px;
    }
    
}

@media (max-width:1199px) and (min-width:992px) {
    .v_text_head {
        font-size: 32px;
    }
    .v_last_sec_size {
        font-size: 22px;
    }
    
}

@media (max-width:991px) and (min-width:768px) {
    .v_text_head {
        font-size: 32px;
    }
    .v_last_sec_size {
        font-size: 22px;
    }
    
}

@media (max-width:767px)and (min-width:576px) {
    .v_text_head {
        font-size: 28px;
    }
    .v_last_sec_size {
        font-size: 22px;
    }
    .v_Proc_bg1{
        background-color: white;
    }
    
    
}

@media (max-width:575px)and (min-width:480px) {
    .v_text_head {
        font-size: 28px;
    }
    .v_last_sec_size {
        font-size: 22px;
    }
    .v_Proc_bg1{
        background-color: white;
    }
    
}
  
@media (max-width:479px) {
    .v_text_head {
        font-size: 28px;
    }
    .v_last_sec_size {
        font-size: 22px;
    }
    .v_Proc_bg1{
        background-color: white;
    }
    
}





/* ///////////////////////////////////////////////////  VK containor /////////////////////////////////////////// */

@media (min-width: 768px) {

    .VK_cont {
        width: 750px;
        margin: auto;
    }

}

@media (min-width: 992px) {

    .VK_cont {
        width: 970px;
        margin: auto;
    }

}

@media (min-width: 1200px) {
    .VK_cont {
        width: 1170px;
        margin: auto;
    }
}

@media (min-width: 1650px) {

    .VK_cont {
        width: 1610px;
        margin: auto;
    }

}