.V_pc_bg {
    background-color: #00285a;
}

.V_micro {
    font-size: 40px;
    font-weight: 300;
}

.v_pad_topbot {
    padding: 40px 0;
}

.V_explore {
    font-size: 28px;
    font-weight: 300;
}

.v_tech_bg {
    padding: 15px 20px;
    height: 80px;
    background-color: #f5f5f5;
}

.v_tech_color {
    color: #0068b5 !important;
}

.v_tech_color:hover {
    color: #004a86 !important;
}


.V_image_tab {
    background-color: #0068b5;

}

.v_dynamic_li:not(:nth-child(1)) {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.v_dynamic_li:nth-child(1) {
    border-top: 1px solid white;
}

.v_dynamic_li:hover {
    border-left: 3px solid white;
}

.V_active_li {
    border-left: 3px solid white;
}

.V_accordion {
    background-color: #0068b5;
}

.V_accordion {
    border: 0px;
}

.V_custom_accor .accordion-button:not(.collapsed) {
    background-color: #000864;
}


.V_line1 {
    border-top: 1px solid white !important;
    border-bottom: 1px solid white !important;
}

.V_line {
    border-top: 1px solid white !important;
}

.V_line1 {
    /* border-top: 1px solid white; */
    border-bottom: 1px solid white;
}
.V_andecor{
    border-bottom: 1px dashed rgb(0, 66, 248);
    padding-bottom: 3px;
    color: #0068b5;
}

.V_andecor:hover{
    border-bottom: 1px solid rgb(0, 66, 248);
    padding-bottom: 3px;
}
.V_product {
    font-size: 12px;
}

@media (max-width:1920px) {
    .V_notice{
        font-size: 28px;
    }
}

@media(min-width:1440px) and (max-width:1650px) {
    .V_image {
        width: 260px;
        height: 146px;
    }

    .V_heading_11 {
        font-size: 36px;
    }
    .V_notice{
        font-size: 28px;
    }
}

@media (max-width:1439px) and (min-width:1200px) {
    .V_image {
        width: 260px;
        height: 146px;
    }

    .V_heading_11  {
        font-size: 36px;
    }
    .V_notice{
        font-size: 28px;
    }
}

@media (max-width:1199px) and (min-width:992px) {
    .V_image {
        width: 210px;
        height: 118px;
    }

    .V_micro {
        font-size: 32px;
    }

    .V_acc .V_notice {
        font-size: 22px;
    }

    .V_heading_11 {
        font-size: 28px;
    }
}

@media (max-width:991px) and (min-width:768px) {
    .V_image {
        width: 710px;
        height: 400px;
    }

    .V_micro {
        font-size: 32px;
    }

    .V_acc .V_notice {
        font-size: 22px;
    }

    .V_heading_11 {
        font-size: 28px;
    }
}

@media (max-width:767px)and (min-width:576px) {
    .V_image {
        width: 540px;
        height: 304px;
    }

    .V_micro {
        font-size: 28px;
    }

    .V_acc .V_notice {
        font-size: 22px;
    }

    .V_heading_11 {
        font-size: 26px;
    }
}

@media (max-width:575px)and (min-width:480px) {
    .V_image {
        width: 445px;
        height: 250px;
    }

    .V_micro {
        font-size: 28px;
    }

    .V_acc .V_notice {
        font-size: 22px;
    }

    .V_heading_11 {
        font-size: 26px;
    }
}

@media (max-width:479px)and (min-width:320px) {
    .V_image {
        width: 287px;
        height: 161px;
    }

    .V_micro {
        font-size: 28px;
    }

    .V_acc .V_notice {
        font-size: 22px;
    }

    .V_heading_11 {
        font-size: 26px;
    }
}



/* ///////////////////////////////////////////////////  VK containor /////////////////////////////////////////// */

@media (min-width: 768px) {
    .VK_cont {
        width: 750px;
        margin: auto;
    }
}

@media (min-width: 992px) {
    .VK_cont {
        width: 970px;
        margin: auto;
    }
}

@media (min-width: 1200px) {
    .VK_cont {
        width: 1170px;
        margin: auto;
    }
}

@media (min-width: 1650px) {
    .VK_cont {
        width: 1610px;
        margin: auto;
    }
}