* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.v_container {
  width: 1610px !important;
  margin: auto !important;
}

.v_pad_topbot {
  padding: 40px 0;
}

.v_top-Img {
  background-image: url(../img/Akshay\ image/system-and-devices-laptop-marquee-desktop-marquee-16x9.png.rendition.intel.web.1920.1080.png);
  height: 303px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.v_content-parent {
  display: flex;
  justify-content: end;
}

.v_img_upon-cont {
  background-color: #0068b5;
  padding: 20px;
  max-width: 53.5%;
  top: 47px;
  margin-right: 45px;
  padding-bottom: 40px;
  position: relative;
}

.v_content-parent .v_img_upon-cont h1 {
  font-size: 40px;
  font-weight: 300;
  line-height: 1.2;
}

.v_content-parent .v_img_upon-cont p {
  font-size: 16px;
  line-height: 1.4 !important;
}

.v_squre {
  position: absolute;
  content: " ";
  width: 40px;
  height: 40px;
  background-color: #00a3f6;
  left: -40px;
  bottom: -40px;
}

.v_img_upon-cont1 {
  display: none;
}

.v_system-text h2 {
  font-weight: 400;
}

.v_subtitle span {
  font-size: 16px;
  margin: 0 0 12px;
}

.v_res-img {
  display: none;
}

.v_res_content {
  display: none;
}

/* <!-- Intel®-Based Systems for Everything You Do --> */

.v_items_4-cards .v_card-top {
  height: 208px;
  width: 290px;
  object-fit: cover;
}

.v_items_4-cards .v_c_main-title {
  font-weight: 300;
  color: #0068b5;
  font-size: 24px;
}

.v_link-text {
  color: #0068b5;
}

.v_link-text:hover {
  border-bottom: 1px solid #004a86;
}

/* .v_items_3-cards .v_card-top {
  height: 283px;
  width: 504px;
  object-fit: cover;
} */

.v_items_3-cards .v_c_main-title {
  font-weight: 300;
  color: #0068b5;
  font-size: 24px;
}

/* simpleCard  */
.v_simpleCard {
  background-color: #f7f7f7;
}

.v_mainText-card h2 {
  font-weight: 300;
}

.v_do-first {
  background-color: #fff;
  height: 70px;
  display: flex;
  align-items: center;
  padding: 20px;
}

.v_fourth_squre {
  color: #0068b5;
}

.v_fourth_squre:hover {
  color: #004a86;
}
.v_showmore_parent{
  display: none;
}


@media screen and (max-width: 1440px) {
  .v_container {
    width: 1200px !important;
    margin: auto !important;
  }

  /* start */
  .v_top-Img {
    height: 350px !important;
  }

  .v_img_upon-cont {
    max-width: 52% !important;
    padding-bottom: 48px !important;
  }

  /* <!-- Intel®-Based Systems for Everything You Do --> */
  .v_items_4-cards .v_card-top {
    height: 146px;
    /* width: 260px; */
    object-fit: cover;
  }
}

@media screen and (max-width: 1024px) {
  .v_container {
    width: 890px !important;
    margin: auto !important;
  }

  .v_content-parent .v_img_upon-cont h1 {
    font-size: 32px !important;
  }

  .v_content-parent .v_img_upon-cont p {
    line-height: 1.25 !important;
  }

  .v_img_upon-cont {
    max-width: 50.7% !important;
  }

  /* <!-- Intel®-Based Systems for Everything You Do --> */
  .v_items_4-cards {
    width: auto !important;
  }

  .v_items_4-cards .v_card-top {
    height: 210px;
    /* width: 453px; */
    object-fit: cover;
  }
}

@media screen and (max-width: 768px) {
  .v_container {
    width: 700px !important;
    margin: auto !important;
  }

  .v_top-Img {
    height: 390px !important;
  }

  .v_img_upon-cont {
    max-width: 48% !important;
  }

  .v_img_upon-cont {
    padding: 14px !important;
    padding-bottom: 46px !important;
  }
}

@media screen and (max-width: 425px) {
  .v_container {
    width: 390px !important;
    margin: auto !important;
  }

  .v_top-Img {
    display: none;
  }

  .v_res_content {
    background-color: #0068b5;
  }

  .v_res_content .v_res-mainText {
    font-weight: 300;
  }

  .v_res-img {
    display: block;
  }

  .v_res_content {
    display: block;
  }

  .v_res-img img {
    height: 240px;
    width: 100%;
  }

  .v_simpleCard {
    padding: 16px !important;
  }

  .v_do-first {
    width: 97%;
  }

  /* Show more-less */
  .v_card-container {
    display: none;
  }

  .v_card-container.visible {
    display: block;
  }

  #v_showMoreBtn {
    display: block;
  }
  .v_showmore_parent{
    display: block;
  }
  /* .v_showmore_line {
    display: flex;
    align-items: center;
    color: #0068b5; 
    font-weight: bold;
}

    .v_showmore_line::after {
        content: "";
        flex: 1;
        width: 500px !important;
        height: 100px;
        color: #0068b5;
        border-bottom: 1px solid #007bff;
        margin: 0 10px; 
    } */
}

@media screen and (max-width: 375px) {
  .v_container {
    width: 335px !important;
    margin: auto !important;
  }
}

@media (min-width: 321px) {
  /* #v_showMoreBtn {
    display: none;
  } */
}

@media screen and (max-width: 320px) {
  .v_container {
    width: 280px !important;
    margin: auto !important;
  }

}