/* //////////////////////////////////////////////////////////////////// */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    font-family: 'Intel Clear', sans-serif;
}

img {
    width: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: white;
}




.V_bg_create {
    background-image: url('/img/Akshay image/V_lets_create_bg_img.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.V_stream_bg{
    background-image: url('/img/Akshay image/V_stream_like_a_pro_bg.png');
    
    background-repeat: no-repeat;
    background-size: cover;
}

.V_back_bg{
    background-image: url('/img/Akshay image/V_background_blur_bg.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.V_top{
    background-image: url('/img/Akshay image/V_bg_top_img.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}



.V_andecor {
    border-bottom: 1px dashed rgb(255, 255, 255);
    padding-bottom: 3px;
}

.V_andecor:hover {
    border-bottom: 1px solid rgb(255, 255, 255);
    padding-bottom: 3px;
}


.V_button {
    background-color: transparent ;
    border: 2px solid white;
}

.V_button:hover {
    background-color: #ffffff;
    color: black;
}


.V_bg_blue{
    background-color: #040e35;
}

.V_accordion{
    background-color: #040e35;
}
.V_accordion {
    border: 0px;
}
.V_line {
    border-top: 1px solid white;
}

.V_line1 {
    /* border-top: 1px solid white; */
    border-bottom: 1px solid white;
}
.V_line1 {
    border-top: 1px solid white !important;
    border-bottom: 1px solid white !important;
}

.V_accordian_bg {
    background-color: #040e35;
}

.V_image_tab{
    background-color: #040e35; 
}


.v_dynamic_li:not(:nth-child(1)){
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.v_dynamic_li:nth-child(1){
    border-top: 1px solid white;
}

.v_dynamic_li:hover{
    border-left: 3px solid white;
}

.V_active_li{
    border-left: 3px solid white;
}

.accordion-button:not(.collapsed) {
    background-color: transparent;    
}





@media(min-width:1440px) {
    .V_head{
        font-size: 40px;
    }
    .V_acc{
        font-size: 28px;
    }
}

@media (max-width:1439px) and (min-width:1200px) {
    .V_head{
        font-size: 40px;
    }
    .V_acc{
        font-size: 28px;
    }
}

@media (max-width:1199px) and (min-width:992px) {
    .V_head{
        font-size: 32px;
    }
    .V_acc{
        font-size: 22px;
    }
}

@media (max-width:991px) and (min-width:768px) {
    .V_head{
        font-size: 32px;
    }
    .V_acc{
        font-size: 22px;
    }
}

@media (max-width:767px)and (min-width:576px) {
    .V_head{
        font-size: 28px;
    }
    .V_acc{
        font-size: 22px;
    }
}

@media (max-width:575px)and (min-width:480px) {
    .V_head{
        font-size: 28px;
    }
    .V_acc{
        font-size: 22px;
    }
}

@media (max-width:479px) {
    .V_head{
        font-size: 28px;
    }
    .V_acc{
        font-size: 22px;
    }
    .V_top{
        background-position: left;
    }
}



/* ///////////////////////////////////////////////////  VK containor /////////////////////////////////////////// */

@media (min-width: 768px) {
    .VK_cont {
        width: 750px;
        margin: auto;
    }
}

@media (min-width: 992px) {
    .VK_cont {
        width: 970px;
        margin: auto;
    }
}

@media (min-width: 1200px) {
    .VK_cont {
        width: 1170px;
        margin: auto;
    }
}

@media (min-width: 1650px) {
    .VK_cont {
        width: 1610px;
        margin: auto;
    }
}