* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* ////////////////////////// main /////////////////////// */
.v_game_bg {
    background-image: url(../img/Akshay\ image/thunderbolt_main.png);
    width: 100%;
    height: 350px;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.v_intelgame {
    display: block;
}

.v_bg_blue {
    background-color: #0068b5;
    position: relative;
    width: 1020px;
    height: 220px;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    top: 50px;
    margin-left: auto;
    right: 50px;
}

.v_content_main {
    font-size: 38px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
}

.v_intelgame425 {
    display: none;
}

.v_square {
    position: absolute;
    bottom: -44px;
    left: -45px;
    width: 45px;
    height: 45px;
    background-color: #00A3F6;
}

/* ////////////////////////// main /////////////////////// */
/* /////////////////////////////////////////// */
.v_container {
    width: 1610px;
    margin: auto;
}

.v_pad_topbot {
    padding: 40px 0;
}

.VK_ai_navigation {
    background-color: white;
    border-bottom: 1px solid #d7d7d7;
}

.VK_ai_nav_bar a {
    color: #262626;
    padding: 15px 30px;
    word-break: normal;
    font-weight: 500;
    white-space: nowrap;
}

.VK_ai_nav_bar li {
    margin: 0px 15px;
}

.VK_ai_navigation.VK_sticky_nav_bar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.VK_active_link {
    position: relative;
    color: #00aeef;
}

.VK_active_link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    background: #00aeef;
}

.VK_ai_nav_bar li a {
    transition: color 0.3s, border-bottom 0.3s;
}


.VK_ai_nav_bar a.active {
    font-weight: bold;
    color: #0068b5 !important;
    position: relative;
}

.VK_ai_nav_bar a.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    background: #00aeef;
}

/* //////////////////////////////////////////////////////// */
.v_over_text {
    font-size: 36px;
    line-height: 45px;
    font-family: Arial, Helvetica, sans-serif;
    color: #262626;
}

.v_over_sub {
    font-size: 16px;
    color: #262626;
    margin-top: 10px;
}

.v_thunderbolt_main {
    width: 100%;
    height: 580px;
}

.v_mainimg_four {
    width: 370px;
    height: 200px;
}

.hidden-mobile {
    display: block;
}

.toggle-btn {
    display: none;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #0071c5;
    color: white;
    border: none;
    cursor: pointer;
}

.v_nav_active.nav-tabs .nav-link {
    color: #0068b5;
}

.v_nav_active.nav-tabs .nav-link:hover {
    background-color: #f2f2f2;
}

.v_nav_active.nav-tabs .nav-link.active {
    color: #0068b5;
    background-color: #e9e9e9;
    border-color: white white #b6b6b6;
    border-bottom: 2px solid #0068b5;
}

.v_nav_main_content {
    font-size: 22px;
    text-align: center;
}

.v_nav_state {
    color: #005b85;
    font-size: 100px;
    text-align: center;
}

.v_nav_subcontent {
    font-size: 16px;
    text-align: center;
}

.unit {
    font-size: 2rem !important;
    top: -60px;
}

.v_slider_block {
    display: block;
}

.v_slider_none {
    display: none;
}

.v_tech_color {
    color: #0068b5 !important;
}

.v_tech_color:hover {
    color: #004a86 !important;
}

.v_tech_bg {
    padding: 15px 20px;
    height: 80px;
    background-color: #f5f5f5;
}


/* //////////////////////////////////////////////////////// */
/* ///////////////////////////// 3rd section /////////////////////////// */
.v_bg_capabi {
    background-color: #f8f8f8;
}

.v_slider_btn1.carousel-indicators [data-bs-target] {
    height: 14px;
    width: 14px;
    background-color: #525252;
    margin-right: 15px;
}

.v_slider_btn1.carousel-indicators {
    bottom: -80px !important;
}

.v_slider_prev.carousel-control-prev {
    left: -100px !important;
}

.v_slider_prev>.carousel-control-prev-icon {
    background-color: #292828 !important;
    width: 40px !important;
    height: 100px !important;
}

.v_slider_next.carousel-control-next {
    right: -100px !important;
}

.v_slider_next>.carousel-control-next-icon {
    background-color: #292828 !important;
    width: 40px !important;
    height: 100px !important;
}
.v_anchor_line{
    border-bottom: 1px dashed #0068b5;
    color: #0068b5;
}
.v_anchor_line:hover{
    border-bottom: 1px solid #0068b5;
}
.v_mainimg_three{
    width: 500px;
    height: 280px;
}
.v_img_two{
    width: 770px;
    height: 430px;
}

/* ///////////////////////////// 3rd section /////////////////////////// */
/* ///////////////////////////// 4th section /////////////////////////// */
.v_img_container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 450px;
    
}
.v_img_container:hover .v_gamehover_img {
    transform: scale(1.1);
}
.v_img_container:hover .v_text_overlay {
    background-color: rgba(0, 0, 0, 0.5) !important;
}
.v_gamehover_img {
    transition: transform 0.5s ease;
}
.v_gamehover_img{
    width: 100%;
    height: 450px;
}
.v_text_overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
}
.v_img_container:hover .v_text_overlay {
    background-color: rgba(0, 0, 0, 0.5) !important;
}
.v_text_overlay h2,
.v_text_overlay p,
.v_text_overlay a {
    color: white;
}
.v_border_bottam{
    color: #0068b5 !important;
}
.v_visit_hover:hover{
    background-color: #cac9c9 !important;
}

/* /////////////////////////////  4thsection /////////////////////////// */
/* ////////////////////// media query /////////////////// */
@media only screen and (max-width: 1440px) {
    .v_container {
        width: 1200px !important;
        margin: auto !important;
    }

    .v_bg_blue {
        width: 740px !important;
        height: 230px;
    }

    .v_square {
        bottom: -45px;
        width: 45px;
        height: 45px;
    }

    .v_game_bg {
        background-image: url(../img/Akshay\ image/thunderbolt_main1140.png);
        width: 100%;
        height: 350px;
        object-fit: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .v_content_main {
        font-size: 38px;
        line-height: 45px;
        font-weight: 100 !important;
        font-family: Arial, Helvetica, sans-serif;
    }

    .v_thunderbolt_main {
        width: 750px;
        height: 420px;
    }

    .v_mainimg_four {
        width: 260px;
        height: 140px;
    }
    .v_slider_prev.carousel-control-prev {
        left: -70px !important;
    }
    .v_slider_next.carousel-control-next {
        right: -70px !important;
    }
    .v_mainimg_three{
        width: 350px;
        height: 200px;
    }
    .v_img_two{
        width: 550px;
        height: 310px;
    }
}

@media only screen and (max-width: 1024px) {
    .v_container {
        width: 890px !important;
        margin: auto !important;
    }

    .v_game_bg {
        background-image: url(../img/Akshay\ image/thunderbolt_main1024.png);
        width: 100%;
        height: 350px;
        object-fit: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .v_bg_blue {
        width: 530px !important;
    }

    .v_square {
        bottom: -45px;
        width: 45px;
        height: 45px;

    }

    .v_content_main {
        font-size: 30px;
        line-height: 35px;
        font-weight: 100 !important;
        font-family: Arial, Helvetica, sans-serif;
    }

    .v_content_sub {
        font-size: 16px;
        line-height: 20px;
        margin-top: 10px;
    }

    .v_thunderbolt_main {
        width: 610px;
        height: 340px;
    }

    .v_over_text {
        line-height: 38px;
        font-size: 25px;
    }

    .v_over_sub {
        line-height: 20px;
    }

    .v_mainimg_four {
        width: 450px !important;
        height: 250px !important;
    }
    .v_slider_prev.carousel-control-prev {
        left: -48px !important;
    }
    .v_slider_next.carousel-control-next {
        right: -48px !important;
    }
    .v_mainimg_three{
        width: 290px;
        height: 160px;
    }
    .v_img_two{
        width: 450px;
        height: 250px;
    }
    .v_gamehover_img{
        width: 100%;
        height: 450px;
    }
    .v_game_img_text{
        font-size: 15px;
        width: 80%;
    }
}

@media only screen and (max-width: 768px) {
    .v_container {
        width: 700px !important;
        margin: auto !important;
    }

    .v_game_bg {
        background-image: url(../img/Akshay\ image/thunderbolt_main768.png);
        width: 100%;
        height: 500px;
        object-fit: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .v_bg_blue {
        width: 380px !important;
        height: 350px !important;
    }

    .v_content_main {
        font-size: 34px;
        font-weight: light;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 40px;
    }

    .v_thunderbolt_main {
        width: 470px;
        height: 260px;
    }

    .v_mainimg_four {
        width: 340px !important;
        height: 190px !important;
    }

    .v_nav_state {
        font-size: 90px;
    }

    /* 00000000000000000000 */
    .v_nav_active1.nav-tabs {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
    }

    .v_nav_active1.nav-item {
        flex: 0 0 auto;
    }
    .v_slider_prev.carousel-control-prev {
        /* left: -48px !important; */
        display: none;
    }
    .v_slider_next.carousel-control-next {
        /* right: -48px !important; */
        display: none;
    }
    .v_mainimg_three{
        width: 220px;
        height: 120px;
    }
    .v_img_two{
        width: 340px;
        height: 190px;
    }
    .v_img_container{
        height: 350px;
    }
    .v_gamehover_img{
        width: 100%;
        height: 350px;
    }
    .v_text_overlay{
        height: 350PX;
    }
   
}

@media only screen and (max-width: 425px) {
    .v_container {
        width: 390px !important;
        margin: auto !important;
    }

    .v_game_bg {
        width: 425px;
        height: 230px;
        object-fit: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .v_intelgame {
        display: none;
    }

    .v_bg_blue {
        width: 530px !important;
    }

    .v_intelgame425 {
        display: block;
    }

    .v_bg_blue_1 {
        background-color: #0068b5;
        width: 425px;
        height: 230px;
    }

    .v_425main {
        color: white;
        padding: 8px;
        font-size: 28px;
    }

    .v_425sub {
        color: white;
        padding: 8px;
        font-size: 14px;
        line-height: 18px;
    }

    .v_thunderbolt_main {
        width: 390px;
        height: 230px;
    }

    .v_mainimg_four {
        width: 390px !important;
        height: 220px !important;
    }

    .hidden-mobile {
        display: none;
    }

    .toggle-btn {
        display: block;
    }

    .v_nav_active.nav-tabs-container {
        overflow-x: auto;
        white-space: nowrap;
    }

    .v_nav_active.nav-tabs {
        display: inline-flex;
        flex-wrap: nowrap;
    }

    .v_nav_active.nav-item {
        float: none;
        display: inline-block;
    }

    .v_slider_block {
        display: none;
    }

    .v_slider_none {
        display: block;
    }

    .v_nav_state {
        font-size: 100px;
    }

    .v_slider_btn.carousel-indicators [data-bs-target] {
        height: 14px;
        width: 14px;
        background-color: #525252;
        margin-right: 15px;
    }

    .v_slider_btn.carousel-indicators {
        bottom: -80px !important;
    }

    .v_nav_active1.nav-tabs {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
    }

    .v_nav_active1.nav-item {
        flex: 0 0 auto;
    }
    .v_mainimg_three{
        width: 390px;
        height: 220px;
    }
    .v_img_two{
        width: 390px;
        height: 220px;
    }

}

@media only screen and (max-width: 375px) {
    .v_container {
        width: 335px !important;
        margin: auto !important;
    }

    .v_game_bg {
        width: 375px;
    }

    .v_bg_blue {
        width: 530px !important;
    }

    .v_bg_blue_1 {
        width: 375px;
        height: 240px;
    }

    .v_425main {
        font-size: 25px !important;
    }

    .v_thunderbolt_main {
        width: 340px;
        height: 210px;
    }

    .v_mainimg_four {
        width: 340px !important;
        height: 190px !important;
    }
    .v_mainimg_three{
        width: 340px;
        height: 190px;
    }
    .v_img_two{
        width: 340px;
        height: 190px;
    }

}

@media only screen and (max-width: 320px) {
    .v_container {
        width: 280px !important;
        margin: auto !important;
    }

    .v_game_bg {
        width: 320px;
    }

    .v_bg_blue {
        width: 530px !important;
    }

    .v_bg_blue_1 {
        width: 320px;
        height: 240px;
    }

    .v_425main {
        font-size: 22px !important;
    }

    .v_thunderbolt_main {
        width: 280px;
        height: 180px;
    }

    .v_over_text {
        font-size: 22px;
    }

    .v_mainimg_four {
        width: 280px !important;
        height: 190px !important;
    }
    .v_mainimg_three{
        width: 290px;
        height: 160px;
    }
    .v_img_two{
        width: 290px;
        height: 160px;
    }
}

/* ////////////////////// media query /////////////////// */