* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* /////////////////////////////////////////// */
.v_container {
    width: 1610px;
    margin: auto;
}

.v_pad_topbot {
    padding: 40px 0;
}
.VK_ai_navigation {
    background-color: white;
    border-bottom: 1px solid #d7d7d7;
  }
  
  .VK_ai_nav_bar a {
    color: #262626;
    padding: 15px 30px;
    word-break: normal;
    font-weight: 500;
    white-space: nowrap;
  }
  
  .VK_ai_nav_bar li {
    margin: 0px 15px;
  }
  
  .VK_ai_navigation.VK_sticky_nav_bar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .VK_active_link {
    position: relative;
    color: #00aeef;
  }
  .VK_active_link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    background: #00aeef;
  }
  .VK_ai_nav_bar li a {
    transition: color 0.3s, border-bottom 0.3s;
  }


.VK_ai_nav_bar a.active {
    font-weight: bold;
    color: #0068b5 !important;
    position: relative;
}
.VK_ai_nav_bar a.active::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    background: #00aeef;
}
/* //////////////////////////////////////////////////////// */
.v_over_text{
    font-size: 36px;
    line-height: 45px;
    font-family: Arial, Helvetica, sans-serif;
    color: #262626;
}
.v_over_sub{
    font-size: 16px;
    color: #262626;
    margin-top: 10px;
}
/* //////////////////////////////////////////////////////// */

/* ////////////////////// media query /////////////////// */
@media only screen and (max-width: 1440px) {
    .v_container {
        width: 1200px !important;
        margin: auto !important;
    }
}

@media only screen and (max-width: 1024px) {
    .v_container {
        width: 890px !important;
        margin: auto !important;
    }
}

@media only screen and (max-width: 768px) {
    .v_container {
        width: 700px !important;
        margin: auto !important;
    }
}

@media only screen and (max-width: 425px) {
    .v_container {
        width: 390px !important;
        margin: auto !important;
    }
}

@media only screen and (max-width: 375px) {
    .v_container {
        width: 335px !important;
        margin: auto !important;
    }
}
@media only screen and (max-width: 320px) {
    .v_container {
        width: 280px !important;
        margin: auto !important;
    }
}

/* ////////////////////// media query /////////////////// */