/* //////////////////////////////////////////////////////////////////// */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    font-family: 'Intel Clear', sans-serif;
}

img {
    width: 100%;
    /* height: 750px; */
    object-fit: cover;
}

a {
    text-decoration: none;
    /* color: white; */
}




.V_bg_create {
    background-image: url('/img/Akshay image/V_thundr_head_bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.b_overview_main {
    position: relative;
}

.b_overview_box {
    width: 100%;
}

.b_overview_box1 {
    position: absolute;
    top: 100%;
    left: -50px;
    height: 50px;
    width: 50px;
    background-color: #86b3ca;
}

.VK_ai_navigation {
    background-color: white;
    border-bottom: 1px solid #d7d7d7;
}

.VK_ai_navigation.VK_sticky_nav_bar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 6px 5px rgba(0, 0, 0, 0.1);
}

.VK_ai_nav_bar a {
    color: #262626;
    padding: 15px 10px;
    word-break: normal;
    font-weight: 500;
}

.VK_ai_nav_bar li {
    margin: 0px 15px;
}

.V_sticky_bar {
    position: sticky !important;
    top: 0px;
    left: 0px;
}

.V_bor_botom {
    border-bottom: 2px solid #00aeef;
}

.VK_active_link {
    border-bottom: 3px solid #00aeef;
}

.V_simple {
    font-size: 24px;
}

.buttton_color {
    color: #0068b5;
}

.v_show_span {
    color: #0068b5;
}

.v_show_span {
    width: 20%;
    height: 2px;
    display: inline-block;
    margin: 0px 5px;
    background-color: #0068b5;
}

.nav-tabs1 .nav-link1 {
    color: #0068b5;
    /* Color for all tabs */
    border: none;
    /* Remove any default border */
}

.nav-tabs1 .nav-link1.active {
    border-bottom: 4px solid #00aeef;
    /* Active tab border */
    color: #0068b5;
    /* Keep the text blue for the active tab */
}

.v_white_space {
    white-space: nowrap;
}


.V_top{
    top: -1.8em;
}



.v_white_space{
    white-space: nowrap;
}

.v_pad_topbot {
    padding: 0px 0;
}

.v_tech_bg {
    padding: 15px 20px;
    height: 80px;
    background-color: #f5f5f5;
}

.v_tech_color {
    color: #0068b5 !important;
}

.v_tech_color:hover {
    color: #004a86 !important;
}

.v_carosal_cange .owl-carousel {
    position: relative;
}

.v_carosal_cange .owl-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
}

.v_carosal_cange .owl-prev,
.v_carosal_cange .owl-next {
    position: absolute;
    font-size: 24px !important;
    color: #0068b5 !important;
    background: none !important;
}

.v_carosal_cange .owl-prev {
    left: -30px;
}

.v_carosal_cange .owl-next {
    right: -30px;
}

.v_carosal_cange .owl-prev:hover,
.v_carosal_cange .owl-next:hover {
    background: none !important;
    color: #004d8c !important;
}

.v_carosal_cange .v_item_product {
    text-decoration: none;
    color: #0068b5;
}

.v_carosal_cange .owl-dots .owl-dot span {
    border-radius: 0 !important;
}

/* Style for the navigation buttons */
.v_carosal_cange .owl-nav button.owl-prev,
.v_carosal_cange .owl-nav button.owl-next {
    /* background-color: blue !important; */
    border: 4px solid #0068b5 !important;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.v_carosal_cange .owl-nav button.owl-prev {
    left: -20px;
}

/* Position the next button */
.v_carosal_cange .owl-nav button.owl-next {
    right: -20px;
}

/* Apply scaling effect on hover */
.v_carosal_cange .owl-nav button.owl-prev:hover,
.v_carosal_cange .owl-nav button.owl-next:hover {
    transform: translateY(-50%) scale(1.1);
    /* Scale the button to 110% */
}

.v_carosal_cange .owl-nav button.owl-prev span,
.v_carosal_cange .owl-nav button.owl-next span {
    font-size: 40px;
    margin-bottom: 10px;
}

.v_laptop_slider {
    width: 440px !important;
    height: 330px !important;
}



.owl-theme .owl-nav {
    margin-top: -207px;
}


.V_andecor_r {
    border-bottom: 1px dashed #004a86;
    padding-bottom: 3px;
}

.V_andecor_r:hover {
    border-bottom: 1px solid #004a86;
    padding-bottom: 3px;
}


.V_next_gen_text{
    font-size: 14px;
}

.V_table td, .V_table th{
    border: 2px solid #e9e9e9;
}

.V_th_bg_color{
    background-color: #e9e9e9;
}
.V_row_bg{
    background-color: #f7f7f7;
}
.V_row1_bg{
    background-color: #ffffff;
}
.V_border_right{
    border-right: 2px solid white;
}
.V_WIDTH{
    width: 17%;
}
.V_WIDTH1{
    width: 28%;
}
.V_WIDTH2{
    width: 9%;
}
.V_WIDTH3{
    width: 15%;
}
.V_WIDTH4{
    width: 61%;
}





.v_img_container {
    position: relative;
    overflow: hidden;
}
.v_img_container:hover .v_gamehover_img {
    transform: scale(1.1);
}
.v_img_container:hover .v_text_overlay {
    background-color: rgba(0, 0, 0, 0.5) !important;
}
.v_gamehover_img {
    transition: transform 0.5s ease;
    /* width: 498px; */
    height: 304px;
}
/* .v_gamehover_img{
    width: 100%;
    height: 400px;
} */
.v_text_overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
    padding: 50px;
}
.v_text_overlay h2,
.v_text_overlay p,
.v_text_overlay a {
    color: white;
}

.V_handle1{
    font-size: 36px;
}

.V_section4_bg{
    background-color: #f7f7f7;
}

.v_white_space{
    white-space: nowrap;
}

.V_visit{
    border: 1px solid black;
    background-color: white;
    color: #0068b5 !important;
}

.V_visit:hover{
    border: 1px solid black;
    background-color: #e9e9e9;
    color:#004a86 !important;
}

.accordion-button:focus {
    z-index: 3;
    border-color: none;
    outline: 0;
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    color: black !important;
    background-color: white;
    box-shadow: none  !important;
}

.accordion-item {
    background-color: #fff;
    border-right: none;
    border-left: none;
    border-top: 2px solid rgba(0, 0, 0, .125);
    border-bottom: 2px solid rgba(0, 0, 0, .125);
}
.accordion-body {
    padding: 0rem 1.25rem;
}
.V_BOT:hover{
    text-decoration: underline;
}




@media(min-width:1440px) {
    .V_pading {
        padding: 0px 60px 0px 0px;
    }
    .V_wifi_6e {
        font-size: 40px;
    }
    .V_conn {
        font-size: 36px;
    }
    .V_BAVI{
        font-size: 22px;
    }
    .V_head1{
        font-size: 28px;
    }
}

@media (max-width:1439px) and (min-width:1200px) {
    .V_pading {
        padding: 0px 60px 0px 0px;
    }
    .V_wifi_6e {
        font-size: 40px;
    }
    .V_conn {
        font-size: 36px;
    }
    .V_BAVI{
        font-size: 22px;
    }
    .V_head1{
        font-size: 28px;
    }
}

@media (max-width:1199px) and (min-width:992px) {
    .V_pading {
        padding: 0px 60px 0px 0px;
    }
    .V_wifi_6e {
        font-size: 32px;
    }
    .V_conn {
        font-size: 28px;
    }
    .V_BAVI{
        font-size: 20px;
    }
    .V_head1{
        font-size: 22px;
    }
}

@media (max-width:991px) and (min-width:768px) {
    .V_pading {
        padding: 0px 60px 0px 0px;
    }
    .V_wifi_6e {
        font-size: 32px;
    }
    .V_conn {
        font-size: 28px;
    }
    .V_BAVI{
        font-size: 20px;
    }
    .V_head1{
        font-size: 22px;
    }
}

@media (max-width:767px)and (min-width:576px) {
    .V_wifi_6e {
        font-size: 28px;
    }
    .V_conn {
        font-size: 26px;
    }
    .V_BAVI{
        font-size: 20px;
    }
    .V_head1{
        font-size: 22px;
    }
}

@media (max-width:575px)and (min-width:480px) {
    .V_wifi_6e {
        font-size: 28px;
    }
    .V_conn {
        font-size: 26px;
    }
    .V_BAVI{
        font-size: 20px;
    }
    .V_head1{
        font-size: 22px;
    }
}

@media (max-width:479px) {
    .V_wifi_6e {
        font-size: 28px;
    }
    .V_conn {
        font-size: 26px;
    }
    .V_BAVI{
        font-size: 20px;
    }
    .V_head1{
        font-size: 22px;
    }
}







/* ///////////////////////////////////////////////////  VK containor /////////////////////////////////////////// */

@media (min-width: 768px) {
    .VK_cont {
        width: 750px;
        margin: auto;
    }
}

@media (min-width: 992px) {
    .VK_cont {
        width: 970px;
        margin: auto;
    }
}

@media (min-width: 1200px) {
    .VK_cont {
        width: 1170px;
        margin: auto;
    }
}

@media (min-width: 1650px) {
    .VK_cont {
        width: 1610px;
        margin: auto;
    }
}