* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {

    object-fit: cover;
}

a {
    text-decoration: none !important;
}



.V_bg_color{
    background-color: #00285a;
}
.V_ptag{
    color:#0068b5;
}
.V_ptag a{
    padding: 0px 10px;

}

.V_ptag:hover{
    color: #00285a;
    /* border-left-color: #00285a; */
    border-left: 4px solid #00285a;
    font-weight: bold;
}


.V_ptag_active{
    color: #00285a;
    /* border-left-color: #00285a; */
    border-left: 4px solid #00285a;
    font-weight: bold;
    
}

.V_pfirst_text{
    font-size: 20px;
}

.V_sticky_bar{
    position: sticky !important;
    top: 0px;
}
.v_show_span {
    color: #0068b5;
}
.v_show_span{
    width: 20%;
    height: 2px;
    display: inline-block;
    margin: 0px 5px;
    background-color: #0068b5;
   }
   
.buttton_color {
    color: #0068b5;
}

.V_andecor{
    border-bottom: 1px dashed rgb(0, 66, 248);
    padding-bottom: 3px;
}












/* -------------------------------------------------- media query ------------------------------------------ */
@media (min-width:1920px) {
  
}

@media (max-width:1919px) and (min-width:1440px) {

}

@media (max-width:1439px) and (min-width:1200px) {
 
}

@media (max-width:1199px) and (min-width:992px) {
   
}

@media (max-width:991px) and (min-width:768px) {
  
}

@media (max-width:767px)and (min-width:576px) {
    
}

@media (max-width:575px)and (min-width:480px) {
    
}

@media (max-width:479px) {

}


/* ///////////////////////////////////////////////////  VK containor /////////////////////////////////////////// */

@media (min-width: 768px) {

    .VK_cont {
        width: 750px;
        margin: auto;
    }

}

@media (min-width: 992px) {

    .VK_cont {
        width: 970px;
        margin: auto;
    }

}

@media (min-width: 1200px) {
    .VK_cont {
        width: 1170px;
        margin: auto;
    }
}

@media (min-width: 1650px) {

    .VK_cont {
        width: 1610px;
        margin: auto;
    }

}