/* //////////////////////////////////////////////////////////////////// */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    font-family: 'Intel Clear', sans-serif;
}

img {
    width: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: white;
}

/* //////////////////////////////////////////////////////////////////// */



.b_overview_main {
    position: relative;
}

.b_overview_box {
    width: 80%;
}

.b_overview_box1 {
    position: absolute;
    top: 100%;
    left: 90%;
    height: 50px;
    width: 50px;
    background-color: #86b3ca;
}

.VK_ai_navigation {
    background-color: white;
    border-bottom: 1px solid #d7d7d7;
}

.VK_ai_navigation.VK_sticky_nav_bar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 6px 5px rgba(0, 0, 0, 0.1);
}

.VK_ai_nav_bar a {
    color: #262626;
    padding: 15px 10px;
    word-break: normal;
    font-weight: 500;
}

.VK_ai_nav_bar li {
    margin: 0px 15px;
}

.V_sticky_bar {
    position: sticky !important;
    top: 0px;
    left: 0px;
}

.V_bor_botom {
    border-bottom: 2px solid #00aeef;
}

.V_wifi_6e {
    font-size: 36px;
}

.V_speed {
    font-size: 24px;
}

.v_show_span {
    color: #0068b5;
}

.v_show_span {
    width: 20%;
    height: 2px;
    display: inline-block;
    margin: 0px 5px;
    background-color: #0068b5;
}

.buttton_color{
    color: #0068b5;
}

.V_bg_color{
    background-color: #41728a;
}

.V_button{
    background-color: #004a86;
}


.VK_active_link {
    border-bottom: 3px solid #00aeef;
}

.V_blue_background{
    background-color: #0068b5;
}






@media(min-width:1440px) {
    .V_wifi_6e {
        font-size: 36px;
    }
}

@media (max-width:1439px) and (min-width:1200px) {
    .V_wifi_6e {
        font-size: 36px;
    }
}

@media (max-width:1199px) and (min-width:992px) {
    .V_wifi_6e {
        font-size: 28px;
    }
}

@media (max-width:991px) and (min-width:768px) {
    .V_wifi_6e {
        font-size: 28px;
    }
}

@media (max-width:767px)and (min-width:576px) {
    .V_wifi_6e {
        font-size: 26px;
    }

    .b_overview_box {
        width: 100%;
    }
}

@media (max-width:575px)and (min-width:480px) {
    .V_wifi_6e {
        font-size: 26px;
    }

    .b_overview_box {
        width: 100%;
    }
}

@media (max-width:479px) {
    .V_wifi_6e {
        font-size: 26px;
    }

    .b_overview_box {
        width: 100%;
    }
}



/* ///////////////////////////////////////////////////  VK containor /////////////////////////////////////////// */

@media (min-width: 768px) {
    .VK_cont {
        width: 750px;
        margin: auto;
    }
}

@media (min-width: 992px) {
    .VK_cont {
        width: 970px;
        margin: auto;
    }
}

@media (min-width: 1200px) {
    .VK_cont {
        width: 1170px;
        margin: auto;
    }
}

@media (min-width: 1650px) {
    .VK_cont {
        width: 1610px;
        margin: auto;
    }
}