* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: white;
}

.v_container {
    margin: 50px 100px 30px !important;
    /* width: 1610px;
    max-width: none;
    margin: 0 auto; */
}


/* <!-- //////////////////// 1st section start //////////////////////// --> */

.v_bg_blue {
    background-color: #00285a;
    color: white;
    padding: 40px 0 0 0;
}

.v_marbot_main {
    margin: 40px 20px;
}

.v_margin_left {
    margin-left: 60px;
}

.v_text_one {
    font-size: 40px;
    margin-bottom: 12px;
    /* font-weight: 600; */
}

.v_text_two {
    margin-bottom: 8px;
}

.v_margin_leftnav ul {
    margin-left: 95px !important;
}

.v_ult_proc_img img {
    width: 100%;
    height: 100%;
    margin-right: 10px;
}

.v_margin_leftnav ul {
    margin-left: 95px !important;
}

.v_nav_link_color.nav-link {
    color: white;
}


/* <!-- //////////////////// 1st section end //////////////////////// --> */
/* <!-- //////////////////// 1st page start //////////////////////// --> */
/* <!-- //////////////////// 1st section start //////////////////////// --> */
.v_xeon_6main {
    text-align: center;
    font-size: 35px;
}

.v_xeon_dis_main {
    font-size: 17px;
    text-align: center;
}

.v_video_main {
    font-size: 100px;
    text-align: center;
}

/* <!-- //////////////////// 1st section end //////////////////////// --> */
/* <!-- //////////////////// 2nd section start //////////////////////// --> */
.v_2sec_bg {
    background-color: #f7f5f5;
}

.v_Datacenter {
    text-align: center;
    font-size: 35px;
    padding: 20px 0 15px 0;
    font-weight: 300;
}

.v_e_cors_dis {
    text-align: center;
}

.v_read_section {
    background-color: #0068b5;
    padding: 12px 19px;
    margin-bottom: 30px;
}

.v_row {
    padding-bottom: 30px;
}

.v_row .row>* {
    width: 31% !important;
    margin-right: auto;
}

/* <!-- //////////////////// 2nd section end //////////////////////// --> */
/* <!-- //////////////////// 3rd section start //////////////////////// --> */
.v_per_effi {
    font-size: 35px;
    font-family: 500;
    text-align: center;
    margin-bottom: 0;
}

.v_cloud_effi {
    text-align: center;
}

.v_6series_text {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 0 !important;
}

.v_num_6series {
    font-size: 100px;
    font-weight: 500;
    color: #005b85;
    margin-bottom: 0 !important;
}

.v_slide_none {
    display: none !important;
}

/* <!-- //////////////////// 3rd section end //////////////////////// --> */
/* <!-- //////////////////// 4th section start //////////////////////// --> */
.v_3rdsec_text {
    font-size: 30px;
    font-weight: 300;
    padding-bottom: 28px;
}

.v_compare_all {
    color: #0068b5 !important;
    margin-left: 15px;
    border-bottom: 1px dashed #0068b5 !important;
}

.v_compare_all:hover {
    border-bottom: 1px solid #0068b5 !important;
}

.v_table_mar_top {
    margin-top: 20px;
}
.v_item_product{
    color:#0068b5 ;
    border-bottom: 1px dashed #0068b5;
    margin-left: 15px;
}
.v_item_product:hover{
    color:#0068b5 ;
    border-bottom: 1px solid #0068b5;
}
.v_table_header{
    background-color: #d6d4d4 !important;
}
.v_table_header:hover{
    background-color: #999999 !important;
    color: white;
}
/* /////////////////////////////////////////////////////// */
.table {
    width: 100%;
    border-collapse: collapse;
}
.table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
}
.table th {
    cursor: pointer;
    position: relative;
}
.table th::after {
    content: '';
    position: absolute;
    right: 10px;
    border: 6px solid transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
}
.table th.asc::after {
    border-top-color: #000;
    border-bottom: none;
    top: 50%;
    transform: translateY(-100%);
}
.table th.desc::after {
    border-bottom-color: #000;
    border-top: none;
    top: 50%;
    transform: translateY(-50%);
}
/* /////////////////////////////////////////////////////// */
/* <!-- //////////////////// 4th section end //////////////////////// --> */
/* <!-- //////////////////// 5th section start //////////////////////// --> */
.v_Proc_bg {
    background-color: #f3f3f3;
    margin: 30px auto 30px;
    width: 90%;
}
.v_Proc_bg1 {
    /* margin: 10px auto !important; */
    padding: 25px 0;
    width: 90%;
    background-color: #f3f3f3;
    row-gap: 20px;
}
.v_i9_img {
    height: 100%;
    width: 75px;
    margin: 0 25px;
}
.v_text_1 {
    text-decoration: none !important;
    font-size: 20px;
    color: #0071c5;
}
.v_text_2 {
    text-decoration: none !important;
    width: 90% !important;
    color: black;
}

.v_text_2:hover {
    text-decoration: none !important;
    color: black;
}
.v_avil_product{
font-size: 32px;
font-weight: 300;
}
.v_bg_text1{
    background-color: #f3f3f3;
    font-size: 15px;
   padding: 20px 15px;
   margin-top: 15px;
   width: 400px;
   /* flex-wrap: wrap !important; */
}
.v_text_size_last{
    font-size: 10px;
    margin-bottom: 5px;
}

/* <!-- //////////////////// 5th section end //////////////////////// --> */
/* <!-- //////////////////// 1st page end //////////////////////// --> */
/* <!-- //////////////////// 2nd page start //////////////////////// --> */
/* <!-- //////////////////// 1st section end //////////////////////// --> */
.v_solve_com_chel{
    font-size: 35px;
    font-weight: 400;
    text-align: center;
}
.v_solve_com_chel1{
    text-align: center;
}
.v_solve_com_chel_img{
    height: 100%;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* <!-- //////////////////// 1st section end //////////////////////// --> */
/* <!-- //////////////////// 2nd section start //////////////////////// --> */
/* <!-- //////////////////// 2nd section end //////////////////////// --> */
.v_uses_item_row_size .row{
padding: 38px 0 !important;
}
.v_uses_item{
    color: #0068b5;
    font-size: 25px;
}
.v_uses_item:hover{
    border-bottom: 2px solid #0068b5;
}
.v_usescse_textitem{
    text-align: justify;
    width: 90%;
}
/* <!-- //////////////////// 2nd page end //////////////////////// --> */
/* <!-- //////////////////// 3rd section start //////////////////////// --> */
.v_Engines1{
    display: inline-block;
    margin-top: 20px !important;
    align-items: center;
}
.v_Engines{
    padding: 10px 8px;
    background-color: #0068b5;
    color: white;
}
.v_Engines_maintext{
    font-size: 25px;
    font-weight: 400;
    color: #0068b5;
}
.v_Engines_maintext:hover{
    font-size: 25px;
    font-weight: 400;
    color: #004a86;
    border-bottom: 2px solid #004a86;
}
.v_Engines:hover{
    background-color:#004a86;
    color: white;
}
/* <!-- //////////////////// 3rd section end //////////////////////// --> */
/* <!-- //////////////////// media query start //////////////////////// --> */

@media only screen and (max-width: 1024px) {
    .v_ult_proc_img img {
        width: 100% !important;
        height: 100%;
        margin: 40px 0;
    }

    .v_text_one {
        font-size: 30px;
        margin-bottom: 12px;
        /* font-weight: 600; */
    }

    .v_ult_proc_img img {
        width: 100% !important;
        height: 100%;
        margin: 40px 0;
    }
    .v_solve_com_chel_img{
        width: 75% !important;
    }
    .v_pic_engines{
        height: 90%;
        width: 100%;
    }
    .v_Engines_maintext{
        font-size: 20px;
        line-height: 20px;
        
    }
    .v_Engines_subtext{
        font-size: 14px ;
        margin-top: 10px;
        text-align: justify;
    }
}


@media only screen and (max-width: 768px) {
    .v_container {
        margin: 50px 60px 30px !important;
    }

    .v_text_one {
        font-size: 32px;
        margin-bottom: 12px;
        /* font-weight: 600; */
    }

    .v_ult_proc_img img {
        width: 500px !important;
        height: 100%;
        margin: -30px 0 0 100px;
        padding-top: 40px;
    }

    .v_Datacenter {
        font-size: 25px;
        font-weight: 400;
    }

    .v_per_effi {
        font-size: 25px;
        margin-bottom: 15px;
    }
    .v_i9_img {
        height: 100%;
        width: 170px;
        margin: 0px 15px;
    }
    .v_text_1 {
        line-height: 25px;
    }
    .v_solve_com_chel{
        font-size: 28px;
        font-weight: 400;
        text-align: center;
    }
    .v_solve_com_chel_img{
        width: 70% !important;
    }
    .v_pic_engines{
        height: 70%;
        width: 100%;
    }
    .v_Engines_maintext{
        font-size: 25px;
        font-weight: 200;
        line-height: 20px;
        
    }
    .v_Engines_subtext{
        font-size: 14px ;
        margin-top: 10px;
        text-align: justify;
        line-height: 15px;
    }
    .v_Engines {
        padding:  6px  8px !important;
    }

}
 

@media only screen and (max-width: 425px) {
    .v_container {
        margin: 35px 15px 15px !important;
    }

    .v_margin_left {
        margin-left: 0;
    }

    .v_text_one {
        font-size: 22px;
        line-height: 15px;
        margin-bottom: 12px;
        text-wrap: wrap;

    }

    .v_text_two {
        margin-bottom: 8px;
        font-size: 14px;
        text-align: justify;
        line-height: 20px;
    }

    .v_margin_leftnav ul {
        margin-left: 20px !important;
    }

    .v_margin_leftnav {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

    .v_margin_leftnav .nav-tabs {
        display: flex;
        flex-wrap: nowrap;
    }

    .v_ult_proc_img img {
        width: 350px !important;
        height: 100%;
        margin: 0 0 40px 8px;
        padding-top: 40px;
    }

    .v_xeon_6main {
        line-height: 40px;
        font-size: 32px;
        margin-bottom: 15px;
    }

    .v_row .row>* {
        width: 100% !important;
        margin-bottom: 20px;
    }

    .hidden {
        display: none;
    }

    .v_text_nub_dis {
        display: none !important;
    }

    .v_slide_none {
        display: block !important;
    }

    .v_slide_none .carousel-indicators [data-bs-target] {
        background-color: #525252 !important;
        width: 15px !important;
        height: 15px !important;
    }

    .v_slide_none .carousel-indicators {
        bottom: -40px !important;
    }

    .table-responsive {
        overflow-x: scroll !important;
    }
    .v_i9_img {
        height: 100%;
        width: 70px;
        margin: 0px 15px;
    }
    .v_text_1 {
        text-decoration: none !important;
        font-size: 15px;
        color: #0071c5;
    }
    .v_text_2 {
        display: none !important;
    }
    .v_solve_com_chel{
        font-size: 25px;
        font-weight: 400;
        text-align: center;
    }
    .v_solve_com_chel_img{
        width: 100% !important;
        margin-top: 40px !important;
    }
    .v_usescse_textitem{
        width: 100%;
    }
    .v_pic_engines{
        height: 100%;
        width: 100%;
    }
    .v_Engines_maintext{
        margin-top: 20px;
    }
}

@media only screen and (max-width: 375px) {
    .v_ult_proc_img img {
        width: 300px !important;
        height: 100%;
        margin: 0 0 5px 0;
        padding-top: 40px;
    }

    .v_xeon_6main {
        line-height: 40px;
        font-size: 25px;
        margin-bottom: 12px;
    }
}

@media only screen and (max-width: 320px) {
    .v_ult_proc_img img {
        width: 250px !important;
        height: 100%;
        margin: 0 0 5px 0;
        padding-top: 40px;
    }

    .v_xeon_6main {
        line-height: 40px;
        font-size: 22px;
        margin-bottom: 8px;
    }
}

/* <!-- //////////////////// media query end //////////////////////// --> */