* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
}

/* /////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////// main section start ///////////////////////////////////////*/
.v_container {
    width: 1610px !important;
    margin: auto !important;
}

.v_main_sec {
    padding-bottom: 40px;
}

.v_main_sec_bg {
    background-color: #00285a;
    color: white;
    padding: 40px 0 0 0;
}

.v_text_main {
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 15px;
}

.v_text_subdis {
    /* width: 90%; */
    margin-bottom: 10px;
}

.v_text_link {
    border-bottom: 1px dashed white;
    color: white;
}

.v_text_link:hover {
    border-bottom: 1px solid white;
    color: white;
}

.v_main_sec_img img {
    width: 350px;
    height: 200px;
}

.v_nav_link_color.nav-link {
    color: white;
}

/* ///////////////////////////// main section end//////////////////////////////////////// */
/* ////////////////////////////////1st page start////////////////////////////////////////// */
/* ////////////////////////////////1st section start////////////////////////////////////////// */
.v_key_feature {
    padding: 40px 0;
}

.v_key_feature_textmain {
    font-weight: 300;
    font-size: 35px;
    margin-bottom: 5px;
}

.v_key_feature_textsub {
    margin-bottom: 5px;
}

.v_key_padding {
    padding: 5px;
    width: 500px;
    height: 280px;
}
.v_key_img_text{
    font-size: 24px;
}
.v_key_img_sub_text{
    text-align: justify;
    width: 95%;
}
.v_bg_blue{
    background-color: #0068b5;
    padding-bottom: 25px;
}
.v_band_maintext{
    color: white;
    padding-top: 40px;
    font-size: 30px;
}
.v_band_subtext{
    color: white;
    text-align: center;
}
.v_band_upto{
    color: white;
    font-size: 30px;
    margin: 20px 0 0 ;
}
.v_band_5x{
    color: white ;
    /* margin: 20px 0 ; */
    font-size: 100px;
}
.v_band_dis{
    color: white;
    font-size: 15px;
}
.v_band_disblock{
    display: none;
    padding-bottom: 50px;
}

/* ////////////////////////////////1st section end////////////////////////////////////////// */
/* ////////////////////////////////3th section start////////////////////////////////////////// */
.v_max_testi{
    font-size: 38px;
    font-weight: 300;
    padding-top: 18px;
    padding-bottom: 100px;
}
.v_max_testi_maintext{
    font-size: 30px;
    line-height: 35px;
}
.v_max_testi_maintext1{
    font-size: 28px;
    line-height: 35px;
}
.v_max_testi_subtext{
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 30px;
    text-align: justify;
}
.v_xeon_proccer img{
    width: 250px;
    height: 150px;
}
/* ////////////////////////////////3th section end////////////////////////////////////////// */
/* ////////////////////////////////4th section start////////////////////////////////////////// */

.v_bg_second{
    background-color: #f7f7f7;
    padding: 40px 0;
}
.v_xeon_textunder{
    padding: 10px 0;
}
.v_xeon_textunder a{
    color: #0068b5;
    font-size: 24px;
    line-height: 28px;
   
}
.v_devlop_text{
    text-align: justify;

}
.v_xeon_textunder a:hover{
    color: #004a86;
    font-size: 24px;
    line-height: 28px;
    border-bottom: 1px solid #004a86;
}
.v_tining_line{
    padding-top: 14px;
    color: #0068b5;
    border-bottom: 1px dashed #0068b5;
}
.v_tining_line:hover{
    color: #0068b5;
    border-bottom: 1px solid #0068b5;
}
/* ////////////////////////////////4th section end////////////////////////////////////////// */
/* ////////////////////////////////5th section start////////////////////////////////////////// */
.v_30plus{
    text-align: center;
    font-size: 40px;
    padding: 40px 0;
    font-weight: 300;
}
.v_company_logo img{
    width: 150px;
    height: 115px;
    padding: 25px 15px;
}
.v_company_logo1 img{
    width: 150px;
    height: 115px;
    padding: 25px 15px;
}
.v_bg_price_support{
    background-color: #41728a;
    padding: 40px 0;
}
.v_pricing{
    font-size: 36px;
    font-weight: 400;
    padding-bottom: 20px;
    color: white;
}
.v_Contact{
    color: #0068b5;
    font-size: 18px;
}
.v_Contact_bg{
    padding: 10px;
background-color: white;
}
.v_Contact_bg:hover{
    padding: 10px;
background-color: #e9e9e9;
}
.v_notice{
    font-size: 15px;
    padding: 40px 0;
    font-weight: bold;

}
.v_pro_information{
    border-top: 1px solid #e7e7e7;
    padding: 40px 0;
}
.v_info_border{
    color: #0068b5;
    border-bottom: 1px dashed #0068b5;
}
.v_info_border:hover{

    border-bottom: 1px solid #0068b5;
}
.v_info_size{
    font-size: 12px;
    padding-top: 6px;
    color: #525252;
}

/* ////////////////////////////////5th section end////////////////////////////////////////// */
/* ////////////////////////////////1st page end ////////////////////////////////////////// */
/* ///////////////////////////// media query start//////////////////////////////////////// */

@media screen and (max-width: 1440px) {
    .v_container {
        width: 1200px !important;
        margin: auto !important;
    }
    .v_key_padding {
        padding: 5px;
        width: 390px;
        height: 225px;
    }
    .v_max_testi_maintext{
        font-size: 24px;
        line-height: 35px;
    }
}

@media screen and (max-width: 1024px) {
    .v_container {
        width: 890px !important;
        margin: auto !important;
    }

    .v_main_sec_img img {
        width: 210px;
        height: 118px;
    }
    .v_key_padding {
        padding: 5px;
        width: 300px;
        height: 180px;
    }
    .v_key_img_text{
        font-size: 24px;
        line-height: 30px;
    }
    .v_key_img_sub_text{
        text-align: justify;
        width: 95%;
    }
    .v_key_img_text{
        font-size: 24px;
    }
    .v_max_testi_maintext{
        font-size: 24px;
        line-height: 30px;
    }
    .v_max_testi{
        font-size: 34px;
    }
    .v_xeon_proccer img{
        height: 80px;
        width: 142px;
    }
    .v_xeon_textunder a{
        line-height: 20px !important;
    }
    .v_30plus{
        text-align: center;
        font-size: 30px;
        padding: 40px 0;
        font-weight: 400;
    }
    .v_pricing{
        font-size: 32px;
        font-weight: 300;
    }
}

@media screen and (max-width: 768px) {
    .v_container {
        width: 700px !important;
        margin: auto !important;
    }

    .v_main_sec_img img {
        width: 700px;
        height: 400px;
        margin-top: 25px;
    }
    .v_key_padding {
        padding: 5px;
        width: 240px;
        height: 140px;
    }
    .v_key_img_text{
        font-size: 20px;
        line-height: 25px;
    }
    .v_max_testi_maintext{
        font-size: 22px;
        line-height: 30px;
    }
    .v_max_testi{
        font-size: 30px;
    }
    .v_max_testi_maintext1{
        font-size: 20px;
        line-height: 35px;
    }
    .v_xeon_textunder a{
        line-height: 20px !important;
        font-size: 22px;
    }
}

@media screen and (max-width: 425px) {
    .v_container {
        width: 390px !important;
        margin: auto !important;
    }

    .v_main_sec_img img {
        width: 390px;
        height: 220px;
        margin-top: 25px;
    }

    .v_text_main {
        font-size: 26px;
        font-weight: 300;
        margin-bottom: 10px;
    }
    .v_key_img_text{
        font-size: 24px;
        margin: 15px 0;
    }
    .v_key_padding {
        padding: 5px;
        width: 385px;
        height: 225px;
    }
    .v_key_img_sub_text{
        margin-bottom: 15px;
    }
    .v_band_disnone{
        display: none;
    }
    .v_band_disblock{
        display: block;
    }
    .v_band_slider .carousel-indicators [data-bs-target]{
        width: 16px;
        height: 15px;
        background-color: rgb(255, 255, 255) !important;
    }
    .v_band_slider .carousel-indicators{
        bottom: -60px !important;
    }
    .v_max_testi{
        font-size: 28px;
    }
    .v_max_testi_maintext{
        padding: 10px 0;
    }
   
    .v_max_testi_maintext1{
        padding: 10px 0;
    }
    .v_xeon_proccer img{
        height: 160px;
        margin-top: 25px;
        width: 250px;
    }
    .v_company_logo1 img{
        width: 140px;
        height: 140px;
    }
    .v_pricing{
        font-size: 28px;
        font-weight: 300;
        line-height: 30px;
    }
   
} 

@media screen and (max-width: 375px) {
    .v_container {
        width: 335px !important;
        margin: auto !important;
    }

    .v_main_sec_img img {
        width: 341px;
        height: 190px;
        margin-top: 25px;
    }
    .v_key_padding {
        padding: 5px;
        width: 350px;
        height: 205px;
    }
    .v_max_testi{
        font-size: 26px;
    }
}

@media screen and (max-width: 320px) {
    .v_container {
        width: 280px !important;
        margin: auto !important;
    }

    .v_main_sec_img img {
        width: 285px;
        height: 160px;
        margin-top: 25px;
    }
    .v_key_padding {
        padding: 5px;
        width: 280px;
        height: 160px;
    }
    .v_max_testi{
        font-size: 22px;
    }
    .v_30plus{
        text-align: center;
        font-size: 26px;
        padding: 40px 0;
        font-weight: 400;
    }
    .v_info_size{
        font-size: 10px;
        padding-top: 6px;
    }
}

/* ///////////////////////////// media query end//////////////////////////////////////// */