/* //////////////////////////////////////////////////////////////////// */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: white;
}

/* //////////////////////////////////////////////////////////////////// */
/* ////////////////////// A_Pr_Intel® Core™ Ultra Processors overview start//////////////////////////////// */
.v_scrollbar {
    overflow-x: auto;
    /* Enable horizontal scrolling */
    white-space: nowrap;
}

.v_scrollbar .nav-tabs {
    display: inline-flex;
    flex-wrap: nowrap;
}

.v_scrollbar.nav-item {
    flex-shrink: 0;
    /* Prevent items from shrinking */
}

.v_bg_blue {
    background-color: #00285a;
    color: white;
}

.v_nav {
    padding: 40px 0;

}

.v_pad_topbot {
    padding: 40px 0;
}

.v_container {
    width: 1610px !important;
    margin: auto !important;
}



.v_margin_leftnav ul {
    margin-left: 95px !important;
}

.v_text_one {
    font-size: 40px;
    margin-bottom: 12px;
    /* font-weight: 600; */
}

.v_ult_proc_img img {
    width: 370px;
    height: 210px;
}

.v_marbot_main {
    margin: 40px 20px;
}

.v_text_two {
    margin-bottom: 8px;
}

.v_text_three a {
    color: white;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px dashed white;
}

.v_text_three a:hover {

    border-bottom: 1px solid white;
}

.v_nav_underline.nav-tabs {
    border-bottom: none !important;
}

.v_nav_link_color.nav-link {
    color: white;
}

.v_bg_white_overview {
    background-color: white;
    padding: 40px 0;
}

.v_overview_text {
    font-size: 36px;
    font-weight: 400;
    text-align: center;
}

.v_bg_darkblue_overview {
    background-color: #040e35;
}

.v_pic_width img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.v_width_leftright {
    margin: 0 10%;
}

.v_text1_sec2 {
    color: white;
    margin-bottom: 8px;
    text-decoration: dashed !important;
    font-size: 25px;

}

.v_text2_sec2 {
    color: white;
    margin-bottom: 8px;
    text-decoration: dashed !important;
    font-size: 15px;
    text-align: justify;
}

/* //////////////////////////////// major improvment start/////////////////////////////// */

.v_maj_imp_bg {
    height: 350px;
}

.v_maj_main {
    position: relative;
}

.v_maj_text {
    color: white;
    position: absolute;
    top: 7px;
    left: 10%;
    width: 80%;
}

.v_maj_text1 {
    color: white;
    font-size: 45px;
    text-align: center !important;
}

.v_band_upto {
    color: white;
    font-size: 30px;
    margin: 20px 0 0;
}

.v_band_5x {
    color: white;
    /* margin: 20px 0 ; */
    font-size: 100px;
}

.v_band_dis {
    color: white;
    font-size: 15px;
}

.v_band_disblock {
    display: none;
}

.v_band_disnone {
    display: block !important;
}

/* //////////////////////////////// major improvment end/////////////////////////////// */
/* //////////////////////////////// table section /////////////////////////////// */
.v_intel_img {
    width: 84px;
    height: 84px;
}

.v_item_product {
    color: #0068b5;
    border-bottom: 1px dashed #0068b5;
}

.v_item_product:hover {
    color: #0068b5;
    border-bottom: 1px solid #0068b5;
}

/* //////////////////////////////// table section /////////////////////////////// */
/* //////////////////////////////// slider section /////////////////////////////// */
.v_carosal_cange .owl-carousel {
    position: relative;
}

.v_carosal_cange .owl-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
}

.v_carosal_cange .owl-prev,
.v_carosal_cange .owl-next {
    position: absolute;
    font-size: 24px !important;
    color: #0068b5 !important;
    background: none !important;
}

.v_carosal_cange .owl-prev {
    left: -30px;
}

.v_carosal_cange .owl-next {
    right: -30px;
}

.v_carosal_cange .owl-prev:hover,
.v_carosal_cange .owl-next:hover {
    background: none !important;
    color: #004d8c !important;
}

.v_carosal_cange .v_item_product {
    text-decoration: none;
    color: #0068b5;
}

.v_carosal_cange .owl-dots .owl-dot span {
    border-radius: 0 !important;
}

/* Style for the navigation buttons */
.v_carosal_cange .owl-nav button.owl-prev,
.v_carosal_cange .owl-nav button.owl-next {
    /* background-color: blue !important; */
    border: 4px solid #0068b5 !important;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.v_carosal_cange .owl-nav button.owl-prev {
    left: -20px;
}

/* Position the next button */
.v_carosal_cange .owl-nav button.owl-next {
    right: -20px;
}

/* Apply scaling effect on hover */
.v_carosal_cange .owl-nav button.owl-prev:hover,
.v_carosal_cange .owl-nav button.owl-next:hover {
    transform: translateY(-50%) scale(1.1);
    /* Scale the button to 110% */
}

.v_carosal_cange .owl-nav button.owl-prev span,
.v_carosal_cange .owl-nav button.owl-next span {
    font-size: 40px;
    margin-bottom: 10px;
}
.v_laptop_slider{
    width: 440px !important;
    height: 330px !important;
}
.v_carosal_cange.owl-theme .owl-dots{
margin-top: 40px;
}
/* //////////////////////////////// slider section /////////////////////////////// */
/* //////////////////////////////// online section /////////////////////////////// */
.v_online_img{
    width: 370px;
    height: 200px;
}
.toggle-text-container{
    display: none;
}
.v_tech_bg {
    padding: 15px 20px;
    height: 80px;
    background-color: #f5f5f5;
}
.v_tech_color {
    color: #0068b5 !important;
}

.v_tech_color:hover {
    color: #004a86 !important;
}
/* //////////////////////////////// online section /////////////////////////////// */
/* ///////////////////////////////////2nd page start ////////////////////////////////////*/
.v_2sec_bg {
    background-color: #f7f5f5;
    padding: 40px 0;
}

.v_select_padding {
    padding: 35px 0;
}

.v_select_width {
    width: 250px;
}

.v_option {
    font-size: 15px !important;
}

.v_filter_show {
    display: none;
}

.v_hidden {
    display: none;
}

.v_item_product {
    color: #0068b5;
    border-bottom: 1px dashed #0068b5;

}

.v_item_product:hover {
    color: #0068b5;
    border-bottom: 1px solid #0068b5;
}

.v_table_mar_top {
    margin-top: 20px;
}

.v_table_header {
    background-color: #d6d4d4 !important;
}

.v_table_header:hover {
    background-color: #999999 !important;
    color: white;
}



/* ///////////////////////////////////2nd page end //////////////////////////////////// */

@media only screen and (max-width: 1440px) {
    .v_container {
        width: 1200px !important;
        margin: auto !important;
    }

    .v_ult_proc_img img {
        width: 260px;
        height: 150px;
    }

    .v_maj_text1 {
        color: white;
        font-size: 38px;
        text-align: center !important;
    }

    .v_band_upto {
        color: white;
        font-size: 26px;
        margin: 20px 0 0;
    }
    .v_laptop_slider{
        width: 300px !important;
        height: 220px !important;
    }
    .v_online_img{
        width: 260px;
        height: 140px;
    }
}

@media only screen and (max-width: 1024px) {
    .v_ult_proc_img img {
        width: 210px;
        height: 120px;
    }

    .v_container {
        width: 890px !important;
        margin: auto !important;
    }

    .v_text_one {
        font-size: 30px;
        margin-bottom: 12px;
        /* font-weight: 600; */
    }

    .v_maj_text1 {
        color: white;
        font-size: 35px;
    }

    .v_band_upto {
        color: white;
        font-size: 20px;
        margin: 20px 0 0;
    }

    .v_maj_text1 {
        color: white;
        font-size: 26px;
    }
    .v_laptop_slider{
        width: 240px !important;
        height: 180px !important;
    }
    .v_online_img{
        width: 450px;
        height: 250px;
    }
}

@media only screen and (max-width: 768px) {
    .v_ult_proc_img img {
        width: 500px !important;
        height: 100%;
        margin: 0 0 40px 20px;
        padding-top: 40px;
    }

    .v_container {
        width: 700px !important;
        margin: auto !important;
    }

    .v_text_one {
        font-size: 32px;
        margin-bottom: 12px;
        /* font-weight: 600; */
    }

    .v_overview_text {
        font-size: 28px;
    }

    .v_text1_sec2 {
        font-size: 20px;
    }

    .v_text2_sec2 {
        font-size: 12px;
    }

    .v_band_upto {
        font-size: 18px;
    }

    .v_band_5x {
        font-size: 90px;
    }
    .v_laptop_slider{
        width: 170px !important;
        height: 130px !important;
    }
    .v_online_img{
        width: 340px;
        height: 190px;
    }
}

@media only screen and (max-width: 425px) {
    .v_ult_proc_img img {
        width: 350px !important;
        height: 100%;
        margin: 0 0 40px -15px;
        padding-top: 40px;
    }

    .v_scrollbar {
        width: 100%;
    }

    .v_container {
        width: 390px !important;
        margin: auto !important;
    }

    .v_text_one {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 12px;
        text-wrap: wrap;

    }

    .v_margin_left {
        margin-left: 0;
    }

    .v_text_two {
        margin-bottom: 8px;
        font-size: 15px;
        text-align: justify;
        line-height: 25px;
    }

    .v_margin_leftnav ul {
        margin-left: 20px !important;
    }

    .v_margin_leftnav {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

    .v_margin_leftnav .nav-tabs {
        display: flex;
        flex-wrap: nowrap;
    }

    .v_overview_text {
        font-size: 22px;

    }

    .v_text1_sec2 {
        font-size: 26px;
    }

    .v_text2_sec2 {
        font-size: 15px;
        margin-bottom: 30px;
    }

    .v_filter_none {
        display: none !important;
    }

    .v_filter_show {
        display: block;
    }

    .v_option_btn {
        background-color: white;
        border: 1px solid #e7e7e7;
        padding: 12px 10px;
        width: 200px;
    }

    .v_option1 {
        padding: 10px 20px;
        width: 285px;
        margin-top: 15px;
    }

    .v_band_disblock {
        display: block !important;
    }

    .v_band_disnone {
        display: none !important;
    }

    .v_band_slider .carousel-indicators [data-bs-target] {
        width: 16px;
        height: 15px;
        background-color: rgb(255, 255, 255) !important;
    }

    .v_band_slider .carousel-indicators {
        bottom: 75px !important;
    }

    .v_bg_slider {
        background-image: url(../img/Akshay\ image/abstract-blue-background-highrez.png.rendition.intel.web.1648.927.png);
        width: 100%;
        height: 400px;
        object-fit: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .table-container {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        /* For smooth scrolling on iOS */
    }

    .v_table {
        width: 100%;
        min-width: 600px;
        /* Adjust this value to match the minimum table width */
    }
    .v_laptop_slider{
        width: 250px !important;
        height: 190px !important;
        /* margin: auto; */
    }
    .v_online_img{
        width: 385px;
        height: 220px;
    }
    .hide-on-small {
        display: none;
    }
    /* //////////////////////////////////// */
    .toggle-text-container {
        text-align: center;
        margin-top: 10px;
        display: block;
    }
    
    .toggle-text {
        color: #0073e6; /* Blue color similar to your image */
        text-decoration: none;
        position: relative;
    }
    
    .toggle-text::before {
        content: "";
        display: inline-block;
        width: 100px;
        height: 1px;
        background-color: #0073e6;
        position: absolute;
        top: 50%;
        left: -110px;
    }
    
    .toggle-text::after {
        content: "";
        display: inline-block;
        width: 100px;
        height: 1px;
        background-color: #0073e6;
        position: absolute;
        top: 50%;
        right: -110px;
    }
    
    .toggle-text::before, .toggle-text::after {
        transform: translateY(-50%);
    }
    
    /* //////////////////////////////////// */
}

@media only screen and (max-width: 375px) {

    .v_overview_text {
        font-size: 20px !important;
    }

    .v_container {
        width: 335px !important;
        margin: auto !important;
    }
    .v_online_img{
        width: 320px;
        height: 220px;
    }
    .v_online_img{
        width: 340px;
        height: 190px;
    }
}

@media only screen and (max-width: 320px) {
    .v_text_two {
        margin-bottom: 8px;
        font-size: 14px;
        line-height: 22px;
    }

    .v_container {
        width: 280px !important;
        margin: auto !important;
    }

    .v_ult_proc_img img {
        width: 280px !important;
        height: 100%;
        margin: 0 0 40px -15px;
        padding-top: 40px;
    }

    .v_text_three a {
        color: white;
        margin-bottom: 5px;
        padding-bottom: 5px;
        text-decoration: underline;
        font-size: 14px;
    }

    .v_maj_text1 {
        font-size: 28px;
    }

    .v_bg_slider {
        height: 450px;
    }
    .v_online_img{
        width: 280px;
        height: 160px;
    }
}




/* ////////////////////// A_Pr_Intel® Core™ Ultra Processors overview end////////////////////////////////// */