* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Intel Clear', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.b_fontweight {
    font-weight: 300;
    font-size: 20px;
    color: #0071c5;
    text-decoration: none;
}

.b_blue_text {
    color: #0071c5;
}

.b_padding {
    padding-left: 15px;
}

.b_container {
    width: 1600px;
    margin: auto;
}

.b_backcolor {
    background-color: #00285a;
    color: white;
    padding: 40px 0 25px 0;
}

.b_card {
    border: none !important;
}

.b_text_justify {
    text-align: justify;
}

.b_para {
    text-align: justify;
}

.b_atxt a {
    text-decoration: none;
    color: #0068b5;
    font-weight: 300;
}

.b_atxt:hover a {
    text-decoration: underline;
}

.b_show_text {
    width: 100px;
    margin: auto;
}

.b_libe_after {
    position: relative;
}

.b_box_height {
    color: #0068b5;
    height: 100px;
}

.b_libe_after:before {
    content: "";
    width: 400px;
    display: block;
    height: 1px;
    background-color: #0068b5;
    position: absolute;
    top: 50%;
    left: 20%;
}

.b_libe_after:after {
    content: "";
    width: 400px;
    display: block;
    height: 1px;
    background-color: #0068b5;
    position: absolute;
    top: 50%;
    right: 20%;
}

.b_box_line_height {
    padding: 10px 0;
    background-color: #f3f3f3;
    height: 80px;
    margin: 10px;
}

.b_margin {
    margin-top: 80px !important;
}

.b_fontweight1 {
    font-size: 16px;
    color: #0068b5;
    text-decoration: none;
}

/* ......................B_netwrk_intel_ether page .............. */

.b_ne_blue {
    background-color: #004A86;
    height: 550px;
}

.b_font_width {
    width: 85%;
}

.b_blue_back {
    background-color: #0068B5;
    color: white;
    padding: 20px !important;
    margin: 50px !important;
    height: 220px;
}

.b_blue_back11 {
    height: 260px;
}

.responsive-video {
    width: 800px;
    height: 450px;
}

.b_video_icon {
    position: absolute;
    color: white;
    font-size: 60px;
    top: 48%;
    left: 48%;
}

.b_video_icon_2 {
    position: absolute;
    color: white;
    top: 48px;
}

.b_three_text {
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.8);
}

.B_three_margin {
    margin: 0 20px;
}

.b_new_card .card {
    border: none;
}

.b_card_atext a {
    color: #0068b5;
    text-decoration: underline dotted #0068b5;
    text-underline-offset: 6px;
}

.b_card_atext1 a {
    text-decoration: underline dotted white;
    text-underline-offset: 5px;
}

.b_card_atext1:hover a {
    text-decoration: underline 1px solid;
}

.b_card_atext1 p {
    color: #0068b5;
    text-decoration: underline dotted #0068b5;
    text-underline-offset: 6px;
}

.b_ne_blue1 {
    background-color: #0068B5;
}

.b_img_size img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.b_edge_blue {
    background-color: #00285A;
    color: white;
    height: 250px;
}

.b_mar_top {
    margin-top: 40px;
}

.b_video_resize {
    width: 950px;
    height: 540px;
}

.b_bacc {
    background-color: #41728A;

}

.b_nav_div {
    background-color: #0068B5;

    color: white;
}

.bg_new_color {
    background-color: #41728A;
    /* height: 1870px; */
}

.b_a_text {
    color: #004a86;
}

/* HOME CHANGE */

.b_bg_blue {
    background-color: #00285A;
    color: white;
    height: 280px;
}

.b_box_div {
    margin-top: 50px;
}

.b_intel_img {
    padding-top: 20px;

    /* object-fit: contain; */
}


.b_bg_bluee {
    background-color: #004A86;
    height: 180px;
}

.b_p_font {
    font-size: 12px;
}

.b_libe_after1::before {
    background-color: white !important;
}

.b_libe_after1::after {
    background-color: white !important;
}

.extra-cards {
    display: none;
}

.b_intel_video {
    width: 960px;
    height: 540px;
}

.b_bg_gray {
    background-color: #F7F7F7;
    height: 750px;
}

.bg_new_color {
    transition: height 0.3s ease-in-out;
}

/* .........................5th page ..... */
.b_inteli_bg {
    background-color: #00285A;
    padding: 40px 0;
}

.b_img_posi {
    text-align: end;
}

.b_inteli_img {
    width: 259px;
    height: 146px;
}

.b_img_padding {
    margin-left: 16px;
}

.b_img_video2 {
    width: 640px;
    height: 360px;
}

.b_bg_innteli {
    background-color: #41728A;
    height: 250px;
}

.b_text_nowrap {
    text-wrap: nowrap;
}

.b_acco_bg {
    background-color: #0068B5;
}

.b_acco_bg1 .accordion-item {
    background-color: #0068B5;
    color: white;
}

.b_acco_bg1 .accordion-button {
    background-color: #0068B5;
    color: white;
}

.b_acco_bg1 .accordion-button:not(.collapsed) {
    background-color: #0068B5;
    color: white;
}

.b_acco_bg1 .accordion-button::after {
    filter: invert(1);
}

.b_acco_bg1 .accordion-item {
    border: none;
    border-bottom: 1px solid white;
}

.b_acco_bg2 .accordion-item {
    border: none;
    border-top: 1px solid white;
    border-bottom: 1px solid white;

}

.b_acco_bg1 .accordion-button,
.b_acco_bg1 .accordion-button:not(.collapsed),
.b_acco_bg1 .accordion-button:focus {
    box-shadow: none;
}

/* .....................6th page ...... */
.b_storage_bg {
    background-color: #00285A;
    height: 210px;
}

.b_margin1 {
    margin-top: 40px;
}

.b_bg_grey1 {
    background-color: #F7F7F7;
    height: 700px;
}

.b_h3_size {
    font-size: 22px;
}

.b_bg_gray1 {
    background-color: #F7F7F7;
    height: 560px;
}

.b_image_videeo {
    width: 880px;
    height: 500px;
}

.b_mage_blue {
    background-color: #41728A;
    height: 700px;
}

.b_two_img {
    width: 500px;
    height: 280px;
}

.b_box_line_height123 {
    height: 85px;
    background-color: #F3F3F3;
}

.b_card_atext a:hover {
    text-decoration: underline;
}

.b_ne_blue12 {
    height: 450px;
}

.b_video_icon1 {
    top: 48%;
    left: 38%;
}

.responsive-video1 {
    width: 640px;
    height: 365px;
}

.b_video_icon3 {
    top: 49%;
    left: 53%;
}

.responsive-video3 {
    width: 957px;
    height: 542px;
    left: 12%;
}

.b_text-end {
    text-align: end;
}

.responsive-video4 {
    width: 639px;
    height: 363px;
    left: 19%;
}

.b_video_icon4 {
    top: 49%;
    left: 57%;
}

.b_video_icon5 {
    top: 49%;
    left: 47%;
}

.responsive-video5 {
    width: 652px;
    height: 369px;
    left: 0%;
}

.b_res_image44 {
    top: 49%;
    left: 41%;
}

.b_video_icon_44 {
    left: 0%;
    width: 950px;
}

.b_video_icon6 {
    top: 49%;
    left: 46%;
}

.b_paddding {
    padding: 30px 0;
}

.b_text_hover {
    color: #0068b5;
}

.b_text_hover:hover {
    text-decoration: 1px solid underline;
    text-underline-offset: 3px;
}

.b-navtab {
    padding: 0px 15px;
}

.b-navtab.active {
    background-color: #005DA3 !important;
    border-bottom: 3px solid white !important;
    border-radius: 0 !important;
}

.b_nav_tab {
    color: #0068B5 !important;
}

.b_nav_tab.active {
    background-color: #F7F7F7 !important;
    color: #0068B5 !important;
    border-bottom: 3px solid #00AEEF !important;
    border-radius: 0 !important;
}

#pills-tab {
    border-bottom: 1px solid #bbb7b7a6;
}

/* Ensure the tabs are contained within the viewport and can scroll horizontally */
.b_over_flow {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    /* For smooth scrolling on touch devices */
}

/* Remove unnecessary scrollbars on different browsers */
.b_over_flow::-webkit-scrollbar {
    display: none;
    /* For Chrome, Safari, and Opera */
}

.b_over_flow {
    -ms-overflow-style: none;
    /* For Internet Explorer and Edge */
    scrollbar-width: none;
    /* For Firefox */
}

.b_bg_newBlue {
    background-color: #B9D6E5;
}

.b_small_text::placeholder {
    font-size: 16px;
}

.b_select_size {
    font-size: 16px !important;
}

.b_sec_padd {
    margin-left: 130px;
}

.b_12font {
    font-size: 12px;
}

.b_accodian_bg {
    background-color: #f3f3f3 !important;
}


.b_accodian_bg1:not(.collapsed) {
    border-bottom: 3px solid #00AEEF !important;
}

.b_accodian_bg1:focus {
    box-shadow: none !important;
}

.b_fs_size {
    color: #0071c5;
}

.b_bb_blue {
    background-color: #00285A;
    padding: 40px 0;
}

.b_bgg_grayy {
    background-color: #F7F7F7 !important;
}

.b_img_heigh {
    width: 185px !important;
    height: 104px;
}

.b_ahover {
    text-decoration: none;
}

.b_ahover:hover {
    text-decoration: underline;
}

.b_bg_newBlue_clip {
    left: -100%;
    width: calc(100% - 10px);
    top: 0;
    clip-path: polygon(0 0, 0 100%, 80% 50%);
    background-color: #b9d6e5;
}

.b_input_widyh {
    width: 80% !important;
}

.b_inmg {
    margin-top: 50px;
}

.b_box_line_height136 {
    height: 95px;
}

.b_margin11 {
    margin-top: 45px !important;
}

.b_dark_bg {
    background-color: #00285A !important;
}

.b_card_padding {
    padding: 0 !important;
}

.B_sec_Hide {
    display: none;
}

.b_12_margin {
    margin-top: 40px !important;
}

.b_12_box {
    height: 60px;
}

.b_sec_maree {
    margin-bottom: 2px;
}

#pills-tab111 {
    border: 0 !important;
}

.b_nav_color {
    background-color: #00285A !important;
    color: white !important;
}

.b_nav_color.active {
    background-color: white !important;
    border-radius: 0 !important;
    color: black !important;
}

.b_grray {
    background-color: #F7F7F7;
}

.b_width_inp {
    width: 95% !important;
}

.b_width_inp1 {
    padding: 12px 0 !important;
}

.b_width_inp1::placeholder {
    padding-left: 40px;
}

.B_border_div {
    border-bottom: 1px solid rgba(167, 163, 163, 0.466) !important;
}

.b_h_text p {
    font-size: 14px;
}

.b_h_tex {
    font-size: 14px !important;
}

.b_h_tex a {
    font-size: 14px !important;

}


.b_h_text a {
    text-decoration: none;
    color: #0071c5;
}

.b_btn_remobe {
    border: 0 !important;

}

.b_btn_remobe.accordion-item {
    background-color: transparent;
}

.b_btn_remobe .accordion-button:focus {
    box-shadow: none;
}

.b_backk_gray {
    background-color: #F7F7F7 !important;
}

.b_btn_remobe .accordion-button:not(.collapsed) {
    box-shadow: none !important;
}



.account-droppp .a_dwn,
.dropdown-btnnn {
    text-decoration: none;
    color: #fff;
    /* background-color: #030030; */
    display: block;
    border: none;
    background: none;
    text-align: left;
    cursor: pointer;
    outline: none;
    color: #0071c5;
    line-height: 26px;
    text-decoration: none;
    display: block;
}

.dropdown-containerrr {
    display: none;
    list-style: none;
    /* background-color: #201b5f; */
    padding-left: 0px;
    width: 90%;
    margin-left: 20px;
}

.active {
    /* background-color: #353359; */
    color: black;
}

.b_h_text li {
    list-style: none;
    margin-bottom: 10px;
}

.b_start_place {
    padding-left: 30px !important;
}

.b_sidebox {
    width: 20% !important;
}

.b_sidebox2 {
    width: 78% !important;
}

.b_select_mar {
    margin-left: 100px;
    width: 75%;
}

.b_text_back {
    background-color: #00AEEF;
}

.b_icon_coolor a {
    color: #0071c5;
    font-size: 14px;
}

.document-list {
    margin-top: 20px;
}

.document-header {
    background-color: #E9E9E9;
    padding-top: 10px;
    margin-top: 10px;
}

.document-item {
    background-color: white;
    padding: 20px 0;
    margin-bottom: 5px;
}

.document-title {
    text-decoration: none;
    color: #076fbe;
}

.new-tag {
    background-color: #E9E9E9;
    font-size: 13px;
    padding: 2px 5px;
}

.icon-group a {
    color: inherit;
    margin-right: 10px;
}

.form-select {
    width: 75%;
}

















































/* new css */
.b_gray {
    background-color: #E9E9E9;
}

.b_special_checkbox {
    height: 20px;
    width: 20px;
}

.document-item .form-select {
    width: inherit;
}

.document-item .accordion-button {
    width: 24px;
    box-shadow: none !important;
    background-color: transparent !important;
}

.document-item .accordion-button::after {
    background-image: url('../img/brijesh/image107.svg');
    /* color: #076fbe !important; */
    margin: 0px;
    width: 24px;
}

.b_table_responsive {
    font-size: 14px;
}

.b_table_responsive td {
    padding: 20px 0px !important;
    border: 1px solid #E9E9E9 !important;
}

.b_table_responsive a {
    color: #0068b5;
    font-size: 14px;
}

.b_table_responsive .small-column {
    width: 15%;
}

.b_w_33 {
    width: 33%;
}

.b_data a {
    text-decoration: none;
}

.b_data b {
    color: #0068b5;
    border-bottom: 1px dashed #0068b5;
}

.b_data a:hover b {
    border-bottom-style: solid;
}

.b_promotions a {
    text-decoration: none;
    color: #004A86;
}

.b_promotions a:hover {
    color: #004A86;
    border-bottom: 1px solid #004A86 !important;
}

.b_fading-line {
    height: 1px;
    width: 80px;
    background-color: #004A86;
}

.b_FAQ a {
    color: black;
    text-decoration: none;
}

.b_FAQ a:hover {
    color: black;
    border-bottom: 1px solid black;
}

.b_FAQ .accordion-button:focus {
    box-shadow: none;
    background-color: white;
}

.b_fading-line1 {
    height: 1px;
    width: 25%;
    background-color: lightgray;
}

.b_show a {
    color: #004A86;
    text-decoration: none;
}

.b_FAQ .accordion-button:not(.collapsed) {
    background-color: white;
}

.b_partner_offer {
    color: white;
    background-color: #0068B5;
}

.b_partner_offer a {
    color: white;
    text-decoration: none;
    border-bottom: 1px dashed white;
}

.b_partner_offer a:hover {
    color: white;
    border-bottom-style: solid;
    /* text-decoration: none; */
}

.b_partner_offer .b_bttn a {
    width: 100%;
    background-color: white;
    border-bottom: none;
    padding: 10px 20px;
    color: #0071c5;
}


.b_special_a {
    color: white;
    text-decoration: none !important;
    border-bottom: 1px dashed white;
}

.b_special_a:hover {
    color: white !important;
    text-decoration: none !important;
    border-bottom: 1px solid white;
}

.b_special_a2 {
    color: #0068b5;
    text-decoration: none;
    border: none;
}

.b_special_a2:hover {
    border-bottom: 1px solid #0068b5;
}

.b_special_a1 {
    color: #0068b5;
    text-decoration: none !important;
    border-bottom: 1px dashed #0068b5;
}

.b_special_a1:hover {
    text-decoration: none !important;
    border-bottom: 1px solid #0068b5;
}

.b_som_nav {
    background-color: white;
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 5;
}

.b_som_nav a {
    text-decoration: none;
    color: black !important;
}

.b_som_nav ul {
    margin: auto;
    /* width: 800px; */
    text-wrap: nowrap;
}

.b_som_nav ul li {
    margin: 0px 20px;
}

.b_head_btn a {
    width: 300px;
    margin: 20px auto;
    text-decoration: none;
    color: white;
    text-align: center;
    background-color: #0068B5;
}

.b_head_btn a:hover {
    width: 300px;
    margin: 20px auto;
    text-decoration: none;
    color: white;
    text-align: center;
    background-color: #0068B5;
}

.b_acc_solution_menu {
    overflow: auto;
}

.b_acc_solution_menu li {
    word-wrap: normal;
    /* width: 100%; */
    list-style: none;
    padding: 20px;
}

.b_acc_solution_menu a {
    text-decoration: none;
    color: #0068b5;
}

.b_active {
    border-bottom: 3px solid #00aeef;
}

.b_tab {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}



.table>:not(caption)>*>* {
    padding: 0px 0px;
}



.b_soft1 {
    /* width: 100%; */
    /* height: 500px; */
    background-image: url('../img/brijesh/image125.jpg');
    background-position: center;
}

.b_theme-dark-default {
    margin: 0px;
    text-align: center;
    padding: 60px 20%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.b_text-container {
    overflow: hidden;
    position: relative;
}

.b_text-container .b_soft_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-position: 50% 50%;
    transition: 0.3s;
}

.b_text-container:hover .b_soft_img {
    transform: scale(150%);
}

.b_soft_trust {
    background-image: url('../img/brijesh/image136.jpg');
    height: 600px;
    width: 100%;
}


.b_soft_button {
    text-align: center;
    padding: 10px 20px;
    color: #0068b5;
    background-color: white;
    width: 250px;
}

.b_soft_button1 {
    text-align: center;
    padding: 10px 20px;
    color: #0068b5;
    background-color: white;
    width: 400px;
    /* text-wrap: nowrap; */
    white-space: normal;
}

.b_service {
    border-bottom: 3px solid aqua;
}

.b_service_image {
    position: relative;
}

.b_service_icon {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    right: 10%;
    top: 10%;
    z-index: 1;
}

.b_service_image .modal-dialog {
    padding: 0px;
    background-color: transparent;
    max-width: 90% !important;
}

.b_soft_card a {
    text-decoration: none !important;
    color: white !important;
    border-bottom: 1px dashed white;
}

.b_soft_card a:hover {
    text-decoration: none !important;
    color: white !important;
    border-bottom: 1px solid white;
}

.b_soft_card .b_card {
    background-color: transparent;
    color: white;
}

.b_soft_card .b_show_text a {
    border: none;
}

.b_soft_card .b_libe_after::after {
    background-color: white;
}

.b_soft_card .b_libe_after::before {
    background-color: white;
}

.b_soft_card .b_libe_after i::before {
    color: white;
}

.b_soft_per img {
    width: 100px;
}

.b_openvino_main {
    background-image: url('../img/brijesh/image192.png');
    background-position: 0%;
}

.b_openvino_main .b_logoimg {
    width: 200px;
}

.b_openvino_main img {
    width: 300px;
}

.b_openvino_box {
    height: 200px;
}

.b_special_btn1 {
    background-color: #0071c5;
    width: 115px;
    height: 30px;
    border: 1px solid #0071c6;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-transform: capitalize;
}

.b_special_btn1:hover {
    background-color: #004A86;
}

.b_special_btn2 {
    width: 115px;
    height: 40px;
    border: 1px solid #0071c6;
    color: #0071c6;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-transform: capitalize;
}

.b_special_btn2:hover {
    background-color: #004A86;
    color: white;
}

.b_special_btn3 {
    color: white;
    background-color: transparent;
    border: 1px solid white;
    padding: 5px 10px;
    cursor: pointer;
}

.b_special_btn3:hover {
    background-color: white;
    color: #004A86;
}

.b_outline:focus {
    border: 2px solid black !important;
    box-shadow: none !important;
    border-radius: 5px !important;
}

.b_special_btn a {
    text-wrap: wrap;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    background-color: #0068B5;
}

.b_special_btn:hover a {
    color: white;
    background-color: #004A86;
}

.b_text_bold {
    font-weight: 900;
}

.b_relate_material a:hover {
    color: #00aeef !important;
}

.b_overview_main {
    position: relative;
}

.b_overview_box {
    width: 90%;
}

.b_overview_box1 {
    position: absolute;
    top: 100%;
    left: 90%;
    height: 50px;
    width: 50px;
    background-color: #00A3F6;
}

.b_overview_box2 {
    position: absolute;
    top: 100%;
    left: -50px;
    height: 50px;
    width: 50px;
    background-color: #00A3F6;
}

.b_small_text {
    font-size: 12px;
}

.b_primary {
    color: #0054ae;
}

/* The switch - the box around the slider */
.b_switch123 {
    position: relative;
    display: inline-block;
    width: 28px;
    height: 16px;
}

/* Hide default HTML checkbox */
.b_switch123 input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.b_slider123 {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.b_slider123::before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.b_slider123 {
    background-color: #2196F3;
}

input:focus+.b_slider123 {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.b_slider123:before {
    -webkit-transform: translateX(12px);
    -ms-transform: translateX(12px);
    transform: translateX(12px);
}

.b_active {
    color: black !important;
    background-color: white;
    border: none;
}

.b_nav_link {
    padding: 10px 20px;
    text-decoration: dotted;
    color: white;
}

.b_nav_link:hover {
    color: white;
}

.b_active_btn {
    background-color: #0054AE;
    color: white;
}

.b_active_btn:hover {
    background-color: #00377c;
    color: white;
}

.b_special_box {
    cursor: pointer;
}

.b_help_toolkit_icon {
    position: relative;
}

.b_help_toolkit_text {
    display: none;
    position: absolute;
    top: 100%;
    width: 250px;
    background-color: black;
    padding: 5px;
    color: white;
    word-wrap: normal;
    z-index: 5;
    font-size: 12px;
}

.b_help_toolkit_icon:hover .b_help_toolkit_text {
    display: block
}

.b_font_12 {
    font-size: 15px;
}

.b_table_responsive1 td {
    border: 1px solid lightgray;
    font-size: 14px;
}

.b_position_sticky {
    position: sticky !important;
    top: 0%;
    left: 0%;
    z-index: 99;
}

.b_graphic_nav {
    background-color: white;
}

.b_graphic_nav a {
    color: #0068b5;
    text-decoration: none;
    padding: 0px 20px;
}

.b_graphic_nav li {
    border-left: 5px solid white;
    padding: 10px;
}

.b_graphic_nav li:hover {
    border-left: 5px solid #005a9d;
    color: #005a9d;
    font-weight: 700;
}

.b_url_nav {
    width: 100px;
    opacity: 0.5;
}

.b_url_nav:hover {
    opacity: 1;
}

.b_graphic_slider_text {
    position: relative;
    top: -60px;
    font-size: 14px;
    height: 60px;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.b_graphic_slider {
    height: 100%;
}

.b_graphic_slider .owl-nav {
    display: none;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-100%);
    justify-content: space-between;
    color: white;
}

.b_graphic_slider:hover .owl-nav {
    display: flex;
}

.b_graphic_slider .owl-dots {
    display: flex;
    justify-content: center;
}

.b_graphic_slider .owl-dots button {
    border-radius: 10px;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.3) !important;
    height: 10px !important;
    width: 10px !important;
}

.b_graphic_slider .owl-dots button.active {
    background-color: #00aeef !important;
}

.b_graphic_slider .owl-nav button {
    padding: 20px 15px;
    font-size: 20px !important;
    background-color: rgba(0, 0, 0, 0.5) !important;
    color: white;
}

.b_sliderspecial_nav .owl-nav button {
    color: #0068b5 !important;
    border-radius: 0px;
    width: 50px;
    height: 50px !important;
    padding: 0px !important;
    font-size: 20px !important;
    background-color: transparent !important;
    border: 5px solid #0068b5 !important;
    border-radius: 50%;
}

.b_slidersquare_dots .owl-dots button {
    border-radius: 0px;
    height: 12px !important;
    width: 12px !important;
}

.b_slidersquare_dots .owl-dots button.active {
    background-color: gray !important;
}

.b_special_text {
    font-size: 20px;
}

.b_industrial_slider {
    position: relative;
}

.b_industrial_slider .owl-nav {
    /* background-color: black; */
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 0px 40px;
    /* z-index: 10; */
}

.b_industrial_slider .owl-nav button {
    font-size: 24px !important;
    color: #0068b5 !important;
    padding: 1px 15px;
    border: 4px solid #0068b5 !important;
    border-radius: 30px;
}

.b_industrial_slider .owl-nav button:hover {
    transform: scale(120%);
}

.b_table1_responsive td,
th {
    padding: 15px 20px !important;
}

.b_special_box1 {
    height: 400px;
}

.b_ark_border {
    border-left: 1px solid lightgrey;
}

.b_special_a3 {
    color: #0071c5;
    text-decoration: none;
}

.b_accordion_default .accordion-item,
.accordion-button {
    background-color: transparent !important;
    ;
    border: none;
    box-shadow: none;
    color: #0373C6;
}

.b_accordion_default .accordion-button:focus {
    box-shadow: none;
    border: none !important;
    color: black;
}

.b_accordion_default .accordion-button {
    padding: 10px !important;
    font-size: 16px;
}

.b_accordion_default .accordion-button a {
    text-decoration: none;
    color: #0373C6;
}

.b_accordion_default .accordion-item a {
    color: #0373C6;
}

.b_accordion_default .accordion-body {
    padding: 0px;
    padding-left: 5px;
}

.b_accordion_default .accordion-button:not(.collapsed) {
    box-shadow: none;
}

.b_accordion_default .accordion-button::after {
    display: none;
}

.b_accordion_default .accordion-button::before {
    content: '';
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30' fill='%230c63e4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    /* margin-left: auto; */
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: center;
    transition: transform .2s ease-in-out;
    transform: rotate(-90deg);
}

.b_accordion_default .accordion-button:not(.collapsed)::before {
    transform: rotate(0deg);
}

.b_compare_box {
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);

}

.b_compare_box a {
    border-left: 1px solid white !important;
}

.bg_light_blue {
    background-color: #B4F0FF !important;
}

.bg_light_blue1 {
    background-color: #00C7FD !important;
}

.b_bgcolor_grey {
    background-color: #f3f3f3 !important;
}

.b_scroll::-webkit-scrollbar {
    display: none;
}

body {
    position: relative;
}

.b_special_offcanvas {
    position: fixed;
    top: 0px;
    right: 0px !important;
    width: 100% !important;
    height: 100vh;
    background-color: white;
    overflow-y: auto;
    transition: all 0.3s ease;
    z-index: 9999;
    overflow: hidden;
}

.b_fliter_search {
    background-color: #f3f3f3;
    color: black;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.b_fliter_search input {
    padding: 10px 20px;
    border: none;
    background-color: transparent;
    color: black;
    transition: all 0.3s ease;
    font-size: 16px;
    width: 100%;
}

.b_fliter_search i {
    margin-left: 0px auto;
    padding: 10px;
    color: #0068b5;
    font-size: 24px;
    transition: all 0.3s ease;
}

.b_fliter_list span {
    color: #0071c5;
}

.b_fliter_list i {
    font-size: 20px;
    font-weight: light;
}
.b_fliter_list li {
    border-left: 4px solid white;
    margin: 20px 0px;
    cursor: pointer;
}
.b_fliter_list li:hover {
    border-left: 4px solid #00AEEF;
}
.b_special_nav {
    display: flex;
}
.b_special_nav li{
    padding: 10px 20px;
    border: 1px solid white;
    color: #0071c5;
    cursor: pointer;
}
.b_special_nav li.active {
    border-color: lightgray;
    border-radius: 5px;
    border-bottom: 4px solid #00AEEF;
}
































































/* =======================================
                Media Query
========================================== */

@media (min-width:1921px) {
    .b_video_icon {
        top: 48%;
        left: 36%;
    }

    .b_video_icon1 {
        top: 48%;
        left: 28%;
    }

    .b_video_icon2 {
        top: 49%;
        left: 43%;
    }

    .b_video_icon3 {
        top: 48%;
        left: 53%;
    }

    .responsive-video3 {
        height: 543px;
    }

    .b_video_icon4 {
        top: 48%;
        left: 57%;
    }

    .b_video_icon5 {
        top: 48%;
        left: 47%;
    }

    .b_res_image44 {
        left: 40%;
    }

    .b_video_icon6 {
        top: 49%;
        left: 45%;
    }



}

@media (min-width:1440px) {
    .b_image_videe {
        margin-top: 50px;
    }

    .b_flex_reve {
        padding-top: 50px;
    }

    .b_extra_div .col-xxl-4 {
        width: 25%;
    }


}

@media (max-width:1440px) {
    .b_container {
        width: 1200px;
    }

    .b_libe_after:before {
        width: 290px;
    }

    .b_ne_blue {
        height: 420px;
    }

    .b_libe_after:after {
        width: 290px;
    }

    .b_image_videe {
        margin-left: 0px;
    }

    .b_video_icon {
        font-size: 60px;
        top: 50%;
        left: 45%;
    }


    .b_image_videe {
        width: 574px;
        height: 325px;
    }

    .b_image_videe2 {
        width: 455px;
        height: 255px;
    }

    .responsive-video {
        width: 96%;
        height: auto;
    }

    .responsive-video1 {
        width: 89%;
        height: auto;

    }

    .b_video_icon2 {
        font-size: 50px;
        top: 49%;
        left: 41%;
    }

    .b_video_icon_2 {
        position: absolute;
        color: white;
        top: 50px;
        left: 0px;
    }

    .b_img_resize {
        width: 260px !important;
        height: 147px !important;
    }

    .b_img_resize {
        margin-top: 50px;
    }

    .b_video_resize {
        width: 750px;
        height: 420px;
    }

    .b_nav_img {
        width: 460px;
        height: 260px;
    }

    .b_bg_blue {
        height: 230px !important;
    }

    .b_intel_img {
        width: 260px !important;
        height: 170px !important;
    }

    .b_infra_img {
        width: 165px;
        height: 92px;
    }

    .b_intel_video {
        width: 750px;
        height: 420px;
    }

    .b_vi_res {
        width: 460px;
        height: 260px;
    }

    .b_flex_reve {
        padding-top: 45px;
    }

    .b_bg_gray {
        height: 680px;
    }

    .b_intel2_img {
        width: 455px;
        height: 255px;
    }

    .b_img_video2 {
        width: 457px;
        height: 257px;
    }

    .b_bg_grey1 {
        height: 900px;
    }

    .b_image_videeo {
        width: 670px;
        height: 375px;
    }

    .b_bg_gray1 {
        height: 430px;
    }

    .b_two_img {
        width: 358px;
        height: 200px;
    }

    .b_0image {
        width: 260px;
        height: 146px;
    }

    .b_height_inc {
        height: 102px;
    }

    .b_res_image {
        width: 747px;
        height: 420px;
    }

    .b_video_icon3 {
        left: 50%;
    }

    .responsive-video3 {
        width: 752px;
        height: 420px;
        left: 8%;
    }

    .b_res_image1 {
        width: 455px;
        height: 255px;
    }

    .b_video_icon4 {
        font-size: 44px;
        top: 51%;
        left: 59%;
    }

    .responsive-video4 {
        width: 452px;
        height: 255px;
        left: 23%;
    }

    .responsive-video5 {
        width: 100%;
        height: auto;
    }

    .b_video_icon5 {
        font-size: 44px;
    }

    .b_res_image44 {
        font-size: 50px;
        left: 43%;
    }

    .b_video_icon_44 {
        width: 755px;
        height: 423px;
        left: 0%;
    }

    .b_resposive_image {
        width: 750px;
        height: 420px;
    }

    .b_video_icon6 {
        font-size: 40px;
        top: 52%;
        left: 44%;
    }

    .responsive-video6 {
        width: 94%;
        height: auto;
    }

    .b_blue_back11 {
        height: 340px;
    }

    .b_inmg {
        width: 275px;
        height: 156px;
        margin-top: 50px;
    }

    .b_FPGA_image {
        width: 260px;
        height: 146px;
    }

    .b_height_newimg {
        width: 455px;
        height: 255px;
    }

    .b_imag_hewid {
        width: 455px;
        height: 235px;
    }

    /* new csss */
    #b_category li {
        font-size: 12px !important;
    }

    .b_soft_button1 {
        width: 250px;
    }
}



@media (max-width:1024px) {
    .b_container {
        width: 100%;
        padding: 0 20px;
    }

    .b_libe_after:before {
        width: 230px;
    }

    .b_libe_after:after {
        width: 230px;
    }

    .b_ne_blue {
        height: 350px;
    }

    .b_ne_blue12 {
        height: 350px;
    }

    .b_margin {
        padding: 0 50px;
    }

    .b_blue_text {
        height: 50px;
    }

    .b_font_width {
        font-size: 32px !important;
    }

    .b_image_videe {
        width: 410px;
        height: 230px;
        margin-top: 50px !important;
    }

    .b_image_videe2 {
        width: 407px;
    }

    .responsive-video1 {
        width: 97%;
        height: auto;
    }

    .b_blue_back {
        margin-right: 35px !important;
    }

    .b_video_icon {
        font-size: 47px;
        top: 49%;
        left: 44%;
    }

    .b_img_resize {
        width: 210px !important;
        height: 120px !important;
    }

    .b_edge_blue {
        height: 200px;
    }

    .b_video_resize {
        width: 610px;
        height: 345px;
    }

    .b_nav_img {
        width: 375px;
        height: 210px;
    }



    /* .....HOME CHNAGE..... */
    .b_box_div {
        font-size: 32px;
    }

    .b_bg_blue {
        height: 200px;
    }

    .b_intel_img {
        width: 210px !important;
        height: 140px !important;
    }

    .b_bg_blue {
        height: 210px !important;
    }

    .b_infra_img {
        width: 131px;
        height: 73px;
    }

    .b_infra_font {
        font-size: 20px;
    }

    .b_intel_video {
        width: 600px;
        height: 345px;
    }

    .b_text-sizee {
        font-size: 28px;
    }

    .b_vi_res {
        width: 375px;
        height: 210px;
    }

    .b_bg_gray {
        height: 600px;
    }

    .b_intel2_img {
        width: 370px;
        height: 210px;
    }

    .b_img_video2 {
        width: 370px;
        height: 210px;

    }

    .b_bg_grey1 {
        height: 885px;
    }

    .b_h3_size {
        font-size: 20px;
    }

    .b_image_videeo {
        width: 460px;
        height: 260px;
    }

    .b_bg_gray1 {
        height: 340px;
    }

    .b_two_img {
        width: 290px;
        height: 160px;
    }

    .b_0image {
        width: 210px;
        height: 115px;
    }

    .b_box_line_height123 {
        height: 120px;
    }

    .b_height_inc {
        height: 154px;
    }

    .b_res_image {
        width: 615px;
        height: 346px;
    }

    .b_text-end {
        text-align: left;
    }

    .responsive-video3 {
        width: 614px;
        height: 346px;
        left: 0%;
    }

    .b_res_image1 {
        width: 370px;
        height: 210px;
    }

    .b_video_icon4 {
        font-size: 38px;
        top: 52%;
        left: 36%;
    }

    .responsive-video4 {
        width: 370px;
        height: 209px;
        left: 0%;
    }

    .responsive-video5 {
        width: 100%;
        height: auto;
    }

    .b_resposive_image {
        width: 610px;
        height: 345px;
        margin-left: 30px;
    }

    .b_video_icon_44 {
        width: 614px;
        height: 346px;
        left: 4%;
    }

    .responsive-video6 {
        width: 94%;
        height: auto;
    }

    .b_video_icon6 {
        font-size: 36px;
        top: 54%;
        left: 44%;
    }

    .b_blue_back11 {
        height: 310px;
    }

    .b_sec_padd {
        margin-left: 20px;
    }

    .b_font_texttt {
        font-size: 28px;
    }

    .b_inmg {
        margin-top: 100px;
    }

    .b_FPGA_image {
        width: 210px;
        height: 115px;
    }

    .b_height_newimg {
        width: 320px;
        height: 210px;
    }

    .b_img_heigh {
        width: 225px !important;
        height: 127px;
    }

    .b_bg_newBlue_clip {
        clip-path: polygon(0 0, 0 100%, 100% 50%);

    }

    .b_imag_hewid {
        width: 375px;
        height: 194px;
    }

    .b_sidebox {
        width: 100% !important;
        padding-left: 10px !important;
    }

    .b_sidebox2 {
        width: 100% !important;
        margin-top: 30px !important;
    }

    .B_border_div {
        border: none !important;
    }

    .b_center_texttt {
        text-align: center;
    }

    .b_select_mar {
        margin-left: 0;
        width: 100%;
    }

    .b_sied_pad {
        padding: 0 !important;
    }

    .document-item {
        padding: 20px;
    }

    /* newcss*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
    body {
        position: relative;
    }

    .b_sidebox_main {
        position: absolute;
        top: 0%;
        padding: 0px !important;
        background-color: #F7F7F7;
        height: 100%;
        z-index: 9999;
    }

    /* .row {
        padding: 0px !important;
    } */
    /* new css */
    .b_acc_solution_menu ul {
        width: 1200px;
        border-bottom: 1px solid lightgray;
    }

    .b_special_box1 {
        height: 200px;
    }


}

@media (max-width:768px) {

    .b_video_icon {
        font-size: 40px;
        top: 46%;
        left: 55%;
    }

    .b_text_justify {
        font-size: 14px;
    }


    .b_libe_after:before {
        width: 150px;
    }

    .b_libe_after:after {
        width: 150px;
    }

    .b_box_line_height1 {
        height: 100px;
    }

    .b_box_line_height {
        height: 100px;
        padding-bottom: 10px;
    }

    .b_image_videe {
        width: 307px;
        height: 173px;
        margin-top: 50px !important;
    }

    .b_image_videe2 {
        width: 279px;
        height: 158px;
    }

    .responsive-video2 {
        width: 89%;
        height: auto;
    }

    .b_video_icon2 {
        font-size: 34px;
        top: 47%;
        left: 50%;
    }


    .b_ne_blue12 {
        height: 325px;
    }

    .b_padding_remove {
        padding: 0 !important;
    }

    .b_blue_back {
        height: 284px !important;
        margin: 30px 0 0 20px !important;
    }

    .b_video_icon_2 {
        top: 30px;
        left: 30px;
    }

    .b_image_videe {
        margin-left: 30px;
        margin-top: 30px !important;
    }

    .b_ne_blue {
        height: 350px !important;
    }

    .b_card_immg {
        width: 8rem !important;
    }

    .b_img_resize {
        margin-top: 0px !important;
    }

    .b_edge_blue {
        height: 600px;
    }

    .b_img_resize {
        width: 712px !important;
        height: 400px !important;
    }

    .b_video_resize {
        width: 470px;
        height: 260px;
    }

    .b_font_vsize {
        font-size: 28px;
    }

    .b_nav_img {
        width: 282px;
        height: 158px;
    }



    /* HOME CHANGE */
    .b_bg_blue {
        height: 600px;
    }

    .b_box_div {
        margin-top: 30px;
    }

    .b_intel_img {
        width: 700px !important;
        height: 380px !important;
        padding-top: 0 !important;
    }

    .b_bg_blue {
        height: 530px !important;
    }

    .b_infra_img {
        width: 99px;
        height: 70px;
    }

    /* .b_infra_font{
        font-size: 16px ;
    } */
    .b_bg_bluee {
        height: 220px;
    }

    .b_intel_video {
        width: 460px;
        height: 264px;
    }

    .b_vi_res {
        width: 282px;
        height: 158px;
    }

    .b_text-end {
        text-align: end;
    }

    .b_img_posi {
        text-align: start;
    }

    .b_inteli_img {
        width: 700px;
        height: 400px;
    }

    .b_box_line_height11 {
        height: 120px;
    }

    .b_intel2_img {
        width: 280px;
        height: 155px;
    }

    .b_text_sizee {
        font-size: 28px;
    }

    .b_img_video2 {
        width: 280px;
        height: 158px;
    }

    .b_bg_innteli {
        height: 320px;
    }

    .b_box_line_height33 {
        height: 140px;
    }

    .b_bg_grey1 {
        height: 1100px;
    }

    .b_image_videeo {
        width: 335px;
        height: 188px;
    }

    .b_bg_gray1 {
        height: 450px;
    }

    .b_two_img {
        width: 215px;
        height: 120px;
    }

    .b_mage_blue {
        height: 740px;
    }

    .b_0image {
        width: 710px;
        height: 400px;
    }

    .b_res_image {
        width: 465px;
        height: 260px;
    }

    .b_video_icon3 {
        top: 47%;
        left: 51%;
    }

    .responsive-video3 {
        width: 466px;
        height: 260px;
        left: 7%;
    }

    .b_res_image1 {
        width: 280px;
        height: 155px;
    }


    .b_video_icon4 {
        font-size: 27px;
        top: 51%;
        left: 58%;
    }

    .responsive-video4 {
        width: 283px;
        height: 157px;
        left: 20%;
    }

    .b_res_image2 {
        margin-left: 0px;
    }

    .b_video_icon5 {
        top: 48%;
        left: 47%;
    }

    .b_video_icon_3 {
        left: 0;
    }

    .b_res_image2 {
        height: 100%;
    }

    .b_resposive_image {
        width: 450px;
        height: 254px;
    }

    .b_res_image44 {
        left: 48%;
    }

    .b_video_icon_44 {
        width: 450px;
        height: 254px;
        left: 6%;
    }

    .b_font_vsize {
        padding-top: 20px;
    }

    .b_res_image6 {
        padding-right: 20px;
        height: 146px;
    }

    .b_video_icon6 {
        font-size: 30px;
        top: 49%;
        left: 51%;
    }

    .responsive-video6 {
        width: 90%;
    }

    .b_blue_back11 {
        height: 350px !important;
    }

    .b_ne_blue11 {
        height: 410px !important;
    }

    .b_inmg {
        margin-top: 40px;
    }

    .b_FPGA_image {
        width: 710px;
        height: 400px;
    }

    .b_height_newimg {
        width: 280px;
        height: 155px;
    }

    .b_img_heigh {
        width: 170px !important;
        height: 95px;
    }

    .b_bg_newBlue_clip {
        width: calc(100% - 10px);
        background-color: #b9d6e5;
        position: relative;
        height: 100px;
        left: 0;
        top: -100%;
        clip-path: polygon(100% 0, 0 0, 50% 100%);
    }

    #cardContainer .col-md-6:nth-child(n+4) {
        display: none;
    }

    #toggleContainer {
        display: block !important;
    }

    .b_12_box {
        height: 60px;
    }

    .b_imag_hewid {
        width: 280px;
        height: 145px;
    }

    /* newcss*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
    body {
        position: relative;
    }

    .b_sidebox_main {
        position: absolute;
        top: 0%;
        padding: 0px !important;
        background-color: #F7F7F7;
        height: 100%;
        z-index: 9999;
    }

    .b_openvino_box {
        height: 240px;
    }

    .w_sm_100 img {
        width: 100% !important;
        height: 100% !important;
    }

    .b_table {
        width: 500px !important;
    }

    .b_ark_border {
        border-top: 1px solid lightgray;
        border-left: none;
    }
}


@media (min-width: 426px) {
    .toggle-button-container {
        display: none;
    }
}

@media (max-width:425px) {

    .b_over_flow {
        overflow-x: scroll;
        /* Enable horizontal scroll */
    }

    .b_nav_tab {
        flex: 0 0 auto;
        /* Ensure items don't shrink and take the necessary space */
    }

    .b_ne_blue12 {
        height: 470px;
    }

    .b_video_icon {
        font-size: 40px;
        top: 46%;
        left: 46%;
    }

    .b_libe_after:before {
        width: 125px;
        left: 0px;
    }

    .b_card_atext {
        padding-top: 50px;
    }


    .b_libe_after:after {
        width: 125px;
        right: 0px;

    }

    .b_hide_sec {
        display: none;
    }

    .b_margin {
        padding: 0 20px;
        margin-top: 45px !important;
    }

    .b_backremove {
        background-color: white;
        padding: 0;
        margin: 0%;
    }

    .b_padding {
        padding: 0;
        margin: 0;
    }

    .b_padding a {
        font-size: 16px;

    }

    .b_fontweight {
        font-weight: 400;
        padding: 0;
        margin: 0;
    }

    .b_top_border {
        border-top: 1px solid #e5e5e5;
        padding: 8px 0;
    }

    .b_top_borderb {
        border-bottom: 1px solid #e5e5e5;
    }

    .b_padding_remove {
        padding-left: 0 !important;
    }

    .b_box_line_height {
        margin: 0;
        margin-bottom: 8px;
    }

    .b_blue_back {
        margin-left: 0 !important;
        margin-top: 0 !important;
    }

    .b_image_videe {
        margin-left: 0 !important;
        width: 100% !important;
        height: 220px !important;
    }


    .b_video_icon_2 {
        top: 30px;
        left: 0px;
        width: 100%;
    }

    .b_ne_blue {
        height: 534px !important;
    }

    .b_col_reves {
        display: flex;
        flex-direction: column-reverse;
    }

    .b_font_width {
        font-size: 28px !important;
        width: 92% !important;
    }

    .B_three_margin {
        margin: 0 !important;
    }

    .b_card_immg {
        width: 12rem !important;
    }

    .b_img_resize {
        width: 390px !important;
        height: 219px !important;
    }

    .b_edge_blue {
        height: 410px;
    }

    .b_video_resize {
        width: 415px;
        height: 260px;
    }


    .b_flex_col {
        display: flex;
        flex-direction: column-reverse;
    }

    /* ...HOME CHNAGE */
    .b_box_div {
        font-size: 26px;
    }

    .b_bg_blue {
        height: 460px;
    }

    .b_intel_img {
        width: 341px !important;
        height: 192px !important;
        padding-top: 0 !important;
    }

    .b_bg_blue {
        height: 400px !important;
    }

    .b_hide_text {
        display: none;
    }

    .b_bg_bluee {
        height: 150px;
    }

    .b_container .roww {
        flex-direction: column-reverse !important;
    }

    .b_container .h111 {
        text-align: center;
        margin-top: 15px;
    }

    /* .b_intel_video {
        width: 425px;
        height: 239px;
    } */
    .b_intel_video {
        max-width: 100%;
        height: auto;
    }

    .b_flex_reve {
        display: flex;
        flex-direction: column-reverse !important;
    }

    .b_vi_res {
        text-align: left !important;
    }

    .b_text-end {
        text-align: left;
        padding: 0 !important;
    }

    .b_vi_res {
        max-width: 100%;
        height: auto;
    }

    .b_vi_res {
        width: 425px;
        height: 240px;
    }

    .b_bg_gray {
        height: 910px;
    }

    .b_inteli_img {
        width: 390px;
        height: 210px;
    }

    .b_intel2_img {
        width: 410px;
        height: 240px;
    }

    .b_img_padding {
        margin-left: 0px !important;
    }

    .b_img_video2 {
        width: 100%;
        height: auto;
    }

    .b_img_video21 {
        display: flex;
        flex-direction: column-reverse;
    }

    .b_box_line_height11 {
        height: 80px;
    }

    .b_storage_bg {
        height: 390px;
    }

    .b_box_line_height33 {
        height: 90px;
    }

    .b_box_line_height {
        height: 80px;
    }

    .b_margin1 {
        margin-top: 0px;
    }

    .b_margin1 {
        padding: 0;
    }

    .b_btn_width {
        width: 350px;
    }

    .b_bg_grey1 {
        height: 1550px;
    }

    .b_hide_img {
        display: none;
    }

    .col-custom {
        margin-bottom: 20px;
    }

    .b_bg_grey1 {
        height: 1300px;
    }

    .b_img_video21 {
        flex-direction: column !important;
    }

    .b_image_videeo {
        width: 325px;
        height: 188px;
    }

    .b_para_text {
        padding-top: 30px
    }

    .b_bg_gray1 {
        height: 660px;
    }

    .b_two_img {
        width: 390px;
        height: 220px;
    }

    .b_mage_blue {
        height: 1400px;
    }

    .b_bottom_margin {
        margin-bottom: 20px;
    }

    .b_0image {
        width: 390px;
        height: 210px;
    }

    .b_box_line_height123 {
        height: 80px;
    }

    .toggle-content {
        display: none;
    }

    .show-all .toggle-content {
        display: block;
    }

    .responsive-video3 {
        height: 231px;
    }

    .responsive-video4 {
        width: 394px;
        height: 220px;
        left: 0%;
    }

    .b_res_image1 {
        width: 96% !important;
        height: 220px !important;
    }

    .b_resposive_image {
        height: 229px !important;
    }

    .b_res_image6 {
        width: 405px !important;
        height: 217px !important;
    }

    .b_paddding {
        margin-top: 60px;
        padding: 40px 20px;
    }

    .b_head_text {
        font-size: 26px;
    }

    .b_hide_image {
        display: none;
    }

    .b_font_texttt {
        font-size: 24px;
    }

    .b_FPGA_image {
        width: 390px;
        height: 210px;
    }

    .b_text_nonee {
        display: none;
    }

    .b_fs_size {
        font-size: 16px;

    }

    .b_height_newimg {
        width: 385px;
        height: 230px;
    }

    .b_btn_wi {
        width: 100%;
    }

    .b_img_heigh {
        width: 195px !important;
        height: 110px;
    }

    #cardContainer .col-md-6:nth-child(n+3) {
        display: none;
    }

    .b_classPt {
        padding-top: 5px !important;
    }

    .b_12_box {
        height: 46px !important;
    }

    .b_container123 {
        padding: 0 !important;
    }

    .b_imag_hewid {
        width: 385px;
        height: 220px;
    }

    .b_intec_font {
        font-size: 26px;
        margin-top: 15px;
    }

    /* newcss*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
    body {
        position: relative;
    }

    .b_sidebox_main {
        position: absolute;
        top: 0%;
        padding: 0px !important;
        background-color: #F7F7F7;
        height: 100%;
        z-index: 9999;
    }

    .b_soft_button {
        background-color: white;
        width: 100%;
    }

    .b_soft_button1 {
        background-color: white;
        width: 100%;
    }

    .b_openvino_box {
        height: auto;
    }

    .b_overview_box {
        width: 100%;
        height: 100%;
    }

    .b_container_md {
        padding: 0px !important;
    }

    .b_special_box {
        width: 100%;
        /* height: 100%; */
        /* padding: 20px; */
    }

    /* .fs_md_16{
            font-size: 2px !important;
        } */
    .b_special_text {
        font-size: 16px;
    }


}




@media (max-width:375px) {
    .b_para {
        font-size: 13px;
    }

    .b_libe_after:before {
        width: 105px;
        left: 0px;
    }

    .b_image_videe2 {
        width: 100%;
        height: 202px;
    }


    .b_libe_after::after {
        width: 105px;
        right: 0px;
    }

    .b_box_line_height {
        height: 100px;
    }

    .b_box_line_height44 {
        height: 70px;
    }

    .b_card_immg {
        width: 10rem !important;
    }

    .b_img_resize {
        width: 340px !important;
        height: 192px !important;
    }

    .b_video_resize {
        width: 365px;
        height: 260px;
        padding-left: 0 !important;

    }



    .b_inteli_img {
        width: 340px;
        height: 190px;
        padding-top: 0;
    }

    .b_intel2_img {
        width: 360px;
        height: 240px;
    }

    .b_bg_innteli {
        height: 380px;
    }



    .b_bg_grey1 {
        height: 1440px;
    }

    .b_two_img {
        width: 340px;
        height: 190px;
    }

    .b_0image {
        width: 340px;
        height: 190px;
    }

    .b_res_image {
        width: 360px !important;
        height: 209px !important;
    }

    .responsive-video3 {
        width: 360px;
        height: 208px;
        left: 0%;
    }

    .responsive-video4 {
        width: 359px;
        height: 198px;
        left: 0%;
    }

    .b_res_image1 {
        width: 100% !important;
        height: 200px !important;
    }

    .b_res_image2 {
        width: 100% !important;
        height: 187px !important;
    }

    .b_resposive_image {
        height: 208px !important;
    }

    .b_res_image6 {
        width: 355px !important;
        height: 188px !important;
    }

    .b_FPGA_image {
        width: 340px;
        height: 190px;
    }

    .b_height_newimg {
        width: 335px;
        height: 200px;
    }

    .b_img_heigh {
        width: 170px !important;
        height: 95px;
    }

    .b_imag_hewid {
        width: 335px;
        height: 190px;

    }

    /* newcss*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
    body {
        position: relative;
    }

    .b_sidebox_main {
        position: absolute;
        top: 0%;
        padding: 0px !important;
        background-color: #F7F7F7;
        height: 100%;
        z-index: 9999;
    }


}

@media (max-width:320px) {
    .b_para {
        font-size: 13px;
    }

    .b_libe_after:before {
        width: 79px;
        left: 0px;
    }

    .b_libe_after:after {
        width: 79px;
        right: 0px;
    }

    .b_blue_back {
        height: 285px !important;
    }

    .b_card_immg {
        width: 9rem !important;
    }


    .b_img_resize {
        width: 287px !important;
        height: 161px !important;
    }

    .b_edge_blue {
        height: 430px;
    }

    .b_video_resize {
        width: 305px;
        height: 180px;
        padding-left: 0 !important;
    }


    .b_intel_img {
        width: 280px !important;
        height: 150px !important;
        padding-top: 0 !important;
    }

    .b_bg_blue {
        height: 400px !important;
    }

    .b_bg_bluee {
        height: 165px;
    }

    .b_flex_reve {
        padding-top: 0px;
    }

    .b_bg_gray {
        height: 970px;
    }

    .b_inteli_img {
        width: 285px;
        height: 160px;
    }

    .b_intel2_img {
        width: 360px;
        height: 240px;
    }

    .b_intel2_img {
        width: 310px;
        height: 180px;
    }

    .b_bg_innteli {
        height: 430px;
    }

    .b_text_nowrap {
        width: 280px;
        text-wrap: wrap;
    }



    .b_storage_bg {
        height: 460px;
    }

    .b_btn_width {
        width: 280px;
    }

    .b_bg_grey1 {
        height: 1650px;
    }

    .b_image_videeo {
        width: 270px;
        height: 140x;
    }

    .b_two_img {
        width: 285px;
        height: 160px;
    }

    .b_mage_blue {
        height: 1460px;
    }

    .b_0image {
        width: 285px;
        height: 160px;
    }

    .b_image_videe {
        height: 180px !important;
    }

    .b_image_videe2 {
        width: 100% !important;
        height: 172px !important;
    }

    .responsive-video3 {
        width: 304px;
        height: 171px;
    }

    .responsive-video4 {
        width: 304px;
        height: 172px;
    }

    .b_res_image1 {
        height: 172px !important;
    }

    .b_resposive_image {
        height: 171px !important;
    }

    .b_res_image6 {
        width: 300px !important;
        height: 156px !important;
    }

    .b_ne_blue11 {
        height: 550px !important;
    }

    .b_blue_back11 {
        height: 340px !important;
    }

    .b_paddding {
        margin-top: 0;
    }

    .b_FPGA_image {
        width: 285px;
        height: 160px;
    }

    .b_height_newimg {
        width: 280px;
        height: 170px;
    }

    .b_img_heigh {
        width: 145px !important;
        height: 80px;
    }

    .b_imag_hewid {
        width: 282px;
        height: 160px;
    }

    /* newcss*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
    body {
        position: relative;
    }

    .b_sidebox_main {
        position: absolute;
        top: 0%;
        padding: 0px !important;
        background-color: #F7F7F7;
        height: 100%;
        z-index: 9999;
    }



}

.custom-row .col-custom {
    flex: 0 0 100%;
    max-width: 100%;
}

/* 768px to 1023px - 2 items per row */
@media (min-width: 768px) and (max-width: 1024px) {
    .custom-row .col-custom {
        flex: 0 0 50%;
        max-width: 50%;
    }

    /* newcss*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
    /* .b_sidebox_main{
            position: absolute;
            top: 0%;
            padding: 0px !important;
            background-color: #F7F7F7;
            height: 100vh;
        } */
}

/* 1024px to 1439px - 3 items per row */
@media (min-width: 1025px) and (max-width: 1440px) {
    .custom-row .col-custom {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}

/* 1440px and above - 4 items per row */
@media (min-width: 1441px) {
    .custom-row .col-custom {
        flex: 0 0 25%;
        max-width: 25%;
    }
}