* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Intel Clear', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.b_bg_new1 {
    background-color: #004A86;
    color: white;
}

.b_bg_subnew1 {
    background-color: #0068B5;
    color: white;

}
.row,
col {
    padding: 0;
    margin: 0;
}