* {
    font-family: 'Intel Clear', sans-serif;
}

.d_banner {
    background-image: radial-gradient(circle at 50% 400%, #1C80Ca 40%, #002b63 100%);
    padding: 25px;
}

.d_banner .d_content {
    padding: 30px 0 20px;
}

.d_banner .d_content .d_main,
.d_banner1 .d_content .d_main {
    /* max-width: 100%; */
    padding: 30px;
}

.d_banner .d_main h1,
.d_banner1 .d_main h1 {
    font-size: 40px;
    color: #fff;
    line-height: 1.2;
    font-weight: 300;
}

.d_banner .d_left .d_btn a {
    color: #0068b5;
    background-color: #fff;
    padding: 10px 24px;
    text-decoration: none;
}

/* .d_banner .d_left .d_btn a i,
.d_banner .d_left .d_btn1 a i{
    padding-left: 4.8px;
    margin-right: 5px;
} */

.d_banner .d_left .d_cols {
    display: flex;
    justify-content: center;
}

.d_banner .d_left .d_btn1 a {
    margin-left: 4px;
    background-color: transparent;
    color: #fff;
    text-decoration: none;
    padding: 10px 24px;
}
.d_banner .d_con1 .d_con2 h1{
    font-size: 32px;
}

/* Membsership */

.d_richtext h1 {
    margin: 22px 0px 11px;
    text-align: center;
    font-size: 28px;
    color: #262626;
    font-weight: 300;
}

.d_richtext p {
    line-height: 1.25;
    margin-bottom: 11px;
    text-align: center;
    font-size: 15px;
}

.d_p-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

/* Promotion Section Start */

.d_promotion h2 {
    font-size: 36px;
    margin-bottom: 16px;
    padding: 5px 0;
    line-height: 1.25;
    font-weight: 300;
}

.d_promotion .d_item .d_img {
    max-width: 50%;
    margin-bottom: 20px;
}

.d_promotion .d_item .d_img img {
    width: 100%;
}

.d_promotion .d_item .d_content h3 {
    margin-bottom: 8px;
    line-height: 1.6rem;
    font-size: 24px;
    color: #262626;
}

.d_promotion .d_item .d_content ul {
    margin-top: -3px;
    margin-bottom: 11px;
}

.d_promotion .d_item .d_content ul li {
    color: #262626;
}

/* Partner section start */

.d_partner .d_img {
    height: auto;
    width: 100%;
}

.d_partner .d_img img {
    width: 100%;
    height: 100%;
}

.d_partner .d_txtcon {
    display: flex;
    align-items: center;
}

.d_partner .d_text h2 {
    padding: 5px 0;
    margin-bottom: 8px;
}

.d_partner .d_text h2 a {
    color: #0068b5;
    font-size: 36px;
    text-decoration: none;
}

.d_partner .d_text p {
    margin-bottom: 11px;
    color: #262626;
    line-height: 1.25;
}

.d_partner .d_text .d_cta {
    padding-top: 4px;
}

.d_partner .d_text .d_cta a ,.d_head1 .d_cta a {
    color: #fff;
    background-color: #0068b5;
    border-radius: 0;
    text-decoration: none;
    padding: 10px 24px;
}

/* Table Section start */

/* Tab section start */

.d_tab {
    background-color: #f7f7f7;
    padding: 20px 0;
}

.d_tab .nav-tabs .nav-link.active {
    border: none !important;
    background-color: #F2F2F2 !important;
    border-bottom: 1px solid #0068b5;
    color: #0068b5 !important;
    border-bottom: 4px solid #00aeef !important;
}

.d_tab .nav-link {
    color: #0068b5;
    font-size: 16px;
    padding: .75rem 1.5rem .5rem;
}

.d_tab .d_tabtext .d_title h2 {
    color: #262626;
    margin-bottom: 8px;
    padding: 5px 0;
}
.d_tab .d_tabtext .d_title p{
    text-align: justify;
}

.d_tab .d_tabtext .d_img {
    width: 100%;
}

.d_tab .d_tabtext .d_img img {
    width: 100%;
}

.d_tab .d_tabtext .d_title p a {
    color: #0068b5;
    text-decoration: underline dotted;
    text-decoration-style: dashed;
    text-underline-offset: .3rem;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: .5px;
    background-color: transparent;
}

.d_table .d_tbl {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    border: 0;
}

.d_table .d_tbl {
    border: 1px solid #e9e9e9;
}

.d_table thead {
    color: #333;
    font-weight: 700;
}

.d_table .d_tbl thead tr th {
    background-color: #e9e9e9;
    border-right: 1px solid #fff;
    padding: 8px;
    text-align: center;
    font-size: 14px;
    color: #262626;
    line-height: 1.25;
}

.d_table .d_tbl tbody tr td {
    background-color: #fff;
    border-right: 1px solid #e9e9e9;
    border-top: 1px solid #e9e9e9;
    padding: 16px;
    overflow: hidden;
    font-size: 14px;
}

.d_table .d_tbl tbody tr td a {
    color: #0068b5;
    text-decoration: underline dotted;
    text-decoration-style: dashed;
    text-underline-offset: .3rem;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: .5px;
    background-color: transparent;
}

.d_table .d_tbl tbody tr:nth-child(even) td {
    background-color: #f7f7f7;
}

.d_table .d_tbl tbody tr td p {
    margin-left: 40px;
    text-align: left;
    margin-bottom: 11px;
}

.d_table tbody sub {
    font-size: 100%;
    line-height: 0;
    vertical-align: baseline;
}

/* Intotext css start */

.d_p {
    padding-top: 16px;
    padding-bottom: 32px;
}

.d_introtext h3 {
    margin-bottom: 24px;
    color: #262626;
    font-size: 28px;
}

.d_introtext p {
    margin-bottom: 8px;
    line-height: 1.25;
    color: #262626;
}

.d_introtext ul {
    padding-inline-start: 40px;
    margin-bottom: 11px;
}

.d_introtext ul li {
    padding-bottom: 8px;
    color: #262626;
}

.d_more {
    text-align: center;
}

.d_more a {
    text-align: center;
    text-decoration: none;
    color: #0068b5;
}

.d_more .card {
    border: none !important;
}

.d_more .card-body {
    padding: 0 !important;
    text-align: start;
}

.d_more .card-body ul {
    padding-left: 0px;
}

.d_more .card-body ul li i {
    padding-right: 5px;
    font-size: 10px;
    line-height: 15px;
    margin-top: -2px;
}

.d_more .card-body p a,
.d_intro p a,
.d_support .d_inset a {
    color: #0068b5;
    text-decoration: underline dotted;
    text-decoration-style: dashed;
    text-underline-offset: .3rem;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: .5px;
    background-color: transparent;
}

.d_more .card p {
    margin-bottom: 8px !important;
}

.d_showicon {
    text-align: center;
}

.d_inline {
    display: flex;
    width: 100%;
}

/* .d_showicon::before
{
    content: "";
    height: 1px;
    background-color: #0068b5;
    width: 80%;
    align-self: center;
}
.d_showicon::after
{
    content: "";
    height: 1px;
    background-color: #0068b5;
    width: 80%;
    align-self: center;
} */



/* Card section start */

.d_card {
    background-color: #f7f7f7;
}

.d_card .d_padding {
    padding-top: 40px;
    padding-bottom: 16px;
}

.d_card .d_heading {
    margin-bottom: 8px;
    font-size: 28px;
    color: #262626;
}

.d_card p {
    margin-bottom: 1.5rem;
}

.d_card .d_inset {
    color: #262626;
}

.d_card .d_item {
    margin-bottom: 24px;
}

.d_card .d_item .d_wrap {
    padding: 12px 24px;
    background: #fff
}

.d_card .d_item .d_wrap a {
    text-decoration: none;
    color: #0068b5;
}

/* Intel Section Start */

.d_p2 {
    padding: 40px 15px 32px;
    color: #262626;
}

.d_intel h3 {
    padding-bottom: 8px;
    margin-bottom: 24px;
    border-bottom: 1px solid gray
}

.d_intel .d_content .d_m16 {
    margin-bottom: 16px;
}

.d_intel .d_content h4 i {
    margin-right: 8px;
}

.d_intel .d_content h4 {
    font-size: 22px;
    margin-bottom: 8px;
}

.d_intel .d_content ul li {
    padding-bottom: 8px;
}
.d_intel .d_content ul li a i{
    margin-left: 3px;
}
.d_intel .d_content ul li a {
    text-decoration: none;
    color: #0068b5;
    background-color: transparent;
}

.d_intel .d_content h4 span {
    margin-right: 5px;
}

.d_intel .d_content ul .d_text {
    font-size: 14px;
}

/* Disclaimer css start */

.d_p3 {
    padding: 48px 15px;
    border-top: 1px solid #d7d7d7;
    color: #525252;
}

.d_dis h4 {
    font-weight: 400;
    margin-bottom: 8px;
    font-size: 16px;
}

.d_dis .d_list {
    font-size: 12px;
    font-weight: 400;
    margin-top: 0px;
}

.d_dis .d_list sub {
    margin-right: 5px;
    top: 3.8em;
    font-size: 50%;
    vertical-align: top;
    line-height: 0;
    position: relative;
}

/* Offerning category page */

.d_banner1 {
    background-image: url('./../darshan_image/feature.svg');
    background-color: #183544;
    padding: 25px;
}

.d_banner1 .d_content {
    padding: 0;
}

.d_serach {
    width: 100%;
    display: flex;
    justify-content: center;
}

.d_serach form {
    margin: 1.5rem 0 auto;
}

.d_serach button {
    width: 800px;
    background-color: #fff !important;
    border: 0 !important;
}

.d_serach button span i {
    margin: 0 3.8px;
    color: #0068b5;
}

.d_serach form input {
    color: #0068b5 !important;
    height: 3.5rem;
    width: 100%;
    padding-left: 2.625rem;
    /* border: 1px solid #d7d7d7; */
    border: 0;
    border-radius: 0;
    display: inline-block;
    padding-right: 2.1875rem;
}

.d_serach form input:focus {
    outline: none !important;
}

.d_banner1 .d_main p {
    color: white;
    margin-bottom: 16px;
}

/* Main section Start */


.d_p4 {
    padding: 48px 0 24px 0;
}

.d_feature .d_item .img {
    width: 100px;
    margin-right: 16px;
}

.d_feature .d_item .img img {
    width: 100%;
}

.d_feature .d_item .d_content h3 {
    margin-bottom: 3px;
    font-size: 22px;
}

.d_feature .d_item .d_content h3 a {
    text-decoration: none;
    color: #0068b5;
    transition: .3s all;
}

.d_feature .d_item .d_content p {
    color: #262626;
    margin-bottom: 0;
    line-height: 1.25;
}

.d_feature .d_item .d_content h3 a:hover {
    text-decoration: underline;
}

/* Partner Directory Page */

.d_feature h2 {
    margin-bottom: 24px;
    font-size: 36px;
    color: #262626;
}

/* Help Page Start */

.d_p-48 {
    padding: 48px 0;
}

/* .d_card1 {
    padding: 48px 0;
} */
.d_card1 .d_padding {
    padding-top: 40px;
    padding-bottom: 16px;
}

.d_card1 .d_heading {
    margin-bottom: 8px;
    font-size: 28px;
    color: #262626;
}

.d_card1 p {
    margin-bottom: 1.5rem;
}

.d_card1 .d_inset {
    color: #262626;

}

.d_card1 .d_item {
    margin-bottom: 24px;
}

.d_card1 .d_item .d_wrap {
    padding: 12px 24px;
    background-color: #f7f7f7;
    /* min-height: 4.5rem; */
}

.d_card1 .d_item .d_wrap a {
    text-decoration: none;
    color: #0068b5;
}

/* submit solution Page */

.d_banner .d_con1 h1 {
    font-size: 36px;
}

.d_banner .d_content .d_desc {
    color: white;
}

.d_jumplink {
    /* display: flex; */
    justify-content: center;
    border-bottom: 1px solid #d7d7d7;
    padding-bottom: 0;
    position: relative;
    z-index: 999;
}
.d_jumplink .navbar{
    background-color: #fff;
}
.d_navbar {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #fff;

}

.d_jumplink .nav-link {
    color: #252525;
    text-decoration: none;
    font-size: 20px;
    line-height: 1;
    padding: 22px 8px 19px;
    border-bottom: 5px solid transparent !important;
}

.d_jumplink .nav-scroller {
    position: relative;
    z-index: 50;
    height: 4.3rem;
    overflow-y: hidden;
}

.d_jumplink .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    /* margin-top: -1px; */
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.d_jumplink .nav-link:focus {
    color: #252525 !important;
    border-bottom: 5px solid #00aeef !important;
}

.d_jumplink .active {

    border-bottom:5px solid #00aeef !important;
}

.d_jumplink .nav-link:hover {
    color: #252525 !important;
}

.d_intro p {
    margin-bottom: 8px;
    text-align: justify;
}

.d_p-40 {
    padding: 40px 0;
}

.d_benefit h2 {
    padding: 5px 0;
    margin-bottom: 8px;
    font-size: 36px;
    color: #262626;
}

.d_benefit .d_item {
    padding: 16px;
}

.d_benefit .d_item .d_img {
    width: 100%;
    height: 100%;
}

.d_benefit .d_item .d_img img {
    width: 100%;
    height: 100%;
}

.d_benefit .d_item h3 {
    padding-top: 10px;
    font-size: 24px;
    color: #262626;
}

.d_soul .d_item {
    padding: 16px 0;
}

.d_soul .d_item .d_img {
    max-width: 100%;
    height: 100%;
}

.d_soul .d_item .d_img img {
    width: 100%;
    height: 100%;
}

.d_soul .d_item h3 {
    font-size: 24px;
    margin-bottom: 8px;
    color: #262626;
}

/* Partner alliance page */

.d_alliance h4 {
    color: #262626;
}

.d_intro1 {
    background-color: #0068B5;
    padding: 16px 0 32px 0;
}

.d_intro1 h2 {
    color: white;
    text-align: center;
    font-size: 36px;
    padding: 5px 0;
}

.d_intro1 .d_ctaitem a {
    color: #0068b5;
    background-color: #fff;
    padding: 10px 24px;
    text-decoration: none;
    transition: .3s all;
}

.d_intro1 .d_ctaitem a:hover {
    background-color: #e9e9e9;
}

.d_promotion .d_ctaitem a {
    color: white;
    background-color: #0068b5;
    padding: 10px 24px;
    text-decoration: none;
    transition: .3s all;
}
.d_promotion .d_item .d_img1{
    max-width: 100%;
}
.d_promotion .d_item p{
    color: #262626;
}

.d_soul1{
    background-color: #f7f7f7;
}
.d_soul1 .d_item {
    padding: 16px 0;
}

.d_soul1 .d_item .d_img {
    max-width: 100%;
    height: auto;
}

.d_soul1 .d_item .d_img img {
    width: 100%;
    height: 100%;
}

.d_soul1 .d_item h3 a{
    text-decoration: none;
    font-size: 24px;
    margin-bottom: 8px;
    color: #0068b5;
    transition: .3s all;
}
.d_soul1 .d_item h3 a:hover{
    text-decoration: underline;
}
.d_soul1 .d_item h3 p{
    color: #262626;
}
.d_soul1 .d_ctaitem a,.d_multi .d_title .d_ctaitem {
    color: white;
    background-color: #0068b5;
    padding: 10px 24px;
    text-decoration: none;
    transition: .3s all;
    text-align: center;
    /* width: 100%; */
}
.d_soul1 .d_ctaitem a:hover{
    background-color: #004a86;
}

.d_multi .d_title h2 {
    color: #262626;
    margin-bottom: 8px;
    padding: 5px 0;
}
.d_multi .d_title p{
    text-align: justify;
}

.d_multi .d_img {
    width: 100%;
    height: 100%;
}

.d_multi .d_img img {
    width: 100%;
    height: 100%;
}

.d_multi .d_title p a {
    color: #0068b5;
    text-decoration: underline dotted;
    text-decoration-style: dashed;
    text-underline-offset: .3rem;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: .5px;
    background-color: transparent;
}


/* Distribuor select page */

.d_select{
    background-color: #f7f7f7;
}
.d_drop p {
    margin-bottom: 8px;
    color: #262626;
    font-weight: 700;
    line-height: 1.25;
}

.d_drop button {
    padding: 18px 76px 18px 16px;
    border: 1px solid gray;
}
.d_drop .btn{
    background-color: #fff;
}
.d_drop .dropdown-menu{
    border-radius: 0 !important;
    background-color: #f7f7f7;
    padding: 0 !important;
    height: auto;
    overflow-y: auto;
}

.d_drop .d_scroll{
    max-height: 50%;
    overflow-y: auto;
}
.d_drop .dropdown-item:hover{
    background-color: #0068B5;
    color: white;
}

.d_drop .btn:focus {
    /* box-shadow: none !important; */
    background-color: #e9e9e9 !important;
}

/* Membership page */

.d_pt-48{
    padding-top: 48px;
}
.d_p-30 {
    padding-top: 40px;
}
.d_acc{
    z-index: -99;
    /* position: relative; */
}
.d_head{
    font-size: 36px;
    color: #262626;
    padding: 5px 0;
    margin-bottom: 8px;
}
.d_over p{
    color: #262626;
    text-align: justify;
}
.d_over p a,.d_loginhelp p a {
    color: #0068b5;
    text-decoration: underline dotted;
    text-decoration-style: dashed;
    text-underline-offset: .3rem;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: .5px;
    background-color: transparent;
}
.d_acc .accordion-body p a,.d_acc .accordion-body ul li a{
    color: #0068b5;
    transition: .3s all;
}
.d_acc .accordion{
    position: unset;
    border-bottom: 1px solid #e2e2e2;
}
.d_acc .accordion-body p a:hover,.d_acc .accordion-body ul li a:hover{
    text-decoration: underline !important;
}
.d_acc{
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
}
.d_acc .accordion-button a{
    text-decoration: none !important;
    color: #262626 !important;
    transition: .3s all;
}

.d_acc .accordion-button a:hover{
    text-decoration: underline !important;
}
.d_acc .accordion-item{
   border: none !important;
}
/* .d_acc.accordion-button:not(.collapsed)::after{
    background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e) !important ;
} */
.d_acc .accordion-button:not(.collapsed) a{
    color: #262626 !important;
    /* text-decoration: none; */
    transition: .3s all;
}
/* .d_acc .accordion-button:not(.collapsed) a{
    text-decoration: underline !important;
} */
.d_acc .accordion-button:not(.collapsed){
    background-color: #fff !important;
}
.d_acc .accordion-button:focus{
    box-shadow: none !important;
}
.d-acc .d_acc .accordion-button:not(.collapsed){
    text-decoration: none !important;
}

/* showcase help page */

.d_material .d_item .d_img{
    width: 8rem;
    height: auto;
}
.d_material .d_item .d_img img{
    width: 100%;
    height: 100%;
}
.d_material .d_item h3 a{
    color: #0068b5;
    font-size: 22px;
    text-decoration: none;
    transition: .3s all;
}
.d_material .d_item h3 a:hover{
    text-decoration: underline;
}
.d_material .d_item p{
    color: #262626;
}

/* solution submission page */

.d_require{
    background-color: #0068b5;
}
.d_require h2{
    padding-top: 40px;
    color: #fff;
}
.d_require p{
    margin-bottom: 8px;
    color: #fff;
    text-align: justify;
}
.d_require  .d_tab {
    padding: 20px 0;
    background-color: #0068b5;
}

.d_require .d_tab .nav-tabs .nav-link.active {
    border: none !important;
    background-color: #0068b5 !important;
    border-bottom: 1px solid #fff;
    color: #fff !important;
    border-bottom: 4px solid #fff !important;
}

.d_require .d_tab .nav-link {
    color: #fff;
    font-size: 16px;
    padding: .75rem 1.5rem .5rem;
}

.d_require .d_tab .d_tabtext .d_title h2 {
    color: #262626;
    margin-bottom: 8px;
    padding: 5px 0;
}
.d_require .d_tab p{
    text-align: justify;
}

.d_require .d_tab .d_tabtext .d_img {
    width: 100%;
}

.d_require .d_tab .d_tabtext .d_img img {
    width: 100%;
}

.d_require .d_tab .d_tabtext .d_title p a,.d_head1 p a,.d_modal
 p a {
    color: #0068b5;
    text-decoration: underline dotted;
    text-decoration-style: dashed;
    text-underline-offset: .3rem;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: .5px;
    background-color: transparent;
}

/* Partner alliance commnity page */

.d_aprogram{
    background-color: #f7f7f7;
    padding: 48px 0;
}
.d_aprogram h2,.d_jprogram h2{
    padding: 5px 0;
    margin-bottom: 8px;
    color: #262626;
    font-size: 36px;
}
.d_aprogram p,.d_jprogram p{
    color: #262626;
}
.d_aboutbox .d_box .d_img{
    max-width: 50%;
    height: auto;
}
.d_aboutbox .d_box .d_img img{
    width: 100%;
    height: 100%;
}
.d_aboutbox .d_box h3 a{
    text-decoration: none;
    font-size: 24px;
    color: #0068b5;
    transition: .3s all;
}
.d_aboutbox .d_box h3 a:hover{
    text-decoration: underline;
}
.d_aboutbox .d_box p{
    text-align: justify;
    color: #262626;
}
.d_aboutbox .d_box .d_cta a,.d_jprogram .d_cta a,.d_tab2 .d_ctaitem{
    color: #fff;
    background-color: #0068b5;
    border-radius: 0;
    text-decoration: none;
    padding: 10px 24px;
}
.d_jprogram{
    background-color: #0068b5;
    padding: 48px 0;
}
.d_jprogram h2,.d_jprogram p{
    color: #fff;
}
.d_jprogram .d_cta a{
    background-color: #fff;
    color: #0068b5;
    display: block;
}

/* Event page */

.d_banner3{
    background-image: url('./../darshan_image/adobestock-326629047.jpeg.rendition.intel.web.1920.1080.jpg');
    padding: 48px 30px;
}
.d_banner3 .d_box{
    background-color: #0068b5;
    padding: 16px 16px 40px 16px;
}
.d_banner3 .d_box .d_text h1{
    color: #fff;
    font-size: 40px;
}
.d_banner3 .d_box .d_text p{
    color: #fff;
}
.d_series h2{
    font-size: 36px;
    color: #262626;
    margin-bottom: 8px;
}
.d_series p,.d_option p{
    color: #262626;
}
.d_intel .d_img{
    width: 100%;
    height: auto;
}
.d_intel .d_img img{
    width: 100%;
    height: 100%;
}
.d_intel .d_ctaitem,.d_option .d_ctaitem{
    color: #fff;
    background-color: #0068b5;
    border-radius: 0;
    text-decoration: none;
    padding: 10px 24px;
}
.d_intel p{
    color: #262626;
    text-align: justify;
}
.d_option .d_bgoption{
    padding: 48px 15px;
    background-color: #7bdeff;
}
.d_option h2{
    font-size: 36px;
    color: #262626;
    margin-bottom: 8px;
}
.d_modal .modal-header{
    border-bottom: none !important;
}
.d_modal .modal-footer{
    border-top: none !important;
}
.d_modal .modal-body h2{
    font-size: 28px;
    color: #262626;
    margin-bottom: 8px;
}
.d_modal p{
    color: #262626;
    font-size: 12px;
}

.d_modal .modal-footer{
    justify-content: flex-start !important;
}
.d_modal .modal-footer .d_btn1{
    background-color: #0068b5;
    color: #fff;
}
.d_modal .modal-footer .d_btn2{
   border: 1px solid #0068b5;
   color: #0068B5;
}

/* Colud tv page */

.d_heading{
    font-size: 36px;
    color: #262626;
    text-align: center;
    padding: 5px 0;
}
.d_tab2{
    background-color: #fff;
}
.d_episode{
    background-color: #0068b5;
    padding: 40px 0;
}
.d_episode{
    color: #fff;
    text-align: center;
}
.d_epi .d_img{
    width: 100%;
}
.d_epi .d_img img{
    width: 100%;
}
.d_epi h3 a{
    font-size: 26px;
    text-align: center;
    color: #0068b5;
    text-decoration: underline dotted;
    text-decoration-style: dashed;
    text-underline-offset: .3rem;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: .5px;
    color: white;
}




@media(min-width:2560px){
    .d_container{
        max-width: 1610px !important;
        margin: auto;
    }
}
@media (max-width: 1920px) {
    .d_container{
        max-width: 1610px !important;
        margin: auto;
    }
}
@media(max-width:1440px){
    .d_container{
        max-width: 1320px !important;
    }
}
@media(max-width:1199px) {
    .d_container{
        max-width: 960px !important;
        margin: auto;
    }
    .d_banner .d_main h1,
    .d_banner1 .d_main h1 {
        font-size: 31px;
    }

    .d_richtext h2,.d_intro1 h2,.d_multi .d_title h2 {
        font-size: 28px;
    }

    .d_promotion h2,
    .d_benefit,
    .d_benefit h2 ,
    .d_head{
        font-size: 28px;
    }

    .d_partner .d_text h2 a {
        font-size: 28px;
    }

    .d_feature h2 {
        font-size: 28px;
    }

    .d_tab .nav-link {
        padding: 12px 12px 8px;
    }

    .d_jumplink .nav .nav-link {
        font-size: 20px;
    }

    .d_benefit .d_item h3 {
        font-size: 20px;
    }
    .d_banner .d_con1 .d_con2 h1{
        font-size: 23px;
    }
}

@media(max-width:991px) {
    .d_container{
        max-width: 720px !important;
        margin: auto;
    }
    .d_banner .d_main h1,
    .d_banner1 .d_main h1,.d_option h2,.d_heading {
        font-size: 28px;
    }

    .d_banner .d_left .d_cols {
        justify-content: space-between;
    }

    .d_partner .d_txtimg {
        display: flex;
        align-items: center;
    }

    .d_serach button {
        width: 500px;
    }

    .d_feature h2 {
        font-size: 25px;
    }

    /* .d_banner .d_left .d_btn a {
        padding: 6px;
    } */

    .d_tab .nav-link {
        padding: 8px 5px 8px;
        font-size: 14px;
    }
    .d_pt-48{
        padding-top: 0px;
    }
    .d_multi .d_title h2{
        font-size: 22px;
    }
    .d_p-40{
        padding: 20px 0;
    }
    .d_p-48{
        padding: 20px 0;
    }
    .d_banner .d_con1 .d_con2 h1{
        font-size: 20px;
    }
    .d_banner .d_left .d_btn1 a{
        padding: 0;
    }
    .d_banner3 {
        padding: 180px 0 0 0;
    }
    .d_banner3 .d_box .d_text h1{
        font-size: 28px;
    }
}

@media(max-width:767px) {
    .d_container{
        width: 100% !important;
        padding-right: var(--bs-gutter-x, .75rem);
        padding-left: var(--bs-gutter-x, .75rem);
        margin-right: auto;
        margin-left: auto;
    }
    .d_banner .d_main h1,
    .d_banner1 .d_main h1 {
        font-size: 28px;
    }

    .d_banner .d_left .d_cols {
        justify-content: space-between;
    }

    .d_partner .d_txtimg {
        display: flex;
        align-items: center;
    }

    .d_serach button {
        width: 500px;
    }

    .d_feature h2 {
        font-size: 22px;
    }

    .d_banner .d_left .d_btn a {
        padding: 10px;
    }

    .d_tab .nav-link {
        padding: 8px 0px 8px;
    }

    .d_feature .d_item .d_content h3 {
        font-size: 20px;
    }

    .d_tab .nav-link {
        padding: 12px 8px 8px;
        font-size: 14px;
    }
    .d_pt-48{
        padding-top: 10px;
    }
    .d_multi .d_title h2{
        font-size: 22px;
    }

}

@media(max-width:575px) {
    .d_banner .d_content .d_main {
        padding: 15px;
    }

    .d_banner .d_left {
        padding-left: 15px;
    }

    .d_promotion h2 {
        font-size: 26px;
    }

    .d_partner .d_text h2 a {
        font-size: 26px;
    }

    .d_partner .d_text .d_cta a {
        display: block;
        text-align: center;
    }

    .d_serach button {
        width: 300px;
    }

    .d_banner1 .d_main h1 {
        font-size: 24px;
    }

    .d_tab .nav-link {
        padding: 12px 8px 8px;
        font-size: 12px;
    }
    .d_intro1 h2{
        font-size: 26px;
    }
    .d_head{
        font-size: 22px;
    }
    .d_introtext p,.d_introtext ul li{
        font-size: 14px;
    }
    .d_p-40{
        padding: 20px 0;
    }
    .d_p-48{
        padding: 20px 0;
    }
    .d_intel .d_content h4{
        font-size: 18px;
    }

}

@media(max-width:450px) {
    .d_richtext h2 {
        font-size: 22px;
    }
}

@media(max-width:420px) {
    .d_richtext h2 {
        font-size: 20px;
    }
}