*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Intel Clear", sans-serif;
}
a{
    text-decoration: none !important;
}
p{
    line-height: 1.25;
}

.container{
    max-width: 1610px !important;
}
@media(max-width:1440px){
    .container{
        max-width: 1170px !important;
    }
}
@media(max-width:1199px){
    .container{
        max-width: 970px !important;
    }
}
@media(max-width:991px){
    .container{
        max-width: 750px !important;
    }
}
@media(max-width:768px){
    .container{
        max-width: 750px !important;
    }
}
@media(max-width:425px){
    .container{
        max-width: 390px !important;
    }
}

/*********** comun css ***********/
.b_special_a{
    color: white !important;
    text-decoration: none !important;
    border-bottom: 1px dashed white !important;
}
.b_special_a:hover {
    color: white !important;
    text-decoration: none !important;
    border-bottom: 1px solid white !important;
}
.b_special_a2 {
    color: #0068b5;
    text-decoration: none;
    border:none;
}
.b_special_a2:hover {
    border-bottom: 1px solid #0068b5 ;
}
.b_special_a1 {
    color:  #0068b5 ;
    text-decoration: none !important;
    border-bottom: 1px dashed #0068b5 ;
}
.b_special_a1:hover {
    text-decoration: none !important;
    border-bottom: 1px solid #0068b5 ;
}
.mv_special_3{
    color: #0068b5;
    border-bottom: 1px solid #0068b5 ;
}
.dk_learn{
    color: #0068b5;
    background: #fff;
    border-radius: 0;
    padding: .625rem 1.5rem;
    font-size: 1rem;
    line-height: 1.25;
    border-width: 0;
    white-space: normal;
    display: inline-block;
}
.dk_learn:hover{
    color: #004a86;
    background: #e9e9e9;
}
/* ********************************** */

/*********** Agilex™ FPG **********/
.mv_intel_data_bg_color{
    padding: 40px 0px;
    background-color: #00285a;
}
.mv_intel_data_content{
    color: #fff;
}
.mv_intel_data_content h1{
    font-weight: 300;
    margin-bottom: 16px;
}
.mv_intel_data_content a{
    color: #fff;
    border-bottom: 1px dashed #fff;
}
.mv_intel_data_content a:hover{
    color: #fff;
    border-bottom: 1px solid #fff;
}
.mv_intel_data_image img{
    width: 100%;
    margin-bottom: 10px;
}
.mv_intel_data_respomsive_image img{
    display: none;
}
.mv_key_bg_color{
    background-color: #00285a;
}
.mv_nav_pills_key_features .mv_nav_link_key_features.active{
    background-color: #f7f7f7 !important;
    color: #252525 !important;
}
.mv_nav_pills_key_features .mv_nav_link_key_features{
    font-weight: 600;
    padding: .7rem 1rem;
    color: #fff !important;
    border-radius: 0rem !important;
}
/*********************************/

/******* Direct RF-Series *******/
.mv_deploy_nav_tab{
    background-color: #fff;
}
.mv_deploy_nav_pills{
    border-bottom: 1px solid #E6E6E6;
}
.mv_deploy_nav_link {
    color: #0068b5 !important;
}
.mv_deploy_nav_pills .mv_deploy_nav_link{
    background-color: #F7F7F7 !important;
}
.mv_deploy_nav_pills .mv_deploy_nav_link.active{
    border-radius: 0rem !important;
    color: #0068b5 !important;
    border-bottom: 4px solid #00aeef;
    background-color: #F2F2F2 !important;
}
.mv_deploy_nav_pills .mv_deploy_nav_link:hover{
    border-radius: 0rem;
    background-color: #F2F2F2 !important;
}
.mv_gpu_flex_padd{
    padding: 3rem 0rem;
}
.mv_gpu_flex{
    align-content: center;
}
.mv_gpu_flex h1{
    font-weight: 350;
}
.mv_gpu_flex p{
    margin-bottom: .5rem;
}
.mv_gpu_flex p a{
    color: #0068b5;
    border-bottom: 1px dashed #0068b5;
}
.mv_gpu_flex p a:hover{
    border-bottom: 1px solid #0068b5;
}
.mv_gpu_flex_img img{
    width: 100%;
}
.mv_enable_boundless_padd{
    padding: 3rem 0rem;
}
.mv_enable_img img{
    width: 100%;
    margin-bottom: 10px;
}
.dk_direct_chip{
    max-width: 187.5px !important;
    display: flex !important;
    align-items: center;
}
.mv_deploy_nav_pills .mv_deploy_nav_link.active .dk_direct_chip i{
    color: #262626;
    font-weight: 700;
}
.mv_deploy_nav_pills .mv_deploy_nav_link.active .dk_direct_text{
    color: #262626;
    font-weight: 700;
}
.dk_direct_chip i{
    color: #0068b5;
}
.dk_direct_text{
    color: #0068b5;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    text-align: left !important;
}
.dk_game_padd{
    padding-top: 3rem;
}
/* ********************* */
/******** Optimized for ********/
.mv_maximize_bg_color{
    padding: 2rem 0rem;
    background-color: #F7F7F7;
}
.mv_maximize{
    text-align: center;
}
.mv_maximize h2{
    font-weight: 350;
}
.mv_maximize_comntent{
    text-align: center;
}
.mv_headline_font{
    font-size: 7.5rem;
    font-weight: 400;
    display: flex;
    justify-content: center;
    margin-bottom: 0rem;
    color: #005B85;
}
.mv_maximize_bottom{
    font-size: 3.25rem;
    align-self: self-end;
    padding: .9375rem 0;
}
/*********************************/

/***** Optimized slider *****/
.mv_maximize_inpect_slider{
    display: none;
}
.owl-dots {
    text-align: center;
    margin-top: 0px !important;
}
.mv_main_spark .owl-dots .owl-dot span {
    background: #aeaeae;
    width: 12px !important;
    height: 12px !important;
    border-radius: 0px !important;
    margin: 0 5px;
    display: inline-block;
}
.mv_main_spark .owl-dots .owl-dot.active span{
    background-color: #262626 !important;
}
/*********************************/

/********* Agilex ***************/
.mv_agilex_padd{
    padding-bottom: 2em;
    padding-top: 2em;
}
/*********************************/

/*********** Benefits ***********/
.mv_learn_more_padd{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}
/* ************************* */

/****** Use Cases ******/
.mv_learn_how_padd{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    background-color: #183544;
}
/* *************************** */

/******* Want to ****************/
.mv_deploy_nav_tab{
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #F7F7F7;
}
.mv_contact_btn{
    color: #fff;
    background-color: #0068b5;
    padding: .625rem 1.5rem;
    display: inline-block;
}
.mv_contact_btn:hover{
    color: #fff !important;
    background-color: #004a86;
}
/* *************************** */

/******** Related Links ********/
.mv_discover_more_padd{
    background-color: #183544;
    padding: 40px 0px 10px 0px;
}
.mv_intel_tiber{
    margin-bottom: 1.5rem;
}
.mv_explore_resources_content h2{
    font-weight: 300;
}
.mv_intel_tiber_img{
    align-content: center;
    text-align: center;
}
.mv_intel_tiber_img i{
    height: 40px;
    width: 40px;
    margin-right: 1.5rem;
    border-radius: 50%;
    background-color: #ffffff;
    border: none !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mv_intel_card{
    display: flex;
    padding: .75rem 1.5rem;
    background-color: #F3F3F3;
    min-height: 4.5rem;
}
.mv_discover_more_heading h2{
    font-weight: 300;
}
.mv_discover_more_content{
    padding: 16px;
}
.mv_discover_more_item{
    padding-left: 15px;
    width: 58.33%;
}
.mv_discover_more_item h4{
    font-weight: 300;
}
.dk_issue{
    color: #0068b5;
}
.dk_issue:hover{
    color: #004a86;
}
/* ***************************** */
/*********** Nav ************/
.VK_ai_navigation {
    background-color: white;
    border-bottom: 1px solid #d7d7d7;
}
.VK_ai_nav_bar a {
    color: #262626;
    padding: 22px 8px 19px;
    word-break: normal;
    font-weight: 400;
    white-space: nowrap;
    margin-left: 80px;
}
.VK_ai_nav_bar a:hover{
    color: #262626;
}
.VK_ai_navigation.VK_sticky_nav_bar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.VK_active_link {
    position: relative;
    color: #00aeef;
}
.VK_active_link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    background: #00aeef;
}
.VK_ai_nav_bar li a {
    transition: color 0.3s, border-bottom 0.3s;
}
.VK_ai_nav_bar a.active {
    color: #0068b5 !important;
    position: relative;
}
.VK_ai_nav_bar a.active::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    background: #00aeef;
}
/* product tabel */
.dk_platform_table{
    border: 1px solid #e9e9e9;
    width: 100%;
}
.dk_platform_table thead tr th{
    width: 8.5rem;
    background-color: #e9e9e9;
    border-right: 1px solid #fff;
    padding: 8px;
    text-align: center;
    vertical-align: top;
    color: #262626;
    font-size: .875rem;
    font-weight: 700;
    line-height: 1.25;
}
.dk_platform_table tbody tr td{
    background-color: #fff;
    border-right: 1px solid #e9e9e9;
    border-top: 1px solid #e9e9e9;
    white-space: normal !important;
    padding: 16px;
    overflow: hidden;
    font-size: .875rem;
    line-height: 1.42857143;
    vertical-align: top;
}
.dk_platform_table tbody tr:nth-child(even) td{
    background-color: #f7f7f7;
}

@media(max-width:1199px){
    /* Optimized for */
    .mv_headline_font{
        font-size: 5.5rem;
    }
    .mv_maximize_bottom{
        font-size: 2.1375rem;
    }
}

@media(max-width:991px){
    /* Agilex™ FPG */
    .mv_intel_data_image{
        display: none;
    }
    .mv_intel_data_respomsive_image img{
        display: block;
    }
    .mv_intel_data_respomsive_image img{
        width: 100%;
    }
    /* Direct RF-Series */
    .mv_deploy_nav_pills{
        overflow-x: scroll !important;
        flex-wrap: nowrap !important;
        white-space: nowrap;
    }
    .dk_direct_text{
        text-wrap: nowrap !important;
    }
    .dk_direct_chip{
        max-width: 247.5px !important;
    }
}

@media(max-width:767px){
    /* Optimized slider */
    .mv_maximize_inpect_slider{
        display: block;
    }
    /* Optimized for */
    .mv_maximize_inpect_without_slider{
        display: none !important;
    }
    /* Want to */
    .mv_deploy_nav_tab{
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }
    .mv_contact_btn{
        text-align: center;
        width: center;
    }
    .mv_learn_how_padd .dk_learn{
        width: 100% !important;
    }
    /* Direct RF-Series */
    .dk_game_padd{
        padding-top: 2.5rem;
    }
}