*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none !important;
}
.container{
    max-width: 1610px !important;
}

/* header */
nav{
    position: relative !important;
}

/* Play Video Optimized ONNX */
.dk_play_video_optimized_onnx{
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #F7F7F7;
}
.dk_intel_video{
    max-width: 960px;
}
.dk_play_video_optimized_onnx h2{
    color: #262626;
    font-weight: 300;
    font-style: normal;
}
/* Overview */
.dk_overview{
    background-color: #f7f7f7;
    padding: 2rem 0 2.5rem;
}
.dk_overview h3{
    margin-bottom: .5rem;
    font-weight: 300;
    font-style: normal;
}
.dk_jump_to{
    background: #fff;
    padding: .75rem 1.5rem;
}
/* You May Also Like */
.dk_you_may_also_like{
    background: #FFF;   
}
.dk_you_may_also_like h3{
    font-weight: 300;
    line-height: 1.1;
    margin-top: 22px;
    margin-bottom: 11px;
    /* font-size: 1.75rem */
}
.dk_contribute_card{
    background: #f7f7f7;
    padding: .75rem 1.5rem;
    height: 100%; 
}
.dk_also_like{
    color: #0068b5;
}
.dk_also_like:hover{
    color: #004a86;
}
/* *************************** */
.b_special_a{
    color: white;
    text-decoration: none !important;
    border-bottom: 1px dashed white ;
}
.b_special_a:hover {
    color: white !important;
    text-decoration: none !important;
    border-bottom: 1px solid white ;
}
.b_special_a2 {
    color: #0068b5;
    text-decoration: none;
    border:none;
}
.b_special_a2:hover {
    border-bottom: 1px solid #0068b5 ;
}
.b_special_a1 {
    color:  #0068b5 ;
    text-decoration: none !important;
    border-bottom: 1px dashed #0068b5 ;
}
.b_special_a1:hover {
    text-decoration: none !important;
    border-bottom: 1px solid #0068b5 ;
}
.mv_special_3{
    color: #0068b5;
    border-bottom: 1px solid #0068b5 ;
}
.b_som_nav {
    background-color: white;
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 5;
}
.dk_sign{
    color: #fff;
    background-color: #0068b5;
    border-radius: 0;
    padding: .625rem 1.5rem;
    font-size: 1rem;
    line-height: 1.25;
    border-width: 0;
    white-space: normal;
    display: inline-block;
    cursor: pointer;
    margin-bottom: .5rem;
}
.dk_sign:hover{
    color: #fff;
    background-color: #005a9d;
}
/* ***************************** */

@media(max-width:1440px){
    .container{
        max-width: 1170px !important;
    }
}
@media(max-width:1199px){
    .container{
        max-width: 970px !important;
    }
}
@media(max-width:991px){
    .container{
        max-width: 750px !important;
    }
}
@media(max-width:768px){
    .container{
        max-width: 750px !important;
    }
    /* Play Video Optimized ONNX* */
    .dk_intel_video{
        margin-bottom: 1rem;
    }
}
@media(max-width:425px){
    .container{
        max-width: 390px !important;
    }
}