.mv_code_simple{
    font-family: "Courier New", "DejaVu Sans Mono", monospace, sans-serif;
    border: 0;
    color: #53565a;
    border-radius: 0;
    box-shadow: none;
    text-shadow: none;
}
.mv_code_toolbar {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0rem;
    margin-top: 16px;
    background: #f8f8f8 !important;
}
.mv_toolbar_item{
    font-size: 1.375rem;
    float: right;
    cursor: pointer;
    padding: .1px 6px;
    padding-right: 1.5rem !important;
    color: #0068b5;
}
.mv_pre{
    padding-top: 1.5625rem !important;
    padding-left: 2rem !important;
    padding: .656rem;
}
.text-break {
    word-break: break-all;
}
.mv_code{
    color: #000 !important;
    font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important;
    direction: ltr;
    text-align: left;
    word-spacing: normal;
    word-wrap: normal;
    line-height: 1.5;
    padding-left: 1rem;
}
.mv_span_color{
    color: blue !important;
}
.mv_text_color{
    color: #069 !important;
    font-weight: 600 !important;
}
.mv_sign_color{
    color: #b24501;
}
.mv_breckat_color{
    font-weight: 400;
    color: #ff0000 !important;
}
.mv_code_simple {
    font-family: "Courier New", "DejaVu Sans Mono", monospace, sans-serif;
    border: 0;
    color: #53565a;
    border-radius: 0;
    box-shadow: none;
    text-shadow: none;
    background-color: #E6E6E6;
}
.mv_copy_message{
    font-size: .7rem;
    float: right;
    cursor: pointer;
    padding: 5px 6px;
    padding-right: 1.5rem !important;
}
.hidden {
    display: none;
}

/* ***************************** */