*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none !important;
}
p{
    line-height: 1.25;
}
.container{
    max-width: 1610px !important;
}
@media(max-width:1440px){
    .container{
        max-width: 1170px !important;
    }
}
@media(max-width:1199px){
    .container{
        max-width: 970px !important;
    }
}
@media(max-width:991px){
    .container{
        max-width: 750px !important;
    }
}
@media(max-width:768px){
    .container{
        max-width: 750px !important;
    }
}
@media(max-width:425px){
    .container{
        max-width: 390px !important;
    }
}

/* header */
nav{
    position: relative !important;
}

/******* custom css *******/
.mv_underline{
    color: #007bff;
}
.mv_underline:hover{
    border-bottom: 1px solid #0056b3;
}
/* ************************ */
/******* Description********/
.mv_description{
    padding: 32px 0;
}
/****** VMware Horizon ******/
.mv_vmware_bg_color{
    background-color: #0071C5;
}
.mv_vmware_padd{
    padding: 10px 0 5px 0;
}
.mv_vmware_heading h3{
    padding: 20px 0 20px 0;
    font-weight: 300;
    color: #fff;
    /* font-size: 1.75rem; */
}
.mv_vmware_download_button{
    display: flex;
    -webkit-box-align: baseline;
    align-items: baseline;
    max-height: 48px;
    position: relative;
    text-align: right;
    margin-top: 9px;
    box-sizing: border-box;
    /* width: 60%; */
}
.mv_vmware_download_button a{
    color: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: #fff;
    border-radius: 0;
    line-height: 1.2;
    background: rgba(0, 0, 0, 0);
    padding: 7.6px;
    position: relative;
    white-space: normal;
    margin-bottom: 10px;
    /* min-width: 113px; */
    display: inline-block;
    text-align: center;
}
.mv_vmware_download_button a:hover{
    background-color: #fff;
    color: #0071C5;
}
.mv_vmware_download_button i{
    margin-left: 6px;
}
.mv_cd_page_marquee{
    display: flex;
    margin-bottom: 5px;
}
.mv_cd_page_marquee label{
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 700;
    color: #fff;
}
.mv_cd_page_marquee p a{
    margin-left: 1.5rem;
    border-bottom: 1px dashed #fff;
    display: inline-block;
    padding-bottom: .375rem;
    margin-bottom: .5rem;
    color: #fff;
}
.mv_cd_page_marquee p a:hover{
    border-bottom: 1px solid #fff;
}
.mv_cd_page_marquee_info{
    display: flex;
    margin-bottom: 3px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
}
.mv_cd_page_marquee_action{
    margin-bottom: 3px;
}
.mv_cd_page_marquee_action_padd{
    display: inline-block;
    /* margin-right: 3.25rem; */
    margin-top: 5px;
    margin-bottom: 20px;
    color: #fff;
    min-width: 128px;
    margin-right: 28px;
}
.mv_cd_page_marquee_action_padd label{
    display: flex;
    font-size: .875rem;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 7px;
}
.mv_cd_page_marquee_action_padd span{
    font-weight: 300;
}
/* **************************** */

/******** Automated Self-Checkout ? *******/
.mv_intel_amx h1{
    font-size: 2.25rem;
    font-weight: 300;
}
.mv_intel_amx{
    font-size: 1.25rem;
}
.mv_intel_amx_bg_color{
    background-color:#262626;
}
.mv_intel_amx_content{
    padding-right: 200px;
}
.mv_intel_amx_item{
    align-content: center;
}
.mv_intel_amx{
    color: #fff;
    padding: 1rem;
}
.mv_intel_amx h3{
    font-weight: 300;
}
.mv_intel_amx p{
    margin-top: 1.5rem;
    margin-bottom: 0rem;
}
.mv_intel_amx_image{
    padding: 1rem;
}
.mv_intel_amx_image img{
    width: 100%;
    /* height: 199px; */
}
.mv_intel_amx_heading_text{
    font-size: 1.2rem;
    line-height: 1.15;
}
/* ************************** */

/* ************ Nav ************/
.VK_sidebar_active_link {
    color: #262626;
    font-weight: 700;
}
.VK_sidebar_active_link:hover{
    color: #262626;
}
.VK_print_email_font span {
    font-size: 1.375rem;
}
.VK_side_bar_postion_stickey{
    position: sticky;
    top: 0px;
    z-index: 3;
    background-color: #fff;
}
.VK_side_heading {
    font-size: 26px;
    font-weight: 400;
}
.VK_sidebar_dropdown P{
    margin-left: .313rem !important;
    margin-bottom: .313rem !important;
}
.VK_sidebar_dropdown details{
    margin-left: .313rem !important;
    margin-bottom: .313rem !important;
}
/* *************************** */

/********* thinkcode *********/
/* .dk_things_code_main{
    padding: 1rem !important;
} */
 .dk_things_code h2{
    font-weight: 300;
    color: #262626;
    size: 1rem;
    font-size: 1rem;
    line-height: 1.25;
 }
 .dk_things_code_main ul{
    padding-left: 1rem;
 }
 #dk_overview h2{
    font-size: 1.625rem;
    line-height: 2.125rem;
    font-weight: normal;
    font-style: normal;
    margin-top: 3rem;
    font-weight: 300;
 }
 #dk_target h2{
    font-size: 1.625rem;
    font-weight: 300;
    font-style: normal;
    margin-top: 2.5rem;
 }
 #dk_how_it_works h2{
    font-size: 1.625rem;
    font-weight: 300;
    font-style: normal;
    margin-top: 2.5rem;
 }
 #dk_get_started h2{
    font-size: 1.625rem;
    font-weight: 300;
    font-style: normal;
    margin-top: 2.5rem;
 }
 #dk_installation h3{
    font-weight: 400;
    font-style: normal; 
    font-size: 1.5rem;
    line-height: 1.875rem;
    margin-top: 22px;
    margin-bottom: 11px;
 }
 #dk_install h3{
    font-weight: 400;
    font-style: normal; 
    font-size: 1.5rem;
    line-height: 1.875rem;
    margin-top: 22px;
    margin-bottom: 11px;
 }
 #dk_node h3{
    font-weight: 400;
    font-style: normal; 
    font-size: 1.5rem;
    line-height: 1.875rem;
    margin-top: 22px;
    margin-bottom: 11px;
 }
 #dk_multi_tenancy h3{
    font-weight: 400;
    font-style: normal; 
    font-size: 1.5rem;
    line-height: 1.875rem;
    margin-top: 22px;
    margin-bottom: 11px;
 }
 .dk_note{
    font-size: 1rem;
    line-height: 1.25;
    word-wrap: break-word;
    background-color: #e6e6e6;
    padding: 20px;
    border-left: 3px solid #fdb813;
 }
 #dk_public h3{
    font-weight: 400;
    font-style: normal; 
    font-size: 1.5rem;
    line-height: 1.875rem;
    margin-top: 22px;
    margin-bottom: 11px;
 }
 #dk_visualize h2{
    font-size: 1.625rem;
    font-weight: 300;
    font-style: normal;
    margin-top: 2.5rem;
 }
 #dk_pcb h3{
    font-weight: 400;
    font-style: normal; 
    font-size: 1.5rem;
    line-height: 1.875rem;
    margin-top: 22px;
    margin-bottom: 11px;
 }

 .dk_get_st{
    color: #fff;
    padding: .3em 2em;
    text-decoration: none;
    min-width: 96px;
    border-radius: 2px;
    box-shadow: none;
    font-size: 14px;
    border-width: 0;
    white-space: normal;
    background-color: #0068b5;
    border: medium solid transparent;
 }
 .dk_get_st:hover{
    background-color: #003c71 ;
 }
 #mv_performance_result h3{
    font-family: "intel-clear", "tahoma", Helvetica, "helvetica", Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 1.5rem;
 }
 #mv_report_issue h2{
    font-size: 1.625rem;
    line-height: 2.125rem;
    font-family: "intel-one", "intel-clear", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-style: normal;
    margin-top: 2.5rem;
 }
 #mv_automated_self{
    padding: 16px;
 }
 #mv_automated_self img{
    margin-bottom: 1rem;
 }
 #mv_automated_self h3{
    font-weight: 300;
    font-size: 1.5rem;
 }
 #mv_automated_self p{
    font-size: 1.2rem;
    font-weight: 400;
 }
 #mv_loss_prev{
    padding: 16px;
 }
 #mv_loss_prev img{
    margin-bottom: 1rem;
 }
 #mv_loss_prev h3{
    font-weight: 300;
    font-size: 1.5rem;
 }
 #mv_loss_prev p{
    font-size: 1.2rem;
    font-weight: 400;
 }
 #mv_shopping{
    padding: 16px;
 }
 #mv_shopping h3{
    font-weight: 400;
    font-size: 1.5rem;
 }
 #mv_shopping p{
    font-size: 1.2rem;
    font-weight: 400;
 }
 
 #mv_autonomous{
    padding: 16px;
 }
 #mv_autonomous h3{
    font-weight: 400;
    font-size: 1.5rem;
 }
 #mv_autonomous p{
    font-size: 1.2rem;
    font-weight: 400;
 }
 .Reference_implementations{
    padding: 2.5rem 0rem;
 }
 #mv_core_serv h2{
    font-size: 1.625rem;
    line-height: 2.125rem;
    font-family: "intel-one", "intel-clear", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-style: normal;
    margin-top: 2.5rem;
 }
 #mv_pipeline_mana h3{
    font-family: "intel-clear", "tahoma", Helvetica, "helvetica", Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
 }
 #mv_pipeline_mana img{
    margin-bottom: 1rem;
 }
 #mv_performance_Evalu h3{
    font-family: "intel-clear", "tahoma", Helvetica, "helvetica", Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
 }
 #mv_roadmap h2{
    font-size: 1.625rem;
    line-height: 2.125rem;
    font-family: "intel-one", "intel-clear", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-style: normal;
    margin-top: 2.5rem;
 }
 /* table */
 .dk_metrix{
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 1.06667em;
    margin-bottom: 1.06667em;
    line-height: 1.1;
    border: 0rem solid #e2e2e2;
    display: block;
    overflow-x: auto;
    max-width: 100%;
    background-color: transparent;
}
.dk_metrix thead{
    color: #333;
    font-weight: 700;
}
.dk_metrix thead tr th{
    padding: .5rem 2.188rem .5rem .5rem;
    background: #e2e2e2;
    border-right: .125rem solid #fff;
    text-align: left;
}
.dk_metrix tbody tr td{
    border-top: 0;
    border-bottom: 0;
    border-left: .125rem solid #e2e2e2;
    user-select: auto;
    min-width: auto;
    background: #fff;
    padding: 1rem;
    text-align: left;
}
.dk_metrix tbody tr:nth-child(even) td {
    background-color: #f7f7f7;
}
/* *************************** */

/******* code toolbar *******/
.mv_code_simple{
    font-family: "Courier New", "DejaVu Sans Mono", monospace, sans-serif;
    border: 0;
    color: #53565a;
    border-radius: 0;
    box-shadow: none;
    text-shadow: none;
}
.mv_code_toolbar {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0rem;
    margin-top: 48px;
    margin-bottom: 40px;
    background: #f8f8f8 !important;
}
.mv_toolbar_item{
    font-size: 1.375rem;
    float: right;
    cursor: pointer;
    padding: .1px 6px;
    padding-right: 1.5rem !important;
    color: #0068b5;
}
.mv_pre{
    padding-top: 1.5625rem !important;
    padding-left: 2rem !important;
    padding: .656rem;
}
.text-break {
    word-break: break-all;
}
.mv_code{
    color: #000 !important;
    font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important;
    direction: ltr;
    text-align: left;
    word-spacing: normal;
    word-wrap: normal;
    line-height: 1.5;
    padding-left: 1rem;
}
.mv_span_color{
    color: blue !important;
}
.mv_text_color{
    color: #069 !important;
    font-weight: 600 !important;
}
.mv_sign_color{
    color: #b24501;
}
.mv_breckat_color{
    font-weight: 400;
    color: #ff0000 !important;
}
.mv_code_simple {
    font-family: "Courier New", "DejaVu Sans Mono", monospace, sans-serif;
    border: 0;
    color: #53565a;
    border-radius: 0;
    box-shadow: none;
    text-shadow: none;
    background-color: #E6E6E6;
}
.mv_copy_message{
    font-size: .7rem;
    float: right;
    cursor: pointer;
    padding: 5px 6px;
    padding-right: 1.5rem !important;
}
.hidden {
    display: none;
}
.dk_code_simple{
    background-color: #e6e6e6;
}
/* *************************** */

/* Join the Intel */
.dk_join_the_intel{
    background: #0068b5;
    padding: 2.5rem 0rem;
    text-align: center;
}
.dk_join_the_intel p{
    color: #fff;
}
.dk_join{
    color: #0068b5;
    background: #fff;
    position: relative;
    min-width: none;
    border-radius: 0;
    padding: .625rem 1.5rem;
    font-size: 1rem;
    line-height: 1.25;
    border-width: 0;
    white-space: normal;
}
.dk_join:hover{
    color: #004a86;
    background: #e9e9e9;
}

/* **********sign up********** */
.dk_button{
    color: white;
    background-color: #0068b5;
    position: relative;
    border-radius: 0;
    padding: .625rem 1.5rem;
    font-size: 1rem;
    line-height: 1.25;
    border-width: 0;
    white-space: normal;
    margin-bottom: 1rem;
}
.dk_button:hover{
    background-color: #004A86;
}
.dk_things_code{
    background-color: #F7F7F7;
    margin-bottom: 0.5rem;
    padding: 1rem 1rem 0rem 1rem;
}
/* *************************** */
.b_special_a{
    color: white;
    text-decoration: none !important;
    border-bottom: 1px dashed white ;
}
.b_special_a:hover {
    color: white !important;
    text-decoration: none !important;
    border-bottom: 1px solid white ;
}
.b_special_a2 {
    color: #0068b5;
    text-decoration: none;
    border:none;
}
.b_special_a2:hover {
    border-bottom: 1px solid #0068b5 ;
}
.b_special_a1 {
    color:  #0068b5 ;
    text-decoration: none !important;
    border-bottom: 1px dashed #0068b5 ;
}
.b_special_a1:hover {
    color:#005a9d;
    text-decoration: none !important;
    border-bottom: 1px solid #005a9d; ;
}
.mv_special_3{
    color: #0068b5;
    border-bottom: 1px solid #0068b5 ;
}
.b_som_nav {
    background-color: white;
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 5;
}
/******** Discover More ********/
.mv_discover_more_padd{
    padding: 2.5rem 0rem;
}
.mv_discover_more_heading h2{
    font-weight: 300;
}
.mv_discover_more_content{
    padding: 16px;
}
.mv_discover_more_item{
    padding-left: 15px;
    width: 58.33%;
}
.mv_discover_more_item h4{
    font-weight: 300;
}
.dk_issue{
    color: #0068b5;
}
.dk_issue:hover{
    color: #004a86;
}
/* ***************************** */

/***** Explore Resources *****/
.mv_intel_tiber{
    margin-bottom: 1.5rem;
}
.mv_explore_resources_content h2{
    font-weight: 300;
}
.mv_explore_resources{
    padding: 0px 0px 10px 0px;
}
.mv_intel_tiber_img{
    align-content: center;
    text-align: center;
}
.mv_intel_tiber_img i{
    height: 40px;
    width: 40px;
    margin-right: 1.5rem;
    border-radius: 50%;
    background-color: #ffffff;
    border: none !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mv_intel_card{
    display: flex;
    padding: .75rem 1.5rem;
    background-color: #F3F3F3;
    min-height: 4.5rem;
}
/************************** */

/********AI_Workload*********** */
.dk_ai_workload{
    background-color: #0068B5;
    padding: 2rem 0rem;
}
.dk_ai_worklod_sub{
    padding: 2rem 1rem;
    margin-right: calc(var(--bs-gutter-x)* 0rem) !important;
    margin-left: calc(var(--bs-gutter-x)* 0rem) !important;
}
.dk_optimizations h2{
    color: #fff;
    font-weight: 300;
}
.dk_optimizations p{
    color: #fff;
    font-weight: 300;
}
.dk_sign_up{
  padding: 0.3rem 5rem;  
  border: none;
  color: #0068b5;
}
.dk_sign_up:hover{
    background-color: #D7D7D7;
    padding: 0.5rem 5rem;
    color: #333;
}
/************************** */

@media(max-width:1199px){
    /* Intel AMX ? */
    .mv_intel_amx_content{
        padding-right: 0px;
    }
    /* Discover More */
    .mv_discover_more_item{
        width: 100%;
    }
    .dk_img2 img{
        width: 100%;
    }
    /* thinkcode*/
    .dk_things_code h2{
        font-size: 0.8rem;
        line-height: 1.25;
    }
}
@media(max-width:991px){
    .dk_img img{
        width: 100%;
    }
}

@media(max-width:767px){
    /* Intel AMX ? */
    .mv_intel_amx_content{
        flex-wrap: wrap-reverse !important;
    }
    .mv_intel_amx_heading_text{
        font-size: 16px;
    }
    /* nav */
    .VK_sticky_side_bar{
        display: none;
    }
    /* thinkcode */
    .dk_get_code{
        text-align: center;
    }
    .dk_things_code_main{
        padding: 0rem !important;
    }
    .mv_think_text{
        margin-bottom: 3rem;
    }
    /* thinkcode */
    .dk_things_code h2{
        font-size: 1rem;
        line-height: 1.25;
    }
    /* Automated Self-Checkout  */
    .mv_intel_amx h1{
        font-size: 1.80rem;
    }
    /* Join the Intel */
    .dk_join{
        width: 100%;
    }
}

@media(max-width:480px){
    .dk_button{
        width: 100%;
    }
    .dk_wireless_img{
        width: 100%;
    }
}