*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none !important;
}
.container{
    max-width: 1610px !important;
}

/* header */
nav{
    position: relative !important;
}

@media(max-width:1440px){
    .container{
        max-width: 1170px !important;
    }
}
@media(max-width:1199px){
    .container{
        max-width: 970px !important;
    }
}
@media(max-width:991px){
    .container{
        max-width: 750px !important;
    }
}
@media(max-width:768px){
    .container{
        max-width: 750px !important;
    }
}
@media(max-width:425px){
    .container{
        max-width: 390px !important;
    }
}
/* *************************** */
.b_special_a{
    color: white;
    text-decoration: none !important;
    border-bottom: 1px dashed white ;
}
.b_special_a:hover {
    color: white !important;
    text-decoration: none !important;
    border-bottom: 1px solid white ;
}
.b_special_a2 {
    color: #0068b5;
    text-decoration: none;
    border:none;
}
.b_special_a2:hover {
    border-bottom: 1px solid #0068b5 ;
}
.b_special_a1 {
    color:  #0068b5 ;
    text-decoration: none !important;
    border-bottom: 1px dashed #0068b5 ;
}
.b_special_a1:hover {
    color:#005a9d;
    text-decoration: none !important;
    border-bottom: 1px solid #005a9d; ;
}
.mv_special_3{
    color: #0068b5;
    border-bottom: 1px solid #0068b5 ;
}
.b_som_nav {
    background-color: white;
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 5;
}

/* Embedded Software  */
.dk_embedded_software{
    padding: 4rem 1.5rem 1.8125rem;
    background: #548fad;
    color: #fff;
}
.dk_embedded_software h1{
    font-weight: 300;
}

/* Embedded Resources */
.dk_embedded_resources{
    padding: 3rem 0rem;
    background: #FFF;
}
.dk_embedded_resources h2{
    font-weight: 300;
}

/* Additional Embedded Resources */
.dk_additional_embedded_res{
    padding: 3rem 0rem;
    background: #FFF;
}

/* Legacy Embedded Resources */
.dk_legacy_embedded_res{
    padding: 3rem 0rem;
    background: #FFF;
}
/* Explore Other Developer Centers */
.dk_explore_Other_Deve{
    padding: 1rem 0rem 2rem 0rem;
}