*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none !important;
}
.container{
    max-width: 1610px !important;
}

/* header */
nav{
    position: relative !important;
}

/* Intel Xeon  */
.dk_intel_xeon_bg{
   background-image: url(../img/darshit_image/intel_xeon_bg_img.png);
   height: 500px;
   background-position: center center;
}
@media screen and (min-width: 1200px) {
    .dk_intel_xeon_bg{
        height: 500px;
    }
}
@media screen and (min-width: 768px) {
    .dk_intel_xeon_bg {
        height: 450px;
    }
}
@media screen and (max-width: 767px) {
    .dk_intel_xeon_bg {
        height: 320px;
    }
}

/* The Processor Designed for AI */
.dk_Pro_designed_for_ai{
    background-color: #8f5da2;
    padding: 16px 0;
    color: #fff;
}
.dk_Pro_designed_for_ai_sub h4{
    font-weight: 300;
}
.dk_Pro_designed_for_ai_sub p{
    margin-bottom: 0px;
}

/* Unlock the full potential of AI */
.dk_unlock_potential{
    padding: 3rem 0px;
    text-align: center;
}
.dk_unlock_potential_sub h2{
    font-weight: 300;
    font-style: normal;
    font-size: 37px;
    line-height: 1.25;
}

/* Realize Superior  */
.dk_realize_superior_image img{
    width: 50%;
}
.dk_realize_superior_image{
    padding: 48px 0px;
}
.dk_realize_superior_image h2{
    font-weight: 300;
    font-size: 2.25rem;
}
.dk_realize_superior_info h3{
    font-weight: 300;
    font-size: 1.75rem;
}
.dk_realize_superior_info{
    padding-left: 107px;
}

/* Secure your data */
.dk_secure_your_data{
    text-align: center;
    background-color: #0068b5;
    padding: 3rem 0rem;
    color: #ffffff;
}
.dk_secure_your_data h3{
    font-weight:300;
    margin-bottom: 20px;
}
.dk_prevent_threats{
    padding:3rem 0rem;
    background-color: #0068b5;
}
.dk_prevent_threats_info h2{
    color: white;
    font-weight:300;
    line-height: 1.25;
    font-size: 2rem;
}
.dk_prevent_threats_info p{
    color: white;
}

.dk_prevent_threats_cards{
    background-color: #0068b5;
    padding: 5rem 0rem;
}
.dk_prevent_threats_cards_info h3{
    margin-top: 15px;
    color: white;
    font-weight: 300;
}
.dk_prevent_threats_cards_info p{
    color: white;
}

/* *************************** */
.b_special_a{
    color: white;
    text-decoration: none !important;
    border-bottom: 1px dashed white ;
}
.b_special_a:hover {
    color: white !important;
    text-decoration: none !important;
    border-bottom: 1px solid white ;
}
.b_special_a2 {
    color: #0068b5;
    text-decoration: none;
    border:none;
}
.b_special_a2:hover {
    border-bottom: 1px solid #0068b5 ;
}
.b_special_a1 {
    color:  #0068b5 ;
    text-decoration: none !important;
    border-bottom: 1px dashed #0068b5 ;
}
.b_special_a1:hover {
    text-decoration: none !important;
    border-bottom: 1px solid #0068b5 ;
}
.mv_special_3{
    color: #0068b5;
    border-bottom: 1px solid #0068b5 ;
}
.b_som_nav {
    background-color: white;
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 5;
}
.dk_sign{
    color: #fff;
    background-color: #0068b5;
    border-radius: 0;
    padding: .625rem 1.5rem;
    font-size: 1rem;
    line-height: 1.25;
    border-width: 0;
    white-space: normal;
    display: inline-block;
    cursor: pointer;
    margin-bottom: .5rem;
}
.dk_sign:hover{
    color: #fff;
    background-color: #005a9d;
}
.dk_prevent_bt{
    color: #0068b5;
    background-color: #ffffff;
    border-radius: 0;
    padding: .625rem 1.5rem;
    font-size: 1rem;
    line-height: 1.25;
    border-width: 0;
    white-space: normal;
    display: inline-block;
    cursor: pointer;
    margin-bottom: .5rem;
}
.dk_prevent_bt:hover{
    color: #fff;
    background-color:#e9e9e9;
}
/* ***************************** */