*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none !important;
}
.container{
    max-width: 1610px !important;
}

/* header */
nav{
    position: relative !important;
}

@media(max-width:1440px){
    .container{
        max-width: 1170px !important;
    }
}
@media(max-width:1199px){
    .container{
        max-width: 970px !important;
    }
}
@media(max-width:991px){
    .container{
        max-width: 750px !important;
    }
}
@media(max-width:768px){
    .container{
        max-width: 750px !important;
    }
}
@media(max-width:425px){
    .container{
        max-width: 390px !important;
    }
}

/* Intel Xeon  */
.dk_intel_xeon_bg{
   background-image: url(../img/darshit_image/intel_xeon_bg_img.png);
   height: 500px;
   background-position: center center;
}
@media screen and (min-width: 1200px) {
    .dk_intel_xeon_bg{
        height: 500px;
    }
}
@media screen and (min-width: 768px) {
    .dk_intel_xeon_bg {
        height: 450px;
    }
}
@media screen and (max-width: 767px) {
    .dk_intel_xeon_bg {
        height: 320px;
    }
}
.dk_accelerate_your_path{
    width: 515px;
    min-height: 405px;
    background-color: rgba(0, 104, 181, 0.8);
    box-shadow: 0 0 12px #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 2.5rem;     
    border: 3px solid white;    
    position: absolute;
    right:0;
}
.dk_accelerate_your_path h3{
    color: #fff;
    font-weight:300;
}
.dk_accelerate_your_path p{
    color:#fff;
}
/* @media screen and (max-width: 768px) {
    .dk_accelerate_your_path {
        width: 335px;
        min-height: 375px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
} */
@media screen and (max-width: 1199px) {
    .dk_accelerate_your_path {
        width: 335px;
        min-height: 375px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
}
.dk_accelerate_your_path_sub{
    background-color: #0068b5;
    padding: 2.5rem 0rem !important;
    display:none;
}
@media screen and (max-width: 767px) {
    .dk_accelerate_your_path_sub {
        display: block;
        padding:2.5rem !important;   
    }
    .dk_accelerate_your_path{
        display: none;
    }
}
.dk_accelerate_your_path_sub h3{
    color: #fff;
    font-weight:300;
}
.dk_accelerate_your_path_sub p{
    color:#fff;
}

/* The Processor Designed for AI */
.dk_Pro_designed_for_ai{
    background-color: #8f5da2;
    padding: 16px 0;
    color: #fff;
}
.dk_Pro_designed_for_ai_sub h4{
    font-weight: 300;
}
.dk_Pro_designed_for_ai_sub p{
    margin-bottom: 0px;
}
@media screen and (max-width: 767px) {
    .dk_Pro_designed_for_ai_sub p{
        display:none;
    }
}

/* Unlock the full potential of AI */
.dk_unlock_potential{
    padding: 3rem 0px;
    text-align: center;
}
.dk_unlock_potential_sub h2{
    font-weight: 300;
    font-style: normal;
    font-size: 37px;
    line-height: 1.25;
}

/* Realize Superior  */
.dk_realize_superior_image img{
    width: 50%;
}
@media screen and (max-width: 991px) {
    .dk_realize_superior_image img{
        width: 25%;
    }
    .dk_realize_superior_info {
        padding-left: 0px !important;
    }
}
@media screen and (max-width: 767px) {
    .dk_realize_superior_image img{
        width: 50%;
    }
    .dk_realize_superior_info .dk_sign{
        width: 100%;
        text-align: center;
    }
    .dk_realize_superior_info {
        padding-left: 0px !important;
    }
    .dk_unlock_potential_sub h2{
        font-size: 23px;
    }
    .dk_unlock_potential{
        padding: 1.5rem 0px;
        text-align: center;
    }
    .dk_realize_superior_image h2 {
        font-size: 1.5rem !important;
    }
    .dk_realize_superior_info h3 {
        font-weight: 300;
        font-size: 1.2rem !important;
    }
}
.dk_realize_superior_image{
    padding: 48px 0px;
}
.dk_realize_superior_image h2{
    font-weight: 300;
    font-size: 2.25rem;
}
.dk_realize_superior_info h3{
    font-weight: 300;
    font-size: 1.75rem;
}
.dk_realize_superior_info{
    padding-left: 107px;
}


/* Secure your data */
.dk_secure_your_data{
    text-align: center;
    background-color: #0068b5;
    padding: 3rem 0rem;
    color: #ffffff;
}
.dk_secure_your_data h3{
    font-weight:300;
    margin-bottom: 20px;
}
.dk_prevent_threats{
    padding:2.5rem 0rem;
    background-color: #0068b5;
}
.dk_prevent_threats_info h2{
    color: white;
    font-weight:300;
    line-height: 1.25;
    font-size: 2rem;
}
.dk_prevent_threats_info p{
    color: white;
}

.dk_prevent_threats_cards{
    background-color: #0068b5;
    padding: 5rem 1rem;
}
.dk_prevent_threats_cards_info h3{
    margin-top: 15px;
    color: white;
    font-weight: 300;
}
.dk_prevent_threats_cards_info p{
    color: white;
}
.dk_access_more0_tools_sub{
    padding: 5rem 0rem;
}

@media screen and (max-width: 767px) {
    .dk_prevent_threats .dk_prevent_bt {
        width: 100%;
    }
    .dk_prevent_threats_cards_info{
        margin-bottom: 2rem;
    }
}

/* Access more tools and resources */
.dk_access_more0_tools h2{
    padding: 1rem 0rem 2rem 0rem;
    text-align: center;
    font-weight:300;
}
.dk_access_more0_tools h3{
    font-weight:300;
}
@media screen and (max-width: 767px) {
    .dk_access_more0_tools_sub {
        padding: 2rem 0rem;
    }
    .dk_access_gep{
        margin-bottom: 2rem;
    }
}

/* Stay updated on the latest tech trends  */
.dk_stay_updated{
    padding: 2.5rem 0rem;
    background-color: #41728a;
    text-align: center;
}
.dk_stay_updated h2{
    font-size: 2.4rem;
    color: white;
    font-weight:300;
}
.dk_stay_updated p{
    color: white;
    font-weight:300;
}
 /* legal  */
.dk_legal{
    padding: 3rem 0rem;
}
.dk_legal h2{
    font-weight: 300;
    font-size: 2.5rem;
}

/* *************************** */
.b_special_a{
    color: white;
    text-decoration: none !important;
    border-bottom: 1px dashed white ;
}
.b_special_a:hover {
    color: white !important;
    text-decoration: none !important;
    border-bottom: 1px solid white ;
}
.b_special_a2 {
    color: #0068b5;
    text-decoration: none;
    border:none;
}
.b_special_a2:hover {
    border-bottom: 1px solid #0068b5 ;
}
.b_special_a1 {
    color:  #0068b5 ;
    text-decoration: none !important;
    border-bottom: 1px dashed #0068b5 ;
}
.b_special_a1:hover {
    text-decoration: none !important;
    border-bottom: 1px solid #0068b5 ;
}
.mv_special_3{
    color: #0068b5;
    border-bottom: 1px solid #0068b5 ;
}
.b_som_nav {
    background-color: white;
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 5;
}
.dk_sign{
    color: #fff;
    background-color: #0068b5;
    border-radius: 0;
    padding: .625rem 1.5rem;
    font-size: 1rem;
    line-height: 1.25;
    border-width: 0;
    white-space: normal;
    display: inline-block;
    cursor: pointer;
    margin-bottom: .5rem;
}
.dk_sign:hover{
    color: #fff;
    background-color: #005a9d;
}
.dk_prevent_bt{
    color: #0068b5;
    background-color: #ffffff;
    border-radius: 0;
    padding: .625rem 1.5rem;
    font-size: 1rem;
    line-height: 1.25;
    border-width: 0;
    white-space: normal;
    display: inline-block;
    cursor: pointer;
    margin-bottom: .5rem;
    text-align: center;
}
.dk_prevent_bt:hover{
    color: #0068b5;
    background-color:#e9e9e9;
}
/* ***************************** */