.mv_intel_data_bg_color {
    padding: 40px 0px 0px;
    background-color: #00285a;
}
.v_nav_link_color{
    color: #fff !important;
}
.v_nav_underline .nav-link.active{
    color: #000 !important;
    border-radius: 0px;
}
.v_nav_underline .nav-link:hover{
    border-color: transparent !important;
}
/* The AI PC revolution is here */
.dk_PC_revolution{
    background-image: url(/img/darshit_image/waves-dark-blue-abstract-background-16x9_1920-1080.webp);
    color: #fff;
    padding: 3rem 0rem;
}
 /* Mobile */
 .dk_mobile_sec{
    padding: 2.5rem 0rem;
    background-image: url(/img/darshit_image/abstract-blue-radial-right-background-16x9.png);
    color: #fff;
 }
 /* Deskstop */
 .dk_desktop_sec{
    padding: 2.5rem 0rem;
    background-image: url(/img/darshit_image/abstract-blue-radial-right-background-16x9.png);
    color: #fff;
 }
 /* Ready to take the next step? */
 .dk_ready_to_take{
    padding: 2.5rem 0rem;
    text-align: center;
 }
 /* Browse for laptops */
 .dk_browse_for_leptop{
    padding: 2.5rem 0rem;
 }
 /* Related technologies */
 .dk_related_technologies{
    padding: 2.5rem 0rem;
    background-image: url(/img/darshit_image/abstract-blue-background-highrez_1920-1080.webp);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
 }
 .dk_related_t_sub{
    background-color: #ffffff;
    color: #0068b5;
    padding: 1rem 1.5rem;
    height: 100% !important;
}
/************ Filter By ***********/
.v_2sec_bg {
    background-color: #f7f5f5;
}
.v_mar_topbot{
    padding: 40px 0;
}
.v_3rdsec_text {
    font-weight: 400;
    padding-top: 15px;
    padding-left: 0;
    margin-right: 20px;
    width: max-content;
    float: left;
    min-height: 55px;
    font-size: 14px;
    margin-bottom: 0rem;
}
.v_compare_all {
    color: #0068b5 !important;
    margin-left: 15px;
    border-bottom: 1px dashed #0068b5 !important;
}
.v_compare_all:hover {
    border-bottom: 1px solid #0068b5 !important;
}
.v_table_mar_top {
    margin-top: 20px;
}
.v_item_product{
    color:#0068b5 ;
    border-bottom: 1px dashed #0068b5;
    margin-left: 15px;
}
.v_item_product:hover{
    color:#0068b5 ;
    border-bottom: 1px solid #0068b5;
}
.v_table_header{
    background-color: #d6d4d4 !important;
}
.v_table_header:hover{
    background-color: #808080 !important;
    color: white;
}
.mv_product_current{
    margin-bottom: 1rem;
    align-items: center;
    display: flex;
}
.mv_product_select{
    width: 270px !important;
    border: 1px solid #a4a4a4 !important;
    border-radius: 0rem !important;
}
.mv_product_select option{
    max-width: 270px !important;
}
.mv_product_select:focus{
    box-shadow: none !important;
    border: 1px solid #a4a4a4 !important;
}
.mv_filter_by{
    display: flex;
}
.mv_compare_table{
    width: 100%;
    border-collapse: collapse;
}
.mv_compare_table thead tr th{
    vertical-align: middle;
}
.mv_compare_table tbody tr td{
    background-color: #fff;
    border-right: 1px solid #e9e9e9;
    border-top: 1px solid #e9e9e9;
    white-space: normal !important;
    padding: 16px !important;
    overflow: hidden;
    font-size: .875rem;
    line-height: 1.42857143;
    vertical-align: top;
}
.mv_compare_table tbody tr :nth-child(even) td{
    background-color: #f7f7f7;
}
/* Styling for selected rows */
.selected-row {
    background-color: #b4f0ff;
}
.selected-row td {
    background-color: inherit !important;
}

/* slide 1 */
.dk_slide1{
    background-color: rgba(255, 255, 255, 0.75) !important;
    padding: 3rem 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    text-align: center;
    transition: all .35s ease-in-out;
}
.dk_blockquite{
    padding: 11px 22px;
    margin: 0 0 22px;
    border-left: 5px solid #ebebeb;
}
.dk_supercharge{
    padding: 3rem 0rem;
}

/*********************************/

@media(max-width:991px){
    /* Intel® Core™ Ultra Processors */
    .v_nav_underline{
        overflow-x: scroll !important;
        flex-wrap: nowrap !important;
    }
    .v_nav_link_color{
        text-wrap: nowrap !important;
    }
    /* The AI PC revolution is here */
    .dk_PC_revolution video{
        margin-bottom: 1.5rem !important;
    }
}

@media(max-width:767px){
    /* Filter By */
    .mv_filter_by{
        display: block !important;
    }
}

@media(max-width:425px){
    /* Filter By */
    .mv_product_select {
        width: 200px !important;
    }
}
