.mv_intel_data_bg_color {
    padding: 40px 0px 0px;
    background-color: #00285a;
}
.v_nav_link_color{
    color: #fff !important;
}
.v_nav_underline .nav-link.active{
    color: #000 !important;
    border-radius: 0px;
}
.v_nav_underline .nav-link:hover{
    border-color: transparent !important;
}


@media(max-width:991px){
    /* Intel® Core™ Ultra Processors */
    .v_nav_underline{
        overflow-x: scroll !important;
        flex-wrap: nowrap !important;
    }
    .v_nav_link_color{
        text-wrap: nowrap !important;
    }
    /* The AI PC revolution is here */
    .dk_PC_revolution video{
        margin-bottom: 1.5rem !important;
    }
}
