.mv_spark_breadcrumb_items{
    margin: 0;
    display: flex;
    padding: 0;
    list-style: none;
}
.mv_spark_breadcrumb_items li{
    display: inline-flex;
    font-size: 15px !important;
}
.mv_spark_breadcrumb_items li a{
    display: block;
    padding: .66em .9rem;
    margin: 1px;
    font-size: .875em;
    line-height: 1.25em;
    color: #0068b5;
    text-wrap: nowrap !important;
}
.mv_spark_breadcrumb_items li p{
    color: #262626;
    font-weight: 700;
    margin-right: 30px;
    padding: .66em 1rem;
    margin: 1px;
    font-size: .875em;
    line-height: 1.25em;
    text-wrap: nowrap !important;
}
.mv_spark_breadcrumb_items li:not(:first-child):before {
    content: "";
    display: inline-block;
    position: relative;
    transform: skew(-18deg);
    block-size: 1rem;
    inline-size: .08rem;
    margin-inline: 0.38rem;
    background-color: #b7b9be;
    inset-block-start: .35rem;
    margin-top: 5px;
}
/* *************************************** */

@media(max-width: 1440px){
    .mb_sub_nv{
        overflow-x: scroll !important;
    }
}