* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Intel Clear", sans-serif;
}

.ds_container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
}

/* <!-- ***********  Cloud Development   *********     --> */
.ds_cloud-bg {
  background-image: url(/img/dhruvin/Cloud/my-bg.png);
  background-color: #000f8a;
  background-size: cover;
  background-position: center;
  padding: 80px 0px;
}

/* <!-- ***********  Mini Navbar   *********     --> */

/* <!-- ***********  Mini Navbar   *********     --> */

.VK_ai_navigation {
  background-color: white;
  border-bottom: 1px solid #d7d7d7;
}

.VK_ai_nav_bar a {
  color: #262626;
  padding: 15px 30px;
  word-break: normal;
  font-weight: 500;
  white-space: nowrap;
}

.VK_ai_nav_bar li {
  margin: 0px 15px;
}

.VK_ai_navigation.VK_sticky_nav_bar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.VK_active_link {
  position: relative;
  color: #00aeef;
}
.VK_active_link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  background: #00aeef;
}
.VK_ai_nav_bar li a {
  transition: color 0.3s, border-bottom 0.3s;
}


.VK_ai_nav_bar a.active {
  font-weight: bold;
  color: #0068b5 !important;
  position: relative;
}
.VK_ai_nav_bar a.active::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  background: #00aeef;
}


/* <!-- ***********  Popup   *********     --> */
.ds_popup-icon {
  position: absolute;
  right: 47px;
  top: 11px;
  cursor: pointer;
}
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80% !important ;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 500px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content,
#caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.ds_popup-padding {
  padding-top: 30px;
}
.ds_popup-btn {
  padding: 0.4rem 1.7rem !important;
  color: white !important;
  background-color: #0068b5 !important;
}
.ds_popup-btn:hover {
  background-color: #004a86 !important;
}
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

/* <!-- ***********  What's New   *********     --> */
.ds_what-bg {
  background-color: #f7f7f7;
  padding-top: 40px;
  padding-bottom: 50px;
}
.ds_what-body {
  background-color: white;
  padding-bottom: 50px;
}
.ds_what-img {
  height: 205px;
  background-position: 0% 25%;
  background-size: cover;
}
.ds_what-anker {
  display: block;
  font-size: 1rem;
  line-height: 23px;
  font-weight: bold;
  text-decoration: none;
  color: #0068b5 !important;
}
.ds_what-count {
  position: absolute;
  bottom: 20px;
  right: 0;
}

/* <!-- ***********  Cloud Technologies from Intel   *********     --> */
.ds_techno-bg {
  background-color: #525252;
  padding: 40px 0px;
}
.ds_techno-body {
  padding: 1rem;
  background: #f7f7f7;
}
.ds_techno-anker {
  color: #0068b5 !important;
  text-decoration: none;
}
.ds_techno-anker:hover {
  border-bottom: 1px solid;
  color: #005a9d !important;
  text-decoration: none;
}
.ds_techno-btn {
  color: #0068b5 !important;
  background: #fff !important;
}
.ds_techno-btn:hover {
  color: #004a86 !important;
  background: #e9e9e9 !important;
}
/* <!-- ***********  Training and Certification   *********     --> */
.ds_certi-bg {
  background-color: #41728a;
  padding: 40px 0px;
}
.ds_certi-anker {
  color: #0068b5 !important;
  background-color: white !important;
  padding: 0.625rem 1.5rem !important;
  text-align: center;
  text-decoration: none;
  display: block;
}
.ds_certi-anker:hover {
  color: #004a86 !important;
  background-color: #e9e9e9 !important;
}
.ds_certi-anker2 {
  color: white;
  text-decoration: underline dotted;
  text-decoration-style: dashed;
  text-underline-offset: 0.3rem;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: 0.5px;
}
.ds_certi-anker2:hover {
  color: white !important;
  text-decoration: underline;
  text-decoration-thickness: 0.5px;
}
#third-card {
  display: block;
}
#show-more-btn {
  display: none;
}

/* <!-- ***********  Cloud Documentation  *********     --> */
.ds_docu-bg {
  background-color: white;
  padding: 40px 0px;
}
.ds_docu-anker {
  color: #0f0f0f !important;
  border-bottom: 1px dotted;
  text-decoration: none;
}
.ds_docu-anker:hover {
  border-bottom: 1px solid;
}
.ds_docu-pading {
  padding-left: 20px;
}
.ds_docu-body {
  background: #f7f7f7;
  padding: 0.75rem 1.5rem;
}
.ds_docu-anker2 {
  text-decoration: none;
  color: #0068b5 !important;
}
.ds_docu-anker2:hover {
  border-bottom: 1px solid;
  color: #005a9d !important;
}



/* <!-- *********   Community  ********   --> */
.ds_popular-bg{
  background-color:white;
  padding: 40px 0px;
}
.ds_popular-title{
  font-size: 28px;
}
.ds_popular-inner{
  background-color: #f3f3f3;
  padding: 12px 24px;
}
.ds_popular-margin-res {
  margin-top: 20px !important;
}
.ds_popular-icon{
  background-color: white;
  padding: 13px 13px;
  border-radius: 50%;
}
.ds_popular-anker{
  padding-left: 20px;
  color: #0068b5 !important;
  text-decoration: none;
  display: block;
}
.ds_popular-anker:hover{
  color: #004a86 !important;
}



/* ********* Main Container ******** */
@media (min-width: 1650px) {
  .ds_container {
    width: 1610px;
  }
}
@media (min-width: 1200px) and (max-width: 1649px) {
  .ds_container {
    width: 1170px;
    max-width: none;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .ds_container {
    width: 970px;
    max-width: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .ds_container {
    width: 750px;
    max-width: none;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .ds_container {
    max-width: 750px;
  }
}

/* ********* All Section Media Query ******** */
@media (max-width: 1650px) {
  /* <!-- ***********  Popup   *********     --> */
  .ds_popup-padding {
    padding-top: 10px;
  }
}

@media (max-width: 1200px) {

/* <!-- ***********  Training and Certification   *********     --> */
  #third-card {
    display: block;
}   
/* +++++++++ Community  +++++++ */
.ds_popular-title{
  font-size: 20px;
}

}

@media (max-width: 768px) {
  /* <!-- ***********  Training and Certification   *********     --> */

#show-more-btn{
  display: block;
  width:  96%;
  margin: auto;
}

}


@media (max-width: 450px) {
  /* <!-- ***********  Training and Certification   *********     --> */
  .ds_certi-center {
    text-align: center;
  }
/* ++++++++++  Community +++++++++ */
.ds_popular-margin-res {
  margin-top: 8px !important;
}  
}

@media (max-width: 350px) {
  /* <!-- ***********  Cloud Documentation  *********     --> */
  .ds_docu-pading {
    padding-left: 0px;
    padding-top: 5px;
  }
}
