* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Intel Clear', sans-serif;
}


.ds_container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px; 
    padding-right: 10px;
}


/* <!-- ***************  Developer Programs  ***********     --> */
.ds_program-bg{
   background-image: url(/img/dhruvin/Developer-Programs/program-bg.png);
   background-color: #00285a;
   background-size: cover;
   background-position: center;
   padding: 40px 0px;
}
.ds_program-h1{
    font-size: clamp(2.125rem, 1.7069rem + 1.784vi, 3.3125rem);
    font-style: normal;
    color: white;
}
.ds_program-mini{
    display: inline-block;
    max-width: 650.0px;
    color: white;
    font-weight: 700 !important;
}
.ds_program-body{
    background-color: white !important;
    padding-bottom: 20px;

}
.ds_program-inner{
    padding: .75rem 1.5rem;
}
.ds_program-btn{ 
    background-color: #0068b5 !important;
    color:white !important;
    padding: 8px 25px !important;
}
.ds_program-btn2{ 
    background: transparent !important;
    border-color: #0068b5 !important;
    color: #0068b5 !important;
    padding: 8px 27px !important;
    margin-left: 12px;
}
.ds_program-btn:hover{
    background-color: #004a86 !important;
}
.ds_program-btn2:hover{
    color: white !important;
    background: #004a86 !important;
    border-color: #004a86 !important;
}


/* <!-- ***************  Explore Featured Programs  ***********     --> */
.ds_explore-bg{
    background-color: white;
    padding: 40px 0px;
}
.ds_explore-color{
    background-color: #f3f3f3;
    padding: .75rem 1.5rem;
}
.ds_explore-res{
    margin-top: 20px !important;
}
.ds_explore-icon{
    padding: 12px 12px;
    background-color: white;
    border-radius: 50%;
}
.ds_explore-anker{
    color: #0068b5 !important;
    text-decoration: none;
    padding-left: 22px;
    display: block;
}
.ds_explore-anker:hover{
    color: #004a86 !important;
}


/* <!-- ***************  Collaborate with Other Developers  ***********     --> */

.ds_other-title{
    font-size: 24px !important;
}
.ds_other-inner{
    background-color: #f7f7f7;
    padding: .75rem 1.5rem;
}
.ds_other-anker{
    color: #0068b5 !important;
    text-decoration: none;
}
.ds_other-anker:hover{
    border-bottom: 1px solid;
    color: #005a9d !important;
    text-decoration: none;
}
/* ********* Main Container ******** */
@media (min-width: 1650px) {
    .ds_container {
        width: 1610px;
    }
}
@media (min-width: 1200px) and (max-width: 1649px) {
    .ds_container {
        width: 1170px;
        max-width: none;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .ds_container {
        width: 970px;
        max-width: none;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .ds_container {
        width: 750px;
        max-width: none;
    }
}
@media (min-width: 480px) and (max-width: 767px) {
    .ds_container {
        max-width: 750px;
    }
}



/* ************  All Section Media Query ********* */

@media (max-width:1200px) {
/* <!-- ***************  Developer Programs  ***********     --> */
.ds_program-h3{
    font-size: 22px;
}
}

@media (max-width:450px) {
/* <!-- ***************  Explore Featured Programs  ***********     --> */
.ds_explore-res{
    margin-top: 10px !important;
}
}

