* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Intel Clear', sans-serif;
}
.ds_Main-Color{
    color: #0068b5 !important;
    cursor: pointer;
    text-decoration: underline dotted;
    text-decoration-style: dashed;
    text-underline-offset: .3rem;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: .5px;   
}
.ds_Main-Color:hover{
    color: #004a86 !important;
    text-decoration: underline;
    text-decoration-thickness: .5px;
}
.ds_container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
}


/* <!-- ****** Developer Zone ***** --> */

/* Background image and general styling */
.sd_bg-img {
    background-image: url(/img/dhruvin/Developer-Zone/main-bg.svg);
    background-color: #262626;
    background-size: cover;
    background-position: center;
    padding-bottom: 30px;
  }
  
  /* Menu styling */
  .sd_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    overflow: hidden; 
    width: 100%;
  }
  .ds_menu-container{
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
  }
  .sd_inner {
    display: inline-block;
    padding: 1px 0 4px 0;
    border-top: 2px solid rgba(255, 255, 255, 0.2);
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  }
  
  .sd_anker {
    display: inline-block;
    color: white;
    text-decoration: underline dotted;
    text-decoration-style: dashed;
    text-underline-offset: 0.3rem;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: 0.5px;
    padding: 4px 10px;
  }
  
  .sd_anker:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.5px;
    color: rgba(225, 225, 225, 0.8);
  }
  
  /* Form styling */
  .sd_main-form {
    width: 50%;
  }
  
  .sd_form {
    position: relative;
  }
  
  .sd_input {
    height: 60px;
    width: 100%;
    padding-left: 45px;
  }
  
  .sd_search-icon {
    position: absolute;
    left: 20px;
    color: #0068b5;
    top: 21px;
    font-size: 19px;
  }
  

/* <!-- ****** Intel Innovation 2024 ***** --> */
.ds_inno-bg{
    background-color: #00285a;
    padding: 30px 0px;
}
.ds_inno-btn{
    color: #0068b5 !important; 
    background: white !important;
    padding: .4rem 1.5rem !important;
}





/* ********* Main Container ******** */
@media (min-width: 1650px) {
    .ds_container {
        max-width: 1610px;  
    }
}
@media (min-width: 1200px) and (max-width: 1649px) {
    .ds_container {
        width: 1170px;
        max-width: none;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .ds_container {
        width: 970px;
        max-width: none;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .ds_container {
        width: 750px;
        max-width: none;
    }
}
@media (min-width: 480px) and (max-width: 767px) {
    .ds_container {
        max-width: 750px;
    }
}


/* ############# All Section Media Query ################ */

@media (max-width: 768px) {
/* <!-- ****** Developer Zone ***** --> */
.sd_anker {
  font-size: 15px;
}
.sd_main-form {
  width: 100% !important;
}

/* <!-- ****** Intel Innovation 2024 ***** --> */
.ds_inno-btn{
    width: 100%;
}
}        
