* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Intel Clear', sans-serif;
}
.ds_Main-Color{
    color: #0068b5 !important;
    cursor: pointer;
    text-decoration: underline dotted;
    text-decoration-style: dashed;
    text-underline-offset: .3rem;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: .5px;   
}
.ds_Main-Color:hover{
    color: #004a86 !important;
    text-decoration: underline;
    text-decoration-thickness: .5px;
}
.ds_container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
}


/* <!-- ****** Developer Zone ***** --> */

/* Background image and general styling */
.sd_bg-img {
    background-image: url(/img/dhruvin/Developer-Zone/main-bg.svg);
    background-color: #262626;
    background-size: cover;
    background-position: center;
    padding-bottom: 30px;
  }
  
  /* Menu styling */
  .sd_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    overflow: hidden; 
    width: 100%;
  }
  .ds_menu-container{
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
  }
  .sd_inner {
    display: inline-block;
    padding: 1px 0 4px 0;
    border-top: 2px solid rgba(255, 255, 255, 0.2);
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  }
  
  .sd_anker {
    display: inline-block;
    color: white;
    text-decoration: underline dotted;
    text-decoration-style: dashed;
    text-underline-offset: 0.3rem;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: 0.5px;
    padding: 4px 10px;
  }
  
  .sd_anker:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.5px;
    color: rgba(225, 225, 225, 0.8);
  }
  
  /* Form styling */
  .sd_main-form {
    width: 50%;
  }
  
  .sd_form {
    position: relative;
  }
  
  .sd_input {
    height: 60px;
    width: 100%;
    padding-left: 45px;
  }
  
  .sd_search-icon {
    position: absolute;
    left: 20px;
    color: #0068b5;
    top: 21px;
    font-size: 19px;
  }
  

/* <!-- ****** Intel Innovation 2024 ***** --> */
.ds_inno-bg{
    background-color: #00285a;
    padding: 30px 0px;
}
.ds_inno-btn{
    color: #0068b5 !important; 
    background: white !important;
    padding: .4rem 1.5rem !important;
}



/* <!-- ****** Your Official Source for Developing on Intel® Hardware and Software  ***** --> */
.ds_access-bg{
  background-color: #183544;
  padding: 20px;
}
.ds_access-img{
  padding-left: 10px;
}
.ds_access-btn{
  color: #0068b5 !important;
  background-color: white !important;
  padding: 9px 35px !important;
}
.ds_access-btn:hover{
  color: #004a86 !important;
  background-color: #e9e9e9 !important;
}


/* <!-- *********   Topics & Technologies  ********   --> */
.ds_popular-bg{
  background-color:white;
  padding: 40px 0px;
}
.ds_popular-title{
  font-size: 28px;
}
.ds_popular-inner{
  background-color: #f3f3f3;
  padding: 12px 24px;
}
.ds_popular-margin-res {
  margin-top: 20px !important;
}
.ds_popular-icon{
  background-color: white;
  padding: 13px 13px;
  border-radius: 50%;
}
.ds_popular-anker{
  padding-left: 20px;
  color: #0068b5 !important;
  text-decoration: none;
  display: block;
}
.ds_popular-anker:hover{
  color: #004a86 !important;
}
.ds_topic-anker{
  color: #0068b5 !important;
  text-decoration: underline dotted;
  text-decoration-style: dashed;
  text-underline-offset: .3rem;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: .5px;
}
.ds_topic-anker:hover{
  color: #004a86 !important;
  text-decoration: underline;
}


/* <!-- *********   Featured Software Tools ********   --> */
.ds_feature-bg{
  background-color: white;
  padding-top: 2rem;
  padding-bottom: 2.5rem;
}

.ds_leader-anker{
  font-size: 24px;
  text-decoration: none;
  color: #004a86  !important;
  text-underline-offset: .3rem;
}
.ds_leader-anker:hover{
  color: #00285a !important;
  text-decoration: underline;
  text-decoration-thickness: .5px;
}


/* <!-- *********  Get Your Software & Development Products ********   --> */
.ds_join-bg{
  background-color: white;
  padding: 40px 0px;
}
.ds_join-title{
  font-size: 36px;
}
.ds_join-anker{
  font-size: 18px;
  color: #0068b5 !important;
  text-decoration: none;
  font-weight: bold;
  text-underline-offset: .3rem;
}
.ds_join-anker:hover{
  text-decoration: underline;
  text-decoration-thickness: .5px;
  color: #004a86 !important;
}

/* <!-- *********  Explore Our Design Services  ********   --> */
.ds_our-bg{
   background-color: white;
   padding: 40px 0px;
} 

/* <!-- ********* Webinar Card ******* --> */
.ds_webi-bg{
  background-color: #f3f3f3;
  padding: 32px 0px;
}
.ds_webi-bg-color{
  background: linear-gradient(0, #064562 0, #0a5b83 100%);
  padding: 1rem;
}
.ds_webi-inner{
  background-color: white;
  padding: 1rem 1rem 0;
  padding-bottom: 3rem;

}
.ds_webi-body{
  background-color: white;
  padding: 1rem 1rem 1.5rem;
}
.ds_webi-btn{
  border:1px solid #0068b5;
  color: #0068b5 !important;
  padding: .4rem 1.5rem;
  text-decoration: none;
}
.ds_webi-btn:hover{
  background-color: #004a86;
  border:1px solid #0068b5;
  color: white !important;
}
.ds_webi-anker{
  color: #0068b5 !important;
  text-decoration: underline dotted;
  text-decoration-style: dashed;
  text-underline-offset: .3rem;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: .5px;
}
.ds_webi-anker:hover{
  color: #004a86 !important;
  text-decoration: underline;
}
.ds_webi-diffi{
   position: absolute;
   width: 93%;
   bottom: 0;
   padding-bottom: 20px;
}














/* ********* Main Container ******** */
@media (min-width: 1650px) {
    .ds_container {
        max-width: 1610px;  
    }
}
@media (min-width: 1200px) and (max-width: 1649px) {
    .ds_container {
        width: 1170px;
        max-width: none;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .ds_container {
        width: 970px;
        max-width: none;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .ds_container {
        width: 750px;
        max-width: none;
    }
}
@media (min-width: 480px) and (max-width: 767px) {
    .ds_container {
        max-width: 750px;
    }
}


/* ############# All Section Media Query ################ */
@media (max-width:1200px) {
  .ds_webi-diffi{
    flex-direction: column;
  }
  .ds_webi-inner{
    padding-bottom: 60px;
  }
  .ds_webi-btn{
    width: 100%;
    text-align: center;
  }
  .ds_webi-anker{
    margin-top: 11px;
  }
}
@media (max-width: 768px) {
/* <!-- ****** Developer Zone ***** --> */
.sd_anker {
  font-size: 15px;
}
.sd_main-form {
  width: 100% !important;
}

/* <!-- ****** Intel Innovation 2024 ***** --> */
.ds_inno-btn{
    width: 100%;
}
}  

@media (max-width:450px) {
/* <!-- ****** Your Official Source for Developing on Intel® Hardware and Software  ***** --> */
  .ds_access-img{
      padding-left: 0;
  }

/* ++++++++++  Community +++++++++ */
  .ds_popular-margin-res {
    margin-top: 8px !important;
  }     
}