* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Intel Clear', sans-serif;
}
.ds_Main-Color{
    color: #0068b5 !important;
    cursor: pointer;
    text-decoration: underline dotted;
    text-decoration-style: dashed;
    text-underline-offset: .3rem;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: .5px;   
}
.ds_Main-Color:hover{
    color: #004a86 !important;
    text-decoration: underline;
    text-decoration-thickness: .5px;
}
.ds_container {
    margin-right: auto;
    margin-left: auto;
    /* padding-left: 5px; */
    /* padding-right: 5px; */
}



/* <!-- ****** Development Tools ***** --> */

/* Background image and general styling */
.sd_bg-img {
    background-image: url(/img/dhruvin/Development-Tools/bg-img.jpg);
    background-color: #41728a;
    background-size: cover;
    background-position: center;
    padding-bottom: 30px;
  }
  
  /* Menu styling */
  .sd_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    overflow: hidden; 
    width: 100%;
  }
  .ds_menu-container{
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
  }
  .sd_inner {
    display: inline-block;
    padding: 1px 0 4px 0;
    border-top: 2px solid rgba(255, 255, 255, 0.2);
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  }
  
  .sd_anker {
    display: inline-block;
    color: white;
    text-decoration: underline dotted;
    text-decoration-style: dashed;
    text-underline-offset: 0.3rem;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: 0.5px;
    padding: 10px;
  }
  
  .sd_anker:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.5px;
    color: rgba(225, 225, 225, 0.8);
  }
  
  /* Form styling */
  .sd_main-form {
    width: 50%;
  }
  
  .sd_form {
    position: relative;
  }
  
  .sd_input {
    height: 50px;
    width: 100%;
    padding-left: 40px;
  }
  
  .sd_search-icon {
    position: absolute;
    left: 20px;
    color: #0068b5;
    top: 18px;
    font-size: 18px;
  }
  
  /* Media query for mobile view */



/* <!-- ****** Browse Tools ***** --> */

.ds_bro-bg{
    background-color: #f7f7f7;
    padding: 40px;
}
.ds_item{
    background-color: white;
    height: 392px;
}
.ds_heading{
    border-bottom: 1px solid #e9e9e9;
    padding: 5px 15px;
}
.ds_btn{
    display: block;
    width: 100%;
    position: relative;
    background-color: transparent;
    border: 0;
    box-shadow: none;
    color: #262626;
    text-align: left;
    font-size: 15px;
    letter-spacing: 0.5px;
    padding: 5px 0;
}
.ds_than{
    font-size: 13px;
    color: #0068b5;
}
.ds_li:hover{
    background: #f3f3f3;
}
.ds_bg-color{
    background-color: white;
}
#ds_hide-show{
    display: none;
}
.ds-bro-input{
    width: 100%;
    height: 37px;
    padding-left: 35px
}
.ds_search-icon{
    position: absolute;
    color: #0068b5;
    left: 12px;
    top: 11px;
}
.ds_mini-box{
    max-height: 19rem;
    overflow-x: hidden;
    overflow-y: auto;
}


#ds_by-type{
    display: none;
}

#managers{
    display: none;
}


#ds_Anal-main{
    display: none;
}


#ds_bois-main{
    display: none;
}

#ds_bois-hardware-main{
    display: none;
}
#ds_boot-loader-main{
    display: none;
}

#ds_contain-main {
    display: none;
}
#ds-dynamic-main{
    display: none;
}

#ds_firm-main{
    display: none;
}

#ds_app-main{
    display: none;
}
#ds_cable-main{
    display: none;
}
#ds_apps-main{
    display: none;
}

#ds_code-main{
    display: none;
}

#ds_compile-main{
    display: none;
}

#ds_deep-main{
    display: none;
}
#ds_infer-main{
    display: none;
}

#ds_train-main{
    display: none;
}

#ds_deploy-main{
    display:none;
}

#ds_valid-main {
    display: none;
}
#ds_machine-main{
    display: none;
}
#ds_nature-main{
    display: none;
}

#ds_oneapi-main{
    display: none;
}

#ds_media-main{
    display: none;
}
#ds_fgpa-main{
    display: none;
}

#ds_media2-main{
    display: none;
}

#ds_stack-main{
    display: none;
}
#ds_open-main{
    display: none;
}
#ds_data-main{
    display: none;
}

#ds_data2-main{
    display: none;
}

#ds_center-main{
    display: none;
}

#ds_debug-main{
    display: none;
}

#ds_service-main{
    display: none;
}

#ds_stream-main{
    display: none;
}

#ds_emul-main {
    display: none;
}
#ds_emulation-main{
    display: none;
}

#ds_emulation2-main{
    display: none;
}

#ds_fgpaTools-main{
    display: none;
}
#ds_embedded-main{
    display: none;
}

#ds_fgpaTools2-main{
    display: none;
}

#ds_prime-main{
    display: none;
}

#ds_prime2-main{
    display: none;
}

#ds_fgpaTools3-main{
    display: none;
}

#ds_frame-main{
    display: none;
}

#ds_helm-main{
    display: none;
}

#ds_secure-main{
    display: none;
}

#ds_kits-main{
    display: none;
}
#ds_kitsItem-main{
    display: none;
}
#ds_kitsItem2-main{
    display: none;
}
#ds_kitsItem3-main{
    display: none;
}
#ds_kitsItem4-main{
    display: none;
}
#ds_kitsItem5-main{
    display: none;
}
#ds_kitsItem6-main{
    display: none;
}
#ds_kitsItem7-main{
    display: none;
}
#ds_kitsItem8-main{
    display: none;
}
#ds_kitsItem9-main{
    display: none;
}
#ds_kitsItem10-main{
    display: none;
}
#ds_kitsItem11-main{
    display: none;
}
#ds_kitsItem12-main{
    display: none;
}
#ds_kitsItem13-main{
    display: none;
}
#ds_kuber-main{
    display: none;
}
#ds_legacy-main{
    display: none;
}
#ds_library-main{
    display: none;
}
#ds_libraries-main{
    display: none;
}
#ds_libraries2-main{
    display: none;
}
#ds_libraries3-main{
    display: none;
}
#ds_libraries4-main{
    display: none;
}
#ds_modal-main{
   display: none;
}
#ds_modals-main{
    display: none;
}
#ds_modals2-main{
    display: none;
}
#ds_modals3-main{
    display: none;
}
#ds_modals4-main{
    display: none;
}
#ds_modals5-main{
    display: none;
}
#ds_modals6-main{
    display: none;
}
#ds_modals7-main{
    display: none;
}
#ds_modals8-main{
    display: none;
}
#ds_modals9-main{
    display: none;
}
#ds_modals10-main{
    display: none;
}
#ds_modals11-main{
    display: none;
}
#ds_modals12-main{
    display: none;
}
#ds_modals13-main{
    display: none;
}
#ds_modals14-main{
    display: none;
}
#ds_modals15-main{
    display: none;
}
#ds_modals16-main{
    display: none;
}
#ds_modals17-main{
    display: none;
}
#ds_modals18-main{
    display: none;
}
#ds_plug-main{
    display: none;
}
#ds_power-main{
    display: none;
}
#ds_powers-main{
    display: none;
}
#ds_product-main{
    display: none;
}
#ds_reference-main{
    display: none;
}
#ds_refer-main{
    display: none;
}
#ds_reference2-main{
    display: none;
}
#ds_reference3-main{
    display: none;
}
#ds_reference4-main{
    display: none;
}
#ds_reference5-main{
    display: none;
}
#ds_reference6-main{
    display: none;
}
#ds_reference7-main{
    display: none;
}
#ds_reference8-main{
    display: none;
}
#ds_reference9-main{
    display: none;
}
#ds_reference10-main{
    display: none;
}
#ds_run-main{
    display: none;
}
#ds_validation-main{
    display: none;
}
#ds_validHard-main{
    display: none;
}
#ds_validHard2-main{
    display: none;
}
#ds_validHard3-main{
    display: none;
}
#ds_by-operating-main{
    display: none;
}
#ds_operating-main{
    display: none;  
}
#ds_operating2-main{
    display: none;
}
#ds_operating3-main{
    display: none;
}
#ds_operating4-main{
    display: none;
}
#ds_operating5-main{
    display: none;
}
#ds_by-topic-main{
    display: none;
}
#ds_topic-main{
    display: none;
}
#ds_topic2-main{
    display: none;
}
#ds_topic3-main{
    display: none;
}
#ds_topic4-main{
    display: none;
}
#ds_topic5-main{
    display: none;
}

@media (max-width:768px) {




}

/* <!-- ****** Development Products ***** --> */
.ds_pro-bg{
    background-color: #040e35;
    padding: 40px;
}
.ds_pro-heding{
    font-weight: 300 !important;
    font-style: normal;
}
.ds_pro-anker{
    color: white;
    text-decoration: underline dotted;
    text-decoration-style: dashed;
    text-underline-offset: .3rem;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: .5px;
    font-size: 24px;
}
.ds_pro-anker:hover{
    color: white;
    text-decoration: underline;
    text-decoration-thickness: .5px;
}
@media (max-width:768px) {
    .ds_pro-bg{
        padding: 20px;
    }
}

   
/* <!-- ****** Top Software Products ***** --> */
.ds_top-bg{
    background-color: #00285a;
    padding: 40px;
}
.ds_top-body{
    background-color: white;
    padding: 12px 24px;
   
}
.ds_top-height-res{
  background-color: white;
  /* height: 187px; */
}
.ds_top-anker{
    color: #0068b5 !important;
    font-size: 20px;
    text-decoration: underline dotted;
    text-decoration-style: dashed;
    text-underline-offset: .3rem;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: .5px;
    font-weight: 600;
}
.ds_top-anker:hover{
    color: #004a86 !important;
    text-decoration: underline;
    text-decoration-thickness: .5px;
}

@media (max-width:768px) {
    .ds_top-height-res{
        /* height: auto; */
    }
}
@media (min-width:1200px) and (max-width:1650px) {
    .ds_top-height-res{
        /* height: auto; */
    }
}

@media (max-width:768px) {
    .ds_top-bg{
        padding: 20px;
    }
}

@media (max-width:450px) {
    .row{
        --bs-gutter-x: 0rem !important;
    }
}

.ds_more-bg{
    background-color: #f7f7f7;
    padding: 40px ;
}


/* <!-- ****** More Tool ***** --> */
.ds_more-inner{
    background-color: white;
    padding: 15px 25px;
}
.ds_more-icon{
    color: #262626;
    padding: 13px 13px;
    background-color: #f7f7f7;
    border-radius: 50%;
}
.ds_more-anker{
    text-decoration: none;
    margin-left: 20px;
    color: #0068b5;
    display: block;
}
.ds_more-anker:hover{
    color: #004a86;
}


/* <!-- ****** Access Developer  ***** --> */
.ds_access-bg{
    background-color: #0068b5;
    padding: 20px;
}
.ds_access-img{
    padding-left: 10px;
}
.ds_access-btn{
    color: #0068b5 !important;
    background-color: white !important;
    padding: 9px 35px !important;
}
.ds_access-btn:hover{
    color: #004a86 !important;
    background-color: #e9e9e9 !important;
}




/* ********* Main Container ******** */
@media (min-width: 1650px) {
    .ds_container {
        max-width: 1610px;  
    }
}
@media (min-width: 1200px) and (max-width: 1649px) {
    .ds_container {
        width: 1170px;
        max-width: none;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .ds_container {
        width: 970px;
        max-width: none;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .ds_container {
        width: 750px;
        max-width: none;
    }
}
@media (min-width: 480px) and (max-width: 767px) {
    .ds_container {
        max-width: 750px;
    }
}


/* ############# All Section Media Query ################ */

@media (max-width: 768px) {

/* +++++   Development Tools ++++++ */
    .sd_anker {
      font-size: 15px;
    }
    
    .sd_main-form {
      width: 100% !important;
    }
    
    .ds_heading-main {
      font-size: 30px;
      font-weight: 100;
    }

/* +++++   Browse Tools ++++++ */    
    .ds_bro-bg{
        padding: 40px 20px;
    }
}
  
@media (max-width:450px) {
/* ++++++++++  Access Developer +++++++++ */
    .ds_access-img{
        padding-left: 0;
    }
}