* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Intel Clear", sans-serif;
  }
  
  .ds_container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
  }


/* <!-- ********* HPC Development ********** --> */

.ds_hpc-bg{
    background-image: url(/img/dhruvin/HPC-Development/bg-1.png);
    background-color: #000f8a;
    background-size: cover;
    background-position: center;
    padding: 40px 0px;
}
.ds_hpc-anker{
    color: white !important;
    text-decoration: underline dotted;
    text-decoration-style: dashed;
    text-underline-offset: .3rem;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: .5px;
}
.ds_hpc-anker:hover{
    text-decoration: underline;
}
 

/* <!-- ***********  Mini Navbar   *********     --> */

.VK_ai_navigation {
    background-color: white;
    border-bottom: 1px solid #d7d7d7;
  }
  
  .VK_ai_nav_bar a {
    color: #262626;
    padding: 15px 30px;
    word-break: normal;
    font-weight: 500;
    white-space: nowrap;
  }
  
  .VK_ai_nav_bar li {
    margin: 0px 15px;
  }
  
  .VK_ai_navigation.VK_sticky_nav_bar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .VK_active_link {
    position: relative;
    color: #00aeef;
  }
  .VK_active_link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    background: #00aeef;
  }
  .VK_ai_nav_bar li a {
    transition: color 0.3s, border-bottom 0.3s;
  }


.VK_ai_nav_bar a.active {
    font-weight: bold;
    color: #0068b5 !important;
    position: relative;
}
.VK_ai_nav_bar a.active::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    background: #00aeef;
}

/* <!-- ***********  The HPC Software Journey to Exascale  *********     --> */

.ds_jour-bg{
    background-color: #040e35;
    padding: 48px 0px;
}  
.ds_jour-title{
    font-size: 2.25rem;
}

/* <!-- ***********  HPC Software Portfolio  *********     --> */
.ds_port-bg{
    background-color: white;
    padding: 48px 0px;
}
.ds_port-res{
    margin-top: 20px;
}
/* <!-- *********** Intel's Cross-architecture Development Tools for oneAPI  *********     --> */
.ds_cross-bg{
    background-color: #f7f7f7;
    padding: 48px 0px;
}
.ds_cross-anker{
    color: #0068b5 !important;
    text-decoration: underline dotted;
    text-decoration-style: dashed;
    text-underline-offset: .3rem;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: .5px;
}
.ds_cross-anker:hover{
    color: #004a86 !important;
    text-decoration: underline;
}

.ds_get-bg{
    padding-top: 80px;
    padding-bottom: 40px;
    background-color: #f7f7f7;
}

  .ds_popular-inner{
    background-color: white;
    padding: 1.5rem 1rem;
  }
  .ds_popular-margin-res {
    margin-top: 20px !important;
  }

  .ds_popular-anker{
    color: #0068b5 !important;
    text-decoration: none;
  }
  .ds_popular-anker:hover{
    color: #004a86 !important;
    border-bottom: 1px solid;
  }


/* <!-- *********** HPC Use Cases *********     --> */
.ds_use-anker{
    font-size: 22px;
    text-decoration: none;
    color: #0068b5 !important;
    text-underline-offset: .3rem;
    text-decoration-skip-ink: auto;
}
.ds_use-anker:hover{
    text-decoration: underline;
    color: #004a86 !important;
}
#show-more-btn{
    cursor: pointer;
}
.ds_use-line::after{
    content: " ";
    position: absolute;
    top: 13px;
    height: 1px;
    width: 50%;
    right: -65px;
    background-color: #0068b5;
 }
 .ds_use-line::before{
    content: " ";
    position: absolute;
    top: 12px;
    height: 1px;
    width: 50%;
    left: -65px;
    background-color: #0068b5;
 } 

.ds_use-hidden{
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition:all  0.5s ease-out;
}    
.ds_use-show{
    opacity: 1;
    height: 100%;
    transition:all  0.5s ease-in;
}


/* <!-- *********** More Resources *********     --> */
.ds_reso-bg{
    background-color: #000864;
    padding: 40px 0px;
}
.ds_reso-anker{
    color: white !important;
    text-decoration: underline dotted;
    text-decoration-style: dashed;
    text-underline-offset: .3rem;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: .5px;
}
.ds_reso-anker:hover{
    text-decoration: underline;
}
.ds_reso-line::after{
    content: " ";
    position: absolute;
    top: 13px;
    height: 1px;
    width: 50%;
    right: -65px;
    background-color: rgba(255, 255, 255, 0.5);
 }
 .ds_reso-line::before{
    content: " ";
    position: absolute;
    top: 12px;
    height: 1px;
    width: 50%;
    left: -65px;
    background-color: rgba(255, 255, 255, 0.5);
 } 

/* ********* Main Container ******** */
@media (min-width: 1650px) {
    .ds_container {
      width: 1610px;
    }
  }
  @media (min-width: 1200px) and (max-width: 1649px) {
    .ds_container {
      width: 1170px;
      max-width: none;
    }
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    .ds_container {
      width: 970px;
      max-width: none;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    .ds_container {
      width: 750px;
      max-width: none;
    }
  }
  @media (min-width: 480px) and (max-width: 767px) {
    .ds_container {
      max-width: 750px;
    }
  }  


/* ********* All Section Media Query ******** */
@media (max-width:1200px) {
/* <!-- ***********  The HPC Software Journey to Exascale  *********     --> */
    .ds_jour-title{
        font-size: 1.75rem !important;
    }   
}
@media (max-width:768px) {
 /* <!-- ***********  HPC Software Portfolio  *********     --> */
.ds_port-bg{
    padding: 25px 0px;
}   
/* <!-- ***********  The HPC Software Journey to Exascale  *********     --> */
   .ds_jour-bg{
      padding: 25px 0px !important;
   }
/* <!-- *********** Intel's Cross-architecture Development Tools for oneAPI  *********     --> */
   .ds_cross-bg{
      padding: 25px 0px !important;
   }
}
@media (max-width:576px) {
/* <!-- ********* HPC Development ********** --> */
    .ds_hpc-text{
        font-size: 14px !important;
    }
}

@media (max-width: 450px) {
/* <!-- *********** Intel's Cross-architecture Development Tools for oneAPI  *********     --> */
  .ds_popular-margin-res {
    margin-top: 8px !important;
  }  
  .ds_get-bg{
    padding-top: 40px;
}

/* <!-- ***********  HPC Software Portfolio  *********     --> */
.ds_port-res{
    margin-top: 5px;
}

}