* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Intel Clear', sans-serif;
}


.ds_container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px; 
    padding-right: 10px;
}


/* <!-- ************   Development Topics & Technologies   ************     --> */
.ds_topics-bg{
    padding: 40px 0;
    background-image: url(/img/dhruvin/Topics-Technologies/topics-main.png);
    background-color: #00285a;
    background-size: cover;
    background-position: center;
}
.ds_topics-title{
    font-size: 40px;
}
.ds_topics-main{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Hide the overflow from the main container */
    width: 100%;
    /* text-align: center; */
}
.ds_menu-inner{
    display: flex;
    overflow-x: auto; /* Allow horizontal scrolling */
    white-space: nowrap;
}
.ds_topics-border{
    display: inline-block;
    padding: 8px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.ds_topics-anker{
    text-decoration: underline dotted;
    text-decoration-style: dashed;
    text-underline-offset: .3rem;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: .5px;
    color: white !important;
}
.ds_topics-anker:hover{
    color: rgba(225, 225, 225, 0.8) !important;
    text-decoration: underline;
    text-decoration-thickness: .5px;
}
.ds_topics-form{
    width: 50%;
}
.ds_topics-input{
    height: 60px;
    padding-left: 45px;
}
.ds_topics-icon{
    position: absolute;
    color: #0068b5;
    top: 20px;
    left: 22px;
    font-size: 20px;
}

/* <!-- ************   General Computing   ************     --> */
.ds_general-bg{
   background-color: white;
   padding: 40px 0px;
}
.ds_general-title{
    font-size: 28px;
}
.ds_general-body{
    background-color: #f3f3f3;
    padding: 12px 24px;
}
.ds_gerneral-margin-res{
    margin-top: 20px !important;
}
.ds_general-icon{
    background-color: white;
    padding: 13px 13px;
    border-radius: 50%;
}
.ds_general-anker{
    text-decoration: none;
    color: #0068b5 !important;
    padding-left: 20px;
    display: block;
}
.ds_general-anker:hover{
    color: #004a86 !important;
}


/* <!-- ************   Parallel & Heterogeneous Computing   ************     --> */
.ds_para-bg{
    background-color: #00285a;
    padding: 40px 0;
}



/* ************  Standards Contributions  ************ */
.ds_stand-bg{
    background-color: #004a86;
    padding: 40px 0;
}


/* <!-- ************   Related Resources  ************     --> */
.ds_relat-bg{
    background-color: #f7f7f7;
    padding: 40px 0px;
}
.ds_relat-anker{
    text-decoration:none;
}
.ds_relat-anker:hover{
    text-decoration: underline;
    text-underline-offset: .3rem;
    text-decoration-thickness: .5px;
    color: #003c71 !important;
}
.ds_relat-anker h5{
    color: #0068b5 !important;
    font-weight: bold !important;
}
.ds_relat-anker h5:hover{
    color: #003c71 !important;
}
.ds_relat-pading{
    padding-left: 25px;
}

/* <!-- ****** Access Developer  ***** --> */
.ds_access-bg{
    background-color: #0068b5;
    padding: 20px;
}
.ds_access-img{
    padding-left: 10px;
}
.ds_access-btn{
    color: #0068b5 !important;
    background-color: white !important;
    padding: 9px 35px !important;
}
.ds_access-btn:hover{
    color: #004a86 !important;
    background-color: #e9e9e9 !important;
}




/* ********* Main Container ******** */
@media (min-width: 1650px) {
    .ds_container {
        width: 1610px;
    }
}
@media (min-width: 1200px) and (max-width: 1649px) {
    .ds_container {
        width: 1170px;
        max-width: none;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .ds_container {
        width: 970px;
        max-width: none;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .ds_container {
        width: 750px;
        max-width: none;
    }
}
@media (min-width: 480px) and (max-width: 767px) {
    .ds_container {
        max-width: 750px;
    }
}



/* ############# All Section Media Query ################ */
@media (max-width:1200px) {
/* +++++++++ Development Topics & Technologies +++++++++     */
    .ds_topics-title{
        font-size: 32px;
    }

/* +++++++++ General Computing  +++++++++     */    
    .ds_general-title{
        font-size: 20px;
    }

}
@media (max-width:992px) {
    /* +++++++++  Related Resources  +++++++++     */  
    .ds_relat-res{
        flex-direction: column;
    }
    .ds_relat-pading{
        padding-left: 0px;
    }
}
@media (max-width:768px) {
    .ds_topics-form{
        width: 100%;
    }
    .ds_topics-icon{
        font-size: 22px;
    }
}

@media (max-width:568px) {
/* +++++++++  Related Resources  +++++++++     */     
.ds_relat-anker h5{
    font-size: 17px;
}
}

@media (max-width:450px) {
/* +++++++++  General Computing +++++++++     */  

.ds_gerneral-margin-res{
   margin-top: 8px !important;
}
/* ++++++++++  Access Developer +++++++++ */
    .ds_access-img{
        padding-left: 0;
    }
}