* {
    box-sizing: border-box !important;
    margin: 0;
    padding: 0;
    font-family: 'Intel Clear', sans-serif !important;
}

html {
    scroll-behavior: smooth;
}

a {
    cursor: pointer !important;
    text-decoration: none !important;
}

.m_container {
    padding: 0px 150px;
}

.m_mainHeading {
    font-size: 38px;
    text-align: center;
    font-weight: 100;
    margin-bottom: 15px;
}

.m_para {
    font-size: 16px;
}
.m_para2 {
    font-size: 20px;
}

.m_subHeading {
    font-size: 24px;
}
.m_midlHeading{
    font-size: 26px;
}

.m_color {
    color: #0068b5;
}

.m_bgColor {
    background-color: #0068b5;
}

.m_lightBg {
    background-color: #f7f7f7;
}

.m_ai_n {
    background-color: #00285a;
}

.m_hovCol:hover {
    color: #004a86 !important;
}

.m_dropActive {
    border-left: 5px solid #00aeef !important;
}

/* solutions : Business Solutions : AI : AI Home */
.m_ai_tdrop {
    display: flex;
    align-items: center;
    /* overflow-x: scroll; */
    flex-wrap: wrap;
}

.m_ai_tdrop .dropdown-item {
    padding: 1.1rem 1.6rem !important;
    color: #0068b5;
    font-size: .875em;
}

.m_ai_tdrop .dropdown-menu {
    overflow-y: scroll;
    height: 365px;
}

.m_ai_tdrop .dropdown-item:focus,
.dropdown-item:hover {
    color: #003c71 !important;
    background-color: transparent !important;
}

.m_ai_tdrop .dropdown-toggle {
    font-size: .875em;
    color: #0068b5;
    padding: 10px 0 10px 15px;
}

.m_ai_tdrop .btn-check:focus+.btn,
.btn:focus {
    box-shadow: none !important;
}

.m_ai_tdrop .btn:hover {
    color: #003c71 !important;
}

.m_ai_tdrop .dropdown-menu {
    inset: -3px auto auto 10px !important;
    border: none !important;
    border-radius: 0 !important;
}

.m_ai_shlash {
    color: #d7d7d7;
    padding: 0 5px;
}

.m_ai_httl {
    font-size: 14px;
    font-weight: 600;
    padding: 10px 15px;
    text-wrap: nowrap;
}


.m_ai_hero {
    background: url("/img/Monika_img/ai_hero.png") no-repeat center center / cover;
    height: 500px;
    position: relative;
}

.m_ai_hebl2 {
    display: none;
}

.m_ai_heblo {
    position: absolute;
    width: 520px;
    height: 403px;
    background-color: white;
    right: 0;
    border: 1px solid #d7d7d7;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.m_ai_heblo::before {
    content: "";
    position: absolute;
    width: 45px;
    height: 45px;
    background-color: #aeaeae;
    bottom: -46px;
    left: -46px;
}

.m_ai_heblo2 {
    display: none;
}

.m_ai_heblo div,
.m_ai_heblo2 div {
    font-size: 27px;
    font-weight: 300 !important;
}

.m_ai_h {
    font-weight: 200 !important;
}



.m_page-section {
    padding-top: 67px;
}

.m_navigation {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 999;
    border: 1px solid #e3e3e3;
    background-color: #fff;
    display: flex;
    justify-content: center;
    gap: 5%;
}

.m_navigation__link {
    color: black;
    text-decoration: none;
    padding: 22px 8px 19px;
    font-weight: 400;
}

.m_navigation__link.active {
    border-bottom: 3px solid #00aeef;
}



.m_navigation.active {
    border-bottom: 3px solid #00aeef;
}

.m_ai_ha {
    background-color: #8f5da2;
    padding: 10px 150px;
}

.m_ai_ha h1 a {
    font-size: 20px;
    text-decoration: none;
    color: white;
    border-bottom: 1px dashed;
}

.m_ai_ha h1 a:hover {
    border-bottom: 1px solid white;
}

.m_ai_ha p {
    color: white;
}

.m_hf {
    display: flex;
}

.m_he {
    margin-left: 20px;
}

.m_hd {
    width: 700px;
}

.m_hd img {
    width: 100%;
}

.m_ai_link {
    color: #0068b5;
    border-bottom: 1px dashed;
    width: fit-content !important;
}

.m_ai_link:hover {
    border-bottom: 1px solid #0068b5 !important;
}
.m_ai_link2 {
    color: #0068b5;
    border-bottom: 2px solid #0068b5 !important;
}

.m_ai_whiteUnderline:hover {
    border-bottom: 1px solid white !important;
}

.m_ai_hh img {
    width: 100%;
}

.m_separator1,
.m_separator2 {
    display: flex;
    align-items: center;
    padding: 15px 0;
    display: none;
}

.m_separator1 h2,
.m_separator2 h2 {
    color: #0068b5;
    font-size: 16px;
    margin: 0 10px;
}

.m_separator1 h2 svg,
.m_separator2 h2 svg {
    margin-right: 3px;
}

.m_separator1 .m_line,
.m_separator2 .m_line {
    height: 1px;
    flex: 1;
    background-color: #0068b5;
}

.inner-box h2 {
    font-size: 20px;
    margin-bottom: 0;
}

.m_underline:hover {
    color: #004a86;
    text-decoration: underline !important;
    cursor: pointer !important;
}

.m_m {
    background-color: white;
}

.m_btnHov:hover {
    background-color: #004a86 !important;
}

.m_wBtn:hover {
    color: #004a86;
    background-color: #e9e9e9 !important;
}

.m_ai_o {
    padding: 50px 15%;
}

.m_ai_p {
    width: fit-content;
}

/* solutions : Business Solutions : AI : Advanced Analytics Solutions */
.m_ai_ahero {
    background: url("/img/Monika_img/ai_aas_hero.jpg") no-repeat center center / cover;
    height: 400px;
    position: relative;
}

.m_ai_aheblo {
    position: absolute;
    width: 50%;
    background-color: #0068b5;
    right: 50px;
    top: 50px;
    padding: 16px 16px 40px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.m_ai_aheblo::before {
    content: "";
    position: absolute;
    width: 45px;
    height: 45px;
    background-color: #00a3f6;
    bottom: -46px;
    left: -46px;
}

.m_ai_aheblo2 {
    display: none;
    background-color: #0068b5;
}

.m_ai_aheblo div,
.m_ai_aheblo2 div {
    font-size: 27px;
    font-weight: 300 !important;
}

.m_ai_q {
    background-color: #0068b5;
    padding: 20px 0;
}

.m_ai_q img {
    margin-right: 30px;
    width: 13vw;
}

.m_ai_q>div {
    display: flex;
    align-items: center;
}

.m_ai_r {
    border-bottom: 1px dashed;
    font-size: 20px;
}

.m_ai_r:hover {
    border-bottom: 1px solid white !important;
}

.m_ai_s {
    font-size: 25px;
}

.m_ai_u {
    position: relative;
    min-height: 400px;
    /* overflow: hidden; */
}

.m_ai_t {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    z-index: 0;
    transition: all 0.5s;
}

.m_ai_imgOverlay {
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20%;
    text-align: center;
    z-index: 1;
    position: relative;
}

.m_ai_u:hover .m_ai_t {
    transform: scale(1.1);

}

.m_ai_u:hover .m_ai_imgOverlay {
    background-color: rgba(0, 0, 0, 0.6);
}

.m_ai_t1 {
    background: url("/img/Monika_img/ai_aas2.jpg")no-repeat center center/cover;
}

.m_ai_t2 {
    background: url("/img/Monika_img/ai_aas3.jpg")no-repeat center center/cover;
}

.m_ai_t3 {
    background: url("/img/Monika_img/ai_aas4.avif")no-repeat center center/cover;
}

.m_hd1 {
    width: 350px;
}

.m_hd1 img {
    width: 100%;
}

/* solutions : Business Solutions : AI : Deploy on Intel Architecture */
.m_ai_dhero {
    background: #004a86;
    height: 500px;
    position: relative;
}

.m_ai_dheblo {
    position: absolute;
    width: 50%;
    background-color: #0068b5;
    left: 50px;
    top: 50px;
    padding: 16px 16px 40px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.m_ai_dheblo::before {
    content: "";
    position: absolute;
    width: 45px;
    height: 45px;
    background-color: #00a3f6;
    bottom: -46px;
    right: -46px;
}

.m_ai_dheblo2 {
    display: none;
    background-color: #0068b5;
}

.m_ai_dheblo div,
.m_ai_dheblo2 div {
    font-size: 27px;
    font-weight: 300 !important;
}

.m_diaHero {
    height: inherit;
    width: 40%;
    float: right;
}

.m_diaHero img {
    width: 90%;
    float: right;
    margin: 50px 20px 0;
}

.m_ai_w {
    height: 180px;
}

/* solutions : Business Solutions : AI : Hardware : AI Hardware Solutions */
.m_ai_hhero {
    background: url("/img/Monika_img/ai_h1.jpg") no-repeat center center / cover;
    height: 335px;
    position: relative;
}

.m_ai_hpi1 {
    background: url("/img/Monika_img/ai_h6.jpg")no-repeat center center/cover;
}

.m_ai_hpi2 {
    background: url("/img/Monika_img/ai_h7.jpg")no-repeat center center/cover;
}

.m_ai_hpi3 {
    background: url("/img/Monika_img/ai_h8.jpg")no-repeat center center/cover;
}

/* solutions : Business Solutions : AI : Hardware : AI Hardware Solutions : Processors */
.m_ai_hphero {
    background: url("/img/Monika_img/ai_hp1.jpg") no-repeat center center / cover;
    height: 335px;
    position: relative;
}

.m_ai_aa {
    font-size: 22px;
    margin-bottom: 0;
}

.m_ai_ab {
    font-size: 120px;
    color: #005b85;
}

.m_ai_proofpoint1 {
    display: block;
}

.m_ai_proofpoint2 .owl-dot {
    height: 13px !important;
    width: 13px !important;
    background: #aeaeae !important;
    margin-right: 15px !important;
}

.m_ai_proofpoint2 .owl-dot.active {
    background: black !important;
}

.m_ai_proofpoint2 .owl-dots {
    text-align: center !important;
}

.m_ai_proofpoint2 {
    display: none;
}

.m_ai_w2 {
    height: 180px;
}

.m_ai_ad {
    font-size: 16px;
    margin-bottom: 10px;
    color: #525252;
}

.m_ai_ae {
    font-size: 12px;
    margin-bottom: 5px;
    color: #525252;
}

/* solutions : Business Solutions : AI : Software */
.m_ai_shero {
    background: url("/img/Monika_img/ai_s1.jpg") no-repeat center center / cover;
    height: 335px;
    position: relative;
}

.m_ai_o2 {
    padding: 60px 15% 60px 0;
}

.m_softAccord .accordion-button:not(.collapsed) {
    color: black !important;
    background-color: white !important;
    box-shadow: none !important;
}

.m_softAccord .accordion-button:focus {
    border-color: white;
    box-shadow: none !important;
}

.m_softAccord .accordion-button,
.m_softAccord .accordion-body {
    padding: 1rem 0 1rem 7px !important;
    color: #262626 !important;
}

.m_softAccord .accordion-item {
    border-top: 1px solid #e2e2e2 !important;
    border-bottom: 1px solid #e2e2e2 !important;
    margin: 35px 0;
}

/* solutions : Business Solutions : AI : Use Cases */
.m_ai_uchero {
    background: url("/img/Monika_img/ai_u1.jpg") no-repeat center center / cover;
    height: 360px;
    position: relative;
}

/* solutions : Business Solutions : AI Technology : Deploy AI Technology Confidently with Intel */
.m_ai_thero {
    background: url("/img/Monika_img/ai_t1.jpg") no-repeat center center / cover;
    height: 360px;
    position: relative;
}

.m_tabs {
    margin: 20px;
    padding: 0;
    list-style: none;
    position: relative;
    border-bottom: 1px solid #ccc;
}

.m_tabs .m_active-tab {
    border-bottom: 5px solid #00aeef;
    position: relative;
}

.m_tabs .m_active-tab:after {
    width: 100%;
    height: 2px;
    position: absolute;
    content: "";
    bottom: -0.1em;
    left: 0;
    background: white;
}

.m_tabs li {
    display: inline-block;
    cursor: pointer;
    color: #0068b5;
    padding: 5px 15px;
}

.m_tabs li:hover {
    background-color: #f2f2f2;
}

.m_tabs li:first-child {
    margin-left: 10px;
}

.m_tabs-content {
    margin: 20px;
    padding: 0;
    list-style: none;
}

.m_tabs-content li {
    display: none;
}

.m_ai_tt1 {
    background: url("/img/Monika_img/ai_t6.jpg")no-repeat center center/cover;
}

.m_ai_tt2 {
    background: url("/img/Monika_img/ai_t7.jpg")no-repeat center center/cover;
}

.m_ai_tt3 {
    background: url("/img/Monika_img/ai_t8.jpg")no-repeat center center/cover;
}

.m_ai_tt4 {
    background: url("/img/Monika_img/ai_t9.jpg")no-repeat center center/cover;
}

/* solutions : Business Solutions : AI Technology : Classical Machine Learning */
.m_ai_af {
    padding: 20px 0;
    background: #41728a;
}

.m_ai_af .m_container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.m_ag {
    font-size: 28px;
}

.m_ah {
    font-size: 20px;
}

.m_ai_af img {
    width: 30%;
}
.m_sideNav {
    flex-direction: column !important;
    border: none !important;
}

.m_sideNav__link {
    color: #0068b5 !important;
    padding: 6px 12px !important;
    border-left: 4px solid transparent !important;
}

.m_sideNav__link.active {
    border-bottom: none !important;
    border-left: 4px solid #005a9d !important;
    color: #005a9d !important;
    font-weight: bolder;
}
.m_sideNav_section{
    padding-top: 0 !important;
}
.m_prMail{
    display: flex;
}
.m_prMailRes{
    display: none;
}

@media screen and (min-width:1200px) {
    .m_marg {
        margin-right: 200px;
    }
}

@media screen and (min-width:2000px) {
    .m_ai_dhero {
        height: 620px;
    }
}

@media screen and (max-width:1440px) {
    .m_ai_dhero {
        height: 400px;
    }

    .m_ai_w {
        height: 200px;
    }

    .m_ai_w2 {
        height: 333px;
    }
}

@media screen and (max-width:1200px) {
    .m_ai_hero {
        height: 450px;
    }

    .m_ai_heblo {
        width: 350px;
        height: 350px;
    }

    .m_ai_heblo div {
        font-size: 22px;
    }

    .m_ai_heblo p {
        font-size: 15px;
    }

    .m_ai_aheblo div {
        font-size: 22px;
    }

    .m_ai_aheblo p {
        font-size: 15px;
    }

    .m_ai_dheblo div {
        font-size: 22px;
    }

    .m_ai_dheblo p {
        font-size: 15px;
    }

    .m_hd {
        width: 1000px;
    }

    .m_k>div {
        height: 90%;
    }

    .m_hd1 {
        width: 99%;
    }

    .m_ai_ab {
        font-size: 100px;
    }
}

@media screen and (max-width:1024px) {
    .m_ai_ha {
        padding: 10px 90px;
    }

    .m_container {
        padding: 0 70px;
    }

    .m_mainHeading {
        font-size: 34px;
    }

    .m_subHeading {
        font-size: 23px;
    }

    .m_ai_q img {
        width: 17vw;
    }

    .m_ai_imgOverlay {
        min-height: 250px;
    }

    .m_ai_imgOverlay {
        padding: 15px 10%;
    }

    .m_ai_w {
        height: 285px;
    }

    .m_ai_w2 {
        height: 340px;
    }

    .m_ag {
        font-size: 26px;
    }

    .m_ah {
        font-size: 18px;
    }

    .m_ai_af img {
        width: 33%;
    }
}

@media screen and (max-width:990px) {
    .m_hf {
        flex-direction: column;
    }

    .m_hd {
        width: 100%;
    }

    .m_he {
        margin-left: 0px;
        margin-top: 20px;
    }

    .m_ai_ab {
        font-size: 90px;
    }

    .m_ai_aa {
        font-size: 20px;
    }
}

@media screen and (max-width:768px) {
    .m_ai_ha {
        padding: 10px 40px;
    }

    .m_container {
        padding: 0 40px;
    }

    .m_mainHeading {
        font-size: 30px;
    }

    .m_subHeading {
        font-size: 23px;
    }

    .m_ai_q img {
        width: 20vw;
    }

    .m_ai_s {
        font-size: 23px;
    }

    .m_ai_w {
        height: 305px;
    }

    .m_ai_w2 {
        height: 320px;
    }

    .m_tabs li {
        padding: 5px 5px;
        font-size: 15px;
    }
    .m_para2 {
        font-size: 18px;
    }
    .m_midlHeading {
        font-size: 23px;
    }
}

@media screen and (max-width:767px) {
    .m_ai_proofpoint1 {
        display: none;
    }

    .m_ai_proofpoint2 {
        display: block;
    }

    .m_ai_hero,
    .m_ai_ahero,
    .m_ai_hhero,
    .m_ai_hphero,
    .m_ai_uchero,
    .m_ai_shero,
    .m_ai_thero {
        height: 320px;
    }

    .m_ai_dhero {
        height: fit-content;
    }

    .m_ai_heblo {
        width: 100%;
        height: fit-content;
        top: 320px;
        border: none;
        display: none;
    }

    .m_ai_aheblo {
        width: 100%;
        height: fit-content;
        top: 320px;
        border: none;
        display: none;
    }

    .m_ai_dheblo {
        width: 100%;
        height: fit-content;
        top: 320px;
        border: none;
        display: none;
    }

    .m_diaHero {
        width: 100%;
    }

    .m_diaHero img {
        width: 100%;
        margin: 0;
    }

    .m_navigation {
        gap: 0;
        font-size: 12px;
    }

    .m_navigation__link {
        padding: 22px 4px 19px;
    }

    .m_ai_hebl2 {
        display: block;
    }

    .m_separator1 {
        display: flex;
    }

    .m_hidden {
        display: none;
    }

    .m_ai_o,
    .m_ai_o2 {
        padding: 30px 0;
    }

    .m_ai_p {
        width: 100%;
    }

    .m_ai_heblo2 {
        display: block;
    }

    .m_ai_aheblo2 {
        display: block;
    }

    .m_ai_dheblo2 {
        display: block;
    }

    .m_dNone {
        display: none;
    }

    .m_ai_w {
        height: 170px;
    }

    .m_ai_w2 {
        height: 210px;
    }

    .m_ai_af .m_container {
        flex-direction: column-reverse;
    }

    .m_ai_af img {
        width: 100%;
    }
    .m_prMail{
        display: none !important;
    }
    .m_prMailRes{
        display: flex;
    }
    .m_sideNav_section {
        padding-top: 20px !important;
    }
}

@media screen and (max-width:575px) {
    .m_hd1 {
        margin: auto;
    }
}

@media screen and (max-width:425px) {
    .m_ai_heblo2 div {
        font-size: 25px;
    }

    .m_ai_aheblo2 div {
        font-size: 25px;
    }

    .m_ai_dheblo2 div {
        font-size: 25px;
    }

    .m_ai_hero {
        background-position: center left;
    }

    .m_navigation {
        flex-wrap: wrap;
    }

    .m_navigation__link {
        padding: 7px 15px 7px;
    }

    .m_ai_ha {
        padding: 10px 20px;
    }

    .m_container {
        padding: 0 20px;
    }

    .m_para {
        font-size: 15px;
    }

    .m_mainHeading {
        font-size: 26px;
    }

    .m_ai_o,
    .m_ai_o2 {
        padding: 30px 0;
    }

    .m_ai_q img {
        width: 27vw;
    }

    .m_ai_r {
        font-size: 17px;
    }

    .m_ai_s {
        font-size: 21px;
    }

    .m_tabs {
        overflow-x: scroll;
        text-wrap: nowrap;
    }

    .m_ag {
        font-size: 23px;
    }

    .m_ah {
        font-size: 17px;
    }
}

@media screen and (max-width:320px) {
    .m_ai_w {
        height: 245px;
    }

    .m_ai_w2 {
        height: 245px;
    }
}