*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none !important;
}
.container{
    max-width: 1610px !important;
}
/* header */
nav{
    position: relative !important;
}

/************** Bgimg **************/
.intel_geti_bg_img {
    display: flex;
    background-size: cover;
    background-position: center;
    border-right: 0;
    border-left: 0;
    border-top: 0;
}
.intel_geti_bg_img{
    background-color: #004A86;
    width: 100% !important;
    object-fit: cover;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 2.5rem 0rem;
}
.mv_qat_video{
    width: 41.67% !important;
}
.mv_qat_video video{
    padding-right: 1.5rem;
}
.intel_geti_bg_img img{
    display: none;
}
.mv_bannertxb{
    background: #0068B5;
    padding: 1rem 1rem 2.5rem;
    margin-bottom: 2.5rem;
}
.mv_cta_item{
    display: flex;
    align-items: flex-start;
}
.mv_read_ai_acc a{
    color: #0068b5;
    background-color: #fff;
    padding: .5rem 1.5rem;
    display: inline-block;
    text-align: center;
}
.mv_read_ai_acc a:hover{
    color: #0068b5;
    background-color: #E9E9E9;
}
.mv_read_ai_acc a i{
    padding-left: .3rem;
}
.mv_bannertxb h2{
    margin-bottom: 20px !important;
    font-weight: 300;
    color: #fff;
}
.mv_banner_text{
    color: #fff;
    line-height: 1.3;
}
.mv_mobile_img{
    display: none;
}
.mv_mobile_bannertxb{
    display: none;
}
.mv_layout_right{
    padding: 0 8.75rem 0 4rem;
}
@media(max-width:1440px){
    .mv_layout_right{
        padding: 0 3rem 0 3rem !important;
    }
}
@media only screen and (max-width: 991px) {
    .mv_banner_text{
        font-size: 1.15rem;
        line-height: 1.4;
    }
}
@media(max-width:767px){
    .mv_bannertxb{
        width: 90% !important;
        padding: 1.5rem !important;
    }
    .mv_banner_text{
        font-size: 1.10rem;
        line-height: 1.4;
    }
    .mv_read_ai_acc a{
        width: 100%;
    }
}
@media(max-width:767px){
    .intel_geti_bg_img{
        display: none;
    }
    .mv_mobile_img video{
        width: 100%;
        max-width: 100%;
        height: 0 auto;
    }
    .mv_mobile_img{
        display: block;
        background-color: #0068B5;
    }
    .mv_mobile_bannertxb{
        display: block;
    }
    .mv_bannertxb{
        display: none;
    }
    .mv_mobile_bannertxb{
        padding: 20px 15px;
        background-color: #2B66AF;
    }
    .mv_mobile_bannertxb h2{
        margin-bottom: 15px;
        letter-spacing: 0;
        font-weight: 350;
        font-size: 1.60rem;
        line-height: 1.2;
        color: #fff;
    }
}
@media(max-width:375px){
    .mv_mobile_heading{
        letter-spacing: 7px;
    }
}
@media (min-width:768px){
    .mv_layout_right{
        width: 58.33% !important;
    }
}
/*********************************/

/*********** Nav ************/
.VK_ai_navigation {
    background-color: white;
    border-bottom: 1px solid #d7d7d7;
}
.VK_ai_nav_bar a {
    color: #262626;
    padding: 22px 8px 19px;
    word-break: normal;
    font-weight: 400;
    white-space: nowrap;
    margin-left: 80px;
}
.VK_ai_nav_bar a:hover{
    color: #262626;
}
.VK_ai_navigation.VK_sticky_nav_bar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.VK_active_link {
    position: relative;
    color: #00aeef;
}
.VK_active_link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    background: #00aeef;
}
.VK_ai_nav_bar li a {
    transition: color 0.3s, border-bottom 0.3s;
}
.VK_ai_nav_bar a.active {
    color: #0068b5 !important;
    position: relative;
}
.VK_ai_nav_bar a.active::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    background: #00aeef;
}
/***************************/
/******** Maximize Impact ********/
.mv_maximize_bg_color{
    padding: 2rem 0rem;
}
.mv_maximize{
    text-align: center;
}
.mv_maximize h2{
    font-weight: 350;
    margin-bottom: 1rem;
}
.mv_maximize_comntent{
    text-align: center;
}
.mv_headline_font{
    font-size: 7.5rem;
    font-weight: 400;
    display: flex;
    justify-content: center;
    margin-bottom: 0rem;
    color: #005b85;
}
.mv_maximize_bottom{
    font-size: 2.8125rem;
    align-self: center;
    padding: .9375rem 0;
}
/*********************************/

/***** Maximize Impact slider *****/
.mv_maximize_inpect_slider{
    display: none;
}
.owl-dots {
    text-align: center;
    margin-top: 0px !important;
}
.mv_main_spark .owl-dots .owl-dot span {
    width: 12px !important;
    height: 12px !important;
    border-radius: 0px !important;
    margin: 0 5px;
    display: inline-block;
}
.mv_main_spark .owl-dots .owl-dot.active span{
    background-color: #262626 !important;
}
/*********************************/

/* See How Intel Atom® */
.dk_see_how_intel_atom{
    background-color: #41728A;
}
.dk_see_how_intel_atom_sub{
    padding: 80px 0;
    width: 50%;
    margin: 0 auto;
}
.dk_see_how_intel_atom_sub h1{
    margin-bottom: .5rem;
    line-height: 1.2;
    letter-spacing: -0.0138rem;
    font-weight: 300;
    font-style: normal;
    margin: 0 0 .5rem;
    color: #fff;
    text-align: center;
}
.dk_see_how_intel_atom_sub p{
    text-align: center;
    line-height: 1.25;
    color: #fff;
}
/* Cloud Advantage */
.dk_cloud_advantage h3{
    margin-bottom: .5rem;
    line-height: 1.25;
    font-weight: 350;
    font-style: normal;
}
/* Featured Products */
.dk_featured_products{
    background: #FFF;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    color: #262626;
}
.dk_featured_products h2{
    margin: 0 0 1rem 0;
    font-weight: 350;
    font-style: normal;
    line-height: 1.25;
}
.dk_featured_products h4{
    font-size: 1rem;
    line-height: 1.42857143;
    margin-top: -0.5rem;
    margin-bottom: 1rem;
    font-weight: 400;
    font-style: normal;
}
.dk_featured_card{
    padding: 16px;
}
.dk_featured_card img{
    margin-bottom: 1rem;
}
.dk_featured_products h3{
    color: #0068b5;
    font-size: 24px;
    font-weight: 300;
    font-style: normal;
}
/* Developer Resources */
.dk_developer_resources{
    background-color: #f7f7f7;
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #262626;
}
.dk_developer_resources h2{
    margin: 0 0 1rem 0;
    font-weight: 350;
    font-style: normal;
    line-height: 1.25;
}
.dk_developer_card h3{
    color: #0068b5;
    font-size: 1.25rem;
}
.dk_developer_card {
    margin-bottom: 2rem;
}
/* Notices and Disclaimers */
.dk_notices_and_disclaimers{
    background: #FFF;
    padding-bottom: 2rem;
    padding-top: 1rem;
    color: #262626;
}
/* Product and Performance */
.dk_product_and_performance{
    border-top: 1px solid #d7d7d7;
    color: #525252;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.dk_product_and_performance h4{
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    line-height: 1.25;
}
.dk_product_and_performance p{
    font-weight: 400;
    white-space: normal;
    line-height: 1.25;
    font-size: .75rem;
    color: #525252;
}


/***************************/
.dk_lmore{
    color: #0068b5;
    background: #fff;
    position: relative;
    min-width: none;
    border-radius: 0;
    padding: .625rem 1.5rem;
    font-size: 1rem;
    line-height: 1.25;
    border-width: 0;
    white-space: normal;
}
.dk_lmore:hover{
    color: #004a86;
    background: #e9e9e9;
}
.dk_download{
    color: #fff;
    background-color: #0068b5;
    position: relative;
    border-radius: 0;
    padding: .625rem 1.5rem;
    font-size: 1rem;
    line-height: 1.25;
    border-width: 0;
    white-space: normal;
    display: inline-block;
    cursor: pointer;
    margin-bottom: .5rem;
}
.dk_download:hover{
    color: #fff;
    background-color: #005a9d;
}
.b_special_a{
    color: white;
    text-decoration: none !important;
    border-bottom: 1px dashed white ;
}
.b_special_a:hover {
    color: white !important;
    text-decoration: none !important;
    border-bottom: 1px solid white ;
}
.b_special_a2 {
    color: #0068b5;
    text-decoration: none;
    border:none;
}
.b_special_a2:hover {
    border-bottom: 1px solid #004a86; 
    color: #004a86;
}
.b_special_a1 {
    color:  #0068b5 ;
    text-decoration: none !important;
    border-bottom: 1px dashed #0068b5 ;
}
.b_special_a1:hover {
    color:#005a9d;
    text-decoration: none !important;
    border-bottom: 1px solid #005a9d; 
}
.mv_special_3{
    color: #0068b5;
    border-bottom: 1px solid #0068b5 ;
}
.b_som_nav {
    background-color: white;
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 5;
}

@media(max-width:1440px){
    .container{
        max-width: 1170px !important;
    }
}
@media(max-width:1199px){
    .container{
        max-width: 970px !important;
    }
    /* Maximize Impact */
    .mv_headline_font{
        font-size: 5.5rem;
    }
    .mv_maximize_bottom{
        font-size: 2.1375rem;
    }
}
@media(max-width:991px){
    .container{
        max-width: 750px !important;
    }
    /* Featured Products */
    .dk_featured_card .dk_download{
        width: 100%;
    }
}
@media(max-width:768px){
    .container{
        max-width: 750px !important;
    }
    /* See How Intel Atom® */
    .dk_see_how_intel_atom_sub{
        width: 100%;
    }
}
@media(max-width:767px){
    /* Maximize Impact slider */
    .mv_maximize_inpect_slider{
        display: block;
    }
    /* Maximize Impact */
    .mv_maximize_inpect_without_slider{
        display: none !important;
    }
}
@media(max-width:425px){
    .container{
        max-width: 390px !important;
    }
}