*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none !important;
}
.container{
    max-width: 1610px !important;
}
@media(max-width:1440px){
    .container{
        max-width: 1170px !important;
    }
}
@media(max-width:1199px){
    .container{
        max-width: 970px !important;
    }
}
@media(max-width:991px){
    .container{
        max-width: 750px !important;
    }
}
@media(max-width:768px){
    .container{
        max-width: 750px !important;
    }
}
@media(max-width:425px){
    .container{
        max-width: 390px !important;
    }
}

/******** Intel Xeon ********/
.mv_intel_gaudi_3_bg_color{
    padding: 40px 0px;
    background-color: #00285A;
}
.mv_intel_gaudi_3_content h1{
    color: #fff;
    font-weight: 300;
    margin-bottom: 16px;
}
.mv_intel_gaudi_3_content p{
    color: #fff;
    line-height: 1.25;
}
.mv_intel_gaudi_3_content p a{
    color: #fff;
    border-bottom: 1px dashed #fff;
}
.mv_intel_gaudi_3_content p a:hover{
    border-bottom: 1px solid #fff;
}
.mv_mv_intel_gaudi_3_image img{
    width: 100%;
}
/* *************************** */

/**** Intel Xeon responsive ***/
.mv_intel_gaudi_responsive{
    display: none;
}
/* *************************** */

/****** single accordion ******/
.mv_single_accordion_padd{
    margin: 40px 0px;
}
.mv_single_accordion_content{
    padding-left: 15px;
    padding-right: 15px;
}
.mv_single_accordion_item{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 0;
}
.mv_single_accordion_item img{
    margin-right: 28px;
}
.mv_single_accordion_item span{
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    line-height: 26px;
    color: #0071c5;
}
.mv_single_accordion_text p{
    color: #262626;
}
.mv_single_accordion .mv_single_accordio_item .mv_single_accordio_button{
    background-color: #F3F3F3 !important;
}
.mv_single_accordio_button:focus {
    box-shadow: none !important;
}
.mv_mv_single_accordion_body_text{
    margin-top: 27px;
}
.mv_mv_single_accordion_body_text p{
    color: #0068b5;
}
.mv_single_accordio_body{
    border-top: 4px solid #00aeef;
}
.mv_single_accordio_button:not(.collapsed)::after {
    background-image: url(/img/mv_image/arrow_black.svg) !important;
    transform: rotate(-180deg);
}
.mv_single_accordio_item {
    background-color: #fff;
    border: 1px solid #fff !important;
}
.mv_single_accordio_button{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
/* *************************** */

/*********** Quality ***********/
.mv_quality_padd{
    padding: 2.5rem 0rem;
}
.mv_quality_heading h1{
    font-weight: 300;
    margin-bottom: 1rem;
}
.mv_quality_item{
    padding: 16px;
}
.mv_quality h4{
    font-weight: 300;
}
.mv_quality h4 a{
    color: #0068b5;
}
.mv_quality h4 a:hover{
    color: #004a86;
    border-bottom: 1px solid #004a86;
}
.mv_quality p{
    line-height: 1.2;
}
/* *************************** */

/********* Configure *********/
.mv_configure_padd{
    padding: 2.5rem 0rem;
}
.mv_configure{
    padding-left: 15px;
    width: 58.333333333333336%;
}
.mv_configure_item{
    padding: 16px;
}
.mv_configure h4{
    font-weight: 350;
}
.mv_configure p a{
    color: #0068b5;
    border-bottom: 1px dashed #0068b5;
}
.mv_configure p a:hover{
    color: #004a86;
    border-bottom: 1px solid #004a86;
}
.mv_configure p{
    line-height: 1.2;
}
/* *************************** */

/***** Intel Datacenter *****/
.mv_built_bg_color{
    padding: 3rem 0rem;
    background-color: #F7F7F7;
}
.mv_built_item{
    align-content: center;
}
.mv_built_image img{
    width: 100%;
    margin-bottom: 1rem;
}
.mv_built_text h4{
    font-weight: 300;
}
.mv_built_text h4 a{
    color: #0068b5;
}
.mv_built_text h4 a:hover{
    color: #004a86;
    border-bottom: 1px solid #004a86;
}
.mv_built_text p a{
    color: #0068b5;
    border-bottom: 1px dashed #0068b5;
}
.mv_built_text p a:hover{
    color: #004a86;
    border-bottom: 1px solid #004a86;
}
/* *************************** */

/****** Key Resources ******/
.mv_related_materials_bg_color{
    padding: 2.5rem 0 1rem;
}
.mv_key_resources_heading h2{
    font-weight: 300;
    margin-bottom: 1rem;
}
.mv_related_card{
    background-color: #F3F3F3;
    display: flex;
    padding: .75rem 1.5rem;
    min-height: 4.5rem;
    margin-bottom: .75rem;
}
.mv_intel_tiber{
    margin-bottom: 1.5rem;
}
.mv_explore_resources_content h3{
    font-weight: 300;
}
.mv_intel_tiber_img{
    align-content: center;
}
.mv_intel_tiber_img img{
    height: 40px;
    width: 40px;
    margin-right: 1.5rem;
}
.mv_related_card a{
    color: #0068b5;
}
.mv_related_card a:hover{
    color: #005a9d;
}
/* *************************** */




@media(max-width:1199px){
    /* Configure */
    .mv_configure{
        padding-left: 0px;
        width: 100%;
    }
}

@media(max-width:991px){
    /* Intel Xeon */
    .mv_intel_gaudi_3{
        display: none;
    }
    /* Intel Xeon responsive */
    .mv_intel_gaudi_responsive{
        display: block !important;
    }
    .mv_mv_intel_gaudi_3_image img{
        margin-bottom: 1rem;
    }
}

@media(max-width:768px){
    /* single accordion */
    .mv_single_accordion{
        overflow-x: scroll !important;
    }
}

@media(max-width:575px){
    /* single accordion */
    /* .mv_single_accordio_button{
        display: block !important;
    } */
    /* .mv_single_accordion_item {
        margin-bottom: .5rem;
    } */
}