*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none !important;
}
.container{
    max-width: 1610px !important;
}
@media(max-width:1440px){
    .container{
        max-width: 1170px !important;
    }
}
@media(max-width:1199px){
    .container{
        max-width: 970px !important;
    }
}
@media(max-width:991px){
    .container{
        max-width: 750px !important;
    }
}
@media(max-width:768px){
    .container{
        max-width: 750px !important;
    }
}
@media(max-width:425px){
    .container{
        max-width: 390px !important;
    }
}

/* header */
nav{
    position: relative !important;
}

/******** Intel AMX ? *******/
.mv_intel_amx_bg_color{
    background-color: #0068B5;
}
.mv_intel_amx_content{
    padding-right: 200px;
}
.mv_intel_amx_item{
    align-content: center;
}
.mv_intel_amx{
    color: #fff;
    padding: 1rem;
}
.mv_intel_amx h3{
    font-weight: 300;
    margin-bottom: 0rem;
}
.mv_intel_amx_image{
    padding: 1rem;
}
.mv_intel_amx_image img{
    width: 100%;
}
/* ************************** */

/* ************ Nav ************/
.VK_ai_navigation {
    background-color: white;
    /* border-bottom: 1px solid #d7d7d7; */
}
.VK_ai_nav_bar a {
    color: #005a9d !important;
    padding: 6px 12px;
    word-break: normal;
    font-weight: 400;
    /* white-space: nowrap; */
    font-size: 1rem;
}
.VK_ai_nav_bar a:hover{
    color: #005a9d;
    font-weight: 700;
    border-left: 4px solid #005a9d;
}
.VK_ai_navigation.VK_sticky_nav_bar {
    position: sticky;
    top: 0;
    /* width: 100%; */
    z-index: 1000;
    background-color: #fff;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
}
.VK_active_link {
    position: relative;
    color: #00aeef;
}
.VK_active_link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    background: #00aeef;
}
.VK_ai_nav_bar li a {
    transition: color 0.3s, border-bottom 0.3s;
}
.VK_ai_nav_bar a.active {
    color: #0068b5 !important;
    position: relative;
    font-weight: 700 !important;
    border-left: 4px solid #005a9d !important;
}
.VK_ai_nav_bar a.active::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    /* background: #00aeef; */
}
/* *************************** */

/* **********Ramya******** */
.mv_name_heading{
    margin-bottom: .5rem;
}
.mv_name_heading h6{
    font-weight: 600;
    margin-bottom: 0rem;
}
.mv_name_heading p{
    margin-bottom: 0rem;
}
.mv_name_heading a:hover{
    border-bottom: 1px solid #0068b5;
}
/* *************************** */

.b_special_a{
    color: white;
    text-decoration: none !important;
    border-bottom: 1px dashed white ;
}
.b_special_a:hover {
    color: white !important;
    text-decoration: none !important;
    border-bottom: 1px solid white ;
}
.b_special_a2 {
    color: #0068b5;
    text-decoration: none;
    border:none;
}
.b_special_a2:hover {
    border-bottom: 1px solid #0068b5 ;
}
.b_special_a1 {
    color:  #0068b5 ;
    text-decoration: none !important;
    border-bottom: 1px dashed #0068b5 ;
}
.b_special_a1:hover {
    text-decoration: none !important;
    border-bottom: 1px solid #0068b5 ;
}
.mv_special_3{
    color: #0068b5;
    border-bottom: 1px solid #0068b5 ;
}
.b_som_nav {
    background-color: white;
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 5;
}

/******* code toolbar *******/
.mv_code_simple{
    font-family: "Courier New", "DejaVu Sans Mono", monospace, sans-serif;
    border: 0;
    color: #53565a;
    border-radius: 0;
    box-shadow: none;
    text-shadow: none;
}
.mv_code_toolbar {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0rem;
    margin-top: 48px;
    margin-bottom: 40px;
    background: #f8f8f8 !important;
}
.mv_toolbar_item{
    font-size: 1.375rem;
    float: right;
    cursor: pointer;
    padding: .1px 6px;
    padding-right: 1.5rem !important;
}
.mv_pre{
    padding-top: 1.5625rem !important;
    padding-left: 2rem !important;
    padding: .656rem;
}
.text-break {
    word-break: break-all;
}
.mv_code{
    color: #000 !important;
    font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important;
    direction: ltr;
    text-align: left;
    word-spacing: normal;
    word-wrap: normal;
    line-height: 1.5;
    padding-left: 1rem;
}
.mv_text_color{
    color: #069 !important;
    font-weight: 600 !important;
}
.mv_sign_color{
    color: #b24501;
}
.mv_breckat_color{
    font-weight: 400;
    color: #ff0000 !important;
}
/* ***************************** */

.mv_diagram_img{
    text-align: center;
    margin-bottom: 16px;
}

/******* sentences table *******/
.mv_sentences_table{
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 1.06667em;
    margin-bottom: 1.06667em;
    line-height: 1.1;
    border: 0rem solid #e2e2e2;
    display: block;
}
.mv_sentences_table tr{
    color: #53565a;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: .938rem;
    padding: 1rem;
}
.mv_sentences_table tr td{
    padding: 1rem;
    border-left: .125rem solid #e2e2e2;
}
/* ***************************** */




@media(max-width:1440px){
    .mv_diagram_img img{
        width: 100%;
    }
}
@media(max-width:1199px){
    /* Intel AMX ? */
    .mv_intel_amx_content{
        padding-right: 0px;
    }
}

@media(max-width:767px){
    /* Intel AMX ? */
    .mv_intel_amx_content{
        flex-wrap: wrap-reverse !important;
    }
    /* sentences table */
    .mv_sentences_table{
        overflow-x: scroll;
    }
    /* .VK_ai_navigation.VK_sticky_nav_bar {
        position: fixed;
        width: 100%;
    } */
}