*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none !important;
}
.container{
    max-width: 1610px !important;
}
@media(max-width:1440px){
    .container{
        max-width: 1170px !important;
    }
}
@media(max-width:1199px){
    .container{
        max-width: 970px !important;
    }
}
@media(max-width:991px){
    .container{
        max-width: 750px !important;
    }
}
@media(max-width:768px){
    .container{
        max-width: 750px !important;
    }
}
@media(max-width:425px){
    .container{
        max-width: 390px !important;
    }
}

/* header */
nav{
    position: relative !important;
}

/********* newsroom *********/
.mv_newsroom_bg_color{
    padding: 3rem 0rem;
    background-color: #41728A;
}
.mv_newsroom_img img{
    width: 100%;
}
.mv_newsroom_content{
    align-content: center;
}
.mv_newsroom_item{
    color: #fff;
    margin-bottom: 0rem;
}
.mv_newsroom_item a{
    color: #fff;
}
.mv_newsroom_item a:hover{
    color: #fff;
}
/* ************************** */

/******** Intel AMX ? *******/
.mv_intel_amx_bg_color{
    background-color: #005B85;
}
.mv_intel_amx_content{
    padding-right: 200px;
}
.mv_intel_amx_item{
    align-content: center;
}
.mv_intel_amx{
    color: #fff;
    padding: 1rem;
}
.mv_intel_amx h2{
    font-weight: 300;
}
.mv_intel_amx p{
    margin-top: 1.5rem;
    margin-bottom: 0rem;
}
.mv_intel_amx_image{
    padding: 1rem;
}
.mv_intel_amx_image img{
    width: 100%;
}
.mv_intel_amx_heading_text{
    font-size: 1.25rem;
    line-height: 1.15;
}
/* ************************** */

/*********** news ***********/
.mv_news_left_item{
    padding: 1rem;
}
.mv_news_left_item p a:hover{
    border-bottom: 1px solid #005a9d;
}
.mv_news_img{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
    block-size: 50px;
}
.mv_news_img img{
    width: 50px;
    height: 28px;
}
/* *************************** */

/********** libraries **********/
.mv_libraries_img img{
    width: 100%;
}
/* *************************** */

/********** caption **********/
.mv_caption{
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: left;
}
.mv_caption p{
    padding: 20px 15px;
    font-size: .875rem;
}
/* *************************** */

/********* Together *********/
.mv_together_content{
    padding: 35px 30px;
}
.mv_together_content p:before{
    background-image: url(/img/mv_image/sprite-icons.png) !important;
    background-position: -6px -2099px !important;
    width: 63px;
    height: 58px;
    left: 0;
    top: 0;
}
.mv_together_content p{
    padding: 0 35px 0 85px;
}
/* *************************** */

.b_special_a{
    color: white;
    text-decoration: none !important;
    border-bottom: 1px dashed white ;
}
.b_special_a:hover {
    color: white !important;
    text-decoration: none !important;
    border-bottom: 1px solid white ;
}
.b_special_a2 {
    color: #0068b5;
    text-decoration: none;
    border:none;
}
.b_special_a2:hover {
    border-bottom: 1px solid #0068b5 ;
}
.b_special_a1 { 
    color:  #0068b5 ;
    text-decoration: none !important;
    border-bottom: 1px dashed #0068b5 ;
}
.b_special_a1:hover {
    text-decoration: none !important;
    border-bottom: 1px solid #0068b5 ;
}
.mv_special_3{
    color: #0068b5;
    border-bottom: 1px solid #0068b5 ;
}
.b_som_nav {
    background-color: white;
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 5;
}

/****** learn button ******/
.mv_learn_button{
    padding-bottom: 1.25rem;
}
.mv_learn_button p{
    margin-bottom: 0rem;
}
.mv_learn_button a{
    color: #fff;
    display: inline-block;
    padding: .5rem 1.5rem;
    background-color: #0068b5;
}
.mv_learn_button a:hover{
    color: #fff;
    background-color: #004A86;
}
/* *************************** */

/******** The Small Print ********/
.mv_articlepara{
    font-size: 75% !important;
}
/* *************************** */

/******** Recent News ********/
.mv_recent_news_bg_color{
    padding: 2.5rem 0rem;
    background-color: #41728A;
}
.mv_recent_heading h2{
    font-weight: 350;
    color: #fff;
}
.mv_recent_news_content{
    padding: 16px;
}
.mv_recent_img img{
    width: 100%;
    margin-bottom: 1rem;
}
.mv_recent_img h4 a{
    font-weight: 350;
    color: #fff;
}
/* *************************** */




@media(max-width:1199px){
    /* Intel AMX ? */
    .mv_intel_amx_content{
        padding-right: 0px;
    }
    /* Discover More */
    .mv_discover_more_item{
        width: 100%;
    }
}

@media(max-width:767px){
    /* newsroom */
    .mv_newsroom_bg_color{
        padding: 2.5rem;
    }
    /* Intel AMX ? */
    .mv_intel_amx_content{
        flex-wrap: wrap-reverse !important;
    }
    .mv_intel_amx_heading_text{
        font-size: 16px;
    }
    /* learn button */
    .mv_learn_button{
        text-align: center;
    }
    /* news */
    .mv_news_left_item{
        padding: .5rem;
    }
    .mv_newsroom{
        margin-bottom: 1rem;
    }
    /* Together */
    .mv_together_content{
        padding: 35px 15px;
    }
    .mv_together_content p{
        padding: 0 15px 0 55px;
    }
    /* .VK_ai_navigation.VK_sticky_nav_bar {
        position: fixed;
        width: 100%;
    } */
}

@media(max-width:480px){
    /* learn button */
    .mv_learn_button p a{
        width: 100%;
    }
}