*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none !important;
}
.container{
    max-width: 1610px !important;
}
@media(max-width:1440px){
    .container{
        max-width: 1170px !important;
    }
}
@media(max-width:1199px){
    .container{
        max-width: 970px !important;
    }
}
@media(max-width:991px){
    .container{
        max-width: 750px !important;
    }
}
@media(max-width:768px){
    .container{
        max-width: 750px !important;
    }
}
@media(max-width:425px){
    .container{
        max-width: 390px !important;
    }
}

/* header */
nav{
    position: relative !important;
}

/******** Intel AMX ? *******/
.mv_intel_amx_bg_color{
    background-color: #0068B5;
}
.mv_intel_amx_content{
    padding-right: 200px;
}
.mv_intel_amx_item{
    align-content: center;
}
.mv_intel_amx{
    color: #fff;
    padding: 1rem;
}
.mv_intel_amx h3{
    font-weight: 300;
}
.mv_intel_amx p{
    margin-top: 1.5rem;
    margin-bottom: 0rem;
}
.mv_intel_amx_image{
    padding: 1rem;
}
.mv_intel_amx_image img{
    width: 100%;
}
.mv_intel_amx_heading_text{
    font-size: 1.2rem;
    line-height: 1.15;
}
/* ************************** */

/* ************ Nav ************/
.VK_sidebar_active_link {
    color: #262626;
    font-weight: 700;
}
.VK_print_email_font span {
    font-size: 1.375rem;
}
.VK_side_bar_postion_stickey{
    position: sticky;
    top: 0px;
    z-index: 3;
    background-color: #fff;
}
.VK_side_heading {
    font-size: 26px;
    font-weight: 400;
}
.VK_sidebar_dropdown P{
    margin-left: .313rem !important;
    margin-bottom: .313rem !important;
}
.VK_sidebar_dropdown details{
    margin-left: .313rem !important;
    margin-bottom: .313rem !important;
}
/* *************************** */

/********* thinkcode *********/
/* .dk_things_code_main{
    padding: 1rem !important;
} */
/* *************************** */

/* **********sign up********** */
.dk_button{
    color: white;
    background-color: #0068b5;
    position: relative;
    border-radius: 0;
    padding: .625rem 1.5rem;
    font-size: 1rem;
    line-height: 1.25;
    border-width: 0;
    white-space: normal;
    margin-bottom: 1rem;
}
.dk_button:hover{
    background-color: #004A86;
}
.dk_things_code{
    background-color: #F7F7F7;
    margin-bottom: 0.5rem;
    padding: 1rem 1rem 0rem 1rem;
}
/* *************************** */
.b_special_a{
    color: white;
    text-decoration: none !important;
    border-bottom: 1px dashed white ;
}
.b_special_a:hover {
    color: white !important;
    text-decoration: none !important;
    border-bottom: 1px solid white ;
}
.b_special_a2 {
    color: #0068b5;
    text-decoration: none;
    border:none;
}
.b_special_a2:hover {
    border-bottom: 1px solid #0068b5 ;
}
.b_special_a1 {
    color:  #0068b5 ;
    text-decoration: none !important;
    border-bottom: 1px dashed #0068b5 ;
}
.b_special_a1:hover {
    text-decoration: none !important;
    border-bottom: 1px solid #0068b5 ;
}
.mv_special_3{
    color: #0068b5;
    border-bottom: 1px solid #0068b5 ;
}
.b_som_nav {
    background-color: white;
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 5;
}

/******** Discover More ********/
.mv_discover_more_padd{
    padding: 2.5rem 0rem;
}
.mv_discover_more_heading h2{
    font-weight: 300;
}
.mv_discover_more_content{
    padding: 16px;
}
.mv_discover_more_item{
    padding-left: 15px;
    width: 58.33%;
}
.mv_discover_more_item h4{
    font-weight: 300;
}
.dk_issue{
    color: #0068b5;
}
.dk_issue:hover{
    color: #004a86;
}
/* ***************************** */

/****** code toolbar ******/
.mv_code_simple{
    font-family: "Courier New", "DejaVu Sans Mono", monospace, sans-serif;
    border: 0;
    color: #53565a;
    border-radius: 0;
    box-shadow: none;
    text-shadow: none;
}
.mv_code_toolbar {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0rem;
    margin-top: 18px;
    margin-bottom: 10px;
    background: #f8f8f8 !important;
}
.mv_toolbar_item{
    font-size: 1.375rem;
    float: right;
    cursor: pointer;
    padding: .1px 6px;
    padding-right: 1.5rem !important;
}
.mv_pre{
    padding-top: 1.5625rem !important;
    padding-left: 0rem !important;
    padding: .656rem;
}
.text-break {
    word-break: break-all;
}
.mv_code{
    color: #000 !important;
    font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important;
    direction: ltr;
    text-align: left;
    word-spacing: normal;
    word-wrap: normal;
    line-height: 1.5;
    padding-left: 1rem;
}
.mv_text_color{
    color: #069 !important;
    font-weight: 600 !important;
}
.mv_sign_color{
    color: #b24501;
}
.mv_breckat_color{
    font-weight: 300;
    color: #ff0000 !important;
}
.code-simple {
    font-family: "Courier New", "DejaVu Sans Mono", monospace, sans-serif;
    border: 0;
    color: #53565a;
    border-radius: 0;
    box-shadow: none;
    text-shadow: none;
    background-color: #E6E6E6;
}

/* ***************************** */

/***** Explore Resources *****/
.mv_intel_tiber{
    margin-bottom: 1.5rem;
}
.mv_explore_resources_content h2{
    font-weight: 300;
}
.mv_explore_resources{
    padding: 0px 0px 10px 0px;
}
.mv_intel_tiber_img{
    align-content: center;
    text-align: center;
}
.mv_intel_tiber_img i{
    height: 40px;
    width: 40px;
    margin-right: 1.5rem;
    border-radius: 50%;
    background-color: #ffffff;
    border: none !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mv_intel_card{
    display: flex;
    padding: .75rem 1.5rem;
    background-color: #F3F3F3;
    min-height: 4.5rem;
}
/************************** */

/********AI_Workload*********** */
.dk_ai_workload{
    background-color: #0068B5;
    padding: 2rem 0rem;
}
.dk_ai_worklod_sub{
    padding: 2rem 1rem;
    margin-right: calc(var(--bs-gutter-x)* 0rem) !important;
    margin-left: calc(var(--bs-gutter-x)* 0rem) !important;
}
.dk_optimizations h2{
    color: #fff;
    font-weight: 300;
}
.dk_optimizations p{
    color: #fff;
    font-weight: 300;
}
.dk_sign_up{
  padding: 0.3rem 5rem;  
  border: none;
  color: #0068b5;
}
.dk_sign_up:hover{
    background-color: #D7D7D7;
    padding: 0.5rem 5rem;
    color: #333;
}
/************************** */

@media(max-width:1199px){
    /* Intel AMX ? */
    .mv_intel_amx_content{
        padding-right: 0px;
    }
    /* Discover More */
    .mv_discover_more_item{
        width: 100%;
    }
    .dk_img2 img{
        width: 100%;
    }
}
@media(max-width:991px){
    .dk_img img{
        width: 100%;
    }
}

@media(max-width:767px){
    /* Intel AMX ? */
    .mv_intel_amx_content{
        flex-wrap: wrap-reverse !important;
    }
    .mv_intel_amx_heading_text{
        font-size: 16px;
    }
    /* nav */
    .VK_sticky_side_bar{
        display: none;
    }
    /* thinkcode */
    .dk_get_code{
        text-align: center;
    }
    .dk_things_code_main{
        padding: 0rem !important;
    }
    .mv_think_text{
        margin-bottom: 3rem;
    }
}

@media(max-width:480px){
    .dk_button{
        width: 100%;
    }
}