*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none !important;
}
.container{
    max-width: 1610px !important;
}
@media(max-width:1440px){
    .container{
        max-width: 1170px !important;
    }
}
@media(max-width:1199px){
    .container{
        max-width: 970px !important;
    }
}
@media(max-width:991px){
    .container{
        max-width: 750px !important;
    }
}
@media(max-width:768px){
    .container{
        max-width: 750px !important;
    }
}
@media(max-width:425px){
    .container{
        max-width: 390px !important;
    }
}

/* header */
nav{
    position: relative !important;
}

/******* Siemens Healthineers ******/
.mv_intel_amx_bg_color{
    background-color: #0068B5;
}
.mv_intel_amx_content{
    padding-right: 200px;
}
.mv_intel_amx_item{
    align-content: center;
}
.mv_intel_amx{
    color: #fff;
    padding: 1rem;
}
.mv_intel_amx h3{
    font-weight: 300;
}
.mv_intel_amx p{
    margin-top: 1.5rem;
    line-height: 1.25;
    font-size: 1.25rem;
    font-weight: 400;
}
.mv_intel_amx_image{
    padding: 1rem;
}
.mv_intel_amx_image img{
    width: 100%;
}
/**************************/

/* ************ Nav ************/
/* .VK_ai_navigation {
    background-color: white;
}
.VK_ai_nav_bar a {
    color: #005a9d !important;
    padding: 6px 12px;
    word-break: normal;
    font-weight: 400;
    font-size: 1rem;
}
.VK_ai_nav_bar a:hover{
    color: #005a9d;
    font-weight: 700;
    border-left: 4px solid #005a9d;
}
.VK_ai_navigation.VK_sticky_nav_bar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #fff;
}
.VK_active_link {
    position: relative;
    color: #00aeef;
}
.VK_active_link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    background: #00aeef;
}
.VK_ai_nav_bar li a {
    transition: color 0.3s, border-bottom 0.3s;
}
.VK_ai_nav_bar a.active {
    color: #0068b5 !important;
    position: relative;
    font-weight: 700 !important;
    border-left: 4px solid #005a9d !important;
}
.VK_ai_nav_bar a.active::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
} */
/* *************************** */
/* intel video */
.dk_intel_video{
    width: 100%;
    margin: 40px 0;
}

/* **********sign up********** */
.dk_button{
    color: white;
    background-color: #0068b5;
    position: relative;
    border-radius: 0;
    padding: .625rem 1.5rem;
    font-size: 1rem;
    line-height: 1.25;
    border-width: 0;
    white-space: normal;
}
.dk_button:hover{
    background-color: #004A86;
}
.dk_things_code{
    background-color: #F7F7F7;
    padding: 1.25rem 1rem .5rem 1rem;
}
.dk_things_code h2{
    font-weight: 700;
    color: #262626;
    size: 1rem;
    font-size: 1rem;
    line-height: 1.25;
}
.dk_things_code ul{
    padding-left: 1rem;
}
.dk_things_code ul li{
    padding: 0 0 .375rem 0;
}
.dk_things_code ul li p{
    margin-bottom: 0rem;
}
/* The Growth of AI in Healthcare */
#ds_HPC-intel h2{
    font-size: 1.625rem;
    line-height: 2.125rem;
    font-weight: 300;
    font-style: normal;
    margin-top: 2.5rem;
}
#ds_HPC-intel p{
    line-height: 1.625rem;
    margin-bottom: 16px;
    font-weight: 400;
    font-style: normal;
    font-size: 1.25rem;
}
#ds_HPC-intel h3{
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    line-height: 1.875rem;
    margin-top: 22px;
    margin-bottom: 11px
}
.dk_what{
    color:#0563c1;
    text-decoration:underline;
    border-bottom: 2px solid #0563c1;
}
/* Challenge */
#ds_HPC-benefits h2{
    font-size: 1.625rem;
    line-height: 2.125rem;
    font-weight: 300;
    font-style: normal;
    margin-top: 2.5rem;
    margin-bottom: 11px;
}
/*Solution: */
#ds_HPC-use_cases h2{
    font-size: 1.625rem;
    line-height: 2.125rem;
    font-weight: 300;
    font-style: normal;
    margin-top: 2.5rem;
}
#ds_HPC-use_cases h3{
    font-size: 1.5rem;
    line-height: 1.875rem;
    font-weight: 400;
    font-style: normal;
    margin-top: 22px;
    margin-bottom: 11px;
}
/* How Intel AMX Works */
#how_intel_amx h3{
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    line-height: 1.875rem;
    margin-top: 22px;
    margin-bottom: 11px;
}
#ds_HPC-get_started h2{
    font-size: 1.625rem;
    line-height: 2.125rem;
    font-weight: 300;
    font-style: normal;
    margin-top: 2.5rem;
}
#ds_HPC-get_started h5{
    font-size: 1.313rem;
    line-height: 1.625rem;
    font-weight: 400;
    font-style: normal;
    margin-top: 11px;
    margin-bottom: 11px;
}
.dk_result{
    width: 100%;
    margin: 40px 0;
}
/* How Intel Distribution  */
#dk_intel_distribution h3{
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    line-height: 1.875rem;
    margin-top: 22px;
    margin-bottom: 11px;
}
/* BF16 Delivers */
#dk_bf16_delivers h3{
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    line-height: 1.875rem;
    margin-top: 22px;
    margin-bottom: 11px;
}
/* Increasing the Number */
#dk_increasing h3{
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    line-height: 1.875rem;
    margin-top: 22px;
    margin-bottom: 11px;
}
/* Results: */
#dk_results h2{
    font-size: 1.625rem;
    line-height: 2.125rem;
    font-weight: 300;
    font-style: normal;
    margin-top: 2.5rem;
    margin-bottom: 11px;
}
/* Conclusion */
.dk_Conclusion h2{
    font-size: 1.625rem;
    line-height: 2.125rem;
    font-weight: 300;
    font-style: normal;
    margin-top: 2.5rem;
    margin-bottom: 11px;
}
/* About Siemens */
.dk_about_siemens h2{
    font-size: 1.625rem;
    line-height: 2.125rem;
    font-weight: 300;
    font-style: normal;
    margin-top: 2.5rem;
    margin-bottom: 11px;
}
/* *************************** */
.b_special_a{
    color: white;
    text-decoration: none !important;
    border-bottom: 1px dashed white ;
}
.b_special_a:hover {
    color: white !important;
    text-decoration: none !important;
    border-bottom: 1px solid white ;
}
.b_special_a2 {
    color: #0068b5;
    text-decoration: none;
    border:none;
}
.b_special_a2:hover {
    border-bottom: 2px solid #0068b5 ;
}
.b_special_a1 {
    color:  #0068b5 ;
    text-decoration: none !important;
    border-bottom: 1px dashed #0068b5 ;
}
.b_special_a2 {
    color:  #0068b5 ;
    text-decoration: none !important;
    /* border-bottom: 1px solid #0068b5 ; */
}
.b_special_a1:hover {
    text-decoration: none !important;
    border-bottom: 2px solid #0068b5 ;
}
.mv_special_3{
    color: #0068b5;
    border-bottom: 1px solid #0068b5 ;
}
.b_som_nav {
    background-color: white;
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 5;
}

/******** Learn More About********/
.dk_learn_more_about{
    background: #FFF;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    color: #262626;
}
.dk_learn_more_about h2{
    margin: 0 0 1rem 0;
    font-weight: 400;
    font-style: normal;
    line-height: 1.25;
}
.dk_learn_card{
    padding: 16px;
}
/* ***************************** */

/****** code toolbar ******/
.mv_code_simple{
    font-family: "Courier New", "DejaVu Sans Mono", monospace, sans-serif;
    border: 0;
    color: #53565a;
    border-radius: 0;
    box-shadow: none;
    text-shadow: none;
}
.mv_code_toolbar {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0rem;
    margin-top: 18px;
    margin-bottom: 10px;
    background: #f8f8f8 !important;
}
.mv_toolbar_item{
    font-size: 1.375rem;
    float: right;
    cursor: pointer;
    padding: .1px 6px;
    padding-right: 1.5rem !important;
}
.mv_pre{
    padding-top: 1.5625rem !important;
    padding-left: 0rem !important;
    /* padding: .656rem; */
}
.text-break {
    word-break: break-all;
}
.mv_code{
    color: #000 !important;
    font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important;
    direction: ltr;
    text-align: left;
    word-spacing: normal;
    word-wrap: normal;
    line-height: 1.5;
    padding-left: 1rem;
}
.mv_text_color{
    color: #069 !important;
    font-weight: 600 !important;
}
.mv_sign_color{
    color: #b24501;
}
.mv_breckat_color{
    font-weight: 300;
    color: #ff0000 !important;
}
.code-simple {
    font-family: "Courier New", "DejaVu Sans Mono", monospace, sans-serif;
    border: 0;
    color: #53565a;
    border-radius: 0;
    box-shadow: none;
    text-shadow: none;
    background-color: #E6E6E6;
}
.dk_things_code_main{
    padding: 1rem !important;
}

/* ***************************** */

/***** Explore Resources *****/
.mv_intel_tiber{
    margin-bottom: 1.5rem;
}
.mv_explore_resources_content h2{
    font-weight: 300;
}
.mv_explore_resources{
    padding: 40px 0px 10px 0px;
}
.mv_intel_tiber_img{
    align-content: center;
    text-align: center;
}
.mv_intel_tiber_img i{
    height: 40px;
    width: 40px;
    margin-right: 1.5rem;
    border-radius: 50%;
    background-color: #ffffff;
    border: none !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mv_intel_card{
    display: flex;
    padding: .75rem 1.5rem;
    background-color: #F3F3F3;
    min-height: 4.5rem;
}
/************************** */

/********AI_Workload*********** */
.dk_ai_workload{
    background-color: #0068B5;
    padding: 2rem 0rem;
}
.dk_ai_worklod_sub{
    padding: 2rem 1rem;
    margin-right: calc(var(--bs-gutter-x)* 0rem) !important;
    margin-left: calc(var(--bs-gutter-x)* 0rem) !important;
}
.dk_optimizations h2{
    color: #fff;
    font-weight: 300;
}
.dk_optimizations p{
    color: #fff;
    font-weight: 300;
}
.dk_sign_up{
  padding: 0.3rem 5rem;  
  border: none;
  color: #0068b5;
}
.dk_sign_up:hover{
    background-color: #D7D7D7;
    padding: 0.5rem 5rem;
    color: #333;
}
/************************** */

/********* Together *********/
.mv_together_content{
    padding: 35px 30px;
}
.mv_together_content p:before{
    background-image: url(/img/mv_image/sprite-icons.png) !important;
    background-position: -6px -2099px !important;
    width: 63px;
    height: 58px;
    left: 0;
    top: 0;
}
.mv_together_content p{
    padding: 0 35px 0 85px;
}
/* *************************** */

/**** Explore Related Stories ****/
.mv_discover_more_padd{
    background-color: #F3F3F3;
    padding: 2.5rem 0rem;
}
.mv_discover_more_text h2{
    font-weight: 300;
}
.mv_explore_content{
    padding: 16px;
}
.mv_explore_img img{
    width: 100%;
    margin-bottom: 1rem;
}
.mv_explore_text h4{
    font-weight: 300;
    margin-bottom: 0rem;
}
.mv_downintel p{
    margin-bottom: 0rem;
    text-align: center;
}
.mv_downintel a{
    color: #fff;
    display: inline-block;
    padding: .5rem 1.5rem;
    background-color: #0068b5;
}
.mv_downintel a:hover{
    color: #fff;
    background-color: #004A86;
}
.mv_downintel i{
    margin-left: .5rem;
}
/* ***************************** */

/********** Explore Related Products and Solutions ***********/
.mv_ex_related_pro_bg_color{
    padding: 3rem 0rem;
    background-color: #0068B5;
}
.mv_ex_related_pro_content{
    padding: 16px;
}
.mv_mv_ex_related_pro_padd{
    padding: 2.5rem 0rem;
    background-color: #0068B5;
}
.mv_ex_related_pro_image img{
    width: 100%;
    margin-bottom: 1rem;
}
.mv_ex_related_pro_text h4{
    font-weight: 300;
}
.mv_ex_related_pro_text p{
    color: #fff;
    line-height: 1.25;
}
/* ***************************** */




@media(max-width:1199px){
    /* Siemens Healthineers  */
    .mv_intel_amx_content{
        padding-right: 0px;
    }
}

@media(max-width:767px){
    /* Siemens Healthineers  */
    .mv_intel_amx_content{
        flex-wrap: wrap-reverse !important;
    }
    /* Together */
    .mv_together_content{
        padding: 35px 15px;
    }
    .mv_together_content p{
        padding: 0 15px 0 55px;
    }
    /* Explore Related Stories */
    .mv_discover_more_text h2{
        margin-bottom: 1rem !important;
    }
    .mv_downintel p{
        text-align: center;
    }
    .mv_downintel p a{
        width: 100%;
    }
}
