*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none !important;
}
.container{
    max-width: 1610px !important;
}

/* header */
nav{
    position: relative !important;
}

/* Intel Platform Firmware */
.dk_intel_platform_firmware{
    background-color: #548FAD;
    padding: 4rem 1.5rem 1.8125rem;
    color: #fff;
}
.dk_intel_platform_firmware h1{
    font-weight: 300;
    letter-spacing: normal;
    line-height: 1.2;
}
/* Protecting Against */
.dk_protecting_against{
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.dk_protecting_against h2{
    color: #262626;
    font-weight: 300;
}
/* Supporting */
.dk_supporting{
    padding-top: 3rem;
    padding-bottom: 3rem; 
}
.dk_supporting h2{
    color: #262626;
    font-weight: 300;  
}
/* instroducing intel */
.dk_introducing_intel{
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.dk_introducing_intel h2{
    color: #262626;
    font-weight: 300; 
}
/* Open Solution  */
.dk_open_solution{
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.dk_open_solution h2{
    color: #262626;
    font-weight: 300; 
}
/* Open Sourced */
.dk_open_sourced{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}
.dk_open_sourced h3{
    margin: 0 0 .5rem 0;
    line-height: 1.625rem;
    font-size: 24px;
    font-weight: 300;
    font-style: normal;
}

/* *************************** */
.b_special_a{
    color: white;
    text-decoration: none !important;
    border-bottom: 1px dashed white ;
}
.b_special_a:hover {
    color: white !important;
    text-decoration: none !important;
    border-bottom: 1px solid white ;
}
.b_special_a2 {
    color: #0068b5;
    text-decoration: none;
    border:none;
}
.b_special_a2:hover {
    border-bottom: 1px solid #0068b5 ;
}
.b_special_a1 {
    color:  #0068b5 ;
    text-decoration: none !important;
    border-bottom: 1px dashed #0068b5 ;
}
.b_special_a2 {
    color:  #0068b5 ;
    text-decoration: none !important;
    /* border-bottom: 1px solid #0068b5 ; */
}
.b_special_a1:hover {
    text-decoration: none !important;
    border-bottom: 1px solid #0068b5 ;
}
.mv_special_3{
    color: #0068b5;
    border-bottom: 1px solid #0068b5 ;
}
.b_som_nav {
    background-color: white;
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 5;
}


@media(max-width:1440px){
    .container{
        max-width: 1170px !important;
    }
    /* Intel Platform Firmware */
    .dk_intel_platform_firmware{
        padding-top: 5rem;
    }
}
@media(max-width:1199px){
    .container{
        max-width: 970px !important;
    }
    /* Intel Platform Firmware */
    .dk_intel_platform_firmware{
        padding: 4rem 1.5rem 1.8125rem;
    }
    
}
@media(max-width:991px){
    .container{
        max-width: 750px !important;
    }
}
@media(max-width:767px){
    .container{
        max-width: 750px !important;
    }
    /* Intel Platform Firmware */
    .dk_intel_platform_firmware{
        padding: 1rem 1rem 1.8125rem !important;
    }
    .dk_protecting_against_sub{
        flex-wrap: wrap-reverse !important;
    }
    /* Supporting */
    .dk_supporting{
        padding-top: 2.5rem;
        padding-bottom: 2.5rem; 
    }
    /* Protecting Against */
    .dk_protecting_against{
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }
    /* Introducing Intel */
    .dk_introducing_intel_sub{
        flex-wrap: wrap-reverse !important;
    }
    .dk_introducing_intel{
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }
    /* Open Solution  */
    .dk_open_solution{
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }
}
@media(max-width:425px){
    .container{
        max-width: 390px !important;
    }
}