*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none !important;
}

/********** intel logo **********/
.mv_intel_logo{
    position: absolute;
}
/* ***************************** */

/******* Intel Insights *******/
.mv_intel_insights_padd{
    padding-top: 6.5rem;
    padding-bottom: 6.5rem;
}
.mv_intel_insights_container{
    margin: 0 6.5rem;
}
.mv_intel_insights{
    padding: 4rem 3rem;
    background: #41728A;
    color: #fff;
}
.mv_intel_insights_heading h1{
    font-weight: 300;
    margin-bottom: 2rem;
}
.mv_intel_insights_heading h5{
    font-weight: 300;
    margin-bottom: 2rem;
}
/* ***************************** */

/*********** Customize ***********/
.mv_customize_padd{
    padding: 4rem 0rem;
}
.grid_container{
    max-width: 70rem;
    margin: 0 auto;
    padding-right: .9375rem;
    padding-left: .9375rem;
}
.mv_customize h4{
    font-weight: 300;
    margin-bottom: 1.5rem;
}
.mv_form_floating{
    position: relative;
    margin-bottom: 1rem;
}
.mv_form_floating input{
    border: 1px solid gray;
}
.mv_form_floating select{
    border: 1px solid gray;
}
.mv_form_floating input:focus{
    box-shadow: none;
    border: 1px solid gray;
    outline: 5px auto black;
}
.mv_form_floating select:focus{
    box-shadow: none;
    border: 1px solid gray;
    outline: 5px auto black;
}
.mv_checkbox fieldset label{
    display: flex;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    color: #262626;
    margin-bottom: 1rem;
}
.mv_checkbox fieldset label span{
    margin-left: 10px;
}
.mv_checkbox fieldset label input{
    content: '';
    width: 1.25rem;
    height: 1.25rem;
    border: 1px solid gray;
    border-radius: 0.188rem;
    display: inline-block;
    vertical-align: middle;
}
.mv_checkbox fieldset label input:hover{
    outline: 5px auto black;
}
.mv_submit_button button i{
    padding-left: .5rem;
}
.mv_submit_button button{
    background-color: #0054ae;
    color: #fff;
    margin-top: 2rem;
    display: inline-block;
    padding: 8px 24px;
    border: 0px;
}
.mv_submit_button button:hover{
    background-color: #00377C;
}
.mv_submitting_notice{
    padding: 1rem 0rem;
}
.mv_submitting_notice p{
    font-size: .75em;
}
.mv_submitting_notice p a{
    color: #0054ae;
}
.mv_submitting_notice p a:hover{
    color: #001e50;
    border-bottom: 1px solid #001e50;
}
/* ***************************** */




@media(max-width:991px){
    /* Customize */
    .mv_intel_insights_padd{
        padding-top: 0rem;
        padding-bottom: 0rem;
    }
    .mv_intel_insights_container{
        margin: 0rem;
    } 
}

@media(max-width:575px){
    /* Customize */
    .mv_intel_insights{
        padding: 8rem 2rem 4rem;
    }
}