*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none !important;
}
.container{
    max-width: 1610px !important;
}
/* header */
nav{
    position: relative !important;
}
/* Business Hardware and IT Strategy Solutions */
.dk_business_hardware{
    background-color: #004a86;
    padding: 3rem 0;
}
.dk_strategy_solutions{
    background: #0068b5;
    padding: 2rem;
    margin-bottom: 2.5rem;
    color: #fff;
    width: 80%;
}
.dk_strategy_solutions h1{
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
    margin: 0 0 .5rem;
    font-style: normal;
}
/*********** Nav ************/
.VK_ai_navigation {
    background-color: white;
    border-bottom: 1px solid #d7d7d7;
}
.VK_ai_nav_bar a {
    color: #262626;
    padding: 22px 8px 19px;
    word-break: normal;
    font-weight: 400;
    white-space: nowrap;
    margin-left: 80px;
}
.VK_ai_nav_bar a:hover{
    color: #262626;
}
.VK_ai_navigation.VK_sticky_nav_bar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.VK_active_link {
    position: relative;
    color: #00aeef;
}
.VK_active_link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    background: #00aeef;
}
.VK_ai_nav_bar li a {
    transition: color 0.3s, border-bottom 0.3s;
}
.VK_ai_nav_bar a.active {
    color: #0068b5 !important;
    position: relative;
}
.VK_ai_nav_bar a.active::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    background: #00aeef;
}
/***************************/
/* Empower Your Digital*/
.dk_empower_your_digital{
    background: #FFF;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #262626;
}
.dk_empower_your_digital h2{
    margin-bottom: .5rem;
    font-size: 2.25rem;
    font-weight: 350;
    font-style: normal;
    line-height: 1.25;
}
/* PCs Designed */
.dk_pc_designed{
    background-color: #f7f7f7;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    color: #262626;
}
.dk_pc_designed h2{
    margin-bottom: .5rem;
    font-size: 2.25rem;
    font-weight: 350;
    font-style: normal;
    line-height: 1.25;
    text-align: center;
    margin: 0 0 1rem 0;
}
.subtitle{
    font-size: 1rem;
    line-height: 1.42857143;
    margin-top: -0.5rem;
    margin-bottom: 1rem;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}
.dk_pc_designed_info h3{
    margin: 0 0 .5rem 0;
    line-height: 1.625rem;
    font-size: 24px;
    font-weight: 350;
    font-style: normal;
}
.dk_pc_designed_image img{
    margin-bottom: 1rem;
}
.dk_pc_designed_deteils{
    padding: 16px;
}
/********** wrapper **********/
.mv_wrapper_row_padd {
    --bs-gutter-x: 0rem !important;
}
.mv_wrapper {
    position: relative;
    height: 400px;
    overflow: hidden;
}
.mv_wrapper_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
    transition: transform .35s ease-in-out;
}
.mv_wrapper_bg_img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transition: transform .35s ease-in-out;
}
.mv_wrapper_bg_img_ai {
    background-image: url(/img/mv_image/vpro-dark-lifestyle-late-night-meeting-flipped.jpg.rendition.intel.web.1072.603.jpg);
}
.mv_wrapper_bg_img_trust {
    background-image: url(/img/mv_image/adobestock-308390711-reversed.jpg.rendition.intel.web.1072.603.jpg);
}
.mv_wrapper:hover .mv_wrapper_bg_img {
    transform: scale(1.2);
}
.mv_promo_block {
    position: relative;
    z-index: 1;
    text-align: center;
    color: #fff !important;
}
.mv_promo_text {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    text-align: center;
    transition: all .35s ease-in-out;
    padding: 3rem 20%;
}
.mv_promo_text h2 {
    margin-bottom: .5rem;
    font-size: 2.25rem;
    font-style: normal;
    line-height: 1.25;
    font-weight: 300;
}
.mv_promo_text p {
    line-height: 1.3rem;
}
.mv_promo_learn_more {
    cursor: pointer;
    border-bottom: 1px dashed #fff;
}
.mv_promo_learn_more:hover {
    border-bottom: 1px solid #fff;
}
/* Power Your Business */
.dk_power_your_business{
    background-color: #00285a;
    background-size: 100%;
    padding: 2.5rem 0;
    color: #fff;
}
.dk_power_your_business h2{
    margin-bottom: 0;
    font-size: 2.25rem;
    font-weight: 300;
    font-style: normal;
    text-align: center;
}
.dk_all_courses{
    color: #fff;
    display: inline-block;
    text-decoration: underline dotted;
    text-decoration-style: dashed;
    text-underline-offset: .3rem;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: .5px;
    line-height: 1.25;
    font-size: 2.5rem;
    font-weight: 300;
    font-style: normal;
    text-align: center;
}  
.dk_all_courses:hover{
    text-decoration: underline;
    text-decoration-thickness: .5px;
    color: #fff;
}
.dk_power_your_business h1{
    text-align: center;
}
.dk_all_courses2{
    color: #fff;
    display: inline-block;
    text-decoration: underline dotted;
    text-decoration-style: dashed;
    text-underline-offset: .3rem;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: .5px;
    line-height: 1.25;
    font-size: 1.25rem;
    font-weight: 700;
    font-style: normal;
    position: relative;
    z-index: 9999;
}  
.dk_all_courses2:hover{
    text-decoration: underline;
    text-decoration-thickness: .5px;
    color: #fff;
}
/* Need Help Finding */
.dk_need_help_finding{
    background: #f7f7f7;
    padding: 2.5rem 0 1rem;
    color: #262626;
}
.dk_need_help_finding h2{
    margin-bottom: .5rem;
    font-size: 1.75rem;
    line-height: 1.25;
    font-weight: 350;
    font-style: normal;
}
.dk_need_help_card{
    background: #fff;
    padding: .75rem 1.5rem;
    margin-bottom: 1.5rem;
}
.dk_need_help_card a{
    font-size: 1rem;
    line-height: 1.25;
    margin-bottom: 0;
    color: #0068b5;
    text-decoration: none;
}
.dk_need_help_card a:hover{
    color: #004a86;
}
/* See How Business */
.dk_see_how_business{
    background-color: #0068b5;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.dk_see_how_business h2{
    margin-bottom: .5rem;
    font-size: 1.75rem;
    line-height: 1.25;
    font-weight: 350;
    font-style: normal;
    text-align: center;
    color: #FFF;
    margin: 0 0 1.5rem;
}
.dk_see_how_card{
    padding: 1rem;
}
.dk_business_item{
    background-color: #fff;
    height: 100% !important ;
}
.dk_case_studies{
    text-align: center;
    padding-top: 2.5rem;
}
.dk_see_how_business_sub{
    row-gap: 1rem;
}
/* IT Strategy */
.dk_it_strategy{
    background: #f7f7f7;
    padding: 2.5rem 0 1rem;
    color: #262626;
}
.dk_it_strategy h2{
    margin-bottom: .5rem;
    font-size: 1.75rem;
    line-height: 1.25;
    font-weight: 350;
    font-style: normal;
    margin: 0 0 1.5rem;
}
/* Resources for IT Pros */
.dk_resources_for_pros{
    background-color: #00285a;
    padding-bottom: 3rem;
    padding-top: 3rem;
    color: #fff;
}
.dk_pros_margin{
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.dk_reso_library{
    color: #fff;
    border-bottom: 1px dashed #FFF;
    font-size: 16px;
}
.dk_reso_library:hover{
    color: #fff;
    border-bottom: 1px solid #FFF;
}
/* Support */
.dk_support{
    background-color: #f7f7f7;
    padding-bottom: 3rem;
    padding-top: 3rem;
    color: #262626;
}
.dk_pros_margin{
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.dk_pros_margin h1{
    font-weight: 450;
}
.dk_reso_library{
    color: #fff;
    border-bottom: 1px dashed #FFF;
    font-size: 16px;
}
.dk_reso_library:hover{
    color: #fff;
    border-bottom: 1px solid #FFF;
}
/* Looking for Data */
.dk_looking_for_data{
    background: #0068b5;
    padding-bottom: 2.5rem;
    padding-top: 2.5rem;
    margin: 0;
    text-align: center;
    color: #fff;
}


.dk_lmore{
    color: #0068b5;
    background: #fff;
    position: relative;
    min-width: none;
    border-radius: 0;
    padding: .625rem 1.5rem;
    font-size: 1rem;
    line-height: 1.25;
    border-width: 0;
    white-space: normal;
}
.dk_lmore:hover{
    color: #004a86;
    background: #e9e9e9;
}
.dk_download{
    color: #fff;
    background-color: #0068b5;
    position: relative;
    border-radius: 0;
    padding: .625rem 1.5rem;
    font-size: 1rem;
    line-height: 1.25;
    border-width: 0;
    white-space: normal;
    display: inline-block;
    cursor: pointer;
    margin-bottom: .5rem;
}
.dk_download:hover{
    color: #fff;
    background-color: #005a9d;
}
.b_special_a{
    color: white;
    text-decoration: none !important;
    border-bottom: 1px dashed white ;
}
.b_special_a:hover {
    color: white !important;
    text-decoration: none !important;
    border-bottom: 1px solid white ;
}
.b_special_a2 {
    color: #0068b5;
    text-decoration: none;
    border:none;
}
.b_special_a2:hover {
    border-bottom: 1px solid #004a86; 
    color: #004a86;
}
.b_special_a1 {
    color:  #0068b5 ;
    text-decoration: none !important;
    border-bottom: 1px dashed #0068b5 ;
}
.b_special_a1:hover {
    color:#005a9d;
    text-decoration: none !important;
    border-bottom: 1px solid #005a9d; 
}
.mv_special_3{
    color: #0068b5;
    border-bottom: 1px solid #0068b5 ;
}
.b_som_nav {
    background-color: white;
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 5;
}
/****************************/
@media(max-width:1440px){
    .container{
        max-width: 1170px !important;
    }
}
@media(max-width:1199px){
    .container{
        max-width: 970px !important;
    }
    /* wrapper  */
    .mv_promo_text{
        padding: 2.5rem .9375rem;
    }
}
@media(max-width:991px){
    .container{
        max-width: 750px !important;
    }
}
@media(max-width:767px){
    .container{
        max-width: 750px !important;
    }
    /* Business Hardware and IT Strategy Solutions */
    .dk_business_hardware{
        background-color:#0068b5;
        padding: 3rem 0;
    }
    .dk_strategy_solutions{
        background: #0068b5;
        padding: 0rem;
        margin-bottom: 0rem;
        color: #fff;
        width: 100%;
    }
    /* Power Your Business */
    .dk_all_courses{
        font-size: 1.8rem !important;
    }
    .dk_power_your_business h2{
        font-size: 1.5rem;
    }
    /* Looking for Data */
    .dk_looking_for_data .dk_lmore{
        width: 100%;
    }
}
@media(max-width:425px){
    .container{
        max-width: 390px !important;
    }
}