*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none !important;
}
.container{
    max-width: 1610px !important;
}
@media(max-width:1440px){
    .container{
        max-width: 1170px !important;
    }
}
@media(max-width:1199px){
    .container{
        max-width: 970px !important;
    }
}
@media(max-width:991px){
    .container{
        max-width: 750px !important;
    }
}
@media(max-width:768px){
    .container{
        max-width: 750px !important;
    }
}
@media(max-width:425px){
    .container{
        max-width: 390px !important;
    }
}

/* header */
nav{
    position: relative !important;
}

/******** Intel AMX ? *******/
.mv_intel_amx_bg_color{
    background-color: #0068B5;
}
.mv_intel_amx_content{
    padding-right: 200px;
}
.mv_intel_amx_item{
    align-content: center;
}
.mv_intel_amx{
    color: #fff;
    padding: 1rem;
}
.mv_intel_amx h3{
    font-weight: 300;
}
.mv_intel_amx p{
    margin-top: 1.5rem;
    margin-bottom: 0rem;
}
.mv_intel_amx_image{
    padding: 1rem;
}
.mv_intel_amx_image img{
    width: 100%;
}
/* ************************** */

/* ************ Nav ************/
.VK_ai_navigation {
    background-color: white;
    /* border-bottom: 1px solid #d7d7d7; */
}
.VK_ai_nav_bar a {
    color: #005a9d !important;
    padding: 6px 12px;
    word-break: normal;
    font-weight: 400;
    /* white-space: nowrap; */
    font-size: .9rem;
}
.VK_ai_nav_bar a:hover{
    color: #005a9d;
    font-weight: 700;
    border-left: 4px solid #005a9d;
}
.VK_ai_navigation.VK_sticky_nav_bar {
    position: sticky;
    top: 0;
    /* width: 100%; */
    z-index: 1000;
    background-color: #fff;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
}
.VK_active_link {
    position: relative;
    color: #00aeef;
}
.VK_active_link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    background: #00aeef;
}
.VK_ai_nav_bar li a {
    transition: color 0.3s, border-bottom 0.3s;
}
.VK_ai_nav_bar a.active {
    color: #0068b5 !important;
    position: relative;
    font-weight: 700 !important;
    border-left: 4px solid #005a9d !important;
}
.VK_ai_nav_bar a.active::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    /* background: #00aeef; */
}
/* *************************** */

/******** At a glance ********/
.mv_at_a_glance{
    padding: 1rem;
}
/* *************************** */

/* ******** lawrence ********* */
.mv_lawrence_content{
    padding: 1rem;
}
.mv_lawrence_item p{
    margin-bottom: 0rem;
    font-weight: 700;
    padding: .25rem 0 .625rem;
}
/* *************************** */

.b_special_a{
    color: white;
    text-decoration: none !important;
    border-bottom: 1px dashed white ;
}
.b_special_a:hover {
    color: white !important;
    text-decoration: none !important;
    border-bottom: 1px solid white ;
}
.b_special_a2 {
    color: #0068b5;
    text-decoration: none;
    border:none;
}
.b_special_a2:hover {
    border-bottom: 1px solid #0068b5 ;
}
.b_special_a1 {
    color:  #0068b5 ;
    text-decoration: none !important;
    border-bottom: 1px dashed #0068b5 ;
}
.b_special_a1:hover {
    text-decoration: none !important;
    border-bottom: 2px solid #0068b5 ;
}
.mv_special_3{
    color: #0068b5;
    border-bottom: 1px solid #0068b5 ;
}
.b_som_nav {
    background-color: white;
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 5;
}
/* *************************** */

/******** HPC button ********/
.mv_HPC p{
    margin-bottom: 0rem;
}
.mv_HPC a{
    color: #fff;
    display: inline-block;
    padding: .5rem 1.5rem;
    background-color: #0068b5;
}
.mv_HPC a:hover{
    color: #fff;
    background-color: #004A86;
}

.mv_speedup_image img{
    width: 100%;
}
/* *************************** */

/**** Explore Related Stories ****/
.mv_discover_more_padd{
    background-color: #F3F3F3;
    padding: 2.5rem 0rem;
}
.mv_discover_more_text h2{
    font-weight: 300;
}
.mv_explore_content{
    padding: 16px;
}
.mv_explore_img img{
    width: 100%;
    margin-bottom: 1rem;
}
.mv_explore_text h4{
    font-weight: 300;
    margin-bottom: 0rem;
}
.mv_downintel p{
    margin-bottom: 0rem;
    text-align: center;
}
.mv_downintel a{
    color: #fff;
    display: inline-block;
    padding: .5rem 1.5rem;
    background-color: #0068b5;
}
.mv_downintel a:hover{
    color: #fff;
    background-color: #004A86;
}
.mv_downintel i{
    margin-left: .5rem;
}
/* ***************************** */

/********** Explore Related Products and Solutions ***********/
.mv_ex_related_pro_bg_color{
    padding: 3rem 0rem;
    background-color: #0068B5;
}
.mv_mv_ex_related_pro_padd{
    padding: 2.5rem 0rem;
    background-color: #0068B5;
}
.mv_ex_related_pro_content{
    padding: 16px;
}
.mv_ex_related_pro_image img{
    width: 100%;
    margin-bottom: 1rem;
}
.mv_ex_related_pro_text h4{
    font-weight: 300;
}
.mv_ex_related_pro_text p{
    color: #fff;
}
/* ***************************** */

@media(max-width:1199px){
    /* Intel AMX ? */
    .mv_intel_amx_content{
        padding-right: 0px;
    }
}

@media(max-width:767px){
    /* Intel AMX ? */
    .mv_intel_amx_content{
        flex-wrap: wrap-reverse !important;
    }
    /* At a glance */
    .mv_at_a_glance{
        padding: 0rem;  
    }
    /* lawrence */
    .mv_lawrence_content{
        padding: 0rem;
    }
    /* HPC button */
    .mv_HPC{
        text-align: center;
    }
    /* Explore Related Stories */
    .mv_discover_more_text h2{
        margin-bottom: 1rem !important;
    }
    .mv_downintel p{
        text-align: center;
    }
    .mv_downintel p a{
        width: 100%;
    }
}

@media(max-width:575px){
    /* HPC button */
    .mv_HPC p a{
        width: 100%;
    }
}