*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none !important;
}
.container{
    max-width: 1610px !important;
}
@media(max-width:1440px){
    .container{
        max-width: 1170px !important;
    }
}
@media(max-width:1199px){
    .container{
        max-width: 970px !important;
    }
}
@media(max-width:991px){
    .container{
        max-width: 750px !important;
    }
}
@media(max-width:768px){
    .container{
        max-width: 750px !important;
    }
}
@media(max-width:425px){
    .container{
        max-width: 390px !important;
    }
}

/******** Intel Xeon ********/
.mv_intel_gaudi_3_bg_color{
    padding: 40px 0px;
    background-color: #00285A;
}
.mv_intel_gaudi_3_content h1{
    color: #fff;
    font-weight: 300;
    margin-bottom: 16px;
}
.mv_intel_gaudi_3_content p{
    color: #fff;
    line-height: 1.25;
}
.mv_mv_intel_gaudi_3_image img{
    width: 100%;
}
/* *************************** */

/**** Intel Xeon responsive ***/
.mv_intel_gaudi_responsive{
    display: none;
}
/* *************************** */

/*********** Gen ***********/
.mv_gen_padd{
    padding: 2rem 0rem;
}
.mv_gen_content{
    padding: 16px 32px;
    background-color: #F3F3F3;
    align-items: center;
}
.mv_gen_heading h5{
    font-weight: 350;
    margin-bottom: 0rem;
}
.mv_gen_heading h5 a{
    color: #0071C5 !important;
}
/* *************************** */

/******* Gen responsive *******/
.mv_mv_gen_intel_res{
    display: none;
    border-bottom: 1px solid #e2e2e2;
}
 .mv_gen_intel{
    padding: 12px;
    border-top: 1px solid #e2e2e2;
 }
.mv_gen_intel h6{
    font-weight: 350;
    margin-bottom: 0rem;
}
.mv_gen_intel h6 a{
    color: #0071C5 !important;
}
/* *************************** */

/***** Built-in Acceleration *****/
.mv_built_bg_color{
    padding: 3rem 0rem;
    background-color: #F7F7F7;
}
.mv_built_item{
    align-content: center;
}
.mv_built_text h2{
    font-weight: 300;
}
.mv_built_video video{
    width: 100%;
}
/* *************************** */

/**** Intel Accelerator Engines ****/
.mv_acc_engines_padd{
    padding: 1rem 0 2rem;
}
.mv_mv_acc_engines{
    text-align: center;
}
.mv_mv_acc_engines h2{
    font-weight: 300;
}
/* *************************** */

/****** Intel Engines ******/
.mv_related_card{
    background-color: #F3F3F3;
}
.mv_intel_tiber{
    margin-bottom: 1.5rem;
}
.mv_explore_resources_content h3{
    font-weight: 300;
}
.mv_explore_resources{
    padding: 2.5rem 0 1rem;
}
.mv_intel_tiber_img{
    align-content: center;
}
.mv_intel_tiber_img img{
    height: 40px;
    width: 40px;
    margin-right: 1.5rem;
}
.mv_intel_card{
    display: flex;
    padding: .75rem 1.5rem;
    background-color: #F3F3F3;
    min-height: 4.5rem;
}
/* *************************** */

/******** Where to Buy ********/
.mv_support_contact_padd{
    padding: 3rem 0rem;
}
.mv_support_contect{
    padding: 2rem 0rem;
}
.mv_support{
    text-align: center;
}
.mv_support h3{
    font-weight: 350;
}
.mv_support p{
    text-align: left;
}
.mv_support h3 a:hover{
    border-bottom: 1px solid #0068b5;
}
.mv_support_button a{
    display: inline-block;
    padding: .5rem 1.5rem;
    color: #fff;
    background-color: #0068b5;
}
.mv_support_button a:hover{
    color: #fff;
    background-color: #004A86;
}
/*********************************/

/************* Reach *************/
.mv_reach_padd{
    padding: 3rem 0rem;
    background-color: #42728A;
}
.mv_reach_heading{
    text-align: center;
}
.mv_reach_heading h2{
    font-weight: 300;
    color: #fff;
}
.mv_contact_button a{
    display: inline-block;
    padding: .5rem 1.5rem;
    color: #0068b5;
    background-color: #fff;
}
.mv_contact_button a:hover{
    color: #0068b5;
    background-color: #E9E9E9;
}
/*********************************/

/************ noticed ************/
.mv_noticed_disclaimer{
    padding: 3rem 0rem;
    border-top: 1px solid #d7d7d7;
    color: #525252;
}
.mv_noticed_disclaimer p{
    font-weight: 400;
    line-height: 1.25;
    font-size: .75rem;
    margin-bottom: 0rem;
    margin-top: .5rem;
}
.mv_noticed_disclaimer p a{
    text-wrap: wrap;
    color: #0068b5;
    border-bottom: 1px dashed #0068b5;
}
.mv_noticed_disclaimer p a:hover{
    border-bottom: 1px solid #0068b5;
}
.mv_lammps ul{
    margin-bottom: 0rem;
}
.mv_lammps ul li{
    font-weight: 400;
    font-size: .75rem;
    margin-bottom: 0rem;
}
/*********************************/




@media(max-width:991px){
    /* Intel Xeon */
    .mv_intel_gaudi_3{
        display: none;
    }
    /* Intel Xeon responsive */
    .mv_intel_gaudi_responsive{
        display: block !important;
    }
    .mv_mv_intel_gaudi_3_image img{
        margin-bottom: 1rem;
    }
}

@media(max-width:767px){
    /* Gen */
    .mv_gen_padd{
        display: none;
    }
    /* Gen responsive */
    .mv_mv_gen_intel_res{
       display: block !important;
    }
    /* Reach */
    .mv_reach_padd{
        padding: 2.5rem 0rem;
    }
    .mv_contact_button a{
        width: 100%;
    }
}

@media(max-width:375px){
    /* noticed */
    .mv_noticed_disclaimer p a{
        font-size: 11px;
    }
}