*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none !important;
}
.container{
    max-width: 1610px !important;
}
@media(max-width:1440px){
    .container{
        max-width: 1170px !important;
    }
}
@media(max-width:1199px){
    .container{
        max-width: 970px !important;
    }
}
@media(max-width:991px){
    .container{
        max-width: 750px !important;
    }
}
@media(max-width:768px){
    .container{
        max-width: 750px !important;
    }
}
@media(max-width:425px){
    .container{
        max-width: 390px !important;
    }
}

/* header */
nav{
    position: relative !important;
}

/************** Bgimg **************/
.intel_geti_bg_img {
    align-items: center;
    border-right: 0;
    border-left: 0;
    border-top: 0;
}
.intel_geti_bg_img{
    background-image: url(/img/mv_image/instruction.svg);
    background-color: #262626;
    width: 100% !important;
    object-fit: cover;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 2.5rem 0rem;
}
.mv_performance_item{
    color: #fff;
    text-align: center;
}
.mv_performance_item h1{
    font-weight: 300;
}
/*********************************/

/******** Intel Advanced ********/
.mv_intel_advanced_padd{
    padding: 2.5rem 0rem;
}
.mv_intel_advanced p a{
    font-weight: 700;
    color: #0068b5;
    border-bottom: 1px dashed #0068b5;
}
.mv_intel_advanced p a:hover{
    color: #0068b5;
    border-bottom: 1px solid #0068b5;
}
/*********************************/
