*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none !important;
}
.container{
    max-width: 1610px !important;
}

/* header */
nav{
    position: relative !important;
}

/* ******************************** */
/* Deploy Next Generation  */
.dk_deploy_next_generation{
    background-color: #004A86;
    padding: 5rem 8rem 5rem 4rem;
}
.dk_stroge_with_confidence{
    background: #0068b5;
    color: #fff;
    padding: 2.5rem;
    width: 80%;
}
.dk_stroge_with_confidence h1{
    font-weight: 300;
    letter-spacing: normal;
}

/*********** Nav ************/
.VK_ai_navigation {
    background-color: white;
    border-bottom: 1px solid #d7d7d7;
}
.VK_ai_nav_bar a {
    color: #262626;
    padding: 22px 8px 19px;
    word-break: normal;
    font-weight: 400;
    white-space: nowrap;
    margin-left: 80px;
}
.VK_ai_nav_bar a:hover{
    color: #262626;
}
.VK_ai_navigation.VK_sticky_nav_bar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.VK_active_link {
    position: relative;
    color: #00aeef;
}
.VK_active_link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    background: #00aeef;
}
.VK_ai_nav_bar li a {
    transition: color 0.3s, border-bottom 0.3s;
}
.VK_ai_nav_bar a.active {
    color: #0068b5 !important;
    position: relative;
}
.VK_ai_nav_bar a.active::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    background: #00aeef;
}
/***************************/
/* Intel® VMD */
.dk_intel_vmd{
    background: #f7f7f7;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
/* Transition to NVMe */
.dk_transition_to_nvme{
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.dk_transition_to_nvme h2{
    color: #262626;
    font-weight: 300;
}
/* Powered by Intel® Xeon® Processors */
.dk_powered_by_intel_xeon_processors{
    background-color: #41728a;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}
.dk_underline{
    font-weight: 300;
    color: #fff;
    border-bottom: 1px dashed #fff;
}
.dk_underline:hover{
    color: #fff;
    border-bottom: 1px solid #fff;
}
.dk_powered_by_intel_xeon_processors p{
    color: #fff;
}
.dk_learn{
    color: #0068b5;
    background: #fff;
    border-radius: 0;
    padding: .625rem 1.5rem;
    font-size: 1rem;
    line-height: 1.25;
    border-width: 0;
    white-space: normal;
}
.dk_learn:hover{
    color: #004a86;
    background: #e9e9e9;
}
/* Supported Processors */
.dk_supported_processors{
    background: #f7f7f7;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.dk_supported_processors h2{
    margin-bottom: .5rem;
    font-weight: 300;
    font-style: normal;
    line-height: 1.25;
}
/* Intel® Virtual RAID on CPU */
.dk_intel_virtual_raid_on_cpu{
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #41728A;
}
.dk_intel_virtual_raid_on_cpu h2{
    font-weight: 300;
    font-style: normal;
    color: #fff;  
}
.dk_intel_virtual_raid_on_cpu p{
    color: #fff;
}
/* NVMe for HCI: Intel® VMD Direct Assign */
.dk_nvme_for_hci_intel_vmd_direct_assign{
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.dk_nvme_for_hci_intel_vmd_direct_assign h2{
    font-weight: 300;
    font-style: normal;
}
.dk_view{
    color: #fff;
    background-color: #0068b5;
    border-radius: 0;
    padding: .625rem 1.5rem;
    font-size: 1rem;
    line-height: 1.25;
    border-width: 0;
    white-space: normal;
}
.dk_view:hover{
    color: #fff;
    background-color: #004a86;
}

/* ******************************** */
@media(max-width:1440px){
    .container{
        max-width: 1170px !important;
    }
}
@media(max-width:1199px){
    .container{
        max-width: 970px !important;
    }
    /* Deploy Next Generation  */
    .dk_stroge_with_confidence{
        width: 90%;
    }
}
@media(max-width:991px){
    .container{
        max-width: 750px !important;
    }
}
@media(max-width:767px){
    .container{
        max-width: 750px !important;
    }
    /* Deploy Next Generation  */
    .dk_stroge_with_confidence{
        width: 100%;
    }
    .dk_deploy_next_generation {
        padding: 0rem;
    }
    .dk_stroge_with_confidence {
        padding: 2.5rem 1rem 2.5rem;
    }
    .dk_stroge_with_confidence h1{
        font-size: 1.75rem;
    }
    /* Transition to NVMe  */
    .dk_transition_to_nvme_sub{
        flex-wrap: wrap-reverse !important;
    }
    /* Powered by Intel® Xeon® Processors */
    .dk_learn{
        width: 100%;
    }
    .dk_powered_by_intel_xeon_processors img{
        margin-bottom: 0.5rem;
    }
    /* Intel® Virtual RAID on CPU */
    .dk_intel_virtual_raid_on_cpu_sub{
        flex-wrap: wrap-reverse !important;
    }
    .dk_intel_virtual_raid_on_cpu img{
        margin-bottom: 1rem;
    }
    /* NVMe for HCI: Intel® VMD Direct Assign */
    .dk_view{
        width: 100%;
    }
    .dk_nvme_for_hci_intel_vmd_direct_assign img{
        margin-bottom: 1rem;
    }
}
@media(max-width:425px){
    .container{
        max-width: 390px !important;
    }
}