*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none !important;
}
.container{
    max-width: 1610px !important;
}
/* header */
nav{
    position: relative !important;
}

/************** Bgimg **************/
.intel_geti_bg_img {
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center;
    border-right: 0;
    border-left: 0;
    border-top: 0;
}
.intel_geti_bg_img{
    background-image: url(/img/mv_image/adobestock-171823987.jpeg.rendition.intel.web.1920.1080.jpg);
    width: 100% !important;
    height: 333px;
    object-fit: cover;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.intel_geti_bg_img img{
    display: none;
}
.mv_bannertxb{
    background: #0068B5;
    padding: 1rem 1rem 2.5rem;
    margin-bottom: 2.5rem;
}
.mv_cta_item{
    display: flex;
    align-items: flex-start;
}
.mv_read_ai_acc a{
    color: #0068b5;
    background-color: #fff;
    padding: .5rem 1.5rem;
    display: inline-block;
    text-align: center;
}
.mv_read_ai_acc a:hover{
    color: #0068b5;
    background-color: #E9E9E9;
}
.mv_read_ai_acc a i{
    padding-left: .3rem;
}
.mv_bannertxb h2{
    margin-bottom: 20px !important;
    font-weight: 300;
    color: #fff;
}
.mv_banner_text{
    color: #fff;
    line-height: 1.3;
}
.mv_mobile_img{
    display: none;
}
.mv_mobile_bannertxb{
    display: none;
}
@media(max-width:1440px){
    .intel_geti_bg_img{
        height: 472px;
    }
}
@media only screen and (max-width: 991px) {
    .mv_banner_text{
        font-size: 1.15rem;
        line-height: 1.4;
    }
}
@media(max-width:767px){
    .mv_bannertxb{
        width: 90% !important;
        padding: 1.5rem !important;
    }
    .mv_banner_text{
        font-size: 1.10rem;
        line-height: 1.4;
    }
    .mv_read_ai_acc a{
        width: 100%;
    }
}
@media(max-width:767px){
    .intel_geti_bg_img{
        display: none;
    }
    .mv_mobile_img img{
        width: 100%;
        max-width: 100%;
        height: 0 auto;
    }
    .mv_mobile_img{
        display: block;
    }
    .mv_mobile_bannertxb{
        display: block;
    }
    .mv_bannertxb{
        display: none;
    }
    .mv_mobile_bannertxb{
        padding: 20px 15px;
        background-color: #2B66AF;
    }
    .mv_mobile_bannertxb h2{
        margin-bottom: 15px;
        letter-spacing: 0;
        font-weight: 350;
        font-size: 1.60rem;
        line-height: 1.2;
        color: #fff;
    }
}
@media(max-width:375px){
    .mv_mobile_heading{
        letter-spacing: 7px;
    }
}
@media (min-width:768px){
    .mv_layout_right{
        margin-left: auto;
        padding: 0 3rem;
        width: 58.33% !important;
    }
}
/*********************************/

/******** Maximize Impact ********/
.mv_maximize_bg_color{
    padding: 2rem 0rem;
}
.mv_maximize{
    text-align: center;
}
.mv_maximize h2{
    font-weight: 350;
    margin-bottom: 1rem;
}
.mv_maximize_comntent{
    text-align: center;
}
.mv_headline_font{
    font-size: 7.5rem;
    font-weight: 400;
    display: flex;
    justify-content: center;
    margin-bottom: 0rem;
    color: #005b85;
}
.mv_maximize_bottom{
    font-size: 2.8125rem;
    align-self: center;
    padding: .9375rem 0;
}
/*********************************/

/***** Maximize Impact slider *****/
.mv_maximize_inpect_slider{
    display: none;
}
.owl-dots {
    text-align: center;
    margin-top: 0px !important;
}
.mv_main_spark .owl-dots .owl-dot span {
    width: 12px !important;
    height: 12px !important;
    border-radius: 0px !important;
    margin: 0 5px;
    display: inline-block;
}
.mv_main_spark .owl-dots .owl-dot.active span{
    background-color: #262626 !important;
}
/*********************************/

/******** Intel vRAN Boost ********/
.mv_intel_ran_boost_img{
    padding: 2.5rem 0rem;
    background-image: url(/img/mv_image/newsroom-intel-4th-gen-intel-xeon-home.png.rendition.intel.web.1920.1080.png);
    width: 100% !important;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.mv_intel_ran_boost{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.mv_intel_ran_boost_item{
    color: #fff;
}
.mv_intel_ran_boost_item h2{
    font-weight: 300;
}
.mv_service_button a{
    display: inline-block;
    border-radius: 0;
    padding: .5rem 1.5rem;
    background: #fff;
    color: #0068b5;
}
.mv_service_button a:hover{
    color: #0068b5;
    background-color: #E9E9E9;
}

/* Intel vRAN Boost responsive */
.mv_intel_ran_boost_responsive_bg_color{
    padding: 2.5rem 0rem;
    background-color: #41728A;
}
.mv_intel_ran_boost_item_responsive h2{
    font-weight: 300;
}
.mv_intel_ran_boost_responsive{
    display: none !important;
}
/*********************************/

/******* Scalable Performance *******/
.mv_scalable_padd{
    padding: 2.5rem 0rem;
    background-color: #F7F7F7;
}
.mv_scalabel_heading h2{
    font-weight: 300;
}
.mv_scalabel_heading_content{
    padding: 16px;
}
.mv_scalabel_heading_item h4{
    font-weight: 350;
}
.mv_scalabel_heading_item h4 a{
    color: #0068b5;
}
.mv_scalabel_heading_item h4 a:hover{
    color: #004a86;
    border-bottom: 1px solid #004a86;
}
/*********************************/

/******* Energy Efficient *******/
.mv_support_bg_color{
    padding: 2rem 0 2.5rem;
}
.mv_support_text h2{
    font-weight: 350;
}
.mv_support_img img{
    width: 100%;
}
.mv_AMX_learn_more a{
    color: #fff;
    display: inline-block;
    padding: .5rem 1.5rem;
    background-color: #0068b5;
}
.mv_AMX_learn_more a:hover{
    color: #fff;
    background-color: #004A86;
}
/* *************************** */

/********** Power New **********/
.mv_power_new_img{
    padding: 2.5rem 0rem;
    background-image: url(/img/mv_image/adobestock-335969634.jpeg.rendition.intel.web.1920.1080.jpg);
    width: 100% !important;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.mv_intel_ran_boost_item p a{
    color: #fff;
    border-bottom: 1px dashed #fff;
}
.mv_intel_ran_boost_item p a:hover{
    color: #fff;
    border-bottom: 1px solid #fff;
}
/* *************************** */

/********* Comprehensive *********/
.mv_comprehensive_padd{
    padding: 2.5rem 0rem;
}
/* *************************** */

/********* Supported *********/
.mv_supported_padd{
    padding: 2rem 0 2.5rem;
    background-color: #f7f7f7;
}
.mv_supported_item h2{
    font-weight: 350;
}
.mv_supported_item p a{
    color: #0068b5;
    border-bottom: 1px dashed #0068b5;
}
.mv_supported_item p a:hover{
    color: #004a86;
    border-bottom: 1px solid #004a86;
}
/* *************************** */

/********* Explore More *********/
.mv_explore_more_padd{
    padding: 3rem 0rem;
}
.mv_explore_more_item h3{
    font-weight: 350;
}
.mv_explore_more_item h3 a{
    color: #0068b5;
}
.mv_explore_more_item h3 a:hover{
    color: #004a86;
    border-bottom: 1px solid #004a86;
}
/* *************************** */

/*********** notice ***********/
.mv_underline{
    color: #0068b5;
    border-bottom: 1px dashed #004a86;
}
.mv_underline:hover{
    color: #004a86;
    border-bottom: 1px solid #004a86;
}
/* *************************** */


@media(max-width:1199px){
    /* Maximize Impact */
    .mv_headline_font{
        font-size: 5.5rem;
    }
    .mv_maximize_bottom{
        font-size: 2.1375rem;
    }
}

@media(max-width:991px){
    /* Intel vRAN Boost */
    .mv_intel_ran_boost_img{
        height: 500px;
    }
}
@media(max-width:767px){
    /* Intel vRAN Boost */
    .mv_intel_ran_boost_img{
        display: none;
    }
}

@media(max-width:767px){
    /* Maximize Impact slider */
    .mv_maximize_inpect_slider{
        display: block;
    }
    /* Maximize Impact */
    .mv_maximize_inpect_without_slider{
        display: none !important;
    }
    /* Intel vRAN Boost responsive */
    .mv_intel_ran_boost_responsive{
        display: block !important;
    }
    .mv_service_button{
        text-align: center;
    }
    .mv_service_button a{
        width: 100%;
    }
    /* Energy Efficient */
    .mv_AMX_learn_more p a{
        width: 100%;
    }
    .mv_AMX_learn_more p{
        text-align: center;
    }
    /* Explore More */
}