*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none !important;
}
p{
    line-height: 1.25;
}
.container{
    max-width: 1610px !important;
}
@media(max-width:1440px){
    .container{
        max-width: 1170px !important;
    }
}
@media(max-width:1199px){
    .container{
        max-width: 970px !important;
    }
}
@media(max-width:991px){
    .container{
        max-width: 750px !important;
    }
}
@media(max-width:768px){
    .container{
        max-width: 750px !important;
    }
}
@media(max-width:425px){
    .container{
        max-width: 390px !important;
    }
}

/* header */
nav{
    position: relative !important;
}

/******* custom css *******/
.mv_underline{
    color: #007bff;
}
.mv_underline:hover{
    border-bottom: 1px solid #0056b3;
}
/* ************************ */

/****** VMware Horizon ******/
.mv_vmware_bg_color{
    background-color: #0071C5;
}
.mv_vmware_padd{
    padding: 10px 0 5px 0;
}
.mv_vmware_heading h1{
    font-weight: 250;
    color: #fff;
}
.mv_vmware_download_button{
    display: flex;
    -webkit-box-align: baseline;
    align-items: baseline;
    max-height: 48px;
    position: relative;
    text-align: right;
    margin-top: 9px;
    box-sizing: border-box;
    /* width: 60%; */
}
.mv_vmware_download_button a{
    color: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: #fff;
    border-radius: 0;
    line-height: 1.2;
    background: rgba(0, 0, 0, 0);
    padding: 7.6px;
    position: relative;
    white-space: normal;
    margin-bottom: 10px;
    /* min-width: 113px; */
    display: inline-block;
    text-align: center;
}
.mv_vmware_download_button a:hover{
    background-color: #fff;
    color: #0071C5;
}
.mv_vmware_download_button i{
    margin-left: 6px;
}
.mv_cd_page_marquee{
    display: flex;
    margin-bottom: 5px;
}
.mv_cd_page_marquee label{
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 700;
    color: #fff;
}
.mv_cd_page_marquee p a{
    margin-left: 1.5rem;
    border-bottom: 1px dashed #fff;
    display: inline-block;
    padding-bottom: .375rem;
    margin-bottom: .5rem;
    color: #fff;
}
.mv_cd_page_marquee p a:hover{
    border-bottom: 1px solid #fff;
}
.mv_cd_page_marquee_info{
    display: flex;
    margin-bottom: 3px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
}
.mv_cd_page_marquee_action{
    margin-bottom: 3px;
}
.mv_cd_page_marquee_action_padd{
    display: inline-block;
    margin-right: 3.25rem;
    margin-top: 5px;
    margin-bottom: 20px;
    color: #fff;
}
.mv_cd_page_marquee_action_padd label{
    display: flex;
    font-size: .875rem;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 7px;
}
.mv_cd_page_marquee_action_padd span{
    font-weight: 600;
}
/* **************************** */

/******* Related Assets *******/
.mv_related_assets_heading{
    border-bottom: 1px solid #d7d7d7;
    font-size: 16px;
}
.mv_related_assets_heading p{
    color: #0071c5;
}
.mv_table_list_header{
    color: #262626;
    background-color: #e9e9e9;
    display: flex;
    flex-flow: nowrap;
    justify-content: space-evenly;
    margin-top: 3px;
    font-size: 14px;
    font-weight: bold;
    height: 40px;
}
.mv_table_list_header_title{
    display: flex;
    align-items: center;
    flex-basis: 60%;
}
.mv_table_list_header_metadata_headerformat{
    margin: 0 10px;
    min-width: 100px;
    text-align: center;
    max-width: 100px;
}
.mv_table_list_header_metadata{
    justify-content: space-evenly;
    align-items: center;
    display: flex;
}
.mv_table_list_item{
    padding: 10px 0px 0px 71px;
    display: flex;
    flex-flow: column;
    background-color: #fff;
    margin-bottom: 8px;
}
.mv_table_list_item_header{
    display: flex;
    flex-flow: column;
    color: #262626;
    justify-content: space-between;
    flex-flow: nowrap;
    align-items: flex-start;
}
.mv_table_list_item_header_title{
    align-self: flex-start;
    margin-bottom: 24px;
    flex-basis: 55%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column-reverse;
}
.mv_table_list_item_header_title a{
    color: #0071c5;
    text-decoration: none;
    text-align: left;
    line-height: 20px;
}
.mv_table_list_item_header_itemlist{
    flex-basis: 34%;
    justify-content: space-evenly;
    display: flex;
    align-items: flex-start;
}
.mv_table_list_header_formate{
    margin: 0px 3px 0px 1px;
    min-width: 47px;
    max-width: 47px;
    display: flex;
    flex-flow: row;
    font-size: 14px;
    flex-direction: column;
    color: #262626;
}
.mv_table_list_header_formate span{
    justify-content: space-evenly;
    align-items: center;
    display: flex;
}
.mv_table_list_header_formate a{
    color: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: #fff;
    border-radius: 0;
    line-height: 2.5;
    background: #0068b5;
    position: relative;
    white-space: normal;
    margin-bottom: 10px;
    display: inline-block;
    min-width: 98px;
    text-align: center;
}
.mv_table_list_header_formate a:hover{
    color: #0068b5;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background: #fff;
}
/* ***************************** */

/**** Related Assets responsive ****/
.mv_related_assets{
    padding: 16px 25px 0px 25px;
}
.mv_relkated_link a{
    color: #0068b5;
}
.mv_related_assets_responsive{
    display: none;
}
/* **************************** */



@media(max-width:1199px){
    /* Related Assets */
    .mv_related_assets_without_risponsive{
        display: none;
    }
    /* Related Assets responsive */
    .mv_related_assets_responsive{
        display: block;
    }
}

@media(max-width:991px){
    /* VMware Horizon */
    .mv_vmware_download_button a{
        width: 100% !important;
    }
    .mv_cd_page_marquee_action_padd{
        display: block !important;
    }
}