.mv_main_contact12 {
    width: 83% !important;
}

.mv_main_contact_intel1 {
    background-color: #e7e7e7;
    height: 150px;
}

.mv_con_int1 {
    width: 83% !important;
    /* justify-content: center !important; */
}

.list-group-item {
    border: none;
    padding: 0.5rem 1rem;
}

.list-group-item:hover {
    background-color: #f8f9fa;
}

.list-group-item::after {
    content: ">";
    float: right;
}

.mv_all_option.active {
    z-index: 2 !important;
    color: #000000 !important;
    background-color: #c7f4ff !important;
    border-color: #c7f4ff !important;
}

.mv_access12 {
    border: solid 1px #d7d7d7 !important;
    text-align: center;
}