*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none !important;
}
.container{
    max-width: 1280px !important;
}
@media(max-width:1440px){
    .container{
        max-width: 1280px !important;
    }
}
@media(max-width:1024px){
    .container{
        max-width: 970px !important;
    }
}
@media(max-width:768px){
    .container{
        max-width: 750px !important;
    }
}
@media(max-width:425px){
    .container{
        max-width: 390px !important;
    }
}

@media (max-width: 1199px) {
    .container{
        max-width: 960px !important;
    }
}
@media (max-width: 991px) {
    .container{
        max-width: 720px !important;
    }
}
@media (max-width: 767px) {
    .container{
        max-width: 540px !important;
    }
}


/* @media (min-width: 1200px) {
    .container{
        max-width: 1140px;
    }
} */
/* @media (min-width: 992px) {
    .container{
        max-width: 960px;
    }
} */
/* @media (min-width: 768px) {
    .container{
        max-width: 720px;
    }
} */
/* @media (min-width: 576px) {
    .container{
        max-width: 540px;
    }
} */

/************** Bgimg **************/
.intel_geti_bg_img {
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center;
    height: 400px;
    background-color: #1e1f21;
    border-width: 10px;
    border-style: solid;
    border-right: 0;
    border-left: 0;
    border-top: 0;
    border-image: linear-gradient(90deg, #1db0e2 43.96%, #4ca286 76.55%, #89ad4e 98.99%) 1;
}
.intel_geti_bg_img{
    background-image: url(/img/mv_image/resourcesbanner.webp);
    margin-top: 90px;
    height: 520px;
    width: 100% !important;
    object-fit: cover;
    position: relative;
}
.intel_geti_bg_img img{
    display: none;
}
.mv_bannertxb{
    width: 60%;
    background: #8bae46;
    padding: 2.38em;
    max-width: 700px;
}
.mv_bannertxb .mv_banner_subtitle{
    letter-spacing: 9px;
    font-family: "IntelOne Display" "tahoma", Helvetica, "helvetica", Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #262626;
    margin-bottom: 15px !important;
}
.mv_bannertxb h2{
    margin-bottom: 20px !important;
    font-weight: 500;
    color: #fff;
}
.mv_banner_text{
    color: #fff;
    line-height: 1.3;
    font-size: 1.25rem;
    margin-bottom: 0px;
}
.mv_mobile_img{
    display: none;
}
.mv_mobile_bannertxb{
    display: none;
}
@media(max-width:1440px){
    .intel_geti_bg_img{
        height: 400px;
    }
}
@media only screen and (max-width: 991px) {
    .mv_bannertxb{
        width: 75% !important;
        padding: 2em !important;
    }
    .mv_banner_text{
        font-size: 1.15rem;
        line-height: 1.4;
    }
}
@media(max-width:767px){
    .mv_bannertxb{
        width: 90% !important;
        padding: 1.5rem !important;
    }
    .mv_banner_text{
        font-size: 1.10rem;
        line-height: 1.4;
    }
}
@media(max-width:660px){
    .intel_geti_bg_img{
        display: none;
    }
    .mv_mobile_img img{
        width: 100%;
        max-width: 100%;
        height: 0 auto;
        margin-top: 90px;
    }
    .mv_mobile_img{
        display: block;
    }
    .mv_mobile_img {
        position: relative;
        border-width: 10px;
        border-style: solid;
        border-right: 0;
        border-left: 0;
        border-top: 0;
        border-image: linear-gradient(90deg, #1db0e2 43.96%, #4ca286 76.55%, #89ad4e 98.99%) 1;
        -moz-border-image: linear-gradient(90deg, #1db0e2 43.96%, #4ca286 76.55%, #89ad4e 98.99%) 1;
    }
    .mv_mobile_heading{
        position: absolute;
        left: 15px;
        top: 50%;
        letter-spacing: 9px;
        font-family: "IntelOne Display";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        text-transform: uppercase;
        color: #000;
        margin-bottom: 15px;
        background: #8bae46;
        padding: 10px 20px;
    }
    .mv_mobile_bannertxb{
        display: block;
    }
    .mv_bannertxb{
        display: none;
    }
    .mv_mobile_bannertxb{
        padding: 20px 15px;
        background-color: #8bae46;
    }
    .mv_mobile_bannertxb h2{
        margin-bottom: 15px;
        letter-spacing: 0;
        font-weight: 500;
        font-size: 1.60rem;
        line-height: 1.2;
        color: #fff;
    }
}
@media(max-width:375px){
    .mv_mobile_heading{
        letter-spacing: 7px;
    }
}
/*********************************/

/********* Enhance *********/
.mv_featured_bg_color{
    padding: 50px 0px;
    background-color: #242428;
}
.mv_spark_breadcrumb_items{
    margin: 0;
    display: flex;
    padding: 0;
    list-style: none;
}
.mv_spark_hyperlink{
    color: #00c7fd !important;
}
.mv_spark_hyperlink:hover{
    border-bottom: 1px solid #00c7fd;
}
.mv_breadcrumb{
    padding: 0px 0px 30px;
}
.mv_spark_breadcrumb_item{
    display: inline-flex;
    font-size: 15px !important;
    color: #fff;
}
.mv_spark_breadcrumb_item:not(:first-child):before {
    content: "";
    display: inline-block;
    position: relative;
    transform: skew(-18deg);
    block-size: .78rem;
    inline-size: .08rem;
    margin-inline: 0.38rem;
    background-color: #b7b9be;
    inset-block-start: .35rem;
}

.mv_date_row{
    display: flex;
    justify-content: space-between;
}
.mv_date_box P{
    color: #fff;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.3;
}
.mv_spark_card_vertical_buttons i {
    margin-left: 5px;
    font-size: 20px !important;
    color: #03C7FD !important;
    cursor: pointer;
}
.mv_socialIcon{
    margin-left: auto !important;
}
.mv_enhance_heading h1{
    color: #fff;
    font-size: 2.55rem;
    margin-bottom: 25px;
    line-height: 3.5rem;
    font-weight: 500;
}
.mv_request_trail{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
}
.mv_request_trail button a{
    color: black;
}
.mv_request_trail button{
    font-weight: 500;
    padding: 6px 20px;
    border: none;
    background-color: #00C7FD;
}
.mv_request_trail button:hover {
    background-color: #0095ca;
    transition: 0.2s ease-in-out;
}
.mv_download{
    margin-bottom: 20px;
    margin-top: 10px;
}
.mv_download button a{
    color: black;
}
.mv_download button{
    font-weight: 500;
    padding: 6px 20px;
    border: none;
    background-color: #00C7FD;
}
.mv_download button:hover {
    background-color: #0095ca;
    transition: 0.2s ease-in-out;
}
.mv_enhance_p{
    font-size: 1.25rem;
    color: #fff;
    margin-bottom: 30px;
    line-height: 1.3;
}
.mv_enhance_h2{
    color: #fff;
    font-size: 2.5rem;
    margin-bottom: 15px;
    line-height: 3rem;
    font-weight: 500;
}
.mv_enhance_h3{
    color: #fff;
    font-size: 2rem;
    margin-bottom: 15px;
    line-height: 2.5rem;
    font-weight: 400;
}
.mv_enhance_h4{
    color: #fff;
    font-size: 1.75rem;
    margin-bottom: 15px;
    line-height: 2.5rem;
    font-weight: 400;
}
.mv_enhance_h5{
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 15px;
    line-height: 2rem;
    font-weight: 400;
}
.mv_enhance_ul{
    color: #fff;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 0rem; 
}
.mv_enhance_ul li{
    clear: both;
    padding: 0;
    margin: 0 0 10px 30px;
    list-style: disc;
    font-size: 1.125rem;
    line-height: 1.4;
}
.mv_enhance_ol{
    color: #fff;
    margin-top: 30px;
    margin-bottom: 30px;    
}
.mv_enhance_ol li{
    clear: both;
    padding: 0;
    margin: 0 0 10px 30px;
    font-size: 1.125rem;
    line-height: 1.4;
}
.mv_enhance_a{
    color: #00c7fd;
}
.mv_enhance_a:hover{
    color: #00c7fd !important;
    border-bottom: 2px solid #00c7fd;
}
.mv_enhance_a1{
    color: #00c7fd;
}
.mv_enhance_a1:hover{
    color: #00c7fd !important;
    border-bottom: 1px solid #00c7fd;
}
.mv_line_enhance_a{
    color: #00c7fd !important;
    border-bottom: 2px solid #00c7fd;
}

.mv_related_blog_margin{
    margin-left: 40px;
}
.mv_related_blog{
    padding: 20px;
    margin-bottom: 20px;
    background: #3c3e42 !important;
}
.mv_related_blog h4{
    color: #fff;
    font-size: 1.75rem;
    margin-bottom: 15px;
    line-height: 2.5rem;
    font-weight: 400;
    border-bottom: 1px solid #242528;
    padding-bottom: 10px;
}
.mv_related_ul i{
    font-size: 14px;
    margin-top: 8px;
}
.mv_related_ul{
    color: #fff;
    list-style-type: none;
    padding-left: 0rem;
}
.mv_related_ul li{
    position: relative;
    margin-bottom: 20px;
    padding: 0 0 0 15px;
}
.mv_related_ul li a{
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #fff;
    display: block;
    transition: 0.2s ease-in-out;
}
.mv_related_ul li a:hover {
    color: #00c7fd;
}
.mv_img_caption{
    color: #fff;
    background: #3c3e42;
    padding: 10px;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 30px;
    text-align: center;
}
.mv_video_caption{
    color: #fff;
    background: #3c3e42;
    padding: 10px;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 30px;
}

.mv_computer_vision_table{
    width: 100%;
    margin-bottom: 3rem;
    background-color: transparent;
    color: #fff;
}
.mv_computer_vision_table thead tr{
    font-size: 1.25rem;
    line-height: 1.3;
}
.mv_computer_vision_table thead tr th{
    vertical-align: bottom;
    border: 1px solid #32383e;
    padding: 0.75rem;
}
.mv_computer_vision_table tbody tr td{
    font-size: 1.25rem;
    line-height: 1.3;
}
.mv_computer_vision_table tbody tr td{
    vertical-align: top;
    border: 1px solid #32383e;
    padding: 0.75rem;
}
/*********************************/

/******* Learn More About ********/
.mv_more_about_bg_color{
    padding: 20px 0px 25px;
    background-color: #3c3e42;
}
.mv_more_about{
    text-align: center;
}
.mv_more_about h2{
    margin-bottom: 15px;
    color: #fff;
    font-weight: 400;
}
.mv_more_about p{
    color: #fff;
    font-size: 1.50rem;
    line-height: 1.2;
    margin-bottom: 25px;
}
.mv_more_about_button button a{
    color: black !important;
}
.mv_more_about_button button a i{
    margin-left: 10px;
    font-size: 12px;
}
.mv_more_about_button button{
    font-weight: 500;
    padding: 6px 20px;
    border: none;
    background-color: #00C7FD;
}
.mv_more_about_button button:hover {
    background-color: #0095ca;
    transition: 0.2s ease-in-out;
}
/*********************************/

/******** Enhance Model *********/
.mv_plaform_header button{
    opacity: 1;
}
.mv_plaform_header button:focus{
    box-shadow: none;
}
.mv_plaform_header{
    padding: 18px 40px 18px 30px !important;
}
.mv_platform_title{
    line-height: 1.2 !important;
    font-size: 22px;
}
.mv_platform_body p{
    text-align: center;
    margin-bottom: 0rem;
}
.mv_platform_body p a{
    color: #222;
}
.mv_padshar{
    padding: 10px 0 0;
    display: flex;
    justify-content: center;
}
.mv_custom_button:hover {
    opacity: .7;
}
.mv_custom_button img{
    width: 50px;
    height: 60px;
    margin: 3px 10px 20px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}
.btn-close{
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    z-index: 99;
    font-size: 15px;
    color: #2b2c30;
    line-height: 32px;
}
@media (min-width: 576px) {
    .mv_platform_dialog {
        max-width: 600px !important;
    }
}
@media (max-width: 375px) {
    .mv_platform_body p{
        line-height: 1.2;
    }
    .mv_platform_body p a{
        font-size: 14px;
        line-height: 1;
    }
}
/*********************************/


@media (max-width: 1199px){
    /* Enhance */
    .mv_related_ul li a{
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
        color: #fff;
        display: block;
    }
}

@media (max-width: 1024px){
    /* Learn More About */
    .mv_more_about p{
        width: 60%;
        margin: 0 auto;
        margin-bottom: 25px;
    }
}

@media (max-width: 991px){
    /* Enhance */
    .mv_enhance_heading h1{
        font-size: 2rem !important;
        margin-bottom: 15px;
        line-height: 3rem;
        font-weight: 500;
    }
    .mv_enhance_p{
        font-size: 1.125rem;
        line-height: 1.4;
    }
    .mv_enhance_h2{
        font-size: 1.75rem !important;
        margin-bottom: 15px;
        line-height: 2.5rem;
        font-weight: 500;
    }
    .mv_enhance_h3{
        font-size: 1.5rem !important;
        margin-bottom: 15px;
        line-height: 2.25rem;
        font-weight: 500;
    }
    .mv_enhance_h4{
        font-size: 1.25rem !important;
        margin-bottom: 15px;
        line-height: 2rem;
        font-weight: 500;
    }
    .mv_enhance_h5{
        font-size: 1.25rem !important;
        margin-bottom: 15px;
        line-height: 1.75rem;
        font-weight: 500;
    }
    .mv_related_blog h4{
        font-size: 1.25rem !important;
        margin-bottom: 15px;
        line-height: 2rem;
        font-weight: 500;
    }
}

@media (max-width: 768px){
    /* Learn More About */
    .mv_more_about p{
        width: 100%;
        font-size: 1.3rem;
    }
}

@media (max-width: 767px) {
    /* Enhance Model */
    .mv_spark_card_vertical_buttons i{
        font-size: 1rem !important;
    }
    .mv_related_blog_margin{
        margin-left: 0px;
    }
    .mv_enhance_content{
        flex-wrap: wrap-reverse !important;
    }
    /* Card Pdf */
    .mv_card_pdf{
        display: none;
    }
}

@media (max-width: 575px){
    .mv_compute_vision_task{
        max-width: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
    }
}

@media (max-width: 425px){
    /* Learn More About */
    .mv_more_about p {
        width: 100%;
        font-size: 1rem;
    }
}