*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #242528 !important;
    font-family: IntelOne-TextRegular;
}
.container{
    width: 75% !important;
    height: 100%;
    max-width: 1052px !important;
    margin: auto;
}

/* ****** Welcome to Intel ****** */
.mv_welcome_banner{
    background-color: #0095CA;
    background-size: cover;
    margin: 3rem auto 1rem auto;
    width: 100%;
}
.mv_welcome_banner h2{
    padding-top: 3rem;
    padding-bottom: 1rem;
    text-align: center;
    color: #ffffff;
}
.mv_welcome_banner p{
    padding-bottom: 3rem;
    text-align: center;
    color: #ffffff;
}
.mv_docs_box{
    margin: 1rem auto 1rem auto;
    display: flex;
    gap: 1rem;
    justify-content: center;
}
.mv_docs{
    width: calc((100% - 1* 1rem) / 2);
    background-color: #2e2f32;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-bottom: 1rem;
}
.mv_docs:hover .mv_docs_img {
    background-color: #484a50;
}
.mv_docs:hover{
    background-color: #3c3e42;
}
.mv_docs_img{
    background-color: #3c3e42;
    width: 100%;
    display: flex;
    justify-content: center;
}
.mv_docs_icon{
    padding: 2rem;
    height: 256px;
}
.mv_docs_type{
    color: #00c7fd;
    padding: 1rem 2rem .5rem;
    font-weight: normal;
    margin-bottom: 0px;
}
.mv_info{
    color: #ffffff !important;
    padding: 1rem 2rem;
    text-align: justify;
    margin-bottom: 0px;
    line-height: 1.4;
}
.mv_which_one{
    margin: 0 auto 1rem auto;
    width: 100%;
    background-color: #2e2f32;
    padding-top: .25rem;
    padding-bottom: 1rem;
}
.mv_which_one h4{
    color: #00c7fd;
    padding: 1rem 2rem .5rem;
    font-weight: normal;
    margin-bottom: 0px;
}
.mv_other{
    color: #ffffff !important;
    padding: .5rem 2rem;
    text-align: justify;
    margin-bottom: 0px;
}
.mv_list{
    margin-left: 1.4rem;
}
.mv_list .mv_list_li{
    margin-bottom: 0.5rem;
}
.mv_list_li a{
    color: #00c7fd !important;
    border-bottom: 1px solid #00c7fd;
}
.mv_list_li a:hover{
    color: #6ddcff !important;
    border-bottom: 1px solid #6ddcff;
}
.mv_list p{
    margin-bottom: 0px;
}
/* ******************************** */

/* ************ footer ************ */
.mv_footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1.5rem;
    margin-top: auto;
}
.mv_spark_footer{
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    flex-wrap: wrap;
}
.mv_spark_footer a{
    color: #e3e3e5 !important;
    margin-right: 11px;
}
.mv_spark_footer a:not(:first-child) {
    border-left: 1px solid #6b6e76;
    padding: 0 0 0 13px;
}
.mv_spark_footer a:not(:first-child):hover{
    color: #6ddcff !important;
}
/* ******************************** */




@media(max-width:1024px){
    .mv_docs_icon{
        height: 200px;
    }
}
@media(max-width:768px){
    .mv_docs_box{
        flex-direction: column;
        gap: 1rem;
    }
    .mv_docs_icon{
        height: 256px;
    }
    .mv_docs {
        width: 100%;
    }
}
@media(max-width:425px){
    .mv_docs_icon{
        height: 175px;
    }
    .mv_docs_icon{
        padding: 1rem;
    }
}