* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none !important;
}

.container {
    max-width: 1610px !important;
}



/* @media (max-width: 767px) {
    .container{
        max-width: 540px !important;
    }
} */

/* intel nav */
/* .mv_breadcrumb_bar_wrap{
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
}
.mv_breadcrumb_bar{
    background: #fff;
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
}
.mv_breadcrumb_bar li{
    display: inline-block;
    margin: 0 1em 0;
    flex: 0 0 auto;
}
.mv_breadcrumb_bar li a{
    display: block;
    padding: .66em .15em;
    margin: 1px;
    font-size: .875em;
    line-height: 1.25em;
    color: #0068b5;
    position: relative;
}
.mv_breadcrumb_bar .active a{
    font-weight: 600;
    color: black !important;
}
.mv_menuitem:not(:first-child):before {
    content: "";
    display: inline-block;
    position: relative;
    transform: skew(-18deg);
    block-size: .78rem;
    inline-size: .08rem;
    margin-inline: 0.38rem;
    background-color: #1f50cd;
    inset-block-start: .35rem;
} */

/*********** intel data **********/
.mv_intel_data_bg_color {
    padding: 40px 0px;
    /* background-color: #00285a; */
    background-image: url(/img/mv_image/get-support.svg);
    background-color: #653171;
}

.mv_intel_data_content {
    color: #fff;
    width: 83% !important;
}

.mv_intel_data_content h1 {
    font-weight: 300;
    margin-bottom: 16px;
}

.mv_intel_data_content a {
    color: #fff;
    border-bottom: 1px dashed #fff;
}

.mv_intel_data_content a:hover {
    color: #fff;
    border-bottom: 1px solid #fff;
}

.mv_intel_data_image img {
    width: 100%;
}

.mv_intel_data_respomsive_image img {
    display: none;
}

/*********************************/

/********** Key Features *********/
.mv_key_bg_color {
    background-color: #00285a;
}

.mv_nav_pills_key_features .mv_nav_link_key_features.active {
    background-color: #f7f7f7 !important;
    color: #252525 !important;
}

.mv_nav_pills_key_features .mv_nav_link_key_features {
    font-weight: 600;
    padding: .7rem 1rem;
    color: #fff !important;
    border-radius: 0rem !important;
}

.mv_key_content h1 {
    font-weight: 400;
}

.mv_key_features {
    padding: 2.5rem 0rem;
}

.mv_key_features_gup {
    padding: 15px;
}

.mv_GPU_img img {
    width: 100%;
    margin-bottom: 15px;
}

.mv_GPU h4 {
    font-weight: 400;
}

.mv_GPU p {
    font-weight: 400;
    line-height: 1.2;
}

/*********************************/

/******** Maximize Impact ********/
.mv_maximize_bg_color {
    padding: 2rem 0rem;
    background-color: #0068B5;
}

.mv_maximize {
    text-align: center;
    color: #fff;
}

.mv_maximize h2 {
    font-weight: 400;
}

.mv_maximize_comntent {
    color: #fff;
    text-align: center;
}

.mv_headline_font {
    font-size: 7.5rem;
    font-weight: 400;
    display: flex;
    justify-content: center;
    margin-bottom: 0rem;
}

.mv_maximize_bottom {
    font-size: 3.25rem;
    align-self: self-end;
    padding: .9375rem 0;
}

/*********************************/

/***** Maximize Impact slider *****/
.mv_maximize_inpect_slider {
    display: none;
}

.owl-dots {
    text-align: center;
    margin-top: 0px !important;
}

.mv_main_spark .owl-dots .owl-dot span {
    background: #fff;
    width: 12px !important;
    height: 12px !important;
    border-radius: 0px !important;
    margin: 0 5px;
    display: inline-block;
}

.mv_main_spark .owl-dots .owl-dot.active span {
    background-color: #262626 !important;
}

/*********************************/

/***** Intel Data Center GPU *****/
.mv_center_gpu h2 {
    padding: 1rem 0rem 2rem;
    margin-bottom: 0rem;
    font-weight: 400;
}

.mv_center_gpu_video {
    padding: 5rem 0rem;
}

.mv_GPU_video video {
    width: 100%;
}

/*********************************/

/****** Software and Tools *******/
.software_bg_color {
    padding: 2.5rem 0rem;
    background-color: #F7F7F7;
}

.mv_software_padd {
    padding: 16px;
}

.mv_software_image img {
    width: 100%;
}

.mv_software_content h4 {
    color: #0068B5;
    font-weight: 300;
}

.mv_software_content h4 a:hover {
    border-bottom: 1px solid #0068B5;
}

.mv_software_content p a {
    border-bottom: 1px dashed #0068B5;
}

.mv_software_content p a:hover {
    border-bottom: 1px solid #0068B5;
}

/*********************************/

/************* logo **************/
.mv_logo_bg_color {
    padding-bottom: 30px;
    background-color: #F7F7F7;
}

.mv_all_logo {
    display: flex;
    justify-content: center;
}

.mv_logo img {
    max-width: 170px !important;
    width: 100%;
}

.mv_logo {
    text-align: center;
    padding: 30px 15px;
    /* width: 16.66% !important; */
}

/*********************************/

/************ noticed ************/
.mv_noticed p {
    padding: 3rem 0rem;
    font-weight: 600;
    margin-bottom: 0rem;
}

.mv_noticed_disclaimer {
    padding: 3rem 0rem;
    border-top: 1px solid #d7d7d7;
    color: #525252;
}

.mv_noticed_disclaimer p {
    font-weight: 400;
    line-height: 1.25;
    font-size: .75rem;
    margin-bottom: 0rem;
    margin-top: .5rem;
}

.mv_noticed_disclaimer p a {
    color: #0068b5;
    border-bottom: 1px dashed #0068b5;
}

.mv_noticed_disclaimer p a:hover {
    border-bottom: 1px solid #0068b5;
}

.mv_lammps ul {
    margin-bottom: 0rem;
}

.mv_lammps ul li {
    font-weight: 400;
    font-size: .75rem;
    margin-bottom: 0rem;
}

.mv_signup_button1 {
    padding: 10px 20px 10px 20px;
    border: none;
    color: #0068b5;
}

/*********************************/

.mv_rocket11 img {
    width: 65% !important;
}


.logo-container {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.logo {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.mv_logocont1 img {
    background-color: white !important;
}

.mv_last12 {
    background: linear-gradient(135deg, #0066cc, #4a0080);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mv_standard11 {
    height: 100%;
    background-color: white;
    border: none;
    border-radius: 0px !important;
}

.mv_get_started11 {
    background-color: white !important;
    border-radius: 0px !important;
    color: #0068b5;
}



.faq-header {
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}

.faq-item {
    margin-bottom: 1rem;
}

.faq-question {
    cursor: pointer;
    padding: 1rem;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
}

.faq-answer {
    display: none;
    padding: 1rem;
    border: 1px solid #dee2e6;
    border-top: none;
    border-radius: 0 0 0.25rem 0.25rem;
}

.expand-all {
    cursor: pointer;
    color: #007bff;
    text-decoration: none;
}

.expand-all:hover {
    text-decoration: underline;
}




.mv_nav123 {
    background-color: #0071c5;
}

.mv_breadvrumb1 {
    background-color: #f8f9fa;
    padding: 0.5rem 1rem;
}

.mv_maincontent123 {
    padding: 2rem 0;
}

.mv_subscribe1 {
    background-color: white;
    color: #0071c5;
    border: 1px solid #0071c5;
}

.options-btn {
    background-color: white;
    color: #6c757d;
    border: 1px solid #6c757d;
}

.mv_border_nav11 {
    border-bottom: none !important;
    position: relative;
}

.mv_subscribe_btn123 {
    border: 1px #0068B5 solid !important;
    border-radius: 0px !important;
    color: #0068B5 !important;
}

.mv_subscribe_btn123:hover {
    background-color: #004a86 !important;
    color: white !important;
}

.mv_article_btn123 {
    border: solid 1px #808080 !important;
    border-radius: 0px !important;
}

.mv_main_elevate11 {
    width: 83% !important;
}

.mv_font_elevate {
    font-size: 16px;
}

.mv_font_elevate111 {
    padding-left: 30px;
}

.mv_font_elevate span {
    margin-left: 50px;
}

.mv_tokudos {
    border: solid 1px #808080;
    padding: 10px 20px;
    background-color: white;
}



.comment-banner {
    background-color: #ffc107;
    padding: 15px;
    margin-bottom: 10px;
}

.comment-banner p {
    margin-bottom: 5px;
}

.comment-link {
    color: #0056b3;
    text-decoration: none;
}

.comment-link:hover {
    text-decoration: underline;
}

.mv_glenn_img {
    max-width: 150px;
    height: auto;
}




.mv_input_container1 {
    position: relative;
    width: fit-content;
}

.mv_input_container1 input {
    padding-left: 30px;
    width: 200px;
    margin-bottom: 20px;
}

.mv_input_container1 .icon {
    position: absolute;
    right: 10px;
    top: 32%;
    transform: translateY(-50%);
    color: #007bff;
}

.mv_popular123 {
    border: 1px solid #ddd !important;
}

.mv_view_spaces button {
    background-color: #0071c5 !important;
    border: none !important;
    color: white;
    padding: 7px 20px !important;
}

.mv_view_spaces button:hover {
    background-color: #003c71 !important;
}



.product-card {
    background-color: #f8f9fa;
    border-radius: 4px;
    padding: 15px;
    background-color: #f2f2f2;
}

/* .product-card:hover {
    background-color: #e9ecef;
} */

.product-card a {
    color: #0071c5;
    text-decoration: none;
}

.product-card a:hover {
    text-decoration: underline;
}

@media(max-width:1440px) {
    .container {
        max-width: 1280px !important;
    }

    .mv_elevating_image1 img {
        width: 100%;
    }
}

@media(max-width:1024px) {
    .container {
        max-width: 970px !important;
    }
}

@media(max-width:1199px) {

    /* Maximize Impact */
    .mv_headline_font {
        font-size: 5.5rem;
    }

    .mv_maximize_bottom {
        font-size: 2.1375rem;
    }

    .container {
        max-width: 960px !important;
    }
}

@media(max-width:991px) {

    /* intel data */
    .mv_intel_data_image {
        display: none;
    }

    .mv_intel_data_respomsive_image img {
        display: block;
    }

    .mv_intel_data_respomsive_image img {
        width: 100%;
    }

    .container {
        max-width: 720px !important;
    }
}

@media(max-width:768px) {
    .container {
        max-width: 750px !important;
    }

    .mv_main_elevate11 {
        width: 85% !important;
    }
}

@media(max-width:767px) {

    /* Maximize Impact slider */
    .mv_maximize_inpect_slider {
        display: block;
    }

    /* Maximize Impact */
    .mv_maximize_inpect_without_slider {
        display: none !important;
    }
}

@media(max-width:425px) {
    .container {
        max-width: 390px !important;
    }
}