*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none !important;
}
.container{
    max-width: 1610px !important;
}
@media(max-width:1440px){
    .container{
        max-width: 1170px !important;
    }
}
@media(max-width:1024px){
    .container{
        max-width: 970px !important;
    }
}
@media(max-width:768px){
    .container{
        max-width: 750px !important;
    }
}
@media(max-width:425px){
    .container{
        max-width: 390px !important;
    }
}

/************** Bgimg **************/
.intel_geti_bg_img {
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center;
    /* height: 400px; */
    /* background-color: #1e1f21; */
    /* border-width: 10px; */
    /* border-style: solid; */
    border-right: 0;
    border-left: 0;
    border-top: 0;
    /* border-image: linear-gradient(90deg, #1db0e2 43.96%, #4ca286 76.55%, #89ad4e 98.99%) 1; */
}
.intel_geti_bg_img{
    background-image: url(/img/mv_image/edge-platform-lp-header-graphic.jpg.rendition.intel.web.1920.1080.jpg);
    width: 100% !important;
    height: 305px;
    object-fit: cover;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.intel_geti_bg_img img{
    display: none;
}
/* .mv_layout_right{
    margin-left: auto;
    padding: 0 3rem;
    width: 58.33% !important;
} */
@media (min-width:768px){
    .mv_layout_right{
        margin-left: auto;
        padding: 0 3rem;
        width: 58.33% !important;
    }
}
.mv_bannertxb{
    background: #42728A;
    padding: 1rem 1rem 2.5rem;
    margin-bottom: 2.5rem;
}
.mv_cta_item{
    display: flex;
    align-items: flex-start;
}
/* .mv_cta_item:after{
    background: #86b3ca;
}
.mv_cta_item:after{
    content: "";
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    bottom: 3.1rem;
} */
.mv_bannertxb h2{
    margin-bottom: 20px !important;
    font-weight: 400;
    color: #fff;
}
.mv_banner_text{
    color: #fff;
    line-height: 1.3;
    font-size: 1.25rem;
    margin-bottom: 0px;
}
.mv_mobile_img{
    display: none;
}
.mv_mobile_bannertxb{
    display: none;
}
@media(max-width:1440px){
    .intel_geti_bg_img{
        height: 400px;
    }
}
@media only screen and (max-width: 991px) {
    .mv_banner_text{
        font-size: 1.15rem;
        line-height: 1.4;
    }
}
@media(max-width:767px){
    .mv_bannertxb{
        width: 90% !important;
        padding: 1.5rem !important;
    }
    .mv_banner_text{
        font-size: 1.10rem;
        line-height: 1.4;
    }
}
@media(max-width:767px){
    .intel_geti_bg_img{
        display: none;
    }
    .mv_mobile_img img{
        width: 100%;
        max-width: 100%;
        height: 0 auto;
    }
    .mv_mobile_img{
        display: block;
    }
    .mv_mobile_bannertxb{
        display: block;
    }
    .mv_bannertxb{
        display: none;
    }
    .mv_mobile_bannertxb{
        padding: 20px 15px;
        background-color: #4D7188;
    }
    .mv_mobile_bannertxb h2{
        margin-bottom: 15px;
        letter-spacing: 0;
        font-weight: 500;
        font-size: 1.60rem;
        line-height: 1.2;
        color: #fff;
    }
}
@media(max-width:375px){
    .mv_mobile_heading{
        letter-spacing: 7px;
    }
}
/*********************************/

/* ************ Nav ************/
.VK_ai_navigation {
    background-color: white;
    border-bottom: 1px solid #d7d7d7;
}
.VK_ai_nav_bar a {
    color: #262626;
    padding: 22px 8px 19px;
    word-break: normal;
    font-weight: 400;
    white-space: nowrap;
    margin-left: 80px;
}
.VK_ai_nav_bar a:hover{
    color: #262626;
}
.VK_ai_navigation.VK_sticky_nav_bar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.VK_active_link {
    position: relative;
    color: #00aeef;
}
.VK_active_link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    background: #00aeef;
}
.VK_ai_nav_bar li a {
    transition: color 0.3s, border-bottom 0.3s;
}
.VK_ai_nav_bar a.active {
    color: #0068b5 !important;
    position: relative;
}
.VK_ai_nav_bar a.active::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    background: #00aeef;
}
/* *************************** */

/* ****** build and video *****/
.mv_overview{
    justify-content: center;
}
.mv_overview_text{
    padding: 3rem 0rem;
}
.mv_overview_text h2{
    margin-bottom: .5rem;
    font-weight: 400;
    text-align: center !important;
}
.mv_overview_text p{
    text-align: center;
    margin-bottom: 0rem;
}
.mv_overview_content{
    position: relative;
    padding: 2rem 0px;
}
.mv_overview_content img{
    width:100%;
    position: absolute;
}
.mv_overview_content i{
    position: absolute;
    color: white;
    font-size: 60px;
    top: 48%;
    left: 48%;
}
.mv_overview_content video{
    width: 100%;
}
/* *************************** */

/********* capability *********/
.mv_capability_padd{
    padding: 3rem 0rem;
}
.mv_capability h2{
    text-align: center;
    font-weight: 400;
    margin-bottom: 1rem;
}
.mv_capability_item{
    margin-bottom: 2rem;
}
.mv_capability_item h5{
    font-weight: 700;
}
/* *************************** */

/******* Success Stories *******/
.mv_success_bg_color{
    background: linear-gradient(90deg, #040E35 0%, #040E35 30%, #0D7275 100%) !important;
}
.mv_success_stories{
    padding: 40px 0px;
}
.mv_success_stories_heading h2{
    color: #fff;
    font-weight: 400;
    text-align: center;
}
.mv_success_stories_heading p{
    color: #fff;
    font-weight: 400;
    text-align: center;
}
.mv_prediction_content{
    padding: 16px;
}
.mv_prediction_content img{
    width: 100%;
    margin-bottom: 1rem;
}
.mv_prediction_content h4{
    color: #fff !important;
    font-weight: 300 !important;
    cursor: pointer;
    line-height: 1.3;
}
.mv_prediction_content h4 a{
    border-bottom: 1px dashed #fff;
}
.mv_prediction_content h4 a:hover{
    border-bottom: 2px solid #fff;
}
.mv_prediction_content p{
    color: #fff;
    line-height: 1.25;
    margin-top: 10px;
    margin-bottom: .75rem;
}
.mv_case_study a{
    color: #0068b5;
    display: inline-block;
    padding: .625rem 1.5rem;
    background-color: #fff;
}
.mv_case_study a:hover{
    color: #0068b5;
    background-color: #E9E9E9;
}
/* *************************** */

/********** Footer ************/
.mv_footer_bg_color{
    background-color: #E7E7E7;
    padding: 35px 0px 40px;
}
.mv_main_footer{
    align-content: center !important;
}
.mv_footer_logo img{
    width: 5rem;
}
.mv_footer_linkbox{
    padding-left: 2.6rem;
}
.mv_footer_link{
    margin-top: 30px;
    margin-bottom: 11px;
    padding-left: 0rem !important;
}
.mv_footer_link li{
    padding: .5em 0;
    font-size: 16px;
    line-height: 20px;
    display: block;
    transition: 0.2s all ease-in-out;
    display: inline-block;
    padding: .5em 0;
    margin: 0 1rem 15px 0;
}
.mv_footer_link li a{
    color: black !important;
}
.mv_footer_link li a:hover{
    border-bottom: 1px solid black;
}
.mv_footer_socalicon{
    display: flex;
    list-style-type: none;
    padding-left: 0rem !important;
}
.mv_footer_socalicon li{
    margin-right: 2em !important;
    margin-bottom: 10px !important;
    display: inline-block;
    padding: .5em 0;
    margin: 0 1rem 15px 0;
}
.mv_footer_socalicon li a{
    color: black !important;
}
.mv_footer_socalicon li i{
    font-size: 20px;
}
.mv_footer_secondary_links{
    font-size: .9rem;
    margin-bottom: 0;
    margin-top: 0;
    /* display: flex; */
    list-style-type: none;
    padding-left: 0rem !important;
}
.mv_footer_secondary_links li{
    display: inline-block;
    padding: .5em 0;
    margin: 0 1rem 15px 0;
}
.mv_footer_secondary_links li a{
    color: black;
    line-height: 14px;
    font-size: .9rem;
    margin-bottom: 0;
    border-left: 1px solid #262626;
    padding: 0 0 0 13px;
}
.mv_footer_secondary_links li small:hover{
    border-bottom: 1px solid black;
}
.mv_footer_secondary_links li a small:hover{
    border-bottom: 1px solid black;
}
.mv_footer_disclaimer p{
    font-size: 12px !important; white-space: normal;
    line-height: 1.25;
    margin: 0 0 11px;
}
.mv_footer_disclaimer p a{
    color: black;
}
@media(max-width:767px){
    .mv_footer_link{
        margin-top: 0px;
        display: block;
    }
    .mv_footer_link li{
        width: 100% !important;
    }
    .mv_footer_secondary_links{
        font-size: .9rem;margin-bottom: 0;
        margin-top: 0;
    }
    .mv_footer_secondary_links li{
        width: 44% !important;
        padding: 8px 0;
        display: inline-block;
    }
    .mv_footer_disclaimer{
        margin-top: 50px;
    }
    .mv_footer_linkbox {
        padding-left: 0rem;
    }
    .mv_footer_swap{
        flex-wrap: wrap-reverse !important;
    }
    .mv_footer_logo img{
        padding: 25px 0px;
    }
    .mv_footer_link li {
        margin: 0 0rem 5px 0;
    }
    .mv_footer_secondary_links li small{
        font-size: .7rem !important;
    }
}
@media (max-width:425px){
    .mv_footer_logo{
        padding: 25px 0px;
    }
}
@media (max-width:320px){
    .mv_footer_secondary_links li{
        width: 100% !important;
    }
    .mv_footer_secondary_links li {
        margin: 0 0rem 0px 0;
    }
}
/*********************************/

@media(max-width:1200px){
    /* capability */
    .mv_capability_item h5{
        font-size: 1.125rem;
    }
}

@media(max-width:425px){
    /* Success Stories */
    .mv_prediction_content{
        margin-bottom: 30px;
    }
}