*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none !important;
}
.container{
    max-width: 1280px !important;
}
@media(max-width:1440px){
    .container{
        max-width: 1280px !important;
    }
}
@media(max-width:1024px){
    .container{
        max-width: 970px !important;
    }
}
@media(max-width:768px){
    .container{
        max-width: 750px !important;
    }
}
@media(max-width:425px){
    .container{
        max-width: 390px !important;
    }
}

@media (max-width: 1199px) {
    .container{
        max-width: 960px !important;
    }
}
@media (max-width: 991px) {
    .container{
        max-width: 720px !important;
    }
}
@media (max-width: 767px) {
    .container{
        max-width: 540px !important;
    }
}


/* @media (min-width: 1200px) {
    .container{
        max-width: 1140px;
    }
} */
/* @media (min-width: 992px) {
    .container{
        max-width: 960px;
    }
} */
/* @media (min-width: 768px) {
    .container{
        max-width: 720px;
    }
} */
/* @media (min-width: 576px) {
    .container{
        max-width: 540px;
    }
} */


/************** nav ****************/
.navbar{
    background-color: #242528 !important;
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
}
.mv_nav_img img{
    width: 80px;
}
.navbar{
    height: 90px;
    border-width: 10px;
    border-style: solid;
    border-right: 0;
    border-left: 0;
    border-bottom: 0;
    border-image: linear-gradient(90deg, #1db0e2 43.96%, #4ca286 76.55%, #89ad4e 98.99%) 1;
}
.mv_main_menu{
    display: flex;
    text-align: center;
    margin-bottom: 0rem !important;
    /* list-style-type: none; */
    /* padding-left: 0px !important; */
}
.mv_main_menu li{
    display: flex;
    align-items: center;
    margin-right: 10px;
    color: #fff;
}
.mv_main_menu li a{
    padding: 0 10px;
    block-size: 70px;
    display: flex;
    align-items: center;
    font-size: 17px;
    text-transform: capitalize;
    color: #fff;
    line-height: 23px;
    position: relative;
    /* border-bottom: 4px solid #00c7fd; */
}
.mv_header_padd{
    padding: 0px 10px;
}
.mv_main_menu li i{
    color: #fff !important;
    margin-left: 5px;
}
/* .mv_main_menu li:last-child{
    margin-left: auto;
} */
.mv_nav_btn button a{
    color: black;
}
.mv_nav_btn button{
    font-weight: 500;
    padding: 6px 20px;
    border: none;
    background-color: #00C7FD;
    margin-inline-end: 15px !important;
}
.mv_nav_btn{
    margin-left: auto;
}
.mv_nav_btn button:hover {
    background-color: #0095ca;
    transition: 0.2s ease-in-out;
}

.mv_main_menu li{
    /* display: inline-block; */
    position: relative;
}
.mv_sub_menu{
    position: absolute;
    min-width: 220px;
    top: 100%;
    left: 0;
    padding: 15px 35px;
    z-index: -1;
    background: #2e2f32;
    box-shadow: 0 2px 4px rgba(4, 4, 4, .38);
    border-radius: 3px;
    display: none;
}
.mv_sub_menu ul{
    padding-left: 0px !important;
}
.mv_sub_menu li{
    color: #fff !important;
    /* width: 150px; */
    text-align: left;
    margin-right: 0px !important;
}
.mv_sub_menu li a{
    padding: 10px 0px !important;
    block-size: 40px;
    transition: 0.2s all ease-in-out;
}
.mv_main_menu li:hover .mv_sub_menu{
    display: block !important;
}
.mv_sub_menu li a:hover{
    color: #00c7fd !important;
}

@media screen and (max-width: 991px) {
    .mv_main_menu li a{
        padding: 0 3px;
        font-size: 14px;
    }
    .mv_header_padd{
        padding: 0px;
    }
    .mv_main_menu li {
        margin-right: 5px;
    }
}
/*********************************/

/********** Offcanvas ************/
.navbar-toggler:focus {
    box-shadow: none !important;
}
.offcanvas-header{
    display: none !important;
    padding: 0px !important;
    align-content: center !important;
}
.btn-close{
    color: black !important;
}
.offcanvas{
    display: none !important;
}

@media screen and (max-width: 1024px) {
    .mv_main_menu {
        padding-left: 10px !important;
    }
}
@media screen and (max-width: 767px) {
    .offcanvas{
        display: block !important;
    }
    .btn-close:focus{
        box-shadow: none !important;
        color: #fff !important;
    }
    .mv_nav_btn button{
        margin-inline-end: 5px !important;
    }
    .mv_header{
        display: none !important;
    }
    .modal-backdrop.show {
        opacity: 0 !important;
    }
    .offcanvas-end{
        top: 90px !important;
        width: 100% !important;
    }
    .offcanvas-header{
        margin-left: auto !important;
    }
    .offcanvas-body{
        padding: 0px !important;
    }
    /* .mv_offcanvas ul{
        padding-left: 0px !important;
    } */
    .offcanvas{
        background: #2e2f32 !important;
        color: #fff;
    }
    /* .mv_offcanvas ul{
        list-style-type: none;
        margin-bottom: 0px !important;
    } */
    .offcanvas-header .btn-close{
        color: #fff !important;
    }
    .offcanvas-header{
        display: block !important;
    }
    .offcanvas-header .btn-close{
        margin-top: 0px !important;
    }
    .offcanvas-header button{
        background-color: black !important;
        color: #fff !important;
        padding: 5px 10px;
    }



    .offcanvas{
        overflow-x: scroll;
    }
    .nav-link {
        color: #fff !important;
        padding: 0px !important;
    }
    .navbar-nav .nav-item a{
        padding: 13px 0 13px 20px !important;
    }
    .navbar-nav .nav-item {
        display: block;
        float: left;
        width: 100%;
        margin: 0;
        text-align: left;
        color: #fff;
        border-top: 1px solid rgba(255, 255, 255, .12);
        text-decoration: none;
        text-transform: capitalize;
        font-size: 18px;
        box-sizing: border-box;
        position: relative;
        z-index: 9;
    }
    .dropdown-menu{
        color: #fff !important;
        padding: 0px !important;
        background-color: #2E2F32 !important;
        margin-top: 20px !important;
        border: none !important;
    }
    .mv_dropdow_header li a{
        color: #fff !important;
    }
    .mv_dropdow_header li{
        color: #fff;
        padding: 8px 35px;
        border-top: 1px solid rgba(255, 255, 255, .25);
        opacity: .75;
        filter: alpha(opacity = 75);
        text-shadow: none !important;
        visibility: visible;
        position: relative;
    }
    .mv_dropdow_header{
        list-style: none;
        padding-left: 0rem;
        display: none;
    }
    .mv_mv:hover .mv_dropdow_header{
        display: block;
    }
}
@media (max-width: 425px){
    .navbar-toggler {
        padding: .25rem 0.50rem !important;
    }
}
/***********************************/

/************** Bgimg **************/
.intel_geti_bg_img {
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center;
    height: 400px;
    background-color: #1e1f21;
    border-width: 10px;
    border-style: solid;
    border-right: 0;
    border-left: 0;
    border-top: 0;
    border-image: linear-gradient(90deg, #1db0e2 43.96%, #4ca286 76.55%, #89ad4e 98.99%) 1;
}
.intel_geti_bg_img{
    background-image: url(/img/mv_image/imghomepage.webp);
    margin-top: 90px;
    height: 675px;
    width: 100% !important;
    object-fit: cover;
}
.mv_mobile_img img{
    display: none;
}
@media (min-width: 1551px) and (max-width: 1900px) {
    .intel_geti_bg_img{
        height: 600px;
    }
}
@media (min-width: 1400px) and (max-width: 1550px) {
    .intel_geti_bg_img{
        height: 540px;
    }
}
@media (min-width: 1269px) and (max-width: 1399px) {
    .intel_geti_bg_img{
        height: 500px;
    }
}
@media (min-width: 1181px) and (max-width: 1270px) {
    .intel_geti_bg_img{
        height: 460px;
    }
}
@media (min-width: 992px) and (max-width: 1180px) {
    .intel_geti_bg_img{
        height: 385px;
    }
}
@media only screen and (max-width: 991px) {
    .intel_geti_bg_img{
        height: 300px;
    }
}
@media (max-width: 767px){
    .intel_geti_bg_img{
        display: none;
    }
    .mv_mobile_img img{
        display: block;
    }
    .mv_mobile_img img{
        width: 100%;
        max-width: 100%;
        height: auto;
        margin-top: 90px;
    }
    .mv_mobile_img {
        position: relative;
        border-width: 10px;
        border-style: solid;
        border-right: 0;
        border-left: 0;
        border-top: 0;
        border-image: linear-gradient(90deg, #1db0e2 43.96%, #4ca286 76.55%, #89ad4e 98.99%) 1;
        -moz-border-image: linear-gradient(90deg, #1db0e2 43.96%, #4ca286 76.55%, #89ad4e 98.99%) 1;
    }
}
/*********************************/

/********** Get started **********/
.mv_get_started_bg_color{
    background-color: #3C3E42;
}
.mv_get_started{
    padding: 20px 0px 25px;
    display: flex;
    justify-content: center;
}
.mv_get_started h4{
    font-weight: 400;
    color: #fff;
}
.mv_request_trail button a{
    color: black;
}
.mv_request_trail button{
    font-weight: 500;
    padding: 6px 20px;
    border: none;
    background-color: #00C7FD;
    margin-left: 10px;
}
.mv_request_trail button:hover {
    background-color: #0095ca;
    transition: 0.2s ease-in-out;
}
/*********************************/

/********* Geti Software *********/
.mv_geti_software_bg_color{
    padding: 50px 0px;
    background-color: #2E2F32;
}
.mv_geti_software_video{
    margin-right: 50px;
}
.mv_geti_software_video video{
    width: 100%;
    border:5px solid #3C3E42;
}
.mv_geti_software_content h2{
    color: #fff;
    font-weight: 400;
    margin-bottom: 25px;
}
.mv_geti_software_content p{
    color: #fff;
    margin-bottom: 35px;
    font-size: 1.25rem;
    line-height: 1.2;
}
.mv_learn_more_content{
    justify-content: space-between;
    align-items: center;
}
.mv_learn_more button a{
    color: #fff;
}
.mv_learn_more button a i{
    margin-left: 10px;
    font-size: 12px;
}
.mv_learn_more button{
    font-weight: 500;
    padding: 6px 20px;
    border: none;
    background-color: transparent;
    border: 1px solid #fff;
}
.mv_learn_more button:hover {
    background-color: #585a62;
    transition: 0.2s ease-in-out;
}
.mv_vector_img{
    display: flex;
}
.mv_vector_img img{
    width: 39px;
    height: 22px;
    font-weight: 300;
    cursor: pointer;
}
.mv_vector_img i{
    margin-top: 5px;
    margin-left: 5px;
    font-size: 20px;
    color: #03C7FD !important;
    cursor: pointer;
}
/* platform */
.mv_plaform_header button{
    opacity: 1;
}
.mv_plaform_header button:focus{
    box-shadow: none;
}
.mv_platform_body p{
    text-align: center;
    margin-bottom: 0rem;
}
.mv_platform_body p a{
    color: #222;
}
.mv_padshar{
    padding: 10px 0 0;
    display: flex;
    justify-content: center;
}
.mv_custom_button:hover {
    opacity: .7;
}
.mv_custom_button img{
    width: 50px;
    height: 60px;
    margin: 3px 10px 20px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}
@media (min-width: 576px) {
    .mv_platform_dialog {
        max-width: 600px !important;
    }
}
@media (max-width: 375px) {
    .mv_platform_body p{
        line-height: 1.2;
    }
    .mv_platform_body p a{
        font-size: 14px;
        line-height: 1;
    }
}
/*********************************/


/********* Scaling Edge *********/
.mv_scaling_edge_bg_color{
    padding: 50px 0px;
    background-color: #242428;
}
.mv_scaling_edge{
    color: #fff;
    padding-right: 3rem !important;
}
.mv_scaling_edge h2{
    margin-bottom: 1.5rem;
    font-weight: 400;
}
.mv_scaling_edge p{
    font-size: 1.25rem;
    line-height: 1.2;
    margin-bottom: 25px;
}
.mv_scaling_edge_btn button a{
    color: black;
}
.mv_scaling_edge_btn button{
    font-weight: 500;
    padding: 6px 20px;
    border: none;
    background-color: #00C7FD;
}
.mv_edge_platform{
    padding-left: 3rem !important;
}
.mv_scaling_edge_btn button:hover {
    background-color: #0095ca;
    transition: 0.2s ease-in-out;
}
.mv_industry_solutions_img{
    position: relative;
}
.mv_industry_solutions_img img{
    width: 100%;
    /* margin-bottom: 10px; */
}
.mv_plaform_logo{
    text-align: center;
}
.mv_industry_solutions_img h3 {
    font-weight: 400;
    font-size: 22px;
    line-height: 24px;
    position: absolute;
    top: -3px;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 10px 20px;
}
/********************************/

/********* Rich Feature *********/
.mv_rich_feature_bg_color{
    background-color: #2E2F32;
    padding: 50px 0px;
}
.mv_rich_feature h4{
    color: #03C7FD;
    padding-left: 15px;
    border-left: 3px solid #00c7fd;
    margin-bottom: 15px;
}
.mv_rich_feature h2{
    color: #fff;
    font-weight: 400;
    margin-bottom: 2rem !important;
}

/* navs & tabs */
.mv_navs_and_tabs{
    margin-top: 30px !important;
}
.mv_rich_nav{
    padding-left: 0.8rem !important;
}
.mv_nav_link{
    color: #fff !important;
    text-align: left !important;
    padding: 15px 15px !important;
    transition: transform 1s !important;
    margin-bottom: 8px !important;
}
.mv_nav_pills .mv_nav_link.active, .mv_nav_pills .show>.mv_nav_link {
    background-color: #484A50 !important;
    transform: scale(1.02);
    box-shadow: 0 0 12px 8px #222;
}
.mv_nav_link:hover{
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: 0 0 12px 8px #222;
}
.mv_nav_pills .mv_nav_link {
    border-radius: 0rem !important;
}

/* image */
.mv_smart{
    align-content: center;
}
.mv_smart_img img{
    height: 40px;
    width: 40px;
    margin-right: 20px;
}
.mv_smart_text{
    align-content: center;
}
.mv_smart_text p{
    margin-bottom: 0px !important;
    font-size: 1.25rem !important;
    font-weight: 500;
}

/* hover img */
.mv_smart_hover_img img{
    height: 40px;
    width: 40px;
    margin-right: 20px;
}
.mv_smart_hover_img{
    display: none;
}
.mv_nav_link:hover .mv_smart_hover_img{
    display: block !important;
}
.mv_nav_link:hover .mv_smart_img{
    display: none !important;
}

/* video */
.mv_smart_annotation video{
    width: 100%;
    border:5px solid #3C3E42;
}
.mv_smart_annotation p{
    font-size: 1.25rem;
    line-height: 1.3;
    margin-bottom: 25px;
    margin-bottom: 0rem !important;
    color: #fff;
}

/* accordion */
.mv_rich_accordion{
    border: none !important;
    display: none;
}
.accordion-button {
    background-color: #2E2F32 !important;
}
.mv_accordion_rich_item:first-of-type .accordion-button {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}
.mv_accordion_rich_item:last-of-type .accordion-button.collapsed {
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}
.mv_accordion_rich_item {
    border: none !important;
}
.mv_accordion_rich_button:focus {
    box-shadow: none !important;
}
.mv_accordion_rich_button::after{
    background-image: none !important;
}
.mv_accordion_rich_button:not(.collapsed)::after{
    background-image: none !important;
}
.mv_smart_text p{
    color: #fff !important;
}
.collapse{
    padding-top: 10px !important;
    background-color: #242528;
}
.collapse .mv_smart_annotation video{
    border-bottom: none !important;
}
.accordion-button:not(.collapsed) {
    background: #484a50 !important;
    transform: inherit !important;
    box-shadow: 0 0 12px 8px #222 !important;
}
.accordion-button:focus{
    transition: transform 1s !important;
}
.accordion-button:focus:not(:focus-visible) {
    transform: scale(1.02) !important;
    box-shadow: 0 0 12px 8px #222 !important;
}
.mv_accordion_rich_item:hover .mv_smart_hover_img{
    display: block !important;
}
.mv_accordion_rich_item:hover .mv_smart_img{
    display: none !important;
}

@media (max-width: 1180px){
    .nav{
        display: none !important;
    }
    #v-pills-tabContent{
        display: none !important;
    }
    .mv_rich_accordion{
        display: block !important;
    }
}
/*********************************/

/******** Computer Vision *********/
.mv_computer_vision_bg_color{
    padding: 50px 0px;
    background-color: #242428;
}
.mv_computer_vision_video{
    justify-content: center !important;
}
.mv_computer_vision_video video{
    width: 70%;
    border:5px solid #3C3E42;
}
.mv_label{
    display: flex;
    justify-content: center ;
}
.mv_item_botom{
    padding: 15px 26px;
    border: 1px solid #3c3e42;
    margin-right: 11px;
    margin-top: 7px;
    width: 19% !important;
    cursor: default;
    transition: transform 1s;
    margin-top: 10px !important;
}
.mv_item_botom:hover {
    border: 1px solid #585a62;
    transform: scale(1.02);
    box-shadow: 0 0 12px 8px #1c1c1c;
}
.mv_compu_vis_thumsli h4{
    color: #fff;
}
.mv_compu_vis_thumsli p{
    color: #fff;
    margin-bottom: 0rem !important;
}
/*********************************/

/*********** Trusted by ***********/
.mv_trusted_by_bg_color{
    padding: 50px 0px;
    background-color: #2E2F32;
}
.mv_trusted_by h2{
    color: #fff;
    font-weight: 400;
    margin-bottom: 2rem ;
}
.mv_propertyboximg{
    padding: 10px;
    background: #fff;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 230px;
    height: 120px;
}
/* .owl-item{
    width: 230px !important;
    margin-right: 25px !important;
} */
/*********************************/

/********** Testimonials *********/
.mv_testimonials_bg_color{
    padding: 50px 0px;
    background-color: #242428;
}
.mv_testimonials h2{
    margin-bottom: 15px;
    color: #fff;
    font-weight: 400;
}
.mv_testimonials p{
    color: #fff;
    font-size: 1.50rem;
    line-height: 1.2;
    margin-bottom: 2.5rem;
}
.mv_main_spark{
    justify-content: space-between;
}
.mv_spark_card{
    width: 100% !important;
    border: 1px solid #3f3d45;
    transition: transform 1s;
    /* margin-right: 30px !important; */
}
.mv_spark_card:hover{
    transform: scale(1.02);
    box-shadow: 0 0 12px 8px #1c1c1c;
}
.mv_testimonial_box{
    height: 340px;
}
.mv_testimonial_img{
    padding: 20px;
}
.mv_quotes_box{
    border-radius: 50%;
    margin-bottom: 25px;
    background: #424242 !important;
    height: 70px !important;
    width: 70px !important;
    padding-top: 20px;
}
.mv_quotes_box img{
    width: 60% !important;
    margin-left: 12px !important;
}
.mv_testimonial_img p {
    font-size: 1.25rem;
    line-height: 1.2;
    margin-bottom: 0px;
}
.mv_spark_card_vertical_information{
    padding: 16px;
    block-size: 160px;
}
.spark_card_vertical_description{
    border-top: 1px solid #3f3d45;
    padding-top: 20px;
    color: #fff;
}
.mv_title{
    font-size: 1.4rem;
    color: #32c9f8;
    margin-bottom: 15px;
}
/*********************************/

/******* Featured Resources *******/
.mv_featured_bg_color{
    padding: 50px 0px;
    background-color: #2E2F32;
}
.mv_industriestexbox{
    height: 565px;
}
.mv_spark_card_featured{
    background: #242528;
    overflow: hidden;
    position: relative;
    border: 1px solid #3c3e42;
    width: 396.667px !important;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}
.mv_imgboxhiden{
    overflow: hidden;
}
.mv_spark_card_featured_img{
    background-image: url(/img/mv_image/brand-photography-library-71-fill-500x281-1.png);
    height: auto;
    background-repeat: no-repeat !important;
    overflow: hidden;
    transform: scale(1);
    transition: all 0.2s;
    aspect-ratio: 424 / 239;
    height: auto;
    background-color: #3c3e42;
    display: grid;
    inline-size: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
}
.mv_spark_card_featured:hover .mv_industrie_overlay{
    top: 0;
}
.mv_industrie_overlay{
    /* position: absolute; */
    flex-grow: 1;
    bottom: -230px !important;
    left: 0;
    right: 0;
    background: #242428;
    overflow: hidden;
    width: 100%;
    height: 200px;
    transition: 0.5s ease;
    block-size: inherit;
    inline-size: 100%;
    /* block-size: 268px; */
    block-size: inherit !important;
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}
.mv_spark_card_titles{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    inline-size: 100%;
}
.mv_spark_card_titles p {
    display: inline-block;
    font-size: 14px;
    line-height: 15px;
    padding: 6px 10px;
    border: 1px solid #6a6d75;
    margin-bottom: 20px;
    width: max-content;
}
.mv_spark_card_metrics{
    color: #fff;
    font-size: 1.50rem;
    line-height: 1.2;
    font-weight: 500;
    cursor: pointer;
}
.mv_spark_card_metrics:hover{
    color: #00c7fd !important; 
}
.mv_spark_card_description{
    min-block-size: auto;
    color: #fff;
}
.mv_spark_card_description .mv_dated{
    color: #fff;
    font-size: 1.25rem;
    line-height: 1.2;
    font-weight: 500;
}
.mv_spark_card_description .mv_textellipsis{
    color: #fff;
    font-size: 1.25rem;
    line-height: 1.2;
    height: 80px;
    margin-bottom: 0px;
}
.mv_spark_card_vertical_buttons{
    padding: 20px 15px;
    display: flex;
    z-index: 1;
}
.mv_spark_card_vertical_buttons a {
    font-size: 20px;
    color: #03C7FD !important;
}
.mv_spark_button_content:hover{
    border-bottom: 1px solid #03C7FD;
}
.mv_spark_card_vertical_buttons i {
    margin-left: 5px;
    font-size: 20px !important;
    color: #03C7FD !important;
}
.mv_socialIcon{
    margin-left: auto !important;
}
/*********************************/

/******* Learn More About ********/
.mv_more_about_bg_color{
    padding: 20px 0px 25px;
    background-color: #3c3e42;
}
.mv_more_about{
    text-align: center;
}
.mv_more_about h2{
    margin-bottom: 15px;
    color: #fff;
    font-weight: 400;
}
.mv_more_about p{
    color: #fff;
    font-size: 1.50rem;
    line-height: 1.2;
    margin-bottom: 25px;
}
.mv_more_about_button button a{
    color: black !important;
}
.mv_more_about_button button a i{
    margin-left: 10px;
    font-size: 12px;
}
.mv_more_about_button button{
    font-weight: 500;
    padding: 6px 20px;
    border: none;
    background-color: #00C7FD;
}
.mv_more_about_button button:hover {
    background-color: #0095ca;
    transition: 0.2s ease-in-out;
}
/*********************************/




@media (max-width: 1199px){
    /* Testimonials */
    .mv_testimonial_box{
        height: 415px;
    }
}
@media (max-width: 1024px){
    /* Get started */
    .mv_get_started{
        display: block;
        text-align: center !important;
    }
    .mv_request_trail button{
        margin-left: 0px;
    }
    /* Computer Vision */
    .mv_item_botom{
        width: 30% !important;
        display: flex;
        flex-wrap: wrap !important;
    }
    /* Trusted by */
    .mv_propertyboximg{
        width: 213.75px;
        height: 120px;
    }
    /* Learn More About */
    .mv_more_about p{
        width: 60%;
        margin: 0 auto;
        margin-bottom: 25px;
    }
}
@media (max-width: 991px){
    /* Testimonials */
    .mv_testimonial_box{
        height: 320px;
    }
    .mv_testimonial_img p {
        font-size: 1.125rem;
    }
}
@media (max-width: 767px){
    /* Scaling Edge */
    .mv_scaling_edge_content{
        flex-wrap: wrap-reverse !important;
    }
    .mv_item_botom{
        width: 90% !important;
        margin-right: 0px !important;
    }
    /* Testimonials */
    .mv_testimonial_box{
        height: auto;
    }
}
@media (max-width: 768px){
    /* Get started */
    .mv_geti_software_video{
        margin-right: 0px;
    }
    .mv_edge_platform {
        padding-left: 0rem !important;
    }
    /* Trusted by */
    .mv_propertyboximg{
        width: 213.75px;
        height: 120px;
    }
    /* Testimonials */
    .mv_testimonial_img p{
        font-size: 1rem;
    }
    /* Learn More About */
    .mv_more_about p{
        width: 100%;
        font-size: 1.3rem;
    }
}
@media (max-width: 425px){
    /* Trusted by */
    .mv_propertyboximg{
        width: 170px !important;
        height: 120px !important;
    }
    /* Testimonials */
    .mv_testimonial_img p {
        font-size: 1.050rem;
    }
    .mv_more_about_bg_color{
        padding: 40px;
    }
    /* Learn More About */
    .mv_more_about p {
        width: 100%;
        font-size: 1rem;
    }
}
@media (max-width: 375px){
    /* Trusted by */
    .mv_propertyboximg{
        width: 150px !important;
        height: 120px !important;
    }
}
@media (max-width: 320px){
    /* Trusted by */
    .mv_propertyboximg{
        width: 140px !important;
        height: 120px !important;
    }
}