*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none !important;
}
.container{
    max-width: 1610px !important;
}
@media(max-width:1440px){
    .container{
        max-width: 1170px !important;
    }
}
@media(max-width:1024px){
    .container{
        max-width: 970px !important;
    }
}
@media(max-width:768px){
    .container{
        max-width: 750px !important;
    }
}
@media(max-width:425px){
    .container{
        max-width: 390px !important;
    }
}

/******** Intel Gaudi 3 ********/
.mv_intel_gaudi_3_bg_color{
    padding: 40px 0px;
    background-color: #00285A;
}
.mv_intel_gaudi_3_content h1{
    color: #fff;
    font-weight: 300;
    margin-bottom: 16px;
}
.mv_intel_gaudi_3_content p{
    color: #fff;
    line-height: 1.25;
}
.mv_mv_intel_gaudi_3_image img{
    width: 100%;
}
/* *************************** */

/**** Intel Gaudi 3 responsive ***/
.mv_intel_gaudi_responsive{
    display: none;
}
/* *************************** */

/********* Our Intel *********/
.mv_our_intel_bg_color{
    background-color: #F7F7F7;
    padding: 3rem 0rem;
}
.mv_our_intel_img img{
    width: 100%;
}
.mv_our_intel_content{
    align-content: center;
}
.mv_our_intel_content h2{
    font-weight: 300;
    margin-bottom: 1rem;
}
/* *************************** */

/********* Architecture *********/
.mv_architecture_padd{
    padding: 3rem 0rem;
}
.mv_architecture_item{
    align-content: center;
}
.mv_architecture_item h2{
    font-weight: 300;
}
.mv_architecture_item ul{
    margin-bottom: 0rem;
}
.mv_architecture_item ul li::before{
    content: "\2022";
    position: absolute;
    margin-left: -17px;
    margin-right: -12px;
    margin-top: -5px;
    font-size: 17pt;
}
.mv_architecture_img img{
    width: 100%;
}
/* *************************** */

/*********** wrapper ***********/
.mv_wrapper_row_padd{
    --bs-gutter-x: 0rem !important;
}
.mv_wrapper_bg_img_ai{
    background-image: url(/img/mv_image/adobestock-197548345.jpeg.rendition.intel.web.1072.603.jpg);
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transition: all .35s ease-in-out;
}
.mv_wrapper_bg_img_trust{
    background-image: url(/img/mv_image/adobestock-335703289.jpeg.rendition.intel.web.1072.603.jpg);
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transition: all .35s ease-in-out;
}
.mv_wrapper:hover .mv_wrapper_bg_img_ai{
    transform: scale(1.2);
}
.mv_wrapper:hover .mv_wrapper_bg_img_trust{
    transform: scale(1.2);
}
.mv_wrapper{
    flex-wrap: wrap;
    height: 400px;
    overflow: hidden;
}
.mv_promo_block{
    text-align: center;
    color: #fff !important;
}
.mv_promo_text h2{
    font-weight: 300;
}
.mv_promo_text p{
    line-height: 1.3rem;
}
.mv_promo_block{
    line-height: 0;
    min-height: 400px;
    overflow: hidden;
    flex-grow: 1;
    flex-basis: 0;
    z-index: 1;
}
.mv_promo_text{
    background-color: rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    text-align: center;
    transition: all .35s ease-in-out;
    padding: 3rem 20%;
}
.mv_promo_learn_more{
    cursor: pointer;
    border-bottom: 1px dashed #fff;
}
.mv_promo_learn_more:hover{
    border-bottom: 1px solid #fff;
}
/* .mv_read_ai_acc a{
    color: #0068b5;
    background-color: #fff;
    padding: .5rem 1.5rem;
    display: inline-block;
    text-align: center;
}
.mv_read_ai_acc a:hover{
    color: #0068b5;
    background-color: #E9E9E9;
} */
@media(max-width: 1199px) {
    .mv_promo_text{
        padding: 2.5rem .9375rem;

    }
}
/* **************************** */




@media(max-width:767px){
    /* Our Intel */
    .mv_our_intel_img img{
        margin-bottom: 1rem;
    }
    .mv_architecture_content{
        flex-wrap: wrap-reverse !important;
    }
}
@media(max-width:991px){
    /* Intel Gaudi 2 */
    .mv_intel_gaudi_3{
        display: none;
    }
    /* Intel Gaudi 2 responsive */
    .mv_intel_gaudi_responsive{
        display: block !important;
    }
    .mv_mv_intel_gaudi_3_image img{
        margin-bottom: 1rem;
    }
}