*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none !important;
}
.container{
    max-width: 1610px !important;
}
@media(max-width:1440px){
    .container{
        max-width: 1170px !important;
    }
}
@media(max-width:1024px){
    .container{
        max-width: 970px !important;
    }
}
@media(max-width:768px){
    .container{
        max-width: 750px !important;
    }
}
@media(max-width:425px){
    .container{
        max-width: 390px !important;
    }
}

/******** Intel Gaudi 3 ********/
.mv_intel_gaudi_3_bg_color{
    padding: 40px 0px;
    background-color: #00285A;
}
.mv_intel_gaudi_3_content h1{
    color: #fff;
    font-weight: 300;
    margin-bottom: 16px;
}
.mv_intel_gaudi_3_content p{
    color: #fff;
    line-height: 1.25;
}
.mv_mv_intel_gaudi_3_image img{
    width: 100%;
}
/* *************************** */

/**** Intel Gaudi 3 responsive ***/
.mv_intel_gaudi_responsive{
    display: none;
}
/* *************************** */

/********** A Better **********/
.mv_better_padd{
    padding: 3rem 0rem;
}
.mv_better h2{
    font-weight: 300;
}
.mv_better p{
    margin-bottom: .5rem;
    line-height: 1.25;
}
.mv_better p a{
    color: #0068b5;
    border-bottom: 1px dashed #0068b5;
}
.mv_better p a:hover{
    color: #0068b5;
    border-bottom: 1px solid #0068b5;
}
/* *************************** */

/******* Try Intel Gaudi *******/
.mv_try_intel_bg_img{
    padding: 2.5rem 0rem;
    background-image: url(/img/mv_image/alpha-web-promotions-blade-gradient-cobalt-shade-aqua.jpg.rendition.intel.web.1920.1080.jpg);
    width: 100% !important;
    background-size: cover;
    background-position: center;
}
.mv_try_intel_content{
    align-items: center;
}
.mv_intel_gaudi_3_content h2{
    color: #fff;
    font-weight: 300;
    margin-bottom: 16px;
}
/* *************************** */

/**** Save Time and Power ****/
.mv_maximize_bg_color{
    padding: 2rem 0rem;
}
.mv_maximize{
    text-align: center;
}
.mv_maximize h2{
    margin-bottom: 1.5rem;
    font-weight: 350;
}
.mv_maximize_comntent{
    text-align: center;
}
.mv_maximize_comntent h5{
    font-weight: 400;
}
.mv_headline_font{
    font-size: 7.5rem;
    font-weight: 400;
    display: flex;
    justify-content: center;
    margin-bottom: 0rem;
    color: #005b85;
}
.mv_maximize_bottom{
    font-size: 3.25rem;
    align-self: self-end;
    padding: .9375rem 0;
}
/*********************************/

/*** Save Time and Power slider ***/
.mv_maximize_inpect_slider{
    display: none;
}
/*********************************/

/*********** Designed ***********/
.mv_designed_bg_color{
    padding: 3rem 0rem;
    background-color: #F7F7F7;
}
.mv_designed_content{
    align-content: center;
}
.mv_designed_item h2{
    font-weight: 300;
}
.mv_designed_item h2 a{
    color: #0068b5;
}
.mv_designed_item h2 a:hover{
    border-bottom: 1px solid #0068b5;
}
.mv_designed_item p{
    margin: 0 0 11px;
}
.mv_designed_item p a{
    color: #0068b5;
    border-bottom: 1px dashed #0068b5;
}
.mv_designed_item p a:hover{
    color: #0068b5;
    border-bottom: 1px solid #0068b5;
}
.mv_designed_img img{
    width: 100%;
}
/*********************************/

/************ Adopt ************/
.mv_adopt_padd{
    padding: 3rem 0rem;
}
.mv_adopt h2{
    font-weight: 300;
}
.mv_adopt a{
    color: #0068b5;
    border-bottom: 1px dashed #0068b5;
}
.mv_adopt a:hover{
    color: #0068b5;
    border-bottom: 1px solid #0068b5;
}
/*********************************/

/*********** Optimized ***********/
.mv_optimized_padd{
    padding: 3rem 0rem;
}
.mv_optimized_content{
    margin-bottom: 2rem;
}
.mv_optimized_item h5{
    font-weight: 600;
    margin-bottom: 1rem;
}
.mv_optimized_item p{
    line-height: 1.25;
    margin-bottom: 0rem;
}
.mv_optimized_item p a{
    color: #0068b5;
    border-bottom: 1px dashed #0068b5;
}
.mv_optimized_item p a:hover{
    color: #0068b5;
    border-bottom: 1px solid #0068b5;
}
/*********************************/

/************ simplify ************/
.mv_simplify_padd{
    padding: 3rem 0rem;
}
.mv_simplify_img img{
    width: 100%;
}
.mv_simplify_content{
    align-content: center;
}
.mv_simplify_item h4{
    font-weight: 300;
    margin-bottom: 1rem;
}
.mv_simplify_item h4 a{
    color: #0068b5;
}
.mv_simplify_item h4 a:hover{
    border-bottom: 1px solid #0068b5;
}
.mv_simplify_item p{
    line-height: 1.25;
    margin-bottom: .5rem;
}
.mv_simplify_item p a{
    color: #0068b5;
    border-bottom: 1px dashed #0068b5;
}
.mv_simplify_item p a:hover{
    color: #0068b5;
    border-bottom: 1px solid #0068b5;
}
/*********************************/

/********** Generation **********/
.mv_generation_padd{
    padding: 3rem 0rem 1.5rem 0rem;
}
.mv_generation_content{
    margin: 0 0 1.5rem;
}
.mv_generation_imgoimg{
    width: 100%;
}
.mv_generation_text h5{
    padding: 0rem 1rem;
}
/*********************************/

/************* Deploy *************/
.mv_deploy_bg_color{
    padding: 1rem 0rem 2rem 0rem;
    background-color: #F7F7F7;
}
.mv_deploy{
    text-align: center;
}
.mv_deploy h2{
    font-weight: 300;
}
.mv_deploy p{
    margin-bottom: 0rem
}
/*********************************/

/************** logo **************/
.mv_logo_content{
    justify-content: center;
}
.mv_logo_item{
    padding: 30px 15px;
}
.mv_logo_item img{
    width: 100%;
    max-width: 170px;
    height: auto;
}
/*********************************/




@media(max-width:1199px){
    /* Maximize Impact */
    .mv_headline_font{
        font-size: 5.5rem;
    }
    .mv_maximize_bottom{
        font-size: 2.1375rem;
    }
}

@media(max-width:991px){
    /* Intel Gaudi 3 */
    .mv_intel_gaudi_3{
        display: none;
    }
    /* Intel Gaudi 3 responsive */
    .mv_intel_gaudi_responsive{
        display: block !important;
    }
    .mv_mv_intel_gaudi_3_image img{
        margin-bottom: 1rem;
    }
}

@media(max-width:767px){
    /* Save Time and Power slider */
    .mv_maximize_inpect_slider{
        display: block;
    }
    /* Save Time and Power */
    .mv_maximize_inpect_without_slider{
        display: none !important;
    }
    /* Designed */
    .mv_designed_real_world{
        flex-wrap: wrap-reverse !important;
    }
    .mv_designed_img img{
        margin-bottom: 1rem;
    }
    /* simplify */
    .mv_simplify_item{
        margin-top: 1rem;
    }
    /* Generation */
    .mv_generation_img{
        display: none;
    }
    .mv_generation_text h5{
        margin: 2.5rem 0 0;
    }
    .mv_generation_padd{
        padding: 2.5rem 0rem;
    }
}