*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none !important;
}
.container{
    max-width: 1610px !important;
}
@media(max-width:1440px){
    .container{
        max-width: 1280px !important;
    }
}
@media(max-width:1024px){
    .container{
        max-width: 970px !important;
    }
}
@media(max-width:768px){
    .container{
        max-width: 750px !important;
    }
}
@media(max-width:425px){
    .container{
        max-width: 390px !important;
    }
}

@media (max-width: 1199px) {
    .container{
        max-width: 960px !important;
    }
}
@media (max-width: 991px) {
    .container{
        max-width: 720px !important;
    }
}
/* @media (max-width: 767px) {
    .container{
        max-width: 540px !important;
    }
} */

/*********** intel data **********/
.mv_intel_data_bg_color{
    padding: 40px 0px;
    background-color: #00285a;
}
.mv_intel_data_content{
    color: #fff;
}
.mv_intel_data_content h1{
    font-weight: 400;
    margin-bottom: 16px;
}
.mv_intel_data_content a{
    color: #fff;
    border-bottom: 1px dashed #fff;
}
.mv_intel_data_content a:hover{
    color: #fff;
    border-bottom: 1px solid #fff;
}
.mv_intel_data_image img{
    width: 100%;
}
.mv_intel_data_respomsive_image img{
    display: none;
}
/*********************************/

/********* GPU Solution *********/
.mv_mv_gpu_solution_padd{
    padding: 3rem 0rem;
}
.mv_gpu_solution_heading{
    text-align: center;
}
.mv_gpu_solution_heading h2{
    font-weight: 400;
}
.mv_gpu_solution_heading p{
    margin-bottom: 5px;
}
.mv_gpu_solution_heading p a{
    color: #0068b5;
    border-bottom: 1px dashed #0068b5;
}
.mv_gpu_solution_heading p a:hover{
    border-bottom: 1px solid #0068b5;
}
/*********************************/

/****** GPU Solution video *******/
.mv_mv_gpu_solution_vidoe_padd{
    padding: 2rem 0rem;
}
.mv_mv_gpu_solution_vidoe video{
    width: 100%;
}
/*********************************/

/*********** GPU data ************/
.gpu_data_padd{
    padding: 2rem 0rem;
}
.mv_gpu_data img{
    width: 100%;
}
.mv_gpu_data h3{
    margin-top: 20px;
    font-weight: 400;
    margin-bottom: 0rem;
}
.mv_gpu_data p{
    margin: .5rem 0rem !important;
    margin-bottom: 0rem;
}
/*********************************/

/****** Deploy a Foundation ******/
.mv_deploy_bg_color{
    background-color: #F7F7F7;
    padding: 3rem 0rem;
}
.mv_deploy h2{
    font-weight: 400;
}
/*********************************/

/******* Deploy navs & tabs *******/
.mv_deploy_nav_tab{
    background-color: #F7F7F7;
}
.mv_deploy_nav_pills{
    border-bottom: 1px solid #E6E6E6;
}
.mv_deploy_nav_link {
    color: #0068b5 !important;
}
.mv_deploy_nav_pills .mv_deploy_nav_link{
    background-color: #F7F7F7 !important;
}
.mv_deploy_nav_pills .mv_deploy_nav_link.active{
    border-radius: 0rem !important;
    color: #0068b5 !important;
    border-bottom: 4px solid #00aeef;
}
.mv_deploy_nav_pills .mv_deploy_nav_link:hover{
    border-radius: 0rem;
    background-color: #F2F2F2 !important;
}
.mv_gpu_flex_padd{
    padding: 3rem 0rem;
}
.mv_gpu_flex{
    align-content: center;
}
.mv_gpu_flex h2{
    font-weight: 400;
}
.mv_gpu_flex p{
    margin-bottom: .5rem;
}
.mv_gpu_flex p a{
    color: #0068b5;
    border-bottom: 1px dashed #0068b5;
}
.mv_gpu_flex p a:hover{
    border-bottom: 1px solid #0068b5;
}
.mv_gpu_flex_img img{
    width: 100%;
}
.mv_enable_boundless_padd{
    padding: 3rem 0rem;
}
.mv_enable_img img{
    width: 100%;
}
/*********************************/

/******** Find Intel Data ********/
.mv_find_intel_padd{
    padding: 3rem 0rem;
}
.mv_find_intel_content{
    text-align: center;
}
.mv_find_intel_content h2{
    font-weight: 400;
}
.mv_find_intel_content p{
    margin-bottom: 0rem;
}
.mv_find_system_padd{
    padding: 2rem 0 2.5rem;
}
.mv_find_system h3{
    font-weight: 350;
}
.mv_find_system h3 a{
    color: #0068b5;
}
.mv_find_system h3 a:hover{
    border-bottom: 1px solid #0068b5;
}
.mv_find_system p{
    margin-bottom: .4rem;
}
.mv_find_system p a{
    color: #0068b5;
    border-bottom: 1px dashed #0068b5;
}
.mv_find_system p a:hover{
    border-bottom: 1px solid #0068b5;
}
/*********************************/

/******** Access Developer ********/
.mv_access_developer, .mv_start_developing{
    background-color: #F7F7F7;
}
/*********************************/

/******** Extend Intel Data ********/
.mv_extend_intel_data_padd{
    padding: 2.5rem 0rem;
}
.mv_extend_intel_heading h2{
    font-weight: 350;
    text-align: center;
}
.mv_extend_intel_data{
    justify-content: center;
}
.mv_extend_intel_box{
    padding: 16px;
}
.mv_extend_content img{
    width: 100%;
    margin-bottom: 1rem;
}
.mv_extend_content h4{
    font-weight: 350;
}
.mv_extend_content h4 a{
    color: #0068b5;
}
.mv_extend_content h4 a:hover{
    border-bottom: 1px solid #0068b5;
}
.mv_extend_content p{
    margin-bottom: .4rem;
}
.mv_extend_content p a{
    color: #0068b5;
    border-bottom: 1px dashed #0068b5;
}
.mv_extend_content p a:hover{
    border-bottom: 1px solid #0068b5;
}
/*********************************/

/******** Explore Related ********/
.mv_explore_padd{
    padding: 3rem 0rem;
    background-color: #00285a;
}
.mv_explore_content{
    text-align: center;
    color: #fff;
}
.mv_explore_content h2{
    font-weight: 350;
}
.mv_oneapi_padd{
    padding: 2.5rem 0 1rem;
    background-color: #00285a;
}
.mv_simple_card_item{
    margin-bottom: 1.5rem
}
.mv_simple_item_wrap{
    background: #f3f3f3;
    padding: .75rem 1.5rem;
    min-height: 4.5rem;
}
.mv_simple_item_wrap a{
    color: #0068b5;
}
/*********************************/

/******** Support Contact ********/
.mv_support_contact_padd{
    padding: 3rem;
}
.mv_support{
    text-align: center;
}
.mv_support h3{
    font-weight: 350;
}
.mv_support h3 a{
    color: #0068b5;
}
.mv_support h3 a:hover{
    border-bottom: 1px solid #0068b5;
}
.mv_support_button a{
    display: inline-block;
    padding: .625rem 1.5rem;
    color: #fff;
    background-color: #0068b5;
}
/*********************************/

/************ noticed ************/
.mv_noticed_disclaimer{
    padding: 3rem 0rem;
    border-top: 1px solid #d7d7d7;
    color: #525252;
}
.mv_noticed_disclaimer p{
    font-weight: 400;
    line-height: 1.25;
    font-size: .75rem;
    margin-bottom: 0rem;
    margin-top: .5rem;
}
.mv_noticed_disclaimer p a{
    text-wrap: wrap;
    color: #0068b5;
    border-bottom: 1px dashed #0068b5;
}
.mv_noticed_disclaimer p a:hover{
    border-bottom: 1px solid #0068b5;
}
.mv_lammps ul{
    margin-bottom: 0rem;
}
.mv_lammps ul li{
    font-weight: 400;
    font-size: .75rem;
    margin-bottom: 0rem;
}
/*********************************/

/********** Footer ************/
.mv_footer_bg_color{
    background-color: #E7E7E7;
    padding: 35px 0px 40px;
}
.mv_main_footer{
    align-content: center !important;
}
.mv_footer_logo img{
    width: 5rem;
}
.mv_footer_linkbox{
    padding-left: 2.6rem;
}
.mv_footer_link{
    margin-top: 30px;
    margin-bottom: 11px;
    padding-left: 0rem !important;
}
.mv_footer_link li{
    padding: .5em 0;
    font-size: 16px;
    line-height: 20px;
    display: block;
    transition: 0.2s all ease-in-out;
    display: inline-block;
    padding: .5em 0;
    margin: 0 1rem 15px 0;
}
.mv_footer_link li a{
    color: black !important;
}
.mv_footer_link li a:hover{
    border-bottom: 1px solid black;
}
.mv_footer_socalicon{
    display: flex;
    list-style-type: none;
    padding-left: 0rem !important;
}
.mv_footer_socalicon li{
    margin-right: 2em !important;
    margin-bottom: 10px !important;
    display: inline-block;
    padding: .5em 0;
    margin: 0 1rem 15px 0;
}
.mv_footer_socalicon li a{
    color: black !important;
}
.mv_footer_socalicon li i{
    font-size: 20px;
}
.mv_footer_secondary_links{
    font-size: .9rem;
    margin-bottom: 0;
    margin-top: 0;
    /* display: flex; */
    list-style-type: none;
    padding-left: 0rem !important;
}
.mv_footer_secondary_links li{
    display: inline-block;
    padding: .5em 0;
    margin: 0 1rem 15px 0;
}
.mv_footer_secondary_links li a{
    color: black;
    line-height: 14px;
    font-size: .9rem;
    margin-bottom: 0;
    border-left: 1px solid #262626;
    padding: 0 0 0 13px;
}
.mv_footer_secondary_links li small:hover{
    border-bottom: 1px solid black;
}
.mv_footer_secondary_links li a small:hover{
    border-bottom: 1px solid black;
}
.mv_footer_disclaimer p{
    font-size: 12px !important; white-space: normal;
    line-height: 1.25;
    margin: 0 0 11px;
}
.mv_footer_disclaimer p a{
    color: black;
}
@media(max-width:767px){
    .mv_footer_link{
        margin-top: 0px;
        display: block;
    }
    .mv_footer_link li{
        width: 100% !important;
    }
    .mv_footer_secondary_links{
        font-size: .9rem;margin-bottom: 0;
        margin-top: 0;
    }
    .mv_footer_secondary_links li{
        width: 44% !important;
        padding: 8px 0;
        display: inline-block;
    }
    .mv_footer_disclaimer{
        margin-top: 50px;
    }
    .mv_footer_linkbox {
        padding-left: 0rem;
    }
    .mv_footer_swap{
        flex-wrap: wrap-reverse !important;
    }
    .mv_footer_logo img{
        padding: 25px 0px;
    }
    .mv_footer_link li {
        margin: 0 0rem 5px 0;
    }
    .mv_footer_secondary_links li small{
        font-size: .7rem !important;
    }
}
@media (max-width:425px){
    .mv_footer_logo{
        padding: 25px 0px;
    }
}
@media (max-width:320px){
    .mv_footer_secondary_links li{
        width: 100% !important;
    }
    .mv_footer_secondary_links li {
        margin: 0 0rem 0px 0;
    }
}
/*********************************/

@media(max-width:767px){
    /* Deploy navs & tabs */
    .mv_gpu_flex_padd{
        padding: 2.5rem 0rem;
        flex-wrap: wrap-reverse !important;
    }
    .mv_achieve_media{
        flex-wrap: wrap-reverse !important;
    }
    .mv_enable_boundless_padd{
        padding: 2.5rem 0rem;
    }
    .mv_gpu_flex_img{
        margin-bottom: 1rem;
    }
    /* Find Intel Data */
    .mv_find_intel_padd{
        padding: 2.5rem 0rem;
    }
    /* Explore Related */
    .mv_simple_card_item{
        margin-bottom: .5rem;
    }
}

@media(max-width:991px){
    /* intel data */
    .mv_intel_data_image{
        display: none;
    }
    .mv_intel_data_respomsive_image img{
        display: block;
    }
    .mv_intel_data_respomsive_image img{
        width: 100%;
    }
}

@media(max-width:375px){
    /* noticed */
    .mv_noticed_disclaimer p a{
        font-size: 11px;
    }
}