*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none !important;
}
p{
    line-height: 1.3;
}
.container{
    max-width: 1610px !important;
}
@media(max-width:1440px){
    .container{
        max-width: 1170px !important;
    }
}
@media(max-width:1199px){
    .container{
        max-width: 970px !important;
    }
}
@media(max-width:991px){
    .container{
        max-width: 750px !important;
    }
}
@media(max-width:768px){
    .container{
        max-width: 750px !important;
    }
}
@media(max-width:425px){
    .container{
        max-width: 390px !important;
    }
}


/* header */
nav{
    position: relative !important;
}

/* ************************* */
.d_pdfdesc h1 {
    color: #262626;
    font-size: 36px;
    margin-bottom: 8px;
    font-weight: 300;
}

.d_pdfdesc p {
    color: #262626;
    margin-bottom: 16px;
}

.d_pdfdesc .d_cta a {
    background-color: #0068B5;
    color: #fff;
    padding: 10px 24px;
    text-decoration: none;
    font-size: 16px;
}
.d_pdfdesc .d_cta a:hover{
    background-color: #004a86;
}

.d_pdfvideo{
    padding: 2rem 0rem;
}
.d_pdfvideo h2,
.d_pdfmaterial h2 {
    font-size: 28px;
    color: #262626;
    margin-top: 22px;
    margin-bottom: 0rem;
    font-weight: 300;
}

.d_pdfvideo .d_item .d_img {
    width: 100%;
    height: 100%;
}

.d_pdfvideo .d_item .d_img img {
    width: 100%;
    height: 100%;
    margin-bottom: .5rem;
}
.mv_img_icon{
    position: relative;
}
.mv_img_icon:after{
    position: absolute;
    content: ' ';
    width: 64px;
    height: 64px;
    left: 50%;
    top: 50%;
    margin-top: -32px;
    margin-left: -32px;
    background-image: url(/img/mv_image/video-play-icon.png);
}
.d_pdfvideo .d_item h3 {
    line-height: 0px !important;
}

.d_pdfvideo .d_item h3 a {
    color: #003c71;
    text-decoration: none;
    line-height: 1.1;
    font-size: 24px;
    transition: .3s all;
    font-weight: 300;
}
.d_pdfvideo .d_item h3 a:hover {
    color: #003c71;
    border-bottom: 1px solid #003c71;
}

.d_pdfvideo .d_item h3 a small {
    color: #262626;
    font-size: 1rem;
    font-weight: 400;
}

.d_pdfvideo .d_item h3 a:hover {
    text-decoration: underline;
}

.d_pdfvideo .d_item h3 a:hover small {
    text-decoration: none;
}

.d_pdfvideo .d_item p {
    color: #262626;
    margin-bottom: 0 !important;
}

.d_pdfmaterial{
    padding: 3rem 0rem;
}
.d_pdfmaterial .d_box .d_img {
    max-width: 50px;
    max-height: 50px;
}

.d_pdfmaterial .d_box .d_img img {
    width: 100%;
    height: 100%;
}

.d_pdfmaterial .d_box h4 {
    line-height: 17px;
    font-weight: 500;
}

.d_pdfmaterial .d_box h4 a {
    color: #003c71;
    font-size: 16px;
    text-decoration: none;
    transition: .3s all;
}

.d_pdfmaterial .d_box h4 a:hover {
    color: #00aeef;
}

/* ************************* */
@media(max-width:767px){
    .d_pdfdesc .d_cta a{
        width: 100%;
    } 
}