*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none !important;
}
/************** nav ****************/
.navbar{
    background-color: #242528 !important;
    /* padding-top: 0rem !important; */
    padding-bottom: 0rem !important;
}
.mv_nav_img img{
    width: 80px;
}
.navbar{
    height: 90px;
    border-width: 10px;
    border-style: solid;
    border-right: 0;
    border-left: 0;
    border-bottom: 0;
    border-image: linear-gradient(90deg, #1db0e2 43.96%, #4ca286 76.55%, #89ad4e 98.99%) 1;
}
.mv_main_menu{
    display: flex;
    text-align: center;
    margin-bottom: 0rem !important;
    /* list-style-type: none; */
    padding-left: 0px !important;
}
.mv_main_menu li{
    display: flex;
    align-items: center;
    margin-right: 10px;
    color: #fff;
}

.mv_main_menu li a{
    padding: 0 10px;
    block-size: 70px;
    display: flex;
    align-items: center;
    font-size: 17px;
    text-transform: capitalize;
    color: #fff;
    line-height: 23px;
    position: relative;
    /* border-bottom: 4px solid #00c7fd; */
}
.mv_header_padd{
    padding: 0px 10px;
}
.mv_main_menu li i{
    color: #fff !important;
    margin-left: 5px;
}
/* .mv_main_menu li:last-child{
    margin-left: auto;
} */
.mv_nav_btn button a{
    color: black;
}
.mv_nav_btn button{
    font-weight: 500;
    padding: 6px 20px;
    border: none;
    background-color: #00C7FD;
    margin-inline-end: 15px !important;
}
.mv_nav_btn{
    margin-left: auto;
}
.mv_nav_btn button:hover {
    background-color: #0095ca;
    transition: 0.2s ease-in-out;
}

.mv_main_menu li{
    /* display: inline-block; */
    position: relative;
}
.mv_sub_menu{
    position: absolute;
    min-width: 220px;
    top: 100%;
    left: 0;
    padding: 15px 35px;
    z-index: -1;
    background: #2e2f32;
    box-shadow: 0 2px 4px rgba(4, 4, 4, .38);
    border-radius: 3px;
    display: none;
}
.mv_sub_menu a:before {
    content: " ";
    position: absolute;
    left: -15px;
    top: 18px;
    height: 5px;
    width: 5px;
    background: #fff;
    display: inline-block;
    border: 0;
}
.mv_sub_menu ul{
    padding-left: 0px !important;
}
.mv_sub_menu li{
    color: #fff !important;
    /* width: 150px; */
    text-align: left;
    margin-right: 0px !important;
}
.mv_sub_menu li a{
    padding: 10px 0px !important;
    block-size: 40px;
    transition: 0.2s all ease-in-out;
}
.mv_main_menu li:hover .mv_sub_menu{
    display: block !important;
}
.mv_sub_menu li a:hover{
    color: #00c7fd !important;
}

@media screen and (max-width: 991px) {
    .mv_main_menu li a{
        padding: 0 3px;
        font-size: 14px;
    }
    .mv_header_padd{
        padding: 0px;
    }
    .mv_main_menu li {
        margin-right: 5px;
    }
}
/*********************************/

/********** Offcanvas ************/
.navbar-toggler:focus {
    box-shadow: none !important;
}
.offcanvas-header{
    display: none !important;
    padding: 0px !important;
    align-content: center !important;
}
.btn-close{
    color: black !important;
}
.offcanvas{
    display: none !important;
}

/* @media screen and (max-width: 1024px) {
    .mv_main_menu {
        padding-left: 10px !important;
    }
} */
@media screen and (max-width: 767px) {
    .offcanvas{
        display: block !important;
    }
    .btn-close:focus{
        box-shadow: none !important;
        color: #fff !important;
    }
    .mv_nav_btn button{
        margin-inline-end: 5px !important;
    }
    .mv_header{
        display: none !important;
    }
    .modal-backdrop.show {
        opacity: 0 !important;
    }
    .offcanvas-end{
        top: 90px !important;
        width: 100% !important;
    }
    .offcanvas-header{
        margin-left: auto !important;
    }
    .offcanvas-body{
        padding: 0px !important;
    }
    /* .mv_offcanvas ul{
        padding-left: 0px !important;
    } */
    .offcanvas{
        background: #2e2f32 !important;
        color: #fff;
    }
    /* .mv_offcanvas ul{
        list-style-type: none;
        margin-bottom: 0px !important;
    } */
    .offcanvas-header .btn-close{
        color: #fff !important;
    }
    .offcanvas-header{
        display: block !important;
    }
    .offcanvas-header .btn-close{
        margin-top: 0px !important;
    }
    .offcanvas-header button{
        background-color: black !important;
        color: #fff !important;
        padding: 5px 10px;
    }



    .offcanvas{
        overflow-x: scroll;
    }
    .nav-link {
        color: #fff !important;
        padding: 0px !important;
    }
    .navbar-nav .nav-item a{
        padding: 13px 0 13px 20px !important;
    }
    .navbar-nav .nav-item {
        display: block;
        float: left;
        width: 100%;
        margin: 0;
        text-align: left;
        color: #fff;
        border-top: 1px solid rgba(255, 255, 255, .12);
        text-decoration: none;
        text-transform: capitalize;
        font-size: 18px;
        box-sizing: border-box;
        position: relative;
        z-index: 9;
    }
    .dropdown-menu{
        color: #fff !important;
        padding: 0px !important;
        background-color: #2E2F32 !important;
        margin-top: 20px !important;
        border: none !important;
    }
    .mv_dropdow_header li a:before {
        content: " ";
        position: absolute;
        left: 20px;
        top: 21px;
        height: 5px;
        width: 5px;
        background: #fff;
        display: inline-block;
        border: 0;
    }
    .mv_dropdow_header li a{
        color: #fff !important;
    }
    .mv_dropdow_header li{
        color: #fff;
        padding: 8px 35px;
        border-top: 1px solid rgba(255, 255, 255, .25);
        opacity: .75;
        filter: alpha(opacity = 75);
        text-shadow: none !important;
        visibility: visible;
        position: relative;
    }
    .mv_dropdow_header{
        list-style: none;
        padding-left: 0rem;
        display: none;
    }
    .mv_mv:hover .mv_dropdow_header{
        display: block;
    }
}
@media (max-width: 425px){
    .navbar-toggler {
        padding: .25rem 0.50rem !important;
    }
}
/***********************************/