*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none !important;
}
.container{
    max-width: 1610px !important;
}
@media(max-width:1440px){
    .container{
        max-width: 1170px !important;
    }
}
@media(max-width:1199px){
    .container{
        max-width: 970px !important;
    }
}
@media(max-width:991px){
    .container{
        max-width: 750px !important;
    }
}
@media(max-width:768px){
    .container{
        max-width: 750px !important;
    }
}
@media(max-width:425px){
    .container{
        max-width: 390px !important;
    }
}
/* Developer Tools  */
.dk_developer_tools{
    padding: 2.5rem 0rem;
    background-color: #00285a;
    background-image: url(../img/mv_image/devzone-gradient-background-transparent-rust-daisy-ondark-16x9.png.rendition.intel.web.1920.1080.png);
    background-size: cover;
    background-position: center;
}
.dk_developer_tools_sub{
    color: #fff;
}
/* navs & tags */
.dk_unleash_the_power{
    padding-top: 1.5rem;
}
.dk_boder2_buttom{
    border-bottom: 1px solid #D7D7D7;
    flex-wrap: nowrap !important;
}
.dk_box2{
    text-wrap: nowrap !important;
}
.dk_boder2_buttom .dk_box2.active{
    background-color: #F2F2F2 !important;
    color: #0068b5 !important;
    border-radius: 0rem !important;
    border-bottom: 4px solid #00AEEF;
}
.dk_boder2_buttom .dk_box2:hover{
    border-radius: 0rem !important;
    background-color: #F2F2F2 !important;
}
/* Tools and Libraries */
.dk_tools_and_libraries{
    padding: 2.5rem 0rem;
}
/* Convenient Software */
.dk_convenient_software{
    padding: 2.5rem 0rem;
}
/* Get Started */
.dk_get_started{
    padding: 2.5rem 0rem;
}
.dk_boder{
    color: #0068B5;
    border-bottom: 1px dashed #0068b5;
}
.dk_boder:hover{
    color: #004a86;
    border-bottom: 1px solid #0068b5;
}
/* Intel oneAP */
.dk_intel_oneap{
    padding: 2.5rem 0rem;
}
.dk_intel_oneap_sub{
    row-gap: 1.5rem;
}
.dk_download{
    padding: 0.6rem 1.6rem;
    color: #0068B5;
    border: 1px solid #0068B5;
}
.dk_download:hover{
    color: #FFFFFF;
    background-color: #004a86;
}
.dk_space{
    padding-left: 1rem;
}
.dk_space li{
    list-style-image: url(../img/mv_image/left\ arrow.png);
    padding: 0.3rem 0rem;
}
/* Boost Deep */
.dk_boost_deep{
    padding: 2.5rem 0rem;
}
.dk_boost_deep_sub{
    row-gap: 2rem;
}
/* More Resources */
.dk_more_resources{
    padding: 2.5 0rem;
}
.dk_more_resources_sub p{
    padding-bottom: 0rem;
    margin-bottom: 0.5rem;
}
.dk_reso{
    padding: 1rem;
}
/* Intel Developer */
.dk_intel_developer{
    padding: 2.5rem 0rem;
}
/* ai workflow get Started  */
.dk_refere{
    padding: 0.6rem 1.6rem;
    color: #FFF;
    background-color:#0068b5;
    border: none;
}
.dk_refere:hover{
    color: #FFFFFF;
    background-color: #004a86;
}
.dk_get_started_sub{
    /* padding: 2.5rem; */
    row-gap: 2rem;
}
.dk_get_started_sub p{
   margin-bottom: 0.5rem;
}
/* Large Language */
.dk_large_language{
    padding: 2.5rem 0rem;
}
.dk_large_language_sub p{
    margin-bottom: 0.5rem;
}
/* High-Performance */
.dk_high-performance{
    padding: 2.5rem 0rem;
}
/* System Test */
.dk_system_test{
    padding: 2.5rem 0rem;
}
/* Success Stories */
.dk_success_stories{
    padding: 2.5rem 0rem;
    background-color: #F7F7F7;
}
/* Zuse Institute */
.dk_zuse_institute{
    padding: 2.5rem 0rem;
}
.dk_zuse_info{
    display: flex ;
}
.dk_zuse_institute_sub{
    padding: 1rem 0rem;
}
.dk_boder2{
    border-bottom: none;
}
.dk_boder2:hover{
    border-bottom: 1px solid;
}
.dk_note{
    padding: 3rem 0rem;
}
/* Product and Performance */
.dk_product_and_performance{
    padding: 1rem 0rem 2rem 0rem;
}
/* AI Inference */
.dk_ai_inference{
    padding: 2.5rem 0rem;
}
/* Construct Visual */
.dk_construct_visual{
    padding: 2.5rem 0rem;
}
/* AI Inference Get Started */
.dk_ai_inference_get_Started{
    padding: 2.5rem 0rem;
}
/* Media Delivery */
.dk_media_delivery{
    padding: 2.5rem 0rem;
}
.dk_media_delivery_get{
    padding: 2.5rem 0rem 0rem 0rem;
}
.dk_media_delivery_get_sub{
    row-gap: 2rem;
}
/* Tools for Processing */
.dk_tools_for_processing{
    padding: 2.5rem 0rem;
}
.dk_tools_color{
    padding: .75rem 1.5rem;
    background-color: #f7f7f7;
    height: 100%;
}
.dk_tools_padd{
    margin-bottom: 30px;
}
/* Tools and Libraries More Resources */
.dk_more_resource_main{
    padding: 2.5rem 0rem;
}
.dk_more_resource_sub{
    row-gap: 2rem;
}





/* nav & tags */
@media (max-width:767px){
    .dk_boder2_buttom{
        overflow-x: scroll;
    }
    /* Convenient Software */
    .dk_diagarm img{
        padding-bottom: 2rem;
    }
    .dk_convenient_software_sub{
        flex-wrap: wrap-reverse !important;
    }
    .dk_diagarm_stack{
        padding-bottom: 2rem;
    }
    /* Intel oneAP */
    .dk_download{
        width: 100%;
    }
    /* Intel Developer */
    .dk_intel_developer_sub{
        flex-wrap: wrap-reverse !important;
    }
    /* Construct Visual */
    .dk_construct_visual_sub{
        flex-wrap: wrap-reverse !important;
    }    
    .dk_diagram_s6{
        padding-bottom: 2rem;
    }
    /* AI Inference Get Started */
    .dk_ai_inference_get_Started_sub{
        row-gap: 2rem;
    }
    
}
@media(max-width:991px){
    .dk_zuse_padd{
        margin-top: 1.5rem;
    }
    }