*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none !important;
}
.container{
    max-width: 1280px !important;
}
@media(max-width:1440px){
    .container{
        max-width: 1280px !important;
    }
}
@media(max-width:1024px){
    .container{
        max-width: 970px !important;
    }
}
@media(max-width:768px){
    .container{
        max-width: 750px !important;
    }
}
@media(max-width:425px){
    .container{
        max-width: 390px !important;
    }
}

@media (max-width: 1199px) {
    .container{
        max-width: 960px !important;
    }
}
@media (max-width: 991px) {
    .container{
        max-width: 720px !important;
    }
}
@media (max-width: 767px) {
    .container{
        max-width: 540px !important;
    }
}


/* @media (min-width: 1200px) {
    .container{
        max-width: 1140px;
    }
} */
/* @media (min-width: 992px) {
    .container{
        max-width: 960px;
    }
} */
/* @media (min-width: 768px) {
    .container{
        max-width: 720px;
    }
} */
/* @media (min-width: 576px) {
    .container{
        max-width: 540px;
    }
} */

/************** Bgimg **************/
.intel_geti_bg_img {
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center;
    height: 400px;
    background-color: #1e1f21;
    border-width: 10px;
    border-style: solid;
    border-right: 0;
    border-left: 0;
    border-top: 0;
    border-image: linear-gradient(90deg, #1db0e2 43.96%, #4ca286 76.55%, #89ad4e 98.99%) 1;
}
.intel_geti_bg_img{
    background-image: url(/img/mv_image/solutionbanner.webp);
    margin-top: 90px;
    height: 520px;
    width: 100% !important;
    object-fit: cover;
    /* position: relative; */
}
.intel_geti_bg_img img{
    display: none;
}
.mv_bannertxb{
    width: 60%;
    background: #8bae46;
    padding: 2.38em;
    max-width: 700px;
}
.mv_bannertxb .mv_banner_subtitle{
    letter-spacing: 9px;
    font-family: "IntelOne Display" "tahoma", Helvetica, "helvetica", Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #262626;
    margin-bottom: 15px !important;
}
.mv_bannertxb h2{
    margin-bottom: 20px !important;
    font-weight: 500;
    color: #fff;
}
.mv_banner_text{
    color: #fff;
    line-height: 1.3;
    font-size: 1.25rem;
    margin-bottom: 0px;
}
.mv_mobile_img{
    display: none;
}
.mv_mobile_bannertxb{
    display: none;
}
@media(max-width:1440px){
    .intel_geti_bg_img{
        height: 400px;
    }
}
@media only screen and (max-width: 991px) {
    .mv_bannertxb{
        width: 75% !important;
        padding: 2em !important;
    }
    .mv_banner_text{
        font-size: 1.15rem;
        line-height: 1.4;
    }
}
@media(max-width:767px){
    .mv_bannertxb{
        width: 90% !important;
        padding: 1.5rem !important;
    }
    .mv_banner_text{
        font-size: 1.10rem;
        line-height: 1.4;
    }
}
@media(max-width:660px){
    .intel_geti_bg_img{
        display: none;
    }
    .mv_mobile_img img{
        width: 100%;
        max-width: 100%;
        height: 0 auto;
        margin-top: 90px;
    }
    .mv_mobile_img{
        display: block;
    }
    .mv_mobile_img {
        position: relative;
        border-width: 10px;
        border-style: solid;
        border-right: 0;
        border-left: 0;
        border-top: 0;
        border-image: linear-gradient(90deg, #1db0e2 43.96%, #4ca286 76.55%, #89ad4e 98.99%) 1;
        -moz-border-image: linear-gradient(90deg, #1db0e2 43.96%, #4ca286 76.55%, #89ad4e 98.99%) 1;
    }
    .mv_mobile_heading{
        position: absolute;
        left: 15px;
        top: 50%;
        letter-spacing: 9px;
        font-family: "IntelOne Display";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        text-transform: uppercase;
        color: #000;
        margin-bottom: 15px;
        background: #8bae46;
        padding: 10px 20px;
    }
    .mv_mobile_bannertxb{
        display: block;
    }
    .mv_bannertxb{
        display: none;
    }
    .mv_mobile_bannertxb{
        padding: 20px 15px;
        background-color: #8bae46;
    }
    .mv_mobile_bannertxb h2{
        margin-bottom: 15px;
        letter-spacing: 0;
        font-weight: 350;
        font-size: 1.60rem;
        line-height: 1.2;
        color: #fff;
    }
}
/*********************************/

/******* Computer Vision AI *******/
.mv_rich_feature_bg_color{
    background-color: #2E2F32;
    padding: 50px 0px;
}
.mv_rich_feature h2{
    color: #fff;
    margin-bottom: 15px;
}
.mv_rich_feature p{
    color: #fff;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.3;
    margin-bottom: 45px !important;
}

/* navs & tabs */
.mv_navs_and_tabs{
    margin-top: 30px !important;
}
.mv_nav_com {
    padding-left: 0.8rem !important;
    /* width: 30% !important; */
}
.mv_nav_link_com{
    color: #fff !important;
    text-align: left !important;
    padding: 15px 15px !important;
    transition: transform 1s !important;
    margin-bottom: 10px !important;
    background-color: #242428 !important;
}
.mv_nav_pills_com .mv_nav_link_com.active, .mv_nav_pills_com .show>.mv_nav_link_com {
    background-color: #484A50 !important;
    transform: scale(1.02);
    box-shadow: 0 0 12px 8px #2c2c2c;
}
.mv_nav_link_com:hover{
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: 0 0 12px 8px #2c2c2c;
}
.mv_nav_pills_com .mv_nav_link_com {
    border-radius: 0rem !important;
}

/* image */
.mv_smart{
    align-content: center;
}
.mv_smart_img img{
    height: 40px;
    width: 40px;
    margin-right: 20px;
}
.mv_smart_text{
    align-content: center;
}
.mv_smart_text p{
    margin-bottom: 0px !important;
    font-size: 1.25rem !important;
    font-weight: 500;
}

/* hover img */
.mv_smart_hover_img img{
    height: 40px;
    width: 40px;
    margin-right: 20px;
}
.mv_smart_hover_img{
    display: none;
}
.mv_nav_link_com:hover .mv_smart_hover_img{
    display: block !important;
}
.mv_nav_link_com:hover .mv_smart_img{
    display: none !important;
}

/* video */
/* .tab-content{
    width: 70% !important;
} */
.mv_smart_annotation{
    /* padding-left: 40px !important;
    padding-right: 40px !important; */
    margin-bottom: 30px;
    background-color: #2E2F32;
}
.mv_smart_annotation video{
    max-width: 95% !important;
    padding: 5px;
    background-color: #3C3E42;
    margin-bottom: 10px;
    /* border:5px solid #3C3E42;
    margin-bottom: 1rem !important; */
}
.mv_smart_annotation img{
    max-width: 95% !important;
    padding: 5px;
    background-color: #3C3E42;
    margin-bottom: 10px;
    /* border:5px solid #3C3E42;
    margin-bottom: 1rem !important; */
}
.mv_smart_annotation p{
    font-size: 1.25rem;
    line-height: 1.3;
    margin-bottom: 25px;
    margin-bottom: 0rem !important;
    color: #fff;
    text-align: left;
}
.mv_com_btn button a{
    color: black;
}
.mv_com_btn button{
    font-weight: 500;
    padding: 6px 20px;
    border: none;
    background-color: #00C7FD;
    /* margin-left: 35px !important; */
}
.mv_com_btn button:hover {
    background-color: #0095ca;
    transition: 0.2s ease-in-out;
}

/* accordion */
.mv_accordion_com{
    border: none !important;
    display: none;
}
.mv_accordion_button_com{
    background-color: #242428 !important;
    padding: 10px !important;
}
.mv_accordion_item_com:first-of-type .mv_accordion_button_com{
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}
.mv_accordion_item_com:last-of-type .mv_accordion_button_com.collapsed{
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}
.mv_accordion_item_com{
    border: none !important;
    margin-bottom: 10px;
}
.mv_accordion_button_com:focus{
    box-shadow: none !important;
}
.mv_accordion_button_com::after{
    background-image: none !important;
}
.mv_accordion_button_com:not(.collapsed)::after{
    background-image: none !important;
}
.mv_smart_text p{
    color: #fff !important;
}
.collapse{
    padding-top: 10px !important;
    background-color: #2E2F32;
    text-align: center !important;
}
/* .collapse .mv_smart_annotation video{
    border-bottom: none !important;
} */
.mv_accordion_button_com:not(.collapsed) {
    background: #484a50 !important;
    transform: inherit !important;
    box-shadow: 0 0 6px 4px #222 !important;
}
.mv_accordion_button_com:focus{
    transition: transform 1s !important;
}
.mv_accordion_button_com:focus:not(:focus-visible) {
    transform: scale(1.02) !important;
    box-shadow: 0 0 6px 4px #222 !important;
}
.mv_accordion_item_com:hover .mv_smart_hover_img{
    display: block !important;
}
.mv_accordion_item_com:hover .mv_smart_img{
    display: none !important;
}

@media (max-width: 576px){
    .mv_rich_feature p {
        font-size: 1.125rem;
    }
}
@media (max-width: 1180px){
    .mv_nav_com{
        display: none !important;
    }
    #v-pills-tabContent{
        display: none !important;
    }
    .mv_accordion_com{
        display: block !important;
    }
}
/*********************************/

/****** Technical Resources ******/
.mv_featured_bg_color{
    padding: 50px 0px;
    background-color: #242428;
}
.mv_testimonials h2{
    margin-bottom: 15px;
    color: #fff;
    font-weight: 400;
}
.mv_testimonials p{
    color: #fff;
    font-size: 1.50rem;
    line-height: 1.2;
    margin-bottom: 2.5rem;
}
/*********************************/

/******* Customer Success *******/
.mv_featured_bg_color{
    padding: 50px 0px;
    background-color: #2E2F32;
}
.mv_industriestexbox{
    display: block !important;
}
.mv_spark_card_featured{
    height: 550px;
    background: #3c3e42;
    overflow: hidden;
    position: relative;
    border: 1px solid #3c3e42;
    /* width: 396.667px !important; */
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}
.mv_imgboxhiden{
    overflow: hidden;
}
.mv_spark_card_featured_img1{
    background-image: url(/img/mv_image/img_building_custom_AI_models-1-448x300.webp);
    background-repeat: no-repeat !important;
    overflow: hidden;
    transform: scale(1);
    transition: all 0.5s;
    aspect-ratio: 424 / 239;
    height: auto !important;
    background-color: #3c3e42;
    display: grid;
    inline-size: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
}
.mv_spark_card_featured_img2{
    background-image: url(/img/mv_image/bravent-creates-agile-500x295.webp);
    background-repeat: no-repeat !important;
    overflow: hidden;
    transform: scale(1);
    transition: all 0.5s;
    aspect-ratio: 424 / 239;
    height: auto;
    background-color: #0051f3;
    display: grid;
    inline-size: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
}
.mv_spark_card_featured_img3{
    background-image: url(/img/mv_image/cities-meets-500x281.webp);
    background-repeat: no-repeat !important;
    overflow: hidden;
    transform: scale(1);
    transition: all 0.5s;
    aspect-ratio: 424 / 239;
    height: auto;
    background-color: #3c3e42;
    display: grid;
    inline-size: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
}
.mv_spark_card_featured:hover .mv_industrie_overlay{
    top: 0;
}
.mv_industrie_overlay{
    position: absolute;
    flex-grow: 1;
    bottom: -230px !important;
    left: 0;
    right: 0;
    background: #3C3E42;
    overflow: hidden;
    width: 100%;
    block-size: inherit;
    inline-size: 100%;
    block-size: 268px !important;
    block-size: inherit !important;
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    transition: 0.5s ease !important;
}
.mv_spark_card_titles{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    inline-size: 100%;
}
.mv_spark_card_titles p {
    display: inline-block;
    font-size: 14px;
    line-height: 15px;
    padding: 6px 10px;
    border: 1px solid #6a6d75;
    margin-bottom: 20px;
    width: max-content;
}
.mv_spark_card_metrics span{
    color: #fff;
    font-size: 1.50rem;
    line-height: 1.2;           
    font-weight: 500;
    cursor: pointer;
    overflow: hidden;          
    display: -webkit-box;      
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;   
    max-height: calc(1.2em * 2); 
    width: 100%;               
}


.mv_spark_card_metrics span a{
    color: #fff;
}
.mv_spark_card_metrics span a:hover{
    color: #00c7fd !important; 
}
.mv_spark_card_description{
    min-block-size: auto;
    color: #fff;
}
.mv_spark_card_description .mv_dated{
    color: #fff;
    font-size: 1.25rem;
    line-height: 1.2;
    font-weight: 500;
}
.mv_spark_card_description .mv_textellipsis{
    font-weight: 400;
    color: #fff;
    font-size: 1.25rem;
    line-height: 1.2;
    height: 80px !important;
    margin-bottom: 0px;
}
.mv_spark_card_vertical_buttons{
    padding: 20px 15px;
    background: #3C3E42;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}
.mv_spark_card_vertical_buttons ul{
    list-style-type: none;
}
.mv_spark_card_vertical_buttons a {
    font-size: 20px;
    color: #03C7FD !important;
}
.mv_spark_button_content a:hover{
    border-bottom: 1px solid #03C7FD;
}
.mv_spark_card_vertical_buttons i {
    margin-left: 5px;
    font-size: 20px !important;
    color: #03C7FD !important;
}
.mv_socialIcon{
    margin-left: auto !important;
    align-content: center;
}
.mv_socialIcon i{
    cursor: pointer;
}

@media(max-width:1199px){
    /* .mv_spark_card_featured{
        height: 850px;
    } */
    .mv_industrie_overlay{
        bottom: -176px !important;
    }
    .mv_spark_card_description .mv_textellipsis{
        height: auto !important;
        font-size: 1.15rem !important;
    }
}
@media (max-width: 767px) {
    /* .mv_industrie_overlay {
        bottom: -290px !important;
    } */
     /* .mv_spark_card_featured{
        height: 700px !important;
    } */
    .mv_spark_card_description .mv_textellipsis{
        font-size: 1rem !important;
    }
    .mv_spark_card_metrics{
        font-size: 1.25rem;
    }
    .mv_testimonials p{
        font-size: 1.125rem;
    }
    .mv_spark_card_vertical_buttons a{
        font-size: 1rem !important;
    }
    .mv_spark_card_vertical_buttons i{
        font-size: 1rem !important;
    }
}
/*********************************/

/******* Learn More About ********/
.mv_more_about_bg_color{
    padding: 20px 0px 25px;
    background-color: #3c3e42;
}
.mv_more_about{
    text-align: center;
}
.mv_more_about h2{
    margin-bottom: 15px;
    color: #fff;
    font-weight: 400;
}
.mv_more_about p{
    color: #fff;
    font-size: 1.50rem;
    line-height: 1.2;
    margin-bottom: 25px;
}
.mv_more_about_button button a{
    color: black !important;
}
.mv_more_about_button button a i{
    margin-left: 10px;
    font-size: 12px;
}
.mv_more_about_button button{
    font-weight: 500;
    padding: 6px 20px;
    border: none;
    background-color: #00C7FD;
}
.mv_more_about_button button:hover {
    background-color: #0095ca;
    transition: 0.2s ease-in-out;
}
/*********************************/

/********** Model **********/
.mv_plaform_header button{
    opacity: 1;
}
.mv_plaform_header button:focus{
    box-shadow: none;
}
.mv_plaform_header{
    padding: 8px 40px 8px 20px !important;
}
.mv_platform_title{
    line-height: 1.2 !important;
}
.mv_platform_body p{
    text-align: center;
    margin-bottom: 0rem;
}
.mv_platform_body p a{
    color: #222;
}
.mv_padshar{
    padding: 10px 0 0;
    display: flex;
    justify-content: center;
}
.mv_custom_button:hover {
    opacity: .7;
}
.mv_custom_button img{
    width: 50px;
    height: 60px;
    margin: 3px 10px 20px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}
.mv_btn_close{
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    z-index: 99;
    font-size: 15px;
    color: #2b2c30;
    line-height: 32px;
}
@media (min-width: 576px) {
    .mv_platform_dialog {
        max-width: 600px !important;
    }
}
@media (max-width: 375px) {
    .mv_platform_body p{
        line-height: 1.2;
    }
    .mv_platform_body p a{
        font-size: 14px;
        line-height: 1;
    }
}
/*********************************/


@media(max-width:1024px){
    /* Learn More About */
    .mv_more_about p{
        width: 60%;
        margin: 0 auto;
        margin-bottom: 25px;
    }
}
@media(max-width:768px){
    /* Learn More About */
    .mv_more_about p{
        width: 100%;
        font-size: 1.3rem;
    }
}
@media(max-width:425px){
    /* Learn More About */
    .mv_more_about p {
        width: 100%;
        font-size: 1rem;
    }
}