*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none !important;
}
.container{
    max-width: 1610px !important;
}
@media(max-width:1440px){
    .container{
        max-width: 1170px !important;
    }
}
@media(max-width:1199px){
    .container{
        max-width: 970px !important;
    }
}
@media(max-width:991px){
    .container{
        max-width: 750px !important;
    }
}
@media(max-width:768px){
    .container{
        max-width: 750px !important;
    }
}
@media(max-width:425px){
    .container{
        max-width: 390px !important;
    }
}

/********** Developer Tools *********/
.mv_intel_data_bg_color{
    padding: 40px 0px;
    background-color: #262626;
    background-image: url(../img/mv_image/background-devzone-mosaic.svg);
    object-fit: cover;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.mv_intel_data_content{
    color: #fff;
}
.mv_intel_data_content h1{
    font-weight: 300;
    margin-bottom: 16px;
}
.mv_intel_data_content a{
    color: #fff;
    border-bottom: 1px dashed #fff;
}
.mv_intel_data_content a:hover{
    color: #fff;
    border-bottom: 1px solid #fff;
}
.mv_intel_data_image img{
    width: 100%;
}
/* navs & tags */
.dk_unleash_the_power{
    padding-top: 1.5rem;
}
.dk_boder2_buttom{
    border-bottom: 1px solid #D7D7D7;
    flex-wrap: nowrap !important;
}
.dk_box2{
    text-wrap: nowrap !important;
    border-bottom: 4px solid #00aeef;
}
.dk_boder2_buttom .dk_box2.active{
    background-color: #F2F2F2 !important;
    color: #0068b5 !important;
    border-radius: 0rem !important;
    border-bottom: 4px solid #00aeef;
}
.dk_boder2_buttom .dk_box2:hover{
    border-radius: 0rem !important;
    background-color: #F2F2F2 !important;
}
/* Tools and Libraries */
.dk_tools_and_libraries{
    padding: 2.5rem 0rem;
}
/* Convenient Software */
.dk_convenient_software{
    padding: 2.5rem 0rem;
}
.dk_diagarm_stack{
    position: relative;
}
/* Get Started */
.dk_get_started{
    padding: 2.5rem 0rem;
}
.dk_boder{
    color: #0068B5;
    border-bottom: 1px dashed #0068b5;
}
.dk_boder:hover{
    color: #004a86;
    border-bottom: 1px solid #0068b5;
}
/* Intel oneAP */
.dk_intel_oneap{
    padding: 2.5rem 0rem;
}
.dk_intel_oneap_sub{
    row-gap: 1.5rem;
}
.dk_download{
    padding: 0.6rem 1.6rem;
    color: #0068B5;
    border: 1px solid #0068B5;
}
.dk_download:hover{
    color: #FFFFFF;
    background-color: #004a86;
}
.dk_space{
    padding-left: 1rem;
}
.dk_space li{
    list-style-image: url(../img/mv_image/left\ arrow.png);
    padding: 0.3rem 0rem;
}
/* Boost Deep */
.dk_boost_deep{
    padding: 2.5rem 0rem;
}
.dk_boost_deep_sub{
    row-gap: 2rem;
}
/* More Resources */
.dk_more_resources{
    padding: 2.5rem 0rem;
}
.dk_more_resources_sub p{
    padding-bottom: 0rem;
    margin-bottom: 0.5rem;
}
.dk_reso{
    padding: 1rem;
}
/* AI Inference */
.dk_ai_workflows{
    padding: 3rem 0rem;
}
/* Intel Developer */
.dk_intel_developer{
    padding: 2.5rem 0rem;
}
/* ai workflow get Started  */
.dk_refere{
    padding: 0.6rem 1.6rem;
    color: #FFF;
    background-color:#0068b5;
    border: none;
}
.dk_refere:hover{
    color: #FFFFFF;
    background-color: #004a86;
}
.dk_get_started_sub p{
   margin-bottom: 0.5rem;
}
/* Large Language */
.dk_large_language{
    padding: 2.5rem 0rem;
}
.dk_large_language_sub p{
    margin-bottom: 0.5rem;
}
.dk_large_language_col{
    padding: 16px;
}
/* High-Performance */
.dk_high-performance{
    padding: 2.5rem 0rem;
}
/* System Test */
.dk_system_test{
    padding: 5rem 0rem;
}
/* Success Stories */
.dk_success_stories{
    padding: 2.5rem 0rem;
    background-color: #F7F7F7;
}
/* Zuse Institute */
.dk_zuse_institute{
    padding: 2.5rem 0rem;
}
.dk_zuse_info{
    display: flex ;
}
.dk_zuse_institute_sub{
    padding: 1rem 0rem;
}
.dk_boder2{
    color: #0068b5;
}
.dk_boder2:hover{
    color: #004a86;
    border-bottom: 1px solid #004a86;
}
.dk_note{
    padding: 3rem 0rem;
}
.dk_note p{
    font-size:.7rem;
}
/*********************************/

/******** zoom img POPUP ********/
.mv_industry_download{
    position: absolute;
    top: .5rem;
    right: 1.3rem;
    font-family: "site-global-icons";
    font-style: normal;
    font-weight: 400;
    display: inline-block;
    text-decoration: inherit;
    width: auto;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: rgba(0, 0, 0, 0.5);
    width: 32px;
    height: 32px;
    display: flex;
    text-decoration: none;
    border: 0 !important;
    cursor: pointer;
}
.mv_industry_download:hover{
    background: rgba(0, 0, 0, 0.6) !important;
    opacity: 1;
}
.mv_industry_download:before{
    font-family: "site-global-icons";
    font-style: normal;
    font-weight: 400;
    display: inline-block;
    text-decoration: inherit;
    width: auto;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.5rem;
    content: "1";
    background: 0;
    padding: 0;
    color: #fff;
    text-decoration: none;
    position: relative;
    top: 5px;
    margin-left: 10px;
}
.mv_industry_model_content img{
    max-width: none;
    width: 100%;
}
.mv_industry_body button{
    background: rgba(0, 0, 0, 0.5);
    border: 0;
    color: #fff;
    font-size: 1rem;
    font-weight: 300;
    position: absolute;
    z-index: 3;
    top: 15px;
    right: 15px;
    width: 32px;
    height: 32px;
    padding: 4px 8.5px;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mv_industry_body button span{
    font-size: 20px;
}
.mv_industry_body{
    padding: 0rem !important;
}
@media (min-width: 576px) {
    .mv_industry_dialog{
        max-width: 100% !important;
        margin: 2.5rem 7rem !important;
    }
}
/* ************************* */




@media(max-width:991px){
    .dk_zuse_padd{
        margin-top: 1.5rem;
    }
}

/* nav & tags */
@media (max-width:767px){
    .dk_boder2_buttom{
        overflow-x: scroll;
    }
    /* Convenient Software */
    .dk_diagarm img{
        padding-bottom: 2rem;
    }
    .dk_convenient_software_sub{
        flex-wrap: wrap-reverse !important;
    }
    .dk_diagarm_stack{
        padding-bottom: 2rem;
    }
    /* AI Inference */
    .dk_ai_workflows{
        padding: 2.5rem 0rem;
    }
    /* Intel oneAP */
    .dk_download{
        width: 100%;
    }
    /* Intel Developer */
    .dk_intel_developer_sub{
        flex-wrap: wrap-reverse !important;
    }
}