*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none !important;
}
.container{
    max-width: 1610px !important;
}
@media(max-width:1440px){
    .container{
        max-width: 1170px !important;
    }
}
@media(max-width:1199px){
    .container{
        max-width: 970px !important;
    }
}
@media(max-width:991px){
    .container{
        max-width: 750px !important;
    }
}
@media(max-width:768px){
    .container{
        max-width: 750px !important;
    }
}
@media(max-width:425px){
    .container{
        max-width: 390px !important;
    }
}

/* header */
nav{
    position: relative !important;
}

/* X-HPG Microarchitecture */
.dk_hpg_microarchitecture{
    padding: 3rem 0rem;
    background-image: url(../img/mv_image/xehpg-banner-background_1920-1080.avif);
    background-color: #262626;
    background-size: cover;
    position: relative;
}
.dk_hpg_microarchitecture_sub h1{
    color: #fff;
    font-weight: 300;
}
/* High Performance Graphics */
.dk_high_performance_graphics{
    padding: 3rem 0rem;
    background-color: #525252;
}
.dk_high_performance_graphics_sub{
    color: #fff;
}
/* Xe-cores with XMX */
.dk_xe-cores_with_xmx{
    padding: 3rem 0rem;
    background-color: #262626;
}
.dk_xe-cores_with_xmx_sub{
    color: #fff
}
/* Rasterization Meets */
.dk_rasterization_meets{
    padding: 3rem 0rem;
}
.dk_rasterization_meets_sub h1{
    font-weight: 300;
}
/* Highly Scalable */
.dk_highly_scalable{
    padding: 3rem 0rem;
    background-color: #525252;
}
.dk_highly_scalable_sub{
    color: #fff
}
/* Intel Architecture Day 2021 */
.dk_zuse_institute{
    padding: 2.5rem 0rem;
    background-color: #262626;
}
.dk_zuse_info{
    display: flex ;
}
.dk_zuse_institute_sub{
    padding: 1rem 0rem;
}
.dk_boder2{
    border-bottom: 1px dashed #FFFFFF;
    color: #FFF;
}
.dk_boder2:hover{
    border-bottom: 1px solid #FFFFFF;
    color: #FFF;
}
.dk_zuse_padd p{
    color: #fff;
}
/* Xe-cores with XMX */
.dk_Xe-cores_with_XMX{
    padding: 3rem 0rem;
    background-color: #262626
}
.dk_Xe-cores_with_XMX_sub{
    color: #FFF;
}
/* Intel Architecture Day 2021 */
@media(max-width:991px){
    .dk_zuse_padd{
        margin-top: 1.5rem;
    }
}