*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none !important;
}
.container{
    max-width: 1610px !important;
}
@media(max-width:1440px){
    .container{
        max-width: 1170px !important;
    }
}
@media(max-width:1024px){
    .container{
        max-width: 970px !important;
    }
}
@media(max-width:768px){
    .container{
        max-width: 750px !important;
    }
}
@media(max-width:425px){
    .container{
        max-width: 390px !important;
    }
}

/******** Intel Gaudi 3 ********/
.mv_intel_gaudi_3_bg_color{
    padding: 40px 0px;
    background-color: #00285A;
}
.mv_intel_gaudi_3_content h1{
    color: #fff;
    font-weight: 300;
    margin-bottom: 16px;
}
.mv_intel_gaudi_3_content p{
    color: #fff;
    line-height: 1.25;
}
.mv_mv_intel_gaudi_3_image img{
    width: 100%;
}
/* *************************** */

/**** Intel Gaudi 3 responsive ***/
.mv_intel_gaudi_responsive{
    display: none;
}
/* *************************** */

/********* Our Intel *********/
.mv_our_intel_bg_color{
    background-color: #F7F7F7;
    padding: 3rem 0rem;
}
.mv_our_intel_img img{
    width: 100%;
}
.mv_our_intel_content{
    align-content: center;
}
.mv_our_intel_content h2{
    font-weight: 300;
    margin-bottom: 1rem;
}
.mv_our_intel_content p{
    line-height: 1.4;
}
.mv_our_intel_content p a{
    color: #0068b5;
    border-bottom: 1px dashed #0068b5;
}
.mv_our_intel_content p a:hover{
    color: #0068b5;
    border-bottom: 1px solid #0068b5;
}
/* *************************** */

/************* aws *************/
.mv_aws_padd{
    padding: 2.5rem 0rem;
}
.mv_aws_content{
    padding: 16px;
}
.mv_aws_image img{
    width: 100%;
}
.mv_aws_text h4{
    font-weight: 300;
    line-height: 1.25;
}
.mv_aws_text h4 a{
    color: #0068b5;
}
.mv_aws_text h4 a:hover{
    color: #0068b5;
    border-bottom: 1px solid #0068b5;
}
.mv_aws_text p{
    line-height: 1.4;
    margin-bottom: 0rem;
}
/* *************************** */

/********* roboflow *********/
.mv_roboflow_bg_color{
    padding: 16px 0px;
    background-color: #0068B5;
}
.mv_roboflow_content{
    align-items: center;
}
.mv_roboflow_img img{
    width: 100%;
}
.mv_roboflow_text{
    color: #fff;
}
.mv_roboflow_text h5{
    font-weight: 300;
}
.mv_roboflow_text p{
    line-height: 1.25;
    margin-bottom: 0rem;
}
/* *************************** */

/********* Architecture *********/
.mv_architecture_padd{
    padding: 3rem 0rem;
}
.mv_architecture_item{
    align-content: center;
}
.mv_architecture_item h2{
    font-weight: 300;
}
.mv_architecture_item ul{
    margin-bottom: 0rem;
}
.mv_architecture_img img{
    width: 100%;
}
/* *************************** */

/*********** Options ***********/
.mv_options_padd{
    padding: 3rem 0rem;
}
/* *************************** */

/***** Making development *****/
.mv_performance_padd{
    padding: 3rem 0rem;
    background-color: #F7F7F7;
}
.mv_performance{
    text-align: center;
}
.mv_performance h2{
    font-weight: 300;
    line-height: 1.25;
}
.mv_performance p{
    margin-bottom: .5rem;
}
.mv_performance p a{
    color: #0068b5;
    border-bottom: 1px dashed #0068b5;
}
.mv_performance p a:hover{
    color: #0068b5;
    border-bottom: 1px solid #0068b5;
}
/* **************************** */

/******* Learn More About ********/
.mv_learn_more_about_padd{
    padding: 3rem 0rem;
}
.mv_more_about{
    text-align: center;
}
.mv_more_about h2{
    margin-bottom: 15px;
    font-weight: 300;
}
.mv_more_about p{
    font-size: 1.50rem;
    line-height: 1.2;
    margin-bottom: 25px;
}
.mv_more_about_button button a{
    color: #fff !important;
}
.mv_more_about_button button{
    font-weight: 500;
    padding: 6px 20px;
    border: none;
    background-color: #0068b5;
}
.mv_more_about_button button:hover {
    background-color: #004a86;
    transition: 0.2s ease-in-out;
}
/*********************************/




@media(max-width:991px){
    /* Intel Gaudi */
    .mv_intel_gaudi_3{
        display: none;
    }
    /* Intel Gaudi responsive */
    .mv_intel_gaudi_responsive{
        display: block !important;
    }
    .mv_mv_intel_gaudi_3_image img{
        margin-bottom: 1rem;
    }
    /* aws */
    .mv_aws_image img{
        margin-bottom: 1rem;
    }
}

@media(max-width:767px){
    /* Our Intel */
    .mv_our_intel_img img{
        margin-bottom: 1rem;
    }
    /* Architecture */
    .mv_architecture_img img{
        margin-bottom: 1rem;
    }
    /* Options */
    .mv_options_padd{
        padding: 2.5rem 0rem;
    }
    /* Performance */
    .mv_performance_padd{
        padding: 2.5rem 0rem;
    }
    /* Learn More About */
    .mv_learn_more_about_padd{
        padding: 2.5rem 0rem;
    }
    .mv_more_about_button button{
        width: 100%;
    }
}