*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none !important;
}
.container{
    max-width: 1610px !important;
}
@media(max-width:1440px){
    .container{
        max-width: 1170px !important;
    }
}
@media(max-width:1199px){
    .container{
        max-width: 970px !important;
    }
}
@media(max-width:991px){
    .container{
        max-width: 750px !important;
    }
}
@media(max-width:768px){
    .container{
        max-width: 750px !important;
    }
}
@media(max-width:425px){
    .container{
        max-width: 390px !important;
    }
}


/************** Bgimg **************/
.intel_geti_bg_img {
    align-items: center;
    border-right: 0;
    border-left: 0;
    border-top: 0;
}
.intel_geti_bg_img{
    background-image: url(/img/mv_image/devzone-gradient-background-blue-geode-light-darktextured-16x9.png.rendition.intel.web.1920.1080.png);
    width: 100% !important;
    object-fit: cover;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.mv_performance h1{
    font-weight: 300;
}
.mv_processor_select{
    padding: 18px 76px 18px 16px !important;
    border-radius: 0 !important;
    text-overflow: ellipsis;
}
.mv_processor_select:focus{
    box-shadow: none !important;
    background: #e9e9e9 !important;
}
.mv_atom_text ul li a{
    color: #0068b5;
    border-bottom: 1px dashed #0068b5;
}
.mv_atom_text ul li a:hover{
    color: #0068b5;
    border-bottom: 1px solid #004a86;
}
/*********************************/

/******** download table ********/
.mv_download_table_padd{
    background-color: #f7f7f7;
    padding: 1rem 0 2rem 0rem;
    border-bottom: 1px solid #d7d7d7;
}
.mv_download_table h3{
    font-weight: 350;
}
.mv_download_table p a{
    color: #0068b5;
    border-bottom: 1px dashed #0068b5;
}
.mv_download_table p a:hover{
    color: #0068b5;
    border-bottom: 1px solid #004a86;
}
/*********************************/

/********* Deep Learning *********/
.mv_deep_learning_padd{
    padding: 2rem 0 2rem 0rem;
}
.mv_li_text li p{
    margin-left: 4px;
    font-size: 12px;
    font-weight: 500;
}
/*********************************/

/************* Table Data *************/
.b_table_responsive1 td{
    border: 1px solid lightgray;
    font-size: 13px;
}
.b_table_responsive1 table thead th{
    font-size: 14px;
}
/*********************************/

/************ Hardware ************/
.mv_hardware_padd{
    padding: 2rem 0 2rem 0rem;
}
.mv_hardware p{
    line-height: 1.4;
}
/*********************************/