*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none !important;
}
.container{
    max-width: 1610px !important;
}
@media(max-width:1440px){
    .container{
        max-width: 1170px !important;
    }
}
@media(max-width:1024px){
    .container{
        max-width: 970px !important;
    }
}
@media(max-width:768px){
    .container{
        max-width: 750px !important;
    }
}
@media(max-width:425px){
    .container{
        max-width: 390px !important;
    }
}

/******** Intel Gaudi 3 ********/
.mv_intel_gaudi_3_bg_color{
    padding: 40px 0px;
    background-color: #00285A;
}
.mv_intel_gaudi_3_content h1{
    color: #fff;
    font-weight: 300;
    margin-bottom: 16px;
}
.mv_intel_gaudi_3_content p{
    color: #fff;
    line-height: 1.25;
}
.mv_mv_intel_gaudi_3_image img{
    width: 100%;
}
/* *************************** */

/**** Intel Gaudi 3 responsive ***/
.mv_intel_gaudi_responsive{
    display: none;
}
/* *************************** */

/********* Our Intel *********/
.mv_our_intel_bg_color{
    background-color: #F7F7F7;
    padding: 3rem 0rem;
}
.mv_our_intel_img img{
    width: 100%;
}
.mv_our_intel_content{
    align-content: center;
}
.mv_our_intel_content h2{
    font-weight: 300;
    margin-bottom: 1rem;
}
.mv_our_intel_content p{
    line-height: 1.4;
}
/* *************************** */

/********* Architecture *********/
.mv_architecture_padd{
    padding: 3rem 0rem;
}
.mv_architecture_item{
    align-content: center;
}
.mv_architecture_item h2{
    font-weight: 300;
}
.mv_architecture_item ul{
    margin-bottom: 0rem;
}
.mv_architecture_img img{
    width: 100%;
}
/* *************************** */

/*********** wrapper ***********/
.mv_wrapper_row_padd {
    --bs-gutter-x: 0rem !important;
}
.mv_wrapper {
    position: relative;
    height: 400px;
    overflow: hidden;
}
.mv_wrapper_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
    transition: transform .35s ease-in-out;
}
.mv_wrapper_bg_img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transition: transform .35s ease-in-out;
}
.mv_wrapper_bg_img_ai {
    background-image: url(/img/mv_image/adobestock-197548345.jpeg.rendition.intel.web.1072.603.jpg);
}
.mv_wrapper_bg_img_trust {
    background-image: url(/img/mv_image/adobestock-335703289.jpeg.rendition.intel.web.1072.603.jpg);
}
.mv_wrapper:hover .mv_wrapper_bg_img {
    transform: scale(1.2);
}
.mv_promo_block {
    position: relative;
    z-index: 1;
    text-align: center;
    color: #fff !important;
}
.mv_promo_text {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    text-align: center;
    transition: all .35s ease-in-out;
    padding: 3rem 20%;
}
.mv_promo_text h2 {
    font-weight: 300;
}
.mv_promo_text p {
    line-height: 1.3rem;
}
.mv_promo_learn_more {
    cursor: pointer;
    border-bottom: 1px dashed #fff;
}
.mv_promo_learn_more:hover {
    border-bottom: 1px solid #fff;
}
/* .mv_read_ai_acc a{
    color: #0068b5;
    background-color: #fff;
    padding: .5rem 1.5rem;
    display: inline-block;
    text-align: center;
}
.mv_read_ai_acc a:hover{
    color: #0068b5;
    background-color: #E9E9E9;
} */
/* **************************** */

/********* Performance *********/
.mv_performance_padd{
    padding: 3rem 0rem;
}
.mv_performance{
    text-align: center;
}
.mv_performance h2{
    font-weight: 300;
    line-height: 1.25;
}
.mv_performance p{
    margin-bottom: .5rem;
}
.mv_performance p a{
    color: #0068b5;
    border-bottom: 1px dashed #0068b5;
}
.mv_performance p a:hover{
    color: #0068b5;
    border-bottom: 1px solid #0068b5;
}
/* **************************** */

/****** intel gaudi video *******/
.mv_inte_gaudi_padd{
    padding: 2rem 0rem;
}
.mv_intel_gaudi_video video{
    width: 100%;
}
/* **************************** */

/******* across models ********/
.mv_across_models{
    padding: 2rem 0rem;
}
.mv_across_models_image img{
    width: 100%;
}
/* **************************** */

/******* More Information *******/
.mv_our_intel_video video{
    width: 100%;
}
/* **************************** */

/******* Featured Partner *******/
.mv_featured_partner_padd{
    padding: 3rem 0rem;
}
.mv_our_intel_image img{
    width: 100%;
}
/* **************************** */

/****** Resources Gaudi 2 ******/
.mv_reso_gaudi_2_padd{
    padding: 2.5rem 0rem;
}
.mv_reso_gaudi_2_heading h2{
    font-weight: 300;
    margin-bottom: 1rem;
}
.mv_reso_gaudi_2_content{
    padding: 16px;
}
.mv_reso_gaudi_2_img img{
    width: 100%;
    margin-bottom: 1rem;
}
.mv_reso_gaudi_2_text p{
    text-align: center;
}
.mv_reso_gaudi_2_text p a{
    color: #0068b5;
    border-bottom: 1px dashed #0068b5;
    text-align: center;
}
.mv_reso_gaudi_2_text p a:hover{
    color: #0068b5;
    border-bottom: 1px solid #0068b5;
}
/* **************************** */

/********** noticed **********/
.mv_noticed_disclaimer{
    padding: 3rem 0rem;
    border-top: 1px solid #d7d7d7;
    color: #525252;
}
.mv_noticed_disclaimer p{
    font-weight: 400;
    line-height: 1.25;
    font-size: .75rem;
    margin-bottom: 0rem;
    margin-top: .5rem;
}
.mv_noticed_disclaimer p a{
    text-wrap: wrap;
    color: #0068b5;
    border-bottom: 1px dashed #0068b5;
}
.mv_noticed_disclaimer p a:hover{
    border-bottom: 1px solid #0068b5;
}
/*****************************/




@media(max-width: 1199px) {
    /* wrapper */
    .mv_promo_text{
        padding: 2.5rem .9375rem;
    }
}

@media(max-width:991px){
    /* Intel Gaudi 2 */
    .mv_intel_gaudi_3{
        display: none;
    }
    /* Intel Gaudi 2 responsive */
    .mv_intel_gaudi_responsive{
        display: block !important;
    }
    .mv_mv_intel_gaudi_3_image img{
        margin-bottom: 1rem;
    }
}

@media(max-width:767px){
    /* Our Intel */
    .mv_our_intel_img img{
        margin-bottom: 1rem;
    }
    .mv_architecture_content{
        flex-wrap: wrap-reverse !important;
    }
    /* Performance */
    .mv_performance_padd{
        padding: 2.5rem 0rem;
    }
    /* More Information */
    .mv_more_information_main{
        flex-wrap: wrap-reverse !important;
    }
    .mv_our_intel_video video{
        margin-bottom: 1rem;
    }
    .mv_featured_partner_padd{
        padding: 2.5rem 0rem;
    }
    /* Featured Partner */
    .mv_our_intel_image img{
        margin-bottom: 1rem;
    }
}