*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none !important;
}
.container{
    max-width: 1610px !important;
}
@media(max-width:1440px){
    .container{
        max-width: 1280px !important;
    }
}
@media(max-width:1024px){
    .container{
        max-width: 970px !important;
    }
}
@media(max-width:768px){
    .container{
        max-width: 750px !important;
    }
}
@media(max-width:425px){
    .container{
        max-width: 390px !important;
    }
}

@media (max-width: 1199px) {
    .container{
        max-width: 960px !important;
    }
}
@media (max-width: 991px) {
    .container{
        max-width: 720px !important;
    }
}
/* @media (max-width: 767px) {
    .container{
        max-width: 540px !important;
    }
} */

/* intel nav */
/* .mv_breadcrumb_bar_wrap{
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
}
.mv_breadcrumb_bar{
    background: #fff;
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
}
.mv_breadcrumb_bar li{
    display: inline-block;
    margin: 0 1em 0;
    flex: 0 0 auto;
}
.mv_breadcrumb_bar li a{
    display: block;
    padding: .66em .15em;
    margin: 1px;
    font-size: .875em;
    line-height: 1.25em;
    color: #0068b5;
    position: relative;
}
.mv_breadcrumb_bar .active a{
    font-weight: 600;
    color: black !important;
}
.mv_menuitem:not(:first-child):before {
    content: "";
    display: inline-block;
    position: relative;
    transform: skew(-18deg);
    block-size: .78rem;
    inline-size: .08rem;
    margin-inline: 0.38rem;
    background-color: #1f50cd;
    inset-block-start: .35rem;
} */

/*********** intel data **********/
.mv_intel_data_bg_color{
    padding: 40px 0px;
    background-color: #00285a;
}
.mv_intel_data_content{
    color: #fff;
}
.mv_intel_data_content h1{
    font-weight: 400;
    margin-bottom: 16px;
}
.mv_intel_data_content a{
    color: #fff;
    border-bottom: 1px dashed #fff;
}
.mv_intel_data_content a:hover{
    color: #fff;
    border-bottom: 1px solid #fff;
}
.mv_intel_data_image img{
    width: 100%;
}
.mv_intel_data_respomsive_image img{
    display: none;
}
/*********************************/

/********** Key Features *********/
.mv_key_bg_color{
    background-color: #00285a;
}
.mv_nav_pills_key_features .mv_nav_link_key_features.active{
    background-color: #f7f7f7 !important;
    color: #252525 !important;
}
.mv_nav_pills_key_features .mv_nav_link_key_features{
    font-weight: 600;
    padding: .7rem 1rem;
    color: #fff !important;
    border-radius: 0rem !important;
}
.mv_key_content h1{
    font-weight: 400;
}
.mv_key_features{
    padding: 2.5rem 0rem;
}
.mv_key_features_gup{
    padding: 15px;
}
.mv_GPU_img img{
    width: 100%;
    margin-bottom: 15px;
}
.mv_GPU h4{
    font-weight: 400;
}
.mv_GPU p{
    font-weight: 400;
    line-height: 1.2;
}
/*********************************/

/************ products ***********/
.v_2sec_bg {
    background-color: #f7f5f5;
}
.v_mar_topbot{
    padding: 40px 0;
}
.v_3rdsec_text {
    font-weight: 400;
    padding-top: 15px;
    padding-left: 0;
    margin-right: 20px;
    width: max-content;
    float: left;
    min-height: 55px;
    font-size: 14px;
    margin-bottom: 0rem;
}
.v_compare_all {
    color: #0068b5 !important;
    margin-left: 15px;
    border-bottom: 1px dashed #0068b5 !important;
}
.v_compare_all:hover {
    border-bottom: 1px solid #0068b5 !important;
}
.v_table_mar_top {
    margin-top: 20px;
}
.v_item_product{
    color:#0068b5 ;
    border-bottom: 1px dashed #0068b5;
    margin-left: 15px;
}
.v_item_product:hover{
    color:#0068b5 ;
    border-bottom: 1px solid #0068b5;
}
.v_table_header{
    background-color: #d6d4d4 !important;
}
.v_table_header:hover{
    background-color: #808080 !important;
    color: white;
}
.table {
    width: 100%;
    border-collapse: collapse;
}
.table th{
    border-right: 1px solid #fff;
}
.table td{
    border: 1px solid #ddd;
    padding: 8px;
}
.table th {
    cursor: pointer;
    position: relative;
}
.table th::after {
    content: '';
    position: absolute;
    right: 10px;
    border: 6px solid transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
}
.table th.asc::after {
    border-top-color: #000;
    border-bottom: none;
    top: 50%;
    transform: translateY(-100%);
}
.table th.desc::after {
    border-bottom-color: #000;
    border-top: none;
    top: 50%;
    transform: translateY(-50%);
}
.table>:not(caption)>*>*{
    box-shadow: none !important;
}
.mv_product_current{
    margin-bottom: 1rem;
    align-items: center;
    display: flex;
}
.mv_product_select{
    max-width: 270px !important;
    border: 1px solid #a4a4a4 !important;
    border-radius: 0rem !important;
}
.mv_product_select:focus{
    box-shadow: none !important;
    border: 1px solid #a4a4a4 !important;
}
/*********************************/

/************ noticed ************/
.mv_noticed p{
    padding: 3rem 0rem;
    font-weight: 600;
    margin-bottom: 0rem;
}
.mv_noticed_disclaimer{
    padding: 3rem 0rem;
    border-top: 1px solid #d7d7d7;
    color: #525252;
}
.mv_noticed_disclaimer p{
    font-weight: 400;
    line-height: 1.25;
    font-size: .75rem;
    margin-bottom: 0rem;
    margin-top: .5rem;
}
.mv_noticed_disclaimer p a{
    color: #0068b5;
    border-bottom: 1px dashed #0068b5;
}
.mv_noticed_disclaimer p a:hover{
    border-bottom: 1px solid #0068b5;
}
.mv_lammps ul{
    margin-bottom: 0rem;
}
.mv_lammps ul li{
    font-weight: 400;
    font-size: .75rem;
    margin-bottom: 0rem;
}
/*********************************/

/********** Footer ************/
.mv_footer_bg_color{
    background-color: #E7E7E7;
    padding: 35px 0px 40px;
}
.mv_main_footer{
    align-content: center !important;
}
.mv_footer_logo img{
    width: 5rem;
}
.mv_footer_linkbox{
    padding-left: 2.6rem;
}
.mv_footer_link{
    margin-top: 30px;
    margin-bottom: 11px;
    padding-left: 0rem !important;
}
.mv_footer_link li{
    padding: .5em 0;
    font-size: 16px;
    line-height: 20px;
    display: block;
    transition: 0.2s all ease-in-out;
    display: inline-block;
    padding: .5em 0;
    margin: 0 1rem 15px 0;
}
.mv_footer_link li a{
    color: black !important;
}
.mv_footer_link li a:hover{
    border-bottom: 1px solid black;
}
.mv_footer_socalicon{
    display: flex;
    list-style-type: none;
    padding-left: 0rem !important;
}
.mv_footer_socalicon li{
    margin-right: 2em !important;
    margin-bottom: 10px !important;
    display: inline-block;
    padding: .5em 0;
    margin: 0 1rem 15px 0;
}
.mv_footer_socalicon li a{
    color: black !important;
}
.mv_footer_socalicon li i{
    font-size: 20px;
}
.mv_footer_secondary_links{
    font-size: .9rem;
    margin-bottom: 0;
    margin-top: 0;
    /* display: flex; */
    list-style-type: none;
    padding-left: 0rem !important;
}
.mv_footer_secondary_links li{
    display: inline-block;
    padding: .5em 0;
    margin: 0 1rem 15px 0;
}
.mv_footer_secondary_links li a{
    color: black;
    line-height: 14px;
    font-size: .9rem;
    margin-bottom: 0;
    border-left: 1px solid #262626;
    padding: 0 0 0 13px;
}
.mv_footer_secondary_links li small:hover{
    border-bottom: 1px solid black;
}
.mv_footer_secondary_links li a small:hover{
    border-bottom: 1px solid black;
}
.mv_footer_disclaimer p{
    font-size: 12px !important; white-space: normal;
    line-height: 1.25;
    margin: 0 0 11px;
}
.mv_footer_disclaimer p a{
    color: black;
}
@media(max-width:767px){
    .mv_footer_link{
        margin-top: 0px;
        display: block;
    }
    .mv_footer_link li{
        width: 100% !important;
    }
    .mv_footer_secondary_links{
        font-size: .9rem;margin-bottom: 0;
        margin-top: 0;
    }
    .mv_footer_secondary_links li{
        width: 44% !important;
        padding: 8px 0;
        display: inline-block;
    }
    .mv_footer_disclaimer{
        margin-top: 50px;
    }
    .mv_footer_linkbox {
        padding-left: 0rem;
    }
    .mv_footer_swap{
        flex-wrap: wrap-reverse !important;
    }
    .mv_footer_logo img{
        padding: 25px 0px;
    }
    .mv_footer_link li {
        margin: 0 0rem 5px 0;
    }
    .mv_footer_secondary_links li small{
        font-size: .7rem !important;
    }
}
@media (max-width:425px){
    .mv_footer_logo{
        padding: 25px 0px;
    }
}
@media (max-width:320px){
    .mv_footer_secondary_links li{
        width: 100% !important;
    }
    .mv_footer_secondary_links li {
        margin: 0 0rem 0px 0;
    }
}
/*********************************/

@media(max-width:991px){
    /* intel data */
    .mv_intel_data_image{
        display: none;
    }
    .mv_intel_data_respomsive_image img{
        display: block;
    }
    .mv_intel_data_respomsive_image img{
        width: 100%;
    }
}