.mv_header123 {
    background-color: #0068b5;
    color: white;
    padding: 20px 0;
}

.mv_notification123 {
    background-color: #FFE17A;
    padding: 10px;
    text-align: center;
}

.mv_sidebar123 {
    background-color: #f8f9fa;
    padding: 20px;
}

.mv_main_content12 {
    padding: 20px;
}

.mv_developer_guide{
    width: 83% !important;
}