*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none !important;
}
.container{
    max-width: 1280px !important;
}
@media(max-width:1440px){
    .container{
        max-width: 1280px !important;
    }
}
@media(max-width:1024px){
    .container{
        max-width: 970px !important;
    }
}
@media(max-width:768px){
    .container{
        max-width: 750px !important;
    }
}
@media(max-width:425px){
    .container{
        max-width: 390px !important;
    }
}

@media (max-width: 1199px) {
    .container{
        max-width: 960px !important;
    }
}
@media (max-width: 991px) {
    .container{
        max-width: 720px !important;
    }
}
@media (max-width: 767px) {
    .container{
        max-width: 540px !important;
    }
}


/* @media (min-width: 1200px) {
    .container{
        max-width: 1140px;
    }
} */
/* @media (min-width: 992px) {
    .container{
        max-width: 960px;
    }
} */
/* @media (min-width: 768px) {
    .container{
        max-width: 720px;
    }
} */
/* @media (min-width: 576px) {
    .container{
        max-width: 540px;
    }
} */


/************** nav ****************/
.navbar{
    background-color: #242528 !important;
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
}
.mv_nav_img img{
    width: 80px;
}
.navbar{
    height: 90px;
    border-width: 10px;
    border-style: solid;
    border-right: 0;
    border-left: 0;
    border-bottom: 0;
    border-image: linear-gradient(90deg, #1db0e2 43.96%, #4ca286 76.55%, #89ad4e 98.99%) 1;
}
.mv_main_menu{
    display: flex;
    text-align: center;
    margin-bottom: 0rem !important;
    /* padding-left: 0px !important; */
}
.mv_main_menu li{
    margin-right: 10px;
}
.mv_main_menu li a{
    padding: 0 10px;
    block-size: 70px;
    display: flex;
    align-items: center;
    font-size: 17px;
    text-transform: capitalize;
    color: #fff;
    line-height: 23px;
    position: relative;
    /* border-bottom: 4px solid #00c7fd; */
}
.mv_main_menu li a i{
    color: #fff !important;
    margin-left: 5px;
}
.mv_main_menu li:last-child{
    margin-left: auto;
}
.mv_nav_btn button a{
    color: black;
}
.mv_nav_btn button{
    font-weight: 500;
    padding: 6px 20px;
    border: none;
    background-color: #00C7FD;
    margin-inline-end: 15px !important;
}
.mv_nav_btn{
    margin-left: auto;
}
.mv_nav_btn button:hover {
    background-color: #0095ca;
    transition: 0.2s ease-in-out;
}

.mv_main_menu li{
    display: inline-block;
    position: relative;
}
.mv_sub_menu{
    position: absolute;
    min-width: 200px;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 10px 10px;
    z-index: -1;
    background: #2e2f32;
    box-shadow: 0 2px 4px rgba(4, 4, 4, .38);
    border-radius: 3px;
    display: none;
}
.mv_sub_menu ul{
    padding-left: 0px !important;
}
.mv_sub_menu li{
    width: 180px;
    padding: 10px 10px;
    text-align: left;
    margin-right: 0px !important;
}
.mv_main_menu li:hover .mv_sub_menu{
    display: block;
}
.mv_sub_menu li:hover{
    color: #00c7fd;
}

@media screen and (max-width: 991px) {
    .mv_main_menu li a{
        padding: 0 3px;
        font-size: 14px;
    }
    .mv_main_menu li {
        margin-right: 5px;
    }
}
/*********************************/

/********** Offcanvas ************/
.navbar-toggler:focus {
    box-shadow: none !important;
}
.offcanvas-header{
    display: none !important;
    padding: 0px !important;
    align-content: center !important;
}
.btn-close{
    color: black !important;
}
.offcanvas{
    display: none !important;
}

@media screen and (max-width: 1024px) {
    .mv_main_menu {
        padding-left: 10px !important;
    }
}
@media screen and (max-width: 767px) {
    .offcanvas{
        display: block !important;
    }
    .btn-close:focus{
        box-shadow: none !important;
        color: #fff !important;
    }
    .mv_nav_btn button{
        margin-inline-end: 5px !important;
    }
    .mv_header{
        display: none !important;
    }
    .modal-backdrop.show {
        opacity: 0 !important;
    }
    .offcanvas-end{
        top: 90px !important;
        width: 100% !important;
    }
    .offcanvas-header{
        margin-left: auto !important;
    }
    .offcanvas-body{
        padding: 0px !important;
    }
    .mv_offcanvas ul{
        padding-left: 0px !important;
    }
    .offcanvas{
        background: #2e2f32 !important;
        color: #fff;
    }
    .mv_offcanvas ul{
        list-style-type: none;
        margin-bottom: 0px !important;
    }
    .offcanvas-header .btn-close{
        color: #fff !important;
    }
    .offcanvas-header{
        display: block !important;
    }
    .offcanvas-header .btn-close{
        margin-top: 0px !important;
    }
    .offcanvas-header button{
        background-color: black !important;
        color: #fff !important;
        padding: 5px 10px;
    }
    .mv_offcanvas ul li a {
        display: block;
        float: left;
        width: 100%;
        padding: 13px 0 13px 20px;
        margin: 0;
        text-align: left;
        color: #fff;
        border-top: 1px solid rgba(255, 255, 255, .12);
        text-decoration: none;
        text-transform: capitalize;
        font-size: 18px;
        box-sizing: border-box;
        position: relative;
        z-index: 9;
    }
    .mv_offcanvas li{
        /* display: inline-block; */
        position: relative;
    }
    .mv_offcanvas_submenu li{
        position: absolute;
        display: block;
        float: left;
        width: 100%;
        padding: 13px 0 13px 20px;
        margin: 0;
        text-align: left;
        color: #fff;
        border-top: 1px solid rgba(255, 255, 255, .12);
        text-decoration: none;
        text-transform: capitalize;
        font-size: 18px;
        box-sizing: border-box;
        position: relative;
        z-index: 9;
        display: none;
    }
    .mv_offcanvas ul li:hover .mv_offcanvas_submenu{
        display: block;
    }
}
@media (max-width: 425px){
    .navbar-toggler {
        padding: .25rem 0.50rem !important;
    }
}
/***********************************/

/************** Bgimg **************/
.intel_geti_bg_img {
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center;
    height: 400px;
    background-color: #1e1f21;
    border-width: 10px;
    border-style: solid;
    border-right: 0;
    border-left: 0;
    border-top: 0;
    border-image: linear-gradient(90deg, #1db0e2 43.96%, #4ca286 76.55%, #89ad4e 98.99%) 1;
}
.intel_geti_bg_img{
    background-image: url(/img/mv_image/contactus_bg-1.webp);
    margin-top: 90px;
    height: 520px;
    width: 100% !important;
    object-fit: cover;
    position: relative;
}
.mv_bannertxb{
    width: 60%;
    background: #8bae46;
    padding: 2.38em;
    max-width: 700px;
}
.mv_bannertxb .mv_banner_subtitle{
    letter-spacing: 9px;
    font-family: "IntelOne Display" "tahoma", Helvetica, "helvetica", Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #262626;
    margin-bottom: 15px !important;
}
.mv_bannertxb h2{
    margin-bottom: 20px !important;
    font-weight: 500;
    color: #fff;
}
.mv_banner_text{
    color: #fff;
    line-height: 1.3;
    font-size: 1.25rem;
    margin-bottom: 0px;
}
.mv_mobile_img{
    display: none;
}
.mv_mobile_bannertxb{
    display: none;
}
.mv_contacthadding{
    color: #242429;
    letter-spacing: 5px;
    font-size: 1.5rem;
    text-align: right;
    margin-top: 110px;
    padding-right: 50px;
}
.mv_contactlogo img{
    width: 100%;
}
.mv_contactintro{
    color: #242429;
    padding-top: 65px;
}
.mv_contactintro h2{
    line-height: 1.1;
    font-weight: 600;
    margin-bottom: 25px;
}
.mv_contactintro p{
    line-height: 1.4;
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 0rem;
}
@media (min-width: 1200px) and (max-width: 1550px) {
    .intel_geti_bg_img{
        height: 400px;
    }
}
@media (max-width: 1199px){
    .mv_contactintro{
        color: #242429;
        padding-top: 0px;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .intel_geti_bg_img{
        height: 350px;
    }
}
@media only screen and (max-width: 991px) {
    .intel_geti_bg_img{
        height: 265px;
    }
    .mv_bannertxb{
        width: 75% !important;
        padding: 2em !important;
    }
    .mv_banner_text{
        font-size: 1.15rem;
        line-height: 1.4;
    }
    .mv_contacthadding{
        margin-top: 85px;
    }
    .mv_contactintro{
        padding-top: 0;
        width: 250px;
    }
    .mv_contactintro h2{
        font-size: 1.5rem;
        margin-bottom: 10px;
    }
    .mv_contactintro p{
        font-size: 1.050rem;
    }
}
@media(max-width:767px){
    .mv_bannertxb{
        width: 90% !important;
        padding: 1.5rem !important;
    }
    .mv_banner_text{
        font-size: 1.10rem;
        line-height: 1.4;
    }
    .mv_contacthadding{
        margin-top: 0;
        text-align: center;
        padding: 0;
        margin-bottom: 20px;
    }
    .mv_contactlogo{
        position: inherit;
        right: inherit;
        top: inherit;
        bottom: inherit;
        text-align: center;
    }
    .mv_contactlogo img{
        width: 250px;
        max-height: 100%;
        display: block;
        text-align: center;
        margin: auto;
    }
    .mv_contactintro{
        padding-top: 10px;
        width: 100%;
        text-align: center;
    }
    .mv_contactintro p{
        width: 100%;
        margin-bottom: 0rem !important; 
    }
    .intel_geti_bg_img{
        height: inherit;
        text-align: center;
        padding: 50px 0;
    }
}
@media(max-width:660px){
    .mv_mobile_img img{
        width: 100%;
        max-width: 100%;
        height: 0 auto;
        margin-top: 90px;
    }
    .mv_mobile_img{
        display: block;
    }
    .mv_mobile_img {
        position: relative;
        border-width: 10px;
        border-style: solid;
        border-right: 0;
        border-left: 0;
        border-top: 0;
        border-image: linear-gradient(90deg, #1db0e2 43.96%, #4ca286 76.55%, #89ad4e 98.99%) 1;
        -moz-border-image: linear-gradient(90deg, #1db0e2 43.96%, #4ca286 76.55%, #89ad4e 98.99%) 1;
    }
    .mv_mobile_heading{
        position: absolute;
        left: 15px;
        top: 50%;
        letter-spacing: 9px;
        font-family: "IntelOne Display";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        text-transform: uppercase;
        color: #000;
        margin-bottom: 15px;
        background: #8bae46;
        padding: 10px 20px;
    }
    .mv_mobile_bannertxb{
        display: block;
    }
    .mv_bannertxb{
        display: none;
    }
    .mv_mobile_bannertxb{
        padding: 20px 15px;
        background-color: #8bae46;
    }
    .mv_mobile_bannertxb h2{
        margin-bottom: 15px;
        letter-spacing: 0;
        font-weight: 500;
        font-size: 1.60rem;
        line-height: 1.2;
        color: #fff;
    }
}
@media(max-width:375px){
    .mv_mobile_heading{
        letter-spacing: 7px;
    }
}
/*********************************/

/********* Request Intel *********/
.mv_featured_bg_color{
    padding: 50px 0px;
    background-color: #242428;
}
.mv_spark_breadcrumb_items{
    margin: 0;
    display: flex;
    padding: 0;
    list-style: none;
}
.mv_spark_hyperlink{
    color: #00c7fd !important;
}
.mv_spark_hyperlink:hover{
    border-bottom: 1px solid #00c7fd;
}
.mv_breadcrumb{
    padding: 0px 0px 30px;
}
.mv_spark_breadcrumb_item{
    display: inline-flex;
    font-size: 15px !important;
    color: #fff;
}
.mv_spark_breadcrumb_item:not(:first-child):before {
    content: "";
    display: inline-block;
    position: relative;
    transform: skew(-18deg);
    block-size: .78rem;
    inline-size: .08rem;
    margin-inline: 0.38rem;
    background-color: #b7b9be;
    inset-block-start: .35rem;
}
.mv_form_stepper li:last-child{
    flex: unset;
}
.mv_form_stepper_active .label {
    color: #fff !important;
}
.mv_label{
    position: absolute;
    left: -40px;
    min-width: 160px;
}
.mv_request_intel h2{
    color: #fff;
    font-weight: 400;
    margin-bottom: 15px;
}
.mv_request_intel p{
    color: #fff;
}
.mv_form_commercially_box{
    width: 900px;
    margin: 40px auto 0;
    display: block;
}
.mv_form_stepper{
    display: flex;
    counter-reset: section;
    margin-bottom: 3rem;
    padding-left: 0rem;
}
.mv_form_stepper li{
    position: relative;
    display: flex;
    -webkit-box-flex: 1;
    flex: 1;
    -webkit-box-align: start;
    align-items: start;
}
.mv_form_stepper a{
    cursor: default;
    color: #fff;
    position: relative;
}
.mv_form_stepper a:hover{
    color: #fff;
}
.mv_form_stepper li{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
}
.mv_form_stepper li:not(:last-child):after {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 1px;
    content: "";
    top: 40%;
}
.mv_form_stepper li:after {
    background-color: #8E9099;
}
.mv_form_stepper_circle{
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 0;
    line-height: 1.7rem;
    text-align: center;
    background: rgba(0, 0, 0, 0.38);
    border-radius: 50%;
}
.mv_form_stepper_circle span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}
.mv_form_stepper_active .mv_form_stepper_circle{
    background-color: #00C7FD !important;
    color: #2B2C30 !important;
}
.mv_form_stepper_unfinished .mv_form_stepper_circle{
    background-color: #3C3E42 !important;
}
.mv_form_step{
    padding: 0 !important;
    width: 600px;
    margin: 20px auto;
}
.mv_user_information h4{
    font-weight: 400;
    color: #fff;
    margin-bottom: 15px;
}
.mv_form_group label{
    color: #fff;
    border-bottom: 4px;
}
.mv_form_group{
    margin-bottom: 15px;
}
.mv_field_control input{
    color: #fff !important;
    /* width: 100%; */
    padding: 8px 16px;
    line-height: 18px;
    background: #242528;
    border: 1px solid #585a62 !important;
    border-radius: 0;
}
.mv_field_control input:focus{
    box-shadow: none !important;
    background-color: #242528;
}
.mv_form_footer{
    padding: 10px 0 0;
    border-top: none;
    line-height: 30px;
    margin: 20px 0 10px;
}
.mv_footer_submit{
    text-align: right;
}
.mv_submit_button_style{
    padding: 5px 20px;
    font-weight: 500 !important;
    border: none;
    border-radius: 0;
    cursor: pointer;
    background-color: #00c7fd;
}
/*********************************/

@media(max-width:1150px){
    /* Request Intel */
    .mv_form_commercially_box{
        width: 90%;
    }
}
@media(max-width:767px){
    /* Request Intel */
    .mv_form_step{
        width: 100%;
    }
}
@media(max-width:600px){
    /* Request Intel */
    .mv_form_stepper{
        margin-bottom: 4rem;
    }
    .mv_label{
        position: absolute;
        left: -25px;
        min-width: 100px;
        text-align: center;
    }
}