.mv_featured_bg_color {
    padding: 50px 0px;
    /* background-color: #242428; */
}

.mv_download_product {
    background-color: #0071c5;
    color: white;
}

.mv_download_product2 {
    background-color: #00285a;
    color: white;
    padding-top: 50px !important;
    padding-bottom: 50px !important;
}

.mv_download_product3 {
    background-color: #0068b5;
    color: white;
    padding-top: 50px !important;
    padding-bottom: 50px !important;
}

.mv_breadcrumb {
    padding: 0px 0px 30px;
}

.mv_date_row {
    display: flex;
    justify-content: space-between;
}

.mv_enhance_heading h1 {
    /* color: #fff; */
    /* margin-bottom: 25px; */
}

/* .mv_enhance_heading {
    padding: 8% 8% 0% 8% !important;
} */

.mv_enhance_heading2 {
    width: 83% !important;
}

.mv_enhance_heading123 {
    padding: 0% 5% 0% 11% !important;
}

.mv_enhance_p {
    text-align: center;
    margin-bottom: 40px !important;
}

.mv_main_product123 {
    width: 60% !important;
}

.mv_enhance_heading button {
    background-color: #0071c5;
    border: none !important;
    color: #9addf7 !important;
}

.mv_enhance_heading i {
    font-size: 40px !important;
}

.mv_main_product1 {
    width: 75% !important;
}


@media (max-width: 991px) {
    .mv_enhance_heading h1 {
        font-size: 2rem !important;
        margin-bottom: 15px;
        line-height: 3rem;
        font-weight: 500;
    }

    .mv_enhance_p {
        font-size: 1.125rem;
        line-height: 1.4;
    }
}

@media (max-width: 767px) {
    .mv_enhance_content {
        flex-wrap: wrap-reverse !important;
    }
}