
* {
  box-sizing: border-box;
}

html, body {
  font-size: 100%;
}

body {
  padding: 0;
  margin: 0;
}

/* a[href] {
  position: relative;
}
a[href], a[href]:link, a[href]:visited, a[href]:active {
  text-decoration: none;
  color: #d8276c;
  text-shadow: 2px 2px 2px #070c11;
  padding-bottom: 3px;
  font-weight: bold;
}
a[href]::after {
  content: "";
  position: absolute;
  left: 0;
  left: 0;
  bottom: 0;
  background: #fff;
  width: 0;
  height: 1px;
  transition: 0.35s cubic-bezier(0.17, 0.67, 0.5, 1.03);
}
a[href]:hover::after {
  width: 100%;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
} */
article.card {
  position: absolute;
  left: 50%;
  top: 50%;
  left: 50%;
  width: 350px;
  /* height: 350px; */
  transform: translate(-50%, -50%) translateZ(0);
  border-radius: 3px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  background-color: #242424;
}
article.card .thumb {
  width: auto;
  background: url(/img/mv_image/brand-photography-library-71-fill-500x281-1.png);
  background-repeat: no-repeat !important;
    overflow: hidden;
    transform: scale(1);
    transition: all 0.2s;
    aspect-ratio: 424 / 239;
    height: auto;
    background-color: #3c3e42;
    display: grid;
    inline-size: 100%;
    background-size: cover;
    background-position: center;
}
article.card .mv_industrie_overlay {
  width: auto;
  /* position: relative;
  bottom: -230px !important; */
  padding: 14px 24px;
  background: #242424;
  color: #fff;
  transition: 0.4s 0.15s cubic-bezier(0.17, 0.67, 0.5, 1.03);
  /* position: absolute; */
    left: 0;
    right: 0;
    background: #242428;
    overflow: hidden;
    width: 100%;
    transition: 0.5s ease;
    block-size: inherit;
    inline-size: 100%;
    /* block-size: 268px; */
    block-size: inherit !important;
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}
article.card .mv_industrie_overlay .date, article.card .mv_industrie_overlay .seats {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 0.85rem;
  color: rgba(21, 37, 54, 0.7);
  font-family: "Grotesque", sans-serif;
}
article.card .mv_industrie_overlay .seats {
  display: inline-block;
  margin-bottom: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: 0.5s 0.25s cubic-bezier(0.17, 0.67, 0.5, 1.03);
}
article.card .mv_industrie_overlay .txt {
  font-family: "Merriweather", sans-serif;
  line-height: 2;
  font-size: 0.95rem;
  color: rgba(21, 37, 54, 0.7);
  opacity: 0;
  transition: 0.5s 0.25s cubic-bezier(0.17, 0.67, 0.5, 1.03);
}
article.card:hover .mv_industrie_overlay {
  transform: translateY(-200px);
}
article.card:hover .mv_industrie_overlay .seats, article.card:hover .mv_industrie_overlay .txt, article.card:hover .mv_industrie_overlay .details {
  opacity: 1;
}

.mv_spark_card_titles p {
    display: inline-block;
    font-size: 14px;
    line-height: 15px;
    padding: 6px 10px;
    border: 1px solid #6a6d75;
    margin-bottom: 20px;
    width: max-content;
}
.mv_spark_card_metrics{
    color: #fff;
    font-size: 1.50rem;
    line-height: 1.2;
    font-weight: 500;
    cursor: pointer;
}
.mv_spark_card_metrics:hover{
    color: #00c7fd !important; 
}
.mv_spark_card_description{
    min-block-size: auto;
    color: #fff;
}
.mv_spark_card_description .mv_dated{
    color: #fff;
    font-size: 1.25rem;
    line-height: 1.2;
    font-weight: 500;
}
.mv_spark_card_description .mv_textellipsis{
    color: #fff;
    font-size: 1.25rem;
    line-height: 1.2;
    height: 80px !important;
    margin-bottom: 0px;
}
.mv_spark_card_vertical_buttons{
    padding: 20px 15px;
    display: flex;
    z-index: 1;
}
.mv_spark_card_vertical_buttons a {
    font-size: 20px;
    color: #03C7FD !important;
}
.mv_spark_button_content:hover{
    border-bottom: 1px solid #03C7FD;
}
.mv_spark_card_vertical_buttons i {
    margin-left: 5px;
    font-size: 20px !important;
    color: #03C7FD !important;
}
.mv_socialIcon{
    margin-left: auto !important;
}