.main-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
}

.text-content {
    flex: 1;
}

.image-content {
    flex: 1;
    text-align: right;
}

/* 
h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    background-image: url(/img/mv_image/vire.jpg);
} */

.mv_Microarchitecture {
    background-image: url(/img/mv_image/lining.avif);
}

.mv_Microarchitecture2 {
    background-color: #525252 !important;
}

.mv_Microarchitecture3 {
    background-color: #262626 !important;
}

.mv_Microarchitecture4 {
    background-color: white !important;
}

.mv_Microarchitecture5 {
    background-color: #525252;
}

.mv_Microarchitecture6 {
    background-color: #262626 !important;
}

.chip-image {
    max-width: 80%;
    height: auto;
}




.nav-tabs .nav-link {
    color: #000;
}

.nav-tabs .nav-link.active {
    font-weight: bold;
    border-bottom: 2px solid #0071c5;
}

.search-input {
    border-radius: 20px;
}

.support-option {
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
}

.support-option:hover {
    background-color: #f8f9fa;
}