* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Intel Clear', sans-serif;
}
.r_container1 {
  max-width: 1500px;
  margin: auto;
}

.row {
  padding: 0 !important;
  margin: 0 !important;
}

.col {
  padding: 0 !important;
  margin: 0 !important;
}
.r_resource{
  padding: 40px !important;
}
.r_contentbox {
  border: solid 1px #aeaeae;
  padding: 10px;
}

.r_spacer {
  margin: 20px 5px;
}
ul {
  list-style: none;
}

a {
  text-decoration: none !important;
}

.r_container {
  background-color: white;
}

.r_whitespace{
  padding:2.5rem 0;
}
.r_text {
  padding: 10px 0 10px 20px;
}

.r_text span {
  font-size: 13px;
  font-weight: 700 !important;
}

.r_ne_blue {
  background-color: #004A86;
}

.r_bglightblue {
  position: relative;
  padding: 20px 25px 40px 25px;
  background-color: #0068B5;
  color: white;
  margin: 35px 40px;
  width: 85%;
}
.r_bglightblue h1{
  font-size: 2.5rem ;
  font-weight: lighter !important;
}

.r_intel {
  font-size: 15px;
  margin: 0 !important;
}

.r_square {
  height: 40px;
  width: 40px;
  background-color: #00A3F6;
  position: absolute;
  left: 100%;
  top: 100%;

}

.r_photo {
  padding: 0 !important;
}

.video-container {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.video-container img {
  padding: 30px;
  width: 100%;
  height: 4.5%;
  object-fit: cover;
  box-sizing: border-box;
}

video {
  width: 100%;
  height: 4.5%;
  padding: 30px;
  object-fit: cover;
}

.r_play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 4rem;
  opacity: 0.8;
  transition: all 0.3s ease;
  cursor: pointer;
}

.r_play-icon:hover {
  opacity: 1;
  font-size: 4.5rem;
}

.r_sticky-container {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 9999;
  background-color: #fff;
}

.r_item a {
  color: black !important;
  text-align: center !important;
  text-align: center;
  font-size: 14px;
  word-break: normal !important;
}

.r_item {
  flex: 0 0 auto;
  text-align: center;
  padding: 10px;
}

.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
  position: absolute;
  top: 0;
  color: black;
  width: 100%;
  margin-top: 0 !important;
  display: flex;
  justify-content: space-between;
  padding: 0 50px
}

.owl-carousel .owl-dot, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev {
  display: none;
}

.r_gray {
  background-color: #262626;
  padding: 3vw;
}

.r_text1 {
  text-align: center;
  color: white;
}

.r_text1 h2 {
  margin-bottom: 2vw;
}

.r_text1 p span {
  font-weight: bold;
}

.r_text1 p {
  margin: 0;
}

.r_paragraph p {
  font-size: 15px;
}

.r_img1 img {
  padding: 30px;
  width: 100%;
  height: auto;
  object-fit: cover !important;
}

.r_imgcontent {
  text-align: start;
  transform: translateY(60%);
  margin: 1vw;
}

.r_title {
  color: #262626;
  font-weight: 100 !important;
  font-size: 40px !important;
}

.r_col {
  margin: 0 !important;
  padding: 0 !important;
}

.r_imgp {
  font-size: 16px;
}

.r_button {
  border: none;
  padding: 5px 17px;
  background-color: #0068B5;
  color: white;

}

#r_title {
  color: #262626;
  font-weight: 10 !important;
  font-size: 40px;
}

.r_imgbackground {
  background-color: #F7F7F7;
}

.r_icon img {
  margin-bottom: 10px;
  width: 50%;
  height: 100%;
  object-fit: cover;
}

.r_fact {
  margin: 15px;
}

.r_link {
  color: #0068b5;
}

.r_link:hover {
  text-decoration: underline !important;
}

.b_ne_blue {
  background-color: #004A86;
  height: 500px;
}

.r_leadicon {
  font-size: 4.5rem;
  margin-right: 3vw;
  color: #086CB7;
}

.r_lead {
  background-color: #F7F7F7;
  padding: 20px 0;
}

.r_signin {
  margin: 30px 0;
  text-align: center;
}
.r_signin h2{
  font-size: 36px;
  font-weight:300;
  color: #26262D;
}
.r_sign {
  color: #0068B5;
}

.r_border {
  border-bottom: 1px dashed;
}

.r_bgblue {
  background-color: #0068B5;
  padding: 20px 0;
}

.r_let {
  padding: 20px 5px;
  text-align: center;
  color: white;
}
.r_let h1{
  font-weight: lighter;
}

.r_contact {
  background-color: white;
  color: #0068B5;
  padding: 10px 20px;
}

.r_lightimg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 10px;
}

.r_lightimg a {
  font-size: 20px;
  color: white;
}

.r_bggray {
  padding: 40px 0;
  background-color: #262626;
}

.r_recent {
  padding-bottom: 10px;
  color: white;
}

.r_product {
  margin: 5px !important;
}

.r_paragraph {
  font-size: 13px;
  margin: 5px !important;
}

.r_corporate {
  color: #0068B5;
}

.r_text2 {
 
  color: white;
  text-align: center;
}

.r_text2 h2 {
  font-size: 2.25rem;
  font-weight: lighter;
  margin-bottom: 5px;

}

.r_riya {
  width: 100%;
  height: 100%;
}

.r_riya img {
  margin: 40px 0;
  width: 100% !important;
  height: auto;
  object-fit: cover !important;
}

.r_content h2 {
  font-size: 35px;
  margin-bottom: 10px;
  font-weight: lighter !important;
}

.r_content p {
  font-size: 16px;
  line-height: 1.6;
  margin: 0 0 5px 0;
}

.r_middle {
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.r_see h2 {
  font-size:2.25rem;
}

.r_row {
  margin: 30px;
}

.r_h6 {
  font-weight: 600;
}

.r_li ul li {
  list-style-type: disc;
}

.r_image-container {
  position: relative;
  overflow: hidden;
}

.r_image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.r_image-container:hover img {
  transition: all .35s ease-in-out;
  transform: scale(1.15);
}

.r_overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.r_text-content {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 90%;
}

.r_image-container .r_overlay {
  height: 100%;
}

.r_imgcolum {
  margin: 0 !important;
  padding: 0 !important;
}

.r_btn {
  border-radius: 0% !important;
  color: #004A86 !important;
}

.r_notice {
  margin: 15px;
}

.r_advance img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 40px 20px;
}

.r_topborder {
  border-top: 1px solid #d7d7d7;
}

.r_maincontent {
  margin: 30px 0;
}

.r_design img {
  width: 100% !important;
  height: 400px !important;
  object-fit: cover !important;
}


/* ----------------sign in----------------- */
.r_vbg-image {
  background-image: url('/img/r_img/background.jfif');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.r_vopacity-layer {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
}

.r_sign-in-form {
 
  background-color: white;
  padding: 44px;
}
.r_newwidth{
  max-width: 35% !important;
}
.r_logoimg img {
  max-height: 36px;
  width: 50%;
  box-sizing: border-box;
  object-fit: cover;
}

.r_signtext {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 15px 0;
  font-weight: 600;
  font-size: 20px;
}

.r_input input {
  border: none !important;
  border-radius: 0%;
  border-bottom: 1px solid #000 !important;
  outline: none !important;
  padding: 0 !important;
  margin: 0 !important;
  width: 100% !important;
  height: 30px;
}

.form-control:focus {
  background-color: none !important;
  box-shadow: none !important;
  border-bottom: 1px solid #0070D2 !important;
}

.form-label {
  margin-bottom: 0 !important;
}

.r_anchortag {
  color: #0070D2;
  font-size: 13px;
}

.r_anchortag:hover {
  text-decoration: underline !important;
}

.r_twobutton button {
  border-radius: 0%;
  margin: 0 5px;
  width: 100px;
  padding: 4px;
  font-size: 15px;
  margin-top: 15px;
}

.r_key img {
  width: 10%;
  height: 100%;
}

.r_signinbutton {
  padding: 12px 24px;
  margin-top: 10px;
}

/* ----------------signin help---------------- */
.dropdown-menu {
  height: 300px;
  overflow-y: auto;

}

.dropdown-menu a {
  font-size: 15px;
  padding: 17.5px 26.6px !important;
  color: #0068B5;
}

.r_fontsize {
  font-size: 15px;
}

.r_squarebackground {
  background-image: url(/img/r_img/backgroundsquare.svg);
  background-color: #653171;
  width: 100%;
  height: 150px;
  position: relative;
  background-size: cover;
}

.r_borderbottom h3 {
  font-weight: 700 !important;
}

.accordion-button:focus {
  background-color: none !important;
  box-shadow: none !important;
}

.accordion {
  font-size: 14px;
  --bs-accordion-active-bg: none !important;
  --bs-accordion-border-color: none !important;
}

.accordion-item {
  border: none !important;
}

.r_topborder {
  border-top: 1px solid #d7d7d7 !important;
  border-radius: 0 !important;
}

.accordion-body {
  border: none !important;
  padding: 0 20px !important;
}

.accordion-header:hover {
  text-decoration: underline;
}

.r_margin {
  margin: 0 !important;
  padding: 10px !important;
}

.fa-angle-right {
  margin-right: 5px !important;
  font-size: 10px;
}

.r_marginbotom {
  margin-bottom: 150px !important;
}

.r_margin li {
  margin-bottom: 5px;
}

.r_margin1 p {
  margin-bottom: 7px !important;
}

.r_margin1 a {
  color: #0068b5;
}

.r_yellow {
  background-color: #FFFF00;
}

.r_support a {
  color: #0068B5;
}

.r_supporttitle a {
  color: #0068B5 !important;
}

.r_supportimg img {
  width: 20%;
  height: 100%;
  object-fit: cover;
}

.r_pink {
  background-color: #8F5DA2;
}

.r_need {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.r_need p {
  margin: 0 5px;
  font-size: 20px;
  color: white;
}

.r_need1 {
  background-color: white;
  color: #0068b5;
  border: none;
  padding: 10px 24px;
  margin-left: 5px;
}

/* ------------Sign-in options----------- */
.r_signintitle {
  font-size: 24px;
  margin: 20px 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.r_sign-in-option {
  cursor: pointer;
}

.r_sign-in-option p {

  line-height: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 5px !important;
  font-size: 15px;
}

.r_sign-in-option small {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #6c757d;
  font-size: 12px;
}

.r_vcard {
  padding: 44px !important;
  background-color: white;
  max-width: 450px;
  width: 100%;
}

.r_backbutton {
  border-radius: 0% !important;
  padding: 7px 30px !important;
  font-size: 13px;
  background-color: #CCCCCC;
  color: black;
  border: none;
}

.r_face {
  margin-left: 10px !important;
  margin-top: 10px !important;
}
/* .r_face p{
  word-break: break-all !important;
  word-wrap: break-word !important;
} */
.r_sign-in-option:hover {
  background-color: #f0f0f0;
  /* Gray background color */

}

/* ----------Intel Newsroom------------- */
.r_violet {
  background-color: #41728A;
  padding: 40px;
}

.r_vintelimg img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.r_vanchor {
  display: flex;
  align-items: center;
  justify-content: center;
}

.r_vanchor p {
  margin-bottom: 0;
  color: white;
}

.r_vanchor a {
  color: white;
  border-bottom: 1px dashed white;
}

.r_vanchor a:hover {
  color: white !important;
  border-bottom: 1px solid;
}

.r_bigimg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.r_bigimg {
  width: 100%;
  height: 100%;
}

.r_vcontent {
  background-color: #005B85;
  display: flex;
  align-items: center;
}

.r_vpadding {
  padding: 40px;
  color: white;
}

.r_vpadding h4 {
  font-size: 30px;
}

.r_boxpadding {
  padding: 25px !important;
}

.r_vbold {
  font-weight: 700;
}

.r_more {
  padding: 5px 20px;
  color: white;
  background-color: #004A86;
  border: none;
}

.r_printicon {
  color: #0068b5;
  font-size: 22px;
  text-align: end;
}

.r_bigli {
  list-style: disc;
}

.r_santa p {
  font-size: 17px;
}

/* carousel */
.carousel-thumbnails {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.carousel-thumbnails img {
  width: 100px;
  height: auto;
  cursor: pointer;
  margin: 0 5px;
  opacity: 0.6;
}

.carousel-thumbnails img.active {
  opacity: 1;
}

.carousel-thumbnails img:hover {
  opacity: 1;
}

.carousel-item {
  position: relative;
}

.r_using {
  font-size: 13px !important;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.35);
  bottom: 0;
  color: white;
  padding: 1em;
}

.r_twoman img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.r_twoman {
  position: relative;
}

.r_drtext {
  margin-bottom: 0;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  text-align: left;
  transition: opacity .3s ease-in;
  padding: 10px;
  font-size: 13px;
  display: none;
}

.r_twoman:hover .r_drtext {
  display: block !important;
}

/* --------submit request------- */
.r_customer {
  font-weight: 900;
  margin: 20px 0;
}

.r_cecaptcha {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  margin-top: 5px;
}

.r_rimg img {
  object-fit: cover;
  width: 32px;
  height: 32px;
  margin: 0 13px 0 13px;
}

.r_custom {
  width: 24px;
  height: 24px;
  /* border: 2px solid #c1c1c1 !important; */
}

.r_submit {
  font-size: 15px;
  padding: 3px;
  background-color: rgba(239, 239, 239, 0.3);
  color: rgba(16, 16, 16, 0.3);
  border-color: rgba(118, 118, 118, 0.3);
  border-radius: 5px;
  margin: 20px 0 20px 0;
}

/* ----------chet now---------------- */
.r_liveimg {
  margin-left: 300px;
}

/* support */
.r_error-message {
  color: red;
  font-size: 0.875em;
}

.r_redborder {
  border-left: 3px solid red !important;
  line-height: 1.875rem !important;
}

.r_requestbutton {
  width: 220px;
  box-shadow: inset 0px 0px 2px 0px #ccc;
  color: black;
  border: 1px solid #D4D7D9;
  font-size: 15px;
  padding: 5px;
}

/* ----------phonlist---------------------- */
.r_partner {
  transform: translateY(125%);
}

.r_input-find-location {
  border: 0;
  padding: 7px 30px 7px 10px;
  font-size: 16px;
  background-color: #f2f2f2;
  width: 100%;
  outline: 0;
}

.r_agents p {
  text-align: right;
  font-weight: 700;
  font-size: 13px;
}

.r_filter {
  position: relative;
}

.r_filtericon {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #0068B5;
}

.r_phonlist a {
  color: #0068B5;
  font-size: 16px;
}

.r_phonlist p {
  font-size: 21px;
}

.r_displblock {
  display: flex;
  justify-content: space-between;
}

.sticky-top {
  top: 20px;
  /* Adjust as needed */
}

#triggerSection {
  min-height: 100vh;
  /* Ensures enough space to scroll */
}

/* ------------Semiconductor-Manufacturing------------- */
.r_mapimg {
  box-sizing: border-box;
}

.r_mapimg img {
  height: auto;
  max-width: none;
  width: 100%;
  vertical-align: middle;
}



/* -----Intel-CoFluent-Studio-------- */
.bluroundimg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav-tabs {
  border: none !important;
}

.nav-tabs .nav-link {
  border: none !important;
}

.nav-link {
  cursor: pointer;
}

.nav-link.active {
  border-bottom: 3px solid #00aeef !important;
}

.content {
  display: none;
  padding: 20px;
  margin-top: 10px;
}

.content.active {
  display: block;
}

.r_siemens:hover {
  border-bottom: 3px solid #003c71;
}

.r_siemens {
  color: #003c71 !important;
}

.r_lern p::after {
  content: ' ';
  position: absolute;
  width: 38%;
  height: 1px;
  background: #ebebeb;
  display: block;
  top: 50%;
  left: 0;

}

.r_lern p::before {
  content: ' ';
  position: absolute;
  width: 38%;
  height: 1px;
  background: #ebebeb;
  display: block;
  top: 50%;
  right: 0;

}

.r_lern {
  position: relative;
  text-align: center;
}

.r_botom {
  border-bottom: 1px solid #ebebeb;
}

/* -------Intel-Docea-Power-and-Thermal-Modeling--------- */
.r_power img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* ---------------------Intel-Simics-Simulator----------------------------------- */
.r_public {
  padding-top: 38px;
}

.r_download {
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 20px;
  border: none;
  background-color: #0068b5;
  color: white;
}

.r_mycss {
  width: auto !important;
  height: auto !important;
  background-color: none !important;
  border: none !important;
  margin: 0 !important;
  padding: 0 !important;
}

.r_mycss a {
  color: #0068b5 !important;
  margin: 0 !important;
  padding: 0 !important;
}

/* ----------Cutting-Edge-Process-Technologies-for-Data-Center--------- */
.r_singleimage img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* -------------------Faraday-Announces--------------------------- */
.r_hr {
  border: none;
  height: 5px;
  background-image: -webkit-linear-gradient(to right, transparent, #DBDBDB, transparent);
  width: 100%;

  margin: 20px 0;
}

.r_ptag {
  color: #666666;
}

.r_usericon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: white;
  background-color: #0068b5;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

/* --------one-API-A-New-Era-of-Heterogeneous-Computing------- */
.r_block{
  display: flex;
}

.text-break li a {
  word-wrap: break-word;
  white-space: break-spaces;
}

.m_ai_tdrop {
  display: flex;
  align-items: center;

}

.m_ai_tdrop .dropdown-item {
  padding: 1.1rem 1.6rem !important;
  color: #0068b5;
  font-size: .875em;
}


.m_ai_tdrop .dropdown-menu {
  margin-top: 5px !important;
  width: 250px;
  overflow-y: scroll;
  /* overflow-x: hidden; */
  height: 365px;
}


.m_ai_tdrop .dropdown-item:focus,
.dropdown-item:hover {
  color: #003c71 !important;
  background-color: transparent !important;
}

.m_ai_tdrop .dropdown-toggle {
  font-size: .875em;
  color: #0068b5;
  padding: 10px 0 10px 15px;
}

.m_ai_tdrop .btn-check:focus+.btn,
.btn:focus {
  box-shadow: none !important;
}

.m_ai_tdrop .btn:hover {
  color: #003c71 !important;
}

.m_ai_tdrop .dropdown-menu {
  inset: -3px auto auto 10px !important;
  border: none !important;
  border-radius: 0 !important;
}

.m_ai_shlash {
  color: #d7d7d7;
  padding: 0 5px;
}

.m_ai_httl {
  font-size: 14px;
  font-weight: 600;
  padding: 10px 15px;
  text-wrap: nowrap;
}



.r_pinkbackground {
  background-image: url(../img/r_img/backpink.avif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
}

.r_oneimg img {
  width: 15%;
  height: 15%;
  object-fit: cover;
}

.r_getbutton {
  background-color: white;
  color: #0068B5;
  border: none;
  padding: .625rem 1.5rem;
}

.r_play-icon1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(0, 0, 0, 0.6);
  font-size: 4rem;
  opacity: 0.8;
  transition: all 0.3s ease;
  cursor: pointer;
}

.oneimg img {
  width: 100%;
  max-width: none;
  height: auto;
  object-fit: cover;
}

.uni img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.r_purple {
  padding: 30px !important;
  background-image: url(../img/r_img/purple.png);
  background-size: cover;
}

.r_timg img {
  width: 18%;
  object-fit: cover;
}

.r_insightimg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.k_bgsky_clip {
  left: -100%;
  top: 0;
  clip-path: polygon(0 0, 0 100%, 80% 50%);
  background-color: #7BDEFF !important;
}

.k_bgsky {
  background-color: #7BDEFF !important;
}

.k_input_widyh {
  width: 80%;
}

.k_topborder {
  border-top: 1px solid #f7f7f7 !important;
  border-radius: 0 !important;
}

.k_topborder1 {
  border-bottom: 1px solid #f7f7f7 !important;
  border-radius: 0 !important;
}

.k_accordion-item {
  background-color: #f7f7f7 !important;
}

.k_accordion-button {
  background-color: #f7f7f7 !important;
}

.k_accordion-button:not(.collapsed) {
  background-color: #f7f7f7 !important;
  color: #212529 !important;
}

.k_accordion-body {
  background-color: #f7f7f7 !important;
}


/* .k_bodyborder {
  border-top: 5px solid #00AEEF !important;

} */
.r_smallimg img {
  width: 60%;
  object-fit: cover;
}

/* -----------------Semiconductor-Manufacturing-Sustainability-------------------------- */
.r_view-more {
  padding: 10px 24px;
  border: none;
}

.r_view-more a {
  color: #0068B5;
}

.r_h1text h1 {
  font-size: 100px;
}

.r_view-now {
  background-color: #0068B5;
  color: white;
  padding: 10px 24px;
  border: none;
  border-radius: 0 !important;
}

.r_paddingclass {
  padding: 30px 0;
}

.r_producttext {
  font-size: 12px;
}

/* -------------------EDA Alliance - Intel Foundry Accelerator--------------- */
.r_blade-img {
  max-width: 50%;
}

.r_blade-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.r_triputi img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* -----------------------IP-Alliance - Intel-Foundry-Accelerator-------------------- */
.r_imgpadding {
  padding: 16px;
}

/* -------------------Newsroom-Home--------------------------------- */
.y_bg_img img {
  height: 300px;
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.y_bg_img {
  position: relative;
}

.y_bg_blue {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #41728A;
  color: white;
  padding: 16px 16px 40px 25px;
}

.y_bg_blue::after {
  content: '';
  position: absolute;
  top: 100%;
  right: 100%;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #86B3CA;
}
.r_list{
  display: block;
  width: 100%;
}
.r_list li {
  display: inline-block !important;
 
  padding: .5em 1em;
}

.list-inline>li {
  display: inline-block;
}

/*-------------------------------------------- Newsroom Search----------------------------------- */
.r_offcanvas {
  display: none !important;
}

.r_squarerelative {
  position: relative;
}

.r_graysquare {
  width: 40px;
  height: 40px;
  background-color: #86B3CA;
  position: absolute;
  bottom: 100;
  right: -1.7rem;
}

.r_removecolor {
  padding: 30px;
  background-color: #41728A;
  color: white;
}

.r_green {
  padding: 65px 35px;
  background-color: #183544;
}

.r_filterheading {
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.27;
  letter-spacing: normal;
  color: #262626;
  padding-bottom: .625rem;
  border-bottom: .0100rem solid #aeaeae;
  margin-bottom: 0;
}

.r_label {
  color: #262626;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  cursor: pointer;
}

.r_topbottom {
  padding: 7px 0;
}

.r_color {
  height: 4.5rem;
  background-color: white;
}

.r_body {
  height: 200px;
  overflow-y: scroll;
}

/* ---------------------------------------Email-Opt-in---------------------------------- */
.r_blue {
  background-color: #004A86;
}

.r_skyblue {
  background-color: #0068B5;
}

.r_bluesquare {
  background-color: #00A3F6;
}

.r_position {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0
}

.r_relative {
  position: relative;
}

/* -------------------------Karma-Automotive-Goes-All-In-with-Intel----------------------------*/
.r_chinh {
  font-size: 100px;
  color: #E5E6E6;
}

.r_fourspace {
  padding: 45px 5px;
}

.r_vpadding p {
  font-size: 20px;
}

/* ---------------------------Intel-Newsroom-All-Categories----------------------- */
.r_timg img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/*-------------------------Intel-Logo-Media-Tools--------------------------------------- */
.r_flexitem {
  display: flex;
  align-items: center;
  justify-content: center;
}

.r_top {
  padding: 10px;
  color: white;
}

.r_intellogo img {
  width: 80%;
  height: auto;
  object-fit: cover;
}

.r_corporate1 {
  padding: 10px 24px;
  border: none;
  background-color: #0068B5;
  color: white;
}

/* ------------------------------------Climate-Transition-Action-Plan---------------------------*/
.r_bluenature {
  width: 100%;
  height: 500px;
  object-fit: cover;
  box-sizing: border-box;
}

.blueroad {
  height: 420px
}

.blueroad img {
  width: 50%;
  /* Adjust width as needed */
  height: auto !important;
  /* Ensure height scales automatically */
  object-fit: cover;
  /* Maintain aspect ratio and cover the area */
}

.r_chart img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.r_paddingclass {
  padding: 3rem;
}

.r_btncss {
  padding: 10px 24px;
  border: none;
  background-color: white;
}

.r_btncss a {
  color: #0068b5;
}

.r_Sustainable {
  display: flex;
  justify-content: center;
  align-items: center;
}

.r_paddingclass {
  padding: 40px;
}

/* R_System-Strategy-is-Key-to-Better-Business-Results */
.r_the {
  padding: 1rem;
  color: white;
}

/* R_Intel-Stretches-Accessibility-Beyond-Its-Workforce */
.r_roundimges img {
  max-width: fit-content;
  border-radius: 50%;
  height: 6rem;
  width: 6rem;
  object-fit: cover;
}

.r_pat {
  padding-top: .25rem;
  padding-bottom: .625rem;
  margin-bottom: 0;
  font-weight: 700;
  display: block;

}

/* R_Press-Kit-Intel-Headquarters-Images */
.r_headquarters{
  margin-top: 2.5rem;
}
.r_images{
  margin-top:2.5rem;
  margin-bottom: 2.5rem;
}



@media screen and (min-width: 992px) {
  .r_backgroundskycolor{
    background: linear-gradient(90deg, #7bdeff 50%, #fff 50%);
  }
}



@media screen and (max-width:1440px) {
  .r_container1 {
    max-width: 1300px !important;
    margin: auto;
  }


}

@media screen and (max-width:1024px) {
  .r_newwidth{
    max-width: 45% !important;
  }
  .r_text2 h2 {
    font-size: 1.75rem;
   }
   .r_bglightblue h1{
    font-size: 1.75rem !important;
  }
  .r_container1 {
    max-width: 1000px !important;
    margin: auto;
  }

  .r_imgcontent {
    transform: translateY(25%) !important;
  }

  #r_title {
    font-size: 35px !important;
  }

  .r_square {
    width: 30px;
    height: 30px;
  }

  .owl-carousel .owl-dot, .owl-carousel .owl-nav .owl-next {
    margin-left: 50px !important;
    color: white !important;
    position: absolute;
    top: 50%;
    right: -50px !important;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: rgba(15, 15, 15, 0.7) !important;
    border: none;
    display: flex !important;
    display: block;
    justify-content: center !important;
    align-items: center !important;
    cursor: pointer;
    font-size: 40px !important;
    z-index: 1000;

  }

  .owl-carousel .owl-dot, .owl-carousel .owl-nav .owl-prev {
    margin-left: 50px !important;
    color: white !important;
    position: absolute;
    top: 50%;
    left: -90px !important;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: rgba(15, 15, 15, 0.7) !important;
    border: none;
    display: flex !important;
    display: block;
    justify-content: center !important;
    align-items: center !important;
    cursor: pointer;
    font-size: 40px !important;
    z-index: 1000;

  }

  .r_see h2 {
    font-size: 1.75rem;
  }

  .r_responsive {
    width: 50% !important;
  }

  .r_responsive1 {
    width: 100% !important;
  }

  .r_firstimg img {
    height: 400px !important;
  }

  .r_content h2 {
    font-size: 30px !important;
  }

  .r_filter {
    width: 100% !important;
  }

  .r_agents {
    width: 100% !important;
  }

  .r_displblock {
    display: block !important;
  }

  .r_agents p {
    text-align: left !important;
    margin-top: 10px !important;
  }

  .k_bgsky_clip {
    clip-path: polygon(0 0, 0 100%, 100% 50%);
  }

  .y_bg_img img {
    height: 340px;
  }

  .r_result {
    width: 100%;
  }

  .input-container input {
    width: 100% !important;
  }

  .r_enditem {
    display: flex;
    justify-content: start;
  }

  .r_select {
    width: 100%;
    margin: 10px 0;
  }

  .input-container {
    width: 100%;
  }
  .r_vnewclass{
    margin: 20px 0 !important; 
  }
  .r_serchclass {
    padding-bottom: 10 !important;
}

}

@media screen and (max-width:768px) {
  .r_squarebackground{
    padding-left: 20px;
  }
  .r_newwidth{
    max-width: 60% !important;
  }
  .r_bglightblue h1{
    font-size: 2rem !important;
  }
 
  .r_paddingcol{
    padding-top: 2.5rem;
    padding-bottom: 1.25rem;
  }
  .r_container1 {
    max-width: 700px !important;
    margin: auto;
  }

  .r_imgcontent {
    margin: 0 !important;
    transform: translateY(10%) !important;
  }

  #r_title {
    font-size: 30px !important;
  }

  .r_square {
    width: 25px;
    height: 25px;
  }

  .r_play-icon {
    font-size: 3rem;
  }

  .r_play-icon:hover {
    font-size: 3.5rem;
  }

  .owl-carousel .owl-dot, .owl-carousel .owl-nav .owl-next {
    right: -40px !important;
  }

  .owl-carousel .owl-dot, .owl-carousel .owl-nav .owl-prev {
    left: -85px !important;
  }

  .r_see h2 {
    font-size: 1.75rem;
  }

  .r_photocontain {
    padding: 0 !important;
    margin: 0 !important;
    width: 50% !important;

  }

  .r_bglightblue {
    margin: 30px 30px !important;
    padding: 10px !important;
  }

  .r_bglightblue h2 {
    font-size: 20px;
  }

  .r_photo {
    margin: 0 !important;
    padding: 0 !important;
  }

  .video-container img {
    margin: 15px !important;
    padding: 20px !important;
    height: 7% !important;
  }

  .r_text-content {
    font-size: 15px;
  }

  .r_image-container img {
    height: 300px !important;
  }

  .r_content h2 {
    font-size: 25px !important;
  }

  .r_more {
    font-size: 13px;
  }

  .r_about {
    padding: 10px !important;
  }

  .r_partner {
    transform: translateY(150%);
  }

  .r_centreimg {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .r_vbg-image {
    background-position: 0 0;
  }

  .r_mobile-slider {
    position: relative;
    overflow: hidden;
  }

  .r_slider-item {
    display: none;
    text-align: center;
    padding: 20px;
  }

  .r_slider-item.active {
    display: block;
  }

  .r_slider-indicators {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .r_indicator {
    width: 13px;
    height: 13px;
    background-color: white;
    margin: 0 5px;

  }

  .r_indicator.active {
    background-color: black;
  }

  .r_options {
    font-size: 25px;
  }

  .r_triputi {
    margin-top: 25px;
  }

  .k_bgsky_clip {
    width: calc(100% - 10px);
    background-color: #7BDEFF;
    position: relative;
    height: 100px;
    left: 0;
    top: -100%;
    clip-path: polygon(100% 0, 0 0, 50% 100%) !important;
  }

  .r_fullbtn {
    width: 100%;
  }

  .r_color {
    height: auto;
  }

  .r_flexitem {
    display: block !important;
    justify-content: start !important;
  }

  .r_four p {
    margin: 0 10px;
  }

  .r_squarebackground1 {
    padding: 20px;
  }

  .r_btncss {
    width: 100%;
  }

  .r_paddingclass {
    padding: 40px 0;
  }

  .blueroad {
    height: 350px
  }

  .r_bluenature {
    height: 450px;
  }
  .r_newpadding{
    margin-top: 30px !important;
  }
  .r_vnewclass{
    margin: 20px 0 !important; 
  }
  .r_serchclass {
    padding-bottom: 10 !important;
}

}

@media screen and (max-width:425px) {
  .r_resource{
    padding: 20px 0!important;
  }
  .r_vnewclass{
    margin: 20px 0 !important; 
  }
  .r_assets{
    padding: 15px;
  }
  .r_newwidth{
    max-width: 100% !important;
    padding: 15px !important;
  }
  .r_text2 h2 {
    font-size: 1.625rem;
  
  }
  .r_bglightblue h1{
    font-size: 1.75rem !important;
  }
  .r_vediofuullwidth{
    margin-top: 30px !important;
  }
  .r_see h2 {
    font-size: 1.625rem;
  }
  .r_mobile{
    margin: 15px 0;
  }
  .r_block{
    display: block !important;
  }
  .row {
    margin: 0 !important;
    padding: 0 !important;
  }

  col {
    margin: 0 !important;
    padding: 0 !important;
  }

  .r_container1 {
    max-width: 400px !important;
    margin: auto;
  }

  .r_col {
    order: 0;
    width: 100% !important;
  }

  .r_col1 {
    margin-bottom: 25px !important;
    width: 100% !important;
    order: 1;
  }

  .r_button {
    width: 100%;
  }

  #first {
    order: 1;
  }

  #second {
    order: 2;
  }

  .r_iconcolam {
    width: 100% !important;
  }

  .r_photo {
    order: 0;
  }

  .r_photocontain {
    order: 1;
    width: 100% !important;
  }

  .r_bglightblue {
    margin: 25px 20px !important;
    padding: 20px !important;
  }

  .r_square {
    width: 25px;
    height: 25px;
  }

  .owl-carousel .owl-dot, .owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-dot, .owl-carousel .owl-nav .owl-next {
    width: 40px !important;
    height: 40px !important;
    font-size: 30px !important;

  }

  .owl-carousel .owl-dot, .owl-carousel .owl-nav .owl-prev {
    left: -60px !important;
  }

  .owl-carousel .owl-dot, .owl-carousel .owl-nav .owl-next {
    right: -15px !important;
  }

  .r_no1 {
    order: 0;
  }

  .r_no {
    order: 1;
  }

  .r_seehow {
    width: 100% !important;
    order: 1;
  }

  .r_seehow1 {
    width: 100% !important;
  }

  .r_see h2 {
    transform: none;
    padding: 10px !important;
  }

  .video-container img {
    margin: 0 !important;
    padding: 0 !important;
  }

  .r_item a {
    font-size: 11px !important;
  }

  .r_row {
    margin: 0 !important;
  }

  .r_img1 img {
    transform: none !important;
  }

  .r_text-content {
    font-size: 10px;
  }

  .r_responsive {
    width: 100% !important;
  }

  .r_responsive1 {
    width: 100% !important;
  }

  .r_riya img {
    margin: 10px 0;
  }

  .r_vbg-image {
    background-image: none !important;
  }

  .r_vopacity-layer {
    background-color: transparent;
  }

  .r_vcard {
    height: auto !important;
    padding: 3px !important;
  }

  .r_vintelimg img {
    margin-bottom: 10px;
  }

  .r_partner {
    transform: translateY(170%) !important;
  }

  .r_lern p::after {
    content: "";
    display: none !important;
  }

  .r_lern p::before {
    content: "";
    display: none !important;
  }

  .r_botom {
    flex-direction: column;
  }

  .r_vopacity-layer {
    height: auto !important;
  }

  .r_newcontainer {
    margin: 0 !important;
    padding: 0 !important;
  }

  .r_sign-in-form {
    padding: 20px !important;
  }

  .r_nonebutton {
    display: none !important;
  }

  .r_signinbutton {
    margin-top: 0 !important;
    border: 1px solid black;
  }

  .r_removeconainer {
    align-items: start !important;
    padding: 20px !important;
  }

  .r_liveimg {
    display: flex;
    justify-content: center;
    margin-left: 0 !important;
  }

  .r_vmargin p {
    margin: 5px !important;
  }

  .r_view-more {
    width: 100%;
  }

  .r_view-now {
    width: 100%;
  }

  .r_squarebackground {
    width: 100% !important;
    background-size: cover;

  }

  .m_ai_tdrop {
    overflow-x: scroll !important;
    /* white-space: nowrap !important; */
  }

  .m_ai_tdrop .dropdown-menu {
    width: 210px;
  }

  .k_bgsky_clip {
    background-color: #7BDEFF;
    height: 100px;
    left: 0;
    top: -100%;
    clip-path: polygon(100% 0, 0 0, 50% 100%) !important;
    align-content: center !important;
  }

  .y_bg_img img {
    height: 220px;
  }

  .y_bg_img {
    display: flex;
    flex-direction: column;
  }

  .y_bg_blue {
    position: relative;
    z-index: 2;
    margin: 0 !important;
    order: 1;
  }

  .y_bg_img img {
    width: 100%;
    order: 0;
  }

  .r_list {
    flex-wrap: wrap;
  }

  .r_offcanvas {
    display: block !important;
  }

  .r_removecolor {
    background-color: transparent;
  }

  .r_green {
    padding: 0 !important;
    background-color: #41728A;
  }

  .r_list li {
    width: 100%;
  }

  .r_squarerelative {
    padding: 0 !important;
    background-color: transparent;
  }

  .r_skyblue {
    width: 100%;
    background-color: #0068B5;
  }

  .r_bluesquare {
    display: none;
  }

  .r_coma {
    font-size: 20px !important;
  }

  .r_chinh {
    font-size: 50px;
    padding: 0 !important;
  }

  .r_fourspace {
    padding: 0;
  }

  .r_vpadding {
    padding: 15px;
  }

  .r_vpadding h4 {
    font-size: 25px;
  }

  .r_vpadding p {
    font-size: 20px;
  }

  .r_imgheight img {
    height: 100%;
  }

  .r_graysquare {
    display: none;
  }

  .r_squarebackground1 {
    padding: 20px;
  }

  .r_four {
    display: flex;
  }

  .r_read {
    width: 100%;
  }

  .r_remove {
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
  }

  .blueroad {
    height: 250px
  }

  .blueroad img {
    width: 100%;
    height: auto;
  }

  .r_Sustainable {
    display: block;
    margin: 40px 0;
  }

  .r_paddingclass {
    padding: 20px;
  }

  .r_bluenature {
    height: 320px;
  }

  .r_the p {
    font-size: 16px !important;
  }

  .r_the h1 {
    font-size: 26px !important;
  }
  .r_filterspace{
    margin: 10px 0 !important;
  }
  .r_formselect{
    margin-top: 0 !important;
  }
  .r_pinkbackground{
    height: 500px;
  }
 
}


@media screen and (max-width:375px) {
  .r_container1 {
    max-width: 350px !important;
    margin: auto;
  }

  .r_bglightblue {
    margin: 30px 15px !important;
    padding: 20px !important;
  }

  .r_offcanvas {
    display: block !important;
  }

  .r_18A {
    font-size: 16px;
  }

}

@media screen and (max-width:320px) {
  .r_container1 {
    max-width: 300px !important;
    margin: auto;
  }

  .r_bglightblue {
    margin: 25px 18px !important;
    padding: 20px !important;
  }

  .y_bg_img img {
    height: 200px;
  }

  .r_offcanvas {
    display: block !important;
  }

  .r_vpadding {
    padding: 10px;
  }

  .r_vpadding h4 {
    font-size: 20px;
  }

  .r_vpadding p {
    font-size: 15px;
  }

  .r_violet {
    padding: 10px;
  }

  .r_squarebackground1 {
    padding: 10px;
  }
  .r_bglightblue h1{
    font-size: 1.50rem !important;
  }
}