.k_a_whiteunder a{
    text-decoration: dotted underline;
    color: white;
    text-underline-offset: 5px;
}
.k_a_whiteunder a:hover{
    text-decoration: underline !important;
    color: white;
}
.k_a_whiteunder {
    text-decoration: dotted underline;
    color: white;
    text-underline-offset: 5px;
}
.k_a_whiteunder:hover{
    text-decoration: underline !important;
    color: white;
}
.k_autopadd{
    padding: 30px 0 !important;
}

.k_bgdarknevy{
    background-color:#040E35;
    height: 350px !important;
}
.k_bgdarknevy1{
    background-color:#040E35;
}
.k_ulpadd{
    padding-left: 35px !important;
}
.k_bg_img1 img {
    height: 450px;
    width: 100%;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.k_reletive1 {
    position: relative;
}

.k_bg_blue1 {
    position: absolute;
    top: 0;
    left: 3%;
    /* right: 0; */
    background-color: #0068B5;
    color: white;
    padding: 16px 16px 50px 25px;
    margin: 48px 50px 48px 10px !important;
}

.k_bg_blue1::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 100%;
    width: 2.5rem;
    height: 2.5rem;
    background-color: #00A3F6;
}

.k_bg_img1 {
    display: flex;
    flex-direction: column;
}

.k_fright {
    float: right !important;
}
.k_bgcockpit{
    background-color: #005B85;
}
.kcokbtn1024:hover{
    background-color: #004a86;;
}
.k_pitlayer{
    position: absolute;
bottom: 0;
left: 0;
background-color: rgba(0, 0, 0, 0.35);
padding: 1rem;
width: 100%;
color: white;
font-size: 16px;
}
.k_pitrelative{
    position: relative;
}
.k_smino{
    padding: 40px 0 !important;
}
.k_imgradius img{
    max-width: fit-content;
    border-radius: 50%;
    height: 6rem;
    width: 6rem;
    object-fit: cover;
}
.k_caption{
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: left; 
    padding: 20px 0px 20px 30px;
}
@media only screen and (max-width: 425px) {

    .k_automotive img{
        height: 200px !important;

       }
       .k_bgdarknevy{
        background-color:#040E35;
        height: 0px !important;

    }
    .k_smino{
        padding: 20px 0px !important;
    }
   
}
@media only screen and (max-width: 2560px) {
    .k_bg_img1 img{
        height: 150px !important;
        width: 80%;
        /* margin-top: 60px !important; */
    align-content: center !important;
       }
       .k_bgdarknevy{
        background-color:#040E35;
        height: 450px;
    }

}
@media only screen and (max-width: 768px) and (min-width:425px) {
    
   .k_fright img{
    width: 100%;
    /* object-fit: cover;
    background-size: cover; */
    background-attachment: fixed;

   }
   .k_bg_img1 img{
    height: 200px !important;
    align-content: center !important;
    
   }
   .k_smino{
    padding: 20px 0px !important;
}
   .k_bgdarknevy{
    background-color:#040E35;
    height: 400px ;
}
.k_pitmd{
    /* width: 30%; */
    object-fit: cover;
   
}
.k_pitlayer{
    font-size: 10px !important;
}
.k_marketsmall{
    font-size: 25px !important;
}
}
@media only screen and (max-width: 1024px) and (min-width:769px) {
    .k_bg_img1 img{
        height: 270px !important;
        align-content: center !important;
        padding-top: 50px;

       }
       .k_bgdarknevy{
        background-color:#040E35;
        height: 400px;

    }
    .kcokbtn1024{
        width: 180px !important;
        padding: 0 10px;
    }
    .k_pitlayer{
        font-size: 14px;
    }
    .k_marketsmall{
        font-size: 27px !important;
    }
}
@media only screen and (min-width: 1440px) and (max-width: 2560px) {

    .k_bg_img1 img{
        height: 200px !important;
        /* width: 80%; */
        margin-top: 20px !important;
    align-content: center !important;
       }
       .k_bgdarknevy{
        background-color:#040E35;
        height: 450px;
    }
}