* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    word-break: break-word;
    overflow-wrap: break-word;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
div,
ul {
    margin: 0;
    padding: 0;
}

.k_wordbreak {
    word-break: break-all !important;
}

.row {
    padding: 0 !important;
    margin: 0 !important;
}

.col {
    padding: 0 !important;
    margin: 0 !important;
}


.k_smtext {
    font-size: 0.9rem;
    line-height: 1.5;
}

.k_plink {
    word-break: break-all;
}


.k_dsmall {
    font-size: 12px;
}

div {
    margin: 0;
    padding: 0;
}

.k_container11 {
    max-width: 1600px;
  margin: auto;
}

.k_bg {
    background-image: url(../img/rushita_img/abstract-neon-seamless-3d-anim-image.jpg.rendition.intel.web.1920.1080.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.k_box {
    background-color: #0068B5;
    color: #ffffff;
    float: right;
    margin-bottom: 100px;
    margin-right: 30px;
    padding: 10px 10px 20px;
}

.k_tab a {
    color: black;
}

.k_item {
    flex: 0 0 auto;
    margin: 0 10px;
    text-align: center;
    padding: 10px;
}

.k_space {
    margin: 50px 0 !important;
}

.k_bgblue {
    background-color: #0068b5;
}

.k_top {
    margin-top: 50px;
}

.k_text {
    color: #0068b5;
}

.k_bggrey {
    background-color: #f7f7f7;
}

.k_bggrey1 {
    background-color: #f3f3f3;
}

.k_shape {
    width: 50px;
    height: 50px;
    background: #00A3F6;
    position: relative;
    bottom: -70px;
    right: 6.5%;
}

.k_custom-tabs {
    display: flex;
    flex-direction: column;
}

.k_container11-fluid {
    margin: 0 20px;
}

.k_custom-tab {
    background: none;
    border: none;
    color: white;
    padding: 10px;
    text-align: left;
    cursor: pointer;
}

.k_bgblue2 {
    background-color: #0068B5;
    height: 450px;
    align-content: center !important;
}

.k_lgimgnone {
    display: none !important;
    /* height: 250px !important; */
}

.k_custom-tab-content {
    display: none;
}

.k_custom-tab-content.active {
    display: block;
}

.k_reletive {
    overflow: hidden;
}

.k_imagecontainer {
    transition: transform 0.4s ease;
}

.k_scrollable-menu {
    transition: all 0.3s ease;
}

.k_scrollable-menu.fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.k_item a {
    text-decoration: none;
    color: #333;
    /* padding: 10px 15px; */
    display: inline-block;
    border-bottom: 3px solid transparent;
    transition: border-color 0.3s ease;
    margin-bottom: -1px;

}

.k_item a.active {
    border-bottom-color: #007bff;
}

.k_reletive:hover .k_imagecontainer {
    transform: scale(1.2);
}

.k_imagecontainer:hover {
    transform: scale(1.2);
}

.k_listnone {
    list-style: none !important;
}

.k_shapeyext {
    font-size: 45px;
}

.k_img1 img {
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
    background-size: cover;
    image-rendering: auto;
}

.k_imagecontainer img {
    height: 350px;
}

.k_imagecontainer1 {
    transition: transform 0.4s ease;
}

.k_reletive:hover .k_imagecontainer1 {
    transform: scale(1.2);
}

.k_imagecontainer1:hover {
    transform: scale(1.2);
}

.k_bgnevy {
    background-color: #00285a;
}

.k_text a {
    color: #0068b5;
    text-decoration: none;
}

.k_btn4 {
    background-color: #ffffff;
    border-radius: none !important;
    padding: 20px 20px;
    text-align: start;
    height: 100%;
    
}

.k_btn1 {
    background-color: #0068B5;
    width: 200px;
    height: 50px;
    margin: 0 auto !important;
    padding-top: 15px !important;
}

.k_btn1 a {
    text-decoration: none;
}

.k_btn1:hover,
.k_btn3:hover,
.k_btnoptimized:hover {
    background-color: #004A86;
}

.k_reletive {
    position: relative;
    overflow: hidden;
}

.k_layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 30px 80px;
    box-sizing: border-box;
    align-content: center !important;

}

.k_intext h3 {
    text-align: start !important;
    line-height: 1.2;
    cursor: pointer;
    display: inline-block;
    position: relative;
    padding-bottom: 10px;
}

.k_intext h3::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-bottom: 2px dotted rgb(196, 193, 193);
    transition: border-color 0.3s ease;
}

.k_intext h3:hover::after {
    border-bottom: 2px solid white;
}

.k_texthover {
    border-bottom: 2px solid transparent;
}

.k_texthover:hover {
    border-bottom: 2px solid #00285a;
    cursor: pointer;
    width: 300px;
}
.k_texthover1 a{
    border-bottom: 2px solid transparent;
}
.k_texthover1 a:hover{
    border-bottom: 2px solid #00285a;
    cursor: pointer;
}
.k_responsive img {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 30px !important;
}

.k_rightborder td,
th {
    border-right: 1px solid #e9e9e9;
    border: 1px solid #e9e9e9;
}

.k_rightborder1 th {
    border-right: 1px solid #ffffff;
    border: 1px solid #e9e9e9;
}

.k_tgrey {
    background-color: #f7f7f7;
}

.k_cell-padding {
    padding: 15px;
}

.k_tborder a {
    border-bottom: 2px dotted #004A86;
    margin-bottom: 50px !important;
    cursor: pointer;
}

.k_tborder a:hover {
    border-bottom: 2px solid #004A86;
}

.k_cell-padding1 {
    padding: 5px;
}

.k_font26 {
    color: #262626;
}

.k_support {
    color: #262626;
}

.k_under a {
    text-decoration: none !important;
}

.k_intext2 {
    border-bottom: 2px dotted rgb(196, 193, 193);
    width: 700px;
}

.k_video-container {
    position: relative;
    width: 100%;
}

.k_responsive-video {
    width: 100%;
    height: auto;
}

.k_play-icon {
    position: absolute;
    color: white;
    font-size: 60px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 1;
}

.k_tpadding td {
    padding: 20px 35px !important;
}
@media (max-width: 2560px) {
    .k_intext1blue {
        display: inline;
        word-break: break-word;
        background-image: linear-gradient(to right, #004A86 33%, rgba(255, 255, 255, 0) 0%);
        background-position: bottom;
        background-size: 6px 2px;
        background-repeat: repeat-x;
        padding-bottom: 2px;
    }

    .k_intext1blue::after {
        display: none;
    }

    .k_intext1blue:hover {
        background-image: linear-gradient(to right, #004A86 100%, rgba(255, 255, 255, 0) 0%);
    }
}
@media only screen and (min-width: 2560px) {

    /* .k_layer {
        height: 230px !important;
    } */
    .k_layer h2 {
        font-size: 24px !important;
    }

    .k_layer p {
        font-size: 16px !important;
    }

    .k_shape {
        bottom: -70px;
        right: 4.8% !important;
    }

    .k_img1 img {
        height: 400px !important;
    }

    .k_cpu img {
        width: 100% !important;
    }

    .k_fend {
        float: inline-end;
    }

    .k_videobg,
    .k_optimized {
        background-size: cover;
        height: 100%;
        width: 100% !important;
    }
}
@media only screen  and (max-width: 2560px) {

    .k_bg,
    .k_bglaptop,
    .k_bgworkstation {
        width: 100%;
        background-size: 100% auto;

    }

    .k_dimgnone {
        display: none !important;
    }
}
@media only screen and (max-width: 2560px) {
    .k_imgresponsive {
        display: flex;
        justify-content: center !important;
        justify-items: center;
    }
}



@media only screen and (max-width: 1440px)  {
    .k_newcontiner {
        margin: auto !important;
        padding: 0 !important;
    }

    .k_layer {
        height: 350px !important;
        padding: 48px 147px;
    }

    .k_layer h2 {
        font-size: 40px !important;
    }

    .k_layer p {
        font-size: 16px !important;
    }

    .k_shape {
        bottom: -70px;
        right: 8.6% !important;
    }

    .k_container11 {
        max-width: 1300px !important;
        margin: auto;
    }

    .k_laptop1 {
        width: 50% !important;
    }

    .k_imagecontainer img {
        height: 350px;
    }

    #k_sticky-section {
        position: relative;
        background-color: #fff;
        padding: 10px;
        z-index: 100 !important;
        width: 300px !important;
    }

    .k_optimized {
        background-size: cover;
        height: 100%;
        width: 100% !important;
    }

    .k_ai_ahero ,
    .k_ai_ahero1
    {
        height: 420px !important;
    }

    .k_1440 {
        font-size: 17px !important;
    }

    .k_containervideo {
        width: auto;
        padding: 0 30px !important;
    }

    .k_vcontainernone {
        width: 1400px !important;
        margin: auto;
    }
    .k_responsive-video1 {
        width: 100%;
        height: 190px !important;
    
    }
}

@media only screen and (max-width: 1024px)  {
    .k_layer {
        height: 290px !important;
    }

    .k_layer h2 {
        font-size: 20px !important;
    }

    .k_layer p {
        font-size: 12px !important;
    }

    .k_imgl img {
        height: 289px !important;
    }

    .k_imagecontainer img {
        height: 289px;
    }

    .k_dimgnone {
        display: none !important;
    }

    .k_laptop {
        width: 50%;
    }

    .k_56px {
        font-size: 45px !important;
    }

    .k_shape {
        bottom: -70px;
        right: 12.7% !important;
    }

    .k_container11 {
        max-width: 1000px !important;
        margin: auto;
    }

    .k_resoursebtn {
        font-size: 14px;
    }

    .k_dlaptop {
        width: 50%;
    }

    #k_sticky-section {
        position: relative;
        background-color: #fff;
        padding: 10px;
        z-index: 100;
        width: 250px !important;
    }

    #k_sticky-section.sticky {
        position: fixed;
        top: 0;
        left: 2% !important;
        right: 0;
    }

    .k_vimg {
        width: 33.33% !important;
    }

    .k_xeonsmbtn {
        padding: 10px 10px !important;
        font-size: 14px !important;
    }

    .k_bgsky_clip {
        clip-path: polygon(0 0, 0 100%, 100% 50%);

    }

    .b_font_texttt {
        font-size: 28px;
    }

    .k_sec_padd {
        margin-left: 20px !important;
    }

    .k_ai_ahero{
        height: 430px !important;
    }
    .k_ai_ahero1{
        height: 460px !important;
    }
    .k_container {
        margin: 0 20px !important;
    }

    .k_bg_img img {
        height: 400px !important;
    }
   
    .k_4co1024{
        width: 33.33% !important;
    }
    .k_4co1024one{
        width: 60% !important;
       } 
 
    .k_videoposition{
        position: absolute; 
        bottom: 30px; 
        left: 27%;
        width: 50%;
        padding-top: 0;
    }  
    .k_responsive-video1 {
        width: 100%;
        height: 180px !important;
    
    }
    /* .k_scrollable-menu {
        overflow-x: auto;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
    } */
}

@media only screen and (max-width: 768px)  {
    .k_layer {
        height: 260px !important;
        font-size: 10px;
        margin: 0 !important;
        padding: 0 20px !important;
    }

    .k_imgl img {
        height: 217px !important;
    }

    .k_wrap {
        width: 100% !important;
    }

    .k_shape {
        bottom: -70px;
        right: 20.7% !important;
    }

    .k_imagecontainer img {
        height: 260px;
    }

    .k_container11 {

        max-width: 700px !important;
    margin: auto;
    }
    .k_responsive-video1 {
        width: 100%;
        height: 190px !important;
    
    }
    .k_tstart {
        padding: 0 !important;
        padding: 30px 0 !important;
        text-align: start !important;
    }
    .k_tstart1 {
        /* padding: 0 !important; */
        padding: 50px  0;
        text-align: start !important;
    }
    .k_scrollable-menu {
        overflow-x: auto;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
    }

    .k_plink,
    .k_container11-fluid p {
        display: inline-block;
        word-break: break-word;
    }

    .k_laptop1 {
        width: 100% !important;
    }
    .k_mdflex {
        display: flex;
    }

    .k_mdflex p {
        flex: 0.4;
    }

    .k_dwrap {
        display: block !important;
    }

    .k_alignend {
        align-content: end !important;
        padding-bottom: 0 !important;
        justify-content: center !important;
        text-align: center !important;
    }

    .k_fend {
        float: none !important;
    }

    .k_xeonremovemd {
        display: none !important;
    }

    .k_xeonpadding {
        padding: 15px !important;
    }

    .k_lgimgnone {
        display: block !important;
    }
    .k_bg_img img {
        height: 450px !important;
    }
    .k_bg_imgdemo img {
        height: 350px !important;
    }
    .k_bg_imgdemo1 img {
        width: 100% !important;
        height: 580px !important;
        object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    }
    .k_bgblue2 {
        height: 590px !important;
        align-content: center !important;
    }

    .k_mdsmall {
        font-size: 14px !important;
        padding: 10px 5px !important;
    }

    .k_bgsky_clip {
        /* width: calc(100% - 10px); */
        background-color: #7BDEFF;
        /* position: relative; */
        height: 100px;
        left: 0;
        top: -100%;
        clip-path: polygon(100% 0, 0 0, 50% 100%) !important;
    }
 
    .k_videoposition{
        position: absolute; 
        bottom: 30px; 
        left: 10%;
        /* width: 50%; */
        padding-top: 0;
    } 

    .k_modal-body {
        width: 100%;
        max-width: none;
        padding: 0;
        padding-top: 0;
    }

    .k_responsive-video {
        width: 100vw !important;
        height: auto;
    }

    .k_videoposition {
        padding: 0 15px;
    }
    .k_mbg {
        padding-top: 0 !important;
    }
    .k_sec_padd {
        margin-left: 0 !important;
        padding: 20px !important;
    }

    .k_mdbgsmall {
        font-size: 2rem !important;
    }

    .k_ai_aheblo2 {
        display: block;
    }

    .k_ai_ahero ,
    .k_ai_ahero1{
        height: 460px !important;
    }

    .k_ai_aheblo div {
        font-size: 30px !important;
    }

    #k_sticky-section {
        width: 100% !important;
        border-bottom: 3px solid #f7f7f7 !important;
    }

    #k_sticky-section.sticky {
        left: 0 !important;
    }

    .k_md16px {
        font-size: 16px !important;
    }

    .k_md14px {
        font-size: 14px !important;
    }

    .k_md100btn1 {
        width: 100%;
        margin: 0;
    }

    .k_input_widyh {
        width: 100% !important;
    }
    #k_myVideo {
        background-color: white;
        padding: 20px 20px 100px 20px !important;
    }
    .k_ai_aheblo2 {
        display: block;
    }

}

@media (max-width: 576px) {
    .k_smtext {
        font-size: 0.8rem;
    }
}
/* @media (min-width: 426px) {
    .performance-slider {
        display: flex;
    }
    .performance-slider .item {
        flex: 1;
    }
} */

@media (max-width: 425px) {
    .performance-slider {
        display: block;
    }
    .performance-slider1 {
        display: block;
    }
    /* Owl Carousel Custom Dots */
    .owl-dots {
        text-align: center;
        margin-top: 20px;
    }

    .owl-dot {
        display: inline-block;
        margin: 0 5px;
    }

    .owl-dot span {
        width: 10px;
        height: 10px;
        background-color: #ccc;
        border: 1px dotted #d6d6d6;
        display: block;
        border: none;
    }

    .owl-dot.active span {
        background-color: #525252;
    }
}
@media only screen and (max-width: 425px) {

    .k_16smpx {
        font-size: 16px !important;
    }

    .k_layer {
        height: 260px !important;
        font-size: 10px;
        margin: 0 !important;
        padding: 0 20px !important;
    }

    .k_425 {
        font-size: 24px !important;
    }

    .k_1440 {
        font-size: 15px !important;
    }

    .k_pnone {
        padding: 0 !important;
        line-height: 1.5;
    }

    .k_imagecontainer img {
        height: 260px;
    }

    .k_order {
        order: 0 !important;
    }

    .k_orderfirst {
        order: 0 !important;
    }

    .k_ordersecond {
        order: 1 !important;
    }

    .k_order3 {
        order: 2 !important;
    }

    .k_orderbox {
        order: 1 !important;
    }

    .k_order1 {
        order: 0 !important;
    }

    .k_order2 {
        order: 1 !important;
    }

    .k_smnone {
        display: none !important;
    }

    .k_smflex {
        display: flex !important;
    }

    .k_smflex p {
        flex: 0.4;
    }

    .k_contentcenter {
        justify-content: center !important;
    }

    .k_ednone {
        display: none !important;
    }

    .k_orderbox {
        margin-left: 30px;
    }

    .k_shape {
        display: none !important;
    }

    .k_container11 {
        max-width: 400px !important;
        margin: auto;
    }

    .k_contentend {
        margin-top: 100px !important;
        margin: 0 0;
    }

    .k_scrollable-menu {
        overflow-x: auto;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
    }
    .k_ai_aheblo2 {
        display: block;
    }
    .k_bgblue2 {
        height: 450px !important;
    }

    .k_btnoptimized {
        padding: 10px 128px !important;
    }

    .k_scroll {
        display: block !important;
    }

    .k_item {
        display: inline-block;
        margin-right: 10px;
    }

    .k_tab1 {
        font-size: 16px !important;
        padding: 0 !important;
    }

    .k_tsmall {
        font-size: 10px !important;
    }

    /* #k_sticky-section {
       display: none !important;
    } */
    #k_sticky-section {
        width: 100% !important;
        border-bottom: 3px solid #f7f7f7 !important;
    }

    .k_mdflex {
        display: flex;
    }

    .k_mdflex p {
        flex: 0.3;
    }

    .k_xeonremovemd1 {
        display: none !important;
    }

    .k_xeonsmbtn {
        padding: 10px 55px !important;
    }

    .k_paddingnone {
        padding: 0 !important;
    }

    .k_paddingnone1 {
        padding: 10px 20px !important;
    }

    .k_lgimgnone {
        display: block !important;

    }
    .k_tstart1 {
        /* padding: 0 !important; */
        padding: 50px 0 !important;
        text-align: start !important;
    }
    .b_font_texttt {
        font-size: 28px;
    }
    .k_bignone{
        display: block !important;
    }
    .k_smallnone{
        display: none !important;
    }
    .k_bgsky_clip {
        background-color: #7BDEFF;
        height: 100px;
        left: 0;
        top: -100%;
        clip-path: polygon(100% 0, 0 0, 50% 100%) !important;
        align-content: center !important;
    }

    .k_sec_padd {
        margin-left: 0 !important;
        padding: 20px !important;
    }

    .k_deskprobtn {
        height: 70px;
        text-align: center !important;
    }

    .k_md100btn {
        width: 100% !important;
        margin: 0 !important;
    }

    .k_ai_aheblo {
        display: none !important;
    }

    .k_ai_ahero ,
    .k_ai_ahero1{
        height: 200px !important;
    }

    .k_ai_aheblo2 div {
        font-size: 25px !important;
    }

    .k_22px {
        font-size: 22px !important;
    }
    .k_imgsmw{
        width: 60% !important;
    }
    .k_15px {
        font-size: 15px !important;
    }

    .k_libe_after {
        position: relative;
        display: block !important;
    }

    .k_libe_after1 {
        position: relative;
        display: block !important;
    }

    #content-row-1 .col-sm-12:nth-child(n+3),
    #content-row-2 .col-sm-12:nth-child(n+3) {
        display: none;
    }

    #content-row-1.show-all .col-sm-12:nth-child(n+3),
    #content-row-2.show-all .col-sm-12:nth-child(n+3) {
        display: block;
    }

    .k_libe_after:before,
    .k_libe_after:after,
    .k_libe_after:before,
    .k_libe_after:after {
        width: 30%;
    }

    .k_libe_after:before,
    .k_libe_after:before {
        left: 5%;
    }

    .k_libe_after:after,
    .k_libe_after:after {
        right: 5%;
    }

    .k_libe_after1:before,
    .k_libe_after1:after,
    .k_libe_after1:before,
    .k_libe_after1:after {
        width: 30%;
    }

    .k_libe_after1:before,
    .k_libe_after1:before {
        left: 5%;
    }

    .k_libe_after1:after,
    .k_libe_after1:after {
        right: 5%;
    }

    .k_gutter {
        margin-bottom: 10px !important;
    }

    .k_contentnone {
        padding-right: none !important;
        padding-left: none !important;
    }

    .k_btn100 {
        width: 100% !important;
    }
    .k_exbigbtn{
        width: 100% !important;
    }
    .k_smmatop{
        margin-top: 20px !important;
    }
    .k_30px{
        font-size: 30px !important;
    }
    .k_smpadd {
        padding: 20px 0 !important;
    }

    .k_smpadd1 {
        padding-top: 20px !important;
    }

    .k_smpaddnone {
        margin: 30px 0 !important;
        padding: 0 !important;
    }

    .k_smpaddnone1 {
        margin: 15px 0 !important;
        padding: 0 !important;

    }
    .k_smextapadd {
        margin-top: 60px !important;
    }

    .k_dwrap1 {
        display: block !important;
    }

    .k_bg_img img ,
    .k_bg_imgdemo img{
        height: 230px !important;

    }
    .k_paddingnone{
        padding: 0 !important;
        margin: 0 !important;
    }
    .k_bg_img {
        display: flex;
        flex-direction: column;
    }

    .k_bg_img img {
        width: 100% !important;
        order: 0 !important;

    }

    .k_bg_blue {
        position: relative !important;
        z-index: 2;
       
        margin: 0 !important;
        order: 1 !important;
    }
    .k_bg_bluedemo {
        position: relative !important;
        z-index: 2;
       
        margin: 0 !important;
        order: 1 !important;
    }
    .s_slider-item {
        display: none !important;
        text-align: center !important;
        padding: 20px;
      }
      
      .s_slider-item.active {
        display: block !important;
      }
      
      .s_slider-indicators {
        display: flex;
        justify-content: center;
        margin-top: 10px;
      }
      
      .s_indicator {
        width: 13px;
        height: 13px;
        background-color: white;
        margin: 0 5px;
      
      }
      
      .s_indicator.active {
        background-color: black;
      }
    
}
@media (max-width: 425px) {

    #content-row-1 .col-sm-12:nth-child(n+3),
    #content-row-2 .col-sm-12:nth-child(n+3) {
        display: none;
    }

    #content-row-1.show-all .col-sm-12:nth-child(n+3),
    #content-row-2.show-all .col-sm-12:nth-child(n+3) {
        display: block;
    }

    .k_libe_after:before,
    .k_libe_after:after,
    .k_libe_after:before,
    .k_libe_after:after {
        width: 30%;
    }

    .k_libe_after:before,
    .k_libe_after:before {
        left: 5%;
    }

    .k_libe_after:after,
    .k_libe_after:after {
        right: 5%;
    }

    .k_libe_after1:before,
    .k_libe_after1:after,
    .k_libe_after1:before,
    .k_libe_after1:after {
        width: 30%;
    }

    .k_libe_after1:before,
    .k_libe_after1:before {
        left: 5%;
    }

    .k_libe_after1:after,
    .k_libe_after1:after {
        right: 5%;
    }

}
@media (max-width: 425px) {
    .k_intext1 {
        display: inline;
        word-break: break-word;
        background-image: linear-gradient(to right, rgb(196, 193, 193) 33%, rgba(255, 255, 255, 0) 0%);
        background-position: bottom;
        background-size: 6px 2px;
        background-repeat: repeat-x;
        padding-bottom: 2px;
    }

    .k_intext1::after {
        display: none;
    }

    .k_intext1:hover {
        background-image: linear-gradient(to right, rgb(83, 44, 44) 100%, rgba(255, 255, 255, 0) 0%);
    }
}

@media only screen and (max-width: 375px) {
    .k_btn3 {
        font-size: 10px !important;
    }

    .k_tab1 {
        font-size: 15px !important;
        padding: 0 !important;
    }

    .k_22px {
        font-size: 22px !important;
    }

    .k_375 {
        font-size: 20px !important;
    }

    .k_14px {
        font-size: 14px !important;
    }

    .k_layer {
        height: 280px !important;
        font-size: 10px;
        margin: 0 !important;
        padding: 0 20px !important;
    }

    .k_input_widyh {
        width: 100% !important;
    }

    .k_imagecontainer img {
        height: 280px;
    }

    /* #k_sticky-section {
        display: none !important;
     } */
    .k_alignend {
        align-content: end !important;
        padding-bottom: 0 !important;
        justify-content: center !important;
        text-align: center;
    }

    .k_btnoptimized {
        padding: 10px 102px !important;
    }

    .k_mdflex {
        display: flex;
    }
    .k_text2 {
        padding: 0 !important;
        padding: 40px 0 !important;
        text-align: start !important;
    }
    .k_mdflex p {
        flex: 0.4;
    }

    .k_xeonremovemd {
        display: none !important;
    }

    .k_xeonsmbtn {
        padding: 10px 34px !important;
        margin-left: 10px !important;
    }

    .k_xeonpadding {
        padding: 12px !important;
    }

    .k_320 {
        padding: 10px 0 !important;
    }

    .k_bgblue2 {
        height: 390px !important;
    }

    .k_container11 {
        width: auto;
        padding: 0 14px !important;
    }

    .k_md16px {
        font-size: 16px !important;
    }

    .k_md14px {
        font-size: 14px !important;
    }

    #k_sticky-section {
        width: 100% !important;
        border-bottom: 3px solid #f7f7f7 !important;
    }

    #k_sticky-section.sticky {
        left: 0 !important;
    }
    .k_videoposition{
        position: absolute; 
        bottom: 30px; 
        left: 10%;
        /* width: 50%; */
        padding-top: 0;
    } 

    .k_modal-body {
        width: 100%;
        max-width: none;
        padding: 0;
        padding-top: 0;
    }

    .k_responsive-video {
        width: 100vw !important;
        height: auto;
    }

    .k_videoposition {
        padding: 0 15px;
    }
    .k_mbg {
        padding-top: 0 !important;
    }
    #k_myVideo {
        background-color: white;
        padding: 20px 20px 100px 20px !important;
    }
    .k_videoposition{
        bottom: 0px !important; 
    ;
    } 
.k_responsive-video1 {
    width: 100%;
    height: 150px !important;

}
}
@media (max-width: 325px) {
    .k_bg_img img ,
    .k_bg_imgdemo img{
        height: 200px;
    }
}
@media only screen and (max-width: 320px) {
    .k_btnoptimized {
        padding: 10px 70px !important;
    }

    .k_container11 {
        max-width: 300px !important;
        margin: auto;
    }

    .k_layer {
        height: 300px !important;
        font-size: 10px;
        margin: 0 !important;
        padding: 0 20px !important;
    }

    .k_imagecontainer img {
        height: 300px;
    }

    .k_mdflex {
        display: flex;
    }

    .k_mdflex p {
        flex: 1;
    }

    .k_xeonremovemd {
        display: none !important;
    }

    .k_xeonsmbtn {
        padding: 10px 25px !important;
        margin-left: 6px !important;
    }

    .k_advisorbtn {
        flex-wrap: wrap !important;
    }

    .k_dicon {
        color: #0071c5;
        right: 40px !important;
    }

    .k_bgblue2 {
        height: 410px !important;
    }

    .k_md16px {
        font-size: 16px !important;
    }

    .k_md14px {
        font-size: 14px !important;
    }

    #k_sticky-section {
        width: 100% !important;
        border-bottom: 3px solid #f7f7f7 !important;
    }

    #k_sticky-section.sticky {
        left: 0 !important;
    }

    #content-row-1 .col-sm-12:nth-child(n+3),
    #content-row-2 .col-sm-12:nth-child(n+3) {
        display: none;
    }

    #content-row-1.show-all .col-sm-12:nth-child(n+3),
    #content-row-2.show-all .col-sm-12:nth-child(n+3) {
        display: block;
    }

    .k_libe_after:before,
    .k_libe_after:after,
    .k_libe_after:before,
    .k_libe_after:after {
        width: 25%;
    }

    .k_libe_after:before,
    .k_libe_after:before {
        left: 0% !important;
    }

    .k_libe_after:after,
    .k_libe_after:after {
        right: 0% !important;
    }

    .k_libe_after1:before,
    .k_libe_after1:after,
    .k_libe_after1:before,
    .k_libe_after1:after {
        width: 25%;
    }

    .k_libe_after1:before,
    .k_libe_after1:before {
        left: 0% !important;
    }

    .k_libe_after1:after,
    .k_libe_after1:after {
        right: 0% !important;
    }

    .k_bglaptop {
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-size: cover;
    }
    .k_videoposition{
        /* position: absolute   ;  */
        bottom: 0; 
        left: 10%;
        margin-top: 40px ;
    } 
    .k_videoposition {
        padding-top: 40px !important; 
    }
}

/* second page intelcore csss */
.k_intelbg {
    background-color: #00285a;
}

.k_strech {
    object-fit: initial;
    background-size: cover;
    overflow: hidden;
}

.k_incorbtn {
    background-color: transparent;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    border-left: none;
    border-right: none;
    padding: 10px 20px;
    margin-right: 50px;
}

.k_incorbtn a {
    color: #ffffff;
}

.k_incorbtn:hover {
    border-left: 4px solid #ffffff;
}

.k_resoursebtn {
    background-color: #f3f3f3;

}



.k_intext1 {
    text-align: start !important;
    line-height: 2;
    cursor: pointer;
    display: inline-block;
}


.k_intext1 span {
    position: relative;
    padding-bottom: 2px;
}

.k_intext1 span::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-bottom: 2px dotted rgb(196, 193, 193);
    transition: border-color 0.3s ease;
}

.k_intext1:hover span::after {
    border-bottom: 2px solid rgb(196, 193, 193);
}

/* .k_intext1blue {
    text-align: start !important;
    line-height: 1;
    cursor: pointer;
    display: inline-block;
    position: relative;
    padding-bottom: 2px;
    text-decoration: none;
    color: inherit;
}

.k_intext1blue::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-bottom: 2px dotted #004A86;
    transition: border-color 0.3s ease;
}

.k_intext1blue:hover::after {
    border-bottom: 2px solid #004A86;
} */
.k_ulpadd {
    padding-left: 18px;
}





.k_textwhite a {
    color: #ffffff !important;
    text-decoration: none !important;
}

/* intel_xeon css */
.k_active {
    background-color: #ffffff;
}

.k_active a {
    color: black !important;
}

.k_span {
    color: #005b85;
}

.k_span {
    font-size: 100px !important;
}

.k_span span {
    font-size: 30px !important;
}

.k_bg_inxeon {
    background-color: #040E35;
}

.k_xeonbtn {
    background-color: #ffffff !important;
}

.k_bgpista {
    background-color: #41728A;
}

.k_pibtn {
    background-color: #ffffff;
}

.k_pibtn a {
    color: #41728A !important;
}

.k_pibtn:hover {
    background-color: #f3f3f3;
}

.k_link a {
    color: #0068b5;
}

.k_link {
    font-size: 12px;
}

.k_top {
    vertical-align: top !important;
}

.k_btnactive {
    border-left: 4px solid #ffffff !important;
}

/* intel graphics */
.k_bgnevydark {
    background-color: #040E35;
}

.k_smtext {
    font-size: 14px;
}

.k_linkborder a {
    border-bottom: 2px dotted white;
}

.k_linkborder a:hover {
    border-bottom: 2px solid white;
}

.k_in_bgblue {
    background-color: #000F8A;
}

.k_bggradiant {
    background-image: linear-gradient(#050F35, #151147);
}

/* photo editing */
.k_plink {
    color: #0068B5;
    text-decoration: none;
}

.k_bgedit {
    background-color: #41728A;
}

.k_lefticon {
    font-size: 60px;
    color: #f2f2f2;
}

/* desktop video editing */
.k_desk {
    height: 500px;
}

.k_incorbtn1 {
    background-color: transparent;
    border-left: none;
    border-right: none;
    padding: 10px 20px;
    margin-right: 50px;
}

.k_incorbtn1:hover {
    border-left: 4px solid #00285a;
}

.k_btnactive1 {
    border-left: 4px solid #00285a;
}

.k_btnactive1 a,
.k_btnactive1:hover {
    color: #00285a !important;
}

.k_dbtn {
    margin: 0 !important;
    padding: 12px !important;
    cursor: pointer;
}

#k_sticky-section {
    position: relative;
    background-color: #fff;
    padding: 10px;
    z-index: 100 !important;
    width: 390px;
}

#k_sticky-section.sticky {
    position: fixed;
    top: 0;
    left: 8%;
    right: 0;
}

.tab-container {
    display: flex;
    flex-direction: column;
}

.k_btn {
    padding: 10px;
    cursor: pointer;
    border-left: 4px solid transparent;
    transition: border-left-color 0.3s ease;
    margin-bottom: 5px;
}

.k_btn.active {
    border-left-color: #00285a !important;
    font-weight: bold;
}

.k_btn a {
    text-decoration: none;
    color: inherit;
    display: block;
}

/* intel processors */
.k_plink1:hover {
    text-decoration-line: underline;
}

.k_color262626 {
    color: #262626;
}

.k_color262626 a {
    color: black;
}

.k_hr {
    margin: 0;
}

.k_btngrey {
    background-color: #F3F3F3 !important;
}

.k_img2 img {
    width: 100% !important;
    object-fit: cover !important;
    /* height: 100%; */
    background-size: cover;
}

.k_tab-container {
    position: relative;
    margin-bottom: -1px;
}

.k_tab-container ul li a {
    text-decoration: none;
    padding: 5px 0;
    display: inline-block;
    border-bottom: 2px solid transparent;
}

.k_tab-container ul li a.active {
    border-bottom: 4px solid #00AEEF;
    background-color: #f2f2f2;
}
.k_tab-container1 {
    position: relative;
    margin-bottom: -1px;
}

.k_tab-container1 ul li a {
    text-decoration: none;
    padding: 5px 0;
    display: inline-block;
    border-bottom: 2px solid transparent;
}

.k_tab-container1 ul li a.active {
    border-bottom: 4px solid #00AEEF;
    background-color: #f2f2f2;
}
.k_hr {
    margin: 0;
    border: none;
    border-top: 2px solid #ccc;
}

.k_custom-tab-content {
    display: none;
    padding-top: 20px;
}

.k_custom-tab-content.active {
    display: block;
}

.k_bglaptop {
    background-image: url(../img/rushita_img/bglaptop.png);
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    width: 100%;
    max-width: 100%;
    background-size: cover !important;
    box-sizing: border-box;
}

.k_bgworkstation {
    background-image: url(../img/rushita_img/bg_workstation.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.k_bgworkstation img {
    height: 100%;
    width: 100%;
}

.k_bgdarkblue {
    background-color: #000864;
}

.k_btn3 {
    background-color: #0068B5;
    width: auto;
    height: auto;
    margin: 0 auto !important;
    /* padding-top: 15px !important; */
}

.k_btnlearn {
    background-color: white;
    width: auto;

}

.k_blueline {
    line-height: 2;
    cursor: pointer;
    display: inline-block;
    position: relative;
    padding-bottom: 2px;
}

.k_blueline::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-bottom: 2px dotted #0068B5;
    transition: border-color 0.3s ease;
}

.k_blueline:hover::after {
    border-bottom: 2px solid #0068B5;
}
.k_containervideo1{
    width: 1800px;
    margin: auto;
}
.k_bgblack {
    background-color: #262626;
}

.k_ptext p {
    font-size: 16px !important;
}

.k_strong {
    padding-right: 10px !important;
}

.k_menu {
    list-style-type: none;
    padding: 0;
}

.k_menu li {
    margin-bottom: 10px;
}

.k_submenu,
.k_submenu1 {
    display: none;
    padding-left: 20px;
    list-style-type: none;
}

.k_submenu.active,
.k_submenu1.active {
    display: block;
}


.k_submenu-toggle {
    position: relative;
    padding-left: 20px;
    display: inline-block;
    font-family: 'Intel Clear', sans-serif;
}

.k_submenu-toggle::before {
    content: ">";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    transition: transform 0.3s;
    font-size: 16px;
    font-weight: bolder;
}

.k_submenu-toggle.active::before {
    transform: translateY(-50%) rotate(90deg);
}

.k_petamenu {
    display: none;
    padding-left: 20px;
    list-style-type: none;
}

.k_petamenu.active {
    display: block;
}

.k_petamenu-toggle {
    position: relative;
    padding-left: 20px;
    display: inline-block;
    font-family: 'Intel Clear', sans-serif;
}

.k_petamenu-toggle::before {
    content: ">";
    position: absolute;
    left: 5px;
    top: 40%;
    transform: translateY(-50%);
    display: inline-block;
    transition: transform 0.3s;
    font-size: 16px;
    font-weight: bolder;
}

.k_petamenu-toggle.active::before {
    transform: translateY(-50%) rotate(90deg);
}

.k_menu li a {
    color: inherit;
    text-decoration: none;
}

.k_menu li.active>a {
    color: black;
    font-weight: bold;
}

.k_submenu li.active>a {
    color: black;
    font-weight: bold;
}

.k_petamenu li.active>a {
    color: black;
    font-weight: bold;
}

.k_26px {
    font-size: 26px;
}

.k_14px {
    font-size: 14px !important;
}

.k_bgsky {
    background-color: #7BDEFF;
}

.triangle {
    position: absolute;
    top: 0;
    left: 50%;
    width: 120px;
    height: 100%;
    background-color: #7BDEFF;
    clip-path: polygon(0 0, 0 100%, 100% 50%);
}

.k_bgsky1 {
    position: relative;
}

.k_bluepadding {
    padding: 250px 0px;
    padding-left: 150px;
}

.k_rightpadding {
    padding-right: 150px;
}

.k_tpadding1 td {
    padding: 16px 10px !important;
}

.k_tpadding1 th {
    padding: 5px 10px !important;
}

.k_e2bg {
    background-color: #E2E2E2;
}

.k_rightborder1 td,
.k_rightborder1 {
    border-left: 2px solid #E2E2E2;
}

.k_table-container {
    width: 100% !important;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.k_containerrushita {
    max-width: 100%;
    overflow-x: auto;
}

.custom-table {
    width: 100%;
    border-collapse: collapse;
    min-width: 800px;
}

.custom-table th,
.custom-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    font-size: 14px;
}

.k_xeontablebg {
    background-color: #f2f2f2;
}

.k_xeontablebg1 {
    background-color: #f9f9f9;
}

.k_checkbox {
    margin-right: 5px;
}

.custom-table th:first-child,
.custom-table td:first-child {
    width: 41.66%;
}

@media screen and (max-width: 768px) {
    .k_container11 {
        -webkit-overflow-scrolling: touch;
    }
}

@media screen and (max-width: 768px) {
    .k_table-container {
        overflow-x: scroll;
    }

    table {
        min-width: 600px;
    }
}

@media screen and (max-width: 424px) {
    table {
        min-width: 400px;
    }

    th,
    td {
        padding: 6px;
    }
}

@media (max-width: 1199.98px) {

    .table th,
    .table td {
        font-size: 14px;
    }
}

@media (max-width: 991.98px) {

    .table th,
    .table td {
        font-size: 13px;
    }
}

@media (max-width: 767.98px) {

    .table th,
    .table td {
        font-size: 12px;
    }
}

@media (max-width: 575.98px) {

    .table th,
    .table td {
        font-size: 8px;
        padding: 0.3rem !important;
    }
}

/*video page  */
.k_56px {
    font-size: 56px;
}

.k_darkgrey {
    background-color: #262626;
}

.k_fend {
    float: inline-end;
}

.k_videobg {
    background-image: url(../img/rushita_img/vediobg.jpg);
    background-position: center !important;
    object-fit: cover;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.k_videobg img {
    height: 100%;
    width: 100% !important;
}

.k_vlink1 {
    text-decoration: none;
    color: #262626;
}

.k_vlink2:hover {
    text-decoration: underline;
    color: #262626;
}

.k_video-k_container11 {
    position: relative;
    cursor: pointer;
}

.k_play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    color: white;
}

.k_responsive-video {
    width: 50%;
    height: auto;
}

.k_responsive-video1 {
    width: 100%;
    height: 230px;

}

.k_responsive-videowork {
    width: 100%;
    height: auto !important;

}

.k_mbg {
    opacity: 0.9;
    background-color: #020202 !important;
    height: 100vh;
    margin-top: 0 !important;
    padding-top: 100px;
}

.k_modal-content {
    background-color: transparent;
    border: none;
}

.k_responsive-video3 {
    width: 100%;
    height: auto;
}

.k_modal-header {
    border-bottom: none;
    padding: 0.5rem 1rem;
}

.k_modal-header .k_btn-close {
    color: white;
    opacity: 1;
    text-shadow: none;
    font-size: 2rem;
}

.k_modal-body {
    padding: 0;
    height: 100%;
}

#k_myVideo {
    background-color: white;
    padding: 40px 40px 100px 40px;
}
/* .k_modal-body {
    width: 100%;
    max-width: 1200px; 
    margin: 0 auto;
    padding: 15px;
}

.k_responsive-video {
    width: 100%;
    height: auto;
}

.k_videoposition {
    width: 100%;
    text-align: center;
} */


.k_vhover a:hover {
    color: #262626;
}

.k_formcontrol {
    border-radius: 0 !important;
}

.k_listnone {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.d-flex {
    display: flex;
}

.menu-item {
    position: relative;
}

.k_submenu1 {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    padding: 10px;
    z-index: 1000;
    height: 300px;
    border: 1px solid #d7d7d7;
    ;
    overflow-y: auto;
    width: 250px;
}

.k_submenu1 li {
    padding-bottom: 40px !important;
}

.k_submenu1 li:last-child {
    padding-bottom: 0 !important;
}

.k_submenu1.show {
    display: block;
}

.k_optimized {
    background-image: url(../img/rushita_img/optimazedbg.png);
    background-position: center;
    object-fit: cover;
    background-repeat: no-repeat;
    width: 100% !important;
    background-size: cover;
    height: 100%;
    width: 100% !important;
}

.k_btnoptimized {
    border: 1px solid #0068B5;
}

.k_btnoptimized:hover {
    color: #ffffff;
}

.k_gpabg {
    background-image: url(../img/rushita_img/gpabg.jpg);
    background-position: center;
    object-fit: cover;
    background-repeat: no-repeat;
    width: 100% !important;
    background-size: cover;
    height: 100%;
}

.k_btngpa {
    border: 2px solid #ffffff !important;
}

.k_btngpa:hover {
    background-color: #ffffff;
    color: #0068B5 !important;

}

.k_intext3 {
    text-align: start !important;
    line-height: 2;
    cursor: pointer;
    display: inline-block;
    position: relative;
    padding-bottom: 2px;
}

.k_intext3::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -0.5%;
    width: 100%;
    border-bottom: 2px dotted rgb(196, 193, 193);
    transition: border-color 0.3s ease;
}

.k_intext3:hover::after {
    border-bottom: 2px solid rgb(196, 193, 193);
}

.k_active1 {
    background-color: #f7f7f7;
    border-bottom: none !important;
}

.k_active1 a {
    color: #262626 !important;
    border-bottom: none !important;
}

.k_gpaunderline:hover {
    text-decoration: underline !important;
    color: #00285a !important;
}

.k_liblack li {
    color: black !important;
}

.k_liblack li {
    list-style-type: disc !important;
}

.k_styleblue a {
    text-decoration: underline dotted;
    color: #004A86;
    text-underline-offset: 5px;
}

/* gpu driver page */
.k_gpubg {
    background-color: #000f8a;
    background-image: url(../img/rushita_img/gpubg.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat
}

.k_gpuunder li:hover {
    text-decoration: underline;
}

.k_gpubox {
    border: 2px solid #f7f7f7;
}

.k_gpubtn {
    background-color: rgb(0, 113, 197);
    border: 1px solid rgba(0, 0, 0, 0);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    text-align: center;
    padding: 10px 24px;
    font-weight: 400;
    font-size: 16px;
    max-width: 480px;
    display: flex;
    color: rgb(255, 255, 255);
    line-height: 20px;
    margin-bottom: 8px;
    border-radius: 0px;
}

.k_gpuspace {
    margin-top: 30px !important;
}

.k_gpuscrollable-container {
    height: 300px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border: none !important;
    padding: 10px 30px;
}

.k_gpaunderline1 li a:hover {
    text-decoration: underline !important;
}

.k_bgvideolibrary {
    background-color: #00285a;
    background-image: url(../img/rushita_img/bg_videolibrery.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat
}

.k_bgwhite {
    background-color: #ffffff !important;
}

.k_intextwhite {
    text-align: start !important;
    line-height: 1;
    cursor: pointer;
    display: inline-block;
    position: relative;
    padding-bottom: 2px;
    text-decoration: none;
    color: inherit;
}

.k_intextwhite::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-bottom: 2px dotted white;
    transition: border-color 0.3s ease;
}

.k_intextwhite:hover::after {
    border-bottom: 2px solid white;
}

.k_intextblue a {
    border-bottom: 2px dotted #000864;
}

.k_btnget {
    background-color: #0068B5;
    /* width: 150px; */
}

.k_btntab1 a {
    color: #00285a !important;
}

.k_btntab1:hover a {
    color: #0068B5 !important;
}

.k_btngpa1:hover {
    background-color: #004a86 !important;
}

.k_btntab2:hover {
    background-color: #004a86 !important;
}

.k_gpatraining {
    background-color: #003C71;
}

.k_reletive:hover .k_imagecontainer1 {
    transform: scale(1.1);
}

.k_imagecontainer1:hover {
    transform: scale(1.1);
}

.k_reletive {
    overflow: hidden;
}

.k_imagecontainer1 {
    transition: transform 0.5s ease;
}

.k_container {
    margin: 0 250px;
}

.k_accordion {
    border: none !important;
}

.accordion-button:focus {
    background-color: none !important;
    box-shadow: none !important;
}

.accordion {
    font-size: 14px;
    --bs-accordion-active-bg: none !important;
    --bs-accordion-border-color: none !important;
}

.accordion-item {
    border: none !important;
}

.accordion-body {
    border: none !important;
    padding: 0 20px !important;
}

.accordion-header:hover {
    color: #555 !important;
}

.accordion-header {
    color: #003c71 !important;
}

.accordion-button:not(.collapsed) {
    color: black;
    background-color: transparent !important;
}

.k_rborder {
    border-top: 2px solid #f7f7f7;
}

.k_search-container {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    border: none;
}

.k_search-input {
    flex: 1;
    background-color: transparent;
    border: none;
    padding: 0 16px 0 20px;
}

.fa-solid.fa-filter {
    position: absolute;
    right: 19px !important;
    top: 0;
}

.k_dicon {
    color: #0071c5;

}

.k_dtag {
    padding: 5px 10px;
    line-height: 1em;
    margin: 2.5px 1px;
    font-weight: 700;
    text-align: center;
    background-color: #e3e3e3;
    white-space: nowrap;
    display: inline-block
}

.k_dtag-container {
    display: inline;
}

.k_dtag-container .k_dtag {
    display: inline-block;
    margin-right: 10px;
}

.k_xeontablebg {
    background-color: #E9E9E9;
}

.k_xeontablebg1 {
    background-color: #FFFFFF;
}

.k_xeoncenter th {
    text-align: center !important;
}

.k_checkbox {
    margin-right: 15px !important;
}

.video-wrapper {
    position: relative;
    display: inline-block;
}

.k_responsive-video3 {
    width: 100%;
    height: auto;
}

.play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    color: white;
    cursor: pointer;
    z-index: 10;
    background: rgba(0, 0, 0, 0.5);
    /* Optional: add background to make icon stand out */
    border-radius: 50%;
    padding: 10px;
}

.play-icon i {
    margin: 0;
}

.k_custom-tab.active {
    border-left: 4px solid white !important;
    color: #fff;
    font-weight: bold;
}

.k_custom-tab-content {
    display: none !important;
}

.k_custom-tab-content.active {
    display: block !important;
}

.k_custom-tabs .k_custom-tab:first-child {
    border-left: none;
}

.k_video-wrapper {
    margin: 0 auto;
}

.k_video-container {
    position: relative;
}

.k_custom-video {
    width: 100%;
    height: auto;
}

.k_play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    border: none;
    color: white;
    font-size: 48px;
    cursor: pointer;
}

.k_play-button:focus {
    outline: none;
}

.k_sec_padd {
    margin-left: 130px;
}

.k_bgsky_clip {
    left: -100%;
    top: 0;
    clip-path: polygon(0 0, 0 100%, 80% 50%);
    background-color: #7BDEFF !important;
}

.k_bgsky {
    background-color: #7BDEFF !important;
}

.k_input_widyh {
    width: 80%;
}

.k_topborder {
    border-top: 1px solid #f7f7f7 !important;
    border-radius: 0 !important;
}

.k_topborder1 {
    border-bottom: 1px solid #f7f7f7 !important;
    border-radius: 0 !important;
}

.k_accordion-item {
    background-color: #f7f7f7 !important;
}

.k_accordion-button {
    background-color: #f7f7f7 !important;
}

.k_accordion-button:not(.collapsed) {
    background-color: #f7f7f7 !important;
    color: #212529 !important;
}

.k_accordion-body {
    background-color: #f7f7f7 !important;
    padding:  0 !important;
}

.k_bodyborder {
    border-top: 5px solid #00AEEF !important;

}

.k_ai_ahero {
    background: url("../img/rushita_img/abstract-neon-seamless-3d-anim-image.jpg.rendition.intel.web.1920.1080.jpg");
    height: 350px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.k_ai_ahero1 {
    background: url("../img/rushita_img/education.jpg");
    height: 350px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.k_ai_aheblo {
    position: absolute;
    width: 50%;
    background-color: #0068b5;
    right: 50px;
    top: 50px;
    padding: 16px 16px 40px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.k_ai_aheblo::before {
    content: "";
    position: absolute;
    width: 45px;
    height: 45px;
    background-color: #00a3f6;
    bottom: -46px;
    left: -46px;
}

.k_ai_aheblo2 {
    display: none;
    background-color: #0068b5;
}


.k_ai_aheblo2 div {
    font-size: 30px;
    font-weight: 300 !important;
    line-height: 1.2;
}

.k_ai_aheblo div {
    font-size: 40px;
    font-weight: 300 !important;
    line-height: 1.2;
}


.k_ai_q {
    background-color: #0068b5;
    padding: 20px 0;
}

.k_ai_q img {
    margin-right: 30px;
    width: 13vw;
}

.k_ai_q>div {
    display: flex;
    align-items: center;
}

/* @media screen and (max-width: 767px) {
    .k_ai_aheblo2 {
        display: block;
    }
} */

.k_show_text,
.k_show_text {
    width: 100px;
    margin: auto;
}

.k_libe_after {
    position: relative;
    display: none;
}

.k_libe_after1 {
    position: relative;
    display: none;
}

.k_libe_after1,
.k_libe_after1 {
    position: relative;
}

.k_box_height {
    color: #ffffff;
    height: 100px;
}

.k_libe_after:before,
.k_libe_after:after,
.k_libe_after:before,
.k_libe_after:after {
    content: "";
    width: 400px;
    display: block;
    height: 1px;
    background-color: #ffffff;
    position: absolute;
    top: 50%;
}

.k_libe_after:before,
.k_libe_after:before {
    left: 20%;
}

.k_libe_after:after,
.k_libe_after:after {
    right: 20%;
}

.k_libe_after1:before,
.k_libe_after1:after,
.k_libe_after1:before,
.k_libe_after1:after {
    content: "";
    width: 400px;
    display: block;
    height: 1px;
    background-color: #0068B5 !important;
    position: absolute;
    top: 50%;
}

.k_libe_after1:before,
.k_libe_after1:before {
    left: 20%;
}

.k_libe_after1:after,
.k_libe_after1:after {
    right: 20%;
}

.k_20px {
    font-size: 20px;
}



.k_index {
    z-index: 9999 !important;
}

.k_bg_img img {
    height: 350px !important;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/* .k_bg_img1 img {
    height: 350px;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
} */
.k_bg_imgdemo img {
    height: 300px;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.k_bg_imgdemo,
.k_bg_imgdemo1{
    position: relative;
}
.k_bg_img {
    position: relative;
}
.k_bg_imgdemo1 img {
    height: 330px;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.k_bg_blue {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #0068B5;
    color: white;
    padding: 16px 16px 40px 25px;
}

.k_bg_blue::after {
    content: '';
    position: absolute;
    top: 100%;
    right: 100%;
    width: 2.5rem;
    height: 2.5rem;
    background-color: #00A3F6;
}
.k_bg_bluedemo {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #41728A;
    color: white;
    padding: 16px 16px 20px 25px;
}

.k_bg_bluedemo::after {
    content: '';
    position: absolute;
    top: 100%;
    right: 100%;
    width: 2.5rem;
    height: 2.5rem;
    background-color: #86B3CA;
}
.k_videoposition{
    position: absolute; 
    bottom: 30px; 
    left: 1;
}


#selectContainer {
    display: none;
    margin-top: 20px;
}
.k_button, .k_select {
    padding: 10px;
    margin-right: 10px;
    font-size: 16px;
}
.k_button {
    width: 100px;
    cursor: pointer;
}
.k_select {
    width: 200px;
}
.k_bignone{
    display: none;
}
.k_navigation {
    position: sticky;
    top: 0;
    z-index: 999;
    border: 1px solid #e3e3e3;
    background-color: #fff;
    display: flex;
    justify-content: center;
    gap: 5%;
}

.k_navigation__link {
    color: black;
    text-decoration: none;
    padding: 22px 8px 19px;
    font-weight: 400;
}

.k_navigation__link:hover {
    color: black;
}

.k_navigation__link.active {
    border-bottom: 3px solid #00aeef;
}

.content-section {
    display: none;
}

.k_accordion-button.k_vlink2 {
    background-color: #000F8A !important;
    color: white; 
}
.k_accordion-button.k_vlink2:not(.collapsed) {
    background-color: #000F8A !important;
    color: white !important;
}
.k_accordion-button.k_vlink2:focus {
    box-shadow: none;
}
.k_accordion-body {
    background-color: #000F8A !important;
    color: white; 
}
.k_accordion-button.k_vlink2::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.k_accordion-button.k_vlink2:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.k_accordion-item:first-of-type .accordion-button{
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
} 
/* intel core */
.k_accordion-button1.k_vlink2 {
    background-color: #0068B5 !important;
    color: white; 
}
.k_accordion-button1.k_vlink2:not(.collapsed) {
    background-color: #0068B5 !important;
    color: white !important;
}
.k_accordion-button1.k_vlink2:focus {
    box-shadow: none;
}
.k_accordion-body1 {
    background-color: #0068B5 !important;
    color: white; 
}
.k_accordion-button1.k_vlink2::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.k_accordion-button1.k_vlink2:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
/* intel mini */
.k_accordion-button2.k_vlink2 {
    background-color: #41728A !important;
    color: white; 
}
.k_accordion-button2.k_vlink2:not(.collapsed) {
    background-color: #41728A !important;
    color: white !important;
}
.k_accordion-button2.k_vlink2:focus {
    box-shadow: none;
}
.k_accordion-body2 {
    background-color: #41728A !important;
    color: white; 
}
.k_accordion-button2.k_vlink2::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.k_accordion-button2.k_vlink2:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}


 .owl-dots {
    text-align: center;
    margin-top: 20px;
}

.owl-dot {
    display: inline-block;
    margin: 0 5px;
}

.owl-dot span {
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border: 1px dotted #d6d6d6;
    display: block;
    border: none;
}

.owl-dot.active span {
    background-color: #525252;
}

.owl-carousel {
    position: relative;
}

/* Navigation arrows */
.owl-nav {
    margin-top: 0;
    position: absolute;
    top: 30%;
    width: 100%;
    transform: translateY(-50%);
}

.owl-prev,
.owl-next {
    position: absolute;
    /* background: rgba(0, 0, 0, 0.5) !important; */
    color: #0068b5 !important;
    font-size: 40px !important;
    padding: 10px 15px !important;
    transition: all 0.3s ease;
    display: none;
}

.owl-prev {
    left: -50px;
}

.owl-next {
    right: -50px;
}

.owl-prev:hover,
.owl-next:hover {
    /* background: rgba(0, 0, 0, 0.8) !important; */
    transform: scale(1.2);
    
}
.k_slidershow:hover .owl-prev,
.k_slidershow:hover .owl-next{
    display: block;
}
.k_reletive:hover .k_imagecontainer1 {
    transform: scale(1.2);
}


.k_intextunder:hover{
    text-decoration: underline;
    color: #004a86;
}
.k_libe_after3 {
    position: relative;
    max-width: 100px; /* Adjust as needed */
    margin: 0px auto;
    text-align: center;
}

.k_show_text3{
    display: inline-block;
    position: relative;
    padding: 0 0px;
    background-color: white; /* Ensures the text background covers the lines */
    width: 250px;
}

.k_show_text3::before,
.k_show_text3::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 600px; 
    height: 1px;
    background-color: #262626; /* Line color */
}

.k_show_text3::before {
    right: 100%;
}

.k_show_text3::after {
    left: 100%;
}


