/* ============================ Contacts Css start ======================= */

.s_bg_img2 {
    background: url(../img/yatri_img/contacts1.jpg);
    background-position: 50% 50%;
    position: relative;
    height: 400px;
    display: flex;
    background-size: cover;
    align-items: center;
}

.s_bg_img2::after {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10;
}

.s_bg_img3 {
    background: url(../img/yatri_img/news.jpg);
    background-position: 50% 50%;
    position: relative;
    height: 400px;
    display: flex;
    background-size: cover;
    align-items: center;
}

.s_bg_img3::after {
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10;
}

.container {
    position: relative;
    z-index: 20;
    width: 100%;
}

/* ============================ Contacts Css end ======================= */

/* ============================ Press Release Css start ======================= */

.s_hadding {
    color: white;
    font-weight: 600;
    font-size: 65px;
    vertical-align: center;
    margin: 0;
}

.s_nav_tabs {
    display: flex;
    align-items: center;
    justify-content: center;
}

.s_nav_tabs li {
    padding: 16px 20px;
    margin: 0 2px;
}

.s_nav_tabs li a {
    color: white;
    text-decoration: none;
    font-size: 13px;

}

.s_nav_tabs li.active {
    background-color: #00497E;
}

.s_nav_tabs li:hover {
    background-color: #00497E;
}

.s_margin {
    margin-left: 16.67%;
    line-height: 1.72;
    font-size: 18px;
}

.s_margin a {
    color: #0068B5;
}

.s_margin a:hover {
    text-decoration: underline;
}

.s_btn2 button {
    background-color: #0068B5;
    border: 0;
    color: white;
    font-size: 14px;
    border-radius: 5px;
    padding: 5px 24px;
    margin: 0 3px;
}

.s_btn2 button:hover {
    background-color: #00497E;
}

.s_link1 {
    color: white;
    text-decoration: none;
}

.s_link1:hover {
    color: white;
    text-decoration: underline;
}

.s_link_white {
    margin-top: 80px;
}

.s_link_white a {
    color: white;
    text-decoration: none;
    margin-right: 5px;
}

.s_link_white a:hover {
    color: #979EB5;
}

/* ============================ Press Realease Css end ======================= */

/* ============================ News And Event Css Start ======================= */

.s_box {
    background-color: #f8f8f8;
    padding: 24px 30px !important;
    height: 100%;
}

.s_box:hover {
    background-color: #0068B5;
}

.s_box:hover a p {
    color: white;
}

.s_box:hover a h5 {
    color: white;
}

.s_box a {
    text-decoration: none;
}

.s_box a p {
    color: black;
    font-size: 12px;
    font-weight: bold;
}

.s_box a h5 {
    color: #0068B5;
    font-size: 18px;
    line-height: 1.667;
}

/* ============================ News And Event Css End ======================= */

/* ============================ IR calender Css Start ======================= */
.s_link_blue2 {
    color: #0068B5;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 50px;
}

.s_link_blue2:hover {
    color: #0068B5;
    text-decoration: underline;
}

.s_btn_link {
    margin-top: 40px;
    text-decoration: none;
    background-color: #0068B5;
    color: white;
    text-align: center;
    padding: 8px 0;

}

.s_btn_link:hover {
    color: white;
    background-color: #022D51;
}

/* ============================ IR calender Css end ======================= */

/* ============================ Annual Stock Holder Css Start ======================= */
.s_proxy_padding {
    padding: 60px;
}

.s_proxy_padding a {
    font-size: 24px;
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

.s_proxy_padding a:hover {
    color: #0068B5;
    text-decoration: underline;
}

.content h4 {
    color: #0068B5;
    margin-bottom: 10px;
    font-weight: 700;
}

.content ul li {
    list-style: disc;
    margin: 18px 0;
    color: #0068B5;
}

.content ul li a {
    color: #0068B5;
    text-decoration: none;
}

.content ul li a:hover {
    color: #0068B5;
    text-decoration: underline;
}

/* ============================ Annual Stock Holder Css End ======================= */

/* ============================ Presentations Css Start ======================= */
.s_link_blue01 {
    font-size: 20px;
    text-decoration: none;
    color: #0068B5;
    margin-top: 10px;
}

/* ============================ Presentations Css End ======================= */

/* ============================ ESG Css Start ======================= */
.s_bg_img4 {
    background: url(../img/yatri_img/esg.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    position: relative;
    display: flex;
    align-items: center;
}

.s_bg_img4::after {
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
}

.s_title {
    color: white;
    text-align: start;
}

.s_title h2 {
    font-size: 65px;
    font-weight: bold;
}

/* ============================ ESG Css End ======================= */


/* ============================ Intel Benefits Css Start ======================= */
.y_bg_img2 img {
    height: 340px;
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.y_bg_img2 {
    position: relative;
}

.y_bg_blue2 {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #0068B5;
    color: white;
    padding: 16px 16px 40px 25px;
}

.y_bg_blue2 h2 {
    font-size: 40px;
    font-weight: 100;
}

.y_bg_blue2::after {
    content: '';
    position: absolute;
    top: 100%;
    right: 100%;
    width: 2.5rem;
    height: 2.5rem;
    background-color: #00A3F6;
}

.y_scroll_item {
    padding: 20px 0;
}

.y_scroll_item a {
    margin: 20px;
}

.y_scrollable-menu {
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.s_benefit h2 {
    font-size: 40px;
}

.s_benefit p a {
    color: #004a86;
    text-decoration: dotted underline;
    text-underline-offset: 3px;
}

.s_benefit p a:hover {
    color: #00285a;
    text-decoration: underline;
}

.s_bg_benefit {
    background-image: url(../img/yatri_img/benifit002.jpg);
    width: 100%;
    height: 600px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    min-height: 350px;
    position: relative;
}

.s_up_benefit {
    position: absolute;
    right: 5%;
    left: 0;
    top: 20%;
}

.s_up_benefit h2 {
    font-size: 36px;
    font-weight: 100;
}

.s_benefit .s_button {
    background-color: #0068b5;
    border: none;
    color: white;
    padding: 8px 15px;
}

.s_benefit .s_button:hover {
    background-color: #004A86;
}

/* ============================ Intel Benefits Css End ======================= */
/* ============================ Accessibility at Intel Css start ======================= */
.s_bg_puprle1 {
    background-color: #653171;
    padding: 5rem 8rem 5rem 4rem;
}

.s_up_puprle1 {
    background-color: #8F5DA2;
    color: white;
    padding: 32px !important;
    position: relative;
    width: 80%;
}

.s_up_puprle1h2 {
    font-size: 40px;
    font-weight: 200;
}

.s_up_puprle1::before {
    content: '';
    top: 100%;
    left: 100%;
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    background-color: #CC94DA;
}

.s_h2 {
    font-size: 36px;
    font-weight: 100;
}

.s_bg_employee {
    background-image: url('../img/yatri_img/volunteer1.avif');
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    height: 600px;
    display: flex;
    align-items: center;
}

/* ============================ Accessibility at Intel Css End ======================= */

/* ============================ Financial Info Css Start ======================= */
.s_bg_img5 {
    background: url(../img/yatri_img/financial.jpg);
    background-position: 50% 50%;
    position: relative;
    height: 400px;
    display: flex;
    background-size: cover;
    align-items: center;
}

.s_bg_img5::after {
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10;
}
.s_main_div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 0;
    border-bottom: 1px solid #DDDDDD;
}
.s_financial_tax a{
    color: black;
    text-decoration: none;
    font-size: 14px;
}   
.s_financial_tax a:hover{
    color: #0068B5;
    text-decoration: underline;
}   
.s_financial_icon a{
    font-size: 12px;
    color: #0068B5;
    text-decoration: none;
    padding: 0 5px;
}
.s_financial_icon{
    color: #022847;
}
.s_card_height{
    height: 357px;
    padding: 60px;
}
.s_div_height{
    height: 171px;
}
.s_div_height h3 a{
    color: black;
    text-decoration: none;
    margin-bottom: 16px;
}
.s_div_height h3 a:hover{
    color: #0068B5;
    text-decoration: underline;
}
/* ============================ Financial Info Css End ======================= */

/* ============================ Balance Sheet Css Start ======================= */
.s_table th{
    font-size: 14px;
}
.s_table td{
    font-size: 12px;
}
/* ============================ Balance Sheet Css End ======================= */


/* ============================ Stock Quote Css Start ======================= */
.s_bg_img6 {
    background: url(../img/yatri_img/stock.jpg);
    background-position: 50% 50%;
    position: relative;
    height: 400px;
    display: flex;
    background-size: cover;
    align-items: center;
}

.s_bg_img6::after {
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10;
}
.s_card_height1{
    height: 357px;
    padding: 60px;
}
.s_div_height1{
    height: 171px;
}
.s_div_height1 h3 a{
    color: black;
    text-decoration: none;
    margin-bottom: 16px;
}
.s_div_height1 h3 a:hover{
    color: #0068B5;
    text-decoration: underline;
}
/* ============================ Stock Quote Css End ======================= */


@media (max-width:1440px) {
    .y_bg_img2 img {
        height: 400px;
    }
}

@media (max-width:1024px) {
    .y_bg_img2 img {
        height: 450px;
    }

    .y_bg_blue2 h2 {
        font-size: 32px;
    }

    .s_benefit h2 {
        font-size: 28px;
    }

    .s_up_benefit {
        top: 10%;
    }

    .s_bg_puprle1 {
        padding: 4rem 5rem 4rem 3rem;
    }

    .s_up_puprle1 {
        width: 90%;
    }

    .s_up_puprle1 h2 {
        font-size: 32px;
        font-weight: 100;
    }

    .s_h2 {
        font-size: 28px;
    }
    .s_bg_employee{
        height: 500px;
    }
    .s_card_height{
        padding: 45px;
    }
    .s_card_height1{
        height: 360px;
    }
    .s_div_height1{
        height: 240px;
    }
}

@media (max-width:768px) {
    .s_margin {
        margin-left: 0;
    }

    .s_proxy_padding {
        padding: 45px;
    }

    .s_bg_img4 {
        height: 300px;
    }

    .y_bg_img2 img {
        height: 550px;
    }

    .s_up_benefit h2 {
        font-size: 26px;
    }

    .s_bg_benefit {
        height: 500px;
    }
    .s_bg_employee{
        height: 450px;
    }
    .s_card_height{
        padding: 20px;
    }
    .s_div_height{
        height: 230px;
    }
    .s_card_height1{
        height: 400px;
        padding: 50px;
    }
    .s_div_height1{
        height: 280px;
    }

}

@media (max-width:425px) {
    .s_bg_img2 {
        height: 150px;
    }

    .s_bg_img3 {
        height: 150px;
    }
    .s_bg_img5 {
        height: 150px;
    }

    .s_hadding {
        font-size: 30px;
    }

    .s_btn2 button {
        width: 80%;
        margin: 5px auto;
    }

    .s_proxy_padding {
        padding: 20px;
    }

    .s_bg_img4 {
        height: 250px;
    }

    .s_title h2 {
        font-size: 30px;
    }

    .y_bg_img2 img {
        height: 220px;
    }

    .y_bg_img2 {
        display: flex;
        flex-direction: column;
    }

    .y_bg_blue2 {
        position: relative;
        z-index: 2;
        margin: 0 !important;
        order: 1;
    }

    .y_bg_img2 img {
        width: 100%;
        order: 0;
    }

    .y_bg_blue2 h2 {
        font-size: 28px;
    }

    .s_bg_benefit {
        height: auto;
        display: block;
        padding-bottom: 20px;
    }

    .s_up_benefit {
        position: static;
        margin-top: 20px;
    }

    /* Ensuring the image is above the content */
    .s_bg_benefit::before {
        content: "";
        display: block;
        height: 200px;
        background: url(../img/yatri_img/benifit002.jpg) center/cover no-repeat;
        margin-bottom: 20px;
    }

    .s_bg_benefit {
        background: none;
    }

    .s_bg_puprle1 {
        padding: 0;
    }

    .s_up_puprle1 {
        width: 100%;
    }

    .s_up_puprle1 h2 {
        font-size: 26px;
    }

    .s_up_puprle1::before {
        display: none;
    }

    .s_h2 {
        font-size: 24px;
    }
    .s_card_height{
        padding: 30px;
        margin: 10px 0;
        height: 250px;
    }
    .s_div_height{
        height: 150px;
    }
    .s_financial_tax a {
        font-size: 13px;
    }
    .s_financial_icon a{
        font-size: 10px;
    }
    .s_card_height1{
        height: 360px;
        padding: 30px;
    }
    .s_div_height1{
        height: 250px;
    }
}

@media (max-width:375px) {

    .s_link_white a {
        font-size: 14px;
    }

    .s_bg_img4 {
        height: 300px;
    }
}

@media (max-width:320px) {
    .s_card_height1{
        height: 380px;
        padding: 20px;
    }
    .s_div_height1 {
        height: 290px;
    }
}