/* ============================ Contacts Css start ======================= */

.s_bg_img2 {
    background: url(../img/yatri_img/contacts1.jpg);
    background-position: 50% 50%;
    position: relative;
    height: 400px;
    display: flex;
    background-size: cover;
    align-items: center;
}

.s_bg_img2::after {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10;
}
.s_bg_img3 {
    background: url(../img/yatri_img/news.jpg);
    background-position: 50% 50%;
    position: relative;
    height: 400px;
    display: flex;
    background-size: cover;
    align-items: center;
}

.s_bg_img3::after {
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10;
}

.container {
    position: relative;
    z-index: 20;
    width: 100%;
}
/* ============================ Contacts Css end ======================= */

/* ============================ Press Release Css start ======================= */

.s_hadding {
    color: white;
    font-weight: 600;
    font-size: 65px;
    vertical-align: center;
    margin: 0;
}

.s_nav_tabs{
    display: flex;
    align-items: center;
    justify-content: center;
}
.s_nav_tabs li {
    padding: 16px 20px;
    margin: 0 2px;
}
.s_nav_tabs li a{
    color: white;
    text-decoration: none;
    font-size: 13px; 
  
}
.s_nav_tabs li.active{
    background-color: #00497E;
}
.s_nav_tabs li:hover{
    background-color: #00497E;
}
.s_margin{
    margin-left: 16.67%;
    line-height: 1.72;
    font-size: 18px;
}
.s_margin a{
    color: #0068B5;
}
.s_margin a:hover{
    text-decoration: underline;
}
.s_btn2 button{
    background-color: #0068B5;
    border: 0;
    color: white;
    font-size: 14px;
    border-radius: 5px;
    padding: 5px 24px;
    margin: 0 3px;
}
.s_btn2 button:hover{
    background-color: #00497E;
}
.s_link1{
    color: white;
    text-decoration: none;
}
.s_link1:hover{
    color: white;
    text-decoration: underline;
}
.s_link_white {
   margin-top: 80px;
}
.s_link_white a{
    color: white;
    text-decoration: none;
    margin-right: 5px;
}
.s_link_white a:hover{
    color: #979EB5;
}

/* ============================ Press Realease Css end ======================= */

/* ============================ News And Event Css Start ======================= */

.s_box{
    background-color: #f8f8f8;
    padding: 24px 30px !important;
    height: 100%;
}
.s_box:hover{
    background-color: #0068B5;
}
.s_box:hover a p{
    color: white;
}
.s_box:hover a h5{
    color: white;
}
.s_box a{
    text-decoration: none;
}
.s_box a p {
    color: black;
    font-size: 12px;
    font-weight: bold;
}
.s_box a h5 {
    color: #0068B5;
    font-size: 18px;
    line-height: 1.667;
}

/* ============================ News And Event Css End ======================= */

/* ============================ IR calender Css Start ======================= */
.s_link_blue2{
    color: #0068B5;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 50px;
}
.s_link_blue2:hover{
    color: #0068B5;
   text-decoration: underline;
}
.s_btn_link{
    margin-top: 40px;
    text-decoration: none;
    background-color: #0068B5;
    color: white;
    text-align: center;
    padding: 8px 0;
    
}
.s_btn_link:hover{
    color: white;
    background-color: #022D51;
}

/* ============================ IR calender Css end ======================= */

/* ============================ Annual Stock Holder Css Start ======================= */
.s_proxy_padding{
    padding: 60px;
}
.s_proxy_padding a{
    font-size: 24px;
    color: #000;
    font-weight: bold;
    text-decoration: none;
}
.s_proxy_padding a:hover{
    color: #0068B5;
    text-decoration: underline;
}
.content h4{
    color: #0068B5;
    margin-bottom: 10px;
    font-weight: 700;
}
.content ul li {
    list-style: disc;
    margin: 18px 0;
    color: #0068B5;
}
.content ul li a{
    color: #0068B5;
    text-decoration: none;
}
.content ul li a:hover{
    color: #0068B5;
    text-decoration: underline;
}
/* ============================ Annual Stock Holder Css End ======================= */

/* ============================ Presentations Css Start ======================= */
.s_link_blue01{
    font-size: 20px;
    text-decoration: none;
    color: #0068B5;
    margin-top: 10px;
}
/* ============================ Presentations Css End ======================= */

/* ============================ ESG Css Start ======================= */
.s_bg_img4{
    background: url(../img/yatri_img/esg.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    position: relative;
    display: flex;
    align-items: center;
}
.s_bg_img4::after{
   content: '';
   top: 0;
   left:0;
   width: 100%;
   height: 100%;
   position: absolute;
   background-color: rgba(0, 0, 0, 0.6);
}
.s_title{
    color: white;
    text-align: start;
}
.s_title h2{
    font-size: 65px;
    font-weight: bold;
}
/* ============================ ESG Css End ======================= */


@media (max-width:1440px) {
    
}

@media (max-width:1024px) {
    
}

@media (max-width:768px) {
    .s_margin{
        margin-left: 0;
    }
    .s_proxy_padding{
        padding: 45px;
    }
    .s_bg_img4{
        height: 300px;
    }
}

@media (max-width:425px) {
    .s_bg_img2{
        height: 150px;
    }
    .s_bg_img3{
        height: 150px;
    }
    .s_hadding{
        font-size: 30px;
    }
    .s_btn2 button{
        width: 80%;
        margin: 5px auto;
    }
    .s_proxy_padding{
        padding: 20px;
    }
    .s_bg_img4{
        height: 250px;
    }
    .s_title h2{
        font-size: 30px;
    }
}

@media (max-width:375px) {
     
    .s_link_white a{
       font-size: 14px;
    }
    .s_bg_img4{
        height: 300px;
    }
}

@media (max-width:320px) {
        
}
