* {
    font-family: 'Intel Clear', sans-serif;
}

/* ----------------------------------------------------- custom css ---------------------------------------------------------- */
.VK_white_color {
    color: white;
}

.VK_theme_bg_color {
    background-color: #262626;
}

/* -------------------------------------------------------------------- developer catalog page ---------------------------------------------------------------------------- */

/* ---------------------- slider section ---------------------- */

.VK_slider-part {
    background-color: #262626;
}

.VK_slider_parent {
    background-image: url('/img/vivek/background-devzone-mosaic.svg');
    background-position: center;
    background-size: cover;
}

.VK_slider_parent {
    padding: 40px 0px;
}

.VK_slider_heading h1 {
    font-size: 28px;
}

/* ------------------ navigation section ---------------- */
.VK_navi_list {
    list-style-type: none;
    margin: 0%;
    padding: 0%;
}

.VK_active {
    background-color: white;
    color: black;
    cursor: default;
}

.VK_navi_list a:hover {
    color: white;
}

.VK_active:hover {
    color: black !important;
}

/* ----------------- display result section -------------- */
.VK_search_btn {
    color: #0778d4;
}

.VK_seacrh_box {
    border: 1px solid black;
    padding: 0px 12px;
}

.VK_search_bar {
    padding: 9px 20px;
    outline: none;
}

.VK_search_result {
    font-size: 20px;
}

.VK_show_result_section,
.VK_searching {
    background-color: #F7F7F7;
    padding: 20px;
}

.VK_filer_heading {
    font-size: 20px;
    font-weight: 400;
}

.VK_clear_btn {
    border: none;
    padding: 0%;
    font-size: 12px;
    background-color: white;
    color: #0778d4;
    letter-spacing: 2px;
    font-weight: 600;
}

.VK_select_filter {
    margin: 0;
    padding: 0%;
    border: none;
    -webkit-appearance: none;
    font-size: 12px;
    font-weight: 600;
}

.VK_vertical_line {
    height: 18px;
    width: 2px;
    background-color: #ddd;
    display: block;
}

.VK_subject_list {
    list-style-type: none;
    margin: 0%;
    padding: 0%;
}

.VK_subject_list li {
    font-size: 14px;
    font-weight: 500;
}

.VK_operating_system_list {
    list-style-type: none;
    margin: 0%;
    padding: 0%;
}

.VK_operating_system_list li {
    font-size: 14px;
    font-weight: 500;
}

.VK_Block {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    background-color: white;
    z-index: 20;
}

.VK_Accoridan_heading {
    font-size: 20px;
}

.VK_accoridan_link {
    font-size: 12px;
    font-weight: 700;
}

.VK_accoridan_head {
    background-color: #0778d4;
    color: white;
}

.VK_operating_btn {
    background-color: transparent;
    border: none;
    color: #0778d4;
}

/* -------------------- card map ----------------- */
.VK_card_img_box {
    height: 150px;
}

.VK_card_system strong {
    font-size: 14px;
}

.VK_board_product_cart {
    overflow-x: hidden;
}

/* ---------------------- pagination navigation ------------------- */
.VK_pagination_text span {
    font-size: 18px;
}

.VK_pagination_icon {
    cursor: pointer;
    margin: 0px 5px;
}

.VK_active_page_icon {
    color: #0778d4;
}

.VK_inactive_page_icon {
    color: #0778d452;
}

.VK_pagination_btn {
    border: none;
    background-color: transparent;
}

.VK_catalog_search_parent {
    display: flex;
}

.VK_catalog_display_card_parent {
    display: flex;
}

/* ------------------------------------ developer catalog media query -------------------------------- */

/* 4xl device */
@media (min-width: 1920px) {
    .VK_slider_heading h1 {
        font-size: 40px !important;
    }

    .VK_catalog_search_col {
        min-width: 300px;
    }

    .VK_catalog_filter_col {
        min-width: 300px;
        margin-right: 15px;
    }

    .VK_catalog_resultcnt_col {
        width: 100%;
    }

    .VK_catalog_card_col {
        width: 100%;
    }

    .VK_catalog_search_parent {
        display: flex;
    }

    .VK_catalog_display_card_parent {
        display: flex;
    }
}

/* 3xl large device */
@media (min-width: 1440px) and (max-width: 1919px) {
    .VK_slider_heading h1 {
        font-size: 40px !important;
    }

    .VK_catalog_search_col {
        min-width: 300px;
    }

    .VK_catalog_filter_col {
        min-width: 300px;
        margin-right: 15px;
    }

    .VK_catalog_resultcnt_col {
        width: 100%;
    }

    .VK_catalog_card_col {
        width: 100%;
    }

    .VK_catalog_search_parent {
        display: flex;
    }

    .VK_catalog_display_card_parent {
        display: flex;
    }
}

/* 2xl large device */
@media (min-width: 1200px) and (max-width: 1439px) {
    .VK_slider_heading h1 {
        font-size: 40px !important;
    }

    .VK_catalog_search_col {
        width: 300px;
    }

    .VK_catalog_filter_col {
        min-width: 300px;
        margin-right: 15px;
    }

    .VK_catalog_card_col {
        width: 100%;
    }

    .VK_catalog_resultcnt_col {
        width: 100%;
    }

    .VK_catalog_search_parent {
        display: flex;
    }

    .VK_catalog_display_card_parent {
        display: flex;
    }
}

/* xl device */
@media (min-width: 992px) and (max-width: 1199px) {
    .VK_slider_heading h1 {
        font-size: 32px !important;
    }

    .VK_catalog_search_parent {
        display: unset;
    }

    .VK_catalog_display_card_parent {
        display: unset;
    }

    .VK_filer_heading_btn {
        background-color: white;
        font-size: 16px;
        border: 1px solid #888;
        padding: 10px 0px;
        margin-bottom: 20px;
    }
}

/* large device */
@media (min-width: 768px) and (max-width: 991px) {
    .VK_slider_heading h1 {
        font-size: 32px !important;
    }

    .VK_catalog_search_parent {
        display: unset;
    }

    .VK_catalog_display_card_parent {
        display: unset;
    }

    .VK_filer_heading_btn {
        background-color: white;
        font-size: 16px;
        border: 1px solid #888;
        padding: 10px 0px;
        margin-bottom: 20px;
    }
}

/* medium device */
@media (min-width: 576px) and (max-width: 767px) {
    .VK_slider_heading h1 {
        font-size: 28px !important;
    }

    .VK_catalog_search_parent {
        display: unset;
    }

    .VK_catalog_display_card_parent {
        display: unset;
    }

    .VK_filer_heading_btn {
        background-color: white;
        font-size: 16px;
        border: 1px solid #888;
        padding: 10px 0px;
        margin-bottom: 20px;
    }
}

/* small device */
@media (min-width: 425px) and (max-width: 575px) {
    .VK_slider_parent {
        padding: 20px 0px !important;
    }

    .VK_catalog_search_parent {
        display: unset;
    }

    .VK_catalog_display_card_parent {
        display: unset;
    }

    .VK_filer_heading_btn {
        background-color: white;
        font-size: 16px;
        border: 1px solid #888;
        padding: 10px 0px;
        margin-bottom: 20px;
    }
}

/* extra small device */
@media (max-width: 424px) {
    .VK_slider_parent {
        padding: 20px 0px !important;
    }

    .VK_catalog_search_parent {
        display: unset;
    }

    .VK_catalog_display_card_parent {
        display: unset;
    }

    .VK_filer_heading_btn {
        background-color: white;
        font-size: 16px;
        border: 1px solid #888;
        padding: 10px 0px;
        margin-bottom: 20px;
    }
}





/* -------------------------------------------------- developer catatolg about page -------------------------------------------------------------- */

.VK_developer_about_section {
    padding: 50px 0px;
    background-color: #F7F7F7;
}

.VK_developer_about_heading {
    font-size: 1.75rem;
    font-weight: 400;
}

.VK_developer_desc {
    line-height: 1.5;
}

.VK_developer_description_section {
    padding: 40px 0px;
}

.VK_description_heading {
    font-weight: 400;
    font-size: 24px;
}


/* ---------------------------- developer catalog about page media query ---------------------------- */

.VK_software_catalog_container {
    overflow: auto;
    width: 100%;
    padding: 0px 15px;
    margin: auto;
}

/* Media Queries */
@media (max-width:479px) {
    .VK_software_catalog_container {
        max-width: 480px;
        padding: 0px 15px;
    }

    .VK_developer_about_heading {
        font-size: 22px;
        font-weight: 400;
    }
}

@media (min-width: 480px) and (max-width:767px) {
    .VK_software_catalog_container {
        max-width: 750px;
    }

    .VK_developer_about_heading {
        font-size: 22px;
        font-weight: 400;
    }
}

@media (min-width: 768px) {
    .VK_software_catalog_container {
        width: 750px;
    }

    .VK_developer_about_heading {
        font-size: 22px;
        font-weight: 400;
    }
}

@media (min-width: 992px) {
    .VK_software_catalog_container {
        width: 970px !important;
    }

    .VK_developer_about_heading {
        font-size: 28px;
        font-weight: 400;
    }
}

@media (min-width: 1200px) {
    .VK_software_catalog_container {
        width: 1170px !important;
    }

    .VK_developer_about_heading {
        font-size: 28px;
        font-weight: 400;
    }
}

@media (min-width: 1650px) {
    .VK_software_catalog_container {
        width: 1610px !important;
    }

    .VK_developer_about_heading {
        font-size: 28px;
        font-weight: 400;
    }
}





/* -------------------------------------------------------------- system design tools page css -------------------------------------------------------------- */

/* design tools header */
.VK_design_tool_header{
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
}
.VK_menu_open{
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0px;
    z-index: 200;
}

.VK_design_tools_header {
    background-color: #0071C5;
}

.VK_header_logo {
    background-color: #00285A;
    padding: 20px 42px;
}

.VK_header_logo img {
    width: 150px;
    object-fit: fill;
}

.VK_header_parent {
    padding-left: 20px;
}

.VK_tools_menu li {
    padding: 10px 20px 25px 20px;
    white-space: nowrap;
    cursor: pointer;
}

.VK_tools_main_menu {
    position: relative;
}
.VK_tools_searcn_parent{
    position: relative;
    width: 200px;
    background-color: white;
}
.VK_search_tools_box{
    border: none;
    outline: none;

}
.VK_tools_search_box{
    position: absolute;
    z-index: 30;
    width: 150px;
    overflow-x: hidden;
    background-color: white;
}
.VK_scroll{
    transform: translateX(-150px);
}

.VK_tools_header_search {
    display: none;
}

.VK_tools_search {
    outline: none;
}


/* mega menu */
.VK_tools_sub_menu li,
.VK_tools_sub_menu a {
    white-space: wrap;
}

.VK_tools_header_three_bars {
    display: none;
}

.VK_tools_mega_menu_row {
    width: 70%;
}

.VK_tools_sub_menu {
    position: fixed;
    padding: 10px;
    width: 100vw;
    top: 83px;
    left: 0;
    z-index: 1000;
    background-color: white;
}

.VK_mega_menu_title {
    font-size: 18px;
    font-weight: normal;
    line-height: 1;
    text-decoration: none;
}

.VK_mega_menu_anchor {
    font-size: 16px;
    font-weight: 300 !important;
    line-height: 1.2;
    text-decoration: none;
}


.VK_menu_title_underline {
    border-bottom: 1px solid black;
}

.VK_menu_title_underline h6 {
    font-weight: 600;
}

.VK_tools_menu_list li a {
    font-size: 16px;

}

.VK_tools_header_register {
    background-color: #00AEEF;
}

.VK_tools_header_option li a {
    font-size: 12px;
}


.VK_tools_header_drop {
    display: none;
}

.VK_tools_nav_bar {
    font-size: 13px;
    background-color: #00285A;
}

.VK_tools_header_register a {
    color: #005392 !important;
}


.VK_system_tool_heading h1 {
    font-size: 35px;
    color: #0071C5;
}

.VK_design_tools {
    margin: 30px 0px;
}

.VK_tool_card_box {
    transition: all 0.3s ease;
}

.VK_tool_box {
    color: #262626 !important;
}

.VK_tool_card_box:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.VK_tool_learn_more a {
    font-size: 18px;
    transition: 0.5s;
    font-weight: 500;
}

.VK_tool_learn_more a:hover {
    color: #262626 !important;
}

.VK_tool_header_service {
    background-color: #00285A;
}

.VK_tool_header_service a {
    font-size: 14px;
}

/* menu open */
.VK_menu_open{
    background-color: #00285A;
}
.VK_tools_search_menu_bar{
    outline: none;
    border:none;
}
.VK_tools_menu_accoridan,.accordion-button{
    background-color: transparent !important;
    border: none !important;
}
.VK_tools_accoridan_btn{
    padding: 0px !important;
    margin: 10px 0px;
}
.VK_menu_accoridan_body{
    padding: 0 1.25rem;
}
.VK_tools_accoridan_btn:focus{
    box-shadow: none !important;
    border: none !important;
}
.VK_tools_accoridan_btn::after
{   
    display: none !important;
}
.VK_tools_menu_heading a{
    font-size: 16px;
    color: #0071C5 !important;
}
.VK_menu_part h6{
    border-bottom: 1px solid rgba(255, 255, 255, 0.397);
    font-size: 20px;
}

/* tools slider */

.VK_tool_slider_img img {
    height: 380px;
    object-fit: cover;
    object-position: center;
}

.VK_tool_slider_box {
    display: block !important;
}

.owl-dots {
    position: absolute;
    top: 90%;
    left: 0%;
    width: 100%;
    margin-top: 0 !important;
}

.owl-dots button {
    padding: 0 !important;
}

.owl-dots span {
    height: 15px !important;
    width: 15px !important;
}

.owl-dots .owl-dot.active span {
    background-color: white !important;
}

.VK_tool_slider_box {
    position: relative;
}

.VK_slider_desc_box {
    width: 580px;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    background-color: rgba(216, 216, 216, 0.9);
    padding: 30px 24px;
}

.VK_slider_desc_box h3 {
    font-size: 38px;
    color: #00285A;
}

.VK_slider_box_des {
    font-size: 20px;
}

.VK_slider_box_link a {
    background-color: #0068B5;
    transition: all 0.5s ease;
}

.VK_slider_box_link a:hover {
    background-color: #004A86 !important;
}


/* ------ what inside intel css ------ */
.VK_inside_intel_section {
    margin: 30px 0px;
}

.VK_left_description {
    font-size: 18px;
    font-weight: 600;
}

.VK_bg_intel {
    background-image: url('/img/vivek/intel-dit-experience-bg.f461f6de.webp');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 40px;
}

.VK_register_link {
    transition: 0.2s;
    background-color: #0068b5;
    font-size: 18px;
}

.VK_register_link:hover {
    background-color: #004A86 !important;
}

.VK_about_intel_list {
    list-style-type: none;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.3;
}


/* ----- about employee section ------ */
.VK_design_employee_section {
    margin: 50px 0px;
}

.VK_design_employee_detail h3 {
    color: #004A86;
    font-size: 26px;
    font-weight: 500;
}

.VK_employee_about p {
    font-size: 18px;
    color: #262626;
}

.VK_employee_know_more a {
    font-size: 18px;
}


/* ----------------------------------------------------------- design and tools page media query -------------------------------------------------------- */


/* 3xl device */
@media (min-width: 1921px) {
    .VK_system_desgn_tool_section_row {
        justify-content: space-evenly;
    }

    .VK_custom_design_col {
        width: 11%;
        padding: 0px 12px;
    }

    .VK_inside_intel_row {
        justify-content: space-around;
    }

    .VK_inside_intel_col {
        width: 20%;
    }
}

/* 2xl large device */
@media (min-width: 1441px) and (max-width: 1920px) {
    .VK_system_desgn_tool_section_row {
        justify-content: space-evenly;
    }

    .VK_custom_design_col {
        width: 20%;
    }

    .VK_inside_intel_row {
        justify-content: space-around;
    }

    .VK_inside_intel_col {
        width: 30%;
    }
}

/* xl large device */
@media (min-width: 1201px) and (max-width: 1440px) {
    .VK_system_desgn_tool_section_row {
        justify-content: space-evenly;
    }

    .VK_custom_design_col {
        width: 18% !important;
        padding: 0px 12px !important;
    }

    .VK_sm_list {
        display: none;
    }

    .VK_inside_intel_row {
        justify-content: space-around;
    }

    .VK_inside_intel_col {
        width: 40%;
    }
}

/* large device */
@media (min-width: 1025px) and (max-width: 1200px) {
    .VK_system_desgn_tool_section_row {
        justify-content: space-evenly;
    }

    .VK_custom_design_col {
        width: 18% !important;
        padding: 0px 12px !important;
    }

    .VK_sm_list {
        display: none;
    }

    .VK_inside_intel_row {
        justify-content: space-between !important;
    }

    .VK_inside_intel_col {
        width: 52% !important;
    }
}


/*  medium device  */
@media (min-width:769px) and (max-width:1024px) {
    .VK_system_desgn_tool_section_row {
        align-items: center;
        flex-direction: column;
    }

    .VK_custom_design_col {
        width: 25% !important;
        padding: 0px 12px !important;
    }

    .VK_sm_list {
        display: block;
    }

    .VK_ms_list {
        display: none;
    }

    .VK_inside_intel_row {
        flex-direction: column;
    }

    .VK_left_description {
        font-size: 16px;
    }

    .VK_inside_intel_col {
        width: auto;
        margin-bottom: 30px;
    }
}

/*  small device  */
@media (min-width:481px) and (max-width:768px) {
    .VK_system_desgn_tool_section_row {
        align-items: center;
        flex-direction: column;
    }

    .VK_custom_design_col {
        width: 30% !important;
        padding: 0px 12px !important;
    }

    .VK_sm_list {
        display: block;
    }

    .VK_ms_list {
        display: none;
    }

    .VK_inside_intel_row {
        flex-direction: column;
    }

    .VK_left_description {
        font-size: 16px;
    }

    .VK_about_intel_list {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
    }

    .VK_bg_intel {
        padding: 20px;
    }

    .VK_inside_intel_col {
        width: auto;
        margin-bottom: 30px;
    }
}

/*  extra small device  */
@media (min-width:320px) and (max-width:480px) {
    .VK_system_desgn_tool_section_row {
        align-items: center;
        flex-direction: column;
    }

    .VK_custom_design_col {
        width: 60% !important;
        padding: 0px 12px !important;
    }

    .VK_sm_list {
        display: block;
    }

    .VK_ms_list {
        display: none;
    }

    .VK_inside_intel_row {
        flex-direction: column;
    }

    .VK_left_description {
        font-size: 16px;
    }

    .VK_about_intel_list {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
    }

    .VK_bg_intel {
        padding: 20px;
    }

    .VK_inside_intel_col {
        width: auto;
        margin-bottom: 30px;
    }
}






/* ------------------------------------------------------ motherboard tools css page ----------------------------------------------------- */

.VK_board_heading {
    font-size: 35px;
    color: #0068B5;
}

.VK_board_navi_link {
    font-size: 14px;
}

.VK_filter_selection {
    border: 1px solid #AEAEAE;
    outline: none;
}

.VK_pagination_next_arrow {
    font-size: 20px;
}

.VK_pagination_previous_arrow {
    font-size: 20px;
}

.VK_pagination_current_page {
    display: block;
    border: 1px solid #888;
    padding: 5px 10px;
}

.VK_pagiantion_limit_selection {
    outline: none;
    border: 1px solid #AEAEAE;
}


/* ------------------------------- motherboard tools media query ------------------------ */

/*  small device  */
@media (min-width:481px) and (max-width:768px) {
    .VK_board_heading {
        font-size: 28px !important;
    }
}

/*  extra small device  */
@media (min-width:320px) and (max-width:480px) {
    .VK_board_heading {
        font-size: 28px !important;
    }
}

.VK_board_img {
    border: 1px solid #999;
}

.VK_board_card_title {
    font-size: 20px;
    color: #00285a;
    font-weight: 400;
}

.VK_board_product_view_link {
    color: #0068B5;
    font-size: 20px;
    transition: 0.5s;
    border: 1px solid #0068b5;
}

.VK_board_overlap_link:hover .VK_board_product_view_link {
    background-color: #00285A;
    color: white;
    border: 1px solid #00285A;
}

.VK_board_price_lable {
    color: #004A86;
    font-size: 22px;
}

/* -------------------------------------------------------- platform testing services -------------------------------------------------------- */

.VK_custom_container {
    max-width: 1400px;
    padding: 0px 30px;
    margin: auto;
}

.VK_testing_link_list {
    font-size: 14px;
}

.VK_testing_heading_text {
    color: #0068B5;
    font-size: 35px;
    font-weight: normal;
}

.VK_testing_heading_description h2 {
    color: #262626;
    font-size: 26px;
    font-weight: normal;
}

.VK_test_servide_heading {
    font-size: 20px;
    color: #00285A;
}

.VK_test_service_note {
    font-size: 18px;
    color: #E03E2D;
    font-weight: 500;
}

.VK_testing_gmail_link {
    color: #0068B5;
    text-decoration: none;
}

.VK_testing_gmail_link:hover {
    text-decoration: underline;
}

.VK_tools_image img {
    height: 100px;
    width: 100px;
}

.VK_tools_description {
    font-size: 18px;
}

.VK_tools_table_cell {
    width: 16.66666%;
}

.VK_tools_description_1 {
    font-size: 18px;
    color: #262626;
}

.VK_tools_description_notes {
    font-size: 18px;
    color: #262626;
    font-weight: 700;
}

.VK_tools_notes_list a {
    font-size: 18px;
    color: #0068B5;
}

.VK_tools_condition {
    font-size: 18px;
    font-weight: 700;
    color: #262626;
}

.VK_tools_condition_list {
    font-size: 18px;

}

/* ---------------------- media query ---------------------- */

/*  3xl device  */
@media (min-width:1920px) {
    .VK_custom_container {
        max-width: 1400px;
        padding: 0px 30px;
        margin: auto;
    }
}

/*  2xl learge device  */
@media (min-width:1440px) and (max-width:1919px) {
    .VK_custom_container {
        max-width: 1400px;
        padding: 0px 32px;
        margin: auto;
    }
}

/*  xl large device  */
@media (min-width:1200) and (max-width:1439) {
    .VK_custom_container {
        padding: 0px 32px;
        margin: auto;
    }
}

/*  large device  */
@media (min-width:1025) and (max-width:1199) {
    .VK_custom_container {
        padding: 0px 32px;
        margin: auto;
    }
}

/*  medium device  */
@media (min-width:769px) and (max-width:1024px) {
    .VK_custom_container {
        padding: 0px 32px;
        margin: auto;
    }
}

/*  small device  */
@media (min-width:481px) and (max-width:768px) {
    .VK_custom_container {
        padding: 0px 14px;
        margin: auto;
    }
}

/*  extra small device  */
@media (min-width:320px) and (max-width:480px) {
    .VK_custom_container {
        padding: 0px 14px;
        margin: auto;
    }
}





/* -------------------------------------------------------------- software registration css  ---------------------------------------------------------- */
.VK_software_registration_portel {
    background-color: rgb(0, 113, 197);
}

.VK_software_register {
    padding: 13px;
    font-size: 14px;
    font-weight: 500;
}

.VK_software_register_slider_section {
    background-color: #262622;
}

.VK_sofware_regi_banner {
    background-image: url('/img/vivek/background-devzone-mosaic.svg');
    padding: 50px 0px;
    background-repeat: no-repeat;
    color: white;
    background-size: cover;
    background-position: center;
}

.VK_software_regi_heading h1 {
    font-size: 32px;
    font-weight: normal;
}

.VK_software_register_desc {
    font-size: 14px;
    font-weight: 500;
}

.VK_software_sign_in {
    font-size: 14px;
}

.VK_software_registration_about_section {
    background-color: rgb(247, 247, 247);
    padding: 20px 100px;
}

.VK_software_register_row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.VK_software_about h3 {
    font-size: 20px;
}

.VK_software_about p {
    font-size: 13px;
    font-weight: 500;
}

/* ------------------------------------  software registration media query  --------------------------------- */

/*  4xl device  */
@media (min-width:1921px) {
    .VK_software_register_container {
        max-width: 1440px;
        margin: auto;
    }

    .VK_software_register_col {
        max-width: 33%;
        background-color: white;
        padding: 26px 22px 45px;
    }
}

/*  3xl learge device  */
@media (min-width:1441px) and (max-width:1920px) {
    .VK_software_register_container {
        max-width: 1440px;
        margin: auto;
    }

    .VK_software_register_col {
        max-width: 33%;
        background-color: white;
        padding: 26px 22px 45px;
    }
}

/*  2xl large device  */
@media (min-width:1280px) and (max-width:1440px) {
    .VK_software_register_container {
        max-width: 1280px;
        margin: auto;
    }

    .VK_software_register_col {
        max-width: 33%;
        background-color: white;
        padding: 26px 22px 45px;
    }
}

/*  xl device  */
@media (min-width:1024px) and (max-width:1280px) {
    .VK_software_register_container {
        max-width: 1024px;
        margin: auto;
    }

    .VK_software_registration_about_section {
        padding: 20px 50px;
    }

    .VK_software_register_col {
        max-width: 33%;
        background-color: white;
        padding: 26px 22px 45px;
    }
}

/*  large device  */
@media (min-width:769px) and (max-width:992px) {}

/*  medium device  */
@media (min-width:777px) and (max-width:1023px) {
    .VK_software_register_container {
        max-width: 760px;
        margin: auto;
    }

    .VK_software_registration_about_section {
        padding: 20px 50px;
    }

    .VK_software_register_col {
        width: 49%;
        margin: 20px 0px;
        background-color: white;
        padding: 26px 22px 45px;
    }
}

@media (min-width:577px) and (max-width:776px) {
    .VK_software_registration_about_section {
        padding: 20px 40px !important;
    }

    .VK_software_register_col {
        min-width: 50%;
        margin: 20px;
        background-color: white;
        padding: 26px 22px 45px;
    }
}


/*  small device  */
@media (min-width:425px) and (max-width:576px) {
    .VK_software_registration_about_section {
        padding: 20px 30px !important;
    }

    .VK_software_register_col {
        min-width: 100%;
        margin: 20px 0px;
        background-color: white;
        padding: 26px 22px 45px;
    }
}

/* extra small device */
@media (max-width:424px) {
    .VK_software_registration_about_section {
        padding: 20px 30px !important;
    }

    .VK_software_register_col {
        min-width: 100%;
        margin: 20px 0px;
        background-color: white;
        padding: 26px 22px 45px;
    }
}







/* ------------------------------------------------------------- AI development -------------------------------------------------- */
.VK_slider {
    background-image: url('/img/vivek/ai_slider.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 40px 0px;
}

.VK_ai_slider_heading {
    font-size: 40px;
    font-weight: normal;
}

.VK_ai_navigation {
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 10, 0.3);
}

.VK_ai_nav_bar a {
    color: #262626;
    padding: 15px 10px;
    word-break: normal;
    font-weight: 500;
}

.VK_ai_nav_bar li {
    margin: 0px 15px;
}

.VK_ai_solution {
    background-color: #F7F7F7;
}

.VK_ai_solution_container {
    margin: auto;
}

.VK_ai_solu_head h2 {
    font-size: 28px;
    font-weight: 400;
}

.VK_ai_topic_col {
    width: 33%;
    padding: 0px 12px;
}

.VK_ai_card_heading a {
    text-decoration: underline;
    text-decoration-style: dashed;
    text-underline-offset: 0.3rem;
    text-decoration-thickness: 1px;
}

.VK_ai_card_heading a:hover {
    text-decoration: underline;
}

.Vk_text_underline_dots {
    text-decoration: underline;
    text-decoration-style: dashed;
    text-underline-offset: 0.3rem;
    text-decoration-thickness: 1px;
}

.Vk_text_underline_dots:hover {
    text-decoration: underline;
}

.VK_ai_product_icn {
    font-size: 25px;
}

.VK_latest_in_intel {
    background-color: #F7F7F7;
}


.VK_latest_intel_card {
    width: 25%;
    padding: 0px 12px;
}

.VK_latest_intel_product_card {
    width: 25%;
    padding: 0px 12px;
}

.VK_latest_card_description {
    font-size: 18px;
    color: #262622;
    line-height: 1;
    margin: auto;
}

.VK_intel_card_title {
    font-size: 18px;
    line-height: 1;
    margin-bottom: 10px;
    color: #262622;
}

.VK_intel_card_name {
    padding-top: 10px;
    line-height: 1;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}

.VK_latestintel_img {
    height: 200px;
}

.VK_latest_content_title a {
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
}

.VK_intel_pro_desc {
    line-height: 1.2;
}

.VK_intel_huge_image {
    width: 25%;
}

.VK_intel_huge_description {
    width: 75%;
}

.VK_collabrate_card {
    width: 33%;
    padding: 0px 15px;
}

.VK_collabrate_box {
    background-color: #F7F7F7;
}

.VK_latestintel_img img {
    object-fit: cover;
}

.VK_collabrate_box a,
p {
    font-size: 16px;
    line-height: 1.4;
}

.VK_ai_frams {
    padding: 10px 20px 40px 20px;
}

.VK_collabrate_form {
    background-color: #F7F7F7;
}

.VK_collabrate_ai_workload {
    width: 50%;
    padding: 0px 20px;
}

.VK_form_heading {
    font-size: 28px;
    font-weight: 100;
}

.VK_form_worn p {
    font-size: 12px;
}

.VK_collabrate_form {
    width: 45%;
}

.VK_input_fields {
    width: 100%;
    margin: 10px 0px;
    padding: 15px 10px;
    border-radius: 5px;
    border: 1px solid gray;
}

.VK_form_desc p {
    margin-top: 20px;
    font-size: 12px;
}

.VK-form_span {
    font-size: 14px;
}

.VK_course_diagram_parent {
    padding: 0px 10%;
}

.VK_diagram_part_one {
    width: 25%;
}

.VK_engineer_data_heading {
    background-color: #1A2C58;
    color: white;
    font-weight: 600;
    clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);
    text-align: center;
}

.VK_ai_navigation.VK_sticky_nav_bar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.VK_active_link {
    border-bottom: 3px solid #00aeef;
}



/* -------------------------------------------------------- client application page css ---------------------------------------------------------- */
.VK_client_slider_parent {
    background-image: url('/img/vivek/ai_slider.png');
    background-position: center;
    background-size: cover;
}

.VK_client_slider {
    width: 50%;
    margin: auto;
    padding: 80px 0px;
}

.VK_client_slider h1 {
    font-size: 40px;
}

.VK_client_slider p {
    font-size: 20px;
    font-weight: 600;
}

.VK_ai_pc_heading h2 {
    font-size: 32px;
}

.VK_ai_pc_heading p {
    font-size: 16px;
}

.VK_ai_pc_heading a,
.VK_ai_client_heading a,
.VK_doc_heading a {
    background-color: #0068b5;
}

.VK_ai_pc_development {
    background-color: #f7f7f7;
}

.VK_client_col,
.VK_doc_col {
    background-color: #f7f7f7;
}

.VK_client_col h3 {
    font-size: 24px;
    color: #0068B5;
    font-weight: 400;
    line-height: 1.5;
}

.VK_client_col h3:hover {
    text-decoration: underline;
}

.VK_hard_ware_img {
    width: 130px;
}

.VK_hardware_heading {
    font-size: 24px;
}

.VK_doc_col_heading a {
    font-size: 24px;
}

.VK_client_community_section {
    background-color: #f7f7f7;
}

.VK_community_col_desc span {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 600;
    color: #0068B5;
}

.VK_community_col_desc p {
    font-size: 16px;
    font-weight: 500;
    color: #262622;
    line-height: 1.2;
}

.VK_community_col_img {
    height: 205px;
}

.VK_community_col_img img {
    object-fit: cover;
}

.VK_community_icn {
    background-color: #ecebeb;
    height: 40px;
    width: 40px;
}

.VK_client_sign_parent {
    background-color: #0068B5;
}

/* -------------------------------------------- game development --------------------------------------------------------- */

.VK_game_slider_parent {
    background-image: url('/img/vivek/ai_slider.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 40px 0px;
}

.VK_game_dev_tool_bg {
    background-image: url('/img/vivek/VK_game_developer_tool_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 32px 0px;
}

.VK_game_dev_features {
    background-color: #F7F7F7;
}

.VK_game_feature_col span {
    height: 50px !important;
    width: 50px !important;
    background-color: #f7f7f7;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.VK_game_res_view_all a {
    border: 1px solid #0068b5;
}

.VK_game_res_view_all a:hover {
    background-color: #004A86;
    border: 1px solid #004a86;
    color: white;
}

.VK_game_res_card_link a {
    font-size: 16px;
    font-weight: 400;
}

.VK_game_res_card_type p {
    font-size: 14px;
    font-weight: 400;
}

.VK_game_dev_research_section {
    background-color: #f7f7f7;
}

.VK_research_col_status span {
    background-color: #f7f7f7;
    font-size: 12px;
    font-weight: 600;
}

.VK_game_dev_products_section {
    background-color: #040e35;
}

.VK_game_product_heading h2 {
    font-size: 28px;
    font-weight: 400;
}

.VK_game_product_heading h4 {
    font-size: 16px;
    font-weight: 400;
}

.VK_game_product_name h3 a {
    font-size: 24px;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: rgb(221, 220, 220);
}

.VK_game_product_name h3 a:hover {
    text-decoration: underline;
}

.VK_game_partners_section {
    background-color: #f3f3f3;
}

.VK_partners_img {
    padding: 30px 15px;
}

.VK_partners_img img {
    max-width: 170px;
}

.VK_game_fourms {
    background-color: #f7f7f7;
    padding: 48px 0px;
}

.VK_span_left,
.VK_span_right {
    width: 20%;
    margin: 0px 10px;
    height: 1px;
    background-color: white;
}

.VK_col_hidden {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: all 0.4s ease;
}

/* ------------------------------------------------ media query ---------------------------------------- */

/*  4xl device  */
@media (min-width:1921px) and (max-width:2560px) {

    /* ai developer page */
    .VK_tools_searcn_parent{
        position: relative;
        width: 300px;
        background-color: white;
    }

    .VK_ai_nav_bar li {
        margin: 0px 40px;
    }

    .VK_latest_intel_product_card {
        width: 25%;
    }

    .VK_latest_intel_card {
        width: 25% !important;
    }

    .VK_intel_huge_description {
        width: 75%;
    }

    .VK_intel_huge_image {
        width: 25%;
    }

    .VK_collabrate_card {
        width: 33%;
        padding: 0px 15px;
    }

    .VK_collabrate_form_part {
        background-image: linear-gradient(90deg, #fff 50%, #f7f7f7 50%);
    }

    /* client Application page */
    .VK_ai_pc_heading h2,
    .VK_ai_client_heading h2,
    .VK_hardware_tech_heading h2,
    .VK_doc_heading h2,
    .VK_communtiy_heading h2 {
        font-size: 36px;
    }

    .VK_ai_pc_heading p {
        font-size: 16px;
    }
}

/*  3xl learge device  */
@media (min-width:1441px) and (max-width:1920px) {

    /* design tools page */
    .VK_tools_searcn_parent{
        position: relative;
        width: 200px;
        background-color: white;
    }
    .VK_search_expand {
        position: relative;
        height: 100%;
        overflow-x: visible;
        z-index: 300;
        transform: translateX(-220px);
        transition: all 0.5s ease;
    }

    .VK_tool_search_div {
        width: 250px;
    }

    .VK_tools_menu li {
        padding: 10px 15px 25px 15x;
    }

    /* ai developer page */
    .VK_ai_nav_bar li {
        margin: 0px 40px;
    }

    .VK_latest_intel_card {
        width: 25% !important;
    }

    .VK_latest_intel_product_card {
        width: 25%;
    }

    .VK_intel_huge_image {
        width: 25%;
    }

    .VK_intel_huge_description {
        width: 75% !important;
    }

    .VK_collabrate_card {
        width: 33%;
        padding: 0px 15px;
    }

    .VK_collabrate_form_part {
        background-image: linear-gradient(90deg, #fff 50%, #f7f7f7 50%);
    }

    /* client application */
    .VK_ai_pc_heading h2,
    .VK_ai_client_heading h2,
    .VK_hardware_tech_heading h2,
    .VK_doc_heading h2,
    .VK_communtiy_heading h2 {
        font-size: 36px;
    }

    .VK_ai_pc_heading p {
        font-size: 16px;
    }
}

/*  2xl large device  */
@media (min-width:1200px) and (max-width:1440px) {

    /* design tools page */
    .VK_tools_searcn_parent{
        position: relative;
        width: 150px;
        background-color: white;
    }

    .VK_tools_sub_menu {
        top: 80px;
    }

    .VK_tools_menu li {
        padding: 10px 14px 25px 14px;
        font-size: 14px;
        font-weight: 400;
    }

    .VK_header_logo img {
        width: 140px;
        object-fit: fill;
    }

    .VK_header_parent {
        padding-left: 10px;
    }

    .VK_header_logo {
        padding: 20px 30px;
    }

    /* ai developer page */
    .VK_ai_nav_bar li {
        margin: 0px 40px;
    }

    .VK_latest_intel_card {
        width: 25% !important;
    }

    .VK_latest_intel_product_card {
        width: 25%;
    }

    .VK_intel_huge_image {
        width: 25%;
    }

    .VK_intel_huge_description {
        width: 75% !important;
    }

    .VK_collabrate_card {
        width: 33%;
        padding: 0px 15px;
    }

    .VK_collabrate_form_part {
        background-image: linear-gradient(90deg, #fff 50%, #f7f7f7 50%);
    }

    /* client application */
    .VK_ai_pc_heading h2,
    .VK_ai_client_heading h2,
    .VK_hardware_tech_heading h2,
    .VK_doc_heading h2,
    .VK_communtiy_heading h2 {
        font-size: 36px;
    }

    .VK_ai_pc_heading p {
        font-size: 16px;
    }
}

/*  xl device  */
@media (min-width:992px) and (max-width:1199px) {

    /* design tools page */
    .VK_tools_searcn_parent{
        position: relative;
        width: 150px;
        display: none;
        background-color: white;
    }
    .VK_search_expand {
        position: relative;
        height: 100%;
        overflow-x: visible;
        z-index: 300;
        transform: translateX(-350px);
        transition: all 0.5s ease;
    }

    .VK_header_logo img {
        width: 130px;
        object-fit: fill;
    }

    .VK_tools_sub_menu {
        top: 75px;
    }

    .VK_header_parent {
        padding-left: 0px;
    }

    .VK_tool_search_div {
        width: 0px;
    }

    .VK_tools_header_search {
        display: unset;
        font-size: 18px;
    }

    .VK_tools_header_option li {
        background: transparent;
        padding: 10px !important;
    }

    .VK_tools_header_option li a {
        position: relative;
        top: 5px;
        color: white !important;
        font-size: 18px;
    }

    .VK_tools_header_register {
        display: none;
    }

    .VK_tools_header_option li a span {
        display: none !important;
    }

    .VK_tools_menu li {
        padding: 10px 14px 25px 14px;
        font-size: 14px;
        font-weight: 400;
    }

    /* ai developer page */
    .VK_ai_nav_bar li {
        margin: 0px 40px;
    }

    .VK_ai_slider_heading {
        font-size: 32px;
        font-weight: normal;
    }

    .VK_ai_card_heading h5 {
        font-size: 18px;
    }

    .VK_latest_intel_card {
        width: 50%;
    }

    .VK_intel_huge_image {
        width: 25%;
    }

    .VK_intel_huge_description {
        width: 75% !important;
    }

    .VK_collabrate_card {
        width: 50%;
        padding: 0px 15px;
    }

    .VK_collabrate_form_part {
        background-image: linear-gradient(90deg, #fff 50%, #f7f7f7 50%);
    }

    /* client application */
    .VK_client_slider h1 {
        font-size: 32px;
    }

    .VK_client_slider p {
        font-size: 18px;
        font-weight: 500;
    }

    .VK_ai_pc_heading h2,
    .VK_ai_client_heading h2,
    .VK_hardware_tech_heading h2,
    .VK_doc_heading h2,
    .VK_communtiy_heading h2 {
        font-size: 28px;
    }

    .VK_ai_pc_heading p {
        font-size: 16px;
    }
}

/*  large device  */
@media (min-width:768px) and (max-width:991px) {

    /* tools and design page */
    .VK_tools_searcn_parent{
        position: relative;
        width: 150px;
        display: none;
        background-color: white;
    }
    .VK_header_parent {
        padding-left: 0px;
    }

    .VK_tools_menu {
        display: none !important;
    }

    .VK_header_logo {
        padding: 15px 22px;
    }

    .VK_header_logo img {
        width: 120px;
        object-fit: fill;
    }

    .VK_tool_search_div {
        width: 0%;
    }

    .VK_tools_header_register {
        display: none;
    }

    .VK_tools_header_option li a {
        position: relative;
        top: 5px;
        color: white !important;
        font-size: 18px;
    }

    .VK_header_menu {
        display: none !important;
    }

    .VK_tools_header_option li a span {
        display: none !important;
    }

    .VK_tools_header_drop {
        display: flex !important;
        font-size: 18px;
        color: white !important;
    }

    .VK_tool_slider_img img {
        height: 300px;
    }

    .VK_slider_desc_box {
        position: unset;
        height: 100%;
        transform: translate(0);
        width: 100%;
    }

    .owl-dots {
        position: absolute;
        top: 50%;
        transform: translateY(-100%);
    }



    /* ai developer page */
    .VK_ai_nav_bar li {
        margin: 0px 30px;
    }

    .VK_ai_nav_bar a {
        white-space: nowrap;
        font-size: 14px;
        padding: 15px 10px;
        font-weight: normal;
    }

    .VK_ai_slider_heading {
        font-size: 32px;
        font-weight: normal;
    }

    .VK_ai_card_heading h5 {
        font-size: 18px;
    }

    .VK_latest_intel_card {
        width: 50%;
    }

    .VK_latest_intel_product_card {
        width: 50%;
    }

    .VK_intel_huge_image {
        width: 25%;
    }

    .VK_intel_huge_description {
        width: 75% !important;
    }

    .VK_collabrate_card {
        width: 50%;
        padding: 0px 15px;
    }

    .VK_collabrate_ai_workload {
        width: 100%;
        padding: 0px 20px;
    }

    .VK_collabrate_form {
        width: 100%;
    }

    /* client application */
    .VK_client_slider h1 {
        font-size: 32px;
    }

    .VK_client_slider p {
        font-size: 18px;
        font-weight: 500;
    }

    .VK_ai_pc_heading h2,
    .VK_ai_client_heading h2,
    .VK_hardware_tech_heading h2,
    .VK_doc_heading h2,
    .VK_communtiy_heading h2 {
        font-size: 28px;
    }

    .VK_ai_pc_heading p {
        font-size: 16px;
    }
}

/*  medium device  */
@media (min-width:577px) and (max-width:767px) {

    /* tools and design page */
    .VK_tools_searcn_parent{
        position: relative;
        width: 150px;
        display: none;
        background-color: white;
    }
    .VK_header_parent {
        padding-left: 0px;
    }

    .VK_tools_header_option li a {
        position: relative;
        top: 5px;
        color: white !important;
        font-size: 18px;
    }

    .VK_header_menu {
        display: none !important;
    }

    .VK_tools_header_option li a span {
        display: none !important;
    }

    .VK_tools_header_drop {
        display: flex !important;
        font-size: 18px;
        color: white !important;
    }

    .VK_tools_menu {
        display: none !important;
    }

    .VK_header_logo {
        padding: 15px 22px;
    }

    .VK_header_logo img {
        width: 120px;
        object-fit: fill;
    }

    .VK_tool_search_div {
        width: 0%;
    }

    .VK_tools_header_register {
        display: none;
    }

    .VK_tools_header_drop {
        display: flex !important;
        font-size: 18px;
        color: white !important;
    }

    .VK_tool_slider_img img {
        height: 200px;
        object-fit: cover;
    }

    .VK_slider_desc_box {
        position: unset;
        height: auto;
        z-index: 10;
        top: -10%;
        transform: translate(0);
        width: 100%;
    }

    .owl-dots {
        position: absolute;
        top: 200px;
        transform: translateY(-100%);
    }

    /* ai developer page */
    .VK_ai_nav_bar li {
        margin: 0px;
    }

    .VK_ai_nav_bar a {
        white-space: nowrap;
        font-size: 14px;
        padding: 15px 10px;
        font-weight: normal;
    }

    .VK_ai_slider_heading {
        font-size: 28px;
        font-weight: normal;
    }

    .VK_ai_topic_col {
        margin: 20px 0px;
    }

    .VK_ai_card_heading h5 {
        font-size: 18px;
    }

    .VK_latest_intel_card {
        width: 50%;
    }

    .VK_latest_intel_product_card {
        width: 50%;
    }

    .VK_intel_huge_image {
        width: 100%;
    }

    .VK_intel_huge_description {
        width: 100% !important;
        padding: 0px 20px;
    }

    .VK_collabrate_card {
        width: 100%;
        padding: 0px 15px;
    }

    .VK_collabrate_ai_workload {
        width: 100%;
        padding: 0px 20px;
    }

    .VK_collabrate_form {
        width: 100%;
    }

    .VK_collabrate_submit {
        width: 100%;
    }

    /* client application */
    .VK_client_slider {
        width: 100%;
        padding: 80px 15px;
    }

    .VK_client_slider h1 {
        font-size: 28px;
    }

    .VK_client_slider p {
        font-size: 18px;
        font-weight: 600;
    }

    .VK_ai_pc_heading h2,
    .VK_ai_client_heading h2,
    .VK_hardware_tech_heading h2,
    .VK_doc_heading h2,
    .VK_communtiy_heading h2 {
        font-size: 28px;
    }

    .VK_ai_pc_heading p {
        font-size: 16px;
    }
}

/*  small device  */
@media (min-width:425px) and (max-width:576px) {

    /* tools and design page */
    .VK_tools_searcn_parent{
        position: relative;
        width: 150px;
        display: none;
        background-color: white;
    }
    .VK_header_parent {
        padding-left: 0px;
    }

    .VK_tools_header_option li a {
        position: relative;
        top: 5px;
        color: white !important;
        font-size: 18px;
    }

    .VK_header_menu {
        display: none !important;
    }

    .VK_tools_header_option li a span {
        display: none !important;
    }

    .VK_tools_header_drop {
        display: flex !important;
        font-size: 18px;
        color: white !important;
    }

    .VK_tools_menu {
        display: none !important;
    }

    .VK_header_logo {
        padding: 15px 22px;
    }

    .VK_header_logo img {
        width: 120px;
        object-fit: fill;
    }

    .VK_tool_search_div {
        width: 0%;
    }

    .VK_tools_header_register {
        display: none;
    }

    .VK_tools_header_drop {
        display: flex !important;
        font-size: 18px;
        color: white !important;
    }

    .VK_slider_desc_box {
        position: unset;
        transform: translate(0);
        width: 100%;
    }

    .VK_tool_slider_img img {
        height: 200px;
        object-fit: cover;
    }

    .owl-dots {
        position: absolute;
        top: 200px;
        transform: translateY(-100%);
    }

    .VK_slider_desc_box h3 {
        font-size: 28px;
    }

    /* ai developer page */
    .VK_ai_nav_bar li {
        margin: 0px;
    }

    .VK_ai_nav_bar a {
        white-space: nowrap;
        font-size: 14px;
        padding: 15px 10px;
        font-weight: normal;
    }

    .VK_ai_slider_heading {
        font-size: 28px;
        font-weight: normal;
    }

    .VK_ai_topic_col {
        margin: 20px 0px;
    }

    .VK_ai_card_heading h5 {
        font-size: 18px;
    }

    .VK_latest_intel_card {
        width: 100%;
    }

    .VK_latest_intel_product_card {
        width: 100%;
    }

    .VK_intel_huge_image {
        width: 100%;
    }

    .VK_intel_huge_description {
        width: 100% !important;
        padding: 0px 20px;
    }

    .VK_collabrate_card {
        width: 100%;
        padding: 0px 15px;
    }

    .VK_collabrate_ai_workload {
        width: 100%;
        padding: 0px 20px;
    }

    .VK_collabrate_form {
        width: 100%;
    }

    .VK_collabrate_submit {
        width: 100%;
    }

    /* client application */
    .VK_client_slider {
        width: 100%;
        padding: 80px 15px;
    }

    .VK_client_slider h1 {
        font-size: 28px;
    }

    .VK_client_slider p {
        font-size: 18px;
        font-weight: 600;
    }

    .VK_ai_pc_heading h2,
    .VK_ai_client_heading h2,
    .VK_hardware_tech_heading h2,
    .VK_doc_heading h2,
    .VK_communtiy_heading h2 {
        font-size: 26px;
    }

    .VK_ai_pc_heading p {
        font-size: 16px;
    }

    /* game development page */
    .VK_game_dev_tool_bg {
        background-image: none;
        background-color: #262626;
    }
}

/* extra small device */
@media (max-width:425px) {

    /* tools and design page */
    .VK_tools_searcn_parent{
        position: relative;
        width: 150px;
        display: none;
        background-color: white;
    }
    .VK_header_parent {
        padding-left: 0px;
    }

    .VK_tools_header_option li a {
        position: relative;
        top: 5px;
        color: white !important;
        font-size: 18px;
    }

    .VK_header_menu {
        display: none !important;
    }

    .VK_tools_header_option li a span {
        display: none !important;
    }

    .VK_tools_header_drop {
        display: flex !important;
        font-size: 18px;
        color: white !important;
    }

    .VK_tools_menu {
        display: none !important;
    }

    .VK_header_logo {
        padding: 15px 22px;
    }

    .VK_header_logo img {
        width: 120px;
        object-fit: fill;
    }

    .VK_tool_search_div {
        width: 0%;
    }

    .VK_tools_header_register {
        display: none;
    }

    .VK_tools_header_drop {
        display: flex !important;
        font-size: 18px;
        color: white !important;
    }

    .VK_slider_desc_box {
        position: unset;
        transform: translate(0);
        width: 100%;
    }

    .VK_tool_slider_img img {
        height: 200px;
        object-fit: cover;
    }
    .owl-dots {
        position: absolute;
        top: 200px;
        transform: translateY(-100%);
    }

    .VK_slider_desc_box h3 {
        font-size: 28px;
    }

    /* ai developer page */
    .VK_ai_nav_bar li {
        margin: 0px;
    }

    .VK_ai_nav_bar a {
        white-space: nowrap;
        font-size: 14px;
        padding: 15px 10px;
        font-weight: normal;
    }

    .VK_ai_slider_heading {
        font-size: 28px;
        font-weight: normal;
    }

    .VK_ai_topic_col {
        margin: 20px 0px;
    }

    .VK_ai_card_heading {
        font-size: 18px;
    }

    .VK_latest_intel_card {
        width: 100%;
    }

    .VK_latest_intel_product_card {
        width: 100%;
    }

    .VK_intel_huge_image {
        width: 100%;
    }

    .VK_intel_huge_description {
        width: 100% !important;
        padding: 0px 20px;
    }

    .VK_collabrate_card {
        width: 100%;
        padding: 0px 15px;
    }

    .VK_collabrate_ai_workload {
        width: 100%;
        padding: 0px 20px;
    }

    .VK_collabrate_form {
        width: 100%;
    }

    .VK_collabrate_submit {
        width: 100%;
    }

    /* client application */
    .VK_client_slider {
        width: 100%;
        padding: 80px 15px;
    }

    .VK_client_slider h1 {
        font-size: 28px;
    }

    .VK_client_slider p {
        font-size: 18px;
        font-weight: 600;
    }

    .VK_ai_pc_heading h2,
    .VK_ai_client_heading h2,
    .VK_hardware_tech_heading h2,
    .VK_doc_heading h2,
    .VK_communtiy_heading h2 {
        font-size: 26px;
    }

    .VK_ai_pc_heading p {
        font-size: 16px;
    }

    /* game development page */
    .VK_game_dev_tool_bg {
        background-image: none;
        background-color: #262626;
    }

    .VK_game_tools_heading h2 {
        font-size: 22px;
    }
}


/* ----------------------------------------------------------- container media query -------------------------------------------- */
@media (max-width:479px) {


    /* ai developer page */
    .VK_ai_topic_col {
        width: 100%;
        padding: 0px 12px;
    }

    .VK_ai_pro_cel {
        width: 50%;
        padding: 0px 12px;
    }

    .VK_ai_pro_text {
        font-size: 12px;
    }
}

@media (min-width: 480px) and (max-width:767px) {

    /* ai developer page */
    .VK_ai_topic_col {
        width: 100%;
        padding: 0px 12px;
    }

    .VK_ai_pro_cel {
        width: 50%;
        padding: 0px 12px;
    }
}

@media (min-width: 768px) {

    /* ai developer page  */
    .VK_ai_solution_container {
        width: 750px;
        margin: auto;
    }

    .VK_ai_pro_cel {
        width: 23%;
        padding: 0px 12px;
    }
}

@media (min-width: 992px) {

    /* ai developer page  */
    .VK_ai_solution_container {
        width: 970px;
        margin: auto;
    }

    .VK_ai_pro_cel {
        width: 22%;
        padding: 0px 12px;
    }
}

@media (min-width: 1200px) {

    /* ai developer page */
    .VK_ai_solution_container {
        width: 1170px;
        margin: auto;
    }

    .VK_ai_pro_cel {
        width: 20%;
        padding: 0px 15px;
    }
}

@media (min-width: 1650px) {

    /* ai developer page */
    .VK_ai_solution_container {
        width: 1610px;
        margin: auto;
    }

    .VK_ai_pro_cel {
        width: 18%;
        padding: 0px 15px;
    }
}