.y_container {
    width: 1600px;
    margin: auto;
  }
  .y_bg_img1 img {
    height: 380px;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .y_bg_img1 {
    position: relative;
  }
  .y_bg_blue1 {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #0068B5;
    color: white;
    padding: 16px 16px 40px 25px;
  }
  
  .y_bg_blue1::after {
    content: '';
    position: absolute;
    top: 100%;
    right: 100%;
    width: 2.5rem;
    height: 2.5rem;
    background-color: #00A3F6;
  }
.y_layer_img {
    position: relative;   
}
.y_layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.y_layer_img:hover .y_layer {
    background-color: rgba(0, 0, 0, 0.5);
    color: #00BBF0;
} 
  @media (max-width: 1440px) {
    .y_container {
      width: 1200px;
    }
  }
  

  @media (max-width:1024px) {
    .y_container {
        width: 100%;
        padding: 0 20px;
      }
      .y_bg_img1 img {
        height: 420px;
      }
  }
  @media (max-width:768px) {
    .y_bg_img1 img {
        height: 470px;
      }
  }
  @media (max-width:425px) {
    .y_bg_img1 img {
        height: 220px;
      }
    
      .y_bg_img1 {
        display: flex;
        flex-direction: column;
      }
    
      .y_bg_blue1 {
        position: relative;
        z-index: 2;
        margin: 0 !important;
        order: 1;
      }
    
      .y_bg_img1 img {
        width: 100%;
        order: 0;
      }
  }