@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

ul li {
  list-style: none;
}

nav {
  position: fixed;
  z-index: 99;
  width: 100%;
  border-bottom: 1px solid #d7d7d7;
  background: #ffffff;
}

nav .wrapper {
  position: relative;
  /* max-width: 1300px; */
  /* padding: 0px 30px; */
  height: 70px;
  line-height: 70px;
  margin: auto;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.logo {
  background-color: #0068b5;
  height: -webkit-fill-available;
}

.logo img {
  width: 55px;
}

.wrapper .logo a {
  padding: 7px;
  color: #0068b5;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}

.wrapper .nav-links {
  display: inline-flex;
}

.nav-links li {
  list-style: none;
}

.nav-links li a {
  color: #0068b5;
  text-decoration: none;
  font-size: 14px;
  /* font-weight: 500; */
  padding: 9px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.nav-links .mobile-item {
  display: none;
}

.nav-links .drop-menu {
  position: absolute;
  background: #242526;
  width: 180px;
  line-height: 45px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.nav-links li:hover {
  border-bottom: 4px solid #00aeef;
}

.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box {
  transition: all 0.3s ease;
  top: 71px;
  opacity: 1;
  visibility: visible;
  background-color: white;
}

#showDrop:checked~.drop-menu,
#showMega:checked~.mega-box {
  max-height: 100%;
}

.drop-menu li a {
  width: 100%;
  display: block;
  padding: 0 0 0 15px;
  font-weight: 400;
  border-radius: 0px;
}

.mega-box {
  position: absolute;
  left: 0;
  width: 100%;
  /* padding: 0 30px; */
  top: 85px;
  opacity: 0;
  visibility: hidden;
}

.mega-box .content {
  background: #ffffff;
  padding: 25px 20px;
  padding-top: 0px;
  display: flex;
  width: 100%;
  align-items: baseline;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.y_atag {
  border-bottom: 1px solid #d7d7d7;
  height: 60px;
  padding-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.mega-box .content .row {
  /* width: calc(25% - 30px); */
  width: 20%;
  line-height: 45px;
}

.content .row img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content .row header {
  height: fit-content;
  display: block;
  margin-bottom: 8px;
  width: 84%;
  color: #000000;
  font-size: 15px;
  font-weight: 700;
  border-bottom: 1px solid #d7d7d7;
}

.content .row .mega-links {
  margin-left: -40px;
  border-left: 1px solid rgba(255, 255, 255, 0.09);
}

.row .mega-links li {
  padding: 4px 20px;
}

.row .mega-links li a {
  padding: 0px;
  padding: 0 20px;
  color: #0068b5;
  font-size: 14px;
  display: block;
  line-height: 17px;
}

.row .mega-links li:hover {
  border-bottom: none !important;
}

.row .mega-links li a:hover {
  color: #003c71;
}

.wrapper .btn {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}

.wrapper .btn.close-btn {
  position: absolute;
  right: 30px;
  top: 10px;
}

.y_custom_header {
  font-size: 15px !important;
  font-weight: 700 !important;
  line-height: 19px !important;
  margin-bottom: 8px !important;
  border-bottom: none !important;
  color: #0068b5 !important;
  padding-top: 14px;
}

.Drop_hedar {
  font-size: 18px !important;
  line-height: 23px;
  font-weight: 700 !important;
  padding: 0 !important;
}

.y_navSec {
  margin-left: auto !important;
}

.y_navSec2 {
  margin-left: auto !important;
}

.y_noborder {
  border-bottom: none !important;
}

.secrh_icon {
  background-color: #f3f3f3;
  padding-right: 43px;
}

.y_serahcinput {
  background: transparent !important;
  border: none !important;
}

.y_serahcinput:focus {
  outline: none !important;
}

.y_noborder .form-control:focus {
  outline: none !important;
  /* Remove outline */
  border: none !important;
  /* Remove border */
  box-shadow: none !important;
  /* Optional: Remove box-shadow if any */
}

.y_noborder .form-control::placeholder {
  font-size: 16px;
  /* Change the font size here */
  /* You can also adjust other styles like font-weight, color, etc. */
  /* font-weight: 400; */
  color: black;
}

.y_navSec i {
  font-size: 21px;
}

.y_navSec i:hover,
.Y_lagdwop:hover {
  color: #003c71;
}

.y_navSec2 i {
  font-size: 21px;
}

.y_navSec2 i:hover,
.Y_lagdwop:hover {
  color: #003c71;
}

.Y_lagdwop {
  display: inline;
  font-size: 10px;
  text-transform: uppercase;
}

.y_offcanvas .offcanvas {
  position: fixed;
  top: 0;
  right: -300px;
  /* Initially off-screen */
  width: 300px;
  height: 100%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease;
  z-index: 1000;
}

.y_offcanvas .offcanvas.show {
  right: 0;
  top: 72px;
}

.y_offcanvas .modal-backdrop.show {
  opacity: 0 !important;
}

.y_offcanvas2 .offcanvas {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease;
  z-index: 1000;
}

.y_offcanvas2 .offcanvas.show {
  right: 0;
  top: 72px;
}

.y_offcanvas2 .modal-backdrop.show {
  opacity: 0 !important;
}

.y_canvasOFf {
  border: none;
  background: transparent;
  color: #0068b5 !important;
  text-transform: uppercase;
}

.y_offcanvasBody {
  line-height: 25px;
  font-size: 15px;
}

.y_offcanvasBody ul {
  list-style: none;
  padding: inherit;
  line-height: 31px;
}

.y_offcanvasBody h3 {
  font-weight: 700;
  font-size: 15px;
}

.y_searchFooter {
  background-color: #f3f3f3;
  margin-top: auto;
  position: fixed;
  bottom: 0;
}

.y_noborder .input-group-append {
  cursor: pointer;
}

.y_showFilter:hover {
  background: none !important;
}

.y_showFilter {
  border: none !important;
  padding: 0 !important;
  color: #0068b5 !important;
}

.y_resposiveAccordian {
  flex-grow: 0 !important;
  padding: 0 !important;
}

.y_resposiveAccordian .accordion-button:not(.collapsed) {
  background-color: white !important;
}

.y_ResposiveNavabar {
  top: 70px !important;
  left: 0;
  width: 100% !important;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  transform: translateX(-100%);
}

.wrapper .modal-backdrop.show {
  opacity: 0 !important;
}

.y_toglerIcon i {
  color: #0068b5 !important;
}

.y_toglerIcon:focus {
  box-shadow: none !important;
}

.y_resposiveIcons {
  align-items: center;
  margin-left: auto;
  display: flex;
}

.y_resposiveIcons i {
  padding: 0px 16px;
  font-size: 21px;
  color: #0068b5;
}

.y_serch_class {
  display: none !important;
}

.y_serchA {
  display: flex !important;
  align-items: center !important;
}

.y_resposiveIcons {
  display: none;
}

.y_language_offcanvas .offcanvas-start {
  top: 70px !important;
  left: 0;
  width: 100% !important;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  transform: translateX(-100%);
}

.y_offcanvasHeading {
  border-bottom: 1px solid #d7d7d7;
  font-size: 20px;
  font-weight: 700;
  padding: 10px 16px 10px;
}

.y_canvasATag {
  line-height: 2;

  margin: 4px 0;
}

.y_canvasATag a {
  padding: 2px 19px !important;
}

.y_canvasATag .active {
  color: black;
  font-weight: 600;
  border-left: 4px solid #0068b5;
}

/* login page css start  */
.y_loginLang {
  color: white !important;
}

.y_loginLangicon {
  color: white !important;
}

.y_border-none {
  border: none !important;
  background-color: transparent !important;
}

.y_loginbody {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 54px;
}

.y_logfooter {
  align-items: center;
  justify-content: center;
}

.y_logfooter a {
  margin-right: 25px;
  padding-top: 40px;
  margin-left: 25px;
  color: white;
  text-decoration: none;
}

.y_loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* padding: 10px; */
  /* padding: 8%; */
}

.y_login-box form {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 31px;


}

.y_login-box {
  /* background-color: white; */
  padding: 20px;
  border-radius: 8px;
  width: 455px;
  max-width: 455px !important;

}

.y_loginbody h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

/* .y_loginbody .textbox {
  margin-bottom: 15px;
} */

.y_loginbody .textbox label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.y_loginbody .textbox input {
  width: 100%;
  padding: 10px;
  border: 1px solid;
  border-radius: 2px;
  outline: none;
  height: 57px;
  margin: 16px 0;
}

.y_loginbody .textbox input:focus {
  border-color: black;
  border-width: 2px;
  border-radius: 4px;
}

.y_loginbody .btn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 0;
  background-color: #296ec6;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin: 16px 0;
}

.y_loginbody .btn:focus {
  box-shadow: none;
}

.y_loginbody .btn:hover {
  background-color: #1662c7;
  border-color: #204d74;
  color: white;
}

.y_loginbody a {
  text-decoration: none;
  /* color: white !important; */
}

.y_loginbody .forgot {
  display: block;
  /* text-align: center; */
  margin-top: 10px;
  color: #007bff;
  text-decoration: none;
}

.y_loginbody .forgot:hover {
  text-decoration: underline;
}

.y_loginBodyFull {
  background-image: url(/img/yatri_img/loginBackimg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.y_resLoginLagIcon {
  color: white !important;
}

.y_login-form form {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 31px;
}

.y_login-form {
  width: 700px !important;
  max-width: 700px !important;
}

.y_privacy:hover {
  text-decoration: underline;
}

.y_form-group {
  position: relative;
}

.y_form-group label {
  position: absolute;
  top: 2px;
  left: 10px;
  background-color: white;
  padding: 0 5px;
  font-size: 12px;
  z-index: 100;
}

.y_form-group input {
  padding-top: 20px;
}

.y_form-group select {
  padding-top: 25px;
}

/* login page css end  */

/* singing page css end  */
.y_problem {
  width: 455px;
  background-color: white;
  padding: 20px;
}

.y_signing {
  font-size: 14px;
}

.y_signing a:hover {
  text-decoration: underline;
}

.y_reset-password {
  width: 455px;
  background-color: white;
  padding: 31px;
}

/* Singing  page css end  */


/* home page css  */
.y_carouselSec::after {
  content: "";
  background: linear-gradient(174deg, #f7f7f7 43.5%, #d9d9d9 100%);
  grid-column-start: 2;
  height: 947px;
  width: 31%;
  position: absolute;
  z-index: -1;
  top: 7%;
  right: 14%;
}

.y_carouselSec {
  background-image: url(/img/yatri_img/backimg_white.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

.y_content_sec {
  padding: 21% 12%;
}

.y_content_sec h1 {
  font-weight: 200 !important;
}

.y_content_sec button {
  border: 0.09375rem solid #0076d6;
  color: #0076d6;
  font-size: clamp(0.875rem, 0.743rem + 0.5634vi, 1.25rem);
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  padding: 1rem 2.25rem;
  text-align: center;
  text-decoration: none;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
  border-radius: 0;
}

.y_content_sec button:hover {
  color: #0076d6;
  border-color: #064b85;
}

.y_logo_sec {
  display: flex;
  align-items: center;
  justify-content: center;
}

.y_join_btn {
  border: 1px solid #0076d6 !important;
  color: #0076d6 !important;
  padding: 1.8rem 2.25rem !important;
  border-radius: 0 !important;
  font-size: clamp(0.875rem, 0.743rem + 0.5634vi, 1.25rem) !important;
  font-weight: 500 !important;
}

.y_italic_text {
  font-style: italic;
  text-align: center;
}

.y_boxSection {
  padding-bottom: 200px;
  position: relative;
}

.y_boxSection::after {
  content: "";
  background: linear-gradient(180deg, #f7f7f7 43.5%, #d9d9d9 100%);
  grid-column-start: 2;
  height: 100%;
  width: 43%;
  position: absolute;
  right: -31px;
  z-index: -1;
}

.y_card {
  background-color: #404040;
  color: white;
  padding: 2.8rem 1.5rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.y_card2 {
  background-color: #404040;
  color: white;
  padding: 2.4rem 1.5rem;
  text-align: center;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.y_card2 i {
  font-size: 32px;
}

.y_Whitebtn {
  border: 0.09375rem solid white;
  background-color: transparent;
  color: white;
  font-size: clamp(0.875rem, 0.743rem + 0.5634vi, 1.25rem);
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  padding: 1rem 2.25rem;
  text-align: center;
  text-decoration: none;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
  border-radius: 0;
}

.y_Whitebtn:hover {
  color: white;
  border-color: white;
}

.row.equal-height {
  display: flex;
  flex-wrap: wrap;
}

.row.equal-height>[class*="col-"] {
  display: flex;
  flex-direction: column;
}

footer {
  background: #e7e7e7;
}

.y_footer {
  padding: 4% 0% !important;
  background: #e7e7e7 !important;
}

.y_footerLinks a {
  padding: 0.5em 0;
  text-decoration: none;
  color: #000000;
  margin-right: 1rem;
}

.y_footerLinks a:hover {
  text-decoration: underline;
  color: black;
}

.y_footersociallinks {
  margin: 2.5rem 0.5em;
}

.y_footersociallinks i a {
  margin-right: 0.2em;
  margin-left: 0.2em;
  padding: 0.5em 0;
}

.y_footersociallinks i {
  margin-right: 1em;
  font-size: 24px;
  color: black;
}

.y_footerprivacylinks a {
  margin-right: 1em;
  padding: 0.5em 0;
  font-size: 0.75em;
  color: #000;
  text-decoration: none;
  padding: 0 0 0 1em;
  border-left: 1px solid;
}

.y_footerprivacylinks a:hover {
  text-decoration: underline;
  color: #000;
}

.y_border-none {
  border: none !important;
  padding-left: none !important;
}

.y_footerp {
  font-size: 0.75em;
  color: #000;
  white-space: normal;
}

.y_footerlogo {
  padding-right: 4em;
}

.y_container {
  width: 1600px;
  margin: auto;
}

/* .y_container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px !important;
  padding-right: 15px !important;
} */

.y_carouselSec {
  padding-top: 71px;
}

.y_h1 {
  font-size: 70px;
  font-weight: 300;
  line-height: 1.22;
  text-align: center;
}

.y_headerP {
  text-align: center;
  /* max-inline-size: 45ch; */
}

.y_staticSec {
  position: fixed;
  display: flex;
  bottom: 6%;
  left: 50%;
  transform: translateX(-50%);
  background: #f0f0f0;
  z-index: 999;
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2);
  width: 80%;
  max-width: 628px;
}

.y_staticSec2 {
  display: none;
}

.y_StaticLinks1 {
  padding: 14px;
}

.y_StaticLinks {
  padding: 14px;
  color: #0054ae;
}

.y_ml-auto {
  margin-left: auto;
}

.y_modes {
  font-size: 0.75rem;
  padding-right: 4px;
  /* padding-bottom: 5px; */
}

body.dark-mode {
  background-color: #262626;
  color: #ffffff;
  /* Add other dark mode styles here */
}

body.dark-mode .y_carouselSec::after {
  background: linear-gradient(174deg, #333333 43.5%, #1a1a1a 100%);
}

body.dark-mode .y_boxSection::after {
  background: linear-gradient(180deg, #333333 43.5%, #1a1a1a 100%);
}

body.dark-mode .y_staticSec {
  background: #2c2c2c;
  color: white;
}

body.dark-mode .y_StaticLinks {
  background: #2c2c2c;
  color: white;
}

/* index carousel css start */

.y_box-area {
  width: 100%;
  /* height: 700px; */
  display: flex;
  justify-content: center;
}

.y_box {
  width: 120px;
  /* height: 59% !important; */
  margin-right: 20px;
  overflow: hidden;
  position: relative;
  transition: all linear 0.6s;
}

.y_box:last-child {
  margin-right: 0;
}

.y_box::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
}

.y_box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.y_box .y_d-none {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #fff;
  position: absolute;
  bottom: 20px;
  left: 10px;
  font-size: 20px;
}

.y_box h1 {
  position: absolute;
  bottom: 30px;
  top: 31%;
  left: 2%;
  width: 59%;
  font-size: clamp(2.125rem, 1.7069rem + 1.784vi, 3.3125rem);
  font-style: normal;
  font-weight: 300 !important;
  color: #f6f6f6;
  font-weight: 600;
  opacity: 0;
  transition: all linear 0.1s;
}

.y_box .y_carouselBtn {
  text-decoration: none;
  position: absolute;
  bottom: 20%;
  left: 2%;
  width: 59%;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 300 !important;
  color: #f6f6f6;
  font-weight: 600;
  opacity: 0;
  transition: all linear 0.1s;
}

.y_box .y_p1 {
  position: absolute;
  bottom: 10px;
  top: 24%;
  left: 2%;
  width: 50%;
  font-size: clamp(0.75rem, 0.706rem + 0.1878vi, 0.875rem);
  font-style: normal;
  font-weight: 700;
  line-height: 1.143;
  color: #f6f6f6;
  opacity: 0;
  transition: all linear 0.1s;
}

.y_box .y_p2 {
  position: absolute;
  bottom: 31%;
  left: 2%;
  width: 50%;
  font-size: 18px;
  font-weight: 400;
  color: #f6f6f6;
  opacity: 0;
  transition: all linear 0.1s;
}

.y_box.y_active h1 {
  opacity: 1;
}

.y_box.y_active p {
  opacity: 1;
}

.y_box.y_active .y_carouselBtn,
i {
  opacity: 1;
}

.y_active {
  width: 100%;
  height: 70% !important;
  transition: all linear 0.6s;
}

.y_box.y_active .y_d-none {
  display: none;
}

.y_homeCarousel {
  display: none !important;
}


@media (max-width: 1440px) {
  .y_container {
    width: 1200px;
  }
}

/* index carousel css end  */
@media (min-width: 1650px) {
  .y_container {
    width: 1610px;
    max-width: none;
  }
}

@media screen and (max-width: 1230px) {
  .y_container {
    width: 1170px;
  }

  .nav-links li a {
    padding: 9px 5px;
  }

  .y_serch_class {
    display: none !important;
  }

  .y_box .y_p1 {
    width: 100% !important;
  }

  .y_box .y_carouselBtn {
    width: 100% !important;
  }

  .y_box .y_p2 {
    width: 100% !important;
  }
}

@media screen and (max-width: 1024px) {
  .nav-links li a {
    font-size: 11px !important;
  }

  .y_serch_class {
    display: none !important;
  }

  .y_carouselSec::after {
    display: none;
  }

  .y_boxSection::after {
    display: none;
  }

  .y_box .y_p2 {
    display: none;
  }

  .y_box h1 {
    font-size: 30px;
  }

  .y_container {
    width: 100%;
    padding: 0 20px;
  }

  .y_box-terms {
    padding: 32px 42px;
  }

  .y_bg-text {
    width: 45% !important;
    left: 5% !important;
    top: 12% !important;
  }
}

@media screen and (max-width: 970px) {
  .y_container {
    width: 100%;
    padding: 0 20px;
  }

  .y_serch_class {
    display: none !important;
  }

  /* .secrh_icon{
    display: inline-flex;
  } */
  .y_resposiveIcons {
    display: flex;
  }

  .yD_none {
    display: none;
  }

  .wrapper .btn {
    display: block;
  }

  .wrapper .nav-links,
  .y_navSec {
    display: none;
  }

  .wrapper .y_navSec2 {
    display: inline-flex;
  }

  #menu-btn:checked~.nav-links {
    left: 0%;
  }

  #menu-btn:checked~.btn.menu-btn {
    display: none;
  }

  #close-btn:checked~.btn.menu-btn i {
    color: #0068b5;
  }

  #close-btn:checked~.btn.menu-btn {
    display: block;
  }

  .nav-links li {
    margin: 15px 10px;
  }

  .nav-links li a {
    padding: 0 20px;
    display: block;
    font-size: 20px;
  }

  .nav-links .drop-menu {
    position: static;
    opacity: 1;
    top: 65px;
    visibility: visible;
    padding-left: 20px;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    box-shadow: none;
    transition: all 0.3s ease;
  }

  #showDrop:checked~.drop-menu,
  #showMega:checked~.mega-box {
    max-height: 100%;
  }

  .nav-links .desktop-item {
    display: none;
  }

  /* .nav-links .mobile-item {
    display: block;
    color: #f2f2f2;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
  } */
  .nav-links .mobile-item:hover {
    background: #3a3b3c;
  }

  .drop-menu li {
    margin: 0;
  }

  .drop-menu li a {
    border-radius: 5px;
    font-size: 18px;
  }

  .mega-box {
    position: static;
    top: 65px;
    opacity: 1;
    visibility: visible;
    padding: 0 20px;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.3s ease;
  }

  .mega-box .content {
    box-shadow: none;
    flex-direction: column;
    padding: 20px 20px 0 20px;
  }

  .mega-box .content .row {
    width: 100%;
    margin-bottom: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.08);
  }

  .mega-box .content .row:nth-child(1),
  .mega-box .content .row:nth-child(2) {
    border-top: 0px;
  }

  .content .row .mega-links {
    border-left: 0px;
    padding-left: 15px;
  }

  .row .mega-links li {
    margin: 0;
  }

  .content .row header {
    font-size: 19px;
  }
}

@media screen and (max-width: 768px) {
  .y_homeCarousel {
    display: block !important;
    /* padding-top: 70px; */
  }

  .y_h1 {
    font-size: 40px;
  }

  .y_content_sec {
    padding: 4% 3%;
  }

  .y_boxSection {
    padding-bottom: 100px;
  }

  .y_box-area {
    display: none !important;
  }

  .y_staticSec {
    display: none !important;
  }

  .y_staticSec2 {
    display: flex;
    position: fixed;
    bottom: 6%;
    left: 50%;
    transform: translateX(-50%);
    background: #f0f0f0;
    z-index: 999;
    box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2);
    width: 95%;
    max-width: 90%;
    justify-content: center;
  }

  .y_footerLinks {
    display: grid;
  }

  .y_footersec {
    flex-direction: column-reverse;
  }
  /* .y_bg-text {
    width: 60% !important;
    left: 5%;
    top: 12%;
  } */
}

@media screen and (max-width: 560px) {
  .y_new_serchicon {
    display: inline-flex;
  }

  .y_serchA {
    display: inline-flex !important;
  }

  .Y_customInput {
    align-items: center;
    display: inline-flex;
  }
}

@media screen and (max-width: 425px) {
  .y_login-box {
    padding: 0;
  }

  .y_staticSec2 {
    width: 100%;
    max-width: 100%;
    bottom: 12%;
    /* Adjust bottom position if needed */
  }

  .y_staticSec2 .y_StaticLinks {
    padding: 7px;
    color: #0054ae;
    font-size: 13px;
  }

  .y_problem {
    width: 425px;
    padding: 20px 50px;
  }

  .y_footersecoundSec {
    padding: 0 20px;
  }

  .y_bg-text {
    width: 90% !important;
    left: 5% !important;
    top: 12% !important;
  }
}

@media screen and (max-width: 375px) {
  .y_staticSec2 {
    width: 90%;
    max-width: 90%;
    bottom: 12%;
    /* Adjust bottom position if needed */
  }

  .y_container {
    max-width: 750px;
  }

  .y_serch_class {
    display: block !important;
  }

  .y_new_serchicon {
    display: none;
  }

  .y_problem {
    width: 375px;
    padding: 20px 50px;
  }
}

@media screen and (max-width: 320px) {
  .y_problem {
    width: 320px;
    padding: 20px;
  }

}

nav input {
  display: none;
}


/* Privacy Page Css start*/
/* shweta */

.body-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  padding: 0 30px;
}

.body-text div {
  font-size: 45px;
  font-weight: 600;
}

.s_item a {
  text-decoration: none;
  color: #000;
}

.s_item a:hover {
  color: inherit;
}

div .s_sticky-container {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 9999;
  background-color: #fff;
  padding-top: 10px;
}

.s_owl-nav {
  position: absolute;
  width: 100%;
  top: 0;
  height: 100%;
  transform: translateY(-50%);
}

.s_owl-prev,
.s_owl-next {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6) !important;
  color: white !important;
  padding: 10px !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 65px;
  top: -33%;
  border: 0;
}

.s_owl-prev {
  left: -60px;
}

.s_owl-next {
  right: -60px;
}

/* .owl-carousel .s_item a{
  border-bottom: 3px solid transparent;
  transition: border-bottom 0.3s ease;
} */

.owl-carousel .s_item.active-item a {
  border-bottom: 3px solid #0068B5;
}

.s_nav-cookie a {
  text-decoration: none;
  color: #0068B5;
  /* padding: 10px 0; */
}

.s_nav-cookie :hover {
  background-color: white;
}

.s_nav-cookie .active {
  background-color: white;
}

.s_notice-cookie li {
  list-style: disc;
}

.s_notice-cookie li a {
  color: #0068B5;
  text-decoration: underline dashed !important;
  text-underline-offset: 5px;
}

.s_notice-cookie li a:hover {
  color: #0068B5;
  text-decoration: underline !important;
  text-underline-offset: 5px;
}

.s_contect-cookie li {
  list-style: disc;
}

/* Privacy Page Css  end*/

/* Binding Corporate Css start*/

.s_videos-card {
  text-decoration: none;
  font-size: 20px;
  color: #003c71;
}

.s_videos-card:hover {
  text-decoration: underline;
  color: #003c71;
}

.s_show_text {
  display: none;
}

.s_related p {
  font-size: 15px !important;
  margin-bottom: 0;
}

.s_related img {
  margin-right: 10px;
}

.s_show_text {
  display: block;
  width: 150px;
  margin: auto;
}

.s_libe_after {
  position: relative;
  text-align: center;
  margin-top: 20px;
}

.s_libe_after:before,
.s_libe_after:after {
  content: "";
  width: calc(50% - 100px);
  display: block;
  height: 1px;
  background-color: #e9e9e9;
  position: absolute;
  top: 50%;
}

.s_libe_after:before {
  left: 0;
}

.s_libe_after:after {
  right: 0;
}

/* Binding Corporate Css end*/

/* Comapny Overview Css start*/

.y_bg_img img {
  height: 300px;
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.y_bg_img {
  position: relative;
}

.y_bg_blue {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #0068B5;
  color: white;
  padding: 16px 16px 40px 25px;
}

.y_bg_blue::after {
  content: '';
  position: absolute;
  top: 100%;
  right: 100%;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #00A3F6;
}

.s_owl-nav1 {
  display: none;
}

.s_text-container {
  margin: auto;
  text-align: center;
}

.s_text-container p {
  font-size: 15px;
}

.btn-value {
  color: #fff;
  background-color: #004A86;
  border: 0;
  padding: 8px 30px;
}

.s_main_contant {
  font-size: 14px;
  padding-left: 15px;
}

.s_image {
  padding-right: 15px;
}

.s_image img {
  width: 300px;
  height: auto;
}

.s_main_contant h3 a {
  color: #0068b5;
  text-decoration: none;
}

.s_main_contant h3 a:hover {
  text-decoration: underline;
}

.s_main_contant1 h3 a {
  color: #fff;
  text-decoration: none;
  font-weight: lighter;
}

.s_main_contant1 p {
  font-size: 15px;
}

.s_main_contant1 ul li {
  list-style: disc;
  font-size: 15px;
}

.s_bg_blue {
  background-color: #0068B5;
  color: #fff;
}

.s_bg_white {
  background-color: #F7F7F7;
}

.value {
  font-size: 7.5rem;
  font-weight: 400;
  display: flex;
  justify-content: center;
}

.value .unit.top {
  align-self: start;
}

.value .unit {
  font-size: 2.8125rem;
  padding: .9375rem 0;
  line-height: 1;
}

.description {
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  margin-bottom: .8em;
  font-weight: 400;
}

.s_about li {
  list-style: disc;
}

.s_about li a {
  text-decoration: dashed underline;
  text-underline-offset: 5px;
  color: #0068b5;
  padding: 4px 0;
  line-height: 2rem;
}

.s_about li a:hover {
  color: #00285a;
  text-decoration: underline;
}

/* Comapny Overview Css end*/

/* Contect Intel Css Start*/
.s_bg_img {
  background-image: url('../img/yatri_img/bg.svg');
  background-color: #683574;
  color: white;
  height: 200px;
}

.s_bg_img1 {
  background-image: url('../img/yatri_img/bg.svg');
  background-color: #683574;
}

.s_bg_img1 a {
  color: white;
  padding: 15px 20px;
  font-weight: bold;
}

.s_bg_img1 a:hover {
  color: white;
}

.s_padding {
  padding-left: 160px;
}

.s_serach {
  position: relative;
}

.s_serach input {
  width: 100%;
  padding: 10px 10px 10px 30px;
}

.s_search_icon {
  position: absolute;
  top: 15px;
  left: 10px;
  color: #0068B5;
}

.s_info_icon {
  position: absolute;
  font-size: 20px;
  color: white;
  background-color: #525252;
  padding: 5px;
}

.s_info {
  border: 2px solid #525252;
  position: relative;
}

.s_info_div {
  padding: 20px 20px 20px 50px;
}

/* Contect Intel Css end*/

/* Investors Css Start */
.s_bg1 {
  background-color: #022D51;
  text-align: end;
}

.s_bg1 a {
  font-size: 12px;
  color: white;
  text-decoration: none;
}

.s_bg1 a:hover {
  color: white;
}

.s_main_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.s_main_menu {
  display: flex;
  align-items: center;

}

.s_main_menu li {
  position: relative;
  padding: 0 20px;

}

.s_main_menu li>a {
  text-decoration: none;
  color: #022D51;
  font-size: 14px;

}

.s_main_menu li>a:hover {
  color: #1884CF;
}

.s_sub_menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 200px;
  padding: 0;
  background-color: #1884CF;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.s_sub_menu li {
  padding: 10px 20px;
}

.s_sub_menu li a {
  color: white;
  font-size: 13px;
}

.s_main_menu li:hover .s_sub_menu {
  display: block;
}

.s_sub_menu li:hover {
  background-color: #022D51;
}

.s_sub_menu li a:hover {
  color: white;
}
.tooglar-btn {
  background-color: #0068B5;
  width: 40px;
  height: 40px;
  font-size: 25px;
  color: white;
  border: none;
}

.mobile-menu li a {
  color: white;
  text-decoration: none;
}

.mobile-menu li {
  padding: 20px 15px;
  border-bottom: 2px solid #fff;
}

.y_bg_investor {
  background-image: url(/img/yatri_img/investors.jpg);
  /* background-position: 50% 50%; */
  background-repeat: no-repeat;
  height: 1000px;
  position: relative;
  z-index: 999 !important;
}

.y_bg-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.y_bg-text {
  position: absolute;
  top: 20%;
  left: 18%;
  color: white;
  width: 30%;
  z-index: 2;
}

.y_bg-text h3 {
  font-weight: bold;
}

.y_link a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
}
.y_link a:hover {
  color: white;
  text-decoration: underline;
}
.y_link_arrow a{
  color: white;
}
.y_link_arrow i{
  color: #11C7F7;
  margin-left: 5px;
}
.y_link_arrow a:hover{
  color: #11C7F7;
}
.y_scroll{
  position: absolute;
  bottom: 0;
  left: 50%;
  background-color: #004A86;
  border: none;
}
.y_lightblue{
  background-color: #0068B5;
  color: white;
}
.y_mobile-menu{
  top: 15%;
  display: none;
}
.y_border_title{
  font-weight: bolder;
  font-size: 40px;
  padding-bottom: 26px;
  margin-bottom: 24px;
  position: relative;
}
.y_border_title::before{
    content: '';
    width: 88px;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #dadada;
}
.y_result{
  padding: 23px 0;
  margin-top: 0 15px;
  border-bottom: 1px solid #f3f3f3;
}
.y_result_icon a{
  margin: 0 15px;
  font-size: 14px;
  color: #0068B5;
  text-decoration: none;
}
.y_result_icon a:hover{
  color: #022D51;
}
.y_result_icon i{
  margin: 0 5px;
}
.y_result_con a{
  text-decoration: none;
  color: #000;
}
.y_result_con a:hover{
  color: #022D51;
  text-decoration: underline;
}
.y-links{
  background: #0068B5;
  width: 100%;
  padding: 10px 0;
  text-align: center;
}
.y-links a{
  color: white;
  text-decoration: none;
}
.y-links a:hover{
  color: #979EB5;
  text-decoration: none;
}
.y-links ul li {
  margin: 0 10px;
}
.s_related1 a{
  margin-right: 16px;
}
.s_related1 p{
  color: #003c71;
  font-size: 16px;
}
.s_related1 p:hover{
  color: #00C0F5;
}
/* Investors Css End */

@media (min-width: 1441px) {
  .s_owl-nav {
    display: none;
  }

}

@media (max-width: 1440px) {
  .s_owl-nav {
    display: block !important;
  }

  .s_image img {
    width: 200px;
    height: auto;
  }

  .s_about li a {
    font-size: 14px;
  }

  .s_padding {
    padding-left: 40px;
  }
}


@media (max-width: 1024px) {
  .s_owl-prev {
    left: -30px !important;
  }

  .s_owl-next {
    right: -30px !important;
  }

  .y_bg_img img {
    height: 340px;
  }

  .value {
    font-size: 5.5rem;
  }

}

@media (max-width: 768px) {
  .s_owl-nav1 {
    display: block;
  }

  .s_owl-nav1 {
    position: absolute;
    width: 100%;
    top: 0;
    height: 100%;
    transform: translateY(-50%);
  }

  .s_owl-prev1,
  .s_owl-next1 {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6) !important;
    color: white !important;
    padding: 10px !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 65px;
    top: -33%;
    border: 0;
  }

  .s_owl-prev1 {
    left: -23px;
  }

  .s_owl-next1 {
    right: -23px;
  }

  .s_owl-prev {
    left: -23px !important;
  }

  .s_owl-next {
    right: -23px !important;
  }

  .s_image img {
    width: 100%;
    height: auto;
  }
  .y_mobile-menu{
    display: block;
  }
}

@media (max-width: 425px) {
  .s_owl-prev {
    left: 0px !important;
  }

  .s_owl-next {
    right: 0px !important;
  }

  .s_owl-prev1 {
    left: 0px !important;
  }

  .s_owl-next1 {
    right: 0px !important;
  }

  .y_bg_img img {
    height: 220px;
  }

  .y_bg_img {
    display: flex;
    flex-direction: column;
  }

  .y_bg_blue {
    position: relative;
    z-index: 2;
    margin: 0 !important;
    order: 1;
  }

  .y_bg_img img {
    width: 100%;
    order: 0;
  }

  .s_mobile-slider {
    position: relative;
    overflow: hidden;
  }


  .s_slider-item {
    display: none;
    text-align: center;
    padding: 20px;
  }

  .s_slider-item.active {
    display: block;
  }

  .s_slider-indicators {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .s_indicator {
    width: 13px;
    height: 13px;
    background-color: white;
    margin: 0 5px;

  }

  .s_indicator.active {
    background-color: black;
  }

  .s_mobile-slider1 {
    position: relative;
    overflow: hidden;
  }

  .s_slider-item1 {
    display: none;
    text-align: center;
    padding: 20px;
  }

  .s_slider-item1.active {
    display: block;
  }

  .s_slider-indicators1 {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .s_indicator1 {
    width: 13px;
    height: 13px;
    background-color: white;
    margin: 0 5px;

  }

  .s_indicator1.active {
    background-color: black;
  }

  .value {
    font-size: 6rem;
  }

  .btn-value1 {
    width: 100%;
    margin-left: 0 !important;
  }
  .y_border_width{
    width: 100% !important;
    margin: 0 !important;
  }
  .y-links ul li{
    border-bottom:  1px solid #fff;
    padding: 10px 0;
    text-align: left;
  }
  .y-links ul{
    padding: 0;
  }
}

@media (max-width: 325px) {
  .y_bg_img img {
    height: 200px;
  }
}