body.avm-blue .nav-bar.messages_nav-bar {
  background-color: #0068B5 !important;
  color: #fff;
}
.avm-blue .default_card_link a{
    color: #0068B5 !important;
    text-decoration: none;
}
.avm-blue .default_card_description a{
  color: #0068B5 !important;  
}
.avm-blue .botMenu__toggleMenu{
  color: #0068B5 !important;  
}
.avm-blue a.quick-reply:hover, .avm-blue a.quick-reply:active, .avm-blue a.quick-reply:focus{
  background-color: #0068B5 !important;
}
.avm-blue .default_card>div:first-child{
  margin:0px 0px 0px 0;
  padding: 0 !important
}
.avm-blue .composer {
    padding: 5px 0;
}
.avm-blue .attachments .btn {
    width:98%;
    float: left;
    border: 1px solid #0068B5;
    color: #0068B5;
    padding: 5px 12px;
    margin-left: 5px;
    border-radius: 15px;
    margin-bottom: 10px;
    background: #fff;
}
.avm-blue .fixed {
    flex: 1 0 70%;
    padding: 16px;
    border-radius: 15px;
}

.avm-blue .default_card .file-name {
    position: relative;
    border-radius: 15px;
    border: 1px solid #eee;
    width: 92%;
    margin-left: 6px !important;
    margin-top: 40px !important;
    /* margin-right: 5px; */
    padding: 7px !important;
}
.avm-blue .default_card .file-name a {
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1.2em;
    margin-left: 60px;
    width: 50%;
    display: block;
    white-space: nowrap;
}
.avm-blue .default_card .success {
    background: grey !important;
    float: left;
    color: #fff;
    width: 99%;
    padding: 9px 11px;
    margin-left: 5px;
    border-radius: 15px;
}

.avm-blue .avm_file_upload_section input[type="file"]+label {
    width:90%;
    float: left;
    border: 1px solid #0068B5;
    color: #0068B5;
    font-size: initial;
    padding: 5px 10px;
    margin: 3px 5px 5px 5px;
    border-radius: 15px;
    background: #fff;
    display: block !important;
}
.avm-blue .composer__container__preview__container__question.composer__container__preview__container__question {
    display: none;
}
.avm-blue h2.title::before { content: "Ask Intel"; color: white !important; }
.avm-blue .nav-bar h2 { color: #0068B5; }


.avm-blue .btn.default_card_submit:after {
  content: '';
  
}

.avm-blue .btn.default_card_submit {
    margin-top: 0px !important;
}

.avm-blue .hide {
    display: none;
}

.avm-blue.conversation {
  background-color: #f4f4f4;
}

.avm-blue .attachment-message .attachment-container {
  max-width: 90% !important
}

/* Custom feedback styles */
.avm-blue .custom-feedback {
    height: 25px;
}
.avm-blue .feedback-thanks {
    position: relative;
    top: -15px;
    height: 25px;
  margin-bottom: 10px;
}
.avm-blue .other-support-options {
    border: 1px solid #dcdcdc;
    margin-top: 30px;
    height: 30px;
    width: 170px;
}
.avm-blue .other-support-options a {
    position: relative;
    top: 6px;
    left: 15px;
}
.avm-blue .custom-feedback-container {
    display: flex;
    position: relative;
    top: -15px;
}
.avm-blue .custom-feedback-container label {
    padding-top: 13px;
    padding-right: 15px;
}
.avm-blue .custom-feedback.positive:before {
    cursor: pointer;
    width: 30px;
    height: 30px;
    float: left;
    content: "\e907";
    font-size: 30px;
    color: #0068B5;
    font-family: "AvaamoIcons" !important;
}
.avm-blue .custom-feedback.negative:before {
    cursor: pointer;
    width: 30px;
    height: 30px;
    float: left;
    content: "\e906";
    font-size: 30px;
    color: #0068B5;
    font-family: "AvaamoIcons" !important;
}
.avm-blue .custom-feedback.positive.checked:before {
    content: "\e904" !important;
    display: flex;
}
.avm-blue .custom-feedback.negative.checked:before {
    content: "\e905" !important;
    display: flex;
}
/* End of custom feedback styles */
.avm-blue .messages__media__header {
    display: none !important;
}
.avm-blue .default_card_title {
  border: none;
  padding-left: 6px;
}
body.avm-blue .default_card_description .dockp h2 {
    font-size: 12px;
    font-weight: bold;
}
body.avm-blue .default_card_description .dockp h2:not(:first-child) {
    padding-top: 15px;
}
.avm-blue .botMenu__menu .botMenu__menu__item {
    background-color: #ffff;
    color: #0068B5;
    border: 2px solid #0068B5;
}
.avm-blue .botMenu__menu .botMenu__menu__item:hover {
    background-color: #ffff;
}
.avm-blue .dockp span {
    background-color: none !important;
}

.avm-blue .message-wrap.attachment-message .attachment-container>div {
  background: #fff;
  border-radius: 0px 15px 15px 15px  
}

.avm-blue .default_card_input {
  border: none!important;
}

.avm-blue .default_card_link {
    max-width: fit-content;
    float: left;
    border: 1px solid #0068B5;
    padding: 8px;
    margin: 8px 8px 0px 0px;
    border-radius: 20px;
  
}
.avm-blue .default_card {
    border: 0px !important;
    border-radius: 15px;
    background: none !important;
    padding: 16px;
    box-sizing: border-box;
    overflow: auto;
}
.avm-blue .default_card>div.default_card_link:last-child {
  border-radius: 15px;
  margin-bottom: 10px;
}

.avm-blue .message-wrap p.desc, .avm-blue .default_card_description {
  color: #262626 !important;
  border: none;  
  padding: 0px !important;
}
.avm-blue .media .profile-pic img {
    border-radius: 0px;
}
.avm-blue .mic {
    display: none;
}


.avm-blue .item-subtitle {
    padding-bottom: 4px;
    color: #666;
    font-size: 13px;
    line-height: 1.4em;
    overflow: hidden;
    max-height: 2.5em;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: contents;
}

.avm-blue .mine p.desc {
    background-color: #e9e9e9 !important;
    color: #262626;
    margin-right: 20px;
    margin-left: auto;
    padding: 8px !important;
    border-radius: 15px 15px 0px 15px;
}
.avm-blue .conversation-item.mine {
    background-color: #f4f4f4 !important;
    border-left: 0px !important;
}
.avm-blue .mine .messages__media__header {
    display: none;
}
.avm-blue .mine .media .profile-pic {
    display: none;
}
.avm-blue .card_carousel {
    max-height: 250px;
}
.avm-blue .date {
    display: none;
}
.avm-blue .avaamo__popup {
    border: 1px solid #243e5a;
}
.avm-blue .avaamo__icon.avaamo__icon-open {
    display: none;
}
.avm-blue .avm-icon-cross:before {
    content: "\00AF";
}

.avm-blue .avm-bot-icon {
    border: 1px solid black;
    display:none;
}

body.avm-blue .default_card_description .dockp table, body.avm-blue .default_card_description .dockp th, body.avm-blue .default_card_description .dockp td {
    border: 1px solid black;
}
body.avm-blue .default_card_description .dockp, .avm-blue .not-mine .list-item .item-title, .avm-blue .not-mine .list-item .item-subtitle, .dockp b, .dockp td {
    color: #262626 !important;
    font-size: 14px !important;
}
body.avm-blue .default_card_description .dockp {
    max-height: 255px;
    overflow-y: auto;
}
body.avm-blue .default_card_title {
     font-weight: bold;
}
body.avm-blue .default_card_description .dockp img {
    width: 100%;
}

.avm-blue #notification-bar {
    font-family: 'intel-clear';
    position: absolute;
    background: black;
    top: 60px;
    color: #ffffff;
    left: 0px;
    width: 100%;
    font-size: 14px;
    font-weight: normal;
    padding: 17px 162px 14px 10px;
    display: flex;
    justify-content: center;
}
.avm-blue #notification-bar.hide{
    display: none;
}
.avm-blue button#live-agent-end:after {
    content: ".";
    color: #262626;
    font-size: 65px;
    position: absolute;
    right: 2px;
    bottom: -12px;
    animation: blinker 1s linear infinite;
}
.avm-blue button.end-live-chat.hide{
    display:none;
}

.avm-blue button.end-live-chat {
    position: absolute;
    right: 7px;
    top: 70px;
    height: 32px;
    cursor: pointer !important;
    padding: 8px 16px 8px 16px;
    color: #fff;
    font-size: 11px !important;
    font-weight: 600;
    background: #262626;
    padding-right: 22px;
    z-index: 99;
    /* border: none; */
    border: 1px solid;
}
.avm-blue .ptr.send{
    background-repeat: no-repeat;
    background-size: 25px;
    background-position-x: center;
    background-position-y: center;
    width: 52px;
    font-size: 0;
    padding: 0;
    background-image: url(https://s3.us-west-1.amazonaws.com/static.aiavaamo.com/send-icon.svg);
    display: block !important;
    height: 100%;
    position: absolute;
    bottom: -1px;
    right: 0px;
}
.avm-blue .ptr.send.enabled{
    background-repeat: no-repeat;
    background-size: 25px;
    background-position-x: center;
    background-position-y: center;
    width: 52px;
    font-size: 0;
    padding: 0;
    background-image: url(https://c0avaamo.s3-us-west-2.amazonaws.com/public_assets/data/000/003/194/original/fill-sent.svg?1628857329);
    display: block !important;
    height: 100%;
    position: absolute;
    bottom: -1px;
    right: 0px;
}
.avm-blue .avm-icon-menu:before, .avm-icon-key:before {
    content: url(https://c0avaamo.s3-us-west-2.amazonaws.com/public_assets/data/000/003/195/original/hamburger-icn.svg?1628857393);
    bottom: -1px;
    position: relative;
}


/** CSS from Intel.com */
@font-face {
    font-family: "intel-clear";
    src: url("/etc.clientlibs/settings/wcm/designs/intel/us/en/Fonts/resources/intel-clear-latin.eot");
    src: url("/etc.clientlibs/settings/wcm/designs/intel/us/en/Fonts/resources/intel-clear-latin.eot?#iefix") format("embedded-opentype"), url('/etc.clientlibs/settings/wcm/designs/intel/us/en/Fonts/resources/intel-clear-latin.woff2?1628514832') format('woff2'), url('/etc.clientlibs/settings/wcm/designs/intel/us/en/Fonts/resources/intel-clear-latin.woff?1628514860') format('woff'), url('/etc.clientlibs/settings/wcm/designs/intel/us/en/Fonts/resources/intel-clear-latin.ttf?1628514883') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "intel-clear";
    src: url("/etc.clientlibs/settings/wcm/designs/intel/us/en/Fonts/resources/intel-clear-latin-bold.eot");
    src: url("/etc.clientlibs/settings/wcm/designs/intel/us/en/Fonts/resources/intel-clear-latin-bold.eot?#iefix") format("embedded-opentype"), url("/etc.clientlibs/settings/wcm/designs/intel/us/en/Fonts/resources/intel-clear-latin-bold.woff2?1628514999") format("woff2"), url("/etc.clientlibs/settings/wcm/designs/intel/us/en/Fonts/resources/intel-clear-latin.woff") format("woff"), url("/etc.clientlibs/settings/wcm/designs/intel/us/en/Fonts/resources/intel-clear-latin-bold.ttf?1628515049") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "intel-clear";
    src: url("/etc.clientlibs/settings/wcm/designs/intel/us/en/Fonts/resources/intel-clear-latin-italic.eot");
    src: url("/etc.clientlibs/settings/wcm/designs/intel/us/en/Fonts/resources/intel-clear-latin-italic.eot?#iefix") format("embedded-opentype"), url("/etc.clientlibs/settings/wcm/designs/intel/us/en/Fonts/resources/intel-clear-latin-italic.woff2") format("woff2"), url("/etc.clientlibs/settings/wcm/designs/intel/us/en/Fonts/resources/intel-clear-latin-italic.woff") format("woff"), url("/etc.clientlibs/settings/wcm/designs/intel/us/en/Fonts/resources/intel-clear-latin-italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: "intel-clear";
    src: url("/etc.clientlibs/settings/wcm/designs/intel/us/en/Fonts/resources/intel-clear-latin-bold-italic.eot");
    src: url("/etc.clientlibs/settings/wcm/designs/intel/us/en/Fonts/resources/intel-clear-latin-bold-italic.eot?#iefix") format("embedded-opentype"), url("/etc.clientlibs/settings/wcm/designs/intel/us/en/Fonts/resources/intel-clear-latin-bold-italic.woff2") format("woff2"), url("/etc.clientlibs/settings/wcm/designs/intel/us/en/Fonts/resources/intel-clear-latin-bold-italic.woff") format("woff"), url("/etc.clientlibs/settings/wcm/designs/intel/us/en/Fonts/resources/intel-clear-latin-bold-italic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: "intel-clear";
    src: url("/etc.clientlibs/settings/wcm/designs/intel/us/en/Fonts/resources/intel-clear-latin-lite.eot");
    src: url("/etc.clientlibs/settings/wcm/designs/intel/us/en/Fonts/resources/intel-clear-latin-lite.eot?#iefix") format("embedded-opentype"), url("/etc.clientlibs/settings/wcm/designs/intel/us/en/Fonts/resources/intel-clear-latin-lite.woff2") format("woff2"), url("/etc.clientlibs/settings/wcm/designs/intel/us/en/Fonts/resources/intel-clear-latin-lite.woff") format("woff"), url("/etc.clientlibs/settings/wcm/designs/intel/us/en/Fonts/resources/intel-clear-latin-lite.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "intel-clear";
    src: url("/etc.clientlibs/settings/wcm/designs/intel/us/en/Fonts/resources/intel-clear-latin-lite-italic.eot");
    src: url("/etc.clie#ntlibs/settings/wcm/designs/intel/us/en/Fonts/resources/intel-clear-latin-lite-italic.eot?#iefix") format("embedded-opentype"), url("/etc.clientlibs/settings/wcm/designs/intel/us/en/Fonts/resources/intel-clear-latin-lite-italic.woff2") format("woff2"), url("/etc.clientlibs/settings/wcm/designs/intel/us/en/Fonts/resources/intel-clear-latin-lite-italic.woff") format("woff"), url("/etc.clientlibs/settings/wcm/designs/intel/us/en/Fonts/resources/intel-clear-latin-lite-italic.ttf") format("truetype");
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: "intel-clear-headline";
    src: url("/etc.clientlibs/settings/wcm/designs/intel/us/en/Fonts/resources/intel-clear-headline.eot");
    src: url("/etc.clientlibs/settings/wcm/designs/intel/us/en/Fonts/resources/intel-clear-headline.eot?#iefix") format("embedded-opentype"), url("/etc.clientlibs/settings/wcm/designs/intel/us/en/Fonts/resources/intel-clear-headline.woff2") format("woff2"), url("/etc.clientlibs/settings/wcm/designs/intel/us/en/Fonts/resources/intel-clear-headline.woff") format("woff"), url("/etc.clientlibs/settings/wcm/designs/intel/us/en/Fonts/resources/intel-clear-headline.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "intel-one";
    src: url("/etc.clientlibs/settings/wcm/designs/intel/us/en/Fonts/resources/intelone-display-light.woff2") format("woff2"), url("/etc.clientlibs/settings/wcm/designs/intel/us/en/Fonts/resources/intelone-display-light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "intel-one";
    src: url("/etc.clientlibs/settings/wcm/designs/intel/us/en/Fonts/resources/intelone-display-regular.woff2") format("woff2"), url("/etc.clientlibs/settings/wcm/designs/intel/us/en/Fonts/resources/intelone-display-regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "intel-one";
    src: url("/etc.clientlibs/settings/wcm/designs/intel/us/en/Fonts/resources/intelone-display-medium.woff2") format("woff2"), url("/etc.clientlibs/settings/wcm/designs/intel/us/en/Fonts/resources/intelone-display-medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "intel-one";
    src: url("/etc.clientlibs/settings/wcm/designs/intel/us/en/Fonts/resources/intelone-display-bold.woff2") format("woff2"), url("/etc.clientlibs/settings/wcm/designs/intel/us/en/Fonts/resources/intelone-display-bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
} 
.avm-blue body, .avm-blue a, .avm-blue div, .avm-blue dl, .avm-blue dt, .avm-blue dd, .avm-blue ul, .avm-blue ol, .avm-blue li, .avm-blue h4, .avm-blue h5, .avm-blue h6, .avm-blue pre, .avm-blue code, .avm-blue form, .avm-blue fieldset, .avm-blue legend, .avm-blue select, .avm-blue input, .avm-blue textarea, .avm-blue p, .avm-blue blockquote, .avm-blue th, .avm-blue td, .font-ovrde {
    font-family: "intel-clear", "tahoma", Helvetica, "helvetica", Arial, sans-serif !important;
}
.avm-blue h1, .avm-blue h2, .avm-blue h3, .avm-blue .h1, .avm-blue .h2, .avm-blue .h3 {
    font-family: "intel-one", "intel-clear", "tahoma", Helvetica, "helvetica", Arial, sans-serif !important;
}
.avm-blue h1, .avm-blue .h1 {
    font-family: "intel-one", "intel-clear", "tahoma", Helvetica, "helvetica", Arial, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
    line-height: 1.214;
}
@media screen and (min-width: 768px) {
    .avm-blue h1, .avm-blue .h1 {
        font-size: 2rem;
        line-height: 1.1875;
   }
}
@media screen and (min-width: 1200px) {
    .avm-blue h1, .avm-blue .h1 {
        font-size: 2.5rem;
        line-height: 1.2;
        letter-spacing: -0.0138rem;
   }
}
.avm-blue h2, .avm-blue .h2 {
    font-family: "intel-one", "intel-clear", "tahoma", Helvetica, "helvetica", Arial, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.625rem;
    line-height: 1.25;
}
@media screen and (min-width: 768px) {
    .avm-blue h2, .avm-blue .h2 {
        font-size: 1.75rem;
   }
}
@media screen and (min-width: 1200px) {
    .avm-blue h2, .avm-blue .h2 {
        font-size: 2.25rem;
   }
}
.avm-blue h3, .avm-blue .h3 {
    font-family: "intel-one", "intel-clear", "tahoma", Helvetica, "helvetica", Arial, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.375rem;
    line-height: 1.27;
}
@media screen and (min-width: 768px) {
    .avm-blue h3, .avm-blue .h3 {
        line-height: 1.25;
   }
}
@media screen and (min-width: 1200px) {
    .avm-blue h3, .avm-blue .h3 {
        font-size: 1.75rem;
   }
}
.avm-blue h4, .avm-blue .h4 {
    font-family: "intel-clear", "tahoma", Helvetica, "helvetica", Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 1.25rem;
    line-height: 1.2;
}
@media screen and (min-width: 1200px) {
    .avm-blue h4, .avm-blue .h4 {
        font-size: 1.375rem;
        line-height: 1.27;
   }
}
.avm-blue h5, .avm-blue .h5 {
    font-family: "intel-clear", "tahoma", Helvetica, "helvetica", Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 1.125rem;
    line-height: 1.25;
} 
@media screen and (min-width: 1200px) {
    .avm-blue h5, .avm-blue .h5 {
        font-size: 1.25rem;
   }
}
.avm-blue h6, .avm-blue .h6 {
    font-family: "intel-clear", "tahoma", Helvetica, "helvetica", Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 1rem;
    line-height: 1.25;
}
/** End Intel CSS */

.avm-bot-icon {
    display: none !important;
}

.avm-blue .text-box1 ::-webkit-input-placeholder {
    font-size: 14px !important;
}

.avm-blue .text-box1 ::placeholder {
    font-size: 14px !important;
}

.avm-blue .message-wrap .desc.text-content {
    white-space: inherit;
    top: 1px !important;
    margin-bottom: 3px !important;
    padding-right: 27px !important;
}

.avm-blue .feedback-thanks {
    top: 6px !important;
    height: auto !important;

}

.avm-blue .custom-feedback-container label {
    padding-top: 10px !important;
    top: 4px;
}

.avm-blue .custom-feedback-container {
    position: relative;
    top: -2px !important;
}

.avm-blue .webview_title {
    display: none;
}

.avm-blue .modal {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 60;
}

.avm-blue .modal-content {
    position: relative;
    background-color: #ffffff;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-background-clip: none !important;
}


.avm-blue .web-page-body {
    width: 400px;
    height: 500px;
    overflow: hidden;
}

.avm-blue .text-box1-cont {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.avm-blue .text-box1-cont2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 16px;
    align-content: center;
    width: 100%;
    height: 72%;
    justify-items: center;
    justify-self: center;
    justify-content: center;
    align-items: center;
}

.avm-blue .text-box1 {
    width: 320px;
    height: 320px;
    background: rgb(233, 232, 232);
    border: none;
    outline: none;
    resize: none;
    padding: 14px;
    font-size: 16px;
}

.avm-blue .text-box1:focus {
    outline: none;
}

.avm-blue .bottom-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10px;
    height: 17%;
    align-content: flex-end;
    align-items: flex-end;
}

.avm-blue .submit-btn1,
.avm-blue .cancel-btn {
    background-color: #0068B5;
    color: white;
    outline: none;
    border: none;
    border-radius: 4px;
    padding: 9px 46px;
}

.avm-blue .submit-btn1 {
    margin-right: 15px;
}

.avm-blue .submit-btn1:disabled,
.avm-blue .submit-btn1[disabled] {
    background-color: #cccccc;
}

.avm-blue .text-box1::placeholder {
    color: #727272 !important;
    font-size: 15px !important;
}

.avm-blue .text-box1 {
    color: black;
    font-size: 15px !important;
}

@media (max-height: 639px) {
    .avm-blue .lessTop {
        top: -48vh !important;
    }

    .avm-blue .lessTop1 {
        top: -72vh !important
    }
}

@media (min-height: 640px) {
    .avm-blue .mymodal {
        top: -72vh !important;
    }

    .avm-blue .mymodal1 {
        top: -75vh !important;
    }

    .avm-blue .lessTop {
        top: -70vh !important;
    }

    .avm-blue .lessTop1 {
        top: -72.5vh !important;
    }
}

@media only screen and (min-height: 690px) {
    .avm-blue .mymodal {
        top: -75vh !important;
    }

    .avm-blue .mymodal1 {
        top: -78vh !important;
    }

    .avm-blue .lessTop {
        top: -73.5vh !important;
    }

    .avm-blue .lessTop1 {
        top: -75vh !important;
    }
}

@media only screen and (min-height: 680px) and (max-height: 810px) {
    .avm-blue .lessTop {
        top: -73vh !important;
    }

    .avm-blue .mymodal {
        height: 86vh !important;
    }

    .avm-blue .mymodal1 {
        height: 86vh !important;
    }
}

@media only screen and (min-height: 880px) {

    .avm-blue .mymodal {
        top: -77vh !important;
    }

    .avm-blue .mymodal1 {
        top: -80vh !important;
    }

    .avm-blue .lessTop {
        top: -76vh !important;
    }

    .avm-blue .lessTop1 {
        top: -77vh !important;
    }
}

@media only screen and (min-height: 914px) {
    .avm-blue .mymodal {
        top: -77vh !important;
        height: 87vh !important;
    }

    .avm-blue .mymodal1 {
        top: -80vh !important;
        height: 87vh !important;
    }
}

.avm-blue .hide {
    display: none;
}
.avm-blue div#message-list-region {
  margin-right: 8px;
}

.avm-blue div#message-list-region::-webkit-scrollbar {
  width: 8px;
  height: 120px fixed;
}

.avm-blue div#message-list-region::-webkit-scrollbar-thumb {
  background: #808080;
  min-height: 120px;
  border-radius: 3px;
  border-top: 120px;
}
.avm-blue .quick-reply-container{
    margin-right: 8px;
    border-top: 3px solid transparent;
    border-top-width: 12px;
    bottom: 5px;
}
.avm-blue .top{
  border-bottom: 1px solid #ccc;
}
.avm-blue .compose-message-field{
  position:relative;
}
.avm-blue .compose-message-fields:before {
    content: ' ';
    display: block;
    width: 100%;
    height: 1px;
    position: absolute;
    top: -1px;
    left: 0;
    background-color: #ccc;
}


.avm-blue .quick-reply-container::-webkit-scrollbar{
  width: 8px;
  height: 120px
}

.avm-blue .quick-reply-container::-webkit-scrollbar-thumb {
  background: #808080;
  border-radius: 3px;
}

body.avm-blue .default_card_description .dockp::-webkit-scrollbar {
  width: 8px;
  height: 120px
}

body.avm-blue .default_card_description .dockp::-webkit-scrollbar-thumb {
  background: #808080;
  border-radius: 5px;
}

.avaamo__chat__widget.avm-blue .avaamo__popup.draggable:not(.loading) {
    background-color: #fff;
}

.avm-blue .list-container {
    width: 285px;
    border: 1px solid #f7f7f7;
    border-radius: 0px 15px 15px 15px;
    overflow: hidden;
    background: #fff;
}

.avm-blue .item-title {
    padding-bottom: 4px;
    font-weight: normal !important;
    color: #262626;
}

.avm-blue .button {
    background-color: white;
    color: #0068B5;
    border: 1px solid #0068B5;
    border-radius: 15px;
    padding: 7px 11px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 8px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.avaamo__chat__widget.avm-blue .avaamo__popup.draggable:not(.loading) {
    background-color: #fff;
}
.avm-blue .custom-modal .close {
    color: black;
    float: right;
    font-size: 28px;
    margin-top: -6px !important;
    margin-right: 14px;
    font-weight: bold;
}

.avm-blue table, .avm-blue th, .avm-blue td {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid black;

}
.avm-blue a.quick-reply {
    max-width: 90%;
    display: inline-block;
    color: #0068B5;
    float: left;
    margin: 3px;
    border-radius: 20px;
    padding: 5px 11px 5px 10px;
    text-align: left;
    border: 1px solid #0068B5;
}
.avm-blue a.quick-reply:hover{
  color: #fff !important;
}
.avm-blue a.quick-reply:hover, .avm-blue a.quick-reply:active, .avm-blue a.quick-reply:focus{
    color: #fff !important;
    border-color: #0068B5 !important;
    outline: none;
}

.avm-blue .messages .conversation-item {
    padding: 16px 12px 0px;
}

.avm-blue .quick-reply-container {
    position: relative;
    padding: 5px 0;
    max-height: 150px;
    overflow: auto;
}
.avm-blue .custom-modal .mymodal1 {
    position: fixed;
    z-index: 100;
    left: 0;
    top: -70.5vh !important;
    width: 100%;
    height: 85vh;
    overflow: hidden;
    background-color: rgb(225,225,225);
}

.avm-blue test{
    background: #d7f3a2;
    padding-left: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 0px 15px 15px 15px;
    display: block;
    top: 59px;
    line-height: 1.5;
    word-break: break-word;
}
.avm-blue svg{
    position: absolute;
    left: -31px;
    top: -23px !important;
}
.avm-blue .list-item {
    display: contents;
    background: white;
    word-break: break-word;
    padding: 10px;
    align-items: center;
} 
.avm-blue .custom-image {
  pointer-events: none;
}
.avm-blue .la-btn{
    background: url(https://s3.us-west-1.amazonaws.com/static.aiavaamo.com/live-agent-icon.svg);
    background-repeat: no-repeat;
    background-size: 20px;
}

.avm-blue h2.title::before {
    width: 100%;
    position: absolute;
    height: 100%;
    z-index: 1;
    background-color: #0068B5;
}

.avm-blue .nav-bar h2 {
    position: relative;
    top: 5px;
}

.avm-blue a.close.avaamo_popup__close.close-bot.avm-icon-cross {
    top: 10px;    
    z-index: 2;
    
}
.avm-blue .bot {
    height: auto;
    position: absolute;
    z-index: 1;
    background: #fff;
    bottom: 0;
    left: 0;
}
.avm-blue .botMenu {
    max-height: 100%;
    background: #f4f4f4;
}
.avm-blue .bot-menu-cont {
    display: block;
    height: 100%;
    overflow: auto;
}

.avm-blue .compose-message-fields .textarea-wrap {
    position: relative;
    bottom: -2px;
}
.avm-blue .textarea-wrap .txt-common {
    line-height: 20px;
    min-height: 100%;
    height: 20px !important;
}
.avm-blue .avm-icon-menu:before{
    bottom: -3px;
    position: relative;
}
.avm-blue .compose-message-fields {
    height: auto;
    border-bottom: 1px solid white;
}
.avm-blue #messages-contacts-region {
    height: calc(100% - 333px) !important;
}
.am-blue .compose-message-fields {
  padding: 10px 15px 10px;
}
.avm-blue .avm-icon-menu:before {
     bottom: -1.5px; 
    position: relative;
}

.avm-blue .time-stamp {
    position: absolute;
    right: 25px;
    bottom: 10px;
    z-index: 99999999;
}
/* BEGIN TEST */
.avaamo__icon {
    background-image: url(https://www.intel.com/content/dam/www/public/us/en/include/cxs-xd/avaamo/ani-chat-icon2-geode.gif?1627887594);
    height: 80px;
    width: 80px;
    border-radius: 0%;
    background-size: 80px;
    bottom: 0;
    right: 0;
}
.avaamo__icon {
    animation: slideinfromright 0.35s ease-in;
    -webkit-animation: slideinfromright 0.35s ease-in;
}
