* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Intel Clear', sans-serif;
}


.ds_container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px; 
    padding-right: 10px;
}
.ds-Line-Height{
    line-height: 20px;
}

/* <!-- ************   Developer Clouds for Accelerated Computing  ************ --> */
.ds_develop-bg{
   background-image: url(/img/dhruvin/Development-Tools/Developer-Cloud/bg-img.png);
   background-color: #00285a;
   background-size: cover;
   background-position: center;        
   padding-top: 2.5rem ;
   padding-bottom: 4rem;
}  
.ds_develop-anker{
    color: white !important;
    text-decoration: underline dotted;
    text-decoration-style: dashed;
    text-underline-offset: .3rem;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: .5px;
}
.ds_develop-anker:hover{
    text-decoration: underline;
}
.ds_develop-btn{
    color: white !important;
    background: transparent !important;
    border:1px solid white !important;
    padding: .5625rem 1.5rem;
    text-decoration: none;
}
.ds_develop-btn:hover{
    color: #004a86 !important;
    background-color: #e9e9e9 !important;
    border-color: #e9e9e9 !important;
}

/* <!-- ************  Use the Cloud Platform that Matches Your Workload  ************ --> */
.ds_plat-bg{
    background-color: white;
    padding: 2rem 0 2.5rem;
}


/* <!-- ************  Available Intel® Hardware  ************ --> */
.ds_Avail-bg{
    background-color: #f7f7f7;
    padding-top: 3rem;
    padding-bottom: 3rem;
}


/* <!-- ************  Available Development & Run Environments  ************ --> */
.ds_run-bg{
   background-color: white;
   padding-top: 3rem;
   padding-bottom: 3rem;
}
.ds_avial-img{
    width: 80%;
}


/* <!-- ************  Testimonials ************ --> */
.ds_testi-bg{
   padding: 40px 0px;
   background-color: #f3f3f3;
}
.ds_testi-img{
    width: 100%;
    transition: all 0.2s ease-in-out;
}
.ds_testi-img:hover{
    scale: 1.1;
}





/* ********* Main Container ******** */
@media (min-width: 1650px) {
    .ds_container {
        width: 1610px;
    }
}
@media (min-width: 1200px) and (max-width: 1649px) {
    .ds_container {
        width: 1170px;
        max-width: none;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .ds_container {
        width: 970px;
        max-width: none;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .ds_container {
        width: 750px;
        max-width: none;
    }
}
@media (min-width: 480px) and (max-width: 767px) {
    .ds_container {
        max-width: 750px;
    }
}




/* ############# All Section Media Query ################ */
@media (max-width:768px) {
/* <!-- ************   Developer Clouds for Accelerated Computing  ************ --> */
.ds_develop-bg{ 
    padding: 1.5rem 0px  2rem;
}  

/* <!-- ************  Available Intel® Hardware  ************ --> */
.ds_Avail-bg{
    background-color: #f7f7f7;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

/* <!-- ************  Available Development & Run Environments  ************ --> */
.ds_run-bg{
    background-color: white;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
 }

/* <!-- ************  Testimonials ************ --> */
 .ds_testi-bg{
    padding: 30px 0px;
    background-color: #f3f3f3;
 }
 .ds_testi-img{
    width: 80%;
}
}


@media (max-width:450px) {
/* <!-- ************  Available Development & Run Environments  ************ --> */
.ds_avial-img{
    width: 100%;
}

}