* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Intel Clear', sans-serif;
}


.ds_container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px; 
    padding-right: 10px;
}
.ds-Line-Height{
    line-height: 20px;
}


/* <!-- **********  Distributors & Resellers  **********     --> */
.ds_resel-bg{
    background-image: url(/img/dhruvin/Development-Tools/Distributors-Resellers/main-bg.svg);
    background-color: #262626;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding: 2.5rem 0;
}


/*  <!-- **********  Distributors  **********     --> */
.ds_distri-bg{
    background-color: #f7f7f7;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}
.ds_distri-anker{
    color: #0068b5 !important;
    text-decoration: none;
    text-underline-offset: .3rem;
    text-decoration-skip-ink: auto;
}
.ds_distri-anker:hover{
    text-decoration: underline;
    color: #004a86 !important;
}


/* <!-- ********** Resellers  **********     --> */
.ds_reseller-bg{
    background-color: white;
    padding-bottom: 3rem;
    padding-top: 3rem;
}


/* <!-- ********** Select a Country **********     --> */
.ds_select-main{
    display: block;
    width: 100%;
    border: 1px solid gray;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    height: 55px;
    padding: 18px 76px 18px 16px;
}
.ds_select-main:hover{
    background-color: #e9e9e9;

}
.ds_select-main:focus{
    background-color: #e9e9e9;
}
.ds_select-main option{
    line-height: 1.5;
    /* padding: 10px 0px ; */
}


/* <!-- ********** All Country **********     --> */
.ds_all-bg{
    background-color: #f7f7f7;
    padding: 2rem 0 2.5rem;
}
.ds_all-body{
    background-color: white;
    padding: .75rem 1.5rem; 
}
.ds_all-anker{
    color: #0068b5 !important;
    text-decoration: underline dotted;
    text-decoration-style: dashed;
    text-underline-offset: .3rem;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: .5px;
    font-weight: bold;
}
.ds_all-anker:hover{
    color: #004a86 !important;
    text-decoration: underline;
}
.ds_no-anker{
    text-decoration: none;
    font-weight: bold;
    color: black !important;
}

/* ********* Main Container ******** */
@media (min-width: 1650px) {
    .ds_container {
        width: 1610px;
    }
}
@media (min-width: 1200px) and (max-width: 1649px) {
    .ds_container {
        width: 1170px;
        max-width: none;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .ds_container {
        width: 970px;
        max-width: none;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .ds_container {
        width: 750px;
        max-width: none;
    }
}
@media (min-width: 480px) and (max-width: 767px) {
    .ds_container {
        max-width: 750px;
    }
}




/* ############# All Section Media Query ################ */

@media (max-width:768px) {
/* <!-- **********  Distributors & Resellers  **********     --> */
.ds-resel-bg{
  padding: 1.5rem 0 2rem;
}
}