* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Intel Clear', sans-serif;
}


.ds_container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px; 
    padding-right: 10px;
}
.ds-Line-Height{
    line-height: 20px;
}


/* <!-- **************** Quartus® Prime Software Suite and FPGA Development Tools ********* --> */
.ds_fgpa-bg{
    background-color: #00285a;
    padding: 40px 0;
}

/* <!-- *****************  Browse Development Tools  ****************** --> */
.ds_card-title{
    font-size:22px;
}
.ds_card-anker{
    color: #0068b5;
    text-decoration: underline dotted;
    text-decoration-style: dashed;
    text-underline-offset: .3rem;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: .5px;
}
.ds_card-anker:hover{
    text-decoration: underline;
    color: #004a86;
    cursor: pointer;
}

/* <!-- *****************  EDA Ecosystem  ****************** --> */

.ds_eco-bg{
    background: #f7f7f7;
    padding: 48px 0px;
}
.ds_eco-anker{
    color: #fff;
    background-color: #0068b5;
    padding: .625rem 1.5rem;
    text-decoration: none;
}
.ds_eco-anker:hover{
    color: #fff;
    background-color: #004a86;
    cursor: pointer;
}

/* <!-- *****************  Additional Resources ****************** --> */
.ds_add-bg{
    background: #0068b5;
    padding-top: 48px;
    padding-bottom: 24px;
}
.ds_add-title a{
    text-decoration: none;
    color: white;
    text-decoration: underline dotted;
    text-decoration-style: dashed;
    text-underline-offset: .3rem;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: .5px;
}
.ds_add-para{
    line-height: 20px;
}

/* ********* Main Container ******** */
@media (min-width: 1650px) {
    .ds_container {
        width: 1610px;
    }
}
@media (min-width: 1200px) and (max-width: 1649px) {
    .ds_container {
        width: 1170px;
        max-width: none;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .ds_container {
        width: 970px;
        max-width: none;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .ds_container {
        width: 750px;
        max-width: none;
    }
}
@media (min-width: 480px) and (max-width: 767px) {
    .ds_container {
        max-width: 750px;
    }
}




/* ############# All Section Media Query ################ */
@media (max-width:550px) {
/* <!-- **************** Quartus® Prime Software Suite and FPGA Development Tools ********* --> */
  .ds_fgpa-title{
    font-size: 16px;
  }   
  .ds_fgpa-para{
    font-size: 12px;
  }
/* <!-- *****************  Browse Development Tools  ****************** --> */
.ds_card-title{
    font-size: 14px;
}
.ds_text-bold{
    font-size: 13px;
}
.ds_card-anker{
    font-size: 12px;
}
/* <!-- *****************  EDA Ecosystem ****************** --> */
.ds_eco-para{
    font-size: 13px;
}
.ds_eco-anker{
    font-size: 13px;
}
/* <!-- *****************  Additional Resources ****************** --> */
.ds_add-title a{
    font-size: 15px;
}
.ds_add-para {
    font-size: 13px;
}
}