* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Intel Clear", sans-serif;
  }
  
.ds-Line-Height{
    line-height: 20px;
}
.ds_container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
}
.ds_multi-anker{
  color: #0068b5 !important;
  text-decoration: underline dotted;
  text-decoration-style: dashed;
  text-underline-offset: .3rem;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: .5px;
}
.ds_multi-anker:hover{
  text-decoration: underline;
  color: #004a86 !important;
}

/* <!-- ***************   Quartus® Prime Software Suite and FPGA Development Tools  ************** --> */
.ds_prime-bg{
    background-color: #00285a;
    padding: 40px 0;
}

/* <!-- ***************   Browse Development Tools  ************** --> */
.ds_brow-bg{
    background-color: white;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}







 /* ********* Main Container ******** */
 @media (min-width: 1650px) {
    .ds_container {
      width: 1610px;
    }
  }
  @media (min-width: 1200px) and (max-width: 1649px) {
    .ds_container {
      width: 1170px;
      max-width: none;
    }
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    .ds_container {
      width: 970px;
      max-width: none;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    .ds_container {
      width: 750px;
      max-width: none;
    }
  }
  @media (min-width: 480px) and (max-width: 767px) {
    .ds_container {
      max-width: 750px;
    }
  }  


/* ********* All Section Media Query ******** */