* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Intel Clear', sans-serif;
}


.ds_container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px; 
    padding-right: 10px;
}
.ds-Line-Height{
    line-height: 20px;
}
.ds_cursor{
    cursor: pointer;
}


/* <!-- *********** intel registration center - user portal  ********** --> */
.ds_reg-bg{
    background-image: url(/img/dhruvin/Development-Tools/Open-Active-Management/bg-img.svg);
    background-color: #262626;
    background-size: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    padding: 2.5rem 0;
}
.ds_reg-para{
    font-size: 13px;
}
.ds_reg-btn{
    background-color:white;
    border: none;
    outline:none;
    padding: 5px 10px;
}
.ds_reg-anker{
    font-size: 13px;
}


/* <!-- ************* Entitlement *********** --> */
.ds_enti-bg{
    padding: 2rem 0px;
    background: rgb(247, 247, 247);
}
.ds_enti-box{
    padding: 26px 22px 45px;
    background-color: white;
}
/* .ds_enti-title */
.ds_enti-para{
    font-size: 13px;
}


/* ********* Main Container ******** */
@media (min-width: 1650px) {
    .ds_container {
        width: 1610px;
    }
}
@media (min-width: 1200px) and (max-width: 1649px) {
    .ds_container {
        width: 1170px;
        max-width: none;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .ds_container {
        width: 970px;
        max-width: none;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .ds_container {
        width: 750px;
        max-width: none;
    }
}
@media (min-width: 480px) and (max-width: 767px) {
    .ds_container {
        max-width: 750px;
    }
}


/* ############# All Section Media Query ################ */
@media (max-width:550px) {

/* <!-- *********** intel registration center - user portal  ********** --> */
.ds_reg-heading{
    font-size: 17px;
}
.ds_reg-para {
    font-size: 12px;
}
.ds_reg-btn{
    font-size: 14px;
}
.ds_reg-anker {
    font-size: 12px;
}
.ds_enti-title{
    font-size: 16px !important;
}
.ds_enti-para{
    font-size: 12px;
}
}