* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Intel Clear', sans-serif;
}


.ds_container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px; 
    padding-right: 10px;
}
.ds-Line-Height{
    line-height: 20px;
}
.ds_cursor{
    cursor: pointer;
}


/* <!-- ************** Open Active Management Technology  **************** --> */
.ds_open-bg{
   background-image: url(/img/dhruvin/Development-Tools/Open-Active-Management/bg-img.svg);
   background-color: #262626;
   background-size: 100%;
   background-position: center;
   background-repeat: no-repeat;
   padding: 2.5rem 0;
}
.ds_open-img{
    width: 50%;
}


/* <!-- ***********  Mini Navbar   *********     --> */

.VK_ai_navigation {
    background-color: white;
    border-bottom: 1px solid #d7d7d7;
  }
  
  .VK_ai_nav_bar a {
    color: #262626;
    padding: 15px 30px;
    word-break: normal;
    font-weight: 500;
    white-space: nowrap;
  }
  
  .VK_ai_nav_bar li {
    margin: 0px 15px;
  }
  
  .VK_ai_navigation.VK_sticky_nav_bar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .VK_active_link {
    position: relative;
    color: #00aeef;
  }
  .VK_active_link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    background: #00aeef;
  }
  .VK_ai_nav_bar li a {
    transition: color 0.3s, border-bottom 0.3s;
  }


.VK_ai_nav_bar a.active {
    font-weight: bold;
    color: #0068b5 !important;
    position: relative;
}
.VK_ai_nav_bar a.active::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    background: #00aeef;
}



/* <!-- ********** Overview ********* --> */
.ds_over-bg{
    background: #f7f7f7;
}
.ds_over-btn{
    padding: 6px 15px;
    text-decoration: none;
    background-color: #0068b5;
    color:white;
}
.ds_over-btn:hover{
    color:white;
    background-color: #005a9d;
}


/* <!-- ********** System Requirements ********* --> */
.ds_sys-bg{
    padding: 3rem 0px;
}
.ds_sys-anker{
    color: #0068b5;
    text-decoration: underline dotted;
    text-decoration-style: dashed;
    text-underline-offset: .3rem;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: .5px;
}
.ds_sys-anker:hover{
    color: #004a86;
    text-decoration: underline;
}

/* <!-- --------- Software Architecture  ------------- --> */
.ds_soft-icon{
    position:absolute;
    top:25px;
    right:0;
    font-size: 25px;
}
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #myImg:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .ds_modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 1200px;
  }
  
  /* Caption of Modal Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation */
  .modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }


/* <!-- ********** Certificates to Support Intel® AMT ********* --> */
.ds_sup-bg{
    background-color: #f7f7f7;
    padding: 2.5rem 0px;
}
.ds_sup-anker{
    color: #0068b5;
    text-decoration: underline dotted;
    text-decoration-style: dashed;
    text-underline-offset: .3rem;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: .5px;
}
.ds_sup-anker:hover{
    color: #004a86;
    text-decoration: underline;
    text-decoration-thickness: .5px;
}

/* <!-- ********** Documentation & Support ********* --> */
.ds_doc-bg{
    padding: 2.5rem 0px;
}

/* ********* Main Container ******** */
@media (min-width: 1650px) {
    .ds_container {
        width: 1610px;
    }
}
@media (min-width: 1200px) and (max-width: 1649px) {
    .ds_container {
        width: 1170px;
        max-width: none;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .ds_container {
        width: 970px;
        max-width: none;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .ds_container {
        width: 750px;
        max-width: none;
    }
}
@media (min-width: 480px) and (max-width: 767px) {
    .ds_container {
        max-width: 750px;
    }
}



/* ############# All Section Media Query ################ */
@media (max-width:550px) {
    .ds_open-title{
        font-size: 18px !important;
    }
    .ds_open-text{
        font-size: 15px;
    }
    .ds_open-para{
        font-size: 13px;
    }

/* <!-- ********** Overview ********* --> */
.ds_over-heading{
    font-size: 16px;
}
.ds_over-para{
    font-size: 13px;
}
.ds_over-btn{
    font-size: 14px;
}

/* <!-- ********** System Requirements ********* --> */
.ds_sys-title{
    font-size: 15px !important;
}

/* <!-- ********** Certificates to Support Intel® AMT ********* --> */
.ds_sup-anker{
    font-size: 14px;
}

/* <!-- ********** Documentation & Support ********* --> */
.ds_doc-bold{
    font-size: 15px;
}

}