* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Intel Clear", sans-serif;
  }
  
.ds-Line-Height{
    line-height: 20px;
}
.ds_container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
}
.ds_multi-anker{
  color: #0068b5 !important;
  text-decoration: underline dotted;
  text-decoration-style: dashed;
  text-underline-offset: .3rem;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: .5px;
}
.ds_multi-anker:hover{
  text-decoration: underline;
  color: #004a86 !important;
}


/* <!-- *************  Develop and Scale Your Code with Confidence  *******************     --> */
.ds_scale-bg{
   background-image: url(/img/dhruvin/Development-Tools/OneApi-Toolkit/main-bg.avif);
   background-color: #262626;
   background-size: cover;
   background-position: center;
   padding: 3rem 0;
}
.ds_scale-btn{
    color: #0068b5 !important;
    background: #fff !important;
    padding: .625rem 1.5rem;
    text-decoration: none;
}
.ds_scale-anker{
    text-decoration: underline dotted;
    text-decoration-style: dashed;
    text-underline-offset: .3rem;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: .5px; 
}
.ds_scale-anker:hover{
    text-decoration: underline;
 }



  /* <!-- ************* Download the World's First SYCL* 2020 Conformant Compiler *******************     --> */
.ds_down-bg{
    background: #0068b5 !important;
    padding: 2rem 0px;
}



/* <!-- ***********  Mini Navbar   *********     --> */

.VK_ai_navigation {
  background-color: white;
  border-bottom: 1px solid #d7d7d7;
}

.VK_ai_nav_bar a {
  color: #262626;
  padding: 15px 30px;
  word-break: normal;
  font-weight: 500;
  white-space: nowrap;
}

.VK_ai_nav_bar li {
  margin: 0px 15px;
}

.VK_ai_navigation.VK_sticky_nav_bar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.VK_active_link {
  position: relative;
  color: #00aeef;
}
.VK_active_link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  background: #00aeef;
}
.VK_ai_nav_bar li a {
  transition: color 0.3s, border-bottom 0.3s;
}


.VK_ai_nav_bar a.active {
  font-weight: bold;
  color: #0068b5 !important;
  position: relative;
}
.VK_ai_nav_bar a.active::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  background: #00aeef;
}


/* <!-- ************* Solutions for Faster and Scalable Software Development Anywhere *******************     --> */
.ds_fast-bg{
    background-color: white;
    padding: 2rem 0 2.5rem
}




/* <!-- *********  What Customers Are Saying ********   --> */
.ds_cust-bg{
    background-color: #f7f7f7;
    padding: 3rem 0px;
 }
 .ds_cust-ul{
   display: flex;
   flex-wrap: nowrap;
   overflow-x: auto;
   width: 100%;
   border-bottom: 1px solid rgb(202, 201, 201);
 }
 .ds_cust-active{
   border-color: #00aeef !important;
   font-weight: bold;
 }
 .ds_cust-anker{
    text-decoration: none;
    border-bottom: .25rem solid transparent;
    outline: 0;
    cursor: pointer;
    color: #0068b5 !important;
    display:inline-block;
    padding: .75rem 1.5rem .5rem;
    white-space: nowrap;
 }
 .ds_indus-hide{
   display: none !important;
 }
 .ds_indep-hide {
   display: none !important;
 }
 
 /* <!-- *********  Reviews & Testimonials ********   --> */
.ds_revew-bg{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

/* <!-- *********  Accelerate and Scale Your AI and HPC Workloads ********   --> */
.ds_ai-bg{
  background-image: url(/img/dhruvin/Development-Tools/OneApi-Toolkit/bg-img.png);
  padding: 2rem 0 2.5rem;
  background-size: cover;
}

/* <!-- *********  Latest Tech Insights ********   --> */
.ds_latest-btn{
    color: #fff !important;
    background-color: #0068b5 !important;
    padding: .625rem 1.5rem;
    text-decoration: none;
}

/* <!-- ***********  Get the Latest Edge Software Development Resources from Intel *********     --> */
.ds_the-bg {
  background: linear-gradient(90deg, #7bdeff 50%, #fff 50%);
}

.ds_the-body {
  padding: 80px 0px;
}

.ds_the-layer {
  background-color: #7bdeff;
  position: absolute;
  width: calc(100% - 10px);
  top: 0;
  clip-path: polygon(0 0, 0 100%, 100% 50%);
  height: 100%;
  transition: all .35s ease-in-out;
  left: 0px;
  z-index: 1;
}
.ds_the-input{
  padding: 1rem .75rem;
  width: 100%;
  color: #262626;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid gray;
  appearance: none;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.ds_the-input:focus{
  border-color: #66afe9 !important;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
  outline: 5px auto ;
}
.ds_the-select{
  padding-top: 1.625rem;
  padding: 1.1rem 2.25rem 1.2rem .75rem;
  display: block;
  width: 100%;
  border: 1px solid gray;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.ds_the-mini-anker{
  color: #0068b5 !important;
  text-decoration: underline dotted;
  text-decoration-style: dashed;
  text-underline-offset: .3rem;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: .5px;
}
.ds_the-mini-anker:hover{
  color: #004a86 !important;
  text-decoration: underline;
}
.ds_the-btn{
  color: white !important;
  background-color: #0068b5 !important;
  padding: .625rem 1.5rem;
  text-decoration: none;
}

/* <!-- ***********  Mini Footer  *********     --> */
.ds_foot-bg{
  background-image: url(/img/dhruvin/Development-Tools/OneApi-Toolkit/footer-img.png);
  background-position: center;
  background-size: cover;
  background-color: #0068b5;
  
}










 /* ********* Main Container ******** */
 @media (min-width: 1650px) {
    .ds_container {
      width: 1610px;
    }
  }
  @media (min-width: 1200px) and (max-width: 1649px) {
    .ds_container {
      width: 1170px;
      max-width: none;
    }
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    .ds_container {
      width: 970px;
      max-width: none;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    .ds_container {
      width: 750px;
      max-width: none;
    }
  }
  @media (min-width: 480px) and (max-width: 767px) {
    .ds_container {
      max-width: 750px;
    }
  }  


/* ********* All Section Media Query ******** */
@media (max-width:991px) {
  /* <!-- ***********  Get the Latest Edge Software Development Resources from Intel *********     --> */
    .ds_the-body{
      padding-top: 2.5rem;
      padding-bottom: 1.25rem;
    }
    .ds_the-layer {
      background-color: #7bdeff; /* Change color to see if media query is working */
      clip-path: polygon(50% 50%, 100% 50%, 50% 100%, 0% 50%);
      top: -77px;
      height: 151px;
      width: 100%;
    }
    .ds_the-bg{
    background: linear-gradient(0deg, #7bdeff 0%, #fff 0%);
    
    }
    .ds_the-inner{
    background-color: #7bdeff;
    }
    .ds_the-main-form{
    margin-top: 100px !important;
    }    
}    
@media (max-width:768px) {
/* <!-- *********  Reviews & Testimonials ********   --> */
.ds_revew-bg{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
/* <!-- *********  Accelerate and Scale Your AI and HPC Workloads ********   --> */
.ds_ai-btn{
    display: block;
    width: 100%;
    text-align: center;
}
}