* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Intel Clear", sans-serif;
  }
  
.ds-Line-Height{
    line-height: 20px;
}
.ds_container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
}
.ds_multi-anker{
  color: #0068b5 !important;
  text-decoration: underline dotted;
  text-decoration-style: dashed;
  text-underline-offset: .3rem;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: .5px;
}
.ds_multi-anker:hover{
  text-decoration: underline;
  color: #004a86 !important;
}
/* <!-- **********  Intel® Rendering Toolkit  *********** --> */
.ds_render-bg{
    background-image: url(/img/dhruvin/Development-Tools/Rendering-Toolkit/bg-img.png);
    background-color: #000f8a;
    padding-top: 2.5rem ;
    background-size: cover;
    background-position: center;
    padding-bottom: 15px;
}

/* <!-- ***********  Mini Navbar   *********     --> */

.VK_ai_navigation {
    background-color: white;
    border-bottom: 1px solid #d7d7d7;
  }
  
  .VK_ai_nav_bar a {
    color: #262626;
    padding: 15px 30px;
    word-break: normal;
    font-weight: 500;
    white-space: nowrap;
  }
  
  .VK_ai_nav_bar li {
    margin: 0px 15px;
  }
  
  .VK_ai_navigation.VK_sticky_nav_bar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .VK_active_link {
    position: relative;
    color: #00aeef;
  }
  .VK_active_link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    background: #00aeef;
  }
  .VK_ai_nav_bar li a {
    transition: color 0.3s, border-bottom 0.3s;
  }


.VK_ai_nav_bar a.active {
    font-weight: bold;
    color: #0068b5 !important;
    position: relative;
}
.VK_ai_nav_bar a.active::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    background: #00aeef;
}



/* <!-- ***********  Photorealistic Rendering That Scales  *********     --> */

.ds_photo-anker{
    color: #0068b5 !important;
    text-decoration: underline dotted;
    text-decoration-style: dashed;
    text-underline-offset: .3rem;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: .5px;
}
.ds_photo-anker:hover{
    color: #004a86 !important;
    text-decoration: underline;
}
.ds_photo-body{
    background-color: #0068b5 !important;
    padding: 2.5rem;
}


/* <!-- *********  What's Included in RenderKit ********   --> */
.ds_join-bg{
    background-color: white;
    padding: 40px 0px;
}

.ds_join-anker{
    color: #0068b5 !important;
    text-decoration: none;
    font-weight: bold;
    text-underline-offset: .3rem;
}
.ds_join-anker:hover{
    text-decoration: underline;
    text-decoration-thickness: .5px;
    color: #004a86 !important;
}


/* <!-- *********   Related Component ********   --> */
/* Above same css  */


/* <!-- *********   What's New ********   --> */
.ds_new-bg{
    background-color: #f7f7f7;
    padding: 2.5rem 20px;
}


/* <!-- *********  Develop in the Intel® Tiber™ Developer Cloud ********   --> */
.ds_tiber-bg{
  background-color: #0068b5;
  padding: 3rem 0px;
}
.ds_tiber-btn{
  color: #0068b5 !important;
  background-color: white !important;
  padding: .625rem 1.5rem ;
  text-decoration: none;
}
.ds_tiber-anker{
  color: white !important;
  text-decoration: underline dashed;
  text-underline-offset: .3rem;
  text-decoration-thickness: .5px;
}
.ds_tiber-anker:hover{
  text-decoration: underline;
}


/* <!-- *********  Slider ********   --> */
.owl-carousel{
  display: block !important;
}
.owl-dot span{
  background-color: #8f8e8e !important;
}
.owl-dot.active span{
  background-color: black !important;
}

/* <!-- *********  What Customers Are Saying ********   --> */
.ds_cust-bg{
   background-color: white;
   padding: 3rem 0px;
}
.ds_cust-ul{
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  width: 100%;
  border-bottom: 1px solid rgb(202, 201, 201);
}
.ds_cust-active{
  border-color: #00aeef !important;
  font-weight: bold;
}
.ds_cust-anker{
   text-decoration: none;
   border-bottom: .25rem solid transparent;
   outline: 0;
   cursor: pointer;
   color: #0068b5 !important;
   display:inline-block;
   padding: .75rem 1.5rem .5rem;
   white-space: nowrap;
}
.ds_indus-hide{
  display: none !important;
}
.ds_indep-hide {
  display: none !important;
}


/* <!-- ********* The Render Kit in Action ********   --> */

.ds_kit-bg{
   background-color: white;
   padding-top: 2.5rem;
   padding-bottom: 2.5rem;
}

/* <!-- ********* Documentation & Code Samples ********   --> */
.ds_code-bg{
  background-color: white;
  padding: 2rem 0px;
}
.ds_code-btn{
  color: white !important;
  background-color: #0068b5 !important  ;
  border-radius: 0;
  padding: .625rem 1.5rem;;
  text-decoration: none;
}

/* <!-- ********* Training ********   --> */
.ds_train-bg{
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  background-color: white;
}
.ds_train-anker{
  color: #0068b5 !important;
  text-decoration: none;
  display: block;
  line-height: 25px;
}
.ds_train-anker:hover{
  color: #004a86 !important;
  text-decoration: underline;
  text-decoration-thickness: .5px;
}


/* <!-- ********* Specifications ********   --> */
.ds_speci-bg{
  background-color: white;
  padding: 2rem 0px;
}

/* <!-- ********* Get Help ********   --> */
.ds_get-bg{
   background-color: white;
   padding: 2rem 0px;

}


/* <!-- ***********  Get the Latest Edge Software Development Resources from Intel *********     --> */
.ds_the-bg {
  background: linear-gradient(90deg, #7bdeff 50%, #fff 50%);
}

.ds_the-body {
  padding: 80px 0px;
}

.ds_the-layer {
  background-color: #7bdeff;
  position: absolute;
  width: calc(100% - 10px);
  top: 0;
  clip-path: polygon(0 0, 0 100%, 100% 50%);
  height: 100%;
  transition: all .35s ease-in-out;
  left: 0px;
  z-index: 1;
}
.ds_the-input{
  padding: 1rem .75rem;
  width: 100%;
  color: #262626;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid gray;
  appearance: none;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.ds_the-input:focus{
  border-color: #66afe9 !important;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
  outline: 5px auto ;
}
.ds_the-select{
  padding-top: 1.625rem;
  padding: 1.1rem 2.25rem 1.2rem .75rem;
  display: block;
  width: 100%;
  border: 1px solid gray;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.ds_the-mini-anker{
  color: #0068b5 !important;
  text-decoration: underline dotted;
  text-decoration-style: dashed;
  text-underline-offset: .3rem;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: .5px;
}
.ds_the-mini-anker:hover{
  color: #004a86 !important;
  text-decoration: underline;
}
.ds_the-btn{
  color: white !important;
  background-color: #0068b5 !important;
  padding: .625rem 1.5rem;
  text-decoration: none;
}


  /* ********* Main Container ******** */
@media (min-width: 1650px) {
    .ds_container {
      width: 1610px;
    }
  }
  @media (min-width: 1200px) and (max-width: 1649px) {
    .ds_container {
      width: 1170px;
      max-width: none;
    }
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    .ds_container {
      width: 970px;
      max-width: none;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    .ds_container {
      width: 750px;
      max-width: none;
    }
  }
  @media (min-width: 480px) and (max-width: 767px) {
    .ds_container {
      max-width: 750px;
    }
  }  


/* ********* All Section Media Query ******** */
@media (max-width:991px) {
  /* <!-- ***********  Get the Latest Edge Software Development Resources from Intel *********     --> */
    .ds_the-body{
      padding-top: 2.5rem;
      padding-bottom: 1.25rem;
    }
  
  /* <!-- ***********  Get the Latest Edge Software Development Resources from Intel *********     --> */
  .ds_the-layer {
    background-color: #7bdeff; /* Change color to see if media query is working */
    clip-path: polygon(50% 50%, 100% 50%, 50% 100%, 0% 50%);
    top: -77px;
    height: 151px;
    width: 100%;
  }
  .ds_the-bg{
  background: linear-gradient(0deg, #7bdeff 0%, #fff 0%);
  
  }
  .ds_the-inner{
  background-color: #7bdeff;
  }
  .ds_the-main-form{
  margin-top: 100px !important;
  }
}  

@media (max-width:768px) {
/* <!-- **********  Intel® Rendering Toolkit  *********** --> */
    .ds_render-bg{
        padding-top:0 ;
    }
/* <!-- ***********  Photorealistic Rendering That Scales  *********     --> */
    .ds_photo-body{
        padding: 1rem 1rem 2.5rem;
    }
    
}

@media (max-width:450px) {
    .ds_new-ul{
        padding-left: 0;
    }    
}