* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Intel Clear", sans-serif;
  }
  
.ds-Line-Height{
    line-height: 20px;
}
  .ds_container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
  }


/* <!-- **********  Intel® Rendering Toolkit  *********** --> */
.ds_render-bg{
    background-image: url(/img/dhruvin/Development-Tools/Rendering-Toolkit/bg-img.png);
    background-color: #000f8a;
    padding-top: 2.5rem ;
    background-size: cover;
    background-position: center;
    padding-bottom: 15px;
}

/* <!-- ***********  Mini Navbar   *********     --> */

.VK_ai_navigation {
    background-color: white;
    border-bottom: 1px solid #d7d7d7;
  }
  
  .VK_ai_nav_bar a {
    color: #262626;
    padding: 15px 30px;
    word-break: normal;
    font-weight: 500;
    white-space: nowrap;
  }
  
  .VK_ai_nav_bar li {
    margin: 0px 15px;
  }
  
  .VK_ai_navigation.VK_sticky_nav_bar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .VK_active_link {
    position: relative;
    color: #00aeef;
  }
  .VK_active_link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    background: #00aeef;
  }
  .VK_ai_nav_bar li a {
    transition: color 0.3s, border-bottom 0.3s;
  }


.VK_ai_nav_bar a.active {
    font-weight: bold;
    color: #0068b5 !important;
    position: relative;
}
.VK_ai_nav_bar a.active::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    background: #00aeef;
}



/* <!-- ***********  Photorealistic Rendering That Scales  *********     --> */

.ds_photo-anker{
    color: #0068b5 !important;
    text-decoration: underline dotted;
    text-decoration-style: dashed;
    text-underline-offset: .3rem;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: .5px;
}
.ds_photo-anker:hover{
    color: #004a86 !important;
    text-decoration: underline;
}
.ds_photo-body{
    background-color: #0068b5 !important;
    padding: 2.5rem;
}


/* <!-- *********  What's Included in RenderKit ********   --> */
.ds_join-bg{
    background-color: white;
    padding: 40px 0px;
}

.ds_join-anker{
    color: #0068b5 !important;
    text-decoration: none;
    font-weight: bold;
    text-underline-offset: .3rem;
}
.ds_join-anker:hover{
    text-decoration: underline;
    text-decoration-thickness: .5px;
    color: #004a86 !important;
}


/* <!-- *********   Related Component ********   --> */
/* Above same css  */


/* <!-- *********   What's New ********   --> */
.ds_new-bg{
    background-color: #f7f7f7;
    padding: 2.5rem 20px;
}


  /* ********* Main Container ******** */
@media (min-width: 1650px) {
    .ds_container {
      width: 1610px;
    }
  }
  @media (min-width: 1200px) and (max-width: 1649px) {
    .ds_container {
      width: 1170px;
      max-width: none;
    }
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    .ds_container {
      width: 970px;
      max-width: none;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    .ds_container {
      width: 750px;
      max-width: none;
    }
  }
  @media (min-width: 480px) and (max-width: 767px) {
    .ds_container {
      max-width: 750px;
    }
  }  


/* ********* All Section Media Query ******** */
@media (max-width:768px) {
/* <!-- **********  Intel® Rendering Toolkit  *********** --> */
    .ds_render-bg{
        padding-top:0 ;
    }
/* <!-- ***********  Photorealistic Rendering That Scales  *********     --> */
    .ds_photo-body{
        padding: 1rem 1rem 2.5rem;
    }
    
}

@media (max-width:450px) {
    .ds_new-ul{
        padding-left: 0;
    }    
}