* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Intel Clear", sans-serif;
  }
  
.ds-Line-Height{
    line-height: 20px;
}
.ds_container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
}
.ds_multi-anker{
  color: #0068b5 !important;
  text-decoration: underline dotted;
  text-decoration-style: dashed;
  text-underline-offset: .3rem;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: .5px;
}
.ds_multi-anker:hover{
  text-decoration: underline;
  color: #004a86 !important;
}


/* <!-- **********  Edge-Native Kubernetes for the Software-Defined Edge  *************** --> */
.ds_kuber-bg{
    background-color: #41728a;
    padding: 0px 40px;
}
.ds_kuber-body{
    background-color: #548fad;
    padding: 2.5rem;
}
.ds_kuber-body::after{
    content: "";
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    bottom: -2.5rem;
    right: -40px;
    background: #86b3ca;
}









  /* ********* Main Container ******** */
  @media (min-width: 1650px) {
    .ds_container {
      width: 1610px;
    }
  }
  @media (min-width: 1200px) and (max-width: 1649px) {
    .ds_container {
      width: 1170px;
      max-width: none;
    }
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    .ds_container {
      width: 970px;
      max-width: none;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    .ds_container {
      width: 750px;
      max-width: none;
    }
  }
  @media (min-width: 480px) and (max-width: 767px) {
    .ds_container {
      max-width: 750px;
    }
  }  


/* ********* All Section Media Query ******** */
@media (max-width:1500px) {
    .ds_kuber-bg{
        padding: 30px 0px;
    }
}

@media (max-width:1200px) {
    .ds_kuber-bg{
        padding: 60px 0px;
    }
}

@media (max-width:768px) {
/* <!-- **********  Edge-Native Kubernetes for the Software-Defined Edge  *************** --> */
.ds_kuber-bg{
    background-color: #41728a;
    padding: 10px 0px;
}
    .ds_kuber-body{
        padding: 1rem 1rem 2.5rem;
    }
    .ds_kuber-body::after{
        content: "";
        display: none;
        width: 2.5rem;
        height: 2.5rem;
        bottom: -2.5rem;
        right: -40px;
        background: #86b3ca;
    }
    .ds_kuber-title{
        font-size: 25px;
    }
    .ds_kuber-img{
        width: 100%;
    }
}