* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Intel Clear", sans-serif;
  }
  
.ds-Line-Height{
    line-height: 20px;
}
.ds_container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
}
.ds_multi-anker{
  color: #0068b5 !important;
  text-decoration: underline dotted;
  text-decoration-style: dashed;
  text-underline-offset: .3rem;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: .5px;
}
.ds_multi-anker:hover{
  text-decoration: underline;
  color: #004a86 !important;
}


/* <!-- **********  Edge-Native Kubernetes for the Software-Defined Edge  *************** --> */
.ds_kuber-bg{
    background-color: #41728a;
    padding: 0px 40px;
}
.ds_kuber-body{
    background-color: #548fad;
    padding: 2.5rem;
}
.ds_kuber-body::after{
    content: "";
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    bottom: -2.5rem;
    right: -40px;
    background: #86b3ca;
}
.ds_kuber-pading{
  padding: 0px 30px;
}

/* <!-- ***********  Mini Navbar   *********     --> */

.VK_ai_navigation {
  background-color: white;
  border-bottom: 1px solid #d7d7d7;
}

.VK_ai_nav_bar a {
  color: #262626;
  padding: 15px 30px;
  word-break: normal;
  font-weight: 500;
  white-space: nowrap;
}

.VK_ai_nav_bar li {
  margin: 0px 15px;
}

.VK_ai_navigation.VK_sticky_nav_bar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.VK_active_link {
  position: relative;
  color: #00aeef;
}
.VK_active_link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  background: #00aeef;
}
.VK_ai_nav_bar li a {
  transition: color 0.3s, border-bottom 0.3s;
}


.VK_ai_nav_bar a.active {
  font-weight: bold;
  color: #0068b5 !important;
  position: relative;
}
.VK_ai_nav_bar a.active::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  background: #00aeef;
}


/* <!-- *********** What Is Intel® Smart Edge?  *********     --> */
.ds_smart-bg{
  background-color: white;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

/* <!-- *********** Edge Computing News and Analysis  *********     --> */
.ds_news-bg{
  background-color: #004a86;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.ds_news-anker{
  color: white !important;
  text-decoration: underline dotted;
    text-decoration-style: dashed;
    text-underline-offset: .3rem;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: .5px;
  display: block;
  line-height: 25px;
}
.ds_news-anker:hover{
  text-decoration: underline;
  color: white !important;
}
.ds_news-inner{
  padding-left: 20px;
  padding-top: 10px;
}
.ds_width-res{
  width: 50%;
}


/* <!-- *********** Real-World Success – Intel® Smart Edge  *********     --> */
.ds_real-anker{
  color: #0068b5 !important;
  text-decoration: none;
  text-underline-offset: .3rem;
  text-decoration-skip-ink: auto;
  display: block;
  line-height: 25px;
}
.ds_real-anker:hover{
  text-decoration: underline;
  color: #004a86 !important;
}

/* <!-- *********** Real-World Success – Intel® Smart Edge  *********     --> */

.ds_git-anker{
  color: white !important;
  background-color: #0068b5 !important;
  padding: .625rem 1.5rem;
  text-decoration: none;
}


/* <!-- *********** Intel® Smart Edge Services *********     --> */
.ds_service-bg{
  background-color: #183544;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

/* <!-- *********** Edge Apps and Workloads on Intel® Smart Edge *********     --> */
.ds_app-bg{
  background-color: #41728a;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

/* <!-- ***********  Join the Ecosystem *********     --> */
.ds_join-btn{
  color: #0068b5;
  background-color: white;
  padding: .625rem 1.5rem;
  text-decoration: none;
}
.ds_join-btn:hover{
  color: #004a86 !important;
  background-color: #e9e9e9 !important;
}
.accordion{
  border-top: 1px solid white !important;

}
.accordion-button{
   border-bottom: 1px solid white !important;
}
.accordion-button:focus{
  box-shadow:0 0 0 0 !important ;
}
.accordion-button:hover{
  text-decoration: underline;
}






  /* ********* Main Container ******** */
  @media (min-width: 1650px) {
    .ds_container {
      width: 1610px;
    }
  }
  @media (min-width: 1200px) and (max-width: 1649px) {
    .ds_container {
      width: 1170px;
      max-width: none;
    }
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    .ds_container {
      width: 970px;
      max-width: none;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    .ds_container {
      width: 750px;
      max-width: none;
    }
  }
  @media (min-width: 480px) and (max-width: 767px) {
    .ds_container {
      max-width: 750px;
    }
  }  


/* ********* All Section Media Query ******** */
@media (max-width:1500px) {
    .ds_kuber-bg{
        padding: 30px 0px;
    }
}

@media (max-width:1200px) {
    .ds_kuber-bg{
        padding: 60px 0px;
    }
}
@media (max-width:992px) {
/* <!-- *********** Edge Computing News and Analysis  *********     --> */
.ds_width-res{
  width: 100%;
}
}
@media (max-width:768px) {
/* <!-- **********  Edge-Native Kubernetes for the Software-Defined Edge  *************** --> */
.ds_kuber-bg{
    background-color: #41728a;
    padding: 10px 0px;
}
    .ds_kuber-body{
        padding: 1rem 1rem 2.5rem;
    }
    .ds_kuber-body::after{
        content: "";
        display: none;
        width: 2.5rem;
        height: 2.5rem;
        bottom: -2.5rem;
        right: -40px;
        background: #86b3ca;
    }
    .ds_kuber-title{
        font-size: 25px;
    }
    .ds_kuber-img{
        width: 100%;
    }
    .ds_kuber-pading{
      padding: 0 !important;
    }

/* <!-- *********** What Is Intel® Smart Edge?  *********     --> */
.ds_smart-bg{
  background-color: white;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
/* <!-- *********** Edge Computing News and Analysis  *********     --> */
.ds_news-bg{
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* <!-- *********** Intel® Smart Edge Services *********     --> */
.ds_service-bg{
  padding-top: 2rem;
  padding-bottom: 2rem;
}
/* <!-- *********** Edge Apps and Workloads on Intel® Smart Edge *********     --> */
.ds_app-bg{
  padding-top: 2rem;
  padding-bottom: 2rem;
}

}