* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Intel Clear', sans-serif;
}


.ds_container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px; 
    padding-right: 10px;
}
.ds-Line-Height{
    line-height: 20px;
}
.ds_cursor{
    cursor: pointer;
}

/* <!-- *********** Schematic Review ****************     --> */
.ds_rev-bg{
    padding: 20px 0px;
}
.ds_rev-img{
    border: 1px solid black;
    width: 100%;
}
.ds_rev-title{
    color: #0068b5;
    border-bottom: 1px solid gray;
    padding-bottom: 5px;
}
.ds_rev-inner{
    margin-left: 40px;
}
.ds_rev-anker{
    background: rgba(0, 0, 0, 0);
    border: 1px solid #0068b5;
    color: #0068b5;
    font-weight: bold;
    text-decoration:none;
    padding: 10px 35px;
    transition: all .25s ease-in-out;
}
.ds_rev-anker:hover{
    background: #0068b5;
    color: #fff;
}
.ds_accor-item{
   border-bottom:1px solid black !important;
   border: 0 !important;    
}
.ds_accor-btn{
    border-top: 1px solid #e9e9e9 !important;
    border-bottom: 1px solid #e9e9e9 !important;
    font-size: 26px !important;
    color: #004a86 !important;

}
.ds_accor-btn:not(.collapsed){
    color: #004a86 !important;
    background-color: white !important;
}
.ds_accor-btn:focus{
    box-shadow:none !important;
}
.ds_accor-anker{
    color:#0068b5;
    text-decoration: none;
}
.ds_accor-anker:hover{
    color:#0068b5;
    text-decoration: underline;
    cursor: pointer;
}

/* <!-- *********** Related Products ****************     --> */
.ds_pro-inner{
    width: 100%;
}
.ds_pro-inner:hover .ds_pro-btn{
    background: #0068b5;
    color: #fff !important;
}
.ds_pro-img{
    width: 100%;
    border: 1px solid black;
}
.ds_pro-txt{
    color: #00285A;
    font-weight: 500;
    font-size:18px;
}
.ds_pro-btn{
    width: 100%;
    padding: 4px 20px;
    background: rgba(0, 0, 0, 0);
    border: 1px solid #0068b5 !important;
    color: #0068b5 !important;
    border-radius: 0% !important;
    font-size: 20px !important;
}


/* ********* Main Container ******** */
@media (min-width: 1650px) {
    .ds_container {
        width: 1610px;
    }
}
@media (min-width: 1200px) and (max-width: 1649px) {
    .ds_container {
        width: 1170px;
        max-width: none;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .ds_container {
        width: 970px;
        max-width: none;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .ds_container {
        width: 750px;
        max-width: none;
    }
}
@media (min-width: 480px) and (max-width: 767px) {
    .ds_container {
        max-width: 750px;
    }
}


/* ############# All Section Media Query ################ */
@media (max-width:768px) {
    .ds_rev-img{
        width:50%;
    }
    .ds_rev-inner{
        margin-left: 0px;
    }
    .ds_rev-anker{
        width:100%;
        display: block;
        text-align:center;
    }
}

@media (max-width:550px) {
    .ds_rev-title{
        font-size: 18px;
    }
    .ds_rev-text{
        font-size: 14px;
    }
    .ds_rev-para{
        font-size: 13px;
    }
    .ds_rev-anker{
        font-size: 14px;
    }
    .ds_accor-btn{
        font-size: 20px !important;
    }
    .ds_accor-para{
        font-size: 13px;
    }

/* <!-- *********** Related Products ****************     --> */
.ds_pro-title{
    font-size: 18px;
}
.ds_pro-txt{
    font-size: 16px;
}
.ds_pro-btn{
    font-size: 15px !important;
}
}