* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Intel Clear', sans-serif;
}


.ds_container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px; 
    padding-right: 10px;
}
.ds-Line-Height{
    line-height: 20px;
}
.ds_cursor{
    cursor: pointer;
}

/* <!-- *********** Related Products ****************     --> */
.ds_lic-bg{
    background-color: #0068b5;
}
.ds_lic-manage{
    width:50%
}

/* <!-- ************  Main Section  ***************     --> */
.ds_main-inner{
    position:sticky;
    top:0;
}
.ds_main-icon{
    color: #0068b5;
    font-size: 22px;
}
.ds_main-titel{
    color: #0068b5 !important;
    text-decoration: none;
}
.ds_main-tag_active{
    color: black !important;
    font-weight: bold;
}
.ds_main-item{
    border:none !important;
    border-bottom:1px solid #ddd;
}
.ds_main-btn{
    background-color:white !important;
    padding: 10px 0px !important;
    border-top: 1px solid #ddd !important;
    border-bottom:1px solid #ddd !important;

}
.ds_main-btn:focus{
   box-shadow: none !important;
}

.ds_main-anker{
    text-decoration:none;
    color:black;
}
.ds_main-anker:hover{
    color:black;
    text-decoration:underline;
}
.ds_main-body{
    padding: 10px 10px !important;
    border-bottom: 1px solid #ddd;
}
.ds_main-txt{
    font-size: 15px;
}
.ds_main-link{
    color: #0068b5 !important;
    text-decoration: underline dashed;
    text-underline-offset: .3rem;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: .5px;
}
.ds_main-link:hover{
    color: #005a9d !important;
    text-decoration: underline;
}

/* ********* Main Container ******** */
@media (min-width: 1650px) {
    .ds_container {
        width: 1610px;
    }
}
@media (min-width: 1200px) and (max-width: 1649px) {
    .ds_container {
        width: 1170px;
        max-width: none;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .ds_container {
        width: 970px;
        max-width: none;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .ds_container {
        width: 750px;
        max-width: none;
    }
}
@media (min-width: 480px) and (max-width: 767px) {
    .ds_container {
        max-width: 750px;
    }
}


/* ############# All Section Media Query ################ */

@media (max-width:768px) {
    .ds_main-div{
        display: none;
    }
}

@media (max-width:550px) {
/* <!-- *********** Related Products ****************     --> */
.ds_lic-title{
    font-size:17px !important;
}
.ds_lic-manage{
    width:100%
}
.ds_lic-txt{
    font-size: 14px;
}

/* <!-- ************  Main Section  ***************     --> */
.ds_main-title{
    font-size: 18px;
}
.ds_main-para{
    font-size: 14px;
}
.ds_main-anker{
    font-size: 16px;
}
}