* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Intel Clear', sans-serif;
}


.ds_container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px; 
    padding-right: 10px;
}
.ds-Line-Height{
    line-height: 20px;
}
.ds_cursor{
    cursor: pointer;
}



/* <!-- ****************  Jump-start AI Development ************    --> */
.ds_jump-bg{
    background-image: url(/img/dhruvin/Developer-Programs/Ai-Development/bg.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    padding:100px 0px;
    

}
.ds_jump-btn{
    color: #0068b5;
    background: #fff;
    text-decoration:none;
    padding:10px 25px;
}
.ds_jump-btn:hover{
    color: #004a86;
    background: #e9e9e9;
}


/* <!-- **************** Build Faster ************    --> */
.ds_bu-anker{
    color: #fff !important;
    background-color: #0068b5 !important;
    padding: 8px 25px;
    text-decoration: none;
}
.ds_bu-anker:hover{
    color: #fff;
    background-color: #004a86 !important;
}
.ds_bu-link{
    color: #0068b5;
    text-decoration: underline dotted;
    text-decoration-style: dashed;
    text-underline-offset: .3rem;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: .5px;
}
.ds_bu-link:hover{
    color: #004a86;
    text-decoration: underline;
}


/* <!-- **************** Connect and Collaborate ************    --> */
.ds_con-anker{
  border:1px solid #0068b5;
  color: #0068b5;
  text-decoration: none;
  padding: 6px 25px;
}
.ds_con-anker:hover{
    color:black;
}

/* ********* Main Container ******** */
@media (min-width: 1650px) {
    .ds_container {
        width: 1610px;
    }
}
@media (min-width: 1200px) and (max-width: 1649px) {
    .ds_container {
        width: 1170px;
        max-width: none;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .ds_container {
        width: 970px;
        max-width: none;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .ds_container {
        width: 750px;
        max-width: none;
    }
}
@media (min-width: 480px) and (max-width: 767px) {
    .ds_container {
        max-width: 750px;
    }
}


/* ############# All Section Media Query ################ */
@media (max-width:768px) {
    .ds_jump-btn{
        width:100%;
        display:block;
        text-align: center;
    }
}

@media (max-width:550px) {
    .ds_jump-title{
        font-size:20px;
    }
    .ds_jump-text{
        font-size:14px;
    }
    .ds_jump-btn{
        font-size:14px;
    }
/* <!-- **************** Build Faster ************    --> */
.ds_bu-title{
    font-size:19px;
}
.ds_bu-anker{
    font-size:14px;
}
.ds_bu-link{
    font-size:14px;
}
}