* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Intel Clear', sans-serif;
}


.ds_container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px; 
    padding-right: 10px;
}
.ds-Line-Height{
    line-height: 20px;
}
.ds_cursor{
    cursor: pointer;
}


 /* ************** Academia and Community Programs ************* */
.ds_aca-bg{
    background-image: url(/img/dhruvin/Developer-Programs/Academia-and-Community-Programs/bg.png);
    background-color: #00285a;
    background-size: cover;
    background-position: center;
    padding:40px 0px;
}
.ds_aca-anker{
    color: #0068b5;
    background: #fff;
    padding: 7px 25px;
    text-decoration: none;
}
.ds_aca-anker:hover{
    color: #004a86;
    background: #e9e9e9;
}


/* <!-- ***********  Mini Navbar   *********     --> */

.VK_ai_navigation {
    background-color: white;
    border-bottom: 1px solid #d7d7d7;
  }
  
  .VK_ai_nav_bar a {
    color: #262626;
    padding: 15px 30px;
    word-break: normal;
    font-weight: 500;
    white-space: nowrap;
  }
  
  .VK_ai_nav_bar li {
    margin: 0px 15px;
  }
  
  .VK_ai_navigation.VK_sticky_nav_bar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .VK_active_link {
    position: relative;
    color: #00aeef;
  }
  .VK_active_link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    background: #00aeef;
  }
  .VK_ai_nav_bar li a {
    transition: color 0.3s, border-bottom 0.3s;
  }


.VK_ai_nav_bar a.active {
    font-weight: bold;
    color: #0068b5 !important;
    position: relative;
}
.VK_ai_nav_bar a.active::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    background: #00aeef;
}


/* <!-- **************** Card ************** --> */
.ds_aca-btn{
    color: #fff;
    background-color: #0068b5;
    padding: 7px 25px;
    text-decoration: none;
}
.ds_aca-btn:hover{
    color: #fff;
    background-color: #004a86;
}

/* <!-- **************** Member Impact ************** -->    */
.ds_mem-bg{
    background-color: #f7f7f7;
    padding:40px 0px;
}
.ds_mem-box{
    padding: 11px 22px;
    border-left: 5px solid #ebebeb;
}

/* <!-- **************** Program Highlights ************** -->    */
.ds_high-anker{
    color: #0068b5;
    text-decoration-thickness: .5px;
    text-decoration:none;
}
.ds_high-anker:hover{
    color: #004a86;
    text-decoration: underline;
}
#ds_high-main{
    display:none;
}
.ds_high-btn{
    position: relative;
    color:#0068b5;
    cursor: pointer;
}
.ds_high-line{
    position: relative;
}
.ds_high-line::before{
   content: "";
   position:absolute;
   top: 12px;
   left: 16%;
   width: 30%;
   height:2px;
   background: #0068b5;
}
.ds_high-line::after{
    content: "";
    position:absolute;
    top: 12px;
    right: 16%;
    width: 30%;
    height:2px;
    background: #0068b5;
 }

 /* <!-- **************** Publications ************** -->    */
.ds_pub-bg{
    background-color: #f7f7f7;
    padding:40px 0px;
}
.ds_pub-anker{
    color: #0068b5;
    text-decoration: underline dotted;
    text-decoration-style: dashed;
    text-underline-offset: .3rem;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: .5px;
}
.ds_pub-anker:hover{
    color: #004a86;
    text-decoration: underline;
}

/* <!-- **************** Resources ************** -->    */
.ds_res-bg{
    background-color: #00285a;
    background-image: url(/img/dhruvin/Developer-Programs/Academia-and-Community-Programs/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding:40px 0px;
}
.ds_res-box{
    background: #f3f3f3;
    padding: .75rem 1.5rem;
}
.ds_res-circle{
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 50%;
}

/* ********* Main Container ******** */
@media (min-width: 1650px) {
    .ds_container {
        width: 1610px;
    }
}
@media (min-width: 1200px) and (max-width: 1649px) {
    .ds_container {
        width: 1170px;
        max-width: none;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .ds_container {
        width: 970px;
        max-width: none;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .ds_container {
        width: 750px;
        max-width: none;
    }
}
@media (min-width: 480px) and (max-width: 767px) {
    .ds_container {
        max-width: 750px;
    }
}


/* ############# All Section Media Query ################ */
@media (max-width:1440px) {
/* <!-- **************** Program Highlights ************** -->    */
    .ds_high-line::before{
        top: 12px;
        left: 16%;
        width: 27%;
     }
     .ds_high-line::after{
         top: 12px;
         right: 16%;
         width: 27%;
      }   
}
@media (max-width:768px) {
/* <!-- **************** Program Highlights ************** -->    */
    .ds_high-line::before{
        top: 12px;
        left: 16%;
        width: 25%;
     }
     .ds_high-line::after{
         top: 12px;
         right: 16%;
         width: 25%;
      }   
}
@media (max-width:550px) {
    .ds_para{
        font-size:13px;
    }
 /* ************** Academia and Community Programs ************* */
    .ds_aca-title{
        font-size: 20px;
    }
    .ds_aca-anker{
        font-size: 13px;
    }
    .ds_aca-mini-title{
        font-size:18px !important;
    }
    .ds_aca-btn{
        font-size: 13px;
    }

/* <!-- **************** Member Impact ************** -->    */
.ds_mem-heading{
    font-size: 20px;
}
.ds_mem-title{
    font-size:18px;
}

/* <!-- **************** Program Highlights ************** -->    */
.ds_mem-heading{
    font-size:16px;
}
.ds_high-anker h5{
    font-size:14px !important;
}
 /* <!-- **************** Publications ************** -->    */
.ds_pub-anker{
    font-size:13px;
}
}
@media (max-width:426px) {
    /* <!-- **************** Program Highlights ************** -->    */
        .ds_high-line::before{
            top: 12px;
            left: 16%;
            width: 20%;
         }
         .ds_high-line::after{
             top: 12px;
             right: 16%;
             width: 20%;
          }   
}
@media (max-width:376px) {
    /* <!-- **************** Program Highlights ************** -->    */
        .ds_high-line::before{
            top: 12px;
            left: 16%;
            width: 15%;
         }
         .ds_high-line::after{
             top: 12px;
             right: 16%;
             width: 15%;
          }   
}
