* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Intel Clear', sans-serif;
}


.ds_container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px; 
    padding-right: 10px;
}
.ds-Line-Height{
    line-height: 20px;
}
.ds_cursor{
    cursor: pointer;
}



/* <!-- ************** Intel® oneAPI Developer Program  *************   --> */
.ds_one-bg{
    background-image: url(/img/dhruvin/Developer-Programs/Academia-and-Community-Programs/bg.png);
    background-color: #00285a;
    background-size: cover;
    background-position: center;
    padding:40px;
}

/* <!-- ************** Access Resources  *************   --> */
.ds_acc-anker{
    color: #0068b5;
    text-decoration: underline dotted;
    text-decoration-style: dashed;
    text-underline-offset: .3rem;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: .5px;
}
.ds_acc-anker:hover{
    color: #004a86;
    text-decoration: underline
}


/* <!-- ************** Independent Software Vendors  *************   --> */
.ds_ven-bg{
    background-color: #00285a;
    padding:20px 0px;
}
.ds_ven-inner{
    background: #fff;
    padding: .75rem 1.5rem;
}

/* <!-- ************** Developer Training  *************   --> */
.ds_dev-bg{
    background-color: #0068b5;
    padding: 2rem 0 2.5rem;
}

/* ********* Main Container ******** */
@media (min-width: 1650px) {
    .ds_container {
        width: 1610px;
    }
}
@media (min-width: 1200px) and (max-width: 1649px) {
    .ds_container {
        width: 1170px;
        max-width: none;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .ds_container {
        width: 970px;
        max-width: none;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .ds_container {
        width: 750px;
        max-width: none;
    }
}
@media (min-width: 480px) and (max-width: 767px) {
    .ds_container {
        max-width: 750px;
    }
}


/* ############# All Section Media Query ################ */
@media (max-width:550px) {
.ds_para{
    font-size:13px;
}
/* <!-- ************** Intel® oneAPI Developer Program  *************   --> */
.ds_one-heading{
    font-size:20px !important;
}
/* <!-- ************** Access Resources  *************   --> */
.ds_acc-heading{
    font-size:18px !important;
}
.ds_acc-title{
    font-size:18px !important;
}
.ds_acc-inner{
    font-size:16px !important;
}
}