* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Intel Clear', sans-serif;
}


.ds_container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px; 
    padding-right: 10px;
}
.ds-Line-Height{
    line-height: 20px;
}
.ds_cursor{
    cursor: pointer;
}



/* <!-- ************** Intel® oneAPI Developer Program  *************   --> */
.ds_one-bg{
    background-image: url(/img/dhruvin/Developer-Programs/Academia-and-Community-Programs/bg.png);
    background-color: #00285a;
    background-size: cover;
    background-position: center;
    padding:40px;
}

/* <!-- ************** Access Resources  *************   --> */
.ds_acc-anker{
    color: #0068b5;
    text-decoration: underline dotted;
    text-decoration-style: dashed;
    text-underline-offset: .3rem;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: .5px;
}
.ds_acc-anker:hover{
    color: #004a86;
    text-decoration: underline
}


/* <!-- ************** Independent Software Vendors  *************   --> */
.ds_ven-bg{
    background-color: #00285a;
    padding:20px 0px;
}
.ds_ven-inner{
    background: #fff;
    padding: .75rem 1.5rem;
}

/* <!-- ************** Developer Training  *************   --> */
.ds_dev-bg{
    background-color: #0068b5;
    padding: 2rem 0 2.5rem;
}
.ds_tra-btn{
    color: #0068b5;
    background: #fff;
    padding: 7px 25px;
    text-decoration: none;
}
.ds_tra-box{
    background: #fff;
    padding: .75rem 1.5rem;
}


/* <!-- ******************  Get Help from Intel Partners  ****************** --> */
.ds_help-bg{
    background-color: #000864;
    padding:40px 0px;
}


/* <!-- ************** Community Highlights  *************   --> */
.ds_com-anker{
    color: #0068b5;
    text-decoration:none;
}
.ds_com-anker:hover{
    text-decoration: underline;
    text-decoration-thickness: .5px;
    color: #004a86;
}
.ds_com-inner{
    background: linear-gradient(0, #064562 0, #0a5b83 100%);
    padding: 1rem;
    height: 160.016px;
}
.ds_com-body{
    background-color: #fff;
    padding: 1rem 1rem 0;
}
.ds_com-txt{
    font-weight: 600;
    font-size:14px;
}
.ds_com-btn{
    background: transparent;
    color: #0068b5;
    padding: 7px 22px;
    border:1px solid #0068b5;
    text-decoration:none;
}
.ds_com-btn:hover{
    color: #fff;
    background: #004a86;
    border-color: #004a86;
}
/* ********* Main Container ******** */
@media (min-width: 1650px) {
    .ds_container {
        width: 1610px;
    }
}
@media (min-width: 1200px) and (max-width: 1649px) {
    .ds_container {
        width: 1170px;
        max-width: none;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .ds_container {
        width: 970px;
        max-width: none;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .ds_container {
        width: 750px;
        max-width: none;
    }
}
@media (min-width: 480px) and (max-width: 767px) {
    .ds_container {
        max-width: 750px;
    }
}


/* ############# All Section Media Query ################ */
@media (max-width:1441px){
/* <!-- ************** Community Highlights  *************   --> */
.ds_com-inner{
    height: 190.016px;
}
}

@media (max-width:768px) {
/* <!-- ************** Community Highlights  *************   --> */
    .ds_com-inner {
        height: 170.016px;
    }
}

@media (max-width:550px) {
.ds_para{
    font-size:13px;
}
/* <!-- ************** Intel® oneAPI Developer Program  *************   --> */
.ds_one-heading{
    font-size:20px !important;
}
/* <!-- ************** Access Resources  *************   --> */
.ds_acc-heading{
    font-size:18px !important;
}
.ds_acc-title{
    font-size:18px !important;
}
.ds_acc-inner{
    font-size:16px !important;
}
/* <!-- ************** Developer Training  *************   --> */
.ds_tra-btn{
    width:100%;
    display:block;
    font-size:14px;
    text-align:center;
}
.ds_tra-title{
    font-size:18px;
}
.ds_tra-box{
    font-size:16px;
}
/* <!-- ******************  Get Help from Intel Partners  ****************** --> */
.ds_help-heading{
    font-size:18px;
}
/* <!-- ************** Community Highlights  *************   --> */
.ds_rev-para{
    font-size:14px;
}
.ds_com-title{
    font-size: 16px;
}
.ds_com-btn{
    font-size:13px;
}
.ds_acc-anker{
    font-size:13px;
}
/* <!-- ************** Developer Community *************   --> */
.ds_last-heading{
    font-size: 19px;

}
}