* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Intel Clear', sans-serif;
}
.ds_container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px; 
    padding-right: 10px;
}

/* ********* Main Container ******** */
@media (min-width: 1650px) {
    .ds_container {
        width: 1610px;
    }
}
@media (min-width: 1200px) and (max-width: 1649px) {
    .ds_container {
        width: 1170px;
        max-width: none;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .ds_container {
        width: 970px;
        max-width: none;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .ds_container {
        width: 750px;
        max-width: none;
    }
}
@media (min-width: 480px) and (max-width: 767px) {
    .ds_container {
        max-width: 750px;
    }
}


/****** The latest security ******/
.ds_info-bg{
    background: #0068b5;
}
.ds_info-img{
    background-image: url(/img/dhruvin/Developer-Programs/The-latest-security-information/bg.avif);
    background-size: cover;
    background-repeat: no-repeat;
    height: 350px;
}
/* **************************** */

/*********** Intel® Bug *********/
.mv_intel_bug_padd{
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.mv_intel_bug_con h2{
    font-weight: 350;
}
/* **************************** */
