* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Intel Clear', sans-serif;
}

.ds_container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.ds-Line-Height {
    line-height: 20px;
}

.ds_cursor {
    cursor: pointer;
}

.bg-img {
    background-image: url(../../img/dhruvin/Development-Tools/wireless/background.png);
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    background-color: #F7F7F7;
    box-sizing: border-box;
}

/* Container for the search bar */
.search-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

/* Input field for the search bar */
.search-container input[type="text"] {
    width: 100%;
    padding: 10px 10px 10px 40px;
    /* Add padding for the icon */
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* ::before pseudo-element for the search icon */
.search-container::before {
    content: "🔍";
    /* Unicode for magnifying glass */
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: #888;
}

#viewMore, #viewLess {
    display: inline-block;
    margin-top: 10px;
    color: #007bff;
    cursor: pointer;
}

/* card  */
.result-card {
    padding: 15px;

    word-break: break-all;
    margin-bottom: 3px;
    background-color: #FFFFFF !important;

}

.result-card h6 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.result-card h6 a {
    color: #007bff;
    text-decoration: none;
}

.result-card h6 a:hover {
    text-decoration: underline;
}

.result-card p {
    margin: 5px 0;
    font-size: 0.9rem;
    color: #666;
}

.result-card button {
    margin-top: 10px;
}

.pagination .page-link {
    color: #007bff;
}

.pagination .page-link:hover {
    background-color: #007bff;
    color: #fff;
}

.pagination .active .page-link {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
}

/* accrodian */

.accordion-button:not(.collapsed) {
    background-color: transparent !important;
    border: none !important;
}

.accordion-button:not(.collapsed) {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.accordion-button:focus {
    box-shadow: none !important;
}

.accordion-item {
    border: none !important;
    background-color: #F7F7F7;
}

.accordion-button {
    background-color: #F7F7F7;
}

/* main container */
@media (min-width: 1650px) {
    .ds_container {
        width: 1610px;
    }
}

@media (min-width: 1200px) and (max-width: 1649px) {
    .ds_container {
        width: 1170px;
        max-width: none;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .ds_container {
        width: 970px;
        max-width: none;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .ds_container {
        width: 750px;
        max-width: none;
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    .ds_container {
        max-width: 750px;
    }
}

/* Add this for better visibility of the category list */
#categoryList {
    margin-top: 10px;
    /* Add some space above the list */
}