* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Intel Clear', sans-serif;
}
body{
    overflow-x: hidden !important;
}
.ds_container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px; 
    padding-right: 10px;
}
.ds-Line-Height{
    line-height: 20px;
}
.ds_cursor{
    cursor: pointer;
}
a{
    text-decoration:none !important;
    color: #0068B5 !important;
}
/* chipset_INF_Utility */
.r_text {
    padding: 10px 0 10px 20px;
  }
.r_back{
    background-image: url(../../img/dhruvin/Development-Tools/wireless/backimg.svg);
    background-color: #000f8a;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
}
.r_flex{
    width: 10%;
}
.r_not p{
    margin-bottom: 3px;
    
}
.r_not{
    height: 300px;
    overflow-y: scroll;
}
.r_break{
    word-break: break-all;
}
.r_setting img{
    width:48px;
    height: 41px;
}
/*  */
/* ********* Main Container ******** */
@media (min-width: 1650px) {
    .ds_container {
        width: 1610px;
    }
}
@media (min-width: 1200px) and (max-width: 1649px) {
    .ds_container {
        width: 1170px;
        max-width: none;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .ds_container {
        width: 970px;
        max-width: none;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .ds_container {
        width: 750px;
        max-width: none;
    }
}
@media (max-width: 425px) {
    .ds_container {
        max-width: 750px;
    }
    .r_flex {
        display: flex !important;
        justify-content: start;
        width: 100% !important;
    }
    .r_margin {
        margin-right: 20px;
    }
}