*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Intel Clear", sans-serif;
}
a{
    text-decoration: none !important;
}
.container{
    max-width: 1610px !important;
}
@media(max-width:1440px){
    .container{
        max-width: 1170px !important;
    }
}
@media(max-width:1199px){
    .container{
        max-width: 970px !important;
    }
}
@media(max-width:991px){
    .container{
        max-width: 750px !important;
    }
}
@media(max-width:768px){
    .container{
        max-width: 750px !important;
    }
}
@media(max-width:425px){
    .container{
        max-width: 390px !important;
    }
}

/*********** comun css ***********/
.b_special_a{
    color: white !important;
    text-decoration: none !important;
    border-bottom: 1px dashed white !important;
}
.b_special_a:hover {
    color: white !important;
    text-decoration: none !important;
    border-bottom: 1px solid white !important;
}
.b_special_a2 {
    color: #0068b5;
    text-decoration: none;
    border:none;
}
.b_special_a2:hover {
    border-bottom: 1px solid #0068b5 ;
}
.b_special_a1 {
    color:  #0068b5 ;
    text-decoration: none !important;
    border-bottom: 1px dashed #0068b5 ;
}
.b_special_a1:hover {
    text-decoration: none !important;
    border-bottom: 1px solid #0068b5 ;
}
.mv_special_3{
    color: #0068b5;
    border-bottom: 1px solid #0068b5 ;
}
/* ********************************** */

/*********** Edge Insights ************/
.mv_edge_insights_padd{
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.mv_edge_insights_con h1{
    font-weight: 350;
}
.mv_get_started_btn{
    background-color: #0068b5;
    padding: .625rem 1.5rem;
    color: #fff;
    display: inline-block !important;
}
.mv_get_started_btn:hover{
    color: #fff;
}
/* ********************************** */

/********** Episodes (45:54) *********/
.mv_episode_padd{
    padding-bottom: 2em;
    padding-top: 2em;
}
.mv_episode_heading h3{
    font-weight: 350;
    margin-bottom: 10px;
}
.mv_episode_con{
    padding: 10px 0px;
}
.mv_episode_con h4{
    font-weight: 350;
}
.mv_episode_con h4 a{
    color: #003c71;
}
.mv_episode_con h4 a:hover{
    color: #00aeef;
    border-bottom: 2px solid #00aeef;
}
/* ********************************** */

/**************** notice ****************/
.mv_product_padd{
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-top: 1px solid #d7d7d7;
    color: #525252;
}
/* ********************************** */


@media(max-width:767px){
    /* Edge Insights */
    .mv_edge_insights_padd{
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }
    .mv_edge_insights_img{
        margin-bottom: 1rem;
    }
    /* notice */
    .mv_product_padd{
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }
}