*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Intel Clear", sans-serif;
}
a{
    text-decoration: none !important;
}
.container{
    max-width: 1610px !important;
}
@media(max-width:1440px){
    .container{
        max-width: 1170px !important;
    }
}
@media(max-width:1199px){
    .container{
        max-width: 970px !important;
    }
}
@media(max-width:991px){
    .container{
        max-width: 750px !important;
    }
}
@media(max-width:768px){
    .container{
        max-width: 750px !important;
    }
}
@media(max-width:425px){
    .container{
        max-width: 390px !important;
    }
}

/*********** comun css ***********/
.b_special_a{
    color: white !important;
    text-decoration: none !important;
    border-bottom: 1px dashed white !important;
}
.b_special_a:hover {
    color: white !important;
    text-decoration: none !important;
    border-bottom: 1px solid white !important;
}
.b_special_a2 {
    color: #0068b5;
    text-decoration: none;
    border:none;
}
.b_special_a2:hover {
    border-bottom: 1px solid #0068b5 ;
}
.b_special_a1 {
    color:  #0068b5 ;
    text-decoration: none !important;
    border-bottom: 1px dashed #0068b5 ;
}
.b_special_a1:hover {
    text-decoration: none !important;
    border-bottom: 1px solid #0068b5 ;
}
.mv_special_3{
    color: #0068b5;
    border-bottom: 1px solid #0068b5 ;
}
/* ********************************** */


/****** Altera® FPGA ******/
.mv_business_hardware{
    background-color: #2F2F2F;
    padding: 2.875rem 3.75rem;
    padding-left: 4.25rem;
}
.mv_strategy_solutions{
    background: #5D5D5D;
    padding: 2rem 4rem;
    color: #fff;
    width: 57.5%;
}
.mv_strategy_solutions h2{
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
    margin: 0 0 .5rem;
    font-style: normal;
    font-size: 2.125rem;
}
/* ****************************** */

/********** FPGA Support **********/
.mv_fpga_support_con{
    padding-top: 3rem;
    padding-bottom: 1.5rem;
}
.mv_fpga_support_con h2{
    font-weight: 350;
}
.mv_developer_img img{
    width: 128px;
    height: 96px;
}
.mv_dev_link{
    color: #0068b5;
}
.mv_fpga_developer_text p{
    line-height: 1.25;
}
.mv_dev_link:hover{
    color: #004a86;
    border-bottom: 1px solid #80A4C3;
}
/* ****************************** */




@media(max-width:899px){
    /* Altera® FPGA */
    .mv_strategy_solutions {
        background: #5D5D5D;
        padding: 2rem 7rem 2rem 3rem;
        color: #fff;
        width: 100%;
    }
    .mv_business_hardware{
        padding-left: 0rem !important;
        padding-top: 0rem !important;
    }
}

@media(max-width:767px){
    /* FPGA Support */
    .mv_developer_img img{
        display: none !important;
    }
}