*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Intel Clear", sans-serif;
}
a{
    text-decoration: none !important;
}
p{
    line-height: 1.25;
}

.container{
    max-width: 1610px !important;
}
@media(max-width:1440px){
    .container{
        max-width: 1170px !important;
    }
}
@media(max-width:1199px){
    .container{
        max-width: 970px !important;
    }
}
@media(max-width:991px){
    .container{
        max-width: 750px !important;
    }
}
@media(max-width:768px){
    .container{
        max-width: 750px !important;
    }
}
@media(max-width:425px){
    .container{
        max-width: 390px !important;
    }
}

/*********** comun css ***********/
.b_special_a{
    color: white !important;
    text-decoration: none !important;
    border-bottom: 1px dashed white !important;
}
.b_special_a:hover {
    color: white !important;
    text-decoration: none !important;
    border-bottom: 1px solid white !important;
}
.b_special_a2 {
    color: #0068b5;
    text-decoration: none;
    border:none;
}
.b_special_a2:hover {
    border-bottom: 1px solid #0068b5 ;
}
.b_special_a1 {
    color:  #0068b5 ;
    text-decoration: none !important;
    border-bottom: 1px dashed #0068b5 ;
}
.b_special_a1:hover {
    text-decoration: none !important;
    border-bottom: 1px solid #0068b5 ;
}
.mv_special_3{
    color: #0068b5;
    border-bottom: 1px solid #0068b5 ;
}
/* ********************************** */

/********** intel logo **********/
.mv_intel_logo{
    position: absolute;
}
/* ***************************** */
  
/******* Intel Insights *******/
.mv_intel_insights_padd {
    padding-top: 6.5rem;
    padding-bottom: 6.5rem;
    background-image: url(/img/mv_image/{2414cf01-58d8-49f0-8d3f-281e3201fd46}_bg_1440x434b.png);
    padding-top: 6.5rem;
    padding-bottom: 6.5rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0;
}
.mv_intel_insights_container {
    margin: 0 6.5rem;
}
/* ***************************** */

/*********** Do you ***********/
.mv_grid_container {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    max-width: 70rem;
    margin: 0 auto;
}
.b_small_text::placeholder {
    font-size: 16px;
}
.b_select_size {
    margin-top: 5px;
    margin: 0 0 1.25rem !important;
    padding: .5rem !important;
    border: 1px solid #262626 !important;
    border-radius: 4px !important;
    background-color: #fff;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #252525;
    font-size: 16px !important;
    background-image: url(/img/mv_image/arrow_down.svg) !important;
    background-origin: content-box;
    background-position: right -1rem center;
    background-repeat: no-repeat;
    background-size: 9px 6px;
    padding-right: 1.5rem;
    position: relative;
}
.mv_select_main{
    padding-right: 3rem !important;
}
.b_select_size:focus{
    box-shadow: none !important;
}
.mv_request_btn{
    color: #fff;
    background-color: #0068b5;
    padding: 10px 24px;
    display: inline-block !important;
    margin-top: 2rem;
}
.mv_request_btn:hover{
    background-color: #004a86;
    color: #fff;
}
.mv_space{
    height: 215px;
}
/* ***************************** */




@media(max-width: 999px){
    /* Do you */
    .mv_select_main{
        padding-right: 14px !important;
    }
}

@media(max-width: 640px){
    /* Are you */
    .mv_intel_insights_padd{
        padding: 8rem 2rem 4rem;
    }
}

@media print, screen and (min-width: 40em){
    /* Do you */
    .mv_grid_container{
        padding-right: .9375rem;
        padding-left: .9375rem;
    }
}