*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Intel Clear", sans-serif;
}
a{
    text-decoration: none !important;
}
p{
    line-height: 1.25;
}

.container{
    max-width: 1610px !important;
}
@media(max-width:1440px){
    .container{
        max-width: 1170px !important;
    }
}
@media(max-width:1199px){
    .container{
        max-width: 970px !important;
    }
}
@media(max-width:991px){
    .container{
        max-width: 750px !important;
    }
}
@media(max-width:768px){
    .container{
        max-width: 750px !important;
    }
}
@media(max-width:425px){
    .container{
        max-width: 390px !important;
    }
}

/*********** comun css ***********/
.b_special_a{
    color: white !important;
    text-decoration: none !important;
    border-bottom: 1px dashed white !important;
}
.b_special_a:hover {
    color: white !important;
    text-decoration: none !important;
    border-bottom: 1px solid white !important;
}
.b_special_a2 {
    color: #0068b5;
    text-decoration: none;
    border:none;
}
.b_special_a2:hover {
    border-bottom: 1px solid #0068b5 ;
}
.b_special_a1 {
    color:  #0068b5 ;
    text-decoration: none !important;
    border-bottom: 1px dashed #0068b5 ;
}
.b_special_a1:hover {
    text-decoration: none !important;
    border-bottom: 1px solid #0068b5 ;
}
.mv_special_3{
    color: #0068b5;
    border-bottom: 1px solid #0068b5 ;
}

.mv_coman_padd{
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.mv_coman_btn{
    color: #fff;
    background-color: #0068b5;
    padding: .625rem 1.5rem;
    display: inline-block !important;
}
.mv_coman_btn:hover{
    color: #fff;
    background-color: #005a9d;
}
/* ********************************** */

/* ********************************** */
.mv_spark_breadcrumb_items{
    margin: 0;
    display: flex;
    padding: 0;
    list-style: none;
}
.mv_spark_breadcrumb_items li{
    display: inline-flex;
    font-size: 15px !important;
}
.mv_spark_breadcrumb_items li a{
    display: block;
    padding: .66em .9rem;
    margin: 1px;
    font-size: .875em;
    line-height: 1.25em;
    color: #0068b5;
    text-wrap: nowrap !important;
}
.mv_spark_breadcrumb_items li p{
    color: #262626;
    font-weight: 700;
    margin-right: 30px;
    padding: .66em 1rem;
    margin: 1px;
    font-size: .875em;
    line-height: 1.25em;
    text-wrap: nowrap !important;
}
.mv_spark_breadcrumb_items li:not(:first-child):before {
    content: "";
    display: inline-block;
    position: relative;
    transform: skew(-18deg);
    block-size: 1rem;
    inline-size: .08rem;
    margin-inline: 0.38rem;
    background-color: #b7b9be;
    inset-block-start: .35rem;
    margin-top: 5px;
}
/* ********************************** */

/********** 800G Ethernet **************/
.mv_ethernet_pad{
    padding: 2.5rem 0;
}
.mv_resources_text{
    color: #0068b5;
}
.mv_resources_text:hover{
    color: #004a86;
}
/* ********************************** */

/******** CXL Protocol *********/
.mv_block_padd{
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.mv_silder_flex{
    position: relative;
}
.mv_maximize_inpect_slider{
    display: none;
}
.mv_learn_about_btn{
    color: #fff;
    background-color: #0068b5;
    padding: .625rem 1.5rem;
    display: inline-block;
}
.mv_learn_about_btn:hover{
    color: #fff !important;
    background-color: #004a86;
}
/* dots */
.owl-dots {
    text-align: center;
    margin-top: 0px !important;
}
.mv_silder_flex .owl-dots .owl-dot span {
    background: #aeaeae !important;
    width: 12px !important;
    height: 12px !important;
    border-radius: 0px !important;
    margin: 0 5px;
    display: inline-block;
}
.owl-theme .owl-dots .owl-dot.active span{
    background-color: #262626 !important;
}
/* nav */
.owl-nav .owl-prev, .owl-nav .owl-next {
    background-color: rgba(0,0,0,0.6) !important;
    color: #fff !important;
    border-radius: 0rem !important;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    margin: -1.125rem 0 0;
    padding: 0;
    margin: 0rem !important;
    padding: 0rem !important;
    width: 1.5rem;
    height: 3rem;
}
.owl-nav .owl-prev{
    left: -100px;
}
.owl-nav .owl-next{
    right: -100px;
}
.owl-nav{
    display: none;
}
.dk_continued_leading_sub:hover .owl-nav{
    display: block !important;
}
/* model */
.dk_card_color{
    color: #0068b5;
}
.dk_chart_tran{
    position: relative;
}
.dk_card_color:hover{
    color: #00aeef;
}
.mv_industry_download{
    position: absolute;
    top: .5rem;
    right: 1.3rem;
    font-family: "site-global-icons";
    font-style: normal;
    font-weight: 400;
    display: inline-block;
    text-decoration: inherit;
    width: auto;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: rgba(0, 0, 0, 0.5);
    width: 32px;
    height: 32px;
    display: flex;
    text-decoration: none;
    border: 0 !important;
    cursor: pointer;
}
.mv_industry_download:hover{
    background: rgba(0, 0, 0, 0.6) !important;
    opacity: 1;
}
.mv_industry_download:before{
    font-family: "site-global-icons";
    font-style: normal;
    font-weight: 400;
    display: inline-block;
    text-decoration: inherit;
    width: auto;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.5rem;
    /* content: "1"; */
    background: 0;
    padding: 0;
    color: #fff;
    text-decoration: none;
    position: relative;
    top: 5px;
    margin-left: 10px;
}
.mv_industry_download i{
    color: #fff;
    font-size: 20px !important;
    margin-left: 6px;
    margin-top: 6px;
}
.mv_industry_model_content{
    background-color: transparent !important;
    border: none !important;
}
.mv_industry_model_content img{
    max-width: none;
    width: 100%;
}
.mv_industry_body button{
    background: rgba(0, 0, 0, 0.5);
    border: 0;
    color: #fff;
    font-size: 1rem;
    font-weight: 300;
    position: absolute;
    z-index: 3;
    top: 15px;
    right: 15px;
    width: 32px;
    height: 32px;
    padding: 4px 8.5px;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mv_industry_body button span{
    font-size: 20px;
}
.mv_industry_body{
    padding: 0rem !important;
}
/* ************************* */

/****** Technical Specifications ******/
.mv_tachnical_main{
    display: flex;
    flex-flow: row wrap;
}
.mv_tachnical_main dt{
    padding-right: 15px;
    padding-bottom: 16px;
    width: 50%;
}
.mv_tachnical_main dd{
    padding-left: 15px;
    padding-bottom: 16px;
    width: 50%;
}
/* ********************************** */

/********* Hitek Systems *************/
.mv_hitek_main{
    background-color: #41728a;
    color: #fff;
    padding: 24px 32px 8px 32px;
    width: 22.625rem;
}
.mv_hitek_system{
    color: #fff;
}
.mv_hitek_system:hover{
    color: #fff;
    border-bottom: 1px solid #fff;
}
.mv_hitek_btn{
    color: #41728a;
    background-color: #fff;
    padding: .625rem 1.5rem;
    display: inline-block !important;
    width: 100%;
    text-align: center;
    padding-top: 10px;
}
.mv_hitek_btn:hover{
    color: #41728a;
    background-color: #e9e9e9;
}
/* ********************************** */


@media(max-width: 1440px){
    /* ****** */
    .mb_sub_nv{
        overflow-x: scroll !important;
    }
}

@media(max-width: 1199px){
    /* Hitek Systems */
    .mv_hitek_main{
        width: 100% !important;
    }
}

@media(max-width:767px){
    /* comun css */
    .mv_coman_padd{
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }
    .mv_coman_btn{
        width: 100%;
        text-align: center;
    }
    /* Technical Specifications */
    .mv_tachnical_main{
        display: block !important;
        flex-flow: row wrap;
    }
    .mv_tachnical_main dt{
        padding-right: 0px;
        padding-bottom: 0px;
        width: 100%;
    }
    .mv_tachnical_main dd{
        padding-left: 0px;
        padding-bottom: 16px;
        width: 100%;
    }
    /* Hitek Systems */
    .mv_main_eathernet{
        flex-wrap: wrap-reverse !important;
    }
}

@media (min-width: 576px) {
    /* Model */
    .mv_industry_dialog{
        max-width: 100% !important;
        margin: 2.5rem 7rem !important;
    }
}