*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Intel Clear", sans-serif;
}
a{
    text-decoration: none !important;
}
.container{
    max-width: 1610px !important;
}
@media(max-width:1440px){
    .container{
        max-width: 1170px !important;
    }
}
@media(max-width:1199px){
    .container{
        max-width: 970px !important;
    }
}
@media(max-width:991px){
    .container{
        max-width: 750px !important;
    }
}
@media(max-width:768px){
    .container{
        max-width: 750px !important;
    }
}
@media(max-width:425px){
    .container{
        max-width: 390px !important;
    }
}

/*********** comun css ***********/
.b_special_a{
    color: white !important;
    text-decoration: none !important;
    border-bottom: 1px dashed white !important;
}
.b_special_a:hover {
    color: white !important;
    text-decoration: none !important;
    border-bottom: 1px solid white !important;
}
.b_special_a2 {
    color: #0068b5;
    text-decoration: none;
    border:none;
}
.b_special_a2:hover {
    border-bottom: 1px solid #0068b5 ;
}
.b_special_a1 {
    color:  #0068b5 ;
    text-decoration: none !important;
    border-bottom: 1px dashed #0068b5 ;
}
.b_special_a1:hover {
    text-decoration: none !important;
    border-bottom: 1px solid #0068b5 ;
}
.mv_special_3{
    color: #0068b5;
    border-bottom: 1px solid #0068b5 ;
}
/* ********************************** */

/* ************ Nav ************/
.VK_ai_navigation {
    background-color: white;
    border-bottom: 1px solid #d7d7d7;
}
.VK_ai_nav_bar a {
    color: #262626;
    padding: 22px 8px 19px;
    word-break: normal;
    font-weight: 400;
    white-space: nowrap;
    margin-left: 80px;
}
.VK_ai_nav_bar a:hover{
    color: #262626;
}
.VK_ai_navigation.VK_sticky_nav_bar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.VK_active_link {
    position: relative;
    color: #00aeef;
}
.VK_active_link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    background: #00aeef;
}
.VK_ai_nav_bar li a {
    transition: color 0.3s, border-bottom 0.3s;
}
.VK_ai_nav_bar a.active {
    color: #0068b5 !important;
    position: relative;
}
.VK_ai_nav_bar a.active::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    background: #00aeef;
}   
/* *************************** */

/*********** Enhancing *********/
.mv_intel_is_padd{
    padding-top: 3rem;
    padding-bottom: 3rem;
    background: #f7f7f7;
}
/* *************************** */

/********* Benefits ********/
.mv_the_fpga_padd{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    background: #FFF;
}
.mv_the_fpga_con{
    padding: 16px;
}
.mv_applicaton_con img{
    margin-bottom: 10px;
}
.mv_applicaton_con h4{
    font-weight: 350;
}
/* *************************** */

/******** Browse ***********/
.mv_browse_padd{
    padding-bottom: 3rem;
    padding-top: 3rem;
}
.mv_browse_main{
    margin-bottom: 2rem;
}
/* *************************** */




@media(max-width:767px){
    /* Enhancing */
    .mv_intel_is_padd{
        padding-bottom: 2.5rem;
        padding-top: 2.5rem;
    }
    /* Browse */
    .mv_browse_padd{
        padding-bottom: 2.5rem;
        padding-top: 2.5rem;
    }
}