*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Intel Clear", sans-serif;
}
a{
    text-decoration: none !important;
}
p{
    line-height: 1.25;
}

.container{
    max-width: 1610px !important;
}
@media(max-width:1440px){
    .container{
        max-width: 1170px !important;
    }
}
@media(max-width:1199px){
    .container{
        max-width: 970px !important;
    }
}
@media(max-width:991px){
    .container{
        max-width: 750px !important;
    }
}
@media(max-width:768px){
    .container{
        max-width: 750px !important;
    }
}
@media(max-width:425px){
    .container{
        max-width: 390px !important;
    }
}

/*********** comun css ***********/
.b_special_a{
    color: white !important;
    text-decoration: none !important;
    border-bottom: 1px dashed white !important;
}
.b_special_a:hover {
    color: white !important;
    text-decoration: none !important;
    border-bottom: 1px solid white !important;
}
.b_special_a2 {
    color: #0068b5;
    text-decoration: none;
    border:none;
}
.b_special_a2:hover {
    border-bottom: 1px solid #0068b5 ;
}
.b_special_a1 {
    color:  #0068b5 ;
    text-decoration: none !important;
    border-bottom: 1px dashed #0068b5 ;
}
.b_special_a1:hover {
    text-decoration: none !important;
    border-bottom: 1px solid #0068b5 ;
}
.mv_special_3{
    color: #0068b5;
    border-bottom: 1px solid #0068b5 ;
}
/* ********************************** */

/* ********************************** */
.mv_spark_breadcrumb_items{
    margin: 0;
    display: flex;
    padding: 0;
    list-style: none;
}
.mv_spark_breadcrumb_items li{
    display: inline-flex;
    font-size: 15px !important;
}
.mv_spark_breadcrumb_items li a{
    display: block;
    padding: .66em .9rem;
    margin: 1px;
    font-size: .875em;
    line-height: 1.25em;
    color: #0068b5;
    text-wrap: nowrap !important;
}
.mv_spark_breadcrumb_items li p{
    color: #262626;
    font-weight: 700;
    margin-right: 30px;
    padding: .66em 1rem;
    margin: 1px;
    font-size: .875em;
    line-height: 1.25em;
    text-wrap: nowrap !important;
}
.mv_spark_breadcrumb_items li:not(:first-child):before {
    content: "";
    display: inline-block;
    position: relative;
    transform: skew(-18deg);
    block-size: 1rem;
    inline-size: .08rem;
    margin-inline: 0.38rem;
    background-color: #b7b9be;
    inset-block-start: .35rem;
    margin-top: 5px;
}
/* ********************************** */

/*********** Agilex™ FPG **********/
.mv_intel_data_bg_color{
    padding: 40px 0px;
    background-color: #00285a;
}
.mv_intel_data_content{
    color: #fff;
}
.mv_intel_data_content h1{
    font-weight: 300;
    margin-bottom: 16px;
}
.mv_intel_data_content a{
    color: #fff;
    border-bottom: 1px dashed #fff;
}
.mv_intel_data_content a:hover{
    color: #fff;
    border-bottom: 1px solid #fff;
}
.mv_intel_data_image img{
    width: 100%;
    margin-bottom: 10px;
}
.mv_intel_data_respomsive_image img{
    display: none;
}
.mv_key_bg_color{
    background-color: #00285a;
}
.mv_nav_pills_key_features .mv_nav_link_key_features.active{
    background-color: #f7f7f7 !important;
    color: #252525 !important;
    font-weight: 600;
}
.mv_nav_pills_key_features .mv_nav_link_key_features{
    font-weight: 400;
    padding: .7rem 1rem;
    color: #fff !important;
    border-radius: 0rem !important;
}
/*********************************/

/************ Filter By ***********/
.v_2sec_bg {
    background-color: #f7f5f5;
}
.v_mar_topbot{
    padding: 40px 0;
}
.v_3rdsec_text {
    font-weight: 400;
    padding-top: 15px;
    padding-left: 0;
    margin-right: 20px;
    width: max-content;
    float: left;
    min-height: 55px;
    font-size: 14px;
    margin-bottom: 0rem;
}
.v_compare_all {
    color: #0068b5 !important;
    margin-left: 15px;
    border-bottom: 1px dashed #0068b5 !important;
}
.v_compare_all:hover {
    border-bottom: 1px solid #0068b5 !important;
}
.v_table_mar_top {
    margin-top: 20px;
}
.v_item_product{
    color:#0068b5 ;
    border-bottom: 1px dashed #0068b5;
    margin-left: 15px;
}
.v_item_product:hover{
    color:#0068b5 ;
    border-bottom: 1px solid #0068b5;
}
.v_table_header{
    background-color: #d6d4d4 !important;
}
.v_table_header:hover{
    background-color: #808080 !important;
    color: white;
}
.mv_product_current{
    margin-bottom: 1rem;
    align-items: center;
    display: flex;
}
.mv_product_select{
    width: 270px !important;
    border: 1px solid #a4a4a4 !important;
    border-radius: 0rem !important;
}
.mv_product_select option{
    max-width: 270px !important;
}
.mv_product_select:focus{
    box-shadow: none !important;
    border: 1px solid #a4a4a4 !important;
}
.mv_filter_by{
    display: flex;
}
.mv_compare_table{
    width: 100%;
    border-collapse: collapse;
}
.mv_compare_table thead tr th{
    vertical-align: middle;
}
.mv_compare_table tbody tr td{
    background-color: #fff;
    border-right: 1px solid #e9e9e9;
    border-top: 1px solid #e9e9e9;
    white-space: normal !important;
    padding: 16px;
    overflow: hidden;
    font-size: .875rem;
    line-height: 1.42857143;
    vertical-align: top;
}
.mv_compare_table tbody tr :nth-child(even) td{
    background-color: #f7f7f7;
}
.selected-row {
    background-color: #b4f0ff;
}
.selected-row td {
    background-color: inherit !important;
}
/*********************************/




@media(max-width: 1440px){
    /* ****** */
    .mb_sub_nv{
        overflow-x: scroll !important;
    }
}

@media(max-width:991px){
    /* Agilex™ FPG */
    .mv_intel_data_image{
        display: none;
    }
    .mv_intel_data_respomsive_image img{
        display: block;
    }
    .mv_intel_data_respomsive_image img{
        width: 100%;
    }
}

@media(max-width:767px){
    /* Filter By */
    .mv_filter_by{
        display: block !important;
    }
}

@media(max-width:425px){
    /* Filter By */
    .mv_product_select {
        width: 200px !important;
    }
}