*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Intel Clear", sans-serif;
}
a{
    text-decoration: none !important;
}
p{
    line-height: 1.25;
}

.container{
    max-width: 1610px !important;
}
@media(max-width:1440px){
    .container{
        max-width: 1170px !important;
    }
}
@media(max-width:1199px){
    .container{
        max-width: 970px !important;
    }
}
@media(max-width:991px){
    .container{
        max-width: 750px !important;
    }
}
@media(max-width:768px){
    .container{
        max-width: 750px !important;
    }
}
@media(max-width:425px){
    .container{
        max-width: 390px !important;
    }
}

/*********** comun css ***********/
.b_special_a{
    color: white !important;
    text-decoration: none !important;
    border-bottom: 1px dashed white !important;
}
.b_special_a:hover {
    color: white !important;
    text-decoration: none !important;
    border-bottom: 1px solid white !important;
}
.b_special_a2 {
    color: #0068b5;
    text-decoration: none;
    border:none;
}
.b_special_a2:hover {
    border-bottom: 1px solid #0068b5 ;
}
.b_special_a1 {
    color:  #0068b5 ;
    text-decoration: none !important;
    border-bottom: 1px dashed #0068b5 ;
}
.b_special_a1:hover {
    text-decoration: none !important;
    border-bottom: 1px solid #0068b5 ;
}
.mv_special_3{
    color: #0068b5;
    border-bottom: 1px solid #0068b5 ;
}
/* ********************************** */

/*********** Agilex™ FPG **********/
.mv_intel_data_bg_color{
    padding: 40px 0px;
    background-color: #00285a;
}
.mv_intel_data_content{
    color: #fff;
}
.mv_intel_data_content h1{
    font-weight: 300;
    margin-bottom: 16px;
}
.mv_intel_data_content a{
    color: #fff;
    border-bottom: 1px dashed #fff;
}
.mv_intel_data_content a:hover{
    color: #fff;
    border-bottom: 1px solid #fff;
}
.mv_intel_data_image img{
    width: 100%;
    margin-bottom: 10px;
}
.mv_intel_data_respomsive_image img{
    display: none;
}
.mv_key_bg_color{
    background-color: #00285a;
}
.mv_nav_pills_key_features .mv_nav_link_key_features.active{
    background-color: #f7f7f7 !important;
    color: #252525 !important;
}
.mv_nav_pills_key_features .mv_nav_link_key_features{
    font-weight: 600;
    padding: .7rem 1rem;
    color: #fff !important;
    border-radius: 0rem !important;
}
/*********************************/

/******** Optimized for ********/
.mv_maximize_bg_color{
    padding: 2rem 0rem;
    background-color: #F7F7F7;
}
.mv_maximize{
    text-align: center;
}
.mv_maximize h2{
    font-weight: 350;
}
.mv_maximize_comntent{
    text-align: center;
}
.mv_headline_font{
    font-size: 7.5rem;
    font-weight: 400;
    display: flex;
    justify-content: center;
    margin-bottom: 0rem;
    color: #005B85;
}
.mv_maximize_bottom{
    font-size: 3.25rem;
    align-self: self-end;
    padding: .9375rem 0;
}
/*********************************/

/***** Optimized slider *****/
.mv_maximize_inpect_slider{
    display: none;
}
.owl-dots {
    text-align: center;
    margin-top: 0px !important;
}
.mv_main_spark .owl-dots .owl-dot span {
    background: #fff;
    width: 12px !important;
    height: 12px !important;
    border-radius: 0px !important;
    margin: 0 5px;
    display: inline-block;
}
.mv_main_spark .owl-dots .owl-dot.active span{
    background-color: #262626 !important;
}
/*********************************/

/********* Agilex ***************/
.mv_agilex_padd{
    padding-bottom: 2em;
    padding-top: 2em;
}
/*********************************/

/*********** Benefits ***********/
.mv_learn_more_padd{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}
/* ************************* */

/****** Use Cases ******/
.mv_learn_how_padd{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    background-color: #183544;
}
/* *************************** */

/******* Want to ****************/
.mv_deploy_nav_tab{
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #F7F7F7;
}
.mv_contact_btn{
    color: #fff;
    background-color: #0068b5;
    padding: .625rem 1.5rem;
    display: inline-block;
}
.mv_contact_btn:hover{
    color: #fff !important;
    background-color: #004a86;
}
/* *************************** */

/******** Related Links ********/
.mv_discover_more_padd{
    background-color: #183544;
    padding: 40px 0px 10px 0px;
}
.mv_intel_tiber{
    margin-bottom: 1.5rem;
}
.mv_explore_resources_content h2{
    font-weight: 300;
}
.mv_intel_tiber_img{
    align-content: center;
    text-align: center;
}
.mv_intel_tiber_img i{
    height: 40px;
    width: 40px;
    margin-right: 1.5rem;
    border-radius: 50%;
    background-color: #ffffff;
    border: none !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mv_intel_card{
    display: flex;
    padding: .75rem 1.5rem;
    background-color: #F3F3F3;
    min-height: 4.5rem;
}
.mv_discover_more_heading h2{
    font-weight: 300;
}
.mv_discover_more_content{
    padding: 16px;
}
.mv_discover_more_item{
    padding-left: 15px;
    width: 58.33%;
}
.mv_discover_more_item h4{
    font-weight: 300;
}
.dk_issue{
    color: #0068b5;
}
.dk_issue:hover{
    color: #004a86;
}
/* ***************************** */




@media(max-width:1199px){
    /* Optimized for */
    .mv_headline_font{
        font-size: 5.5rem;
    }
    .mv_maximize_bottom{
        font-size: 2.1375rem;
    }
}

@media(max-width:991px){
    /* Agilex™ FPG */
    .mv_intel_data_image{
        display: none;
    }
    .mv_intel_data_respomsive_image img{
        display: block;
    }
    .mv_intel_data_respomsive_image img{
        width: 100%;
    }
}

@media(max-width:767px){
    /* Optimized slider */
    .mv_maximize_inpect_slider{
        display: block;
    }
    /* Optimized for */
    .mv_maximize_inpect_without_slider{
        display: none !important;
    }
    /* Want to */
    .mv_deploy_nav_tab{
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }
    .mv_contact_btn{
        text-align: center;
        width: center;
    }
}