*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Intel Clear", sans-serif;
}
a{
    text-decoration: none !important;
}
p{
    line-height: 1.25;
}

.container{
    max-width: 1610px !important;
}
@media(max-width:1440px){
    .container{
        max-width: 1170px !important;
    }
}
@media(max-width:1199px){
    .container{
        max-width: 970px !important;
    }
}
@media(max-width:991px){
    .container{
        max-width: 750px !important;
    }
}
@media(max-width:768px){
    .container{
        max-width: 750px !important;
    }
}
@media(max-width:425px){
    .container{
        max-width: 390px !important;
    }
}

/*********** comun css ***********/
.b_special_a{
    color: white !important;
    text-decoration: none !important;
    border-bottom: 1px dashed white !important;
}
.b_special_a:hover {
    color: white !important;
    text-decoration: none !important;
    border-bottom: 1px solid white !important;
}
.b_special_a2 {
    color: #0068b5;
    text-decoration: none;
    border:none;
}
.b_special_a2:hover {
    border-bottom: 1px solid #0068b5 ;
}
.b_special_a1 {
    color:  #0068b5 ;
    text-decoration: none !important;
    border-bottom: 1px dashed #0068b5 ;
}
.b_special_a1:hover {
    text-decoration: none !important;
    border-bottom: 1px solid #0068b5 ;
}
.mv_special_3{
    color: #0068b5;
    border-bottom: 1px solid #0068b5 ;
}
/* ********************************** */

/* ************ Nav ************/
.VK_ai_navigation {
    background-color: white;
    border-bottom: 1px solid #d7d7d7;
}
.VK_ai_nav_bar a {
    color: #262626;
    padding: 22px 8px 19px;
    word-break: normal;
    font-weight: 400;
    white-space: nowrap;
    margin-left: 80px;
}
.VK_ai_nav_bar a:hover{
    color: #262626;
}
.VK_ai_navigation.VK_sticky_nav_bar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.VK_active_link {
    position: relative;
    color: #00aeef;
}
.VK_active_link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    background: #00aeef;
}
.VK_ai_nav_bar li a {
    transition: color 0.3s, border-bottom 0.3s;
}
.VK_ai_nav_bar a.active {
    color: #0068b5 !important;
    position: relative;
}
.VK_ai_nav_bar a.active::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    background: #00aeef;
}   
/* *************************** */

/*********** Unlocking *********/
.mv_upcoming_event_padd{
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #fff;
}
.mv_upcoming_event_con h1{
    font-weight: 350;
    text-align: center !important;
}
/* *************************** */

/******* Recap at Embedded *******/
.mv_deploy_nav_tab{
    background-color: #fff;
}
.mv_deploy_nav_pills{
    border-bottom: 1px solid #E6E6E6;
}
.mv_deploy_nav_link {
    color: #0068b5 !important;
}
.mv_deploy_nav_pills .mv_deploy_nav_link{
    background-color: #fff !important;
}
.mv_deploy_nav_pills .mv_deploy_nav_link.active{
    border-radius: 0rem !important;
    color: #0068b5 !important;
    border-bottom: 4px solid #00aeef;
}
.mv_deploy_nav_pills .mv_deploy_nav_link:hover{
    border-radius: 0rem;
    background-color: #fff !important;
}
.mv_gpu_flex_padd{
    padding: 3rem 0rem;
}
.mv_gpu_flex{
    align-content: center;
}
.mv_gpu_flex h1{
    font-weight: 350;
}
.mv_gpu_flex p{
    margin-bottom: .5rem;
}
.mv_gpu_flex p a{
    color: #0068b5;
    border-bottom: 1px dashed #0068b5;
}
.mv_gpu_flex p a:hover{
    border-bottom: 1px solid #0068b5;
}
.mv_gpu_flex_img img{
    width: 100%;
}
.mv_enable_boundless_padd{
    padding: 3rem 0rem;
}
.mv_enable_img img{
    width: 100%;
    margin-bottom: 10px;
}
/*********************************/




@media(max-width:767px){
    /* Unlocking */
    .mv_upcoming_event_padd{
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }
    /* Recap at Embedded */
    .mv_gpu_flex_padd{
        padding: 2.5rem 0rem;
    }
    .mv_achieve_media{
        flex-wrap: wrap-reverse !important;
    }
    .mv_enable_boundless_padd{
        padding: 2.5rem 0rem;
    }
    .mv_gpu_flex_img{
        margin-bottom: 1rem;
    }
}