*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Intel Clear", sans-serif;
}
a{
    text-decoration: none !important;
}
p{
    line-height: 1.25;
}

.container{
    max-width: 1610px !important;
}
@media(max-width:1440px){
    .container{
        max-width: 1170px !important;
    }
}
@media(max-width:1199px){
    .container{
        max-width: 970px !important;
    }
}
@media(max-width:991px){
    .container{
        max-width: 750px !important;
    }
}
@media(max-width:768px){
    .container{
        max-width: 750px !important;
    }
}
@media(max-width:425px){
    .container{
        max-width: 390px !important;
    }
}

/*********** comun css ***********/
.b_special_a{
    color: white !important;
    text-decoration: none !important;
    border-bottom: 1px dashed white !important;
}
.b_special_a:hover {
    color: white !important;
    text-decoration: none !important;
    border-bottom: 1px solid white !important;
}
.b_special_a2 {
    color: #0068b5;
    text-decoration: none;
    border:none;
}
.b_special_a2:hover {
    border-bottom: 1px solid #0068b5 ;
}
.b_special_a1 {
    color:  #0068b5 ;
    text-decoration: none !important;
    border-bottom: 1px dashed #0068b5 ;
}
.b_special_a1:hover {
    text-decoration: none !important;
    border-bottom: 1px solid #0068b5 ;
}
.mv_special_3{
    color: #0068b5;
    border-bottom: 1px solid #0068b5 ;
}
/* ********************************** */

/******* Within Government *********/
.mv_leading_padd{
    padding-top: 3rem;
    padding-bottom: 3rem;
    background: #F7F7F7;
}
.mv_leading_con{
    text-align: center;
}
.mv_leading_con h2{
    font-weight: 350;
}
/* *************************** */

/****** Radar and Sensors *******/
.mv_radar_and_sensors_padd{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    background: #FFF;
}
.mv_get_support_btn{
    color: #fff;
    background-color: #0068b5;
    padding: .5rem 1.5rem;
    display: inline-block !important;
}
.mv_get_support_btn:hover{
    color: #fff;
    background-color: #004a86;
}
.mv_radar_con h4{
    font-weight: 350;
}
/* ***************************** */

/*********** caes *************/
.mv_caes_padd{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    background: #FFF;
}
/* ***************************** */




@media(max-width:1199px){
    /* Additional Resources */
    .mv_additional_con{
        padding: 0px;
    }
}

@media(max-width:767px){
    /* Within Government */
    .mv_leading_padd{
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }
    /* Radar and Sensors */
    .mv_get_support_btn{
        width: 100%;
        text-align: center;
    }
}