*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Intel Clear", sans-serif;
}
a{
    text-decoration: none !important;
}
p{
    line-height: 1.25;
}

.container{
    max-width: 1610px !important;
}
@media(max-width:1440px){
    .container{
        max-width: 1170px !important;
    }
}
@media(max-width:1199px){
    .container{
        max-width: 970px !important;
    }
}
@media(max-width:991px){
    .container{
        max-width: 750px !important;
    }
}
@media(max-width:768px){
    .container{
        max-width: 750px !important;
    }
}
@media(max-width:425px){
    .container{
        max-width: 390px !important;
    }
}

/*********** comun css ***********/
.b_special_a{
    color: white !important;
    text-decoration: none !important;
    border-bottom: 1px dashed white !important;
}
.b_special_a:hover {
    color: white !important;
    text-decoration: none !important;
    border-bottom: 1px solid white !important;
}
.b_special_a2 {
    color: #0068b5;
    text-decoration: none;
    border:none;
}
.b_special_a2:hover {
    border-bottom: 1px solid #0068b5 ;
}
.b_special_a1 {
    color:  #0068b5 ;
    text-decoration: none !important;
    border-bottom: 1px dashed #0068b5 ;
}
.b_special_a1:hover {
    text-decoration: none !important;
    border-bottom: 1px solid #0068b5 ;
}
.mv_special_3{
    color: #0068b5;
    border-bottom: 1px solid #0068b5 ;
}
/* ********************************** */

/* ************ Nav ************/
.VK_ai_navigation {
    background-color: white;
    border-bottom: 1px solid #d7d7d7;
}
.VK_ai_nav_bar a {
    color: #262626;
    padding: 22px 8px 19px;
    word-break: normal;
    font-weight: 400;
    white-space: nowrap;
    margin-left: 80px;
}
.VK_ai_nav_bar a:hover{
    color: #262626;
}
.VK_ai_navigation.VK_sticky_nav_bar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.VK_active_link {
    position: relative;
    color: #00aeef;
}
.VK_active_link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    background: #00aeef;
}
.VK_ai_nav_bar li a {
    transition: color 0.3s, border-bottom 0.3s;
}
.VK_ai_nav_bar a.active {
    color: #0068b5 !important;
    position: relative;
}
.VK_ai_nav_bar a.active::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    background: #00aeef;
}   
/* *************************** */

/********** Altera® FPGA *********/
.mv_intel_fpga_padd{
    background-color: #548FAD;
    padding-top: 5rem;
    padding: 4rem 1.5rem 1.8125rem;
}
/* *************************** */

/******* FPGA Basics **********/
.mv_fpga_basics_padd{
    padding-top: 3rem;
    padding-bottom: 3rem;
    background: #f7f7f7;
}
/* *************************** */

/******** Background ***********/
.mv_fpga_basics_padd{
    padding-top: 1rem;
    padding-bottom: 2rem;
}
/* *************************** */

/**** Intel® FPGA Direct ****/
.dk_continued_leading{
    padding: 2.5rem 0rem;
}
.mv_silder_flex{
    position: relative;
}
.mv_maximize_inpect_slider{
    display: none;
}
.mv_learn_about_btn{
    color: #fff;
    background-color: #0068b5;
    padding: .625rem 1.5rem;
    display: inline-block;
}
.mv_learn_about_btn:hover{
    color: #fff !important;
    background-color: #004a86;
}
/* dots */
.owl-dots {
    text-align: center;
    margin-top: 0px !important;
}
.mv_silder_flex .owl-dots .owl-dot span {
    background: #aeaeae !important;
    width: 12px !important;
    height: 12px !important;
    border-radius: 0px !important;
    margin: 0 5px;
    display: inline-block;
}
.owl-theme .owl-dots .owl-dot.active span{
    background-color: #262626 !important;
}
/* nav */
.owl-nav .owl-prev, .owl-nav .owl-next {
    background-color: rgba(0,0,0,0.6) !important;
    color: #fff !important;
    border-radius: 0rem !important;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    margin: -1.125rem 0 0;
    padding: 0;
    margin: 0rem !important;
    padding: 0rem !important;
    width: 1.5rem;
    height: 3rem;
}
.owl-nav .owl-prev{
    left: 0px;
}
.owl-nav .owl-next{
    right: 0px;
}
.owl-nav{
    display: none;
}
.dk_continued_leading_sub:hover .owl-nav{
    display: block !important;
}
/* model */
.dk_card_color{
    color: #0068b5;
}
.dk_chart_tran{
    position: relative;
}
.dk_card_color:hover{
    color: #00aeef;
}
.mv_industry_download{
    position: absolute;
    top: .5rem;
    right: 1.3rem;
    font-family: "site-global-icons";
    font-style: normal;
    font-weight: 400;
    display: inline-block;
    text-decoration: inherit;
    width: auto;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: rgba(0, 0, 0, 0.5);
    width: 32px;
    height: 32px;
    display: flex;
    text-decoration: none;
    border: 0 !important;
    cursor: pointer;
}
.mv_industry_download:hover{
    background: rgba(0, 0, 0, 0.6) !important;
    opacity: 1;
}
.mv_industry_download:before{
    font-family: "site-global-icons";
    font-style: normal;
    font-weight: 400;
    display: inline-block;
    text-decoration: inherit;
    width: auto;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.5rem;
    /* content: "1"; */
    background: 0;
    padding: 0;
    color: #fff;
    text-decoration: none;
    position: relative;
    top: 5px;
    margin-left: 10px;
}
.mv_industry_download i{
    color: #fff;
    font-size: 20px !important;
    margin-left: 6px;
    margin-top: 6px;
}
/* .mv_industry_model_content{
    background-color: transparent !important;
    border: none !important;
} */
.mv_industry_model_content img{
    max-width: none;
    width: 100%;
}
.mv_industry_body button{
    background: rgba(0, 0, 0, 0.5);
    border: 0;
    color: #fff;
    font-size: 1rem;
    font-weight: 300;
    position: absolute;
    z-index: 3;
    top: 15px;
    right: 15px;
    width: 32px;
    height: 32px;
    padding: 4px 8.5px;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mv_industry_body button span{
    font-size: 20px;
}
.mv_industry_body{
    padding: 0rem !important;
}
/* ************************* */

/****** Developers *********/
.mv_developer_padd{
    padding-top: 3rem;
    padding-bottom: 1.5rem;
}
.mv_developer_main{
    display: flex;
}
.mv_developer_con img{
    width: 128px;
    height: 96px;
}
.mv_developer_text h5{
    font-weight: 400;
}
/* ************************* */

/* table */
.mv_product_padd{
    padding: 2em 0;
    color: #262626;
    background-color: #F7F7F7;
}
.mv_product_table{
    border: 1px solid #e9e9e9;
}
.mv_product_table thead tr th{
    background-color: #e9e9e9;
    border-right: 1px solid #fff;
    border-bottom: 0;
    border-top: 0;
    padding: 8px;
    text-align: center;
    vertical-align: top;
    color: #262626;
    font-size: .875rem;
    font-weight: 700;
    line-height: 1.25;
}
.mv_product_table tbody tr td{
    background-color: #fff;
    border-right: 1px solid #e9e9e9;
    border-top: 1px solid #e9e9e9;
    white-space: normal !important;
    padding: 16px;
    overflow: hidden;
    font-size: .875rem;
    line-height: 1.42857143;
    vertical-align: top;
}
.mv_product_table tbody tr:nth-child(even) td{
    background-color: #f7f7f7;
}
/*********************************/

/***** Intel FPGA Technical *****/
.mv_tachnical_con img{
    width: 128px;
    height: 96px;
}
/*********************************/


@media(max-width:767px){
    /* Altera® FPGA */
    .mv_intel_fpga_padd{
        padding: 1rem 1rem 1.8125rem;
    }
    /* FPGA Basics */
    .mv_fpga_basics_padd{
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }
    /* Background */
    .mv_fpga_basics_padd{
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    /* Developers */
    .mv_developer_con img{
        display: none;
    }
    /* How Do You */
    .mv_product_table{
        overflow-x: scroll;
        display: inline-block;
    }
    /* Intel FPGA Technical */
    .mv_tachnical_con img{
        width: 80px;
        height: 60px;
    }
}

@media (min-width: 576px) {
    /* Model */
    .mv_industry_dialog{
        max-width: 100% !important;
        margin: 2.5rem 7rem !important;
    }
}