*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Intel Clear", sans-serif;
}
a{
    text-decoration: none !important;
}
p{
    line-height: 1.25;
}

.container{
    max-width: 1610px !important;
}
@media(max-width:1440px){
    .container{
        max-width: 1170px !important;
    }
}
@media(max-width:1199px){
    .container{
        max-width: 970px !important;
    }
}
@media(max-width:991px){
    .container{
        max-width: 750px !important;
    }
}
@media(max-width:768px){
    .container{
        max-width: 750px !important;
    }
}
@media(max-width:425px){
    .container{
        max-width: 390px !important;
    }
}

/*********** comun css ***********/
.b_special_a{
    color: white !important;
    text-decoration: none !important;
    border-bottom: 1px dashed white !important;
}
.b_special_a:hover {
    color: white !important;
    text-decoration: none !important;
    border-bottom: 1px solid white !important;
}
.b_special_a2 {
    color: #0068b5;
    text-decoration: none;
    border:none;
}
.b_special_a2:hover {
    border-bottom: 1px solid #0068b5 ;
}
.b_special_a1 {
    color:  #0068b5 ;
    text-decoration: none !important;
    border-bottom: 1px dashed #0068b5 ;
}
.b_special_a1:hover {
    text-decoration: none !important;
    border-bottom: 1px solid #0068b5 ;
}
.mv_special_3{
    color: #0068b5;
    border-bottom: 1px solid #0068b5 ;
}
/* ********************************** */

/* ********************************** */
.mv_spark_breadcrumb_items{
    margin: 0;
    display: flex;
    padding: 0;
    list-style: none;
}
.mv_spark_breadcrumb_items li{
    display: inline-flex;
    font-size: 15px !important;
}
.mv_spark_breadcrumb_items li a{
    display: block;
    padding: .66em .9rem;
    margin: 1px;
    font-size: .875em;
    line-height: 1.25em;
    color: #0068b5;
    text-wrap: nowrap !important;
}
.mv_spark_breadcrumb_items li p{
    color: #262626;
    font-weight: 700;
    margin-right: 30px;
    padding: .66em 1rem;
    margin: 1px;
    font-size: .875em;
    line-height: 1.25em;
    text-wrap: nowrap !important;
}
.mv_spark_breadcrumb_items li:not(:first-child):before {
    content: "";
    display: inline-block;
    position: relative;
    transform: skew(-18deg);
    block-size: 1rem;
    inline-size: .08rem;
    margin-inline: 0.38rem;
    background-color: #b7b9be;
    inset-block-start: .35rem;
    margin-top: 5px;
}
/* ********************************** */

/*********** Agilex™ FPG **********/
.mv_intel_data_bg_color{
    padding: 40px 0px;
    background-color: #00285a;
}
.mv_intel_data_content{
    color: #fff;
}
.mv_intel_data_content h1{
    font-weight: 300;
    margin-bottom: 16px;
}
.mv_intel_data_content a{
    color: #fff;
    border-bottom: 1px dashed #fff;
}
.mv_intel_data_content a:hover{
    color: #fff;
    border-bottom: 1px solid #fff;
}
.mv_intel_data_image img{
    width: 100%;
    margin-bottom: 10px;
}
.mv_intel_data_respomsive_image img{
    display: none;
}
.mv_key_bg_color{
    background-color: #00285a;
}
.mv_nav_pills_key_features .mv_nav_link_key_features.active{
    background-color: #f7f7f7 !important;
    color: #252525 !important;
}
.mv_nav_pills_key_features .mv_nav_link_key_features{
    font-weight: 600;
    padding: .7rem 1rem;
    color: #fff !important;
    border-radius: 0rem !important;
}
/*********************************/

/****** Arria® V GZ FPGA ******/
.mv_learn_more_padd{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    background-color: #F7F7F7;
}
/* ************************* */

/****** Features an ******/
.mv_intel_satrix_10{
    text-align: center;
}
.mv_intel_satrix_10 h2{
    font-weight: 350;
}
.mv_view_all_btn{
    color: #fff;
    background-color: #0068b5;
    padding: .625rem 1.5rem;
    display: inline-block !important;
}
.mv_view_all_btn:hover{
    color: #fff;
    background-color: #004a86;
}
/* ************************* */

/******* Not All SoC *******/
.mv_not_all_padd{
    padding-top: 1rem;
    padding-bottom: 2rem;
}
/* ************************* */

/****** Benefits ******/
.mv_learn_how_padd{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    background-color: #183544;
}
/* *************************** */

/***** Additional Resources ******/
.mv_add_padd{
    padding-top: 3rem;
    padding-bottom: 1.5rem;
    background-color: #0068B5;
    color: #fff;
}
.mv_add_con{
    display: flex;
}
.mv_add_img img{
    width: 128px;
    height: 96px;
}
/* *************************** */

/******** Related Links ********/
.mv_discover_more_padd{
    background-color: #183544;
    padding: 40px 0px 10px 0px;
}
.mv_intel_tiber{
    margin-bottom: 1.5rem;
}
.mv_explore_resources_content h2{
    font-weight: 300;
}
.mv_intel_tiber_img{
    align-content: center;
    text-align: center;
}
.mv_intel_tiber_img i{
    height: 40px;
    width: 40px;
    margin-right: 1.5rem;
    border-radius: 50%;
    background-color: #ffffff;
    border: none !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mv_intel_card{
    display: flex;
    padding: .75rem 1.5rem;
    background-color: #F3F3F3;
    min-height: 4.5rem;
}
.mv_discover_more_heading h2{
    font-weight: 300;
}
.mv_discover_more_content{
    padding: 16px;
}
.mv_discover_more_item{
    padding-left: 15px;
    width: 58.33%;
}
.mv_discover_more_item h4{
    font-weight: 300;
}
.dk_issue{
    color: #0068b5;
}
.dk_issue:hover{
    color: #004a86;
}
/* ***************************** */

/******** Download Cables *********/
.mv_block_padd{
    padding-top: 3rem;
    padding-bottom: 3rem;
}
/* ***************************** */

/******** MAX® V Architecture *********/
.mv_block_padd{
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.mv_silder_flex{
    position: relative;
}
.mv_maximize_inpect_slider{
    display: none;
}
.mv_learn_about_btn{
    color: #fff;
    background-color: #0068b5;
    padding: .625rem 1.5rem;
    display: inline-block;
}
.mv_learn_about_btn:hover{
    color: #fff !important;
    background-color: #004a86;
}
/* dots */
.owl-dots {
    text-align: center;
    margin-top: 0px !important;
}
.mv_silder_flex .owl-dots .owl-dot span {
    background: #aeaeae !important;
    width: 12px !important;
    height: 12px !important;
    border-radius: 0px !important;
    margin: 0 5px;
    display: inline-block;
}
.owl-theme .owl-dots .owl-dot.active span{
    background-color: #262626 !important;
}
/* nav */
.owl-nav .owl-prev, .owl-nav .owl-next {
    background-color: rgba(0,0,0,0.6) !important;
    color: #fff !important;
    border-radius: 0rem !important;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    margin: -1.125rem 0 0;
    padding: 0;
    margin: 0rem !important;
    padding: 0rem !important;
    width: 1.5rem;
    height: 3rem;
}
.owl-nav .owl-prev{
    left: 0px;
}
.owl-nav .owl-next{
    right: 0px;
}
.owl-nav{
    display: none;
}
.dk_continued_leading_sub:hover .owl-nav{
    display: block !important;
}
/* model */
.dk_card_color{
    color: #0068b5;
}
.dk_chart_tran{
    position: relative;
}
.dk_card_color:hover{
    color: #00aeef;
}
.mv_industry_download{
    position: absolute;
    top: .5rem;
    right: 1.3rem;
    font-family: "site-global-icons";
    font-style: normal;
    font-weight: 400;
    display: inline-block;
    text-decoration: inherit;
    width: auto;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: rgba(0, 0, 0, 0.5);
    width: 32px;
    height: 32px;
    display: flex;
    text-decoration: none;
    border: 0 !important;
    cursor: pointer;
}
.mv_industry_download:hover{
    background: rgba(0, 0, 0, 0.6) !important;
    opacity: 1;
}
.mv_industry_download:before{
    font-family: "site-global-icons";
    font-style: normal;
    font-weight: 400;
    display: inline-block;
    text-decoration: inherit;
    width: auto;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.5rem;
    /* content: "1"; */
    background: 0;
    padding: 0;
    color: #fff;
    text-decoration: none;
    position: relative;
    top: 5px;
    margin-left: 10px;
}
.mv_industry_download i{
    color: #fff;
    font-size: 20px !important;
    margin-left: 6px;
    margin-top: 6px;
}
.mv_industry_model_content{
    background-color: transparent !important;
    border: none !important;
}
.mv_industry_model_content img{
    max-width: none;
    width: 100%;
}
.mv_industry_body button{
    background: rgba(0, 0, 0, 0.5);
    border: 0;
    color: #fff;
    font-size: 1rem;
    font-weight: 300;
    position: absolute;
    z-index: 3;
    top: 15px;
    right: 15px;
    width: 32px;
    height: 32px;
    padding: 4px 8.5px;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mv_industry_body button span{
    font-size: 20px;
}
.mv_industry_body{
    padding: 0rem !important;
}
/* ************************* */




@media(max-width: 1440px){
    /* ****** */
    .mb_sub_nv{
        overflow-x: scroll !important;
    }
}

@media(max-width:991px){
    /* Agilex™ FPG */
    .mv_intel_data_image{
        display: none;
    }
    .mv_intel_data_respomsive_image img{
        display: block;
    }
    .mv_intel_data_respomsive_image img{
        width: 100%;
    }
}

@media(max-width:767px){
    /* Low Power */
    .mv_not_all_padd{
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    /* Use Cases */
    .mv_view_all_btn{
        width: 100%;
        text-align: center;
    }
    /* Download Cables */
    .mv_block_padd{
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }
    /* I/O Voltage */
    .mv_intel_quartus{
        flex-wrap: wrap-reverse !important;
    }
    /* Additional Resources */
    .mv_add_img img{
        display: none;
    }
}

@media (min-width: 576px) {
    /* Model */
    .mv_industry_dialog{
        max-width: 100% !important;
        margin: 2.5rem 7rem !important;
    }
}