*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Intel Clear", sans-serif;
}
a{
    text-decoration: none !important;
}
p{
    line-height: 1.25;
}

.container{
    max-width: 1610px !important;
}
@media(max-width:1440px){
    .container{
        max-width: 1170px !important;
    }
}
@media(max-width:1199px){
    .container{
        max-width: 970px !important;
    }
}
@media(max-width:991px){
    .container{
        max-width: 750px !important;
    }
}
@media(max-width:768px){
    .container{
        max-width: 750px !important;
    }
}
@media(max-width:425px){
    .container{
        max-width: 390px !important;
    }
}

/*********** comun css ***********/
.b_special_a{
    color: white !important;
    text-decoration: none !important;
    border-bottom: 1px dashed white !important;
}
.b_special_a:hover {
    color: white !important;
    text-decoration: none !important;
    border-bottom: 1px solid white !important;
}
.b_special_a2 {
    color: #0068b5;
    text-decoration: none;
    border:none;
}
.b_special_a2:hover {
    border-bottom: 1px solid #0068b5 ;
}
.b_special_a1 {
    color:  #0068b5 ;
    text-decoration: none !important;
    border-bottom: 1px dashed #0068b5 ;
}
.b_special_a1:hover {
    text-decoration: none !important;
    border-bottom: 1px solid #0068b5 ;
}
.mv_special_3{
    color: #0068b5;
    border-bottom: 1px solid #0068b5 ;
}

.mv_coman_padd{
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.mv_coman_btn{
    color: #fff;
    background-color: #0068b5;
    padding: .625rem 1.5rem;
    display: inline-block !important;
}
.mv_coman_btn:hover{
    color: #fff;
    background-color: #005a9d;
}
/* ********************************** */

/* ********************************** */
.mv_spark_breadcrumb_items{
    margin: 0;
    display: flex;
    padding: 0;
    list-style: none;
}
.mv_spark_breadcrumb_items li{
    display: inline-flex;
    font-size: 15px !important;
}
.mv_spark_breadcrumb_items li a{
    display: block;
    padding: .66em .9rem;
    margin: 1px;
    font-size: .875em;
    line-height: 1.25em;
    color: #0068b5;
    text-wrap: nowrap !important;
}
.mv_spark_breadcrumb_items li p{
    color: #262626;
    font-weight: 700;
    margin-right: 30px;
    padding: .66em 1rem;
    margin: 1px;
    font-size: .875em;
    line-height: 1.25em;
    text-wrap: nowrap !important;
}
.mv_spark_breadcrumb_items li:not(:first-child):before {
    content: "";
    display: inline-block;
    position: relative;
    transform: skew(-18deg);
    block-size: 1rem;
    inline-size: .08rem;
    margin-inline: 0.38rem;
    background-color: #b7b9be;
    inset-block-start: .35rem;
    margin-top: 5px;
}
/* ********************************** */

/*********** Agilex™ FPG **********/
.mv_intel_data_bg_color{
    padding: 40px 0px;
    background-color: #00285a;
}
.mv_intel_data_content{
    color: #fff;
}
.mv_intel_data_content h1{
    font-weight: 300;
    margin-bottom: 16px;
}
.mv_intel_data_content a{
    color: #fff;
    border-bottom: 1px dashed #fff;
}
.mv_intel_data_content a:hover{
    color: #fff;
    border-bottom: 1px solid #fff;
}
.mv_intel_data_image img{
    width: 100%;
    margin-bottom: 10px;
}
.mv_intel_data_respomsive_image img{
    display: none;
}
.mv_key_bg_color{
    background-color: #00285a;
}
.mv_nav_pills_key_features .mv_nav_link_key_features.active{
    font-weight: 600;
    background-color: #f7f7f7 !important;
    color: #252525 !important;
}
.mv_nav_pills_key_features .mv_nav_link_key_features{
    font-weight: 400;
    padding: .7rem 1rem;
    color: #fff !important;
    border-radius: 0rem !important;
}
/*********************************/

/******** CXL Protocol *********/
.mv_block_padd{
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.mv_silder_flex{
    position: relative;
}
.mv_maximize_inpect_slider{
    display: none;
}
.mv_learn_about_btn{
    color: #fff;
    background-color: #0068b5;
    padding: .625rem 1.5rem;
    display: inline-block;
}
.mv_learn_about_btn:hover{
    color: #fff !important;
    background-color: #004a86;
}
/* dots */
.owl-dots {
    text-align: center;
    margin-top: 0px !important;
}
.mv_silder_flex .owl-dots .owl-dot span {
    background: #aeaeae !important;
    width: 12px !important;
    height: 12px !important;
    border-radius: 0px !important;
    margin: 0 5px;
    display: inline-block;
}
.owl-theme .owl-dots .owl-dot.active span{
    background-color: #262626 !important;
}
/* nav */
.owl-nav .owl-prev, .owl-nav .owl-next {
    background-color: rgba(0,0,0,0.6) !important;
    color: #fff !important;
    border-radius: 0rem !important;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    margin: -1.125rem 0 0;
    padding: 0;
    margin: 0rem !important;
    padding: 0rem !important;
    width: 1.5rem;
    height: 3rem;
}
.owl-nav .owl-prev{
    left: -100px;
}
.owl-nav .owl-next{
    right: -100px;
}
.owl-nav{
    display: none;
}
.dk_continued_leading_sub:hover .owl-nav{
    display: block !important;
}
/* model */
.dk_card_color{
    color: #0068b5;
}
.dk_chart_tran{
    position: relative;
}
.dk_card_color:hover{
    color: #00aeef;
}
.mv_industry_download{
    position: absolute;
    top: .5rem;
    right: 1.3rem;
    font-family: "site-global-icons";
    font-style: normal;
    font-weight: 400;
    display: inline-block;
    text-decoration: inherit;
    width: auto;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: rgba(0, 0, 0, 0.5);
    width: 32px;
    height: 32px;
    display: flex;
    text-decoration: none;
    border: 0 !important;
    cursor: pointer;
}
.mv_industry_download:hover{
    background: rgba(0, 0, 0, 0.6) !important;
    opacity: 1;
}
.mv_industry_download:before{
    font-family: "site-global-icons";
    font-style: normal;
    font-weight: 400;
    display: inline-block;
    text-decoration: inherit;
    width: auto;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.5rem;
    /* content: "1"; */
    background: 0;
    padding: 0;
    color: #fff;
    text-decoration: none;
    position: relative;
    top: 5px;
    margin-left: 10px;
}
.mv_industry_download i{
    color: #fff;
    font-size: 20px !important;
    margin-left: 6px;
    margin-top: 6px;
}
.mv_industry_model_content{
    background-color: transparent !important;
    border: none !important;
}
.mv_industry_model_content img{
    max-width: none;
    width: 100%;
}
.mv_industry_body button{
    background: rgba(0, 0, 0, 0.5);
    border: 0;
    color: #fff;
    font-size: 1rem;
    font-weight: 300;
    position: absolute;
    z-index: 3;
    top: 15px;
    right: 15px;
    width: 32px;
    height: 32px;
    padding: 4px 8.5px;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mv_industry_body button span{
    font-size: 20px;
}
.mv_industry_body{
    padding: 0rem !important;
}
/* ************************* */

/******* Ordering Information *******/
.mv_deploy_nav_tab{
    background-color: #fff;
}
.mv_deploy_nav_pills{
    border-bottom: 1px solid #E6E6E6;
}
.mv_deploy_nav_link {
    color: #0068b5 !important;
}
.mv_deploy_nav_pills .mv_deploy_nav_link{
    background-color: #fff !important;
}
.mv_deploy_nav_pills .mv_deploy_nav_link.active{
    border-radius: 0rem !important;
    color: #0068b5 !important;
    border-bottom: 4px solid #00aeef;
    background-color: #F2F2F2 !important;
}
.mv_deploy_nav_pills .mv_deploy_nav_link:hover{
    border-radius: 0rem;
    background-color: #F2F2F2 !important;
}
.mv_gpu_flex_padd{
    padding: 3rem 0rem;
}
.mv_gpu_flex{
    align-content: center;
}
.mv_gpu_flex h1{
    font-weight: 350;
}
.mv_gpu_flex p{
    margin-bottom: .5rem;
}
.mv_gpu_flex p a{
    color: #0068b5;
    border-bottom: 1px dashed #0068b5;
}
.mv_gpu_flex p a:hover{
    border-bottom: 1px solid #0068b5;
}
.mv_gpu_flex_img img{
    width: 100%;
}
.mv_enable_boundless_padd{
    padding: 3rem 0rem;
}
.mv_enable_img img{
    width: 100%;
    margin-bottom: 10px;
}
/*********************************/

/******* Ordering table *********/
.mv_product_padd{
    padding: 2em 0;
    color: #262626;
    background-color: #F7F7F7;
}
.mv_product_table{
    border: 1px solid #e9e9e9;
}
.mv_product_table thead tr th{
    min-width: 120px;
    background-color: #e9e9e9;
    border-right: 1px solid #fff;
    border-bottom: 0;
    border-top: 0;
    padding: 8px;
    text-align: center;
    color: #262626;
    font-size: .875rem;
    line-height: 1.25;
    vertical-align: middle;
}
.mv_product_table tbody tr td{
    background-color: #fff;
    border-right: 1px solid #e9e9e9;
    border-top: 1px solid #e9e9e9;
    white-space: normal !important;
    padding: 16px;
    overflow: hidden;
    font-size: .875rem;
    line-height: 1.42857143;
    vertical-align: middle;
}
.mv_product_table tbody tr:nth-child(even) td{
    background-color: #f7f7f7;
}
/*********************************/

/******** Documentation ********/
.mv_discover_more_padd{
    padding: 40px 0px 10px 0px;
}
.mv_intel_tiber{
    margin-bottom: 1.5rem;
}
.mv_explore_resources_content h2{
    font-weight: 300;
}
.mv_intel_tiber_img{
    align-content: center;
    text-align: center;
}
.mv_intel_tiber_img i{
    height: 40px;
    width: 40px;
    margin-right: 1.5rem;
    border-radius: 50%;
    background-color: #ffffff;
    border: none !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mv_intel_card{
    display: flex;
    padding: .75rem 1.5rem;
    background-color: #F3F3F3;
    min-height: 4.5rem;
}
.mv_discover_more_heading h2{
    font-weight: 300;
}
.mv_discover_more_content{
    padding: 16px;
}
.mv_discover_more_item{
    padding-left: 15px;
    width: 58.33%;
}
.mv_discover_more_item h4{
    font-weight: 300;
}
.dk_issue{
    color: #0068b5;
}
.dk_issue:hover{
    color: #004a86;
}
/* ***************************** */

/******* Key Features **********/
.mv_only_padd{
    padding-top: 1rem;
    padding-bottom: 2rem;
}
/* ***************************** */




@media(max-width: 1440px){
    /* ****** */
    .mb_sub_nv{
        overflow-x: scroll !important;
    }
}

@media(max-width:991px){
    /* Agilex™ FPG */
    .mv_intel_data_image{
        display: none;
    }
    .mv_intel_data_respomsive_image img{
        display: block;
    }
    .mv_intel_data_respomsive_image img{
        width: 100%;
    }
}

@media(max-width:767px){
    /* comun css */
    .mv_coman_padd{
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }
    .mv_coman_btn{
        width: 100%;
        text-align: center;
    }
    /* Ordering table */
    .mv_product_table{
        overflow-x: scroll;
        display: inline-block;
    }
    /* Key Features */
    .mv_only_padd{
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

@media (min-width: 576px) {
    /* Model */
    .mv_industry_dialog{
        max-width: 100% !important;
        margin: 2.5rem 7rem !important;
    }
}