*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Intel Clear", sans-serif;
}
a{
    text-decoration: none !important;
}
p{
    line-height: 1.25;
}

.container{
    max-width: 1610px !important;
}
@media(max-width:1440px){
    .container{
        max-width: 1170px !important;
    }
}
@media(max-width:1199px){
    .container{
        max-width: 970px !important;
    }
}
@media(max-width:991px){
    .container{
        max-width: 750px !important;
    }
}
@media(max-width:768px){
    .container{
        max-width: 750px !important;
    }
}
@media(max-width:425px){
    .container{
        max-width: 390px !important;
    }
}

/*********** comun css ***********/
.b_special_a{
    color: white !important;
    text-decoration: none !important;
    border-bottom: 1px dashed white !important;
}
.b_special_a:hover {
    color: white !important;
    text-decoration: none !important;
    border-bottom: 1px solid white !important;
}
.b_special_a2 {
    color: #0068b5;
    text-decoration: none;
    border:none;
}
.b_special_a2:hover {
    border-bottom: 1px solid #0068b5 ;
}
.b_special_a1 {
    color:  #0068b5 ;
    text-decoration: none !important;
    border-bottom: 1px dashed #0068b5 ;
}
.b_special_a1:hover {
    text-decoration: none !important;
    border-bottom: 1px solid #0068b5 ;
}
.mv_special_3{
    color: #0068b5;
    border-bottom: 1px solid #0068b5 ;
}

.mv_coman_padd{
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.mv_coman_btn{
    color: #fff;
    background-color: #0068b5;
    padding: .625rem 1.5rem;
    display: inline-block !important;
}
.mv_coman_btn:hover{
    color: #fff;
    background-color: #005a9d;
}
/* ********************************** */

/*********** Agilex™ FPG **********/
.mv_intel_data_bg_color{
    padding: 40px 0px;
    background-color: #00285a;
}
.mv_intel_data_content{
    color: #fff;
}
.mv_intel_data_content h1{
    font-weight: 300;
    margin-bottom: 16px;
}
.mv_intel_data_content a{
    color: #fff;
    border-bottom: 1px dashed #fff;
}
.mv_intel_data_content a:hover{
    color: #fff;
    border-bottom: 1px solid #fff;
}
.mv_intel_data_image img{
    width: 100%;
    margin-bottom: 10px;
}
.mv_intel_data_respomsive_image img{
    display: none;
}
.mv_key_bg_color{
    background-color: #00285a;
}
.mv_nav_pills_key_features .mv_nav_link_key_features.active{
    font-weight: 600;
    background-color: #f7f7f7 !important;
    color: #252525 !important;
}
.mv_nav_pills_key_features .mv_nav_link_key_features{
    font-weight: 400;
    padding: .7rem 1rem;
    color: #fff !important;
    border-radius: 0rem !important;
}
/*********************************/

/******** Get Started *******/
.mv_get_it_btn{
    color: #fff;
    background-color: #0068b5;
    padding: .625rem 1.5rem;
    display: inline-block !important;
    text-align: center;
}
.mv_get_it_btn:hover{
    color: #fff;
    background-color: #005a9d;
}
/* ************************* */

/********** The Synergy **********/
.mv_wrapper_row_padd {
    --bs-gutter-x: 0rem !important;
}
.mv_wrapper {
    position: relative;
    height: 400px;
    overflow: hidden;
}
.mv_wrapper_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
    transition: transform .35s ease-in-out;
}
.mv_wrapper_bg_img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transition: transform .35s ease-in-out;
}
.mv_wrapper_bg_img_ai {
    background-image: url(/img/mv_image/ai-texture-abstract-16x9.jpg.rendition.intel.web.1072.603.jpg);
}
.mv_wrapper_bg_img_trust {
    background-image: url(/img/mv_image/adobestock-425652429.jpeg.rendition.intel.web.1072.603.jpg);
}
.mv_wrapper:hover .mv_wrapper_bg_img {
    transform: scale(1.2);
}
.mv_promo_block {
    position: relative;
    z-index: 1;
    text-align: center;
    color: #fff !important;
}
.mv_promo_text {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    text-align: center;
    transition: all .35s ease-in-out;
    padding: 3rem 20%;
}
.mv_promo_text h2 {
    margin-bottom: .5rem;
    font-size: 2.25rem;
    font-style: normal;
    line-height: 1.25;
    font-weight: 300;
}
.mv_promo_text p {
    line-height: 1.3rem;
}
.mv_promo_learn_more {
    cursor: pointer;
    border-bottom: 1px dashed #fff;
}
.mv_promo_learn_more:hover {
    border-bottom: 1px solid #fff;
}
/* ************************** */




@media(max-width:1199px){
    /* The Synergy  */
    .mv_promo_text{
        padding: 2.5rem .9375rem;
    }
}

@media(max-width:767px){
    /* comun css */
    .mv_coman_padd{
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }
    .mv_coman_btn{
        width: 100%;
        text-align: center;
    }
}